@charset "UTF-8"
@import ../../variables/views/chat.variables

//*******************************//
//            Variations
//*******************************//



//*******************************//
//              Main
//*******************************//

.ts.chat

//*******************************//
//             Event
//*******************************//

.ts.chat > .event
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-bottom: 1em
    background: nth($grey, 2)
    border-radius: 4px;
    padding: 1em;

//-------------------//
//       Link
//-------------------//

.ts.chat > a.event

//-------------------//
//       Icon
//-------------------//

.ts.chat > .event > .icon

.ts.chat > .event > .icon > i.icon
    margin: 0
    width: 2.8em;
    height: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 500em;

//-------------------//
//      Header
//-------------------//

.ts.chat > .event > .header
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .5em;
    color: nth($grey, 8)

//-------------------//
//    Description
//-------------------//

.ts.chat > .event > .description
    margin-top: .1em
    color: nth($grey, 8)

//-------------------//
//       Time
//-------------------//

.ts.chat > .event > .time
    color: nth($grey, 6)
    font-size: .9em;
    margin-top: .5em;
    margin-bottom: -.5em;
    width: 100%;
    text-align: right;

//*******************************//
//          Notification
//*******************************//

.ts.chat > .noticiation

//*******************************//
//            Divider
//*******************************//



//-------------------//
//     Secondary
//-------------------//

//*******************************//
//            Message
//*******************************//

.ts.chat > .message
    width         : min-content
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .4em;


//-------------------//
//       Avatar
//-------------------//

.ts.chat > .message > .avatar
    position: absolute
    top: 0
    left: 0

.ts.chat > .message > .avatar > img
    width: 2.5em
    height: 2.5em
    border-radius: 4px
    margin-right: .5em
    margin-bottom: .58em
    position: sticky;
    bottom: .5em;

//-------------------//
//      Content
//-------------------//

.ts.chat > .message > .content
    //border: 1px solid nth($grey, 4)
    width: max-content
    border-radius: 4px
    margin-left: 43px;
    padding: .58em .88em
    max-width: 450px;
    //flex: 1
    margin-bottom: .5em
    background: nth($grey, 2)

    //box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.06)

//-------------------//
//       Text
//-------------------//

.ts.chat > .message > .content > .text
    display: inline

//-------------------//
//       Author
//-------------------//

.ts.chat > .message > .content > .author
    font-weight: bold;


//-------------------//
//       Image
//-------------------//

.ts.chat > .message > .content > .image

.ts.chat > .message > .content > .image > img


//-------------------//
//        Icon
//-------------------//

.ts.chat > .message > .content > .icon

//-------------------//
//     Description
//-------------------//

.ts.chat > .message > .content > .description

//-------------------//
//       Reply
//-------------------//

.ts.chat > .message > .content > .reply
    border-left: 3px solid #d9d9d9;
    margin: .5em 0
    padding-left: .58em

.ts.chat > .message > .content > .reply > .author
    font-weight: bold

.ts.chat > .message > .content > .reply > .text

.ts.chat > .message > .content > .reply > .image

.ts.chat > .message > .content > .reply > .image > img

//-------------------//
//      Preview
//-------------------//

.ts.chat > .message > .content > .preview
    border-left: 3px solid nth($primary, 6);
    margin: .5em 0
    padding-left: .58em

.ts.chat > .message > .content > .preview > .name
    color: nth($primary, 6)
    font-weight: bold

.ts.chat > .message > .content > .preview > .title
    font-weight: bold

.ts.chat > .message > .content > .preview > .description
    line-height: 1.3;

.ts.chat > .message > .content > .preview > .image

.ts.chat > .message > .content > .preview > .image:first-child img
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 4px;
    margin: 0 0 10px 10px;
    object-fit: cover;

.ts.chat > .message > .content > .preview > .image:not(:first-child) img
    width: 100%;
    margin-top: .5em;
    border-radius: 4px;
    object-fit: cover;

//-------------------//
//        Meta
//-------------------//

.ts.chat > .message > .content > .preview + .meta
    margin-top: -.5em

.ts.chat > .message > .content > .meta
    font-size: .85714em;
    opacity: .6;
    display: flex;
    margin-bottom: -.4em;
    justify-content: flex-end;

.ts.chat > .message > .content > .meta > .item
    margin-right: .65em

.ts.chat > .message > .content > .meta > .item:last-child
    margin-right: 0


//-------------------//
//    Dotted Meta
//-------------------//

.ts.chat > .message > .content > .dotted.meta

.ts.chat > .message > .content > .dotted.meta > .item

//-------------------//
//      Indicator
//-------------------//

.ts.chat > .typing.message > .content:after
    font-family: 'Icons';
    content: '●●●';
    font-size: .8em;
    letter-spacing: 1px;
    background: linear-gradient(to right, #dedede 20%, #e0e0e0 40%, #f1f1f1 60%, #e2e2e2 80%);
    background-size: 200% auto;

    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s linear infinite;

    animation: shine 1s linear infinite;
    @keyframes shine
        to
            background-position: 200% center;



.ts.chat > .warning.message > .content > .meta > .item:last-child:after
    font-family: 'Icons'
    content: '\f071'
    margin-left: .6em

.ts.chat > .error.message > .content > .meta > .item:last-child:after
    font-family: 'Icons'
    content: '\f057'
    margin-left: .6em

.ts.chat > .sending.message > .content > .meta > .item:last-child:after
    font-family: 'Icons'
    content: '\f017'
    margin-left: .6em

.ts.chat > .sent.message > .content > .meta > .item:last-child:after
    font-family: 'Icons'
    content: '\f00c'
    margin-left: .6em

.ts.chat > .read.message > .content > .meta > .item:last-child:after
    font-family: 'Icons'
    content: '\f560'
    margin-left: .6em

//-------------------//
//      Reactions
//-------------------//

.ts.chat > .message > .reactions
    width: 100%;
    margin-bottom: .5em;
    margin-left: 3em
    max-width: 450px;

.ts.chat > .message > .reactions > .item
    display: inline-flex;
    padding: .2em .5em;
    font-size: .9em;
    border: 1px solid #eee;
    border-radius: 4px;

.ts.chat > .message > .reactions > .item > .reaction

.ts.chat > .message > .reactions > .item > .count
    margin-left: .5em;

.ts.chat > .message > .reactions > .item.active

.ts.chat > .message > .reactions > .item.disabled

//-------------------//
//      Actions
//-------------------//

//-------------------//
//     Callbacks
//-------------------//

.ts.chat > .message > .callbacks
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: .9em;
    margin-left: 3em
    max-width: 450px;


.ts.chat > .message > .callbacks > .row
    width: 100%;
    display: flex;


.ts.chat > .message > .callbacks > .row > .item,
.ts.chat > .message > .callbacks > .item
    background: nth($grey, 2);
    padding: .4em;
    width: 100%;

    flex: 1;
    border-radius: 4px;
    margin-right: .4em
    text-align: center;
    margin-bottom: .4em;

.ts.chat > .message > .callbacks > .row > .item:last-child,
.ts.chat > .message > .callbacks > .item:last-child
    margin-right: 0

//-------------------//
//  Callback Symbol
//-------------------//


//-------------------//
//    Right Message
//-------------------//

.ts.chat > .right.message
    margin-left: auto

.ts.chat > .right.message > .content
    background: nth($primary, 6)
    color: $white
    margin-left: 0
    margin-right: 3.5em

.ts.chat > .right.message > .avatar
    right: 0
    left: initial


//-------------------//
//       Sizes
//-------------------//

.ts.chat

//-------------------//
//       Group
//-------------------//

//-------------------//
//      Emphasis
//-------------------//



