@import "./switcher.variables.css";

/* ==========================================================================
   Base
   ========================================================================== */

.ts.switcher {
   background   : rgb(var(--ts-switcher_background-color));
   border-radius: var(--ts-switcher_border-radius);
   display      : flex;
   padding      : var(--ts-switcher_padding);
   line-height  : var(--ts-switcher_line-height);
   font-size    : var(--ts-switcher_font-size);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Item
 */

.ts.switcher .item {
   flex           : 1;
   border-radius  : var(--ts-switcher_border-radius);
   margin-right   : var(--ts-switcher_distance-item);
   text-decoration: none;
   text-align     : center;
   color          : rgb(var(--ts-switcher_color));
   padding        : var(--ts-switcher_item-padding);
   white-space    : nowrap;
}

.ts.switcher .item:hover {
   color: rgb(var(--ts-switcher_hover-color));
}

.ts.switcher .item:last-child {
   margin-right: 0;
}

/* ==========================================================================
   Density
   ========================================================================== */

.ts.switcher[data-density="relaxed"] {
   --ts-switcher_line-height: 2;

}

.ts.switcher[data-density="compact"] {
   --ts-switcher_line-height: 1.5;
}

/* ==========================================================================
   States
   ========================================================================== */

/**
 * Disabled
 */

.ts.switcher .item.-disabled {
   pointer-events: none;
   opacity       : var(--ts-switcher_disabled-opacity);
   color         : rgb(var(--ts-switcher_color));
}

/**
 * Active
 */

.ts.switcher .item.-active {
   font-weight: 500;
   color      : rgb(var(--ts-switcher_active-color));
   background : rgb(var(--ts-switcher_active-background-color));
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Secondary
 */

.ts.switcher.-secondary {
   border: 1px solid rgb(var(--ts-switcher_secondary-border-color));

   --ts-switcher_background-color       : var(--ts-switcher_secondary-background-color);
   --ts-switcher_color                  : var(--ts-switcher_secondary-color);
   --ts-switcher_active-background-color: var(--ts-switcher_secondary-active-background-color);
   --ts-switcher_active-color           : var(--ts-switcher_secondary-active-color);
   --ts-switcher_hover-color            : var(--ts-switcher_secondary-hover-color);
   --ts-switcher_divider-color          : var(--ts-switcher_secondary-divider-color);
}

/**
 * Divided
 */

.ts.switcher.-divided .item:not(.-active):not(:last-child) {
   border-right              : 1px solid rgb(var(--ts-switcher_divider-color));
   border-top-right-radius   : 0;
   border-bottom-right-radius: 0;
}

/**
 * Compact
 */

.ts.switcher.-compact {
   width: fit-content;
}

/**
 * Circular
 */

.ts.switcher.-circular {
   --ts-switcher_border-radius: var(--ts-switcher_border-radius-circular);
}

/**
 * Sizes
 */