@import ../master/src/tocas.sass

//**************************************
//************   M A I N   *************
//**************************************

.ts.button.sakura
  +button-theme(#FFB7C5, #7F5961)

.ts.fluid.container

  &:first-child
    padding: 35px 0 20vh 0
    background: linear-gradient(4deg, #00e6ff, #005778)
    
    nav
      margin-bottom: 15vh

    .header
      font-size: 86px
      line-height: 1
      
      +rwd-serious(mobile)
        font-size: 64px

      .label
        vertical-align: top

      .sub.header
        font-size: .3em
        margin-top: 1em
        line-height: 1



#footer
  background: #45484b
  padding   : 20px 10px 30px 10px
  margin: 0




//**************************************
//*********   F A   I C O N   **********
//**************************************

.fa
  margin-right: 6px
  
  .icon.menu &,
  .button    &,
  .header    &
    margin-right: 0px
    
    


//**************************************
//*******   H I G H L I G H T   ********
//**************************************

.hljs
  background : none    !important
  color      : #005D56 !important
  line-height: 19px    !important
  padding    : 24px
  font-size  : 14px
  overflow-x : scroll
  


  .hljs-variable, 
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name, 
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion
    color: #8E8E8E
  
  .hljs-string, 
  .hljs-symbol, 
  .hljs-bullet, 
  .hljs-addition
    color: #0683A3
  
  .hljs-important-class
    background-color: #52C6CA
    padding         : 1px 3px
    border-radius   : 4px
    color: #FFF !important
    
    *
      color: #FFF !important

  *
    font-weight: normal
    font-family: 'Ubuntu Mono'

pre.ts.segment
  margin-top   : 0px
  margin-bottom: 70px
  word-spacing: 4px
  
  & ~ .preview
    margin-top: -62px




//**************************************
//********   D O C U M E N T   *********
//**************************************

.labelside ul
  list-style  : none
  padding-left: 0
  padding-right: 1em

.labelside::after
  content: ''
  position: absolute
  top: 1em
  right: 1em
  bottom: 0
  left: 0
  border-right: 1px solid rgba(#000, 0.1)
  pointer-events: none


.left

  &.ul
    font-size    : 14px
    margin-bottom: 30px
  
    a
      display        : block
      padding        : 15px
      margin-left    : -15px
      border-radius  : 4px
      text-decoration: none
      color          : #5B7691
  
      &:hover
        background: #F8F8F8
        color     : #7291B0

@at-root
  [class*="left label"]
    display: block
    margin: 15px 15px 15px 0px
    font-size: 18px
    font-weight: 500
    color: #005F5F
    border-bottom: 1px dashed #B3FFFF
    padding-bottom: 7px




//**************************************
//*********   G E N E R A L   **********
//**************************************

.group >,
.headerGroup >

  h1
    color: #005656 !important
    
  h2
    color: #005F5F !important
  
  h3
    color: #007878 !important
  
  h4
    color: #019E9E !important




//**************************************
//*******   G R I D   D E M O   ********
//**************************************

.preview
  .ts.grid:not(.three)
    
    .grid:before
      border-width: 2px
  
    &:before
      +absolute
      +position($columnPadding, $columnPadding, $columnPadding, $columnPadding)
      +z(1)
      
      content: ''
      border: 1px solid #929292
    
    &.relaxed:before
      +position(x, $columnRelaxedPadding, x, $columnRelaxedPadding)
    
    
    
    .row
      &:before
        +absolute
        +position($columnPadding, $columnPadding, $columnPadding, $columnPadding)
        +z(1)
        
        content: ''
        border: 2px solid #808080
    
    .column:not(.row):not(.grid)
      +flex
      +flex-content-center
      +flex-column
      
      
      height: 5em
      
      background: #E2E2E2
      color: #909090
      background-clip: content-box
      
    &.two
      > .column:not(.row):not(.grid):first-child
        height: 5em
        background: transparent
        background-clip: content-box

  
body >
  
  .ts.jumbotron
    padding-left: 0
    padding-right: 0
  
    nav.menu
      margin: -1.5em -1.84rem 2em -1.84rem !important
  
  .ts.container
    color: #007878
    
  .ts.elements.container
  
    h2.header,
    h4.header
      color: #3587A5
      
  .ts.demo.container
    background-color: #eee
    
    h1.header
      color: #888
      
  .ts.main.container
    color: #9E9E9E
    
    h3.header
      color: #888
  
  .ts.people.container
    background-color: #FEFFEC
    
    .ts.header
      color: #7F8076
      margin-top: .6em
    
    blockquote
      +border-box
      
      width: calc(100% - 2em)
      margin: 0
      text-align: left
      padding: 1em
      margin-bottom: 4em
      display: inline-block
      font-size: 15px
      color: #7F8076
      border: 3px solid #F7F7E6
      
      position: relative
      background: #F7F7E6
      border-radius: 5px
      
      
      &:after 
        content: ""
        position: absolute
        top: -10px
        left: 100px
        border-style: solid
        border-width: 0 15px 10px
        border-color: #F7F7E6 transparent
        display: block
        width: 0
        z-index: 1
    
    .bordered.image
      border: 5px solid rgb(241, 241, 223)
