@import ../../src/tocas.sass

.ts.button.sakura
  +button-theme(#FFB7C5, #7F5961)

#jungle
  min-height: 300px
  background: linear-gradient(4deg, #00e6ff, #005778)
  position: relative
  overflow: hidden


#title
  text-align: center

  padding-top: 60px
  padding-bottom: 160px

  .header
    font-weight: 500
    font-size: 78px
  
    .sub.header
      font-weight: 400
      font-size: 28px

 
#footer
  background: linear-gradient(270deg, #1b1c1d, #45484b)