*,
* *
    --foregroundTone1: #BDBDBD
    --foregroundTone2: #ACACAC
    --foregroundTone3: #979797
    --foregroundTone4: #7D7D7D
    --foregroundTone5: #5C5C5C
    --foregroundTone6: #333333
    --foregroundTone7: #303030
    --foregroundTone8: #2E2E2E
    --foregroundTone9: #2C2C2C
    --foregroundTone10: #2A2A2A
    --foregroundTone11: #282828
    --foregroundTone12: #262626
    --backgroundTone1: White
    --backgroundTone2: White
    --backgroundTone3: White
    --backgroundTone4: White
    --backgroundTone5: White
    --backgroundTone6: White
    --backgroundTone7: #F2F2F2
    --backgroundTone8: #E6E6E6
    --backgroundTone9: #DBDBDB
    --backgroundTone10: #D0D0D0
    --backgroundTone11: #C6C6C6
    --backgroundTone12: #BCBCBC

    --standaloneTextColor               : var(--foregroundTone6)

    --typographyTextColor               : var(--foregroundTone6)
    --typographyHeaderTextColor         : var(--foregroundTone8)
    --typographyDescriptionTextColor    : var(--foregroundTone5)
    --typographyLinkTextColor           : #036AC7
    --typographyLinkHoveredTextColor    : #024E92
    --typographyLinkPressedTextColor    : #03315C
    --typographyDisabledTextColor       : var(--foregroundTone4)
    --typographyDisabledBackgroundColor : var(--backgroundTone4)
    --typographyDisabledBorderColor     : var(--backgroundTone6)
    --typographyBackgroundColor         : var(--backgroundTone6)
    --typographyHoveredBackgroundColor  : var(--backgroundTone7)
    --typographyPressedBackgroundColor  : var(--backgroundTone8)
    --typographySecondaryBackgroundColor: var(--backgroundTone7)
    --typographyTertiaryBackgroundColor : var(--backgroundTone8)
    --emphasizedTextColor               : var(--foregroundTone6)
    --emphasizedHoveredTextColor        : var(--foregroundTone6)
    --emphasizedPressedTextColor        : var(--foregroundTone6)
    --emphasizedLinkTextColor           : var(--typographyLinkTextColor)
    --emphasizedBackgroundColor         : var(--backgroundTone7)
    --emphasizedDisabledTextColor       : var(--foregroundTone4)
    --emphasizedDisabledBackgroundColor : var(--backgroundTone7)
    --emphasizedHoveredBackgroundColor  : var(--backgroundTone8)
    --emphasizedPressedBackgroundColor  : var(--backgroundTone9)
    --outlinedTextColor                 : var(--foregroundTone6)
    --outlinedBorderColor               : var(--backgroundTone7)
    --borderColor                       : var(--backgroundTone7)
    --indicatedBorderColor              : var(--backgroundTone9)
    --indicatedSideBorderColor          : var(--borderColor)

    --loaderFillColor                   : #{rgba(200, 200, 200, 0.45)}
    --loaderLineColor                   : #999

*.-primary.-primary.-primary,
*.-primary *
    --foregroundTone1: White
    --foregroundTone2: White
    --foregroundTone3: White
    --foregroundTone4: White
    --foregroundTone5: White
    --foregroundTone6: White
    --foregroundTone7: #F2F2F2
    --foregroundTone8: #E6E6E6
    --foregroundTone9: #DBDBDB
    --foregroundTone10: #D0D0D0
    --foregroundTone11: #C6C6C6
    --foregroundTone12: #BCBCBC
    --backgroundTone1: #BDD9F9
    --backgroundTone2: #ACD0F8
    --backgroundTone3: #97C4F6
    --backgroundTone4: #7DB5F4
    --backgroundTone5: #5DA3F1
    --backgroundTone6: #348CEE
    --backgroundTone7: #3185E2
    --backgroundTone8: #2F7ED7
    --backgroundTone9: #2D78CC
    --backgroundTone10: #2B72C2
    --backgroundTone11: #296CB8
    --backgroundTone12: #2767AF

*.-warning.-warning.-warning,
*.-warning *
    --foregroundTone1: #ACACAC
    --foregroundTone2: #979797
    --foregroundTone3: #7D7D7D
    --foregroundTone4: #5C5C5C
    --foregroundTone5: #333333
    --foregroundTone6: Black
    --foregroundTone7: Black
    --foregroundTone8: Black
    --foregroundTone9: Black
    --foregroundTone10: Black
    --foregroundTone11: Black
    --foregroundTone12: Black
    --backgroundTone1: #F9FBC7
    --backgroundTone2: #F8FAB9
    --backgroundTone3: #F6F9A7
    --backgroundTone4: #F4F791
    --backgroundTone5: #F1F575
    --backgroundTone6: #EEF353
    --backgroundTone7: #E2E74F
    --backgroundTone8: #D7DB4B
    --backgroundTone9: #CCD047
    --backgroundTone10: #C2C643
    --backgroundTone11: #B8BC40
    --backgroundTone12: #AFB33D

*.-negative.-negative.-negative,
*.-negative *
    --foregroundTone1: White
    --foregroundTone2: White
    --foregroundTone3: White
    --foregroundTone4: White
    --foregroundTone5: White
    --foregroundTone6: White
    --foregroundTone7: #F2F2F2
    --foregroundTone8: #E6E6E6
    --foregroundTone9: #DBDBDB
    --foregroundTone10: #D0D0D0
    --foregroundTone11: #C6C6C6
    --foregroundTone12: #BCBCBC
    --backgroundTone1: #F8C1CC
    --backgroundTone2: #F6B1BF
    --backgroundTone3: #F49EAF
    --backgroundTone4: #F1869B
    --backgroundTone5: #ED6882
    --backgroundTone6: #E84263
    --backgroundTone7: #DC3F5E
    --backgroundTone8: #D13C59
    --backgroundTone9: #C73955
    --backgroundTone10: #BD3651
    --backgroundTone11: #B4334D
    --backgroundTone12: #AB3049

*.-positive.-positive.-positive,
*.-positive *
    --foregroundTone1: White
    --foregroundTone2: White
    --foregroundTone3: White
    --foregroundTone4: White
    --foregroundTone5: White
    --foregroundTone6: White
    --foregroundTone7: #F2F2F2
    --foregroundTone8: #E6E6E6
    --foregroundTone9: #DBDBDB
    --foregroundTone10: #D0D0D0
    --foregroundTone11: #C6C6C6
    --foregroundTone12: #BCBCBC
    --backgroundTone1: #C3EDD1
    --backgroundTone2: #B4E8C6
    --backgroundTone3: #A1E2B8
    --backgroundTone4: #8ADBA6
    --backgroundTone5: #6DD290
    --backgroundTone6: #48C774
    --backgroundTone7: #44BD6E
    --backgroundTone8: #41B469
    --backgroundTone9: #3EAB64
    --backgroundTone10: #3BA25F
    --backgroundTone11: #389A5A
    --backgroundTone12: #359256

*.-primary.-primary.-primary,
*.-primary *,
*.-warning.-warning.-warning,
*.-warning *,
*.-positive.-positive.-positive,
*.-positive *,
*.-negative.-negative.-negative,
*.-negative *
    --standaloneTextColor               : var(--backgroundTone6)

    --typographyTextColor               : var(--foregroundTone6)
    --typographyHeaderTextColor         : var(--foregroundTone8)
    --typographyDescriptionTextColor    : var(--foregroundTone5)
    --typographyLinkTextColor           : #036AC7
    --typographyLinkHoveredTextColor    : #024E92
    --typographyLinkPressedTextColor    : #03315C
    --typographyDisabledTextColor       : var(--foregroundTone4)
    --typographyDisabledBackgroundColor : var(--backgroundTone4)
    --typographyDisabledBorderColor     : var(--backgroundTone6)
    --typographyBackgroundColor         : var(--backgroundTone6)
    --typographyHoveredBackgroundColor  : var(--backgroundTone7)
    --typographyPressedBackgroundColor  : var(--backgroundTone8)
    --typographySecondaryBackgroundColor: var(--backgroundTone7)
    --typographyTertiaryBackgroundColor : var(--backgroundTone8)
    --emphasizedTextColor               : var(--foregroundTone6)
    --emphasizedHoveredTextColor        : var(--foregroundTone6)
    --emphasizedPressedTextColor        : var(--foregroundTone6)
    --emphasizedLinkTextColor           : var(--typographyLinkTextColor)
    --emphasizedBackgroundColor         : var(--backgroundTone6)
    --emphasizedDisabledTextColor       : var(--foregroundTone3)
    --emphasizedDisabledBackgroundColor : var(--backgroundTone3)
    --emphasizedHoveredBackgroundColor  : var(--backgroundTone8)
    --emphasizedPressedBackgroundColor  : var(--backgroundTone9)
    --outlinedTextColor                 : var(--backgroundTone6)
    --outlinedBorderColor               : var(--backgroundTone6)
    --borderColor                       : var(--backgroundTone7)
    --indicatedBorderColor              : var(--backgroundTone9)
    --indicatedSideBorderColor          : var(--borderColor)

    --loaderFillColor                   : #{rgba(200, 200, 200, 0.45)}
    --loaderLineColor                   : #FFF