//-------------------//
//       Extend
//-------------------//

=extend($name, $silent: true)
    @if $silent == true
        @extend %#{$name} !optional
    @else
        @extend .#{$name} !optional

//-------------------//
//        Size
//-------------------//

=relative-size($size)
    @if $size == mini
        font-size: var(--relativeMini)
    @else if $size == tiny
        font-size: var(--relativeTiny)
    @else if $size == small
        font-size: var(--relativeSmall)
    @else if $size == medium
        font-size: var(--relativeMedium)
    @else if $size == large
        font-size: var(--relativeLarge)
    @else if $size == big
        font-size: var(--relativeBig)
    @else if $size == huge
        font-size: var(--relativeHuge)
    @else if $size == massive
        font-size: var(--relativeMassive)

=absolute-size($size)
    @if $size == mini
        font-size: var(--absoluteMini)
    @else if $size == tiny
        font-size: var(--absoluteTiny)
    @else if $size == small
        font-size: var(--absoluteSmall)
    @else if $size == medium
        font-size: var(--absoluteMedium)
    @else if $size == large
        font-size: var(--absoluteLarge)
    @else if $size == big
        font-size: var(--absoluteBig)
    @else if $size == huge
        font-size: var(--absoluteHuge)
    @else if $size == massive
        font-size: var(--absoluteMassive)

//-------------------//
//        Icon
//-------------------//

%icon
    font-family: 'Icons'
    font-weight: normal
    font-style : normal
    display: inline-block
    text-decoration: inherit
    text-align: center
    width: 1.18em
    //height: 1em
    -webkit-font-smoothing: antialiased
    backface-visibility: hidden
    speak: none

//-------------------//
//      Attached
//-------------------//

%top-attached
    margin-bottom             : 0
    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

%attached
    margin-top   : 0
    margin-bottom: 0
    border-radius: 0
    border-top   : 0

%bottom-attached
    border-top             : 0
    margin-top             : 0
    border-top-left-radius : 0
    border-top-right-radius: 0

//-------------------//
//        Link
//-------------------//

%link
    color          : var(--linkTextColor)
    text-decoration: none
    &:hover
        color          : var(--linkHoverTextColor)
        text-decoration: underline
    &:active
        color          : var(--linkPressedTextColor)
        text-decoration: underline

//-------------------//
//        Box
//-------------------//

%box
    padding      : var(--absoluteLargeGap)
    margin       : var(--absoluteMediumGap) 0
    border       : 1px solid var(--borderColor)
    word-wrap    : break-word
    border-radius: var(--defaultBorderRadius)

//-------------------//
//       Raised
//-------------------//

%raised
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1)

//-------------------//
//     Block Gap
//-------------------//

%block-gap
    &:not(:first-child)
        margin-top: var(--absoluteLargeGap)

//-------------------//
//        Dot
//-------------------//

@font-face
    font-family: 'Tocas-Lato'
    src        : url('fonts/LatoLatin-Regular.eot')
    src        : url('fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/LatoLatin-Regular.woff2') format('woff2'), url('fonts/LatoLatin-Regular.woff') format('woff'), url('fonts/LatoLatin-Regular.ttf') format('truetype')
    font-style    : normal
    font-weight   : normal
    text-rendering: optimizeLegibility

%middoted
    font-family: Tocas-Lato, Arial, sans-serif
    font-weight: 400
    line-height: 1
    content    : '·'

%bulleted
    font-family: Tocas-Lato, Arial, sans-serif
    font-weight: 400
    line-height: 1
    content    : '•'