:root
    --fontSize: 16px

    //-------------------//
    //       Colors
    //-------------------//

    // --defaultTextColor           : #333
    // --defaultSecondaryTextColor  : #777
    // --defaultBorderColor         : #E9E9E9
    // --defaultActiveTextColor     : #222
    // --defaultHeaderTextColor     : #222
    // --defaultDisabledTextColor   : #B9B9B9
    // --defaultDividerColor        : #E9E9E9
    // --defaultBackgroundColor     : white
    // --defaultLinkTextColor       : #036AC7
    // --defaultLinkHoverTextColor  : #024E92
    // --defaultLinkPressedTextColor: #03315C

    //-------------------//
    //
    //-------------------//

    --defaultBorderRadius        : .25rem
    --defaultCircularBorderRadius: 500rem

    //-------------------//
    //        Gap
    //-------------------//

    //--tinyGap  :
    //--smallGap :
    //--mediumGap:
    //--largeGap :
    //
    //--realtiveTinyGap  :
    //--realtiveSmallGap :
    //--realtiveMediumGap:
    //--realtiveLargeGap :
    --absoluteMiniGap  : .2rem
    --absoluteTinyGap  : .4rem
    --absoluteSmallGap : .6rem
    --absoluteMediumGap: .8rem
    --absoluteLargeGap : 1rem
    --absoluteBigGap : 1.4rem
    --absoluteHugeGap : 1.6rem
    --absoluteMassiveGap : 1.8rem

    //-------------------//
    //       Sizes
    //-------------------//

    --mini   : .75
    --tiny   : .8125
    --small  : .875
    --medium : 1
    --large  : 1.125
    --big    : 1.25
    --huge   : 1.5
    --massive: 1.625

    --absoluteMini   : calc(var(--mini)    * 1rem)
    --absoluteTiny   : calc(var(--tiny)    * 1rem)
    --absoluteSmall  : calc(var(--small)   * 1rem)
    --absoluteMedium : calc(var(--medium)  * 1rem)
    --absoluteLarge  : calc(var(--large)   * 1rem)
    --absoluteBig    : calc(var(--big)     * 1rem)
    --absoluteHuge   : calc(var(--huge)    * 1rem)
    --absoluteMassive: calc(var(--massive) * 1rem)

    --relativeMini   : calc(var(--mini)    * 1em)
    --relativeTiny   : calc(var(--tiny)    * 1em)
    --relativeSmall  : calc(var(--small)   * 1em)
    --relativeMedium : calc(var(--medium)  * 1em)
    --relativeLarge  : calc(var(--large)   * 1em)
    --relativeBig    : calc(var(--big)     * 1em)
    --relativeHuge   : calc(var(--huge)    * 1em)
    --relativeMassive: calc(var(--massive) * 1em)

//-------------------//
//
//-------------------//

$linkTextColor     : #036AC7
$linkHoverTextColor: #024E92
$linkPressTextColor: #03315C

//-------------------//
//
//-------------------//

$breakpointMinimal : 768px
$breakpointCompact : 992px
//$breakpointStandard:
$breakpointMaximal : 1200px

$breakpoints: (('minimal', $breakpointMinimal), ('compact', $breakpointCompact), ('maximal', $breakpointMaximal))


