/* ==========================================================================
   Variables
   ========================================================================== */

.ts-app-drawer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 50%);
    display: none;
    overflow-y: auto;
    z-index: 102;
}

/* ==========================================================================
   Base
   ========================================================================== */

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-drawer > .content {
    background: var(--ts-gray-50);
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    width: 380px;
    overflow: hidden;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Visible
 */

.ts-app-drawer.is-visible {
    display: flex;
}

/**
 * Positions
 */

.ts-app-drawer.is-bottom {
    align-items: flex-end;
    justify-content: center;
}

.ts-app-drawer.is-bottom .content {
    width: 100%;
}

.ts-app-drawer.is-right {
    justify-content: flex-end;
}

.ts-app-drawer.is-left {
    justify-content: flex-start;
}

/**
 * Sizes
 */

.ts-app-drawer.is-small > .content {
    width: 280px;
}

.ts-app-drawer.is-large > .content {
    width: 580px;
}
