/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-checklist {
    margin-right: 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-checklist .item {
    color: var(--ts-gray-800);
    text-decoration: none;
    padding-left: 28px;
}

.ts-checklist .item::before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    font-size: var(--ts-font-size-12px);
    border-radius: 100rem;
    line-height: 1;
    height: 20px;
    width: 20px;
    padding: 0.25rem;
    display: inline-block;
    transform: scale(0.9);
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 3px;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Positive
 */

.ts-checklist .item.is-positive::before {
    content: "\f00c";
    background: var(--ts-tonal-positive-400);
    color: var(--ts-tonal-positive-800);
}

/**
 * Negative
 */

.ts-checklist .item.is-negative::before {
    content: "\f00d";
    background: var(--ts-tonal-negative-400);
    color: var(--ts-tonal-negative-800);
}

/**
 * Added
 */

.ts-checklist .item.is-added::before {
    content: "\f067";
    background: var(--ts-tonal-positive-400);
    color: var(--ts-tonal-positive-800);
}

/**
 * Removed
 */

.ts-checklist .item.is-removed::before {
    content: "\f068";
    background: var(--ts-tonal-negative-400);
    color: var(--ts-tonal-negative-800);
}

/**
 * Info
 */

.ts-checklist .item.is-info::before {
    content: "\f129";
    background: var(--ts-tonal-primary-400);
    color: var(--ts-tonal-primary-800);
}

/**
 * Info
 */

.ts-checklist .item.is-warning::before {
    content: "\21";
    background: var(--ts-tonal-warning-400);
    color: var(--ts-tonal-warning-800);
}
