/* ==========================================================================
   Variables
   ========================================================================== */

.ts-close {
    --accent-color: initial;
    --accent-foreground-color: initial;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-close {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    appearance: none;
    -webkit-appearance: none;
}

.ts-close {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    cursor: pointer;

    cursor: pointer;
    height: 18px;
    width: 18px;
    font-size: var(--ts-font-size-12px);
    line-height: 1;
    background: var(--accent-color, var(--ts-gray-600));
    color: var(--accent-foreground-color, var(--ts-gray-100));
    border-radius: 100rem;
}

.ts-close::before {
    content: "\f00d";
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Secondary
 */

.ts-close.is-secondary {
    background: var(--ts-gray-300);
    color: var(--ts-gray-800);
}

/**
 * Tertiary
 */

.ts-close.is-tertiary {
    background: var(--ts-gray-300);
    color: var(--ts-gray-50);
}

/**
 * Rounded
 */

.ts-close.is-rounded {
    border-radius: 0.4rem;
}

/**
 * Sizes
 */

.ts-close.is-small {
    height: 16px;
    width: 16px;
}

.ts-close.is-large {
    height: 22px;
    width: 22px;
    font-size: var(--ts-font-size-14px);
}

.ts-close.is-big {
    height: 27px;
    width: 27px;
    font-size: var(--ts-font-size-17px);
}

/**
 * Spaced
 */

.ts-close.is-spaced {
    margin-left: 0.45rem;
    margin-right: 0.45rem;
}
.ts-close.is-start-spaced {
    margin-left: 0.45rem;
}
.ts-close.is-end-spaced {
    margin-right: 0.45rem;
}
