/* ==========================================================================
   Variables
   ========================================================================== */

.ts-container {
    --ts-container-gap: 1rem;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-container {
    margin: 0 auto;
    padding: 0 var(--ts-container-gap);
    max-width: 1180px;
    width: 100%;
    color: inherit;
    box-sizing: border-box;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Fluid
 */

.ts-container.is-padded {
    --ts-container-gap: 2rem;
}
.ts-container.is-fitted {
    --ts-container-gap: 0;
}

/**
 * Narrow
 */

.ts-container.is-narrow {
    max-width: 910px;
}
.ts-container.is-very-narrow {
    max-width: 720px;
}

/**
 * Fluid
 */

.ts-container.is-fluid {
    max-width: 100%;
}
