/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-stash {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--ts-stash-offset, 5px));
    visibility: hidden;
    pointer-events: none;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}