@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: "Open Sans", "Noto Sans TC", "Meiryo", "微軟正黑體", "Microsoft JhengHei"; }

.ts.button.disabled,
.ts.button.disabled:hover,
.ts.buttons.disabled .button,
.ts.buttons.disabled .button:hover {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html {
  font-size: 14px; }

/* ----------------------------------------------------------------------------------------------------
 *Super Form Reset
 *A couple of things to watch out for:
 *- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
 *- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
 *- You NEED to set the font-size and family on all form elements
 *- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
 *- You can style the upload button in webkit using ::-webkit-file-upload-button
 *- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
 *- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
 *- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
 *---------------------------------------------------------------------------------------------------- */
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px; }

/* Remove the stupid outer glow in Webkit */
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 0; }

/* Box Sizing Reset
 *----------------------------------------------- */
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
 *----------------------------------------------- */
/* Button Controls
 *----------------------------------------------- */
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
 *----------------------------------------------- */
/* Search Input
 *----------------------------------------------- */
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
 *----------------------------------------------- */
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
 *----------------------------------------------- */
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
 *----------------------------------------------- */
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS. */
/* Document
 * ========================================================================== */
html {
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated). */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-. */
article, aside, footer, header, nav, section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE. */
figcaption, figure, main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8. */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }
  a:active, a:hover {
    outline-width: 0; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated). */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-. */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-. */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-. */
audio, video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-. */
img {
  border-style: none; }

/**
 * Hide the overflow in IE. */
svg:not(:root) {
  overflow: hidden; }

/* Forms
 * ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule. */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated). */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE. */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X. */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
 * ========================================================================== */
/* Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox. */
details, menu {
  display: block; }

/* Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-. */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE. */
template, [hidden] {
  display: none; }

/* Hidden
 * ========================================================================== */
/**
 * Add the correct display in IE 10-. */
@media (min-width: 768px) {
  [class*="mobile only"] {
    display: none; } }
@media (min-width: 992px) {
  [class*="mobile only"] {
    display: none; } }
@media (min-width: 1200px) {
  [class*="mobile only"] {
    display: none; } }

@media (min-width: 992px) {
  [class*="mobile or tablet only"] {
    display: none; } }
@media (min-width: 1200px) {
  [class*="mobile or tablet only"] {
    display: none; } }

@media (max-width: 767px) {
  [class*="tablet only"]:not([class*="mobile or"]) {
    display: none; } }
@media (min-width: 992px) {
  [class*="tablet only"]:not([class*="mobile or"]) {
    display: none; } }
@media (min-width: 1200px) {
  [class*="tablet only"]:not([class*="mobile or"]) {
    display: none; } }

@media (max-width: 767px) {
  [class*="computer only"] {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  [class*="computer only"] {
    display: none; } }
@media (min-width: 1200px) {
  [class*="computer only"] {
    display: none; } }

@media (max-width: 767px) {
  [class*="tablet or large device only"] {
    display: none; } }

@media (max-width: 767px) {
  [class*="large device only"]:not([class*="tablet or"]) {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  [class*="large device only"]:not([class*="tablet or"]) {
    display: none; } }

@media (max-width: 767px) {
  [class*="large screen only"] {
    display: none; } }
@media (min-width: 768px) {
  [class*="large screen only"] {
    display: none; } }
@media (min-width: 992px) {
  [class*="large screen only"] {
    display: none; } }

.ts.button {
  cursor: pointer;
  padding: 0.78571em 1.5em;
  border-radius: 0.28571rem;
  font-size: 1em;
  font-weight: 700;
  border-color: #eeeeee;
  background-color: #F1F1F1;
  color: #7B7B7B; }
  .ts.button:hover {
    background-color: #e4e4e4;
    color: #888888; }
  .ts.button:active {
    background-color: #bebebe;
    color: #626262; }

.ts.button[class*='top attached'],
.ts.buttons[class*='top attached'] .button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.ts.button[class*='bottom attached'],
.ts.buttons[class*='bottom attached'] .button {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.ts.button.circular,
.ts.buttons.circular .button {
  border-radius: 10em; }

.ts.button.disabled,
.ts.button.disabled:hover,
.ts.buttons.disabled .button,
.ts.buttons.disabled .button:hover {
  opacity: 0.45 !important;
  cursor: not-allowed !important;
  pointer-events: none !important; }

.ts.button[class*="left floated"],
.ts.buttons[class*="left floated"] {
  float: left; }

.ts.button[class*="right floated"],
.ts.buttons[class*="right floated"] {
  float: right; }

.ts.button.fluid,
.ts.buttons.fluid,
.ts.buttons.fluid .button {
  width: 100%; }

.ts.button.compact,
.ts.buttons.compact .button {
  padding: calc(0.78571em   * 0.75) calc(1.5em * 0.75); }

.ts.button.mini,
.ts.buttons.mini .button {
  font-size: 0.78571em; }

.ts.button.tiny,
.ts.buttons.tiny .button {
  font-size: 0.85714em; }

.ts.button.small,
.ts.buttons.small .button {
  font-size: 0.92857em; }

.ts.button.medium,
.ts.buttons.medium .button {
  font-size: 1em; }

.ts.button.large,
.ts.buttons.large .button {
  font-size: 1.14286em; }

.ts.button.big,
.ts.buttons.big .button {
  font-size: 1.28571em; }

.ts.button.huge,
.ts.buttons.huge .button {
  font-size: 1.42857em; }

.ts.button.massive,
.ts.buttons.massive .button {
  font-size: 1.71429em; }

.ts.button.icon,
.ts.buttons.icon .button {
  padding: 0.78571em 0.78571em; }

.ts.button.inverted,
.ts.buttons.inverted .button,
.ts.button.secondary,
.ts.buttons.secondary .button {
  border-color: #fcfcfc;
  background-color: #34495E;
  color: #FFF; }
  .ts.button.inverted:hover,
  .ts.buttons.inverted .button:hover,
  .ts.button.secondary:hover,
  .ts.buttons.secondary .button:hover {
    background-color: #2b3c4e;
    color: white; }
  .ts.button.inverted:active,
  .ts.buttons.inverted .button:active,
  .ts.button.secondary:active,
  .ts.buttons.secondary .button:active {
    background-color: #10161c;
    color: #e6e6e6; }

.ts.button.primary,
.ts.buttons.primary .button {
  border-color: #1ab9f1;
  background-color: #1FBAF1;
  color: #f7fdff; }
  .ts.button.primary:hover,
  .ts.buttons.primary .button:hover {
    background-color: #0fafe8;
    color: white; }
  .ts.button.primary:active,
  .ts.buttons.primary .button:active {
    background-color: #0a79a0;
    color: #c7eefc; }

.ts.button.info,
.ts.buttons.info .button {
  border-color: #76a6b7;
  background-color: #79A8B9;
  color: white; }
  .ts.button.info:hover,
  .ts.buttons.info .button:hover {
    background-color: #689db0;
    color: white; }
  .ts.button.info:active,
  .ts.buttons.info .button:active {
    background-color: #467586;
    color: #dee9ee; }

.ts.button.warning,
.ts.buttons.warning .button {
  border-color: #f5d45d;
  background-color: #F5D562;
  color: #8c7009; }
  .ts.button.warning:hover,
  .ts.buttons.warning .button:hover {
    background-color: #f3cf4a;
    color: #a4830a; }
  .ts.button.warning:active,
  .ts.buttons.warning .button:active {
    background-color: #e3b40e;
    color: #5c4a06; }

.ts.button.negative,
.ts.buttons.negative .button {
  border-color: #cd5b54;
  background-color: #CE5F58;
  color: #fcf6f6; }
  .ts.button.negative:hover,
  .ts.buttons.negative .button:hover {
    background-color: #c84c44;
    color: white; }
  .ts.button.negative:active,
  .ts.buttons.negative .button:active {
    background-color: #94322c;
    color: #f1d0ce; }

.ts.button.positive,
.ts.buttons.positive .button {
  border-color: #88b76b;
  background-color: #8BB96E;
  color: white; }
  .ts.button.positive:hover,
  .ts.buttons.positive .button:hover {
    background-color: #7db15d;
    color: white; }
  .ts.button.positive:active,
  .ts.buttons.positive .button:active {
    background-color: #59823f;
    color: #e3eedd; }

.ts.button.basic,
.ts.button.basic:hover,
.ts.button.basic:active,
.ts.buttons.basic .button,
.ts.buttons.basic .button:hover,
.ts.buttons.basic .button:active {
  background-color: transparent; }

.ts.button.basic,
.ts.buttons.basic .button {
  border: 1px solid #7B7B7B;
  color: #7B7B7B; }
  .ts.button.basic:active,
  .ts.buttons.basic .button:active {
    color: #2f2f2f; }

.ts.button.basic.inverted,
.ts.buttons.basic.inverted .button,
.ts.button.basic.secondary,
.ts.buttons.basic.secondary .button {
  border: 1px solid #34495E;
  color: #34495E; }
  .ts.button.basic.inverted:active,
  .ts.buttons.basic.inverted .button:active,
  .ts.button.basic.secondary:active,
  .ts.buttons.basic.secondary .button:active {
    color: black; }

.ts.button.basic.primary,
.ts.buttons.basic.primary .button {
  border: 1px solid #1FBAF1;
  color: #1FBAF1; }
  .ts.button.basic.primary:active,
  .ts.buttons.basic.primary .button:active {
    color: #075570; }

.ts.button.basic.info,
.ts.buttons.basic.info .button {
  border: 1px solid #79A8B9;
  color: #79A8B9; }
  .ts.button.basic.info:active,
  .ts.buttons.basic.info .button:active {
    color: #355865; }

.ts.button.basic.warning,
.ts.buttons.basic.warning .button {
  border: 1px solid #F5D562;
  color: #F5D562; }
  .ts.button.basic.warning:active,
  .ts.buttons.basic.warning .button:active {
    color: #b38e0b; }

.ts.button.basic.negative,
.ts.buttons.basic.negative .button {
  border: 1px solid #CE5F58;
  color: #CE5F58; }
  .ts.button.basic.negative:active,
  .ts.buttons.basic.negative .button:active {
    color: #6d2520; }

.ts.button.basic.positive,
.ts.buttons.basic.positive .button {
  border: 1px solid #8BB96E;
  color: #8BB96E; }
  .ts.button.basic.positive:active,
  .ts.buttons.basic.positive .button:active {
    color: #41602e; }

.ts.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative) {
  border: 2px solid #FFF;
  color: #FFF; }
  .ts.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative):hover {
    background-color: #FFF;
    color: #FFF; }
  .ts.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative):active {
    border-color: #cccccc;
    background-color: #cccccc;
    color: #FFF; }

.ts.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative):hover {
  background-color: #FFF;
  border-color: #FFF;
  color: #b3b3b3; }

.ts.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative):active {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: #FFF; }

.ts.button.basic.inverted,
.ts.buttons.basic.inverted .button,
.ts.button.inverted.basic.secondary,
.ts.buttons.inverted.basic.secondary .button {
  border: 2px solid #34495E;
  color: #34495E; }
  .ts.button.basic.inverted:hover,
  .ts.buttons.basic.inverted .button:hover,
  .ts.button.inverted.basic.secondary:hover,
  .ts.buttons.inverted.basic.secondary .button:hover {
    background-color: #34495E;
    color: #FFF; }
  .ts.button.basic.inverted:active,
  .ts.buttons.basic.inverted .button:active,
  .ts.button.inverted.basic.secondary:active,
  .ts.buttons.inverted.basic.secondary .button:active {
    border-color: #10161c;
    background-color: #10161c;
    color: #FFF; }

.ts.button.inverted.basic.primary,
.ts.buttons.inverted.basic.primary .button {
  border: 2px solid #1FBAF1;
  color: #1FBAF1; }
  .ts.button.inverted.basic.primary:hover,
  .ts.buttons.inverted.basic.primary .button:hover {
    background-color: #1FBAF1;
    color: #f7fdff; }
  .ts.button.inverted.basic.primary:active,
  .ts.buttons.inverted.basic.primary .button:active {
    border-color: #0a79a0;
    background-color: #0a79a0;
    color: #f7fdff; }

.ts.button.inverted.basic.info,
.ts.buttons.inverted.basic.info .button {
  border: 2px solid #79A8B9;
  color: #79A8B9; }
  .ts.button.inverted.basic.info:hover,
  .ts.buttons.inverted.basic.info .button:hover {
    background-color: #79A8B9;
    color: white; }
  .ts.button.inverted.basic.info:active,
  .ts.buttons.inverted.basic.info .button:active {
    border-color: #467586;
    background-color: #467586;
    color: white; }

.ts.button.inverted.basic.warning,
.ts.buttons.inverted.basic.warning .button {
  border: 2px solid #F5D562;
  color: #F5D562; }
  .ts.button.inverted.basic.warning:hover,
  .ts.buttons.inverted.basic.warning .button:hover {
    background-color: #F5D562;
    color: #8c7009; }
  .ts.button.inverted.basic.warning:active,
  .ts.buttons.inverted.basic.warning .button:active {
    border-color: #e3b40e;
    background-color: #e3b40e;
    color: #8c7009; }

.ts.button.inverted.basic.negative,
.ts.buttons.inverted.basic.negative .button {
  border: 2px solid #CE5F58;
  color: #CE5F58; }
  .ts.button.inverted.basic.negative:hover,
  .ts.buttons.inverted.basic.negative .button:hover {
    background-color: #CE5F58;
    color: #fcf6f6; }
  .ts.button.inverted.basic.negative:active,
  .ts.buttons.inverted.basic.negative .button:active {
    border-color: #94322c;
    background-color: #94322c;
    color: #fcf6f6; }

.ts.button.inverted.basic.positive,
.ts.buttons.inverted.basic.positive .button {
  border: 2px solid #8BB96E;
  color: #8BB96E; }
  .ts.button.inverted.basic.positive:hover,
  .ts.buttons.inverted.basic.positive .button:hover {
    background-color: #8BB96E;
    color: white; }
  .ts.button.inverted.basic.positive:active,
  .ts.buttons.inverted.basic.positive .button:active {
    border-color: #59823f;
    background-color: #59823f;
    color: white; }

.ts.buttons {
  display: inline-flex; }
  .ts.buttons:not(.vertical) .ts.button {
    display: inline-block; }
    .ts.buttons:not(.vertical) .ts.button:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width: 0; }
    .ts.buttons:not(.vertical) .ts.button:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 1px; }
    .ts.buttons:not(.vertical) .ts.button:last-child {
      border-left-width: 0px; }
  .ts.buttons:not(.vertical).inverted.basic .ts.button:not(:last-child) {
    border-right-width: 2px; }
  .ts.buttons.vertical {
    display: block; }
    .ts.buttons.vertical .ts.button {
      display: block; }
      .ts.buttons.vertical .ts.button:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-width: 0; }
      .ts.buttons.vertical .ts.button:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 0px; }
      .ts.buttons.vertical .ts.button:last-child {
        border-bottom-width: 1px; }
  .ts.buttons.vertical.inverted.basic .ts.button:last-child {
    border-bottom-width: 2px; }

.ts.header {
  margin: calc(2rem - 0.14285em) 0em 1rem;
  line-height: 1.2857em;
  color: rgba(0, 0, 0, 0.88);
  font-weight: bold; }
  .ts.header:first-child {
    margin: -0.14285em; }
  .ts.header:last-child {
    margin: 0em; }

.ts.header .sub.header {
  display: block;
  font-weight: normal;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.6); }

.ts.header.disabled,
.ts.header.disabled .sub.header {
  opacity: 0.45; }

.ts.header.bolder .sub.header {
  font-weight: 800; }

.ts.header[class*="center aligned"] {
  text-align: center; }

.ts.header[class*="left aligned"] {
  text-align: left; }

.ts.header[class*="right aligned"] {
  text-align: right; }

.ts.header.dividing {
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15); }

h1.ts.header {
  font-size: 2rem; }

h2.ts.header {
  font-size: 1.714rem; }

h3.ts.header {
  font-size: 1.28rem; }

h4.ts.header {
  font-size: 1.071rem; }

h5.ts.header {
  font-size: 1rem; }

h6.ts.header {
  font-size: 1rem; }

h1.ts.header .sub.header {
  font-size: 1.14286rem; }

h2.ts.header .sub.header {
  font-size: 1.14286rem; }

h3.ts.header .sub.header {
  font-size: 1rem; }

h4.ts.header .sub.header {
  font-size: 1rem; }

h5.ts.header .sub.header {
  font-size: 0.92857rem; }

h6.ts.header .sub.header {
  font-size: 0.92857rem; }

.ts.huge.header {
  min-height: 1em;
  font-size: 1.42857em; }

.ts.large.header {
  font-size: 1.14286em; }

.ts.medium.header {
  font-size: 1em; }

.ts.small.header {
  font-size: 0.92857em; }

.ts.tiny.header {
  font-size: 0.85714em; }

.ts.mini.header {
  font-size: 0.78571em; }

.ts.huge.header .sub.header {
  font-size: 1.14286rem; }

.ts.large.header .sub.header {
  font-size: 1.14286rem; }

.ts.medium.header .sub.header {
  font-size: 1rem; }

.ts.small.header .sub.header {
  font-size: 1rem; }

.ts.tiny.header .sub.header {
  font-size: 0.92857rem; }

.ts.mini.header .sub.header {
  font-size: 0.92857rem; }

.ts.header.primary {
  color: #1FBAF1;
  border-color: #1FBAF1;
  border-bottom: 2px solid #1FBAF1; }

.ts.header.info {
  color: #79A8B9;
  border-color: #79A8B9;
  border-bottom: 2px solid #79A8B9; }

.ts.header.warning {
  color: #F5D562;
  border-color: #F5D562;
  border-bottom: 2px solid #F5D562; }

.ts.header.positive {
  color: #8BB96E;
  border-color: #8BB96E;
  border-bottom: 2px solid #8BB96E; }

.ts.header.negative {
  color: #CE5F58;
  border-color: #CE5F58;
  border-bottom: 2px solid #CE5F58; }

.ts.header.inverted {
  color: #FFF;
  border-color: #FFF;
  border-bottom: 2px solid #FFF; }
  .ts.header.inverted .sub.header {
    color: #FFF; }

.ts.grid {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: -0.8rem; }
  .ts.grid + .ts.grid {
    margin-top: 0.4rem; }
  .ts.grid > .column:not(.row),
  .ts.grid > .row .column:not(.row) {
    padding: 0.4rem; }
  .ts.grid.relaxed {
    margin-left: -0.8rem;
    margin-right: -0.8rem; }
    .ts.grid.relaxed > .column:not(.row),
    .ts.grid.relaxed > .row > .column:not(.row) {
      padding-left: 0.8rem;
      padding-right: 0.8rem; }

.ts.grid .column {
  position: relative;
  box-sizing: border-box; }

.ts.grid > .row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%; }
  .ts.grid > .row.doubling {
    flex-wrap: wrap; }

.ts.grid[class*="left aligned"] .column,
.ts.grid .row[class*="left aligned"] .column,
.ts.grid .column[class*="left aligned"] {
  text-align: left; }

.ts.grid[class*="right aligned"] .column,
.ts.grid .row[class*="right aligned"] .column,
.ts.grid .column[class*="right aligned"] {
  text-align: right; }

.ts.grid.centered,
.ts.grid .row.centered {
  align-content: center; }

.ts.grid .row[class*="only"],
.ts.grid .column[class*="only"] {
  display: none; }

@media (min-width: 1200px) {
  .ts.grid .row[class*="large screen only"],
  .ts.grid .column[class*="large screen only"] {
    display: flex !important; } }

@media (min-width: 992px) {
  .ts.grid .row[class*="computer only"],
  .ts.grid .column[class*="computer only"] {
    display: flex !important; } }

@media (min-width: 768px) {
  .ts.grid .row[class*="tablet only"],
  .ts.grid .column[class*="tablet only"] {
    display: flex !important; } }

@media (max-width: 767px) {
  .ts.grid .row[class*="mobile only"],
  .ts.grid .column[class*="mobile only"] {
    display: flex !important; } }

.column[class*="right floated"] {
  margin-left: auto; }

.column[class*="left floated"] {
  margin-right: auto; }

.ts.grid .column[class*="one wide"] {
  width: calc(100% / 16 * 1); }

.ts.grid .column[class*="two wide"] {
  width: calc(100% / 16 * 2); }

.ts.grid .column[class*="three wide"] {
  width: calc(100% / 16 * 3); }

.ts.grid .column[class*="four wide"] {
  width: calc(100% / 16 * 4); }

.ts.grid .column[class*="five wide"] {
  width: calc(100% / 16 * 5); }

.ts.grid .column[class*="six wide"] {
  width: calc(100% / 16 * 6); }

.ts.grid .column[class*="seven wide"] {
  width: calc(100% / 16 * 7); }

.ts.grid .column[class*="eight wide"] {
  width: calc(100% / 16 * 8); }

.ts.grid .column[class*="nine wide"] {
  width: calc(100% / 16 * 9); }

.ts.grid .column[class*="ten wide"] {
  width: calc(100% / 16 * 10); }

.ts.grid .column[class*="eleven wide"] {
  width: calc(100% / 16 * 11); }

.ts.grid .column[class*="twelve wide"] {
  width: calc(100% / 16 * 12); }

.ts.grid .column[class*="thirteen wide"] {
  width: calc(100% / 16 * 13); }

.ts.grid .column[class*="fourteen wide"] {
  width: calc(100% / 16 * 14); }

.ts.grid .column[class*="fifteen wide"] {
  width: calc(100% / 16 * 15); }

.ts.grid .column[class*="sixteen wide"] {
  width: calc(100% / 16 * 16); }

@media (max-width: 767px) {
  .ts.grid [class*="one wide mobile"] {
    width: calc(100% / 16 * 1) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="two wide mobile"] {
    width: calc(100% / 16 * 2) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="three wide mobile"] {
    width: calc(100% / 16 * 3) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="four wide mobile"] {
    width: calc(100% / 16 * 4) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="five wide mobile"] {
    width: calc(100% / 16 * 5) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="six wide mobile"] {
    width: calc(100% / 16 * 6) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="seven wide mobile"] {
    width: calc(100% / 16 * 7) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="eight wide mobile"] {
    width: calc(100% / 16 * 8) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="nine wide mobile"] {
    width: calc(100% / 16 * 9) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="ten wide mobile"] {
    width: calc(100% / 16 * 10) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="eleven wide mobile"] {
    width: calc(100% / 16 * 11) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="twelve wide mobile"] {
    width: calc(100% / 16 * 12) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="thirteen wide mobile"] {
    width: calc(100% / 16 * 13) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="fourteen wide mobile"] {
    width: calc(100% / 16 * 14) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="fifteen wide mobile"] {
    width: calc(100% / 16 * 15) !important; } }

@media (max-width: 767px) {
  .ts.grid [class*="sixteen wide mobile"] {
    width: calc(100% / 16 * 16) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="one wide tablet"] {
    width: calc(100% / 16 * 1) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="two wide tablet"] {
    width: calc(100% / 16 * 2) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="three wide tablet"] {
    width: calc(100% / 16 * 3) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="four wide tablet"] {
    width: calc(100% / 16 * 4) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="five wide tablet"] {
    width: calc(100% / 16 * 5) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="six wide tablet"] {
    width: calc(100% / 16 * 6) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="seven wide tablet"] {
    width: calc(100% / 16 * 7) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="eight wide tablet"] {
    width: calc(100% / 16 * 8) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="nine wide tablet"] {
    width: calc(100% / 16 * 9) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="ten wide tablet"] {
    width: calc(100% / 16 * 10) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="eleven wide tablet"] {
    width: calc(100% / 16 * 11) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="twelve wide tablet"] {
    width: calc(100% / 16 * 12) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="thirteen wide tablet"] {
    width: calc(100% / 16 * 13) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="fourteen wide tablet"] {
    width: calc(100% / 16 * 14) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="fifteen wide tablet"] {
    width: calc(100% / 16 * 15) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid [class*="sixteen wide tablet"] {
    width: calc(100% / 16 * 16) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="one wide computer"] {
    width: calc(100% / 16 * 1) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="two wide computer"] {
    width: calc(100% / 16 * 2) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="three wide computer"] {
    width: calc(100% / 16 * 3) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="four wide computer"] {
    width: calc(100% / 16 * 4) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="five wide computer"] {
    width: calc(100% / 16 * 5) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="six wide computer"] {
    width: calc(100% / 16 * 6) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="seven wide computer"] {
    width: calc(100% / 16 * 7) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="eight wide computer"] {
    width: calc(100% / 16 * 8) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="nine wide computer"] {
    width: calc(100% / 16 * 9) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="ten wide computer"] {
    width: calc(100% / 16 * 10) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="eleven wide computer"] {
    width: calc(100% / 16 * 11) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="twelve wide computer"] {
    width: calc(100% / 16 * 12) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="thirteen wide computer"] {
    width: calc(100% / 16 * 13) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="fourteen wide computer"] {
    width: calc(100% / 16 * 14) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="fifteen wide computer"] {
    width: calc(100% / 16 * 15) !important; } }

@media (min-width: 992px) {
  .ts.grid [class*="sixteen wide computer"] {
    width: calc(100% / 16 * 16) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="one wide large screen"] {
    width: calc(100% / 16 * 1) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="two wide large screen"] {
    width: calc(100% / 16 * 2) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="three wide large screen"] {
    width: calc(100% / 16 * 3) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="four wide large screen"] {
    width: calc(100% / 16 * 4) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="five wide large screen"] {
    width: calc(100% / 16 * 5) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="six wide large screen"] {
    width: calc(100% / 16 * 6) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="seven wide large screen"] {
    width: calc(100% / 16 * 7) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="eight wide large screen"] {
    width: calc(100% / 16 * 8) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="nine wide large screen"] {
    width: calc(100% / 16 * 9) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="ten wide large screen"] {
    width: calc(100% / 16 * 10) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="eleven wide large screen"] {
    width: calc(100% / 16 * 11) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="twelve wide large screen"] {
    width: calc(100% / 16 * 12) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="thirteen wide large screen"] {
    width: calc(100% / 16 * 13) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="fourteen wide large screen"] {
    width: calc(100% / 16 * 14) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="fifteen wide large screen"] {
    width: calc(100% / 16 * 15) !important; } }

@media (min-width: 1200px) {
  .ts.grid [class*="sixteen wide large screen"] {
    width: calc(100% / 16 * 16) !important; } }

.ts.grid[class*="one column"] > .column:not(.row),
.ts.grid .row[class*="one column"] > .column:not(.row) {
  width: calc(1 / 1 * 100%) !important; }

.ts.grid[class*="two column"] > .column:not(.row),
.ts.grid .row[class*="two column"] > .column:not(.row) {
  width: calc(1 / 2 * 100%) !important; }

.ts.grid[class*="three column"] > .column:not(.row),
.ts.grid .row[class*="three column"] > .column:not(.row) {
  width: calc(1 / 3 * 100%) !important; }

.ts.grid[class*="four column"] > .column:not(.row),
.ts.grid .row[class*="four column"] > .column:not(.row) {
  width: calc(1 / 4 * 100%) !important; }

.ts.grid[class*="five column"] > .column:not(.row),
.ts.grid .row[class*="five column"] > .column:not(.row) {
  width: calc(1 / 5 * 100%) !important; }

.ts.grid[class*="six column"] > .column:not(.row),
.ts.grid .row[class*="six column"] > .column:not(.row) {
  width: calc(1 / 6 * 100%) !important; }

.ts.grid[class*="seven column"] > .column:not(.row),
.ts.grid .row[class*="seven column"] > .column:not(.row) {
  width: calc(1 / 7 * 100%) !important; }

.ts.grid[class*="eight column"] > .column:not(.row),
.ts.grid .row[class*="eight column"] > .column:not(.row) {
  width: calc(1 / 8 * 100%) !important; }

.ts.grid[class*="nine column"] > .column:not(.row),
.ts.grid .row[class*="nine column"] > .column:not(.row) {
  width: calc(1 / 9 * 100%) !important; }

.ts.grid[class*="ten column"] > .column:not(.row),
.ts.grid .row[class*="ten column"] > .column:not(.row) {
  width: calc(1 / 10 * 100%) !important; }

.ts.grid[class*="eleven column"] > .column:not(.row),
.ts.grid .row[class*="eleven column"] > .column:not(.row) {
  width: calc(1 / 11 * 100%) !important; }

.ts.grid[class*="twelve column"] > .column:not(.row),
.ts.grid .row[class*="twelve column"] > .column:not(.row) {
  width: calc(1 / 12 * 100%) !important; }

.ts.grid[class*="thirteen column"] > .column:not(.row),
.ts.grid .row[class*="thirteen column"] > .column:not(.row) {
  width: calc(1 / 13 * 100%) !important; }

.ts.grid[class*="fourteen column"] > .column:not(.row),
.ts.grid .row[class*="fourteen column"] > .column:not(.row) {
  width: calc(1 / 14 * 100%) !important; }

.ts.grid[class*="fifteen column"] > .column:not(.row),
.ts.grid .row[class*="fifteen column"] > .column:not(.row) {
  width: calc(1 / 15 * 100%) !important; }

.ts.grid[class*="sixteen column"] > .column:not(.row),
.ts.grid .row[class*="sixteen column"] > .column:not(.row) {
  width: calc(1 / 16 * 100%) !important; }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="two column"] > .column:not(.row),
  .ts.grid.doubling[class*="two column"] > .column:not(.row) {
    width: calc(1 / 1 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="two column"] > .column:not(.row),
  .ts.grid.doubling[class*="two column"] > .column:not(.row) {
    width: calc(1 / 1 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="three column"] > .column:not(.row),
  .ts.grid.doubling[class*="three column"] > .column:not(.row) {
    width: calc(1 / 2 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="three column"] > .column:not(.row),
  .ts.grid.doubling[class*="three column"] > .column:not(.row) {
    width: calc(1 / 2 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="four column"] > .column:not(.row),
  .ts.grid.doubling[class*="four column"] > .column:not(.row) {
    width: calc(1 / 2 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="four column"] > .column:not(.row),
  .ts.grid.doubling[class*="four column"] > .column:not(.row) {
    width: calc(1 / 2 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="five column"] > .column:not(.row),
  .ts.grid.doubling[class*="five column"] > .column:not(.row) {
    width: calc(1 / 2 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="five column"] > .column:not(.row),
  .ts.grid.doubling[class*="five column"] > .column:not(.row) {
    width: calc(1 / 3 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="six column"] > .column:not(.row),
  .ts.grid.doubling[class*="six column"] > .column:not(.row) {
    width: calc(1 / 2 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="six column"] > .column:not(.row),
  .ts.grid.doubling[class*="six column"] > .column:not(.row) {
    width: calc(1 / 3 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="seven column"] > .column:not(.row),
  .ts.grid.doubling[class*="seven column"] > .column:not(.row) {
    width: calc(1 / 2 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="seven column"] > .column:not(.row),
  .ts.grid.doubling[class*="seven column"] > .column:not(.row) {
    width: calc(1 / 3 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="eight column"] > .column:not(.row),
  .ts.grid.doubling[class*="eight column"] > .column:not(.row) {
    width: calc(1 / 2 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="eight column"] > .column:not(.row),
  .ts.grid.doubling[class*="eight column"] > .column:not(.row) {
    width: calc(1 / 4 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="nine column"] > .column:not(.row),
  .ts.grid.doubling[class*="nine column"] > .column:not(.row) {
    width: calc(1 / 3 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="nine column"] > .column:not(.row),
  .ts.grid.doubling[class*="nine column"] > .column:not(.row) {
    width: calc(1 / 4 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="ten column"] > .column:not(.row),
  .ts.grid.doubling[class*="ten column"] > .column:not(.row) {
    width: calc(1 / 3 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="ten column"] > .column:not(.row),
  .ts.grid.doubling[class*="ten column"] > .column:not(.row) {
    width: calc(1 / 5 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="eleven column"] > .column:not(.row),
  .ts.grid.doubling[class*="eleven column"] > .column:not(.row) {
    width: calc(1 / 3 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="eleven column"] > .column:not(.row),
  .ts.grid.doubling[class*="eleven column"] > .column:not(.row) {
    width: calc(1 / 5 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="twelve column"] > .column:not(.row),
  .ts.grid.doubling[class*="twelve column"] > .column:not(.row) {
    width: calc(1 / 3 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="twelve column"] > .column:not(.row),
  .ts.grid.doubling[class*="twelve column"] > .column:not(.row) {
    width: calc(1 / 6 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="thirteen column"] > .column:not(.row),
  .ts.grid.doubling[class*="thirteen column"] > .column:not(.row) {
    width: calc(1 / 3 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="thirteen column"] > .column:not(.row),
  .ts.grid.doubling[class*="thirteen column"] > .column:not(.row) {
    width: calc(1 / 6 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="fourteen column"] > .column:not(.row),
  .ts.grid.doubling[class*="fourteen column"] > .column:not(.row) {
    width: calc(1 / 4 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="fourteen column"] > .column:not(.row),
  .ts.grid.doubling[class*="fourteen column"] > .column:not(.row) {
    width: calc(1 / 7 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="fifteen column"] > .column:not(.row),
  .ts.grid.doubling[class*="fifteen column"] > .column:not(.row) {
    width: calc(1 / 4 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="fifteen column"] > .column:not(.row),
  .ts.grid.doubling[class*="fifteen column"] > .column:not(.row) {
    width: calc(1 / 7 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid .row.doubling[class*="sixteen column"] > .column:not(.row),
  .ts.grid.doubling[class*="sixteen column"] > .column:not(.row) {
    width: calc(1 / 4 * 100%) !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .ts.grid .row.doubling[class*="sixteen column"] > .column:not(.row),
  .ts.grid.doubling[class*="sixteen column"] > .column:not(.row) {
    width: calc(1 / 8 * 100%) !important; } }

@media (max-width: 767px) {
  .ts.grid.stackable > .column:not(.row) {
    width: 100% !important; } }

/*# sourceMappingURL=tocas.css.map */
