@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500|Noto+Sans+JP:400,500|Noto+Sans+KR:400,500|Noto+Sans+SC:400,500|Noto+Sans+TC:400,500&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,japanese,korean,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,bold");

.hljs {
    background: none;
    color: var(--ts-gray-600);
    font-size: 14px;
    white-space: break-spaces;
    overflow-x: scroll;
    font-family: "Ubuntu Mono", "Noto Sans TC", "Noto Sans CJK TC", "SF Pro TC", "SF Pro Text", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Microsoft JhengHei",
        wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma, Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, 微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei",
        "Droid Sans Fallback", "AR PL UMing TW", Roboto, "Helvetica Neue", "Hiragino Maru Gothic ProN", メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif;
    word-spacing: 2px;
    letter-spacing: 0em;
}

.hljs a {
    padding: 0 0.1rem;
    border-bottom: 1px dashed var(--ts-primary-700);
    color: var(--ts-primary-700);
    text-decoration: none;
}

.hljs a:hover {
    border-bottom-style: solid;
}

.hljs mark a {
    color: var(--ts-gray-50);
    border-bottom-color: var(--ts-gray-50);
}

.hljs mark {
    padding: 0 0.4rem;
    display: inline-block;
    border-radius: 0.3rem;
    line-height: 1.4;
}

.hljs mark:not(.tag) {
    background-color: var(--ts-primary-600);
    color: var(--ts-gray-50);
}

.hljs mark.tag {
    background-color: #e9e9e9;
    color: inherit;
}

.hljs .hljs-variable,
.hljs .hljs-template-variable,
.hljs .hljs-tag,
.hljs .hljs-name,
.hljs .hljs-selector-id,
.hljs .hljs-selector-class,
.hljs .hljs-regexp,
.hljs .hljs-deletion {
    color: var(--ts-gray-600);
}

.hljs .hljs-string,
.hljs .hljs-symbol,
.hljs .hljs-bullet,
.hljs .hljs-addition {
    color: var(--ts-primary-700);
}

.hljs .hljs-attribute {
    /*color: #b58e00; too light*/
    margin-right: 0.2em;
}

.hljs .hljs-important-class {
    background-color: var(--ts-primary-600);
    padding: 1px 3px;
    border-radius: 4px;
    color: #fff;
}

.hljs .hljs-important-class * {
    color: #fff;
}

code.hljs.javascript {
    color: #8e8e8e;
}

.hljs-comment {
    opacity: 0.75;
}
