.文件內容 {
    display: block;
    padding: 4rem 0 6rem;
    flex: 1;
}

.文件內容-未完成標語 {
    border: 1px solid var(--ts-gray-300);
    color: var(--ts-gray-800);
    font-size: 14px;
    display: flex;
    gap: 0.7rem;
    padding: 0.3rem 0.7rem;
    align-items: center;
    border-radius: 0.4rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.文件內容-未完成標語-標題 {
    background: var(--ts-gray-800);
    color: var(--ts-gray-50);
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    line-height: 1;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}

.文件內容-未完成標語-內容 {
}

.文件內容-電腦版設計 {
    border: 1px solid var(--ts-gray-300);
    color: var(--ts-gray-800);
    font-size: 14px;
    display: flex;
    gap: 0.7rem;
    padding: 0.3rem 0.7rem;
    align-items: flex-start;
    border-radius: 0.4rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.文件內容-電腦版設計-標題 {
    background: var(--ts-gray-800);
    color: var(--ts-gray-50);
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    line-height: 1;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}

.文件內容-電腦版設計-內容 {}

.文件內容-範例清單 {
    display: block;
}

.文件內容-範例清單-段落 {
    display: block;
}

.文件內容-範例清單-段落:not(:first-child) {
    margin-top: 6rem;
}

.文件內容-範例清單-段落-標題 {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--ts-gray-800);
}

.文件內容-範例清單-段落-說明 {
    display: block;
    font-size: 1rem;
    color: var(--ts-gray-600);
}

.文件內容-範例清單-段落-項目清單 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.文件內容-範例清單-段落-項目清單-項目 {
    display: block;
    border-radius: 0.4rem;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--ts-gray-300);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    padding-bottom: 1rem;
    /*transition: box-shadow 0.1s ease, transform 0.1s ease;*/
}

.文件內容-範例清單-段落-項目清單-項目:hover {
    /*box-shadow: 0px 1px 7px 0px #e0e0e082;
    transform: translateY(-3px);*/
    border-color: var(--ts-gray-400);
}

.文件內容-範例清單-段落-項目清單-項目_停用的 {
    opacity: 0.5;
    pointer-events: none;
}

.文件內容-範例清單-段落-項目清單-項目-螢幕截圖 {
    width: 100%;
    border-bottom: 1px solid var(--ts-gray-300);
}

.文件內容-範例清單-段落-項目清單-項目-標題 {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--ts-gray-800);
    padding: 1rem 1rem 0;
    line-height: 1;
}

.文件內容-範例清單-段落-項目清單-項目:hover .文件內容-範例清單-段落-項目清單-項目-標題 {
    text-decoration: underline;
}

.文件內容-範例清單-段落-項目清單-項目-說明 {
    display: block;
    font-size: 1rem;
    color: var(--ts-gray-800);
    padding: 1rem 1rem 0;
}

.文件內容-範例清單-段落-項目清單-項目-圖示 {
    position: absolute;
    font-size: 6rem;
    bottom: -1rem;
    right: -1rem;
    color: var(--ts-black);
    opacity: 0.05;
    pointer-events: none;
    line-height: 1;
}

@media screen and (max-width: 960px) {
    .文件內容 {
        padding: 2rem 0 3rem;
    }

    .文件內容-未完成標語,
    .文件內容-電腦版設計 {
        display: block;
        margin-top: 0;
        padding-top: 0.7rem;
        margin-bottom: 1.5rem;
    }

    .文件內容-未完成標語-標題,
    .文件內容-電腦版設計-標題 {
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: 0.25rem;
        padding: 0.35rem 0.8rem;
    }

    .文件內容-未完成標語-內容,
    .文件內容-電腦版設計-內容 {
        display: inline;
    }

    .文件內容-範例清單-段落-項目清單 {
        grid-template-columns: repeat(2, 1fr);
    }

    .文件內容-範例清單-段落-標題 {
        font-size: 1.3rem;
    }

    .文件內容-範例清單-段落:not(:first-child) {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 520px) {
    .文件內容-範例清單-段落-項目清單 {
        grid-template-columns: repeat(1, 1fr);
    }
}