//*******************************//
//            Variables
//*******************************//

\:root
    --columnPadding           : #{$columnPadding}
    --columnRelaxedPadding    : #{$columnRelaxedPadding}
    --columnVeryRelaxedPadding: #{$columnVeryRelaxedPadding}

    +rwd-serious(mobile)
        --columnPadding           : #{$mobileColumnPadding}
        --columnRelaxedPadding    : #{$mobileColumnRelaxedPadding}
        --columnVeryRelaxedPadding: #{$mobileColumnVeryRelaxedPadding}