// ==========================================================================
// Variables
// ==========================================================================

$mini   : .75
$tiny   : .8125
$small  : .875
$medium : 1
$large  : 1.125
$big    : 1.25
$huge   : 1.5
$massive: 1.625

$absolute-mini   : $mini    * 1rem
$absolute-tiny   : $tiny    * 1rem
$absolute-small  : $small   * 1rem
$absolute-medium : $medium  * 1rem
$absolute-large  : $large   * 1rem
$absolute-big    : $big     * 1rem
$absolute-huge   : $huge    * 1rem
$absolute-massive: $massive * 1rem

$relative-mini   : $mini    * 1em
$relative-tiny   : $tiny    * 1em
$relative-small  : $small   * 1em
$relative-medium : $medium  * 1em
$relative-large  : $large   * 1em
$relative-big    : $big     * 1em
$relative-huge   : $huge    * 1em
$relative-massive: $massive * 1em

// ==========================================================================
// Functions
// ==========================================================================

//-------------------//
//        Size
//-------------------//

@function relative-size($size)
    @if $size == mini
        @return var(--ts-relative_mini)
    @else if $size == tiny
        @return var(--ts-relative_tiny)
    @else if $size == small
        @return var(--ts-relative_small)
    @else if $size == medium
        @return var(--ts-relative_medium)
    @else if $size == large
        @return var(--ts-relative_large)
    @else if $size == big
        @return var(--ts-relative_big)
    @else if $size == huge
        @return var(--ts-relative_huge)
    @else if $size == massive
        @return var(--ts-relative_massive)

@function absolute-size($size)
    @if $size == mini
        @return var(--ts-absolute_mini)
    @else if $size == tiny
        @return var(--ts-absolute_tiny)
    @else if $size == small
        @return var(--ts-absolute_small)
    @else if $size == medium
        @return var(--ts-absolute_medium)
    @else if $size == large
        @return var(--ts-absolute_large)
    @else if $size == big
        @return var(--ts-absolute_big)
    @else if $size == huge
        @return var(--ts-absolute_huge)
    @else if $size == massive
        @return var(--ts-absolute_massive)


// =relative-size($size)
//     @if $size == mini
//         font-size: var(--ts-relative_mini)
//     @else if $size == tiny
//         font-size: var(--ts-relative_tiny)
//     @else if $size == small
//         font-size: var(--ts-relative_small)
//     @else if $size == medium
//         font-size: var(--ts-relative_medium)
//     @else if $size == large
//         font-size: var(--ts-relative_large)
//     @else if $size == big
//         font-size: var(--ts-relative_big)
//     @else if $size == huge
//         font-size: var(--ts-relative_huge)
//     @else if $size == massive
//         font-size: var(--ts-relative_massive)
//
// =absolute-size($size)
//     @if $size == mini
//         font-size: var(--ts-absolute_mini)
//     @else if $size == tiny
//         font-size: var(--ts-absolute_tiny)
//     @else if $size == small
//         font-size: var(--ts-absolute_small)
//     @else if $size == medium
//         font-size: var(--ts-absolute_medium)
//     @else if $size == large
//         font-size: var(--ts-absolute_large)
//     @else if $size == big
//         font-size: var(--ts-absolute_big)
//     @else if $size == huge
//         font-size: var(--ts-absolute_huge)
//     @else if $size == massive
//         font-size: var(--ts-absolute_massive)


// ==========================================================================
// Extends
// ==========================================================================

%component
    font-size  : 16px
    line-height: 1.7
    font-family: 'Noto Sans TC', 'Noto Sans CJK TC'
    color      : #333
    box-sizing : border-box
    position   : relative

%component-box
    border-radius: 6px
    border-width : 1px
    border-style : solid

%top-attached
    margin-bottom             : 0
    border-bottom-right-radius: 0
    border-bottom-left-radius : 0

%attached
    margin-top   : 0
    margin-bottom: 0
    border-top   : 0
    border-radius: 0

%bottom-attached
    margin-top             : 0
    border-top             : 0
    border-top-right-radius: 0
    border-top-left-radius : 0


