@use "./../../styles/libraries/colors"     as *
@use "./../../styles/libraries/properties" as *
@use "./../../styles/libraries/icon-maps"  as *

:root
    +var-scope(icon)

.ts-icon
    @extend %component
    +icons

    &__entity
        font-family: 'Icons'
        font-weight: normal
        font-style : normal
        display: inline-block
        text-decoration: inherit
        text-align: center
        width: 1.18em
        //height: 1em
        -webkit-font-smoothing: antialiased
        backface-visibility: hidden
        speak: none

    &--fitted
    &--disabled
    &--spinning
    &--circular
    &--rounded
    &--bordered
    &--horizontally-flipped
    &--vertically-flipped
    &--clockwise-rotated
    &--counterclockwise-rotated

    &--tiny
    &--small
    &--large
    &--big

.ts-icon