//-------------------//
//      Emphasis
//-------------------//

// Colors: text, bg, hover, hoverBg, active, activeBg, border

$button_defaultBackgroundColor      : lighten(nth($grey, 4), 2%)
$button_defaultActiveBackgroundColor: nth($grey, 6)
$button_defaultHoverBackgroundColor : nth($grey, 5)
$button_defaultBorderColor          : darken(nth($grey, 3), 2%)
$button_defaultActiveTextColor      : nth($grey, 9)
$button_defaultHoverTextColor       : nth($grey, 8)
$button_defaultTextColor            : nth($grey, 8)
$button_defaultColors               : $button_defaultTextColor, $button_defaultBackgroundColor, $button_defaultHoverTextColor, $button_defaultHoverBackgroundColor, $button_defaultActiveTextColor, $button_defaultActiveBackgroundColor, $button_defaultBorderColor

$button_negativeBackgroundColor      : nth($negative, 6)
$button_negativeActiveBackgroundColor: nth($negative, 9)
$button_negativeHoverBackgroundColor : nth($negative, 7)
$button_negativeBorderColor          : nth($negative, 6)
$button_negativeActiveTextColor      : darken($white, 8%)
$button_negativeHoverTextColor       : darken($white, 2%)
$button_negativeTextColor            : $white
$button_negativeColors               : $button_negativeTextColor, $button_negativeBackgroundColor, $button_negativeHoverTextColor, $button_negativeHoverBackgroundColor, $button_negativeActiveTextColor, $button_negativeActiveBackgroundColor, $button_negativeBorderColor

$button_positiveBackgroundColor      : nth($positive, 6)
$button_positiveActiveBackgroundColor: nth($positive, 9)
$button_positiveHoverBackgroundColor : nth($positive, 7)
$button_positiveBorderColor          : nth($positive, 6)
$button_positiveActiveTextColor      : darken($white, 8%)
$button_positiveHoverTextColor       : darken($white, 8%)
$button_positiveTextColor            : $white
$button_positiveColors               : $button_positiveTextColor, $button_positiveBackgroundColor, $button_positiveHoverTextColor, $button_positiveHoverBackgroundColor, $button_positiveActiveTextColor, $button_positiveActiveBackgroundColor, $button_positiveBorderColor

$button_primaryBackgroundColor      : nth($primary, 6)
$button_primaryActiveBackgroundColor: nth($primary, 9)
$button_primaryHoverBackgroundColor : nth($primary, 7)
$button_primaryBorderColor          : nth($primary, 6)
$button_primaryActiveTextColor      : darken($white, 8%)
$button_primaryHoverTextColor       : darken($white, 8%)
$button_primaryTextColor            : $white
$button_primaryColors               : $button_primaryTextColor, $button_primaryBackgroundColor, $button_primaryHoverTextColor, $button_primaryHoverBackgroundColor, $button_primaryActiveTextColor, $button_primaryActiveBackgroundColor, $button_primaryBorderColor

$button_infoBackgroundColor      : nth($info, 6)
$button_infoActiveBackgroundColor: nth($info, 9)
$button_infoHoverBackgroundColor : nth($info, 7)
$button_infoBorderColor          : nth($info, 6)
$button_infoActiveTextColor      : darken($white, 8%)
$button_infoHoverTextColor       : darken($white, 8%)
$button_infoTextColor            : $white
$button_infoColors               : $button_infoTextColor, $button_infoBackgroundColor, $button_infoHoverTextColor, $button_infoHoverBackgroundColor, $button_infoActiveTextColor, $button_infoActiveBackgroundColor, $button_infoBorderColor

$button_warningBackgroundColor      : nth($warning, 6)
$button_warningActiveBackgroundColor: nth($warning, 8)
$button_warningHoverBackgroundColor : darken(nth($warning, 6), 20%)
$button_warningBorderColor          : nth($warning, 6)
$button_warningActiveTextColor      : darken(nth($warning, 9), 10%)
$button_warningHoverTextColor       : darken(nth($warning, 9), 2%)
$button_warningTextColor            : nth($warning, 9)
$button_warningColors               : $button_warningTextColor, $button_warningBackgroundColor, $button_warningHoverTextColor, $button_warningHoverBackgroundColor, $button_warningActiveTextColor, $button_warningActiveBackgroundColor, $button_warningBorderColor

$button_invertedBackgroundColor      : nth($inverted, 6)
$button_invertedActiveBackgroundColor: nth($inverted, 10)
$button_invertedHoverBackgroundColor : nth($inverted, 5)
$button_invertedBorderColor          : nth($inverted, 5)
$button_invertedActiveTextColor      : nth($inverted, 3)
$button_invertedHoverTextColor       : nth($inverted, 2)
$button_invertedTextColor            : $white
$button_invertedColors               : $button_invertedTextColor, $button_invertedBackgroundColor, $button_invertedHoverTextColor, $button_invertedHoverBackgroundColor, $button_invertedActiveTextColor, $button_invertedActiveBackgroundColor, $button_invertedBorderColor

$button_basicInvertedBorderColor: #FFF
$button_basicInvertedTextColor  : #FFF

$button_basicBackgroundColor: transparent
$button_basicBorderColor    : $button_defaultBackgroundColor
$button_basicTextColor      : $button_defaultTextColor

$button_invertedBasicHoverBackgroundColor: #FFF
$button_invertedBasicHoverTextColor      : darken($button_basicInvertedTextColor, 30%)

$button_invertedBasicActiveBackgroundColor: darken($button_invertedBasicHoverBackgroundColor, 15%)
$button_invertedBasicActiveTextColor      : $button_invertedBasicHoverBackgroundColor

//-------------------//
//       Sizes
//-------------------//

$button_miniFontSize   : $relativeMini
$button_tinyFontSize   : $relativeTiny
$button_smallFontSize  : $relativeSmall
$button_mediumFontSize : $relativeMedium
$button_largeFontSize  : $relativeLarge
$button_bigFontSize    : $relativeBig
$button_hugeFontSize   : $relativeHuge
$button_massiveFontSize: $relativeMassive

//-------------------//
//       Loader
//-------------------//

$button_loadingTransition: all 0s linear, opacity $defaultDuration $defaultEasing
$button_loaderFillColor  : rgba(200, 200, 200, 0.6)
$button_loaderLineColor  : #999

$button_coloredLoaderFillColor : rgba(200, 200, 200, 0.45)
$button_coloredLoaderLineColor : #FFF

//-------------------//
//      Pulsing
//-------------------//

$button_pulsingTransitionDuration: .3s
$button_pulsingDuration          : 1s
$button_pulsingTimingFunction    : cubic-bezier(0.24, 0, 0.38, 1)

//-------------------//
//       Common
//-------------------//

$button_verticalPadding  : $inputVerticalPadding
$button_horizontalPadding: 1.5em
$button_padding          : $button_verticalPadding $button_horizontalPadding

$button_compactPercentage       : 0.75
$button_compactVerticalPadding  : calc(#{$button_verticalPadding}   * #{$button_compactPercentage})
$button_compactHorizontalPadding: calc(#{$button_horizontalPadding} * #{$button_compactPercentage})
$button_compactPadding          : $button_compactVerticalPadding $button_compactHorizontalPadding

$button_veryCompactPercentage       : 0.6
$button_veryCompactVerticalPadding  : calc(#{$button_verticalPadding}   * #{$button_veryCompactPercentage})
$button_veryCompactHorizontalPadding: calc(#{$button_horizontalPadding} * #{$button_veryCompactPercentage})
$button_veryCompactPadding          : $button_veryCompactVerticalPadding $button_veryCompactHorizontalPadding

$button_borderRadius: $defaultBorderRadius
$button_fontSize    : $button_mediumFontSize
$button_fontWeight  : 700

//-------------------//
//      Labeled
//-------------------//

$button_labeledLabelFontSize    : $medium
$button_labeledLabelAlign       : center
$button_labeledLabelPadding     : ''
$button_labeledLabelFontSize    : $relativeMedium
$button_labeledLabelBorderColor : $globalDefaultBorderColor
$button_labeledLabelBorderOffset: -1px
$button_labeledTagLabelSize     : 1.85em
$button_labeledIconMargin       : 0em

//-------------------//
//    Labeled Icon
//-------------------//

$button_labeledIconWidthCalculation: unquote("1em + #{$button_verticalPadding} * 2")
$button_labeledIconWidth           : calc(#{$button_labeledIconWidthCalculation})
$button_labeledIconBackgroundColor : rgba(0, 0, 0, 0.05)
$button_labeledIconPadding         : calc(#{$button_horizontalPadding} + #{$button_labeledIconWidthCalculation})
$button_labeledIconBorder          : transparent
$button_labeledIconColor           : ''

$button_compactLabeledIconWidthCalculation: unquote("1em + #{$button_verticalPadding} * 1.8")
$button_compactLabeledIconWidth           : calc(#{$button_compactLabeledIconWidthCalculation})
$button_compactLabeledIconPadding         : calc(#{$button_horizontalPadding} * #{$button_compactPercentage} + #{$button_compactLabeledIconWidthCalculation})

$button_veryCompactLabeledIconWidthCalculation: unquote("1em + #{$button_verticalPadding} * 1.6")
$button_veryCompactLabeledIconWidth           : calc(#{$button_veryCompactLabeledIconWidthCalculation})
$button_veryCompactLabeledIconPadding         : calc(#{$button_horizontalPadding} * #{$button_veryCompactPercentage} + #{$button_veryCompactLabeledIconWidthCalculation})

$button_labeledIconLeftShadow: -1px 0px 0px 0px $button_labeledIconBorder inset
$button_labeledIconRightShadow: 1px 0px 0px 0px $button_labeledIconBorder inset

//-------------------//
//        Icon
//-------------------//

$button_iconFontSize     : 1.1em
$button_iconHeight       : $relativeTiny
$button_iconOpacity      : 0.8
$button_iconDistance     : $relative6px
$button_iconColor        : ''
$button_iconTransition   : opacity $defaultDuration $defaultEasing
$button_iconVerticalAlign: ''
$button_iconMargin       : 0em $button_iconDistance 0em calc(-#{$button_iconDistance} / 2)
$button_rightIconMargin  : 0em calc(-#{$button_iconDistance} / 2) 0em $button_iconDistance

//-------------------//
//      Buttons
//-------------------//

$button_buttonsSeparatedHorizontalMargin: 0.65em
$button_buttonsSeparatedVerticalMargin  : 0.65em

$button_buttonsRelaxedSeparatedHorizontalMargin: 0.95em
$button_buttonsRelaxedSeparatedVerticalMargin  : 0.95em

//-------------------//
//         Or
//-------------------//

$button_orText  : "或"
$button_orGap   : 0.3em
$button_orHeight: $button_verticalPadding * 2 + 1em

$button_orCircleDistanceToEdge: $button_verticalPadding
$button_orCircleSize          : $button_orHeight - $button_orCircleDistanceToEdge
$button_orLineHeight          : $button_orCircleSize

$button_orVerticalOffset  : calc(-#{$button_orCircleSize} / 2.2)
$button_orHorizontalOffset: calc(-#{$button_orCircleSize} / 2)
$button_orBackgroundColor : #FFF
$button_orTextStyle       : normal
$button_orTextWeight      : 500
$button_orTextColor       : nth($grey, 7)

$button_orSpacerHeight: verticalPadding
$button_orSpacerColor : transparent