$container_maxWidth    : 100%
$container_paddedMargin: 2em

//-------------------//
//        Grid
//-------------------//

$container_gridColumnsPadding       : $columnPadding * 2
$container_gridRelaxedColumnsPadding: $columnRelaxedPadding * 2

$container_gridMaxWidth       : calc(#{$container_maxWidth} + #{$container_gridColumnsPadding})
$container_relaxedGridMaxWidth: calc(#{$container_maxWidth} + #{$container_gridRelaxedColumnsPadding})

//-------------------//
//       Mobile
//-------------------//

$container_mobileMinimumGutter       : 0em
$container_mobileGutter              : $columnRelaxedPadding * 1.1
$container_mobileWidth               : auto

$container_mobileGridHorizontalPadding       : -$columnPadding - -$container_mobileGutter
$container_mobileRelaxedGridHorizontalPadding: 1px

//-------------------//
//       Tablet
//-------------------//

$container_tabletMinimumGutter       : $emSize * 1
$container_tabletGutter              : auto
$container_tabletWidth               : $rwdTabletMin - $container_tabletMinimumGutter * 2 - $scrollbarWidth

$container_tabletGridWidth       : calc(#{$container_tabletWidth} + #{$container_gridColumnsPadding})
$container_tabletRelaxedGridWidth: calc(#{$container_tabletWidth} + #{$container_gridRelaxedColumnsPadding})

//-------------------//
//      Computer
//-------------------//

$container_computerMinimumGutter       : $emSize * 1.5
$container_computerGutter              : auto
$container_computerWidth               : $rwdComputerMin - $container_computerMinimumGutter * 2 - $scrollbarWidth

$container_computerGridWidth       : calc(#{$container_computerWidth} + #{$container_gridColumnsPadding})
$container_computerRelaxedGridWidth: calc(#{$container_computerWidth} + #{$container_gridRelaxedColumnsPadding})

//-------------------//
//   Large Monitor
//-------------------//

$container_largeMonitorMinimumGutter       : $emSize * 2
$container_largeMonitorGutter              : auto
$container_largeMonitorWidth               : $rwdLargeMin - $container_largeMonitorMinimumGutter * 2 - $scrollbarWidth

$container_largeMonitorGridWidth       : calc(#{$container_largeMonitorWidth} + #{$container_gridColumnsPadding})
$container_largeMonitorRelaxedGridWidth: calc(#{$container_largeMonitorWidth} + #{$container_gridRelaxedColumnsPadding})

//-------------------//
//       Narrow
//-------------------//

$container_narrowGutter        : $columnRelaxedPadding * 1.1
$container_narrowWidth         : $rwdComputerMin
$container_narrowBreakPoint    : 1015px

$container_narrowGridMaxWidth       : calc(#{$container_narrowWidth} + #{$container_gridColumnsPadding})
$container_narrowRelaxedGridMaxWidth: calc(#{$container_narrowWidth} + #{$container_gridRelaxedColumnsPadding})

$container_narrowGridHorizontalPadding       : -$columnPadding - -$container_narrowGutter
$container_narrowRelaxedGridHorizontalPadding: 1px

//-------------------//
//    Very Narrow
//-------------------//

$container_veryNarrowWidth     : 700px
$container_veryNarrowBreakPoint: 724px

$container_veryNarrowGridMaxWidth       : calc(#{$container_veryNarrowWidth} + #{$container_gridColumnsPadding})
$container_veryNarrowRelaxedGridMaxWidth: calc(#{$container_veryNarrowWidth} + #{$container_gridRelaxedColumnsPadding})

$container_veryNarrowGridHorizontalPadding       : -$columnPadding - -$container_narrowGutter
$container_veryNarrowRelaxedGridHorizontalPadding: 1px

//-------------------//
//        Text
//-------------------//

$container_textWidth       : 860px
$container_textLineHeight  : 1.5
$container_textFontSize    : $large

$container_textGridMaxWidth       : calc(#{$container_textWidth} + #{$container_gridColumnsPadding})
$container_textRelaxedGridMaxWidth: calc(#{$container_textWidth} + #{$container_gridRelaxedColumnsPadding})

//-------------------//
//       Fluid
//-------------------//

$container_fluidGridMaxWidth       : calc(100% + #{$container_gridColumnsPadding})
$container_fluidRelaxedGridMaxWidth: calc(100% + #{$container_gridRelaxedColumnsPadding})