//-------------------//
//       Paths
//-------------------//

$flag_imageBasePath: './flags'
$flag_4by3ImagePath: '/4x3'
$flag_1by1ImagePath: '/1x1'

//-------------------//
//       Border
//-------------------//

$flag_borderRadius: $defaultBorderRadius
$flag_border      : 1px solid nth($grey, 4)

//-------------------//
//       Sizes
//-------------------//

$flag_miniSize   : $relativeMini
$flag_tinySize   : $relativeTiny
$flag_smallSize  : $relativeSmall
$flag_mediumSize : $relativeMedium
$flag_largeSize  : $relativeLarge
$flag_bigSize    : $relativeBig
$flag_hugeSize   : $relativeHuge
$flag_massiveSize: $relativeMassive