$header_fontWeight: 500
$header_lineHeight: $headerLineHeight
$header_margin    : $headerMargin
$header_commonSize: 1.28em

$header_dividedEmphasizedBorderWidth: 2px
$header_dividedBorderWidth          : 1px
$header_dividedBorderPadding        : 6px
$header_dividedBorder               : $header_dividedBorderWidth solid $borderColor

$header_color: nth($grey, 9)

$header_subHeaderLineHeight: 2em
$header_subHeaderColor     : nth($grey, 8)

$header_firstMargin: 0
$header_lastMargin : 0

//-------------------//
//       Block
//-------------------//

$header_blockBorderWidth      : 1px
$header_blockVerticalPadding  : 1rem
$header_blockHorizontalPadding: 1rem
$header_blockPadding          : $header_blockVerticalPadding $header_blockHorizontalPadding
$header_blockBorder           : $header_blockBorderWidth solid nth($grey, 4)
$header_blockBackgroundColor  : nth($grey, 1)
$header_blockBorderRadius     : $defaultBorderRadius

$header_attachedBackgroundColor: $white

//-------------------//
//       Sizes
//-------------------//

$header_h1SubHeaderFontSize: $large
$header_h2SubHeaderFontSize: $large
$header_h3SubHeaderFontSize: $medium
$header_h4SubHeaderFontSize: $medium
$header_h5SubHeaderFontSize: $small
$header_h6SubHeaderFontSize: $small

$header_massiveFontSize: ($h1 / 1rem) * 1em
$header_hugeFontSize   : ($h2 / 1rem) * 1em
$header_bigFontSize    : ($h3 / 1rem) * 1em
$header_largeFontSize  : ($h4 / 1rem) * 1em
$header_mediumFontSize : ($h5 / 1rem) * 1em
$header_smallFontSize  : ($h6 / 1rem) * 1em
$header_tinyFontSize   : $relativeTiny
$header_miniFontSize   : $relativeMini

$header_massiveSubHeaderFontSize: $header_h1SubHeaderFontSize
$header_hugeSubHeaderFontSize  : $header_h1SubHeaderFontSize
$header_bigSubHeaderFontSize   : $header_h1SubHeaderFontSize
$header_largeSubHeaderFontSize : $header_h2SubHeaderFontSize
$header_mediumSubHeaderFontSize: $header_h3SubHeaderFontSize
$header_smallSubHeaderFontSize : $header_h4SubHeaderFontSize
$header_tinySubHeaderFontSize  : $header_h5SubHeaderFontSize
$header_miniSubHeaderFontSize  : $header_h6SubHeaderFontSize

//-------------------//
//      Emphasis
//-------------------//

$header_negativeBorderColor : nth($negative, 6)
$header_negativeTextColor   : nth($negative, 6)
$header_negativeSubTextColor: nth($negative, 5)

$header_positiveBorderColor : nth($positive, 6)
$header_positiveTextColor   : nth($positive, 6)
$header_positiveSubTextColor: nth($positive, 5)

$header_primaryBorderColor : nth($primary, 6)
$header_primaryTextColor   : nth($primary, 6)
$header_primarySubTextColor: nth($primary, 5)

$header_infoBorderColor : nth($info, 6)
$header_infoTextColor   : nth($info, 6)
$header_infoSubTextColor: nth($info, 5)

$header_warningBorderColor : nth($warning, 6)
$header_warningTextColor   : nth($warning, 6)
$header_warningSubTextColor: nth($warning, 5)

$header_invertedBorderColor : $white
$header_invertedTextColor   : $white
$header_invertedSubTextColor: darken($white, 5%)

//-------------------//
//       Icon
//-------------------//

$header_topAlignedIconOffset : -.08em

$header_massiveIconHeaderSize : 5em
$header_hugeIconHeaderSize    : 4.5em
$header_bigIconHeaderSize     : 4em
$header_largeIconHeaderSize   : 3.5em
$header_iconHeaderSize        : 3em
$header_smallIconHeaderSize   : 2em
$header_tinyIconHeaderSize    : 1.5em
$header_miniIconHeaderSize    : 1em
$header_iconHeaderOpacity     : 1
$header_iconHeaderMargin      : 0.5rem
$header_circularHeaderIconSize: 2em
$header_roundedHeaderIconSize : 2em

/* No Line Height Offset */
$header_iconHeaderTopMargin   : 2rem
$header_iconHeaderBottomMargin: 0
$header_iconHeaderFirstMargin : 0em

$header_iconOpacity: 1
$header_iconSize   : 1.5em
$header_iconOffset : $lineHeightOffset
$header_iconMargin : 0.75rem

//-------------------//
//       Image
//-------------------//

$header_imageWidth: 2.5em
$header_imageHeight: auto
$header_imageOffset: $lineHeightOffset
$header_imageMargin: $header_iconMargin

//-------------------//
//       Label
//-------------------//

$header_labelSize    : ''
$header_labelDistance: 0.5rem