$input_borderWidth     : 1px
$input_hoverBorderColor: $color_border_hover
$input_borderColor     : $color_border
$input_border          : $input_borderWidth solid $input_borderColor
$input_borderRadius    : $defaultBorderRadius

$input_verticalPadding  : $inputVerticalPadding
$input_horizontalPadding: $inputHorizontalPadding
$input_padding          : $input_verticalPadding $input_horizontalPadding

$input_backgroundColor: $color_input_background

$input_transitionDuration: 0.1s

$input_focusBorderColor : #66afe9

$input_placeholderOpacity     : 0.65
$input_placeholderFocusOpacity: 0.9

//-------------------//
//       States
//-------------------//

$input_errorFocusBorderColor: $color_input_errorFocusBorder
$input_errorHoverBorderColor: $color_input_errorHoverBorder
$input_errorTextColor       : $color_input_error
$input_errorBackgroundColor : $color_input_errorBackground
$input_errorBorderColor     : $color_input_errorBorder

$input_warningFocusBorderColor: $color_input_warningFocusBorder
$input_warningHoverBorderColor: $color_input_warningHoverBorder
$input_warningTextColor       : $color_input_warning
$input_warningBackgroundColor : $color_input_warningBackground
$input_warningBorderColor     : $color_input_warningBorder

$input_successFocusBorderColor: $color_input_successFocusBorder
$input_successHoverBorderColor: $color_input_successHoverBorder
$input_successTextColor       : $color_input_success
$input_successBackgroundColor : $color_input_successBackground
$input_successBorderColor     : $color_input_successBorder

$input_successIconURL: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{str-replace($color_positive, '#', '%23')}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E")
$input_warningIconURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{str-replace($color_warning, '#', '%23')}' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/></svg>")
$input_errorIconURL  : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{str-replace($color_negative, '#', '%23')}' viewBox='-2 -2 7 7'%3E%3Cpath stroke='#{str-replace($color_negative, '#', '%23')}' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E")

//-------------------//
//        Icon
//-------------------//

$input_iconSize                  : 1em
$input_iconPaddingRight          : calc(#{$input_verticalPadding} * 2 + #{$input_iconSize})
$input_backgroundIconPaddingRight: $input_verticalPadding

$input_iconWidth       : calc(#{$input_horizontalPadding} * 2 + #{$glyphWidth})
$input_iconOpacity     : 0.5
$input_iconFocusOpacity: 1
$input_iconOffset      : -0.5em
$input_iconDistance    : 0em
$input_iconMargin      : calc(#{$input_horizontalPadding} * 2 + #{$glyphWidth} + #{$input_iconDistance}) 
$input_iconTransition  : opacity 0.3s $defaultEasing

$input_transparentIconWidth : $glyphWidth
$input_transparentIconMargin: 2em

/* Circular Icon Input */
$input_circularIconVerticalOffset  : 0.45em
$input_circularIconHorizontalOffset: 0.5em

//-------------------//
// Inverted Emphasis
//-------------------//

$input_invertedNegativeBackgroundColor : $color_input_invertedNegaitveBackground
$input_invertedNegativeBorderColor     : $color_input_invertedNegaitveBorder
$input_invertedNegativeHoverBorderColor: $color_input_invertedNegaitveHoverBorder
$input_invertedNegativeFocusBorderColor: $color_input_invertedNegaitveFocusBorder
$input_invertedNegativeTextColor       : $color_input_invertedNegaitve

$input_invertedPositiveBackgroundColor : $color_input_invertedPositiveBackground
$input_invertedPositiveBorderColor     : $color_input_invertedPositiveBorder
$input_invertedPositiveHoverBorderColor: $color_input_invertedPositiveHoverBorder
$input_invertedPositiveFocusBorderColor: $color_input_invertedPositiveFocusBorder
$input_invertedPositiveTextColor       : $color_input_invertedPositive
 
$input_invertedPrimaryBackgroundColor : $color_input_invertedPrimaryBackground
$input_invertedPrimaryBorderColor     : $color_input_invertedPrimaryBorder
$input_invertedPrimaryHoverBorderColor: $color_input_invertedPrimaryHoverBorder
$input_invertedPrimaryFocusBorderColor: $color_input_invertedPrimaryFocusBorder
$input_invertedPrimaryTextColor       : $color_input_invertedPrimary

$input_invertedInfoBackgroundColor : $color_input_invertedInfoBackground
$input_invertedInfoBorderColor     : $color_input_invertedInfoBorder
$input_invertedInfoHoverBorderColor: $color_input_invertedInfoHoverBorder
$input_invertedInfoFocusBorderColor: $color_input_invertedInfoFocusBorder
$input_invertedInfoTextColor       : $color_input_invertedInfo

$input_invertedWarningBackgroundColor : $color_input_invertedWarningBackground
$input_invertedWarningBorderColor     : $color_input_invertedWarningBorder
$input_invertedWarningHoverBorderColor: $color_input_invertedWarningHoverBorder
$input_invertedWarningFocusBorderColor: $color_input_invertedWarningFocusBorder
$input_invertedWarningTextColor       : $color_input_invertedWarning

$input_invertedBackgroundColor : $color_input_invertedBackground
$input_invertedBorderColor     : $color_input_invertedBorder
$input_invertedHoverBorderColor: $color_input_invertedHoverBorder
$input_invertedFocusBorderColor: $color_input_invertedFocusBorder
$input_invertedTextColor       : $color_input_inverted

//-------------------//
//    Underlined
//-------------------//

$input_underlinedShadow: inset 0px -11px 0px -10px