$input_borderWidth: 1px
$input_hoverBorderColor: $selectedBorderColor
$input_border: $input_borderWidth solid $borderColor
$input_transitionDuration: 0.1s
$input_verticalPadding  : $inputVerticalPadding
$input_horizontalPadding: $inputHorizontalPadding

$input_padding: $input_verticalPadding $input_horizontalPadding

$input_focusBoxShadow: 0 0 .5rem rgba(81, 203, 238, 1)
$input_focusBorderColor: #67D7FF

$input_errorFocusBoxShadow: 0 0 .5rem rgba(#DE8F8B, 1)
$input_errorFocusBorderColor: #FF9F9A
$input_errorTextColor: #E64848
$input_errorBackgroundColor: #FDEBEA

$input_borderRadius: $defaultBorderRadius