$label_verticalAlign   : middle
$label_verticalMargin  : 0em
$label_horizontalMargin: $relative2px

$label_verticalPadding  : 0.5833em
$label_horizontalPadding: 0.833em

$label_compactVerticalPadding  : calc(#{$label_verticalPadding} / 1.5)
$label_compactHorizontalPadding: calc(#{$label_horizontalPadding} / 1.5)

$label_borderRadius: $absoluteBorderRadius
$label_borderWidth : 1px
$label_border      : $label_borderWidth solid nth($grey, 4)

$label_fontWeight: 500

$label_labelTransitionDuration: $defaultDuration
$label_labelTransitionEasing  : $defaultEasing
$label_transition             : background $label_labelTransitionDuration $label_labelTransitionEasing

$label_height: 1em + $label_verticalPadding * 2

/* Group */
$label_groupVerticalMargin  : 0.5em
$label_groupHorizontalMargin: 0.5em

$label_linkOpacity   : 0.5
$label_linkTransition: $label_labelTransitionDuration opacity $label_labelTransitionEasing

/* Icon */
$label_iconDistance: 0.75em

/* Image */
$label_imageHeight: calc(1em + #{$label_verticalPadding} * 2)

/* Detail */
$label_detailFontWeight  : 500
$label_detailOpacity     : 0.8
$label_detailIconDistance: 0.25em
$label_detailMargin      : 1em

/* Delete */
$label_deleteMargin     : 0.5em
$label_deleteRightMargin: -0.2em

//-------------------//
//    Image Label
//-------------------//

$label_imageLabelVerticalPadding  : $label_verticalPadding
$label_imageLabelHorizontalPadding: $label_horizontalPadding
$label_imageLabelTextDistance     : 0.5em
$label_imageLabelDetailDistance   : $label_imageLabelTextDistance
$label_imageLabelBorderRadius     : $label_borderRadius
$label_imageLabelBoxShadow        : none
$label_imageLabelPadding          : $label_imageLabelVerticalPadding $label_imageLabelHorizontalPadding $label_imageLabelVerticalPadding $label_imageLabelTextDistance

$label_imageLabelImageMargin      : -#{$label_verticalPadding} $label_imageLabelTextDistance -#{$label_verticalPadding} -#{$label_imageLabelTextDistance}
$label_imageLabelImageBorderRadius: $label_imageLabelBorderRadius 0em 0em $label_imageLabelBorderRadius
$label_imageLabelImageHeight      : $label_imageHeight

$label_imageLabelDetailBackground: $strongTransparentBlack
$label_imageLabelDetailPadding   : $label_imageLabelVerticalPadding $label_imageLabelHorizontalPadding
$label_imageLabelDetailMargin    : -#{$label_imageLabelVerticalPadding} -#{$label_imageLabelHorizontalPadding} -#{$label_imageLabelVerticalPadding} $label_imageLabelDetailDistance

//-------------------//
//        Sizes
//-------------------//

$label_mini    : $absolute9px
$label_tiny    : $absolute10px
$label_small   : $absolute11px
$label_medium  : $absolute12px
$label_large   : $absoluteMedium
$label_big     : $absoluteBig
$label_huge    : $absoluteHuge
$label_massive : $absoluteMassive

//-------------------//
//       Basic
//-------------------//

$label_basicBackground : $white
$label_basicBorderWidth: 1px
$label_basicBorder     : $label_basicBorderWidth solid nth($grey, 4)
$label_basicColor      : nth($grey, 8)

$label_basicHoverBackground: $label_basicBackground
$label_basicHoverColor     : nth($link, 5)
$label_basicActiveColor    : nth($link, 7)
$label_basicHoverBorder    : nth($grey, 4) //darken(nth($grey, 4), 5%)

//-------------------//
//      Attached
//-------------------//

$label_attachedSegmentPadding   : 2rem
$label_attachedVerticalPadding  : 0.75em
$label_attachedHorizontalPadding: 1em

$label_attachedCornerBorderRadius: $absolute3px
$label_attachedBorderRadius      : $label_borderRadius

//-------------------//
//      Floating
//-------------------//

$label_floatingTopOffset : -1em
$label_floatingLeftOffset: -1.5em

//-------------------//
//      Emphasis
//-------------------//

$label_defaultBackgroundColor      : lighten(nth($grey, 4), 2%)
$label_defaultBorderColor          : darken(nth($grey, 3), 2%)
$label_defaultDetailBackgroundColor: darken($label_defaultBackgroundColor, 5%)
$label_defaultDetailTextColor      : nth($grey, 8)
$label_defaultTextColor            : nth($grey, 8)
$label_defaultColors               : $label_defaultTextColor, $label_defaultBackgroundColor, $label_defaultBorderColor, $label_defaultDetailTextColor, $label_defaultDetailBackgroundColor

$label_negativeBackgroundColor      : nth($negative, 6)
$label_negativeBorderColor          : nth($negative, 6)
$label_negativeTextColor            : $white
$label_negativeDetailBackgroundColor: darken(nth($negative, 6), 5%)
$label_negativeDetailTextColor      : $white
$label_negativeColors               : $label_negativeTextColor, $label_negativeBackgroundColor, $label_negativeBorderColor, $label_negativeDetailTextColor, $label_negativeDetailBackgroundColor

$label_positiveBackgroundColor      : nth($positive, 6)
$label_positiveBorderColor          : nth($positive, 6)
$label_positiveTextColor            : $white
$label_positiveDetailBackgroundColor: darken(nth($positive, 6), 5%)
$label_positiveDetailTextColor      : $white
$label_positiveColors               : $label_positiveTextColor, $label_positiveBackgroundColor, $label_positiveBorderColor, $label_positiveDetailTextColor, $label_positiveDetailBackgroundColor

$label_primaryBackgroundColor      : nth($primary, 6)
$label_primaryBorderColor          : nth($primary, 6)
$label_primaryTextColor            : $white
$label_primaryDetailBackgroundColor: darken(nth($primary, 6), 5%)
$label_primaryDetailTextColor      : $white
$label_primaryColors               : $label_primaryTextColor, $label_primaryBackgroundColor, $label_primaryBorderColor, $label_primaryDetailTextColor, $label_primaryDetailBackgroundColor

$label_warningBackgroundColor      : nth($warning, 6)
$label_warningBorderColor          : nth($warning, 6)
$label_warningTextColor            : nth($warning, 9)
$label_warningDetailBackgroundColor: darken(nth($warning, 6), 5%)
$label_warningDetailTextColor      : nth($warning, 10)
$label_warningColors               : $label_warningTextColor, $label_warningBackgroundColor, $label_warningBorderColor, $label_warningDetailTextColor, $label_warningDetailBackgroundColor

$label_infoBackgroundColor      : nth($info, 6)
$label_infoBorderColor          : nth($info, 6)
$label_infoTextColor            : $white
$label_infoDetailBackgroundColor: darken(nth($info, 6), 5%)
$label_infoDetailTextColor      : $white
$label_infoColors               : $label_infoTextColor, $label_infoBackgroundColor, $label_infoBorderColor, $label_infoDetailTextColor, $label_infoDetailBackgroundColor

$label_invertedBackgroundColor      : nth($inverted, 6)
$label_invertedBorderColor          : nth($inverted, 5)
$label_invertedTextColor            : nth($inverted, 1)
$label_invertedDetailBackgroundColor: darken(nth($inverted, 6), 5%)
$label_invertedDetailTextColor      : nth($inverted, 1)
$label_invertedColors               : $label_invertedTextColor, $label_invertedBackgroundColor, $label_invertedBorderColor, $label_invertedDetailTextColor, $label_invertedDetailBackgroundColor

//-------------------//
//     Horizontal
//-------------------//

$label_horizontalLabelMinWidth       : 3em
$label_horizontalLabelMargin         : 0.5em
$label_horizontalLabelVerticalPadding: 0.25em

//-------------------//
//      Pointing
//-------------------//

$label_pointingBorderColor       : inherit
$label_pointingBorderWidth       : $label_borderWidth
$label_pointingVerticalDistance  : 1em
$label_pointingTriangleSize      : 0.6666em
$label_pointingHorizontalDistance: $label_pointingTriangleSize
$label_pointingTriangleTransition: background $label_labelTransitionDuration $label_labelTransitionEasing

/* Basic Pointing */
$label_basicPointingTriangleOffset: -$label_pointingBorderWidth