@charset "UTF-8"

//-------------------//
//        View
//-------------------//

/* List */
$list_invertedTextColor: $color_inverted_invertedText
$list_textColor        : $color_text
$list_listStyleType    : none
$list_listStylePosition: outside
$list_margin           : 1em 0em
$list_verticalPadding  : 0em
$list_horizontalPadding: 0em

/* List Item */
$list_itemVerticalPadding  : $relative4px
$list_itemHorizontalPadding: 0em
$list_itemPadding          : $list_itemVerticalPadding $list_itemHorizontalPadding
$list_itemLineHeight       : $relativeLarge

/* Sub List */
$list_childListPadding: 0.75em 0em 0.25em 0.75em
$list_childListIndent : 1em

/* Sub List Item */
$list_childItemVerticalPadding  : $relative3px
$list_childItemHorizontalPadding: 0em
$list_childItemPadding          : $list_childItemVerticalPadding $list_childItemHorizontalPadding
$list_childItemLineHeight       : inherit

//-------------------//
//      Elements
//-------------------//

/* Icon */
$list_iconDistance            : $relative4px
$list_iconOffset              : calc((#{$list_itemLineHeight} - 1rem) / 2)
$list_iconTransition          : color $defaultDuration $defaultEasing
$list_iconVerticalAlign       : top
$list_iconContentVerticalAlign: top

/* Image */
$list_imageDistance: 0.5em
$list_imageAlign   : top

/* Content */
$list_contentDistance        : 0.5em
$list_contentLineHeight      : $list_itemLineHeight
$list_contentLineHeightOffset: ($list_contentLineHeight - 1em) / 2
$list_contentVerticalAlign   : top

/* Header */
$list_itemHeaderFontWeight: 500
$list_itemHeaderColor     : $color_header

/* Description */
$list_itemDescriptionColor: $color_text

/* Link */
$list_itemLinkColor     : $color_link
$list_itemLinkHoverColor: $color_link_hover

/* Header Link */
$list_itemHeaderLinkColor     : $color_link
$list_itemHeaderLinkHoverColor: $color_link_hover

/* Linked Icon */
$list_itemLinkIconColor         : $color_text_lighten
$list_itemLinkIconHoverColor    : $color_text
$list_invertedIconLinkColor     : nth($inverted, 3)
$list_invertedIconLinkHoverColor: nth($inverted, 1)

//-------------------//
//      States
//-------------------//

$list_disabledColor        : $color_text_disabled
$list_invertedDisabledColor: $color_inverted_disabled

//-------------------//
//      Emphasis
//-------------------//

$list_primaryItemColor : $color_primary
$list_infoItemColor    : $color_info
$list_warningItemColor : $color_warning
$list_positiveItemColor: $color_positive
$list_negativeItemColor: $color_negative

/* Inverted */
$list_invertedPrimaryItemColor : $color_primary
$list_invertedInfoItemColor    : $color_info
$list_invertedWarningItemColor : $color_warning
$list_invertedPositiveItemColor: $color_positive
$list_invertedNegativeItemColor: $color_negative

//-------------------//
//     Variations
//-------------------//

/* Float */
$list_floatDistance   : 1em
$list_leftFloatMargin : 0em $list_floatDistance 0em 0em
$list_rightFloatMargin: 0em 0em 0em $list_floatDistance

/* Horizontal */
$list_horizontalSpacing      : 1em
$list_horizontalIconDistance : 0.25em
$list_horizontalVerticalAlign: middle

/* Inverted */
$list_invertedHeaderColor       : $color_inverted_invertedHeader
$list_invertedDescriptionColor  : $color_inverted_invertedText
$list_invertedItemLinkColor     : $color_inverted_invertedLink
$list_invertedItemLinkHoverColor: $color_inverted_invertedLinkHover

/* Link List */
$list_linkListItemColor      : $color_text
$list_linkListItemHoverColor : $color_text_hover
$list_linkListItemDownColor  : $color_text_pressed
$list_linkListItemActiveColor: $color_text_active

/* Inverted Link List */
$list_invertedLinkListItemColor      : $color_inverted_invertedText
$list_invertedLinkListItemHoverColor : $color_inverted_invertedTextHover
$list_invertedLinkListItemDownColor  : $color_inverted_invertedTextPressed
$list_invertedLinkListItemActiveColor: $color_inverted_invertedTextActive

/* Selection List */
$list_selectionListItemMargin           : 0em
$list_selectionListItemBorderRadius     : $defaultBorderRadius
$list_selectionListItemVerticalPadding  : 0.5em
$list_selectionListItemHorizontalPadding: 0.5em
$list_selectionListTransition           : $defaultDuration color $defaultEasing, $defaultDuration padding-left $defaultEasing, $defaultDuration background-color $defaultEasing

/* Selection List States */
$list_selectionListBackground      : transparent
$list_selectionListColor           : $color_text
$list_selectionListHoverBackground : $color_text_backgroundHover
$list_selectionListHoverColor      : $color_text_hover
$list_selectionListDownBackground  : $color_text_backgroundPress
$list_selectionListDownColor       : $color_text_pressed
$list_selectionListActiveBackground: $color_text_backgroundActive
$list_selectionListActiveColor     : $color_text_active

/* Inverted Selection List */
$list_invertedSelectionListBackground      : transparent
$list_invertedSelectionListColor           : $list_invertedTextColor
$list_invertedSelectionListHoverBackground : rgba(0, 0, 0, 0.1)
$list_invertedSelectionListHoverColor      : lighten($list_invertedTextColor, 5%)
$list_invertedSelectionListDownBackground  : rgba(0, 0, 0, 0.2)
$list_invertedSelectionListDownColor       : darken($list_invertedTextColor, 5%)
$list_invertedSelectionListActiveBackground: rgba(0, 0, 0, 0.2)
$list_invertedSelectionListActiveColor     : darken($list_invertedTextColor, 5%)

/* Animated List */
$list_animatedDuration      : 0.25s
$list_animatedDelay         : 0.1s
$list_animatedListTransition: $list_animatedDuration color $defaultEasing $list_animatedDelay, $list_animatedDuration padding-left $defaultEasing $list_animatedDelay, $list_animatedDuration background-color $defaultEasing $list_animatedDelay

$list_animatedListIndent: 1em

/* Bulleted */
$list_bulletDistance: 1.25rem
$list_bulletOffset  : -$list_bulletDistance

$list_bulletOpacity      : 1
$list_bulletColor        : $color_text
$list_invertedBulletColor: $color_inverted_invertedText

/* Horizontal Bullets */
$list_horizontalBulletSpacing: $relative8px

/* Ordered List */
$list_orderedCountName         : ordered
$list_orderedCountContent      : counters(ordered, ".") " "
$list_orderedCountColor        : $color_text_lighten
$list_orderedCountDistance     : 1.25rem
$list_orderedCountOpacity      : 1
$list_orderedCountTextAlign    : right
$list_orderedCountVerticalAlign: middle

$list_orderedChildCountDistance         : 1em
$list_orderedChildCountOffset           : -2em
$list_orderedcChildChildCountOffset     : -3em
$list_orderedcChildChildChildCountOffset: -4em

$list_orderedInvertedCountColor: $color_inverted_invertedTextLighten

/* Horizontal Ordered */
$list_horizontalOrderedCountDistance: 0.5em

/* Divided */
$list_dividedBorderWidth        : 1px
$list_dividedBorder             : $list_dividedBorderWidth solid $color_border
$list_dividedInvertedBorderColor: $color_inverted_border
$list_dividedChildListBorder    : none
$list_dividedChildItemBorder    : none

/* Divided Horizontal */
$list_horizontalDividedSpacing   : calc(#{$list_horizontalSpacing} / 2)
$list_horizontalDividedLineHeight: 0.6

/* Divided */
$list_celledBorderWidth           : 1px
$list_celledBorder                : $list_celledBorderWidth solid $color_border
$list_celledInvertedBorderColor   : $color_inverted_border
$list_celledInvertedBorder        : $list_dividedBorderWidth solid $list_celledInvertedBorderColor
$list_celledHorizontalPadding     : 1em
$list_celledVerticalPadding       : 1em
$list_celledItemPadding           : $list_celledVerticalPadding $list_celledHorizontalPadding
$list_relaxedCelledItemPadding    : $list_celledVerticalPadding $list_celledHorizontalPadding
$list_veryRelaxedCelledItemPadding: $list_celledVerticalPadding $list_celledHorizontalPadding
$list_celledChildListBorder       : none
$list_celledChildItemBorder       : none

/* Divided Horizontal */
$list_horizontalCelledSpacing   : ($list_horizontalSpacing / 2)
$list_horizontalCelledLineHeight: 0.6

/* Relaxed */
$list_relaxedItemVerticalPadding     : $relative6px
$list_relaxedChildItemVerticalPadding: $relative3px
$list_relaxedHeaderMargin            : 0.25rem
$list_relaxedHorizontalPadding       : 1rem

/* Very Relaxed */
$list_veryRelaxedItemVerticalPadding     : $relative12px
$list_veryRelaxedChildItemVerticalPadding: $relative4px
$list_veryRelaxedHeaderMargin            : 0.5rem
$list_veryRelaxedHorizontalPadding       : 1.5rem

$list_descriptionMarginTop: .2rem

$list_floatedContentHorizontalMargin: $list_itemVerticalPadding