@charset "UTF-8"

//-------------------//
//        View
//-------------------//

/* List */
$list_invertedTextColor: nth($inverted, 1)
$list_textColor        : nth($grey, 8)
$list_listStyleType    : none
$list_listStylePosition: outside
$list_margin           : 1em 0em
$list_verticalPadding  : 0em
$list_horizontalPadding: 0em

/* List Item */
$list_itemVerticalPadding  : $relative4px
$list_itemHorizontalPadding: 0em
$list_itemPadding          : $list_itemVerticalPadding $list_itemHorizontalPadding
$list_itemLineHeight       : $relativeLarge

/* Sub List */
$list_childListPadding: 0.75em 0em 0.25em 0.75em
$list_childListIndent : 1em

/* Sub List Item */
$list_childItemVerticalPadding  : $relative3px
$list_childItemHorizontalPadding: 0em
$list_childItemPadding          : $list_childItemVerticalPadding $list_childItemHorizontalPadding
$list_childItemLineHeight       : inherit

//-------------------//
//     Segmented
//-------------------//

$list_segmentedVerticalPadding  : 1em
$list_segmentedhorizontalPadding: 1em

$list_segmentedPadding     : $list_segmentedVerticalPadding $list_segmentedhorizontalPadding
$list_segmentedBorder      : 1px solid nth($grey, 4)
$list_segmentedBorderRadius: $defaultBorderRadius
$list_segmentedBoxShadow   : $subtleShadow

$list_segmentedInvertedBckgroundColor: nth($inverted, 6)
$list_segmentedInvertedBorderColor: nth($inverted, 5)

//-------------------//
//      Elements
//-------------------//

/* Icon */
$list_iconDistance            : $relative4px
$list_iconOffset              : calc((#{$list_itemLineHeight} - 1rem) / 2)
$list_iconTransition          : color $defaultDuration $defaultEasing
$list_iconVerticalAlign       : top
$list_iconContentVerticalAlign: top

/* Image */
$list_imageDistance: 0.5em
$list_imageAlign   : top

/* Content */
$list_contentDistance        : 0.5em
$list_contentLineHeight      : $list_itemLineHeight
$list_contentLineHeightOffset: ($list_contentLineHeight - 1em) / 2
$list_contentVerticalAlign   : top

/* Header */
$list_itemHeaderFontWeight: 500
$list_itemHeaderColor     : nth($grey, 9)

/* Description */
$list_itemDescriptionColor: nth($grey, 8)

/* Link */
$list_itemLinkColor     : nth($link, 6)
$list_itemLinkHoverColor: nth($link, 5)

/* Header Link */
$list_itemHeaderLinkColor     : nth($link, 6)
$list_itemHeaderLinkHoverColor: nth($link, 5)

/* Linked Icon */
$list_itemLinkIconColor         : nth($grey, 7)
$list_itemLinkIconHoverColor    : nth($grey, 8)
$list_invertedIconLinkColor     : nth($inverted, 3)
$list_invertedIconLinkHoverColor: nth($inverted, 1)

//-------------------//
//      States
//-------------------//

$list_disabledColor        : nth($grey, 5)
$list_invertedDisabledColor: nth($inverted, 4)

//-------------------//
//      Emphasis
//-------------------//

$list_primaryItemColor : nth($primary, 6)
$list_infoItemColor    : nth($info, 6)
$list_warningItemColor : nth($warning, 6)
$list_positiveItemColor: nth($positive, 6)
$list_negativeItemColor: nth($negative, 6)

/* Inverted */
$list_invertedPrimaryItemColor : nth($primary, 6)
$list_invertedInfoItemColor    : nth($info, 6)
$list_invertedWarningItemColor : nth($warning, 6)
$list_invertedPositiveItemColor: nth($positive, 6)
$list_invertedNegativeItemColor: nth($negative, 6)

//-------------------//
//     Variations
//-------------------//

/* Float */
$list_floatDistance   : 1em
$list_leftFloatMargin : 0em $list_floatDistance 0em 0em
$list_rightFloatMargin: 0em 0em 0em $list_floatDistance

/* Horizontal */
$list_horizontalSpacing      : 1em
$list_horizontalIconDistance : 0.25em
$list_horizontalVerticalAlign: middle

/* Inverted */
$list_invertedHeaderColor       : $white
$list_invertedDescriptionColor  : nth($inverted, 1)
$list_invertedItemLinkColor     : $white
$list_invertedItemLinkHoverColor: nth($inverted, 2)

/* Link List */
$list_linkListItemColor      : nth($grey, 8)
$list_linkListItemHoverColor : nth($grey, 7)
$list_linkListItemDownColor  : nth($grey, 9)
$list_linkListItemActiveColor: nth($grey, 8)

/* Inverted Link List */
$list_invertedLinkListItemColor      : nth($inverted, 1)
$list_invertedLinkListItemHoverColor : nth($inverted, 2)
$list_invertedLinkListItemDownColor  : nth($inverted, 3)
$list_invertedLinkListItemActiveColor: nth($inverted, 3)

/* Selection List */
$list_selectionListItemMargin           : 0em
$list_selectionListItemBorderRadius     : $defaultBorderRadius
$list_selectionListItemVerticalPadding  : 0.5em
$list_selectionListItemHorizontalPadding: 0.5em
$list_selectionListTransition           : $defaultDuration color $defaultEasing, $defaultDuration padding-left $defaultEasing, $defaultDuration background-color $defaultEasing

/* Selection List States */
$list_selectionListBackground      : transparent
$list_selectionListColor           : nth($grey, 8)
$list_selectionListHoverBackground : nth($grey, 1)
$list_selectionListHoverColor      : nth($grey, 8)
$list_selectionListDownBackground  : nth($grey, 3)
$list_selectionListDownColor       : nth($grey, 9)
$list_selectionListActiveBackground: nth($grey, 4)
$list_selectionListActiveColor     : nth($grey, 9)

/* Inverted Selection List */
$list_invertedSelectionListBackground      : transparent
$list_invertedSelectionListColor           : $list_invertedTextColor
$list_invertedSelectionListHoverBackground : nth($inverted, 7)
$list_invertedSelectionListHoverColor      : darken($list_invertedTextColor, 10%)
$list_invertedSelectionListDownBackground  : nth($inverted, 9)
$list_invertedSelectionListDownColor       : darken($list_invertedTextColor, 18%)
$list_invertedSelectionListActiveBackground: nth($inverted, 9)
$list_invertedSelectionListActiveColor     : $white

/* Animated List */
$list_animatedDuration      : 0.25s
$list_animatedDelay         : 0.1s
$list_animatedListTransition: $list_animatedDuration color $defaultEasing $list_animatedDelay, $list_animatedDuration padding-left $defaultEasing $list_animatedDelay, $list_animatedDuration background-color $defaultEasing $list_animatedDelay

$list_animatedListIndent: 1em

/* Bulleted */
$list_bulletDistance: 1.25rem
$list_bulletOffset  : -$list_bulletDistance

$list_bulletOpacity      : 1
$list_bulletColor        : nth($grey, 8)
$list_invertedBulletColor: nth($inverted, 1)

/* Horizontal Bullets */
$list_horizontalBulletSpacing: $relative8px

/* Ordered List */
$list_orderedCountName         : ordered
$list_orderedCountContent      : counters(ordered, ".") " "
$list_orderedCountColor        : nth($grey, 7)
$list_orderedCountDistance     : 1.25rem
$list_orderedCountOpacity      : 1
$list_orderedCountTextAlign    : right
$list_orderedCountVerticalAlign: middle

$list_orderedChildCountDistance         : 1em
$list_orderedChildCountOffset           : -2em
$list_orderedcChildChildCountOffset     : -3em
$list_orderedcChildChildChildCountOffset: -4em

$list_orderedInvertedCountColor: nth($inverted, 2)

/* Horizontal Ordered */
$list_horizontalOrderedCountDistance: 0.5em

/* Divided */
$list_dividedBorderWidth        : 1px
$list_dividedBorder             : $list_dividedBorderWidth solid nth($grey, 4)
$list_dividedInvertedBorderColor: nth($inverted, 5)
$list_dividedChildListBorder    : none
$list_dividedChildItemBorder    : none

/* Divided Horizontal */
$list_horizontalDividedSpacing   : calc(#{$list_horizontalSpacing} / 2)
$list_horizontalDividedLineHeight: 0.6

/* Relaxed */
$list_relaxedItemVerticalPadding     : $relative6px
$list_relaxedChildItemVerticalPadding: $relative3px
$list_relaxedHeaderMargin            : 0.25rem
$list_relaxedHorizontalPadding       : 1rem

/* Very Relaxed */
$list_veryRelaxedItemVerticalPadding     : $relative12px
$list_veryRelaxedChildItemVerticalPadding: $relative4px
$list_veryRelaxedHeaderMargin            : 0.5rem
$list_veryRelaxedHorizontalPadding       : 1.5rem

$list_descriptionMarginTop: .28rem

$list_floatedContentHorizontalMargin: $list_itemVerticalPadding