//-------------------//
//     Emphasis
//-------------------//

$text_primaryTextColor : nth($primary, 6)
$text_infoTextColor    : nth($info, 6)
$text_warningTextColor : nth($warning, 6)
$text_negativeTextColor: nth($negative, 6)
$text_positiveTextColor: nth($positive, 6)
$text_invertedTextColor: $white

//-------------------//
// Secondary & Tertiary
//-------------------//

$text_secondaryTextColor: nth($grey, 7)
$text_tertiaryTextColor : nth($grey, 6)