.ts.breadcrumb,
.ts.breadcrumbs .ts.breadcrumb
    --textColor: #{var(--defaultTextColor)}
    --dividerTextColor: #BBB
    --activeTextColor: #{var(--defaultHeaderTextColor)}
    --disabledTextColor: #{var(--defaultDisabledTextColor)}
    --linkTextColor: #{var(--defaultLinkTextColor)}
    --linkHoverTextColor: #{var(--defaultLinkHoverTextColor)}
    --linkPressedTextColor: #{var(--defaultLinkPressedTextColor)}
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
