.ts.button,
.ts.buttons .ts.button
    --disabledTextColor: #9C9C9C
    --hoverBackgroundColor: #EEE
    --pressedBackgroundColor: #E6E5E5
    --outlinedBorderColor: #F5F5F5
    --basicTextColor: #333
    --pressedTextColor: #333
    --secondaryTextColor: #333
    --loaderFillColor: #{rgba(200, 200, 200, 0.45)}
    --disabledBackgroundColor: #F6F6F6
    --outlinedTextColor: #333
    --secondaryBackgroundColor: #F5F5F5
    --loaderLineColor: #999
    --textColor: #333
    --backgroundColor: #F5F5F5
    --hoverTextColor: #333
    @media (prefers-color-scheme: dark)
        --backgroundColor: #000
        --textColor: #000
.ts.button.-primary.-primary.-primary,
.ts.buttons.-primary .ts.button
    --textColor: #FFF
    --hoverTextColor: #FFF
    --secondaryTextColor: #348CEE
    --pressedTextColor: #FFF
    --pressedBackgroundColor: #307CD1
    --loaderFillColor: #{rgba(200, 200, 200, 0.45)}
    --loaderLineColor: #FFF
    --disabledBackgroundColor: #95C7FF
    --hoverBackgroundColor: #3186E4
    --basicTextColor: #348CEE
    --backgroundColor: #348CEE
    --disabledTextColor: #F4F4F4
    --outlinedTextColor: #307CD1
    --outlinedBorderColor: #348CEE
    --secondaryBackgroundColor: #F5F5F5
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.button.-warning.-warning.-warning,
.ts.buttons.-warning .ts.button
    --backgroundColor: #FFDD57
    --disabledBackgroundColor: #FFE376
    --hoverBackgroundColor: #F4D456
    --secondaryBackgroundColor: #F5F5F5
    --basicTextColor: #FFDD57
    --textColor: #333
    --disabledTextColor: #9C9C9C
    --pressedTextColor: #333
    --secondaryTextColor: #EACC54
    --loaderLineColor: #FFF
    --pressedBackgroundColor: #EACC54
    --loaderFillColor: #{rgba(200, 200, 200, 0.45)}
    --hoverTextColor: #333
    --outlinedTextColor: #EACC54
    --outlinedBorderColor: #FFDD57
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.button.-positive.-positive.-positive,
.ts.buttons.-positive .ts.button
    --textColor: #FFF
    --loaderFillColor: #{rgba(200, 200, 200, 0.45)}
    --hoverBackgroundColor: #44BF6F
    --pressedTextColor: #FFF
    --outlinedTextColor: #43B56A
    --pressedBackgroundColor: #43B56A
    --secondaryBackgroundColor: #F5F5F5
    --loaderLineColor: #FFF
    --backgroundColor: #48C774
    --disabledTextColor: #F4F4F4
    --disabledBackgroundColor: #7EE4A1
    --hoverTextColor: #FFF
    --outlinedBorderColor: #48C774
    --secondaryTextColor: #48C774
    --basicTextColor: #48C774
    @media (prefers-color-scheme: dark)
        --backgroundColor: #000
        --textColor: #000
.ts.button.-negative.-negative.-negative,
.ts.buttons.-negative .ts.button
    --hoverTextColor: #FFF
    --pressedTextColor: #FFF
    --pressedBackgroundColor: #CB3D59
    --loaderFillColor: #{rgba(200, 200, 200, 0.45)}
    --loaderLineColor: #FFF
    --textColor: #FFF
    --disabledTextColor: #F4F4F4
    --hoverBackgroundColor: #D7415F
    --secondaryBackgroundColor: #F5F5F5
    --basicTextColor: #E84263
    --disabledBackgroundColor: #F87C95
    --outlinedTextColor: #CB3D59
    --outlinedBorderColor: #E84263
    --secondaryTextColor: #E84263
    --backgroundColor: #E84263
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
