.ts.card,
.ts.cards .ts.card
    --indicatedSideBorderColor: #E9E9E9
    --tertiaryBackgroundColor: #F7F7F7
    --textColor: #333
    --backgroundColor: #FFF
    --secondaryTextColor: #{var(--defaultSecondaryTextColor)}
    --indicatedBorderColor: #666
    --disabledBorderColor: #E9E9E9
    --borderColor: #E9E9E9
    --secondaryBackgroundColor: #FBFBFB
    --disabledTextColor: #C3C3C3
    --disabledBackgroundColor: #FFF
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.card.-primary.-primary.-primary,
.ts.cards.-primary .ts.card
    --indicatedSideBorderColor: #E9E9E9
    --disabledBackgroundColor: #95C7FF
    --textColor: #FFF
    --backgroundColor: #348CEE
    --borderColor: #348CEE
    --indicatedBorderColor: #348CEE
    --secondaryBackgroundColor: #2F7FD8
    --tertiaryBackgroundColor: #2C74C5
    --disabledTextColor: #E2F0FF
    --disabledBorderColor: #95C7FF
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.card.-warning.-warning.-warning,
.ts.cards.-warning .ts.card
    --disabledBackgroundColor: #FFE376
    --disabledBorderColor: #FFE376
    --indicatedSideBorderColor: #E9E9E9
    --disabledTextColor: #B9B9B9
    --borderColor: #FFDD57
    --indicatedBorderColor: #FFDD57
    --secondaryBackgroundColor: #F7D657
    --tertiaryBackgroundColor: #E6C751
    --textColor: #333
    --backgroundColor: #FFDD57
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.card.-positive.-positive.-positive,
.ts.cards.-positive .ts.card
    --backgroundColor: #48C774
    --borderColor: #48C774
    --indicatedBorderColor: #48C774
    --secondaryBackgroundColor: #42B96B
    --tertiaryBackgroundColor: #3DAA63
    --disabledBorderColor: #7EE4A1
    --textColor: #FFF
    --indicatedSideBorderColor: #E9E9E9
    --disabledTextColor: #D6F0DF
    --disabledBackgroundColor: #7EE4A1
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.card.-negative.-negative.-negative,
.ts.cards.-negative .ts.card
    --indicatedSideBorderColor: #E9E9E9
    --tertiaryBackgroundColor: #C53955
    --disabledTextColor: #FFC2CE
    --disabledBackgroundColor: #F87C95
    --backgroundColor: #E84263
    --borderColor: #E84263
    --secondaryBackgroundColor: #D63F5D
    --disabledBorderColor: #F87C95
    --textColor: #FFF
    --indicatedBorderColor: #E84263
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
