.ts.segment.-positive.-positive.-positive,
.ts.segments.-positive .ts.segment
    --textColor: #FFF
    --indicatedBorderColor: #48C774
    --tertiaryBackgroundColor: #3DAA63
    --disabledTextColor: #D6F0DF
    --disabledBackgroundColor: #7EE4A1
    --backgroundColor: #48C774
    --borderColor: #48C774
    --indicatedSideBorderColor: #E9E9E9
    --secondaryBackgroundColor: #42B96B
    --disabledBorderColor: #7EE4A1
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.segment.-negative.-negative.-negative,
.ts.segments.-negative .ts.segment
    --backgroundColor: #E84263
    --borderColor: #E84263
    --indicatedSideBorderColor: #E9E9E9
    --disabledTextColor: #FFC2CE
    --disabledBackgroundColor: #F87C95
    --disabledBorderColor: #F87C95
    --textColor: #FFF
    --indicatedBorderColor: #E84263
    --secondaryBackgroundColor: #D63F5D
    --tertiaryBackgroundColor: #C53955
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.segment,
.ts.segments .ts.segment
    --disabledBackgroundColor: #FFF
    --textColor: #333
    --indicatedBorderColor: #666
    --indicatedSideBorderColor: #E9E9E9
    --tertiaryBackgroundColor: #F7F7F7
    --disabledTextColor: #C3C3C3
    --disabledBorderColor: #E9E9E9
    --backgroundColor: #FFF
    --borderColor: #E9E9E9
    --secondaryBackgroundColor: #FBFBFB
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.segment.-primary.-primary.-primary,
.ts.segments.-primary .ts.segment
    --indicatedSideBorderColor: #E9E9E9
    --disabledBorderColor: #95C7FF
    --backgroundColor: #348CEE
    --indicatedBorderColor: #348CEE
    --secondaryBackgroundColor: #2F7FD8
    --tertiaryBackgroundColor: #2C74C5
    --disabledTextColor: #E2F0FF
    --disabledBackgroundColor: #95C7FF
    --textColor: #FFF
    --borderColor: #348CEE
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.segment.-warning.-warning.-warning,
.ts.segments.-warning .ts.segment
    --disabledBackgroundColor: #FFE376
    --disabledBorderColor: #FFE376
    --textColor: #333
    --backgroundColor: #FFDD57
    --borderColor: #FFDD57
    --tertiaryBackgroundColor: #E6C751
    --disabledTextColor: #B9B9B9
    --indicatedBorderColor: #FFDD57
    --indicatedSideBorderColor: #E9E9E9
    --secondaryBackgroundColor: #F7D657
    @media (prefers-color-scheme: dark)
        --backgroundColor: #000
        --textColor: #000
