.ts.text,
.ts.texts .ts.text
    --textColor: #333
    --disabledTextColor: #D6D6D6
    --secondaryTextColor: #777
    --tertiaryTextColor: #999
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.text.-primary.-primary.-primary,
.ts.texts.-primary .ts.text
    --tertiaryTextColor: #98BCE4
    --textColor: #348CEE
    --disabledTextColor: #95C7FF
    --secondaryTextColor: #6DA9EC
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.text.-warning.-warning.-warning,
.ts.texts.-warning .ts.text
    --secondaryTextColor: #FBDF73
    --tertiaryTextColor: #F9E184
    --textColor: #FFDD57
    --disabledTextColor: #FFE376
    @media (prefers-color-scheme: dark)
        --backgroundColor: #000
        --textColor: #000
.ts.text.-positive.-positive.-positive,
.ts.texts.-positive .ts.text
    --secondaryTextColor: #58C77E
    --tertiaryTextColor: #6BC98B
    --textColor: #48C774
    --disabledTextColor: #7EE4A1
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
.ts.text.-negative.-negative.-negative,
.ts.texts.-negative .ts.text
    --textColor: #E84263
    --disabledTextColor: #F87C95
    --secondaryTextColor: #EE617D
    --tertiaryTextColor: #F07A92
    @media (prefers-color-scheme: dark)
        --textColor: #000
        --backgroundColor: #000
