$container_maxWidth: 100%

$container_paddedMargin     : 2.15em
$container_veryPaddedMargin : 4em
$container_extraPaddedMargin: 6em

//-------------------//
//        Grid
//-------------------//

$container_gridColumnPadding           : "var(--columnPadding) * 2"
$container_relaxedGridColumnPadding    : "var(--columnRelaxedPadding) * 2"
$container_veryRelaxedGridColumnPadding: "var(--columnVeryRelaxedPadding) * 2"

//-------------------//
//       Mobile
//-------------------//

$container_mobileGutter: var(--columnVeryRelaxedPadding)
$container_mobileWidth : auto

$container_mobileGridGutter           : calc(#{$container_mobileGutter} - var(--columnPadding))
$container_mobileRelaxedGridGutter    : calc(#{$container_mobileGutter} - var(--columnRelaxedPadding))
$container_mobileVeryRelaxedGridGutter: calc(#{$container_mobileGutter} - var(--columnVeryRelaxedPadding))

//-------------------//
//       Tablet
//-------------------//

$container_tabletGutter: $container_veryRelaxedGridColumnPadding
$container_tabletWidth : calc(#{$rwdTabletMin} - #{$container_tabletGutter})

$container_tabletGridWidth           : calc(#{$rwdTabletMin} - #{$container_tabletGutter} + #{$container_gridColumnPadding})
$container_tabletRelaxedGridWidth    : calc(#{$rwdTabletMin} - #{$container_tabletGutter} + #{$container_relaxedGridColumnPadding})
$container_tabletVeryRelaxedGridWidth: calc(#{$rwdTabletMin} - #{$container_tabletGutter} + #{$container_veryRelaxedGridColumnPadding})

//-------------------//
//      Computer
//-------------------//

$container_computerGutter: $container_veryRelaxedGridColumnPadding
$container_computerWidth : calc(#{$rwdComputerMin} - #{$container_computerGutter})

$container_computerGridWidth           : calc(#{$rwdComputerMin} - #{$container_computerGutter} + #{$container_gridColumnPadding})
$container_computerRelaxedGridWidth    : calc(#{$rwdComputerMin} - #{$container_computerGutter} + #{$container_relaxedGridColumnPadding})
$container_computerVeryRelaxedGridWidth: calc(#{$rwdComputerMin} - #{$container_computerGutter} + #{$container_veryRelaxedGridColumnPadding})

//-------------------//
//   Large Monitor
//-------------------//

$container_largeGutter: $container_veryRelaxedGridColumnPadding
$container_largeWidth : calc(#{$rwdLargeMin} - #{$container_largeGutter})

$container_largeGridWidth           : calc(#{$rwdLargeMin} - #{$container_largeGutter} + #{$container_gridColumnPadding})
$container_largeRelaxedGridWidth    : calc(#{$rwdLargeMin} - #{$container_largeGutter} + #{$container_relaxedGridColumnPadding})
$container_largeVeryRelaxedGridWidth: calc(#{$rwdLargeMin} - #{$container_largeGutter} + #{$container_veryRelaxedGridColumnPadding})

//-------------------//
//        Text
//-------------------//

$container_textWidth          : 750px
$container_textLineHeight     : 1.7
$container_textParagraphMargin: 1.45em
$container_textFontSize       : $large

$container_textGridMaxWidth           : calc(#{$container_textWidth} + #{$container_gridColumnPadding})
$container_textRelaxedGridMaxWidth    : calc(#{$container_textWidth} + #{$container_relaxedGridColumnPadding})
$container_textVeryRelaxedGridMaxWidth: calc(#{$container_textWidth} + #{$container_veryRelaxedGridColumnPadding})

//-------------------//
//       Fluid
//-------------------//

$container_fluidWidth   : 100%
$container_fluidMaxWidth: 100%

$container_fluidGridMaxWidth           : calc(100% + #{$container_gridColumnPadding})
$container_fluidRelaxedGridMaxWidth    : calc(100% + #{$container_relaxedGridColumnPadding})
$container_fluidVeryRelaxedGridMaxWidth: calc(100% + #{$container_veryRelaxedGridColumnPadding})

//-------------------//
//  Pusher Container
//-------------------//

$container_pusherContainerWidth: calc(100% - #{$container_gridColumnPadding})