/* ==========================================================================
   Variables
   ========================================================================== */

.ts.badge {
    /**
     * Block
     */

    --ts-badge_border-radius: var(--ts-global_border-radius);
    --ts-badge_border-radius-circular: var(--ts-global_border-radius-circular);
    --ts-badge_vertical-padding: 0rem;
    --ts-badge_horizontal-padding: 0.5rem;
    --ts-badge_border-width: 1px;
    --ts-badge_font-weight: 500;
    --ts-badge_disabled-opacity: var(--ts-global_disabled-opacity);
    --ts-badge_corner-floated-offset: 50%;

    /**
     * Typography
     */

    --ts-badge_font-size: 0.875rem;
    --ts-badge_line-height: var(--ts-global_line-height);
}

/* ==========================================================================
   Default
   ========================================================================== */

.ts.badge {
    --ts-badge_color: var(--ts-global_gray-900);
    --ts-badge-default_background-color: var(--ts-global_gray-100);
    --ts-badge_background-color: var(--ts-badge-default_background-color);
    --ts-badge_basic-color: var(--ts-global_gray-800);
    --ts-badge_outlined-color: var(--ts-global_gray-800);
    --ts-badge_outlined-border-color: var(--ts-global_gray-500);
}

/* ==========================================================================
   Emphasises
   ========================================================================== */

/**
 * Primary
 */

.ts.badge[data-emphasis="primary"] {
    --ts-badge_color: var(--ts-global_static-gray-50);
    --ts-badge_background-color: var(--ts-global_primary-500);
    --ts-badge_basic-color: var(--ts-global_primary-500);
    --ts-badge_outlined-color: var(--ts-global_primary-500);
    --ts-badge_outlined-border-color: var(--ts-global_primary-500);
}

/**
 * Warning
 */

.ts.badge[data-emphasis="warning"] {
    --ts-badge_color: var(--ts-global_static-gray-800);
    --ts-badge_background-color: var(--ts-global_warning-500);
    --ts-badge_basic-color: var(--ts-global_warning-700);
    --ts-badge_outlined-color: var(--ts-global_warning-700);
    --ts-badge_outlined-border-color: var(--ts-global_warning-700);
}

/**
 * Positive
 */

.ts.badge[data-emphasis="positive"] {
    --ts-badge_color: var(--ts-global_static-gray-50);
    --ts-badge_background-color: var(--ts-global_positive-500);
    --ts-badge_basic-color: var(--ts-global_positive-500);
    --ts-badge_outlined-color: var(--ts-global_positive-500);
    --ts-badge_outlined-border-color: var(--ts-global_positive-500);
}

/**
 * Negative
 */

.ts.badge[data-emphasis="negative"] {
    --ts-badge_color: var(--ts-global_static-gray-50);
    --ts-badge_background-color: var(--ts-global_negative-500);
    --ts-badge_basic-color: var(--ts-global_negative-500);
    --ts-badge_outlined-color: var(--ts-global_negative-500);
    --ts-badge_outlined-border-color: var(--ts-global_negative-500);
}
