[submodule "components/ts-accordion"]
	path = components/accordion
	url = git@github.com:tocas-ui/ts-accordion.git
[submodule "components/ts-bottom-sheet"]
	path = components/bottom-sheet
	url = git@github.com:tocas-ui/ts-bottom-sheet.git
[submodule "components/ts-card"]
	path = components/card
	url = git@github.com:tocas-ui/ts-card.git
[submodule "components/ts-comments"]
	path = components/comments
	url = git@github.com:tocas-ui/ts-comments.git
[submodule "components/ts-dialog"]
	path = components/dialog
	url = git@github.com:tocas-ui/ts-dialog.git
[submodule "components/ts-drawer"]
	path = components/drawer
	url = git@github.com:tocas-ui/ts-drawer.git
[submodule "components/ts-embed"]
	path = components/embed
	url = git@github.com:tocas-ui/ts-embed.git
[submodule "components/ts-file"]
	path = components/file
	url = git@github.com:tocas-ui/ts-file.git
[submodule "components/ts-gallery"]
	path = components/gallery
	url = git@github.com:tocas-ui/ts-gallery.git
[submodule "components/ts-icon"]
	path = components/icon
	url = git@github.com:tocas-ui/ts-icon.git
[submodule "components/ts-label"]
	path = components/label
	url = git@github.com:tocas-ui/ts-label.git
[submodule "components/ts-loader"]
	path = components/loader
	url = git@github.com:tocas-ui/ts-loader.git
[submodule "components/ts-message"]
	path = components/message
	url = git@github.com:tocas-ui/ts-message.git
[submodule "components/ts-persona"]
	path = components/persona
	url = git@github.com:tocas-ui/ts-persona.git
[submodule "components/ts-progress"]
	path = components/progress
	url = git@github.com:tocas-ui/ts-progress.git
[submodule "components/ts-rating"]
	path = components/rating
	url = git@github.com:tocas-ui/ts-rating.git
[submodule "components/ts-select"]
	path = components/select
	url = git@github.com:tocas-ui/ts-select.git
[submodule "components/ts-slider"]
	path = components/slider
	url = git@github.com:tocas-ui/ts-slider.git
[submodule "components/ts-steps"]
	path = components/steps
	url = git@github.com:tocas-ui/ts-steps.git
[submodule "components/ts-text"]
	path = components/text
	url = git@github.com:tocas-ui/ts-text.git
[submodule "components/ts-appbar"]
	path = components/appbar
	url = git@github.com:tocas-ui/ts-appbar.git
[submodule "components/ts-breadcrumb"]
	path = components/breadcrumb
	url = git@github.com:tocas-ui/ts-breadcrumb.git
[submodule "components/ts-carousel"]
	path = components/carousel
	url = git@github.com:tocas-ui/ts-carousel.git
[submodule "components/ts-container"]
	path = components/container
	url = git@github.com:tocas-ui/ts-container.git
[submodule "components/ts-dimmer"]
	path = components/dimmer
	url = git@github.com:tocas-ui/ts-dimmer.git
[submodule "components/ts-dropdown"]
	path = components/dropdown
	url = git@github.com:tocas-ui/ts-dropdown.git
[submodule "components/ts-emoji"]
	path = components/emoji
	url = git@github.com:tocas-ui/ts-emoji.git
[submodule "components/ts-flag"]
	path = components/flag
	url = git@github.com:tocas-ui/ts-flag.git
[submodule "components/ts-grid"]
	path = components/grid
	url = git@github.com:tocas-ui/ts-grid.git
[submodule "components/ts-image"]
	path = components/image
	url = git@github.com:tocas-ui/ts-image.git
[submodule "components/ts-input"]
	path = components/input
	url = git@github.com:tocas-ui/ts-input.git
[submodule "components/ts-layout"]
	path = components/layout
	url = git@github.com:tocas-ui/ts-layout.git
[submodule "components/ts-masonry"]
	path = components/masonry
	url = git@github.com:tocas-ui/ts-masonry.git
[submodule "components/ts-modal"]
	path = components/modal
	url = git@github.com:tocas-ui/ts-modal.git
[submodule "components/ts-placeholder"]
	path = components/placeholder
	url = git@github.com:tocas-ui/ts-placeholder.git
[submodule "components/ts-quote"]
	path = components/quote
	url = git@github.com:tocas-ui/ts-quote.git
[submodule "components/ts-search"]
	path = components/search
	url = git@github.com:tocas-ui/ts-search.git
[submodule "components/ts-sidebar"]
	path = components/sidebar
	url = git@github.com:tocas-ui/ts-sidebar.git
[submodule "components/ts-snackbar"]
	path = components/snackbar
	url = git@github.com:tocas-ui/ts-snackbar.git
[submodule "components/ts-switcher"]
	path = components/switcher
	url = git@github.com:tocas-ui/ts-switcher.git
[submodule "components/ts-timeline"]
	path = components/timeline
	url = git@github.com:tocas-ui/ts-timeline.git
[submodule "components/ts-badge"]
	path = components/badge
	url = git@github.com:tocas-ui/ts-badge.git
[submodule "components/ts-button"]
	path = components/button
	url = git@github.com:tocas-ui/ts-button.git
[submodule "components/ts-checkbox"]
	path = components/checkbox
	url = git@github.com:tocas-ui/ts-checkbox.git
[submodule "components/ts-conversation"]
	path = components/conversation
	url = git@github.com:tocas-ui/ts-conversation.git
[submodule "components/ts-divider"]
	path = components/divider
	url = git@github.com:tocas-ui/ts-divider.git
[submodule "components/ts-editable"]
	path = components/editable
	url = git@github.com:tocas-ui/ts-editable.git
[submodule "components/ts-feed"]
	path = components/feed
	url = git@github.com:tocas-ui/ts-feed.git
[submodule "components/ts-form"]
	path = components/form
	url = git@github.com:tocas-ui/ts-form.git
[submodule "components/ts-header"]
	path = components/header
	url = git@github.com:tocas-ui/ts-header.git
[submodule "components/ts-infoitems"]
	path = components/infoitems
	url = git@github.com:tocas-ui/ts-infoitems.git
[submodule "components/ts-items"]
	path = components/items
	url = git@github.com:tocas-ui/ts-items.git
[submodule "components/ts-menu"]
	path = components/menu
	url = git@github.com:tocas-ui/ts-menu.git
[submodule "components/ts-pagination"]
	path = components/pagination
	url = git@github.com:tocas-ui/ts-pagination.git
[submodule "components/ts-radio"]
	path = components/radio
	url = git@github.com:tocas-ui/ts-radio.git
[submodule "components/ts-segment"]
	path = components/segment
	url = git@github.com:tocas-ui/ts-segment.git
[submodule "components/ts-slate"]
	path = components/slate
	url = git@github.com:tocas-ui/ts-slate.git
[submodule "components/ts-statistic"]
	path = components/statistic
	url = git@github.com:tocas-ui/ts-statistic.git
[submodule "components/ts-list"]
	path = components/list
	url = git@github.com:tocas-ui/ts-list.git
[submodule "components/ts-table"]
	path = components/table
	url = git@github.com:tocas-ui/ts-table.git
