[submodule "components/ts-accordion"]
	path = components/ts-accordion
	url = git@github.com:tocas-ui/ts-accordion.git
[submodule "components/ts-bottom-sheet"]
	path = components/ts-bottom-sheet
	url = git@github.com:tocas-ui/ts-bottom-sheet.git
[submodule "components/ts-card"]
	path = components/ts-card
	url = git@github.com:tocas-ui/ts-card.git
[submodule "components/ts-comments"]
	path = components/ts-comments
	url = git@github.com:tocas-ui/ts-comments.git
[submodule "components/ts-dialog"]
	path = components/ts-dialog
	url = git@github.com:tocas-ui/ts-dialog.git
[submodule "components/ts-drawer"]
	path = components/ts-drawer
	url = git@github.com:tocas-ui/ts-drawer.git
[submodule "components/ts-embed"]
	path = components/ts-embed
	url = git@github.com:tocas-ui/ts-embed.git
[submodule "components/ts-file"]
	path = components/ts-file
	url = git@github.com:tocas-ui/ts-file.git
[submodule "components/ts-gallery"]
	path = components/ts-gallery
	url = git@github.com:tocas-ui/ts-gallery.git
[submodule "components/ts-icon"]
	path = components/ts-icon
	url = git@github.com:tocas-ui/ts-icon.git
[submodule "components/ts-label"]
	path = components/ts-label
	url = git@github.com:tocas-ui/ts-label.git
[submodule "components/ts-loader"]
	path = components/ts-loader
	url = git@github.com:tocas-ui/ts-loader.git
[submodule "components/ts-message"]
	path = components/ts-message
	url = git@github.com:tocas-ui/ts-message.git
[submodule "components/ts-persona"]
	path = components/ts-persona
	url = git@github.com:tocas-ui/ts-persona.git
[submodule "components/ts-progress"]
	path = components/ts-progress
	url = git@github.com:tocas-ui/ts-progress.git
[submodule "components/ts-rating"]
	path = components/ts-rating
	url = git@github.com:tocas-ui/ts-rating.git
[submodule "components/ts-select"]
	path = components/ts-select
	url = git@github.com:tocas-ui/ts-select.git
[submodule "components/ts-slider"]
	path = components/ts-slider
	url = git@github.com:tocas-ui/ts-slider.git
[submodule "components/ts-steps"]
	path = components/ts-steps
	url = git@github.com:tocas-ui/ts-steps.git
[submodule "components/ts-text"]
	path = components/ts-text
	url = git@github.com:tocas-ui/ts-text.git
[submodule "components/ts-appbar"]
	path = components/ts-appbar
	url = git@github.com:tocas-ui/ts-appbar.git
[submodule "components/ts-breadcrumb"]
	path = components/ts-breadcrumb
	url = git@github.com:tocas-ui/ts-breadcrumb.git
[submodule "components/ts-carousel"]
	path = components/ts-carousel
	url = git@github.com:tocas-ui/ts-carousel.git
[submodule "components/ts-container"]
	path = components/ts-container
	url = git@github.com:tocas-ui/ts-container.git
[submodule "components/ts-dimmer"]
	path = components/ts-dimmer
	url = git@github.com:tocas-ui/ts-dimmer.git
[submodule "components/ts-dropdown"]
	path = components/ts-dropdown
	url = git@github.com:tocas-ui/ts-dropdown.git
[submodule "components/ts-emoji"]
	path = components/ts-emoji
	url = git@github.com:tocas-ui/ts-emoji.git
[submodule "components/ts-flag"]
	path = components/ts-flag
	url = git@github.com:tocas-ui/ts-flag.git
[submodule "components/ts-grid"]
	path = components/ts-grid
	url = git@github.com:tocas-ui/ts-grid.git
[submodule "components/ts-image"]
	path = components/ts-image
	url = git@github.com:tocas-ui/ts-image.git
[submodule "components/ts-input"]
	path = components/ts-input
	url = git@github.com:tocas-ui/ts-input.git
[submodule "components/ts-layout"]
	path = components/ts-layout
	url = git@github.com:tocas-ui/ts-layout.git
[submodule "components/ts-masonry"]
	path = components/ts-masonry
	url = git@github.com:tocas-ui/ts-masonry.git
[submodule "components/ts-modal"]
	path = components/ts-modal
	url = git@github.com:tocas-ui/ts-modal.git
[submodule "components/ts-placeholder"]
	path = components/ts-placeholder
	url = git@github.com:tocas-ui/ts-placeholder.git
[submodule "components/ts-quote"]
	path = components/ts-quote
	url = git@github.com:tocas-ui/ts-quote.git
[submodule "components/ts-search"]
	path = components/ts-search
	url = git@github.com:tocas-ui/ts-search.git
[submodule "components/ts-sidebar"]
	path = components/ts-sidebar
	url = git@github.com:tocas-ui/ts-sidebar.git
[submodule "components/ts-snackbar"]
	path = components/ts-snackbar
	url = git@github.com:tocas-ui/ts-snackbar.git
[submodule "components/ts-switcher"]
	path = components/ts-switcher
	url = git@github.com:tocas-ui/ts-switcher.git
[submodule "components/ts-timeline"]
	path = components/ts-timeline
	url = git@github.com:tocas-ui/ts-timeline.git
[submodule "components/ts-badge"]
	path = components/ts-badge
	url = git@github.com:tocas-ui/ts-badge.git
[submodule "components/ts-button"]
	path = components/ts-button
	url = git@github.com:tocas-ui/ts-button.git
[submodule "components/ts-checkbox"]
	path = components/ts-checkbox
	url = git@github.com:tocas-ui/ts-checkbox.git
[submodule "components/ts-conversation"]
	path = components/ts-conversation
	url = git@github.com:tocas-ui/ts-conversation.git
[submodule "components/ts-divider"]
	path = components/ts-divider
	url = git@github.com:tocas-ui/ts-divider.git
[submodule "components/ts-editable"]
	path = components/ts-editable
	url = git@github.com:tocas-ui/ts-editable.git
[submodule "components/ts-feed"]
	path = components/ts-feed
	url = git@github.com:tocas-ui/ts-feed.git
[submodule "components/ts-form"]
	path = components/ts-form
	url = git@github.com:tocas-ui/ts-form.git
[submodule "components/ts-header"]
	path = components/ts-header
	url = git@github.com:tocas-ui/ts-header.git
[submodule "components/ts-infoitems"]
	path = components/ts-infoitems
	url = git@github.com:tocas-ui/ts-infoitems.git
[submodule "components/ts-items"]
	path = components/ts-items
	url = git@github.com:tocas-ui/ts-items.git
[submodule "components/ts-menu"]
	path = components/ts-menu
	url = git@github.com:tocas-ui/ts-menu.git
[submodule "components/ts-pagination"]
	path = components/ts-pagination
	url = git@github.com:tocas-ui/ts-pagination.git
[submodule "components/ts-radio"]
	path = components/ts-radio
	url = git@github.com:tocas-ui/ts-radio.git
[submodule "components/ts-segment"]
	path = components/ts-segment
	url = git@github.com:tocas-ui/ts-segment.git
[submodule "components/ts-slate"]
	path = components/ts-slate
	url = git@github.com:tocas-ui/ts-slate.git
[submodule "components/ts-statistic"]
	path = components/ts-statistic
	url = git@github.com:tocas-ui/ts-statistic.git
