.ts.form {
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Field
 */

.ts.form .field {
    margin-bottom: 1rem;
}

/**
 * Label
 */

.ts.form .field .label {
    margin-bottom: 0.5rem;
    color        : #333;
}

/* ==========================================================================
   Variations
   ========================================================================== */
