/* ==========================================================================
   Variables
   ========================================================================== */

.ts.snackbar {
    /**
     * Block
     */

    --border-radius     : var(--global__border-radius);
    --vertical-padding  : calc(var(--global__block_padding) * 2);
    --horizontal-padding: calc(var(--global__block_padding) * 3);

    /**
     * Distance
     */

    --distance-block: var(--global__distance-block);
    --distance-text : var(--global__distance-text);

    /**
     * Typography
     */

    --font-size       : var(--global__font-size);
    --line-height     : var(--global__line-height);
    --header-font-size: 1.375rem;

    /**
     * Color
     */

    --color                           : 255, 255, 255;
    --border-hover-color              : var(--default__border-hover-color);
    --description-color               : var(--default__description-color);
    --border-color                    : var(--default__border-color);
    --background-secondary-color      : var(--default__background-secondary-color);
    --background-secondary-hover-color: var(--default__background-secondary-hover-color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.snackbar {
    font-size    : var(--font-size);
    color        : rgb(var(--color));
    line-height  : var(--line-height);
    display      : flex;
    padding      : 0.5em 0.5em 0.5em 1em;
    align-items  : center;
    border-radius: var(--border-radius);
    word-break   : break-word;
    /*display    : none;*/
    box-shadow   : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background   : #404040;
}

.ts.snackbar:first-child {
    margin-block-start: 0;
}

.ts.snackbar:last-child {
    margin-block-end: 0;
}

.ts.snackbar:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Content
 */

.ts.snackbar > .content {
    flex        : 1;
    margin-right: 4em;
}

/**
 * Action
 */

.ts.snackbar > .action {
    align-self     : flex-end;
    padding        : 0.7em 1em;
    font-weight    : 500;
    line-height    : 1.5;
    white-space    : nowrap;
    color          : rgb(var(--color));
    border-radius  : var(--border-radius);
    background     : transparent;
    text-decoration: none;
}

.ts.snackbar > .action:hover {
    cursor    : pointer;
    background: rgba(80, 80, 80, 0.8);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Inline
 */

.ts.snackbar.-inline {
}

/**
 * Active
 */

.ts.snackbar.-active {
    display: flex;
}
