@import ./../../styles

:root
    +var-scope(block)

// ==========================================================================
// Colors
// ==========================================================================

.ts-block
    +define(color            , get-static-color(gray, 800))
    +define(border_color     , get-static-color(gray, 200))
    +define(background_color , get-static-color(gray, 50))

// ==========================================================================
// Emphasized
// ==========================================================================

// ==========================================================================
// Base
// ==========================================================================

.ts-block
    border-radius: 4px
    border: 1px solid #000
    border-color: get(border_color)
    background  : get(background_color)
    color       : get(color)