button.ts.button Button

// Sizes
button.ts.mini.button Mini
button.ts.tiny.button Tiny
button.ts.small.button Small
button.ts.button Medium
button.ts.large.button Large
button.ts.big.button Big
button.ts.huge.button Huge
button.ts.massive.button Massive

// Emphasises
button.ts.primary.button Primary
button.ts.info.button Info
button.ts.negative.button Negative
button.ts.positive.button Positive
button.ts.warning.button Warning

//
button.ts.basic.button Basic

// Compact
button.ts.compact.button Compact
button.ts.very.compact.button Very Compact

// Icon
button.ts.icon.button
    i.heart.icon

// Labeled
button.ts.left.labeled.button
    | Left Labeled
    .ts.label
    | Label
button.ts.right.labeled.button
    | Left Labeled
    .ts.label
    | Label

// Labeled Icon