//*******************************//
//             Colors
//*******************************//

//            1        2        3        4        5        6        7        8        9       10
//                                             Border    Main
//          Active  Disabled    Bg    Divider   Hover    Brand   Pressed
$grey    : #fbfbfb, #f7f7f7, #f5f5f5, #e9e9e9, #d9d9d9, #bfbfbf, #919191, #5a5a5a, #404040, #222222
$primary : #EBF9FD, #CFF0FB, #A7E3F8, #76D3F4, #3DC1EF, #00ADEA, #0092CB, #0076AC, #005A8B, #003D6B
$positive: #F6F9F4, #E9F2E4, #D7E7CD, #C1D9B1, #A7CA91, #8BB96E, #7FA45F, #738F50, #677A40, #5A6430
$negative: #FBF2F2, #F6E1DF, #EEC8C6, #E5A9A5, #DA8580, #CE5F58, #B85052, #A1414C, #8A3145, #73213F
$info    : #F4F8F9, #E6EFF2, #D1E1E7, #B7D0D9, #99BDCA, #79A8B9, #6791A2, #55798A, #436172, #30485A
$warning : #FDFDED, #FAFBD4, #F6F7B1, #F2F384, #ECEE52, #E6E81B, #CCC217, #B09B14, #957310, #794B0C
$inverted: #EFEFEF, #D8D8D8, #B9B9B9, #919191, #444444, #333333, #2C2C2C, #252525, #1E1E1E, #171717
$link    : #ecf6fd, #d2eafb, #add8f7, #7ec2f3, #49a9ee, #108ee9, #0e77ca, #0c60aa, #09488a, #073069




$white: #FFF
$black: #000

$color_positive                        : nth($positive, 6)
$color_positive_hover                  : nth($positive, 7)
$color_positive_border                 : nth($positive, 6)
$color_positive_lightenBackgroundBorder: nth($positive, 4)
$color_positive_lightenBackground      : darken(nth($positive, 1), 2%)
$color_positive_lightenBackgroundHover : darken($color_positive_lightenBackground, 5%)
$color_positive_background             : nth($positive, 6)
$color_positive_backgroundHover        : nth($positive, 5)
$color_positive_backgroundDarkenHover  : nth($positive, 7)
$color_positive_backgroundDarkenActive : nth($positive, 9)
$color_positive_invertedText           : $white
$color_positive_invertedTextHover      : darken($white, 2%)
$color_positive_invertedTextActive     : darken($white, 8%)

$color_negative                       : nth($negative, 6)
$color_negative_hover                 : nth($negative, 7)
$color_negative_border                : nth($negative, 6)
$color_negative_lightenBackgroundBorder: nth($negative, 4)
$color_negative_lightenBackground     : darken(nth($negative, 1), 2%)
$color_negative_lightenBackgroundHover: darken($color_negative_lightenBackground, 3%)
$color_negative_background            : nth($negative, 6)
$color_negative_backgroundHover       : nth($negative, 5)
$color_negative_backgroundDarkenHover : nth($negative, 7)
$color_negative_backgroundDarkenActive: nth($negative, 9)
$color_negative_invertedText          : $white
$color_negative_invertedTextHover     : darken($white, 2%)
$color_negative_invertedTextActive    : darken($white, 8%)

$color_primary                       : nth($primary, 6)
$color_primary_hover                 : nth($primary, 7)
$color_primary_border                : nth($primary, 6)
$color_primary_lightenBackgroundBorder: nth($primary, 4)
$color_primary_lightenBackground     : darken(nth($primary, 1), 2%)
$color_primary_lightenBackgroundHover: darken($color_primary_lightenBackground, 3%)
$color_primary_background            : nth($primary, 6)
$color_primary_backgroundHover       : nth($primary, 5)
$color_primary_backgroundDarkenHover : nth($primary, 7)
$color_primary_backgroundDarkenActive: nth($primary, 9)
$color_primary_invertedText          : $white
$color_primary_invertedTextHover     : darken($white, 2%)
$color_primary_invertedTextActive    : darken($white, 8%)

$color_info                       : nth($info, 6)
$color_info_hover                 : nth($info, 7)
$color_info_border                : nth($info, 6)
$color_info_lightenBackgroundBorder: nth($info, 4)
$color_info_lightenBackground     : darken(nth($info, 1), 2%)
$color_info_lightenBackgroundHover: darken($color_info_lightenBackground, 3%)
$color_info_background            : nth($info, 6)
$color_info_backgroundHover       : nth($info, 5)
$color_info_backgroundDarkenHover : nth($info, 7)
$color_info_backgroundDarkenActive: nth($info, 9)
$color_info_invertedText          : $white
$color_info_invertedTextHover     : darken($white, 2%)
$color_info_invertedTextActive    : darken($white, 8%)

$color_warning                       : nth($warning, 6)
$color_warning_hover                 : nth($warning, 7)
$color_warning_border                : nth($warning, 6)
$color_warning_lightenBackgroundBorder: nth($warning, 4)
$color_warning_lightenBackground     : darken(nth($warning, 1), 2%)
$color_warning_lightenBackgroundHover: darken($color_warning_lightenBackground, 3%)
$color_warning_background            : nth($warning, 6)
$color_warning_backgroundHover       : nth($warning, 5)
$color_warning_backgroundDakenHover  : nth($warning, 7)
$color_warning_backgroundDakenActive : nth($warning, 8)
$color_warning_invertedText          : nth($warning, 9)
$color_warning_invertedTextHover     : darken(nth($warning, 9), 2%)
$color_warning_invertedTextActive    : darken(nth($warning, 9), 8%)

$color_inverted                       : nth($inverted, 1)
$color_inverted_hover                 : nth($inverted, 1)
$color_inverted_border                : nth($inverted, 5)
$color_inverted_lightenBackgroundBorder: nth($inverted, 4)
$color_inverted_lightenBackground     : nth($inverted, 6)
$color_inverted_lightenBackgroundHover: darken($color_inverted_lightenBackground, 3%)
$color_inverted_background            : nth($inverted, 6)
$color_inverted_backgroundHover       : nth($inverted, 5)
$color_inverted_backgroundDarkenHover : nth($inverted, 5)
$color_inverted_backgroundDarkenActive: nth($inverted, 10)
$color_inverted_invertedText          : $white
$color_inverted_invertedTextHover     : darken($white, 2%)
$color_inverted_invertedTextActive    : darken($white, 8%)
$color_inverted_disabled              : nth($inverted, 4)

$color_invertedText : $white
$color_text_disabled: nth($grey, 5)
$color_text         : nth($grey, 8)
$color_text_lighten : nth($grey, 7)

$color_link       : nth($link, 6)
$color_link_hover : nth($link, 5)
$color_link_active: nth($link, 7)

//*******************************//
//             Common
//*******************************//

$color_border      : nth($grey, 4)
$color_border_focus: #66afe9
$color_border_hover: lighten(nth($grey, 6), 5%)

//*******************************//
//             Header
//*******************************//

$color_header    : nth($grey, 9)
$color_header_sub: nth($grey, 8)

//*******************************//
//             Divider
//*******************************//

$color_divider       : nth($grey, 7)
$color_divider_border: nth($grey, 4)

$color_divider_invertedBorder: nth($inverted, 5)
$color_divider_inverted      : nth($grey, 6)

$color_secondary_invertedText: nth($grey, 8)
$color_teritary_invertedText : nth($grey, 8)
$color_secondary_background  : nth($grey, 1)
$color_teritary_background   : nth($grey, 2)

//-------------------//
//      Default
//-------------------//

$defaultColor: #F1F1F1
$globalDefaultBackgroundColor: $defaultColor
$globalDefaultBorderColor    : darken($globalDefaultBackgroundColor, 3%)
$globalDefaultTextColor      : #7B7B7B

//-------------------//
//      Negative
//-------------------//

$negativeColor: #CE5F58
$globalNegativeBackgroundColor: $negativeColor
$globalNegativeBorderColor    : darken($globalNegativeBackgroundColor, 3%)
$globalNegativeTextColor      : lighten($globalNegativeBackgroundColor, 40%)

//-------------------//
//      Positive
//-------------------//

$positiveColor: #8BB96E
$globalPositiveBackgroundColor: $positiveColor
$globalPositiveBorderColor    : darken($globalPositiveBackgroundColor, 3%)
$globalPositiveTextColor      : lighten($globalPositiveBackgroundColor, 45%)

//-------------------//
//      Primary
//-------------------//

$primaryColor: #1FBAF1
$globalPrimaryBackgroundColor: $primaryColor
$globalPrimaryBorderColor    : darken($globalPrimaryBackgroundColor, 3%)
$globalPrimaryTextColor      : lighten($globalPrimaryBackgroundColor, 45%)

//-------------------//
//        Info
//-------------------//

$infoColor: #79A8B9
$globalInfoBackgroundColor: $infoColor
$globalInfoBorderColor    : darken($globalInfoBackgroundColor, 3%)
$globalInfoTextColor      : lighten($globalInfoBackgroundColor, 45%)

//-------------------//
//      Warning
//-------------------//

$warningColor: #F5D562
$globalWarningBackgroundColor: $warningColor
$globalWarningBorderColor    : darken($globalWarningBackgroundColor, 8%)
$globalWarningTextColor      : darken($globalWarningBackgroundColor, 38%)

//-------------------//
//      Inverted
//-------------------//

$invertedColor: #FFF
$globalInvertedBackgroundColor: $invertedColor
$globalInvertedBorderColor    : darken($globalInvertedBackgroundColor, 3%)
$globalInvertedTextColor      : #FFF