//*******************************//
//             Colors
//*******************************//

//            1        2        3        4        5        6        7        8        9       10
//                                             Border    Main
//          Active  Disabled    Bg    Divider   Hover    Brand   Pressed
$grey    : #fbfbfb, #f7f7f7, #f5f5f5, #e9e9e9, #d9d9d9, #bfbfbf, #919191, #5a5a5a, #404040, #222222
$primary : #EBF9FD, #CFF0FB, #A7E3F8, #76D3F4, #3DC1EF, #00ADEA, #0092CB, #0076AC, #005A8B, #003D6B
$positive: #F6F9F4, #E9F2E4, #D7E7CD, #C1D9B1, #A7CA91, #8BB96E, #7FA45F, #738F50, #677A40, #5A6430
$negative: #FBF2F2, #F6E1DF, #EEC8C6, #E5A9A5, #DA8580, #CE5F58, #B85052, #A1414C, #8A3145, #73213F
$info    : #F4F8F9, #E6EFF2, #D1E1E7, #B7D0D9, #99BDCA, #79A8B9, #6791A2, #55798A, #436172, #30485A
$warning : #FFFCF1, #FFF7DE, #FFF1C3, #FFE9A1, #FFE07A, #FFD650, #EAB03D, #D48829, #BE6014, #A83800
$inverted: #EFEFEF, #D8D8D8, #B9B9B9, #919191, #646464, #333333, #2C2C2C, #252525, #1E1E1E, #171717
$link    : #ecf6fd, #d2eafb, #add8f7, #7ec2f3, #49a9ee, #108ee9, #0e77ca, #0c60aa, #09488a, #073069


$white: #FFF
$black: #000

$color_positive                : nth($positive, 8)
$color_positive_hover          : nth($positive, 1)
$color_positive_border         : nth($positive, 6)
$color_positive_lightenBackground     : nth($positive, 2)
$color_positive_lightenBackgroundHover: darken($color_positive_lightenBackground, 5%)
$color_positive_background     : nth($positive, 6)
$color_positive_backgroundHover: nth($positive, 5)
$color_positive_invertedText   : $white

$color_negative                : nth($negative, 8)
$color_negative_hover          : nth($negative, 1)
$color_negative_border         : nth($negative, 6)
$color_negative_lightenBackground     : nth($negative, 2)
$color_negative_lightenBackgroundHover: darken($color_negative_lightenBackground, 3%)
$color_negative_background     : nth($negative, 6)
$color_negative_backgroundHover: nth($negative, 5)
$color_negative_invertedText   : $white

$color_primary                : nth($primary, 8)
$color_primary_hover          : nth($primary, 1)
$color_primary_border         : nth($primary, 6)
$color_primary_lightenBackground     : nth($primary, 2)
$color_primary_lightenBackgroundHover: darken($color_primary_lightenBackground, 3%)
$color_primary_background     : nth($primary, 6)
$color_primary_backgroundHover: nth($primary, 5)
$color_primary_invertedText   : $white

$color_info                : nth($info, 8)
$color_info_hover          : nth($info, 1)
$color_info_border         : nth($info, 6)
$color_info_lightenBackground     : nth($info, 2)
$color_info_lightenBackgroundHover: darken($color_info_lightenBackground, 3%)
$color_info_background     : nth($info, 6)
$color_info_backgroundHover: nth($info, 5)
$color_info_invertedText   : $white

$color_warning                : nth($warning, 8)
$color_warning_hover          : nth($warning, 1)
$color_warning_border         : nth($warning, 6)
$color_warning_lightenBackground     : nth($warning, 2)
$color_warning_lightenBackgroundHover: darken($color_warning_lightenBackground, 3%)
$color_warning_background     : nth($warning, 6)
$color_warning_backgroundHover: nth($warning, 5)
$color_warning_invertedText   : nth($warning, 10)

$color_inverted                : nth($inverted, 1)
$color_inverted_hover          : nth($inverted, 1)
$color_inverted_border         : nth($inverted, 9)
$color_inverted_lightenBackground     : nth($inverted, 6)
$color_inverted_lightenBackgroundHover: darken($color_inverted_lightenBackground, 3%)
$color_inverted_background     : nth($inverted, 6)
$color_inverted_backgroundHover: nth($inverted, 5)
$color_inverted_invertedText   : $white

$color_text: nth($grey, 8)

$color_link       : nth($link, 6)
$color_link_hover : nth($link, 5)
$color_link_active: nth($link, 7)

//*******************************//
//            Common
//*******************************//

$color_border: nth($grey, 4)

//*******************************//
//            Segment
//*******************************//

$color_segment: nth($grey, 8)
$color_segment_background: $white
$color_segment_secondary: nth($grey, 8)
$color_segment_secondaryBackground: nth($grey, 1)
$color_segment_teritary: nth($grey, 8)
$color_segment_teritaryBackground: nth($grey, 4)

//*******************************//
//             Quote
//*******************************//

$color_quote       : nth($grey, 7)
$color_quote_cite  : nth($grey, 6)
$color_quote_mark  : nth($grey, 5)
$color_quote_border: nth($grey, 5)

//*******************************//
//             Header
//*******************************//

$color_header    : nth($grey, 9)
$color_header_sub: nth($grey, 8)

//*******************************//
//             Table
//*******************************//

$color_table                 : nth($grey, 8)
$color_table_border          : nth($grey, 4)
$color_table_header          : nth($grey, 9)
$color_table_headerBackground: nth($grey, 2)
$color_table_footer          : nth($grey, 9)
$color_table_footerBackground: nth($grey, 2)

//-------------------//
//      Striped
//-------------------//

$color_table_stripedBackground        : nth($grey, 1)
$color_table_invertedStripedBackground: nth($inverted, 8)

//-------------------//
//    Definition
//-------------------//

$color_table_definitionHeaderBackground: transparent
$color_table_definitionHeader          : nth($grey, 9)
$color_table_definitionFooterBackground: nth($grey, 2)
$color_table_definitionFooter          : nth($grey, 9)
$color_table_definition                : #FFF

$color_table_definitionColumnBackground: nth($grey, 2)
$color_table_definitionColumnText      : nth($grey, 9)

//-------------------//
//      Disabled
//-------------------//

$color_table_disabled: nth($grey, 5)
$color_table_disabledInverted: nth($inverted, 4)

//-------------------//
//       Active
//-------------------//

$color_table_active               : $color_table
$color_table_activeBackground     : nth($grey, 4)
$color_table_activeHover          : nth($grey, 7)
$color_table_activeHoverBackground: nth($grey, 3)

//-------------------//
//     Selectable
//-------------------//

$color_table_selectableBackground        : nth($grey, 1)
$color_table_selectable                  : $color_table

$color_table_selectableInvertedBackground: nth($inverted, 6)
$color_table_selectableInverted          : nth($inverted, 1)

//-------------------//
//      Sortable
//-------------------//

$color_table_sortableHoverBackground: nth($grey, 1)
$color_table_sortableHover          : nth($grey, 9)

$color_table_sortablePressedBackground: nth($grey, 4)
$color_table_sortablePressed          : nth($grey, 9)

$color_table_sortableActiveBackground: nth($grey, 3)
$color_table_sortableActive          : nth($grey, 8)

$color_table_sortableActiveHoverBackground: nth($grey, 1)
$color_table_sortableActiveHover          : nth($grey, 8)

$color_table_sortableActivePressedBackground: nth($grey, 4)
$color_table_sortableActivePressed          : nth($grey, 9)

//-------------------//
//      Inverted
//-------------------//

$color_table_basicInvertedBorder: nth($inverted, 7)

$color_table_invertedBackground: nth($inverted, 7)
$color_table_invertedCellBorder: nth($inverted, 6)
$color_table_invertedCell      : nth($inverted, 1)

$color_table_invertedHeaderBackground: nth($inverted, 8)
$color_table_invertedHeader          : nth($inverted, 1)
$color_table_invertedHeaderBorder    : nth($inverted, 7)

$color_table_activeInverted          : nth($inverted, 1)
$color_table_activeInvertedBackground: nth($inverted, 10)

$color_table_activeInvertedHoverBackground: nth($inverted, 9)
$color_table_activeInvertedHover          : nth($inverted, 1)

// Sortable
$color_table_sortableInvertedBorder           : nth($inverted, 7)

$color_table_sortableInvertedHoverBackground  : nth($inverted, 9)
$color_table_sortableInvertedHover            : nth($inverted, 2)

$color_table_sortableInvertedActiveBackground : nth($inverted, 10)
$color_table_sortableInvertedActive           : nth($inverted, 1)

$color_table_sortableInvertedPressedBackground: nth($inverted, 10)
$color_table_sortableInvertedPressed          : nth($inverted, 1)

$color_table_invertedDefinitionColumnBackground: nth($inverted, 8)
$color_table_invertedDefinitionColumn          : nth($inverted, 1)

//-------------------//
//      Default
//-------------------//

$defaultColor: #F1F1F1
$globalDefaultBackgroundColor: $defaultColor
$globalDefaultBorderColor    : darken($globalDefaultBackgroundColor, 3%)
$globalDefaultTextColor      : #7B7B7B

//-------------------//
//      Negative
//-------------------//

$negativeColor: #CE5F58
$globalNegativeBackgroundColor: $negativeColor
$globalNegativeBorderColor    : darken($globalNegativeBackgroundColor, 3%)
$globalNegativeTextColor      : lighten($globalNegativeBackgroundColor, 40%)

//-------------------//
//      Positive
//-------------------//

$positiveColor: #8BB96E
$globalPositiveBackgroundColor: $positiveColor
$globalPositiveBorderColor    : darken($globalPositiveBackgroundColor, 3%)
$globalPositiveTextColor      : lighten($globalPositiveBackgroundColor, 45%)

//-------------------//
//      Primary
//-------------------//

$primaryColor: #1FBAF1
$globalPrimaryBackgroundColor: $primaryColor
$globalPrimaryBorderColor    : darken($globalPrimaryBackgroundColor, 3%)
$globalPrimaryTextColor      : lighten($globalPrimaryBackgroundColor, 45%)

//-------------------//
//        Info
//-------------------//

$infoColor: #79A8B9
$globalInfoBackgroundColor: $infoColor
$globalInfoBorderColor    : darken($globalInfoBackgroundColor, 3%)
$globalInfoTextColor      : lighten($globalInfoBackgroundColor, 45%)

//-------------------//
//      Warning
//-------------------//

$warningColor: #F5D562
$globalWarningBackgroundColor: $warningColor
$globalWarningBorderColor    : darken($globalWarningBackgroundColor, 8%)
$globalWarningTextColor      : darken($globalWarningBackgroundColor, 38%)

//-------------------//
//      Inverted
//-------------------//

$invertedColor: #FFF
$globalInvertedBackgroundColor: $invertedColor
$globalInvertedBorderColor    : darken($globalInvertedBackgroundColor, 3%)
$globalInvertedTextColor      : #FFF