$defaultColor: #F1F1F1
$globalDefaultBackgroundColor: $defaultColor
$globalDefaultBorderColor    : darken($globalDefaultBackgroundColor, 1%)
$globalDefaultTextColor      : #7B7B7B

$negativeColor: #CE5F58
$globalNegativeBackgroundColor: $negativeColor
$globalNegativeBorderColor    : darken($globalNegativeBackgroundColor, 1%)
$globalNegativeTextColor      : lighten($globalNegativeBackgroundColor, 40%)

$positiveColor: #8BB96E
$globalPositiveBackgroundColor: $positiveColor
$globalPositiveBorderColor    : darken($globalPositiveBackgroundColor, 1%)
$globalPositiveTextColor      : lighten($globalPositiveBackgroundColor, 45%)

$primaryColor: #1FBAF1
$globalPrimaryBackgroundColor: $primaryColor
$globalPrimaryBorderColor    : darken($globalPrimaryBackgroundColor, 1%)
$globalPrimaryTextColor      : lighten($globalPrimaryBackgroundColor, 45%)

$infoColor: #79A8B9
$globalInfoBackgroundColor: $infoColor
$globalInfoBorderColor    : darken($globalInfoBackgroundColor, 1%)
$globalInfoTextColor      : lighten($globalInfoBackgroundColor, 45%)

$warningColor: #F5D562
$globalWarningBackgroundColor: $warningColor
$globalWarningBorderColor    : darken($globalWarningBackgroundColor, 1%)
$globalWarningTextColor      : darken($globalWarningBackgroundColor, 38%)

$invertedColor: #FFF
$globalInvertedBackgroundColor: $invertedColor
$globalInvertedBorderColor    : darken($globalInvertedBackgroundColor, 1%)
$globalInvertedTextColor      : #FFF