//**************************************
//**********   C O L O R S   ***********
//**************************************

$defaultColor : #DDD
$negativeColor: #D9534F
$positiveColor: #50B550
$primaryColor : #0091C4
$infoColor    : #678E9C
$warningColor : #C1BD41
$invertedColor: #FFF



//**************************************
//*********   G L O B A L S   **********
//**************************************

$padding : .8rem
$margin  : .8rem
$normal  : 1.4rem
$small   : 1.2rem
$tiny    : 1rem


$htmlSize: 62.5%
$bodySize: 1.6rem






//**************************************
//*************   R W D   **************
//**************************************

$rwd-mobile      : 767px
$rwd-tablet-min  : 768px
$rwd-tablet-max  : 991px
$rwd-computer-min: 992px
$rwd-computer-max: 1199px
$rwd-large-min   : 1200px
$rwd-large-max   : 1919px




//**************************************
//**********   H E A D E R   ***********
//**************************************

//                  H1      H2       H3     H4     H5     H6
$headerFontSizes: 3.6rem  2.8rem   2.4rem  2rem  1.6rem  1.6rem
$headerNames    :   h1      h2       h3     h4     h5     h6
$headerSizes    :  huge    large    medium  small  tiny   mini 
$headerAmount   : 6




//**************************************
//**********   B U T T O N   ***********
//**************************************

//              
$buttonFontSizes: 1.2rem 1.2rem 1.3rem  1.4rem 1.5rem 1.6rem 1.9rem  2rem
$buttonSizes    :  mini   tiny   small  medium  large   big   huge  massive
$buttonAmount   : 8



//**************************************
//***********   L A B E L   ************
//**************************************

//              
$labelFontSizes: 1.2rem 1.2rem 1.3rem  1.4rem 1.5rem 1.6rem 1.9rem  2rem
$labelSizes    :  mini   tiny   small  medium  large   big   huge  massive
$labelAmount   : 8


