//**************************************
//**********   C O L O R S   ***********
//**************************************

$defaultColor : #DDD
$negativeColor: #D9534F
$positiveColor: #50B550
$primaryColor : #0091C4
$infoColor    : #678E9C
$warningColor : #C1BD41
$invertedColor: #FFF



//**************************************
//*********   G L O B A L S   **********
//**************************************

$padding: 8px
$margin : 8px
$normal : 13px
$small  : 12px
$tiny   : 10px




//**************************************
//*************   R W D   **************
//**************************************

$rwd-mobile      : 767px
$rwd-tablet-min  : 768px
$rwd-tablet-max  : 991px
$rwd-computer-min: 992px
$rwd-computer-max: 1199px
$rwd-large-min   : 1200px
$rwd-large-max   : 1919px




//**************************************
//**********   H E A D E R   ***********
//**************************************

$h1Size: 36px
$h2Size: 28px
$h3Size: 24px
$h4Size: 20px
$h5Size: 16px
$h6Size: 16px
$h7Size: 16px
$h8Size: 16px
