//-------------------//
//        Ease 
//-------------------//

%ease
    transition: all $easeDuration ease-in-out

//-------------------//
//      Attached
//-------------------//

%top-attached
    margin-bottom             : 0
    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

%attached
    margin-top   : 0
    margin-bottom: 0
    border-radius: 0
    border-top   : 0

%bottom-attached
    border-top             : 0
    margin-top             : 0
    border-top-left-radius : 0
    border-top-right-radius: 0

//-------------------//
//      No Ease
//-------------------//

%no-ease
    transition: none

//-------------------//
//     No Select
//-------------------//

%no-select
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

//-------------------//
//         Dot
//-------------------//

%is-dot
    font-family: Lato, Arial, sans-serif
    font-weight: 400
    line-height: 1