//-------------------//
//        Ease 
//-------------------//

%ease
    transition: all $easeDuration ease-in-out

//-------------------//
//      No Ease 
//-------------------//

%no-ease
    transition: none

//-------------------//
//     No Select
//-------------------//

%no-select
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

//-------------------//
//         Dot
//-------------------//

%is-dot
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif
    line-height: 1