$emSize  : 14px
$fontSize: 14px

@function pxToRem($px)
    @return #{$px/$emSize}rem

@function pxToEm($px)
    @return #{$px/$emSize}em

$absolute1px : pxToRem(1px)
$absolute2px : pxToRem(2px)
$absolute3px : pxToRem(3px)
$absolute4px : pxToRem(4px)
$absolute5px : pxToRem(5px)
$absolute6px : pxToRem(6px)
$absolute7px : pxToRem(7px)
$absolute8px : pxToRem(8px)
$absolute9px : pxToRem(9px)
$absolute10px: pxToRem(10px)
$absolute11px: pxToRem(11px)
$absolute12px: pxToRem(12px)
$absolute13px: pxToRem(13px)
$absolute14px: pxToRem(14px)
$absolute15px: pxToRem(15px)
$absolute16px: pxToRem(16px)
$absolute17px: pxToRem(17px)
$absolute18px: pxToRem(18px)
$absolute19px: pxToRem(19px)
$absolute20px: pxToRem(20px)
$absolute21px: pxToRem(21px)
$absolute22px: pxToRem(22px)
$absolute23px: pxToRem(23px)
$absolute24px: pxToRem(24px)
$absolute25px: pxToRem(25px)

$relative1px : pxToEm(1px)
$relative2px : pxToEm(2px)
$relative3px : pxToEm(3px)
$relative4px : pxToEm(4px)
$relative5px : pxToEm(5px)
$relative6px : pxToEm(6px)
$relative7px : pxToEm(7px)
$relative8px : pxToEm(8px)
$relative9px : pxToEm(9px)
$relative10px: pxToEm(10px)
$relative11px: pxToEm(11px)
$relative12px: pxToEm(12px)
$relative13px: pxToEm(13px)
$relative14px: pxToEm(14px)
$relative15px: pxToEm(15px)
$relative16px: pxToEm(16px)
$relative17px: pxToEm(17px)
$relative18px: pxToEm(18px)
$relative19px: pxToEm(19px)
$relative20px: pxToEm(20px)
$relative21px: pxToEm(21px)
$relative22px: pxToEm(22px)
$relative23px: pxToEm(23px)
$relative24px: pxToEm(24px)
$relative25px: pxToEm(25px)



$miniSize   : $relative11px
$tinySize   : $relative12px
$smallSize  : $relative13px
$mediumSize : $relative14px
$largeSize  : $relative16px
$bigSize    : $relative18px
$hugeSize   : $relative20px
$massiveSize: $relative24px