$easeDuration: 0.05s


$lineHeight: 1.4285em
$lineHeightOffset: calc((#{$lineHeight} - 1em) / 2)
$headerLineHeight: 1.2857em
$headerLineHeightOffset: ($headerLineHeight - 1em) / 2

//$textColor: rgba(0, 0, 0, .88)
$textColor: rgba(0, 0, 0, .77)
$darkTextColor : rgba(0, 0, 0, .85)
$mutedTextColor: rgba(0, 0, 0, .6)
$lightTextColor: rgba(0, 0, 0, .4)
$disabledTextColor: rgba(0, 0, 0, .2)

$whiteBorderColor              : rgba(255, 255, 255, 0.1)
$selectedWhiteBorderColor      : rgba(255, 255, 255, 0.8)

$solidWhiteBorderColor         : #555555
$selectedSolidWhiteBorderColor : #999999

$unselectedTextColor: rgba(0, 0, 0, 0.4)
$hoveredTextColor   : rgba(0, 0, 0, 0.8)
$pressedTextColor   : rgba(0, 0, 0, 0.9)
$selectedTextColor  : rgba(0, 0, 0, 0.95)
$disabledTextColor  : rgba(0, 0, 0, 0.2)

$linkColor           : #4183C4
$linkUnderline       : none
$linkHoverColor      : lighten($linkColor, 20%)
$linkHoverUnderline  : $linkUnderline

$invertedTextColor           : rgba(255, 255, 255, 0.9)
$invertedMutedTextColor      : rgba(255, 255, 255, 0.8)
$invertedLightTextColor      : rgba(255, 255, 255, 0.7)
$invertedUnselectedTextColor : rgba(255, 255, 255, 0.5)
$invertedHoveredTextColor    : rgba(255, 255, 255, 1)
$invertedPressedTextColor    : rgba(255, 255, 255, 1)
$invertedSelectedTextColor   : rgba(255, 255, 255, 1)
$invertedDisabledTextColor   : rgba(255, 255, 255, 0.2)

$h1 : 2rem
$h2 : 1.714rem
$h3 : 1.28rem
$h4 : 1.071rem
$h5 : 1rem
$h6 : 1rem


$headerTopMargin: calc(2rem - #{$headerLineHeightOffset})
$headerBottomMargin: 1rem
$headerMargin: $headerTopMargin 0em $headerBottomMargin

$inputVerticalPadding  : $relative11px
$inputHorizontalPadding: $relative14px

$inputPadding: $inputVerticalPadding $inputHorizontalPadding

$relativeBorderRadius: $relative4px
$absoluteBorderRadius: $absolute4px

$defaultBorderRadius: $absoluteBorderRadius

$borderColor: rgba(34, 36, 38, 0.15)
$strongBorderColor         : rgba(34, 36, 38, 0.22)
$internalBorderColor       : rgba(34, 36, 38, 0.1)
$selectedBorderColor       : rgba(34, 36, 38, 0.35)
$strongSelectedBorderColor : rgba(34, 36, 38, 0.5)
$disabledBorderColor       : rgba(34, 36, 38, 0.5)

$disabledOpacity: 0.45
$disabledLabelOpacity: 0.45

$subtleShadow: 0px 1px 2px 0 $borderColor



$subtleTransparentBlack     : rgba(0, 0, 0, 0.03)
$transparentBlack           : rgba(0, 0, 0, 0.05)
$strongTransparentBlack     : rgba(0, 0, 0, 0.10)
$veryStrongTransparentBlack : rgba(0, 0, 0, 0.15)
$extraStrongTransparentBlack : rgba(0, 0, 0, 0.25)
$subtleTransparentWhite     : rgba(255, 255, 255, 0.02)
$transparentWhite           : rgba(255, 255, 255, 0.08)
$strongTransparentWhite     : rgba(255, 255, 255, 0.15)
$extraStrongTransparentWhite     : rgba(255, 255, 255, 0.25)

$floatingShadow: 0 2px 4px 0 darken($borderColor, 4%),0 2px 10px 0 darken($borderColor, 4%)

$rwdMobile      : 767px
$rwdTabletMin  : 768px
$rwdTabletMax  : 991px
$rwdComputerMin: 992px
$rwdComputerMax: 1199px
$rwdLargeMin   : 1200px
$rwdLargeMax   : 1919px

$oneColumn     : calc(1 / 1 * 100%)
$twoColumn     : calc(1 / 2 * 100%)
$threeColumn   : calc(1 / 3 * 100%)
$fourColumn    : calc(1 / 4 * 100%)
$fiveColumn    : calc(1 / 5 * 100%)
$sixColumn     : calc(1 / 6 * 100%)
$sevenColumn   : calc(1 / 7 * 100%)
$eightColumn   : calc(1 / 8 * 100%)
$nineColumn    : calc(1 / 9 * 100%)
$tenColumn     : calc(1 / 10 * 100%)
$elevenColumn  : calc(1 / 11 * 100%)
$twelveColumn  : calc(1 / 12 * 100%)
$thirteenColumn: calc(1 / 13 * 100%)
$fourteenColumn: calc(1 / 14 * 100%)
$fifteenColumn : calc(1 / 15 * 100%)
$sixteenColumn : calc(1 / 16 * 100%)

$oneWide     : calc(100% / 16 * 1)
$twoWide     : calc(100% / 16 * 2)
$threeWide   : calc(100% / 16 * 3)
$fourWide    : calc(100% / 16 * 4)
$fiveWide    : calc(100% / 16 * 5)
$sixWide     : calc(100% / 16 * 6)
$sevenWide   : calc(100% / 16 * 7)
$eightWide   : calc(100% / 16 * 8)
$nineWide    : calc(100% / 16 * 9)
$tenWide     : calc(100% / 16 * 10)
$elevenWide  : calc(100% / 16 * 11)
$twelveWide  : calc(100% / 16 * 12)
$thirteenWide: calc(100% / 16 * 13)
$fourteenWide: calc(100% / 16 * 14)
$fifteenWide : calc(100% / 16 * 15)
$sixteenWide : calc(100% / 16 * 16)

$gutterWidth: 2rem
$rowSpacing : 2rem

$columnPadding       : .4rem
$columnRelaxedPadding: .8rem
$columnAmount: 16

$linkColor           : #4183C4
$linkUnderline       : none
$linkHoverColor      : darken($linkColor, 20%)
$linkHoverUnderline  : $linkUnderline


$loaderSize              : $relativeLarge
$loaderLineWidth         : 0.2em
$loaderOffset : -#{$loaderSize / 2 + $loaderLineWidth}
$loaderMargin : $loaderOffset 0em 0em $loaderOffset
$loaderSpeed             : 0.5s
$loaderFillColor         : rgba(0, 0, 0, 0.1)
$loaderLineColor         : #666

$invertedLoaderFillColor : rgba(200, 200, 200, 0.45)
$invertedLoaderLineColor : #FFF

$circularRadius: 500em

$inputTextColor: $textColor
$inputLineHeight: 1.2142em

$defaultDuration : 0.1s
$defaultEasing   : ease


$relativeBorderRadius: $relative4px
$absoluteBorderRadius: $absolute4px

$defaultBorderRadius: $absoluteBorderRadius

$glyphWidth: 1.1em