#文件內容 {
    display: block;
    padding: 4rem 2rem;
    flex: 1;
}

/**
 * 側邊索引
 */

#文件內容-側邊索引 {
    display: block;
    margin-right: 4rem;
    border-right: 2px solid #e8e8e8;
    padding-right: 3rem;
}

.文件內容-側邊索引-標題 {
    display: block;
    font-weight: 500;
    color: #777;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.文件內容-側邊索引-標題:not(:first-child) {
    margin-top: 3rem;
}

.文件內容-側邊索引-項目 {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0 0.5rem 0;
}

.文件內容-側邊索引-項目:hover .文件內容-側邊索引-項目-文字 {
    text-decoration: underline;
}

.文件內容-側邊索引-項目-英文 {
    color: #777;
    font-size: 0.9rem;
    margin-left: 0.45rem;
}

/**
 * 主要欄位
 */

.文件內容-主要欄位-規格表格 {
    border-radius: 0.4rem;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 1px #e8e8e8;
    width: 100%;
    margin-top: 4rem;
}

.文件內容-主要欄位-規格表格 thead tr th {
    font-weight: normal;
    padding: 0.5rem 1rem;
    border: 1px solid #e8e8e8;
    text-align: left;
    background: #f7f7f7;
    font-weight: 500;
    color: #333;
}

.文件內容-主要欄位-規格表格 thead tr th:first-child {
    background: transparent;
    color: #777;
    font-weight: 500;
    width: 1px;
}

.文件內容-主要欄位-規格表格 tbody tr td {
    padding: 1rem 1rem;
    border: 1px solid #e8e8e8;
    text-align: left;
    color: #333;
    vertical-align: top;
}

.文件內容-主要欄位-規格表格 tbody tr td:first-child {
    background: #f7f7f7;
    color: #333;
    font-weight: 500;
    vertical-align: top;
}

.文件內容-主要欄位-規格表格-分隔線 {
    border: 0;
    border-top: 1px solid #e8e8e8;
    margin: 1rem 0;
}

.文件內容-主要欄位-規格表格-參數清單 {
    font-size: 0.9rem;
    color: #333;
    margin: 1rem 0 0;
    list-style: none;
    padding: 0;
}

.文件內容-主要欄位-規格表格-參數清單-項目 {
    padding-left: 1rem;
}

.文件內容-主要欄位-規格表格-參數清單-項目 + .文件內容-主要欄位-規格表格-參數清單-項目 {
    margin-top: 0.5rem;
}

.文件內容-主要欄位-規格表格-參數清單-項目::before {
    content: "•";
    font-family: "Lato";
    color: #333;
    margin-left: -1rem;
    margin-right: 0.4rem;
}

.文件內容-主要欄位-規格表格-參數清單-項目-說明 {
    color: #777;
}

.文件內容-主要欄位-規格表格-型態,
.文件內容-主要欄位-規格表格-參數清單-項目-型態 {
    margin-left: 0.4rem;
    font-size: 0.8rem;
    position: relative;
    top: -0.2rem;
    color: #777;
}

.文件內容-主要欄位-規格表格-參數清單-項目-型態_必要的 {
    color: red;
    margin-left: 0.2rem;
}

.文件內容-主要欄位-規格表格-函式碼 {
    font-size: 0.9rem;
    background: #f7f7f7;
    color: #777;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    font-family: "Fira Code";
}

.文件內容-主要欄位-規格表格-函式碼-參數 {
    font-size: 0.85rem;
}

#文件內容-主要欄位 {
    flex: 1;
    display: block;
    margin-top: -0.5rem;
}

.文件內容-主要欄位-標題 {
    display: block;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}

.文件內容-主要欄位-標題:not(:first-child) {
    margin-top: 6rem;
}

.文件內容-主要欄位-標題_分隔的 {
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 0.8rem;
}

.文件內容-主要欄位-說明 {
    display: block;
    line-height: 2;
    color: #333;
}

.文件內容-主要欄位-元件 {
    display: block;
    margin-top: 8rem;
}

.文件內容-主要欄位-元件-資訊標頭 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.文件內容-主要欄位-元件-資訊標頭-標題欄位 {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    position: relative;
}

.文件內容-主要欄位-元件-資訊標頭-標題欄位-錨點 {
    display: block;
    height: 128%;
    position: absolute;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background: #a4a4a4;
    width: 2px;
    box-sizing: border-box;
    left: -66px;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.文件內容-主要欄位-元件-資訊標頭-標題欄位-錨點:hover {
    background: transparent;
}

.文件內容-主要欄位-元件-資訊標頭-標題欄位-錨點:hover::before {
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff,
        -1px 0px 0 #fff, 1px 0px 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff,
        0px 2px 0 #fff, 0px -2px 0 #fff, -2px 0px 0 #fff, 2px 0px 0 #fff, 1px 2px 0 #fff, -1px 2px 0 #fff,
        1px -2px 0 #fff, -1px -2px 0 #fff, 2px 1px 0 #fff, -2px 1px 0 #fff, 2px -1px 0 #fff, -2px -1px 0 #fff;
    left: -8px;
    top: -10px;
    font-size: 2rem;
    color: #a4a4a4;
    content: "#";
    position: absolute;
}

.文件內容-主要欄位-元件-資訊標頭-標題欄位_被提及的 {
    color: #4347ff;
    font-weight: bold;
}

.文件內容-主要欄位-元件-資訊標頭-標題欄位_被提及的 .文件內容-主要欄位-元件-資訊標頭-標題欄位-錨點:not(:hover) {
    background: #4347ff;
}

.文件內容-主要欄位-元件-資訊標頭-動作欄位-項目 {
    appearance: none;
    border: 2px solid #e8e8e8;
    background: #fff;
    color: #333;
    border-radius: 0.4rem;
    padding: 0.4rem 1.2rem;
    font-size: 15px;
    font-weight: 500;
    font-family: "Noto Sans CJK TC";
    outline: none;
    cursor: pointer;
}

.文件內容-主要欄位-元件:not(.文件內容-主要欄位-元件_檢視原始碼中) .文件內容-主要欄位-元件-資訊標頭-動作欄位-項目:hover {
    border-color: #dddcdc;
}

.文件內容-主要欄位-元件-資訊標頭-動作欄位-項目-圖示 {
    color: #777;
    margin-right: 0.25rem;
}

.文件內容-主要欄位-元件_檢視原始碼中 .文件內容-主要欄位-元件-資訊標頭-動作欄位-項目-圖示 {
    color: #ccc;
}

.文件內容-主要欄位-元件_檢視原始碼中 .文件內容-主要欄位-元件-資訊標頭-動作欄位-項目 {
    background: #333;
    color: #fff;
    border-color: #333;
}

.文件內容-主要欄位-元件-說明 {
    display: block;
    line-height: 2;
    color: #333;
    margin-bottom: 2rem;
}

.文件內容-主要欄位-說明 code,
.文件內容-主要欄位-元件-說明 code {
    font-size: 0.9rem;
    background: #f7f7f7;
    color: #777;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    font-family: "Fira Code";
}

.文件內容-主要欄位-元件-說明 strong {
    font-weight: 500;
}

.文件內容-主要欄位-元件-展示區域 {
    display: block;
}

.文件內容-主要欄位-元件-展示區域::after {
    display: block;
    content: "\00a0";
    height: 0;
    clear: both;
    visibility: hidden;
}

.文件內容-主要欄位-元件_檢視原始碼中 .文件內容-主要欄位-元件-展示區域 {
    padding: 1.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 0.4rem 0.4rem 0 0;
}

.文件內容-主要欄位-元件-HTML原始碼 {
    display: none;
    padding: 1.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 0 0 0.4rem 0.4rem;
    border-top: 0;
    background: #fafafa;
    color: #333;
}

.文件內容-主要欄位-元件_檢視原始碼中 .文件內容-主要欄位-元件-HTML原始碼 {
    display: block;
}

.文件內容-主要欄位-元件_檢視原始碼中 .文件內容-主要欄位-元件-HTML原始碼 pre {
    margin: 0;
    white-space: break-spaces;
}

.文件內容-主要欄位-元件-圖示組 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.文件內容-主要欄位-元件-圖示組-單個圖示 {
    width: calc(100% / 6 - 2rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0.8rem 1rem;
    color: #333;
    box-sizing: border-box;
}

/*.文件內容-主要欄位-元件-圖示組-單個圖示:active,
.文件內容-主要欄位-元件-圖示組-單個圖示:active .文件內容-主要欄位-元件-圖示組-單個圖示-標籤 {
    color: #2cd62c;
}

.文件內容-主要欄位-元件-圖示組-單個圖示:hover {
    cursor: pointer;
}

.文件內容-主要欄位-元件-圖示組-單個圖示:hover .文件內容-主要欄位-元件-圖示組-單個圖示-標籤 {
    color: #333;
}*/

.文件內容-主要欄位-元件-圖示組-單個圖示-圖示 {
    font-size: 2rem !important;
    margin-right: 0 !important;
}

.文件內容-主要欄位-元件-圖示組-單個圖示-標籤 {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.4rem;
    line-height: 1.3;
    color: #999;
}

/**
 * 內容索引
 */

#文件內容-內容索引 {
    margin-left: 4rem;
}

.文件內容-內容索引-標題 {
    display: block;
    font-weight: 500;
    color: #777;
    margin-bottom: 1rem;
}

.文件內容-內容索引-標題:not(:first-child) {
    margin-top: 3rem;
}

.文件內容-內容索引-項目 {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin-left: 6px;
    border-left: 1px solid #e8e8e8;
}

.文件內容-內容索引-項目:hover .文件內容-內容索引-項目-文字 {
    text-decoration: underline;
}

.文件內容-內容索引-項目-重點 {
    color: #777;
    font-size: 0.9rem;
    margin-left: 0.45rem;
}
