@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500|Noto+Sans+JP:400,500|Noto+Sans+KR:400,500|Noto+Sans+SC:400,500|Noto+Sans+TC:400,500&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,japanese,korean,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Lato:400");

html {
    font-size: 16px;
    font-family: "Noto Sans TC";
}

html {
    --background-color: #FFF;
    --slate-background-color: #f7f7f7;
    --secondary-background-color: #fafafa;
    --header-color: #333;
    --sub-header-color: #555;
    --secondary-color: #555;
    --paragraph-color: #555555;
    --border-color: #e9e9e9;
    --description-color: #777;
}

html[data-scheme="lightest"] {
    --background-color: #FFF;
    --slate-background-color: #FFF;
    --secondary-background-color: #FFF;
    --header-color: #333;
    --sub-header-color: #555;
    --secondary-color: #555;
    --paragraph-color: #555555;
    --border-color: #f0f0f0;
    --description-color: #777;
}

html[data-scheme="dark"] {
    --background-color: #333;
    --slate-background-color: #2f2f2f;
    --secondary-background-color: #444;
    --header-color: #FFF;
    --sub-header-color: #CCC;
    --secondary-color: #CCC;
    --paragraph-color: #d1d1d1;
    --border-color: #424242;
    --description-color: rgb(145, 145, 145);
}


html[data-scheme="darkest"] {
    --background-color: #000;
    --slate-background-color: #111;
    --secondary-background-color: #222;
    --header-color: #FFF;
    --sub-header-color: #CCC;
    --secondary-color: #CCC;
    --paragraph-color: #d1d1d1;
    --border-color: #1c1c1c;
    --description-color: rgb(145, 145, 145);
}

html {
    background: var(--background-color);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#字型預載 {
    font-family: "Ubuntu Mono";
}

/**
 * 界限容器
 */

.界限容器 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1360px;
}

.界限容器_行排列 {
    flex-direction: row;
}

/**
 * 矚目看板
 */

#矚目看板:not(a) {
    display: block;
    background: var(--slate-background-color);
    padding: 2rem 2rem 4rem;
    border-bottom: 1px solid var(--border-color);
}

/** 導航連結 */
#矚目看板-導航列 {
    display: flex;
}

#矚目看板-導航列-主要欄位 {
    display: block;
}

#矚目看板-導航列-次要欄位 {
    display: block;
    margin-left: auto;
}

#矚目看板-導航列-項目-語系圖示 {
    margin-right: 0.25rem;
}

.矚目看板-導航列-項目 {
    text-decoration: none;
    color: var(--description-color);
}

.矚目看板-導航列-項目:not(:first-child) {
    padding: 0 0.85rem;
}

.矚目看板-導航列-項目:first-child {
    padding: 0 0.85rem 0 0;
}

.矚目看板-導航列-項目_商標 {
    color: var(--header-color);
    font-weight: 500;
}

/** 標題與副標題 */
#矚目看板-標題 {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: var(--header-color);
    margin-top: 3rem;
}

#矚目看板-說明 {
    display: block;
    color: var(--sub-header-color);
    font-size: 1.1rem;
    margin-top: 1rem;
}

#矚目看板-說明 p:only-child {
    margin: 0;
}

#矚目看板-說明 p:last-child {
    margin-bottom: 0;
}

#矚目看板-分頁籤 {
    display: flex;
    margin-bottom: calc(-4rem + -1px);
    margin-top: 4rem;
    width: 51rem;
    margin-left: 17.5rem;
    text-decoration: none;
}

.矚目看板-分頁籤-項目 {
    display: block;
    padding: 0.5rem 1rem;
    flex: 1;
    border-radius: 0.4rem 0.4rem 0 0;
    text-align: center;
    font-size: 0.95rem;
    color: #333;
}

.矚目看板-分頁籤-項目_啟用的 {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-bottom: 0;
}

/**
 * 頁腳
 */

#頁腳 {
    padding: 3rem 2rem 5rem;
    background: #fbfbfb;
    display: block;
}

#頁腳 .界限容器 {
    align-items: flex-start;
}

#頁腳-主要內容 {
    flex: 1;
}

.頁腳-主要內容-導航列-項目 {
    text-decoration: none;
    color: #333;
    padding: 0 0.8rem;
}

.頁腳-主要內容-導航列-項目:first-child {
    color: var(--description-color);
    padding-left: 0;
}

.頁腳-主要內容-導航列-項目-圖示 {
    margin-right: 0.25rem;
}

#頁腳-主要內容-文字 {
    display: block;
    color: var(--description-color);
    margin-top: 2rem;
    font-size: 0.95rem;
    line-height: 2;
    max-width: 50rem;
}

#頁腳-主要內容-文字 a {
    color: #333; /* 108ee9*/
    text-decoration: underline;
}

#頁腳-主要內容-翻譯者 {
    display: block;
    margin-top: 3rem;
    font-size: 0.95rem;
    color: var(--description-color);
    line-height: 2;
    max-width: 50rem;
}

#頁腳-主要內容-翻譯者 a {
    color: #333; /* 108ee9*/
    text-decoration: underline;
}

#頁腳-商標 {
    margin-left: 3rem;
}

#頁腳-商標-圖片 {
    width: 150px;
}
