@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500|Noto+Sans+JP:400,500|Noto+Sans+KR:400,500|Noto+Sans+SC:400,500|Noto+Sans+TC:400,500&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,japanese,korean,vietnamese");

html {
    font-size: 16px;
    font-family: "Noto Sans TC";
}

body {
    margin: 0;
    padding: 0;
}

screen-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1360px;
}

screen-container[data-row] {
    flex-direction: row;
}

application-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/**
 * 開頭矚目看板
 */

main-slate {
    display: block;
    background: #f7f7f7;
    padding: 2rem 2rem 4rem;
}

/** 導航連結 */
main-slate slate-nav {
    display: flex;
}

main-slate slate-nav > nav-left {
    display: block;
}

main-slate slate-nav > nav-right {
    display: block;
    margin-left: auto;
}

main-slate slate-nav a {
    text-decoration: none;
    color: #777;
}

main-slate slate-nav a:not(:first-child) {
    padding: 0 0.85rem;
}

main-slate slate-nav a:first-child {
    padding: 0 0.85rem 0 0;
}

main-slate slate-nav > nav-left a:first-child {
    color: #333;
    font-weight: 500;
}

/** 標題與副標題 */
main-slate slate-header {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-top: 3rem;
}

main-slate slate-description {
    display: block;
    color: #777;
    font-size: 1.1rem;
    margin-top: 1rem;
}

/**
 *
 */

main-content {
    display: block;
    padding: 4rem 2rem;
    flex: 1;
}

main-content content-sidebar {
    display: block;
    margin-right: 4rem;
    border-right: 2px solid #e8e8e8;
    padding-right: 3rem;
    max-width: 13rem;
}

main-content content-sidebar > sidebar-header {
    display: block;
    font-weight: 500;
    color: #777;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

main-content content-sidebar > sidebar-header:not(:first-child) {
    margin-top: 3rem;
}

main-content content-sidebar > a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0 0.5rem 0;
}

main-content content-sidebar > a > span {
    color: #777;
    font-size: 0.9rem;
    margin-left: 0.45rem;
}

main-content content-content {
    flex: 1;
    display: block;
    margin-top: -0.5rem;
}

main-content content-content > content-header {
    display: block;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}

main-content content-content > content-header:not(:first-child) {
    margin-top: 6rem;
}

main-content content-content > content-header[data-dividing] {
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 0.8rem;
}

main-content content-content > content-description {
    display: block;
    line-height: 2;
    color: #333;
}

main-content content-content > content-component {
    display: block;
    margin-top: 4rem;
}

main-content content-content > content-component > component-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

main-content
    content-content
    > content-component
    > component-info
    > info-header {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    position: relative;
}

main-content
    content-content
    > content-component
    > component-info
    > info-header::before {
    display: block;
    height: 128%;
    position: absolute;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background: #a4a4a4;
    width: 2px;
    box-sizing: border-box;
    left: -66px;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}

main-content
    content-content
    > content-component
    > component-info
    > info-actions {
}

main-content
    content-content
    > content-component
    > component-info
    > info-actions
    button {
    appearance: none;
    border: 2px solid #e8e8e8;
    background: #eee;
    background: #fff;
    color: #333;
    border-radius: 0.4rem;
    padding: 0.4rem 1.2rem;
    font-size: 15px;
    font-weight: 500;
    font-family: "Noto Sans CJK TC";
}

main-content content-content > content-component > component-description {
    display: block;
    line-height: 2;
    color: #333;
    margin-bottom: 2rem;
}

main-content content-content > content-component > component-showcase {
    display: block;
    padding: 1.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 0.4rem 0.4rem 0 0;
}

main-content content-content > content-component > component-html {
    display: block;
    padding: 1.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 0 0 0.4rem 0.4rem;
    border-top: 0;
    background: #fafafa;
    color: #333;
}

/** */
main-content content-indexes {
    margin-left: 4rem;
    min-width: 200px;
}

main-content content-indexes > indexes-title {
}

main-content content-indexes > indexes-header {
    display: block;
    font-weight: 500;
    color: #777;
    margin-bottom: 1rem;
}

main-content content-indexes > indexes-header:not(:last-child) {
    margin-top: 3rem;
}

main-content content-indexes > a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin-left: 6px;
    border-left: 1px solid #e8e8e8;
}

/**
 *
 */

main-footer {
    padding: 3rem 2rem 5rem;
    background: #fbfbfb;
    display: block;
}

main-footer screen-container {
    align-items: flex-start;
}

main-footer footer-content {
    flex: 1;
}

main-footer footer-content footer-nav > a {
    text-decoration: none;
    color: #333;
    padding: 0 0.8rem;
}

main-footer footer-content footer-nav > a:first-child {
    color: #777;
    padding-left: 0;
}

main-footer footer-content footer-paragraph {
    display: block;
    color: #777;
    margin-top: 2rem;
    font-size: 0.95rem;
    line-height: 2;
    max-width: 50rem;
}

main-footer footer-content footer-paragraph a {
    color: #333; /* 108ee9*/
    text-decoration: underline;
}

main-footer footer-content footer-translators {
    display: block;
    margin-top: 3rem;
    font-size: 0.95rem;
    color: #777;
    line-height: 2;
    max-width: 50rem;
}

main-footer footer-content footer-translators a {
    color: #333; /* 108ee9*/
    text-decoration: underline;
}

main-footer footer-brand {
    margin-left: 3rem;
}

main-footer footer-brand img {
    width: 150px;
}
