@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500|Noto+Sans+JP:400,500|Noto+Sans+KR:400,500|Noto+Sans+SC:400,500|Noto+Sans+TC:400,500&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,japanese,korean,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,bold");

.hljs {
    background: none;
    color: #777;
    line-height: 1.7;
    font-size: 14.5px;
    overflow-x: scroll;
    font-family: "Ubuntu Mono", "Noto Sans CJK TC", "SF Pro TC", "SF Pro Text",
        "PingFang TC", "Helvetica Neue", "Helvetica", "Arial",
        "Microsoft JhengHei", wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma,
        Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma,
        微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback",
        "AR PL UMing TW", Roboto, "Helvetica Neue", "Hiragino Maru Gothic ProN",
        メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif;
    word-spacing: 2px;
    letter-spacing: 0em;
}

.hljs a {
    padding: 0 0.1rem;
    border-bottom: 1px dashed #b5b5b5;
    color: #5b51a4;
    text-decoration: none;
}

.hljs a:hover {
    border-bottom: 1px solid #a8a8a8;
    color: #6459b4;
}

.hljs mark {
    background-color: #aba6d0;
    padding: 0 0.4rem;
    display: inline-block;
    border-radius: 0.3rem;
    color: #fff;
    line-height: 1.55;
}

.hljs .hljs-variable,
.hljs .hljs-template-variable,
.hljs .hljs-tag,
.hljs .hljs-name,
.hljs .hljs-selector-id,
.hljs .hljs-selector-class,
.hljs .hljs-regexp,
.hljs .hljs-deletion {
    color: #777;
}

.hljs .hljs-string,
.hljs .hljs-symbol,
.hljs .hljs-bullet,
.hljs .hljs-addition {
    color: #5b51a4;
}

.hljs .hljs-attribute {
    color: #b58e00;
    margin-right: 0.2em;
}

.hljs .hljs-important-class {
    background-color: #52c6ca;
    padding: 1px 3px;
    border-radius: 4px;
    color: #fff;
}

.hljs .hljs-important-class * {
    color: #fff;
}

code.hljs.javascript {
    color: #8e8e8e;
}

.hljs-comment {
    opacity: 0.75;
}
