main-slate content-header {
    font-size: 3rem;
    font-weight: bold;
    display: block;
    color: #333;
    margin-top: 0;
    line-height: 1;
}

main-slate content-description {
    font-size: 1.25rem;
    display: block;
    color: #777;
    margin-top: 2rem;
}

main-slate slate-layout {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
}

main-slate slate-layout layout-content {
    flex: 1;
}

content-action {
    margin-top: 4rem;
    display: inline-block;
    border-radius: 0.4rem;
    color: #333;
    font-size: 1.1rem;
    padding: 0.6rem 1.8rem;
    font-weight: 500;
    text-decoration: none;
    border: 3px solid #e0e0e0;
}

main-slate aside-code {
    max-width: 800px;
    padding: 2rem 2rem 4rem;
    display: block;
    border: 3px solid #f0f0f0;
    border-radius: 0.4rem;
    color: #333;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
}

main-slate aside-code pre {
    font-family: "Ubuntu", "Noto Sans CJK TC";
    line-height: 1.65;
    font-size: 0.9rem;
    margin: 0;
}

aside-message {
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
    /* text-align: right; */
    color: #777;
}
