main-slate {
    padding-bottom: 0;
    position: relative;
    background: linear-gradient(180deg, #5fafe8 5%, #cde5f7) !important;
}

main-slate slate-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url("https://tocas-ui.com/assets/img/d406e4e.png");
    z-index: 1;
}

main-slate slate-background + screen-container {
    position: relative;
    z-index: 2;
}

main-slate slate-header {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 6rem;
    color: #fff;
}

main-slate slate-description {
    text-align: center;
    font-size: 1.45rem;
    color: #f4f4f4;
}

main-slate slate-code {
    max-width: 800px;
    padding: 2rem 2rem 4rem;
    display: block;
    background: #fff;
    border-radius: 0.4rem 0.4rem 0 0;
    color: #333;
    margin: 0 auto;
    margin-top: 6rem;
    overflow-x: auto;
    overflow-y: hidden;
}

main-slate slate-code pre {
    font-family: "Ubuntu", "Noto Sans CJK TC";
    line-height: 1.65;
    font-size: 0.9rem;
    margin: 0;
}
