/* ==========================================================================
   Default
   ========================================================================== */

.ts.badge {
    /** Distance */
    --ts-badge-default_distance-icon: .25rem;
    --ts-badge-default_distance-side: .5rem;
    /** General */
    --ts-badge-default_border-radius         : var(--ts-global_border-radius);
    --ts-badge-default_border-radius-circular: var(--ts-global_border-radius-circular);
    --ts-badge-default_font-size             : 0.875rem;
    --ts-badge-default_line-height           : var(--ts-global_line-height);
    --ts-badge-default_border-width          : 1px;
    --ts-badge-default_font-weight           : 500;
    --ts-badge-default_disabled-opacity      : var(--ts-global_disabled-opacity);
    --ts-badge-default_corner-floated-offset: 50%;
    /** Padding */
    --ts-badge-default_vertical-padding          : 0rem;
    --ts-badge-default_horizontal-padding        : 0.5rem;
    --ts-badge-default_compact-vertical-padding  : 0rem;
    --ts-badge-default_compact-horizontal-padding: 0.25rem;
    --ts-badge-default_compact-line-height       : calc(var(--ts-badge_line-height) * 0.8);
    /** Colors */
    --ts-badge-default_border-color          : var(--ts-global_gray-100);
    --ts-badge-default_color                 : var(--ts-global_gray-900);
    --ts-badge-default_background-color      : var(--ts-global_gray-100);
    --ts-badge-default_hover-background-color: var(--ts-global_gray-200);
    --ts-badge-default_basic-color           : var(--ts-global_gray-800);
    --ts-badge-default_outlined-color        : var(--ts-global_gray-800);
    --ts-badge-default_outlined-border-color : var(--ts-global_gray-500);
}

/* ==========================================================================
   Variables
   ========================================================================== */

.ts.badge {
    /** Distance */
    --ts-badge_distance-icon: var(--ts-badge-alias_distance-icon, var(--ts-badge-default_distance-icon));
    --ts-badge_distance-side: var(--ts-badge-alias_distance-side, var(--ts-badge-default_distance-side));
    /** General */
    --ts-badge_border-radius         : var(--ts-badge-alias_border-radius, var(--ts-badge-default_border-radius));
    --ts-badge_border-radius-circular: var(--ts-badge-alias_border-radius-circular, var(--ts-badge-default_border-radius-circular));
    --ts-badge_font-size             : var(--ts-badge-alias_font-size, var(--ts-badge-default_font-size));
    --ts-badge_line-height           : var(--ts-badge-alias_line-height, var(--ts-badge-default_line-height));
    --ts-badge_border-width          : var(--ts-badge-alias_border-width, var(--ts-badge-default_border-width));
    --ts-badge_font-weight           : var(--ts-badge-alias_font-weight, var(--ts-badge-default_font-weight));
    --ts-badge_disabled-opacity      : var(--ts-badge-alias_disabled-opacity, var(--ts-badge-default_disabled-opacity));
    --ts-badge_corner-floated-offset : var(--ts-badge-alias_corner-floated-offset, var(--ts-badge-default_corner-floated-offset));
    /** Padding */
    --ts-badge_vertical-padding          : var(--ts-badge-alias_vertical-padding, var(--ts-badge-default_vertical-padding));
    --ts-badge_horizontal-padding        : var(--ts-badge-alias_horizontal-padding, var(--ts-badge-default_horizontal-padding));
    --ts-badge_compact-vertical-padding  : var(--ts-badge-alias_compact-vertical-padding, var(--ts-badge-default_compact-vertical-padding));
    --ts-badge_compact-horizontal-padding: var(--ts-badge-alias_compact-horizontal-padding, var(--ts-badge-default_compact-horizontal-padding));
    --ts-badge_compact-line-height       : var(--ts-badge-alias_compact-line-height, var(--ts-badge-default_compact-line-height));
    /** Colors */
    --ts-badge_border-color          : var(--ts-badge-alias_border-color, var(--ts-badge-default_border-color));
    --ts-badge_color                 : var(--ts-badge-alias_color, var(--ts-badge-default_color));
    --ts-badge_background-color      : var(--ts-badge-alias_background-color, var(--ts-badge-default_background-color));
    --ts-badge_hover-background-color: var(--ts-badge-alias_hover-background-color, var(--ts-badge-default_hover-background-color));
    --ts-badge_basic-color           : var(--ts-badge-alias_basic-color, var(--ts-badge-default_basic-color));
    --ts-badge_outlined-color        : var(--ts-badge-alias_outlined-color, var(--ts-badge-default_outlined-color));
    --ts-badge_outlined-border-color : var(--ts-badge-alias_outlined-border-color, var(--ts-badge-default_outlined-border-color));
}

/* ==========================================================================
   Emphasises
   ========================================================================== */

/**
 * Primary
 */

.ts.badge[data-emphasis="primary"] {
    --ts-badge-alias_color                 : var(--ts-global_static-gray-50);
    --ts-badge-alias_background-color      : var(--ts-global_primary-500);
    --ts-badge-alias_hover-background-color: var(--ts-global_primary-600);
    --ts-badge-alias_basic-color           : var(--ts-global_primary-700);
    --ts-badge-alias_outlined-color        : var(--ts-global_primary-700);
    --ts-badge-alias_outlined-border-color : var(--ts-global_primary-500);
}
/** Quiet */
.ts.badge[data-emphasis="primary"].-quiet {
    --ts-badge-alias_color                 : var(--ts-global_primary-900);
    --ts-badge-alias_background-color      : var(--ts-global_primary-100);
    --ts-badge-alias_hover-background-color: var(--ts-global_primary-200);
}

/**
 * Warning
 */

.ts.badge[data-emphasis="warning"] {
    --ts-badge-alias_color                 : var(--ts-global_static-gray-900);
    --ts-badge-alias_background-color      : var(--ts-global_warning-500);
    --ts-badge-alias_hover-background-color: var(--ts-global_warning-600);
    --ts-badge-alias_basic-color           : var(--ts-global_warning-700);
    --ts-badge-alias_outlined-color        : var(--ts-global_warning-700);
    --ts-badge-alias_outlined-border-color : var(--ts-global_warning-700);
}
/** Quiet */
.ts.badge[data-emphasis="warning"].-quiet {
    --ts-badge-alias_color                 : var(--ts-global_warning-900);
    --ts-badge-alias_background-color      : var(--ts-global_warning-100);
    --ts-badge-alias_hover-background-color: var(--ts-global_warning-200);
}

/**
 * Positive
 */

.ts.badge[data-emphasis="positive"] {
    --ts-badge-alias_color                 : var(--ts-global_static-gray-50);
    --ts-badge-alias_background-color      : var(--ts-global_positive-500);
    --ts-badge-alias_hover-background-color: var(--ts-global_positive-600);
    --ts-badge-alias_basic-color           : var(--ts-global_positive-700);
    --ts-badge-alias_outlined-color        : var(--ts-global_positive-700);
    --ts-badge-alias_outlined-border-color : var(--ts-global_positive-500);
}
/** Quiet */
.ts.badge[data-emphasis="positive"].-quiet {
    --ts-badge-alias_color                 : var(--ts-global_positive-900);
    --ts-badge-alias_background-color      : var(--ts-global_positive-100);
    --ts-badge-alias_hover-background-color: var(--ts-global_positive-200);
}

/**
 * Negative
 */

.ts.badge[data-emphasis="negative"] {
    --ts-badge-alias_color                 : var(--ts-global_static-gray-50);
    --ts-badge-alias_background-color      : var(--ts-global_negative-500);
    --ts-badge-alias_hover-background-color: var(--ts-global_negative-600);
    --ts-badge-alias_basic-color           : var(--ts-global_negative-700);
    --ts-badge-alias_outlined-color        : var(--ts-global_negative-700);
    --ts-badge-alias_outlined-border-color : var(--ts-global_negative-500);
}
/** Quiet */
.ts.badge[data-emphasis="negative"].-quiet {
    --ts-badge-alias_color                 : var(--ts-global_negative-900);
    --ts-badge-alias_background-color      : var(--ts-global_negative-100);
    --ts-badge-alias_hover-background-color: var(--ts-global_negative-200);
}
