 <html>  <head>  <title> Grid </title>  <link rel="stylesheet" href="../../../dist/tocas.css">  <meta charset="utf-8">  <meta name="viewport" content="width=device-width, initial-scale=1.0">  </head>  <body style="padding: 50px 50px 50px 350px;">  <div class="ts attached segment form" style="
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 3;
            width: 300px;
            overflow: scroll;
        "> 
         <fieldset> 
             <legend> Core </legend>  </fieldset>  </div>  <div class="ts grid" style="height: 100%;">  <div class="column" style="background: yellow"> Sidebar </div>  <div class="stretched column">  <div class="ts vertical grid" style="height: 100%;">  <div class="four wide tablet six wide large screen column" style="background: red"> Navbar </div>  <div class="stretched column" style="background: blue"> Content </div>  <div class="column" style="background: green"> Footer </div>  </div>  </div>  </div>  </body>  </html> 