@charset "UTF-8";
/* 
  TTTTTTTTTTT        OOOOOOO       CCCCCCCCC        AAA        SSSSSSSS       
  TTTTTTTTTTT       OOOOOOOOO     CCCCCCCCCC      AA  AA     SSSSSSSSS
     TTT          OO       OO   CCCC           AAA   AAA    SS
    TTT         OO       OO   CCCC            AAAAAAAAAA     SSSSSSSS         ver. 1.0.1
   TTT        OO       OO   CCCC            AAA     AAA            SS
  TTT        OOOOOOOOO     CCCCCCCCCCC    AAA      AAA     SSSSSSSSS   
  TTT        OOOOOOO       CCCCCCCCCC   AAA       AAA     SSSSSSSS     
  
                      Here Comes Another World.

                TeaMeow / Open / Colorful / A.S.O / Simple
                茶葉貓   / 開闊 /  多彩多姿 / 藍.白.澄 / 簡潔
              
              
                              基本配色:
                                
                   A oi    -    藍色    -    #00ADEA
                   S hiroi -    白色    -    #FFFFFF
                   O renji -    橙色    -    #FFA500 
                  
                              - 樣式 -
                      任何樣式都應該先行套上基本樣式
               例如底線文字框應是套用「tb tb-underline」
                      而並非僅有「tb-underline」
*/

/****************************************************
 *                                                  *
 *                     R E S E T                    *
 *                                                  *
 ****************************************************/

/** No border */
img{ border-width: 0px }

/** Pointer of the cursor */
button,
input[type="button"],
input[type="submit"], 
input[type="radio"],
input[type="checkbox"],
select
{
    cursor: pointer;
}

/** No blue outline and resize */
button,
input,
input[type="button"],
input[type="submit"], 
input[type="radio"],
input[type="checkbox"],
select,textarea
{
    resize: none;
    outline: none;
}

/** No weired dot */
ul, li{ list-style-type: none }

/** No more padding or margin */
body, h1, h2, h3, h4, h5, h6, p, blockquote, th, td, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea
{
    padding: 0px;
    margin: 0px
}

/** No underline under link */
a{ text-decoration: none }

/** No yellow background in the autofill field */
*:-webkit-autofill{ -webkit-box-shadow: 0 0 0px 1000px white inset } 



/****************************************************
 *                                                  *
 *                      F O R M                     *
 *                                                  *
 ****************************************************/

/** When disable */
textarea[disabled], input[disabled], select[disabled]{cursor: not-allowed; opacity: 0.4}
textarea[disabled]:hover, input[disabled]:hover, select[disabled]:hover{cursor: not-allowed; opacity: 0.5}
textarea[disabled]:active, input[disabled]:active, select[disabled]:active{cursor: not-allowed; opacity: 0.3}

.tb,
input,
select
{
    background-color: #FFF;
    color: #666;
    
    padding: 6px 5px;
    
    border: #CCC 1px solid;
    font-size: 100%; 
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}




/**
 * TextBox
 */

/** No border */
.tb-none{ border: none }

/** Underline only */
.tb-underline
{
    border: none;
    border-bottom: #CCC 1px solid
}

/** Left-line only */
.tb-leftline
{
    border: none;
    border-left: #CCC 1px solid
}




/**
 * Select
 */

select{ padding: 6px 10% 6px 5px }
select:hover{ background-color: rgb(250, 250, 250) }




/****************************************************
 *                                                  *
 *                    B U T T O N                   *
 *                                                  *
 ****************************************************/
.fbtn, .btn
{
    padding: 6px 15px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out
}


/**
 * Basic
 */

.btn
{
    border-radius: 4px;
    text-shadow: 0 1px 1px #999;
    color: #FFF;
    
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%,#cccccc 100%);
}
.btn:hover
{
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #e5e5e5 0%, #d3d3d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#d3d3d3));
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#d3d3d3 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%,#d3d3d3 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%,#d3d3d3 100%);
    background: linear-gradient(to bottom, #e5e5e5 0%,#d3d3d3 100%);  
}
.btn:active
{
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #adadad 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#adadad));
    background: -webkit-linear-gradient(top, #d6d6d6 0%,#adadad 100%);
    background: -o-linear-gradient(top, #d6d6d6 0%,#adadad 100%);
    background: -ms-linear-gradient(top, #d6d6d6 0%,#adadad 100%);
    background: linear-gradient(to bottom, #d6d6d6 0%,#adadad 100%);
}

/** Size */
.btn-smallest{ font-size: 12px; padding: 2px 5px }
.btn-small{ font-size: 14px; padding: 4px 10px }
.btn-large{ font-size: 18px; padding: 8px 20px }
.btn-largest{ border-radius: 6px; font-size: 22px; padding: 13px 28px }


/**
 * Primary
 */

.btn-primary
{
    background: #00adea;
    background: -moz-linear-gradient(top, #00adea 0%, #0083c1 100%);
    background: -webkit-linear-gradient(top, #00adea 0%,#0083c1 100%);
    background: -o-linear-gradient(top, #00adea 0%,#0083c1 100%);
    background: -ms-linear-gradient(top, #00adea 0%,#0083c1 100%);
    background: linear-gradient(to bottom, #00adea 0%,#0083c1 100%);
}
.btn-primary:hover
{
    background: #00b6f8;
    background: -moz-linear-gradient(top, #00b6f8 0%, #0094d3 100%);
    background: -webkit-linear-gradient(top, #00b6f8 0%,#0094d3 100%);
    background: -o-linear-gradient(top, #00b6f8 0%,#0094d3 100%);
    background: -ms-linear-gradient(top, #00b6f8 0%,#0094d3 100%);
    background: linear-gradient(to bottom, #00b6f8 0%,#0094d3 100%);
}
.btn-primary:active
{
    background: #0088b7;
    background: -moz-linear-gradient(top, #0088b7 0%, #00618e 100%);
    background: -webkit-linear-gradient(top, #0088b7 0%,#00618e 100%);
    background: -o-linear-gradient(top, #0088b7 0%,#00618e 100%);
    background: -ms-linear-gradient(top, #0088b7 0%,#00618e 100%);
    background: linear-gradient(to bottom, #0088b7 0%,#00618e 100%);
}




/**
 * Warning
 */

.btn-warning
{
    background: #ffd700;
    background: -moz-linear-gradient(top, #ffd700 0%, #ffa32f 100%);
    background: -webkit-linear-gradient(top, #ffd700 0%,#ffa32f 100%);
    background: -o-linear-gradient(top, #ffd700 0%,#ffa32f 100%);
    background: -ms-linear-gradient(top, #ffd700 0%,#ffa32f 100%);
    background: linear-gradient(to bottom, #ffd700 0%,#ffa32f 100%);
}
.btn-warning:hover
{
    background: #ffd500;
    background: -moz-linear-gradient(top, #ffd500 0%, #ffb42f 100%);
    background: -webkit-linear-gradient(top, #ffd500 0%,#ffb42f 100%);
    background: -o-linear-gradient(top, #ffd500 0%,#ffb42f 100%);
    background: -ms-linear-gradient(top, #ffd500 0%,#ffb42f 100%);
    background: linear-gradient(to bottom, #ffd500 0%,#ffb42f 100%);
}
.btn-warning:active
{
    background: #ffaf00;
    background: -moz-linear-gradient(top, #ffaf00 0%, #ff682f 100%);
    background: -webkit-linear-gradient(top, #ffaf00 0%,#ff682f 100%);
    background: -o-linear-gradient(top, #ffaf00 0%,#ff682f 100%);
    background: -ms-linear-gradient(top, #ffaf00 0%,#ff682f 100%);
    background: linear-gradient(to bottom, #ffaf00 0%,#ff682f 100%);
}




/**
 * Success
 */

.btn-success
{
    background: #92d354;
    background: -moz-linear-gradient(top, #92d354 0%, #63c10b 100%, #63c10b 100%);
    background: -webkit-linear-gradient(top, #92d354 0%,#63c10b 100%,#63c10b 100%);
    background: -o-linear-gradient(top, #92d354 0%,#63c10b 100%,#63c10b 100%);
    background: -ms-linear-gradient(top, #92d354 0%,#63c10b 100%,#63c10b 100%);
    background: linear-gradient(to bottom, #92d354 0%,#63c10b 100%,#63c10b 100%);
}
.btn-success:hover
{
    background: #a7cc82;
    background: -moz-linear-gradient(top, #a7cc82 0%, #7db743 100%);
    background: -webkit-linear-gradient(top, #a7cc82 0%,#7db743 100%);
    background: -o-linear-gradient(top, #a7cc82 0%,#7db743 100%);
    background: -ms-linear-gradient(top, #a7cc82 0%,#7db743 100%);
    background: linear-gradient(to bottom, #a7cc82 0%,#7db743 100%);    
}
.btn-success:active
{
    background: #9ac460;
    background: -moz-linear-gradient(top, #9ac460 0%, #4d9100 100%);
    background: -webkit-linear-gradient(top, #9ac460 0%,#4d9100 100%);
    background: -o-linear-gradient(top, #9ac460 0%,#4d9100 100%);
    background: -ms-linear-gradient(top, #9ac460 0%,#4d9100 100%);
    background: linear-gradient(to bottom, #9ac460 0%,#4d9100 100%);
}



/**
 * Danger
 */

.btn-danger
{
    background: #ff3019;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
}
.btn-danger:hover
{
    background: #ff5a51;
    background: -moz-linear-gradient(top, #ff5a51 1%, #cc3b3b 100%);
    background: -webkit-linear-gradient(top, #ff5a51 1%,#cc3b3b 100%);
    background: -o-linear-gradient(top, #ff5a51 1%,#cc3b3b 100%);
    background: -ms-linear-gradient(top, #ff5a51 1%,#cc3b3b 100%);
    background: linear-gradient(to bottom, #ff5a51 1%,#cc3b3b 100%);
}
.btn-danger:active
{
    background: #e20000;
    background: -moz-linear-gradient(top, #e20000 1%, #b70000 100%);
    background: -webkit-linear-gradient(top, #e20000 1%,#b70000 100%);
    background: -o-linear-gradient(top, #e20000 1%,#b70000 100%);
    background: -ms-linear-gradient(top, #e20000 1%,#b70000 100%);
    background: linear-gradient(to bottom, #e20000 1%,#b70000 100%);
}




/****************************************************
 *                                                  *
 *            F L A T        B U T T O N            *
 *                                                  *
 ****************************************************/

.fbtn
{
    font-weight: bolder;
    
    color: #888;
    background: #EEE;

    -webkit-appearance: none;
    border: #DDD 1px solid
}
.fbtn:hover{ background-color: #DDD }
.fbtn:active{ background-color: #BBB; color: #EEE }

/** Size */
.fbtn-smallest{ font-size: 12px; padding: 2px 5px }
.fbtn-small{ font-size: 14px; padding: 4px 10px }
.fbtn-large{ font-size: 18px; padding: 8px 20px }
.fbtn-largest{ font-size: 22px; padding: 13px 28px }


/**
 * Primary
 */

.fbtn-primary
{
    background-color: #007CA8;
    border: #006488 1px solid;
    color: #6DD9FF
}
.fbtn-primary:hover{ background-color: #006488 }
.fbtn-primary:active{ background-color: #024A64; color: #007ca8 }

/**
 * Info
 */

.fbtn-info
{
    background-color: #00ADEA;
    border: #0099D0 1px solid;
    color: #C9F1FF
}
.fbtn-info:hover{ background-color: #0099D0 }
.fbtn-info:active{ background-color: #007BA7; color: #00ADEA }

/**
 * Warning
 */

.fbtn-warning
{
    background-color: #FFB122;
    border-color: #F59E00;
    color: #FFF1D6
}
.fbtn-warning:hover{ background-color: #F59E00 }
.fbtn-warning:active{ background-color: #B26E00; color: #FFB122 }

/**
 * Success
 */
.fbtn-success
{
    background-color: #78FF82;
    border-color: #32ED41;
    color: #1eb929
}
.fbtn-success:hover{ background-color: #32ED41 }
.fbtn-success:active{ background-color: #00D010; color: #78FF82 }

/**
 * Danger
 */

.fbtn-danger{
    background-color: #FF7676;
    border-color: #FF3E3E;
    color: #FFF
}
.fbtn-danger:hover{ background-color: #FF3E3E }
.fbtn-danger:active{ background-color: #D30000; color: #FF7676 }




/****************************************************
 *                                                  *
 *             N O T I F I C A T I O N              *
 *                                                  *
 ****************************************************/

.fntf
{
    background-color: rgba(200, 200, 200, 1);
    background-image: url(../img/ntf/default.png);
        
    border: #CCC 1px solid;   
    background-position: 10px;
    background-repeat: no-repeat;    
    background-size: 32px;

    color: #FFF;
    font-size: 13px;
    
    word-wrap: break-word;
    word-break: normal;
    
    padding: 12px 12px 12px 48px;
    
    text-align: left; 
    text-shadow: 0 1px 1px #999
}

.fntf-info{
    background-color: rgba(0, 142, 192, 1);
    background-image: url(../img/ntf/info.png);

    border-color: #6CD8FF
}

.fntf-error{
    background-color: rgba(209, 0, 4, 1);
    background-image: url(../img/ntf/error.png);
        
    border-color: #FF3236
}

.fntf-warning{
    background-color: rgba(255, 165, 0, 1); 
    background-image: url(../img/ntf/traingle.png);  
     
    border-color: #FFA500
}

.fntf-success{
    background-color: rgba(0, 209, 21, 1); 
    background-image: url(../img/ntf/success.png);  
     
    border-color: #0CFF25
}




/****************************************************
 *                                                  *
 *                    L A B E L                     *
 *                                                  *
 ****************************************************/

.lbl
{
    border: #CCC 1px solid;
    font-size: 12px;
    padding: 5px;
    background: #F3F3F3;
    color: #888;
    white-space: nowrap
}

.lbl-darkred{ color: #D60000 }
.lbl-console{ background: #000; color: #B6FF41 }
.lbl-red{ color: #F00 }




/****************************************************
 *                                                  *
 *                    R A D I U S                   *
 *                                                  *
 ****************************************************/

.rd-4{ border-radius: 4px }
.rd-6{ border-radius: 6px }
.rd-8{ border-radius: 8px }
.rd-12{ border-radius: 12px }
.rd-16{ border-radius: 16px }
.rd-24{ border-radius: 24px }
.rd-30{ border-radius: 30px }
.rd-32{ border-radius: 32px }
.rd-48{ border-radius: 48px }
.rd-64{ border-radius: 64px }
.rd-86{ border-radius: 86px }
.rd-circle{ border-radius: 50% }



/****************************************************
 *                                                  *
 *                    S H A D O W                   *
 *                                                  *
 ****************************************************/

.shw-e{ box-shadow: 3px 3px 5px #EEE }
.shw-c{ box-shadow: 3px 3px 5px #CCC }
.shw-6{ box-shadow: 3px 3px 5px #666 }
.shw-2{ box-shadow: 3px 3px 5px #222 }




/****************************************************
 *                                                  *
 *                   T O O L T I P                  *
 *                                                  *
 ****************************************************/

.tooltip
{
    display: inline;
    position: relative;   
    z-index: 100
}
.tooltip:hover:before
{
    position: absolute;
    width: calc(100% + 10px);
    
    color: #FFF;
    font-size: 12px;
    padding: 5px;
    
    border-radius: 6px;
    background: rgba(100, 100, 100, 0.8);
    
    content: attr(title)
}
.tooltip-left:hover:before{ left: -160% }
.tooltip-right:hover:before{ right: -160% }




/****************************************************
 *                                                  *
 *                    S T R O K E                   *
 *                                                  *
 ****************************************************/

/** White border */
.str-w
{
	text-shadow:
        1px 1px 0 #FFF,
       -1px -1px 0 #FFF,  
        1px -1px 0 #FFF,
       -1px  1px 0 #FFF,
        1px  1px 0 #FFF;
}

/** Black border */
.str-b
{
    text-shadow:
        1px 1px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}




/****************************************************
 *                                                  *
 *              G R I D    S Y S T E M              *
 *                                                  *
 ****************************************************

grid-row-fluid  浮動樣式
grid-row        固定 960px

這個網格最寬是 12 格

算法：
6.65 * 網格大小 + ([網格大小 + 1] - 2)

解釋：
每一格為 6.65%
每一個間距為 1.6 % (完美比例)

由來：
□ 1 □ 2 □ 3 □ 4 □ 5 □ 6 □ 7 □
□             7             □
- 計算每一格的間距，例如 7 網格，用「每一格網格」算到 7 個
【6.65 (一個網格) * 7 (7 個網格)】


■ 1 □ 2 □ 3 □ 4 □ 5 □ 6 □ 7 ■
□             7             □
- 算到 7 個，總共會有 8 個間距，總間距不必另外算，只需要「網格大小 + 1」即可獲得
- 然而我們不需要最外面的 2 個間距（每間距為 1% ），因此最後要減掉 2%
【6.65 * 7 + ([7 + 1] - 2) = 該網格百分比】
*/

.g-1{ width: 6.65% }   
.g-2{ width: 14.9% }
.g-3{ width: 23.15% }
.g-4{ width: 31.4% }
.g-5{ width: 39.65% }
.g-6{ width: 47.9% }
.g-7{ width: 56.15% }   /* 6.65 * 7 + (8-2) */
.g-8{ width: 64.4% }
.g-9{ width: 72.65% }
.g-10{ width: 80.9% }   /* 6.65 * 10 + (11-2)*/
.g-11{ width: 89.15% }  /* 6.65 * 11 + (12-2) */
.g-12{ width: 97.4% }

.g-1, .g-2, .g-3, .g-4,
.g-5, .g-6, .g-7, .g-8,
.g-9, .g-10, .g-11, .g-12 
{
    display: block;
    float: left;
    
    margin: 1% 0 1% 1.6%
}

.row{ width: 960px }
.row-fluid, .row{ clear: both; display: block }

/** No margin-left for first grid **/
.row:first-child, .row-fluid:first-child{ margin-left: 0px }




/****************************************************
 *                                                  *
 *                 S H O R T H A N D                *
 *                                                  *
 ****************************************************/

.w-100{ width: 100% }
.h-100{ height: 100% }
.fill{ width: 100%; height: 100% }
.fill-screen{ position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px }
.center{ vertical-align: middle !important; margin: 0 auto !important; text-align: center !important }
.bottom{ vertical-align: bottom }
.vtop{ vertical-align: top }
.vcenter{ vertical-align: middle !important; margin: 0 auto !important }
.text-center{ text-align: center }
.text-left{ text-align: left }
.text-right{ text-align: right }
.margin-center{ margin: 0 auto !important }
.inline-block{ display:inline-block }
.block{ display:block }
.border-box{ -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box }
.content-box{ -webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box }
.table-row{ display: table-row }
.hover-underline:hover{ text-decoration: underline }
.table-cell{ display: table-cell }
.table{ display: table }
.table-100{ display: table }
.table-row, .table-cell, .table, .table-100{ height: 100%; vertical-align: middle }
.img-btn{ border: none;-webkit-appearance: none; outline: none;background-repeat: no-repeat;background-size: cover;background-color: transparent }
.hidden{ display:none }
.invisible{ visibility: hidden }


/****************************************************
 *                                                  *
 *           S P E C I A L    B O R D E R           *
 *                                                  *
 ****************************************************/

.spb-t
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.spb-tl
{
    border-top-left-radius: 4px;
    
    border-right: none !important
}

.spb-tr
{
    border-top-right-radius: 4px
}

.spb-tc
{
    border-right: none !important
}

.spb-c
{
    border-top: none !important
}

.spb-cl
{
    border-right: none !important;
    border-top: none !important
}

.spb-cr
{
    border-top: none !important
}

.spb-cc
{
    border-top: none !important
}

.spb-b
{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    
    border-top: none !important
} 

.spb-bl
{
    border-bottom-left-radius: 4px;
    
    border-right: none !important;
    border-top: none !important
}

.spb-bc
{
    border-right: none !important;
    border-top: none !important
}

.spb-br
{
    border-bottom-right-radius: 4px;
    
    border-top: none !important
}




/****************************************************
 *                                                  *
 *               R E S P O N E S I V E              *
 *                                                  *
 ****************************************************/

/** Large screen */
@media(min-width: 1200px)
{
    .visible-phone{ display: none }
    .visible-tablet{ display: none }
    .visible-desktop{ display: block }
    .hidden-phone{ display: block }
    .hidden-tablet{ display: block }
    .hidden-desktop{ display: none }
}
 
/* Laptop, desktop, wide smartphone screen */
@media(min-width: 768px) and (max-width: 979px)
{
    .visible-phone{ display: none }
    .visible-tablet{ display: block }
    .visible-desktop{ display: block }
    .hidden-phone{ display: block }
    .hidden-tablet{ display: none }
    .hidden-desktop{ display: block }
}
 
/* wide smartphone or tablet screen */
@media(max-width: 767px)
{
    .visible-phone{ display: block }
    .visible-tablet{ display: none }
    .visible-desktop{ display: none }
    .hidden-phone{ display: none }
    .hidden-tablet{ display: block }
    .hidden-desktop{ display: block }
}
 
/* smartphone or cellphone */
@media(max-width: 480px)
{
    .visible-phone{ display: block }
    .visible-tablet{ display: none }
    .visible-desktop{ display: none }
    .hidden-phone{ display: none }
    .hidden-tablet{ display: block }
    .hidden-desktop{ display: block }
}