.ts-table tr th {
    background: linear-gradient(var(--ts-gray-50), var(--ts-gray-200));
    text-shadow: 1px 1px 0 var(--ts-white);
}

.ts-input input,
.ts-input textarea {
    box-shadow: inset 0px 1px 3px 0px #00000017;
}

.ts-input:is(.is-start-labeled, .is-end-labeled, .is-labeled) .label {
    background: linear-gradient(var(--ts-gray-50), var(--ts-gray-200));
    text-shadow: 1px 1px 0 #fff;
}

.ts-button {
    background: linear-gradient(var(--ts-gray-600), var(--ts-gray-900));
    border: 1px solid #333;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
