/* ==========================================================================
   Variables
   ========================================================================== */

.ts.label {
    /**
     * Block
     */

    --ts-label_border-radius         : var(--global__border-radius);
    --ts-label_border-radius-circular: var(--global__border-radius-circular);
    --ts-label_vertical-padding      : 0.05rem;
    --ts-label_horizontal-padding    : 0.6rem;
    --ts-label_border-width          : 1px;
    --ts-label_disabled-opacity      : var(--global__disabled-opacity);

    /**
     * Distance
     */

    --ts-label_distance-block  : var(--global__distance-block);
    --ts-label_distance-divider: 0.25rem;

    /**
     * Typography
     */

    --ts-label_font-size  : 0.875rem;
    --ts-label_line-height: var(--global__line-height);

    /**
     * Color
     */

    --ts-label_color                     : var(--default__color);
    --ts-label_symbol-color              : var(--default__symbol-color);
    --ts-label_disabled-color            : var(--default__disabled-color);
    --ts-label_stepped-color             : var(--default__stepped-color);
    --ts-label_active-color              : var(--default__active-color);
    --ts-label_link-color                : var(--default__color);
    --ts-label_border-color              : var(--default__border-color);
    --ts-label_background-secondary-color: var(--default__background-secondary-color);
}
