.ts-button {
    --ts-button-small-size: 1rem;
    --ts-button-medium-size: 1.2rem;
    --ts-button-large-size: 1.5rem;

    display: inline-flex;
    border-radius: var(--ts-border-radius);
    background: var(--ts-gray-900);
    color: var(--ts-gray-50);
    padding: calc(0.5rem * var(--ts-density-multiplier)) calc(1rem * var(--ts-density-multiplier));
    font-weight: 500;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
}

.ts-button:hover {
    cursor: pointer;
    background: var(--ts-gray-700);
}

/**
 * Basic
 */

.ts-button.-secondary {
    color: var(--ts-gray-900);
}

.ts-button.-secondary,
.ts-button.-secondary:is(.-primary, .-warning, .-positive, .-negative) {
    background: var(--ts-gray-200);
}

.ts-button.-secondary:hover,
.ts-button.-secondary:is(.-primary, .-warning, .-positive, .-negative):hover {
    background: var(--ts-gray-300);
}

/**
 * Secondary
 */

.ts-button.-basic {
    color: var(--ts-gray-900);
}

.ts-button.-basic,
.ts-button.-basic:is(.-primary, .-warning, .-positive, .-negative) {
    background: transparent;
    color: var(--ts-gray-900);
}

.ts-button.-basic:hover,
.ts-button.-basic:is(.-primary, .-warning, .-positive, .-negative):hover {
    background: var(--ts-gray-200);
}

/**
 * Outlined
 */

.ts-button.-outlined {
    border-color: var(--ts-gray-300);
    color: var(--ts-gray-900);
}

.ts-button.-outlined,
.ts-button.-outlined:is(.-primary, .-warning, .-positive, .-negative) {
    border-style: solid;
    border-width: 2px;
    background: transparent;
}

.ts-button.-outlined:hover {
    border-color: var(--ts-gray-900);
    background: var(--ts-gray-900);
    color: var(--ts-gray-50);
}

.ts-button.-outlined:hover,
.ts-button.-outlined:is(.-primary, .-warning, .-positive, .-negative):hover {
    /*background: transparent;*/
}

/**
 * Primary
 */

.ts-button.-primary {
    background: var(--ts-primary-600);
    color: var(--ts-gray-50);
}
.ts-button.-primary:hover {
    background: var(--ts-primary-700);
}

.ts-button.-secondary.-primary {
    color: var(--ts-primary-600);
}

.ts-button.-basic.-primary {
    color: var(--ts-primary-600);
}
.ts-button.-basic.-primary:hover {
    color: var(--ts-primary-600);
}

.ts-button.-outlined.-primary {
    color: var(--ts-primary-600);
    border-color: var(--ts-primary-300);
}

.ts-button.-outlined.-primary:hover {
    background: var(--ts-primary-600);
    color: var(--ts-gray-50);
    border-color: var(--ts-primary-600);
}

/**
 * Positive
 */

.ts-button.-positive {
    background: var(--ts-positive-600);
    color: var(--ts-gray-50);
}
.ts-button.-positive:hover {
    background: var(--ts-positive-700);
}

.ts-button.-secondary.-positive {
    color: var(--ts-positive-600);
}

.ts-button.-basic.-positive {
    color: var(--ts-positive-600);
}
.ts-button.-basic.-positive:hover {
    color: var(--ts-positive-600);
}

.ts-button.-outlined.-positive {
    color: var(--ts-positive-600);
    border-color: var(--ts-positive-300);
}

.ts-button.-outlined.-positive:hover {
    background: var(--ts-positive-600);
    color: var(--ts-gray-50);
    border-color: var(--ts-positive-600);
}

/**
 * Negative
 */

.ts-button.-negative {
    background: var(--ts-negative-600);
    color: var(--ts-gray-50);
}
.ts-button.-negative:hover {
    background: var(--ts-negative-700);
}

.ts-button.-secondary.-negative {
    color: var(--ts-negative-600);
}

.ts-button.-basic.-negative {
    color: var(--ts-negative-600);
}
.ts-button.-basic.-negative:hover {
    color: var(--ts-negative-600);
}

.ts-button.-outlined.-negative {
    color: var(--ts-negative-600);
    border-color: var(--ts-negative-300);
}

.ts-button.-outlined.-negative:hover {
    background: var(--ts-negative-600);
    color: var(--ts-gray-50);
    border-color: var(--ts-negative-600);
}

/**
 * Warning
 */

.ts-button.-warning {
    background: var(--ts-warning-600);
    color: var(--ts-gray-50);
}
.ts-button.-warning:hover {
    background: var(--ts-warning-700);
}

.ts-button.-secondary.-warning {
    color: var(--ts-warning-600);
}

.ts-button.-basic.-warning {
    color: var(--ts-warning-600);
}
.ts-button.-basic.-warning:hover {
    color: var(--ts-warning-600);
}

.ts-button.-outlined.-warning {
    color: var(--ts-warning-600);
    border-color: var(--ts-warning-300);
}

.ts-button.-outlined.-warning:hover {
    background: var(--ts-warning-600);
    color: var(--ts-gray-50);
    border-color: var(--ts-warning-600);
}

/**
 * Opinion
 */

/* .ts-button.-opinion {
    background: rgba(0, 0, 0, 0.05);
    color: var(--ts-gray-50);
}

.ts-button.-opinion:hover {
    background: rgba(0, 0, 0, 0.1);
}

.ts-button.-secondary-opinion {
    background: rgba(0, 0, 0, 0.15);
    color: var(--ts-gray-50);
}

.ts-button.-secondary-opinion:hover {
    background: rgba(0, 0, 0, 0.2);
} */

/**
 * Density
 */

.ts-button.-compact {
    --ts-density-multiplier: 0.7;
}

.ts-button.-relaxed {
    --ts-density-multiplier: 1.4;
}

/**
 * Sizes
 */

.ts-button.-small {
    font-size: 0.85rem;
}

.ts-button.-large {
    font-size: 1.2rem;
}

/**
 * Icon
 */

.ts-button.-icon {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.ts-button.-icon .ts-icon {
    font-size: 1.2em;
    width: auto;
}

.ts-button.-widthless {
}

/**
 * Labeled
 */

.ts-button:is(.-start-labeled, .-end-labeled) {
    padding: 0;
    display: inline-flex;
    background: transparent;
    cursor: default;
}

.ts-button:is(.-start-labeled, .-end-labeled) .label {
    display: inline-block;
    background: var(--ts-gray-50);
    color: var(--ts-gray-900);
    padding: 0.5rem 1rem;
    border-radius: var(--ts-border-radius);
    border: 1px solid var(--ts-gray-200);
    font-weight: normal;
}

.ts-button:is(.-start-labeled, .-end-labeled) .ts-button {
    display: inline-block;
}

.ts-button.-start-labeled .ts-button {
    display: inline-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ts-button.-start-labeled .label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ts-button.-end-labeled .ts-button {
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ts-button.-end-labeled .label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/**
 * Labeled Icon
 */

.ts-button:is(.-start-labeled-icon, .-end-labeled-icon) {
    padding: 0;
    display: inline-flex;
}

.ts-button:is(.-start-labeled-icon, .-end-labeled-icon) .text {
    padding: 0.5rem 1rem;
    border-radius: var(--ts-border-radius);
}

.ts-button:is(.-start-labeled-icon, .-end-labeled-icon) .ts-icon {
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.05);
    width: auto;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

/**
 * Circular
 */

.ts-button.-circular {
    border-radius: 100rem;
}

/**
 * Badge
 */

.ts-button:is(.-start-badge, .-end-badge) {
    gap: 0.5rem;
}

.ts-button .badge {
    border-radius: 100rem;
    padding: 0.25rem 0.5rem;
    line-height: 1;
    background: rgb(255, 255, 255);
    color: var(--ts-primary-600);
}

/**
 * Disabled
 */

.ts-button.-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/**
 * Close
 */

.ts-button.-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(60, 60, 60, 0.3);
    border-radius: 500em;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0.7;
}

.ts-button.-close:hover {
    background: rgba(60, 60, 60, 0.3) !important;
    color: #fff !important;
    opacity: 1;
}

.ts-button.-close::after {
    content: "ï€";
    line-height: 1em;
    font-family: "Icons";
}

.ts-button.-close.-small {
    width: var(--ts-button-small-size);
    height: var(--ts-button-small-size);
}

.ts-button.-close {
    width: var(--ts-button-medium-size);
    height: var(--ts-button-medium-size);
}

.ts-button.-close.-large {
    width: var(--ts-button-large-size);
    height: var(--ts-button-large-size);
}

/**
 * Loading
 */

.ts-button.-loading {
}

.ts-button.-detail {
}

.ts-button.-detail .text .header {
    font-size: 1.2em;
}

.ts-button.-detail .text .description {
    font-size: 1em;
    font-weight: normal;
    opacity: 0.8;
}

.ts-button.end-label-icon {
}

.ts-button > .detail .ts-button.-fluid {
}

/**
 * Floated
 */

.ts-button.-left-floated {
    float: left;
}

.ts-button.-right-floated {
    float: right;
}

/**
 * Fluid
 */

.ts-button.-fluid {
    width: 100%;
}
