.ts-container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1180px;
}

.ts-container.-middle-aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ts-container.-compact {
    max-width: 768px;
}
