.ts-layout {
    display: flex;
}

.ts-layout.-full {
    height: 100%;
    width: 100%;
}

.ts-layout.-column {
    display: flex;
    flex-direction: row;
}

.ts-layout.-column > .cell:not(:last-child) {
    border-right: 1px solid var(--ts-gray-300);
}

.ts-layout.-row {
    display: flex;
    flex-direction: column;
}

.ts-layout.-row > .cell:not(:last-child) {
    border-bottom: 1px solid var(--ts-gray-300);
}

.ts-layout .cell {
    width: 100%;
    background: var(--gray-50);
}

.ts-layout .cell.-row {
    display: flex;
    flex-direction: column;
}

.ts-layout .cell.-row > .cell:not(:last-child) {
    border-bottom: 1px solid var(--ts-gray-300);
}

.ts-layout .cell.-column {
    display: flex;
    flex-direction: row;
}

.ts-layout .cell.-column > .cell:not(:last-child) {
    border-right: 1px solid var(--ts-gray-300);
}

.ts-layout .cell.-scrollable {
    overflow-y: auto;
}

.ts-layout .cell.-fluid {
    flex: 1;
}

.ts-layout .cell.-secondary {
    background: var(--ts-gray-100);
}
