/* ==========================================================================
   Reset
   ========================================================================== */

.ts-email table,
.ts-email tbody,
.ts-email tfoot,
.ts-email thead,
.ts-email tr,
.ts-email th,
.ts-email td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    font-weight: inherit;
    vertical-align: baseline;
}

.ts-email table {
    border-collapse: collapse;
    border-spacing: 0;
}

.ts-email a {
    color: #0050b3;
}

/* ==========================================================================
   Email
   ========================================================================== */

.ts-email {
    color: #373737;
    font-size: 15px;
    padding: 15px 0;
    line-height: 1.9;

    font-family: "Noto Sans TC", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Microsoft JhengHei", wf_SegoeUI, "Segoe UI",
        Segoe, "Segoe WP", Tahoma, Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", 微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback", "AR PL UMing TW",
        Roboto, "Hiragino Maru Gothic ProN", メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif;
}

.ts-email.is-secondary {
    background-color: #f2f2f2;
}

/* ==========================================================================
   Shared
   ========================================================================== */

.ts-email .is-center-aligned {
    text-align: center;
}
.ts-email .is-start-aligned {
    text-align: left;
}
.ts-email .is-end-aligned {
    text-align: right;
}

.ts-email .is-first {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

.ts-email .is-last {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

/* ==========================================================================
   Button
   ========================================================================== */

.ts-email a.button {
    border: 2px solid #373737;
    min-width: 115px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #ffffff;
    background: #373737;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 7px 16px;
    border-radius: 6px;
}

.ts-email a.button.is-outlined {
    background: transparent;
    border: 2px solid #e1e1e1;
    color: #373737;
}

.ts-email a.button.is-negative {
    color: #fff;
    border-color: #f5222d;
    background: #f5222d;
}

.ts-email a.button.is-negative.is-outlined {
    color: #f5222d;
    border-color: #e1e1e1;
    background: none;
}

.ts-email a.button.is-circular {
    border-radius: 100em;
}

.ts-email a.button.is-fluid {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.ts-email a.button.is-cta {
    font-size: 20px;
    min-width: 130px;
}

/* ==========================================================================
   Wrap
   ========================================================================== */

.ts-email .wrap .item {
    display: inline-block;
    margin-right: 15px;
}

.ts-email .wrap .item.is-last {
    margin-right: 0;
}

/* ==========================================================================
   Text
   ========================================================================== */

.ts-email .text.is-label {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3;
}

.ts-email .text.is-undecorated {
    text-decoration: none;
}
.ts-email .text.is-undecorated:hover {
    text-decoration: underline;
}

.ts-email .text.is-bold {
    font-weight: bold;
}

.ts-email .text.is-italic {
    font-style: italic;
}

.ts-email .text.is-deleted {
    text-decoration: line-through;
}

.ts-email .text.is-underlined {
    text-decoration: underline;
}

.ts-email .text.is-code {
    border-radius: 6px;
    background: #eee;
    padding: 0 0.2rem;
    font-size: 14px;
    color: #373737;
}

.ts-email .text.is-mark {
    border-radius: 6px;
    background: #fadb14;
    padding: 0 4px;
    color: #333;
    font-size: 14px;
}

.ts-email .text.is-sub,
.ts-email .text.is-sup {
    font-size: 12px;
    color: #767676;
}

.ts-email .text.is-sub {
    vertical-align: bottom;
}

.ts-email .text.is-sup {
    vertical-align: top;
}

.ts-email .text.is-secondary,
.ts-email .text.is-description {
    color: #767676;
}

.ts-email .text.is-small,
.ts-email .text.is-description {
    font-size: 14px;
}

.ts-email .text.is-large {
    font-size: 17px;
}

.ts-email .text.is-start-aligned {
    text-align: left;
}
.ts-email .text.is-center-aligned {
    text-align: center;
}
.ts-email .text.is-end-aligned {
    text-align: right;
}

/* ==========================================================================
   Content
   ========================================================================== */

.ts-email .content {
    padding: 22px;
    color: inherit;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}

.ts-email .content.is-dense {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ts-email .content.is-rounded {
    border-radius: 6px;
}

.ts-email .content.is-secondary {
    background: #fafafa;
}

.ts-email .content.is-tertiary {
    background: #f2f2f2;
}

.ts-email .content.is-start-aligned {
    text-align: left;
}

.ts-email .content.is-center-aligned {
    text-align: center;
}

.ts-email .content.is-end-aligned {
    text-align: right;
}

/* ==========================================================================
   Container
   ========================================================================== */

.ts-email .container {
    max-width: 580px;
    margin: 0 auto;
    padding: 0 16px;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.ts-email .grid {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.ts-email .grid.is-top-aligned .column {
    vertical-align: top;
}

.ts-email .grid.is-middle-aligned .column {
    vertical-align: middle;
}

.ts-email .grid.is-bottom-aligned .column {
    vertical-align: bottom;
}

.ts-email .grid .column {
    border: 16px solid transparent;
    border-top-width: 0;
    border-bottom-width: 0;
}

.ts-email .grid .column.is-first {
    border-left: none;
}

.ts-email .grid .column.is-last {
    border-right: none;
}

.ts-email .grid .column.is-collapsed {
    white-space: nowrap;
    width: 0;
}

.ts-email .grid .column.is-16-wide {
    width: 100%;
}
.ts-email .grid .column.is-15-wide {
    width: 93.75%;
}
.ts-email .grid .column.is-14-wide {
    width: 87.5%;
}
.ts-email .grid .column.is-13-wide {
    width: 81.25%;
}
.ts-email .grid .column.is-12-wide {
    width: 75%;
}
.ts-email .grid .column.is-11-wide {
    width: 68.75%;
}
.ts-email .grid .column.is-10-wide {
    width: 62.5%;
}
.ts-email .grid .column.is-9-wide {
    width: 56.25%;
}
.ts-email .grid .column.is-8-wide {
    width: 50%;
}
.ts-email .grid .column.is-7-wide {
    width: 43.75%;
}
.ts-email .grid .column.is-6-wide {
    width: 37.5%;
}
.ts-email .grid .column.is-5-wide {
    width: 31.25%;
}
.ts-email .grid .column.is-4-wide {
    width: 25%;
}
.ts-email .grid .column.is-3-wide {
    width: 18.75%;
}
.ts-email .grid .column.is-2-wide {
    width: 12.5%;
}
.ts-email .grid .column.is-1-wide {
    width: 6.25%;
}

/* ==========================================================================
   Space
   ========================================================================== */

.ts-email .space {
    height: 15px;
}

.ts-email .space.is-small {
    height: 7px;
}

.ts-email .space.is-large {
    height: 22px;
}

.ts-email .space.is-big {
    height: 45px;
}

.ts-email .space.is-huge {
    height: 67px;
}

/* ==========================================================================
   Image
   ========================================================================== */

.ts-email .image img {
    height: auto;
    width: 100%;
    vertical-align: top;
}

.ts-email .image.is-centered {
    text-align: center;
}

.ts-email .image.is-rounded img {
    border-radius: 6px;
}

.ts-email .image.is-circular img {
    border-radius: 100rem;
}

.ts-email .image.is-mini img {
    width: 64px;
}

.ts-email .image.is-tiny img {
    width: 86px;
}

.ts-email .image.is-small img {
    width: 125px;
}

.ts-email .image.is-medium img {
    width: 180px;
}

.ts-email .image.is-large img {
    width: 240px;
}

/* ==========================================================================
   Box
   ========================================================================== */

.ts-email .box {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff;
}

/** Indicated */
.ts-email .box.is-top-indicated {
    border-top: 6px solid #303030;
}

.ts-email .box.is-bottom-indicated {
    border-bottom: 6px solid #303030;
}

/** Negative Indicated */
.ts-email .box.is-top-indicated.is-negative {
    border-top: 6px solid #f5222d;
}

.ts-email .box.is-bottom-indicated.is-negative {
    border-bottom: 6px solid #f5222d;
}

/* ==========================================================================
   Divider
   ========================================================================== */

.ts-email .divider {
    display: block;
    border-top: 1px solid #e1e1e1;
}

.ts-email .divider.is-section {
    margin: 15px 0;
}

/* ==========================================================================
   Blockquote
   ========================================================================== */

.ts-email .quote {
    border-left: 5px solid #e1e1e1;
    padding: 0 0 0 2rem;
}

/* ==========================================================================
   List
   ========================================================================== */

.ts-email .list {
    padding: 0;
    margin-left: 36px;
}

.ts-email .list .item {
    display: list-item;
}

.ts-email .list.is-unordered .item {
    list-style-type: disc;
}

.ts-email .list.is-ordered .item {
    list-style-type: decimal;
}

/* ==========================================================================
   Header
   ========================================================================== */

.ts-email .header {
    color: #333;
    font-weight: bold;
    line-height: 1.6;
}

.ts-email .header {
    font-size: 17px;
}

.ts-email .header.is-large {
    font-size: 20px;
}

.ts-email .header.is-big {
    font-size: 24px;
}

.ts-email .header.is-negative {
    color: #f5222d;
}

/* ==========================================================================
   Pin
   ========================================================================== */

.ts-email .pincode span {
    border: 3px solid #e1e1e1;
    padding: 8px 13px;
    vertical-align: middle;
    text-align: center;
    border-radius: 6px;
    font-size: 25px;
    line-height: 1;
    font-weight: bold;
    margin-right: 8px;
    display: inline-block;
}

/* ==========================================================================
   Table
   ========================================================================== */

.ts-email .table {
    width: 100%;
    height: auto;
    font-size: 14px;
}

.ts-email .table tr th {
    background: #f2f2f2;
}

.ts-email .table thead tr {
    border-bottom: 1px solid #e1e1e1;
}

.ts-email .table thead tr th,
.ts-email .table tfoot tr th {
    padding: 6px 22px;
    color: #5a5a5a;
    font-weight: 500;
}

.ts-email .table tbody tr td {
    padding: 6px 22px;
    word-break: break-all;
}

.ts-email .table tbody tr {
    border-top: 1px solid #e1e1e1;
}

.ts-email .table.is-small,
.ts-email .table.is-small thead,
.ts-email .table.is-small tbody,
.ts-email .table.is-small tfoot,
.ts-email .table.is-small tr,
.ts-email .table.is-small th,
.ts-email .table.is-small td {
    font-size: 0.93em;
}

.ts-email .table.is-large,
.ts-email .table.is-large thead,
.ts-email .table.is-large tbody,
.ts-email .table.is-large tfoot,
.ts-email .table.is-large tr,
.ts-email .table.is-large th,
.ts-email .table.is-large td {
    font-size: 1.06em;
}

/**
 * Collapsed
 */

.ts-email .table.is-collapsed {
    width: auto;
}

.ts-email .table th.is-collapsed,
.ts-email .table td.is-collapsed {
    width: 1px;
    white-space: nowrap;
}

.ts-email .table.is-basic tr th,
.ts-email .table.is-very-basic tr th {
    background: transparent;
}

.ts-email .table.is-very-basic tbody th,
.ts-email .table.is-very-basic tbody td,
.ts-email .table.is-very-basic tbody tr {
    border-color: transparent;
}

.ts-email .table.is-dense thead tr th,
.ts-email .table.is-dense tfoot tr th {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.ts-email .table.is-dense tbody tr td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/**
 * Aligns
 */

.ts-email .table tr.is-start-aligned,
.ts-email .table th.is-start-aligned,
.ts-email .table td.is-start-aligned {
    text-align: left;
}

.ts-email .table th.is-center-aligned,
.ts-email .table td.is-center-aligned {
    text-align: center;
}

.ts-email .table th.is-end-aligned,
.ts-email .table td.is-end-aligned {
    text-align: right;
}

.ts-email .table.is-top-aligned th,
.ts-email .table.is-top-aligned td {
    vertical-align: top;
}

.ts-email .table th.is-top-aligned,
.ts-email .table td.is-top-aligned {
    vertical-align: top;
}

.ts-email .table th.is-middle-aligned,
.ts-email .table td.is-middle-aligned {
    vertical-align: middle;
}

.ts-email .table tr.is-middle-aligned td {
    vertical-align: middle;
}

.ts-email .table th.is-bottom-aligned,
.ts-email .table td.is-bottom-aligned {
    vertical-align: bottom;
}
