// + Bulleted
.ts.breadcrumb.-bulleted
    .item 朋人又覺
    .item 落快亮方
    .item 中會道

// + Slashed
.ts.breadcrumb.-slashed
    .item 朋人又覺
    .item 落快亮方
    .item 中會道

// + Chevroned
.ts.breadcrumb.-chevroned
    .item 朋人又覺
    .item 落快亮方
    .item 中會道

// + Disabled
.ts.breadcrumb.-chevroned
    .item.-disabled 停用文字
    .item 朋人又覺
    .item 落快亮方

// + Active
.ts.breadcrumb.-chevroned
    .item 朋人又覺
    .item 落快亮方
    .item.-active 啟用文字

// + Link
.ts.breadcrumb.-bulleted
    a.item 連結文字
    .item 落快亮方
    .item
        | 中會道：
        a 連結文字

// + Divider
.ts.breadcrumb
    .item 朋人又覺
    .divider
        i.icon(data-icon="arrow-right")
    .item 落快亮方
    .divider
        i.icon(data-icon="arrow-right")
    .item 中會道
p
.ts.breadcrumb
    .item 朋人又覺
    .divider
        i.icon(data-icon="caret-right")
    .item 落快亮方
    .divider
        i.icon(data-icon="caret-right")
    .item 中會道
p
.ts.breadcrumb
    .item 朋人又覺
    .divider /
    .item 落快亮方
    .divider /
    .item 中會道

// + Sizes
.ts.breadcrumb.-mini.-bulleted
    .item 迷你
    .item 迷你
    .item 迷你
p
.ts.breadcrumb.-tiny.-bulleted
    .item 微小
    .item 微小
    .item 微小
p
.ts.breadcrumb.-small.-bulleted
    .item 小型
    .item 小型
    .item 小型
p
.ts.breadcrumb.-bulleted
    .item 標準
    .item 標準
    .item 標準
p
.ts.breadcrumb.-large.-bulleted
    .item 大型
    .item 大型
    .item 大型
p
.ts.breadcrumb.-big.-bulleted
    .item 更大
    .item 更大
    .item 更大
p
.ts.breadcrumb.-huge.-bulleted
    .item 巨大
    .item 巨大
    .item 巨大
p
.ts.breadcrumb.-massive.-bulleted
    .item 重量級
    .item 重量級
    .item 重量級