// + Card
.ts.card
    .content
        .header 術看防實照一有條了童信的人麼終際
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Basic
.ts.card.-basic
    .content
        .header 術看防實照一有條了童信的人麼終際
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Raised
.ts.card.-raised
    .content
        .header 術看防實照一有條了童信的人麼終際
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Sub Header
.ts.card
    .content
        .header
            | 術看防實照一有條了童信的人麼終際
            .sub-header 始非們小山度當；模推世不義老德
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Meta
.ts.card
    .content
        .header 術看防實照一有條了童信的人麼終際
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Meta Bulleted
.ts.card
    .content
        .header
            | 術看防實照一有條了童信的人麼終際
            .sub-header 始非們小山度當；模推世不義老德
        .meta.-bulleted
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Compact
.ts.card.-compact
    .content
        .header 術看防實照一有條了童信的人麼終際
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們

// + Disabled
.ts.card.-disabled
    .content
        .header 術看防實照一有條了童信的人麼終際
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-primary.-disabled
    .content
        .header 主要
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-warning.-disabled
    .content
        .header 警告
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-positive.-disabled
    .content
        .header 正面
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-negative.-disabled
    .content
        .header 負面
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Aligns
.ts.card
    .content
        .header.-center-aligned 置中對齊
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description.-right-aligned 置右對齊

// + Padded
.ts.card
    .content
        .header 預設
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card
    .content.-padded
        .header 內距
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card
    .content.-very-padded
        .header 非常內距
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Emphasis
.ts.card
    .content
        .header 術看防實照一有條了童信的人麼終際
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-primary
    .content
        .header 主要
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-warning
    .content
        .header 警告
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-positive
    .content
        .header 正面
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-negative
    .content
        .header 負面
        .meta
            .item 項目
            .item 項目
            a.item 連結
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。

// + Indicated
.ts.card.-indicated
    .content
        .header 術看防實照一有條了童信的人麼終際
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-primary.-indicated
    .content
        .header 主要
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-warning.-indicated
    .content
        .header 警告
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-positive.-indicated
    .content
        .header 正面
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。
.ts.card.-negative.-indicated
    .content
        .header 負面
        .description 養日動你甚德式的位出發任是面急。的種實們與意史白們，賽證品流而官，底但汽，民顯故得識功受顧設前：始非們小山度當；模推世不義老德；然情容建下根可，報去展做去具動度明方參美書道養不來策方不。