// + Text
p
    | 是文突羅氣生給可：中著前快送城線後帶公放。推再廣飛腦景明火，長西溫團晚局斷子入們才教中作路土旅；親見有和人那？友酒爾；期大灣非不朋角陽，格能裡面「
    span.ts.text 這個是一般文字！
    | 了；成因節現下步為部著！義國的省主，面名論靜馬以此。一他公本經很紅的主、照然也故和到點的了一規體後。達馬己備人用巴外商還細務全多據的品離並示課，運其爭持放雄法自樓為為站下官，環的外如價畫！去情要玩因半許車學的。

// + Bold
p
    | 是文突羅氣生給可：中著前
    span.ts.text.-bold 很重要的粗體
    | 了；成因節現下步為部著！義國的省主，面名論靜馬以此。一他公本經很

// + Italic
p
    | 是文突羅氣生給可：中著前
    span.ts.text.-italic 斜體
    | 了；成因節現下步為部著！義國的省主，面名論靜馬以此。一他公本經很

// + Deleted
p
    | 是文突羅氣生給可：中著前
    span.ts.text.-deleted 被刪除的文字
    | 了；成因節現下步為部著！義國的省主，面名論靜馬以此。一他公本經很

// + Emphasis
p
    | 是文突羅氣生給可：中著前快送城線後帶公放。推再廣飛腦景明火，長西溫團晚局斷子入們才教中作路土旅；親見有和人那？友酒爾；期大灣非不朋角陽，格能裡面「
    span.ts.text 預設
    | 了；成因節現下步為部著！義國的省主，面名
    span.ts.text.-primary 主要
    | 論靜馬以此。一他公本經很
    span.ts.text.-warning 警告
    | 紅的主、照然也故和到點的了一規
    span.ts.text.-negative 負面
    | 體後。達馬己備人用巴外商還細務全多
    span.ts.text.-positive 正面
    | 據的品離並示課，運其爭持放雄法自樓為為站下官，環的外如價畫！去情要玩因半許車學的。

// + Accent
p
    | 是文突羅氣生給可：中著前快送城線後帶公放。推再廣飛腦景明火，長西溫團晚局斷子入們才教中作路土旅；親見有和人那？友酒爾；期大灣非不朋角陽，格能裡面「
    span.ts.text 預設
    span.ts.text.-secondary 預設次要
    span.ts.text.-tertiary 預設第三
    | 了；成因節現下步為部著！義國的省主，面名
    span.ts.text.-primary 主要
    span.ts.text.-primary.-secondary 主要次要
    span.ts.text.-primary.-tertiary 主要第三
    | 論靜馬以此。一他公本經很
    span.ts.text.-warning 警告
    span.ts.text.-warning.-secondary 警告次要
    span.ts.text.-warning.-tertiary 警告第三
    | 紅的主、照然也故和到點的了一規
    span.ts.text.-negative 負面
    span.ts.text.-negative.-secondary 負面次要
    span.ts.text.-negative.-tertiary 負面第三
    | 體後。達馬己備人用巴外商還細務全多
    span.ts.text.-positive 正面
    span.ts.text.-positive.-secondary 正面次要
    span.ts.text.-positive.-tertiary 正面第三
    | 據的品離並示課，運其爭持放雄法自樓為為站下官，環的外如價畫！去情要玩因半許車學的。

// + Disabled
p
    | 是文突羅氣生給可：中著前快送城線後帶公放。推再廣飛腦景明火，長西溫團晚局斷子入們才教中作路土旅；親見有和人那？友酒爾；期大灣非不朋角陽，格能裡面「
    span.ts.text.-disabled 預設
    | 了；成因節現下步為部著！義國的省主，面名
    span.ts.text.-primary.-disabled 主要
    | 論靜馬以此。一他公本經很
    span.ts.text.-warning.-disabled 警告
    | 紅的主、照然也故和到點的了一規
    span.ts.text.-negative.-disabled 負面
    | 體後。達馬己備人用巴外商還細務全多
    span.ts.text.-positive.-disabled 正面
    | 據的品離並示課，運其爭持放雄法自樓為為站下官，環的外如價畫！去情要玩因半許車學的。

// + Sizes
span.ts.text.-mini 迷你
span.ts.text.-tiny 微小
span.ts.text.-small 小型
span.ts.text 標準
span.ts.text.-large 大型
span.ts.text.-big 更大
span.ts.text.-huge 巨大
span.ts.text.-massive 重量級