/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-accordion {
    color: inherit;
    box-sizing: border-box;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-accordion .title {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.ts-accordion .title::before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    width: 1.18em;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    display: block;
    margin-right: 0.7rem;
    color: var(--ts-gray-600);
    transform: rotate(270deg);
    content: "\f078";
    line-height: 1;
    font-size: 14px;
}

.ts-accordion .content {
    display: none;
    margin: 1rem 0 0;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-accordion.is-active .content {
    display: block;
}

.ts-accordion.is-active .title::before {
    transform: rotate(0deg);
}
