/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-imageset {
    display: grid;
    gap: 1rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-imageset .item {
}

.ts-imageset .item img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Images
 */

.ts-imageset.is-2-images {
    grid-template-columns: repeat(1, 1fr);
}

.ts-imageset.is-3-images {
    grid-template-columns: repeat(2, 1fr);
}

.ts-imageset.ts-imageset.is-3-images .item:first-child {
    grid-column: 1 / 3;
}

.ts-imageset.is-4-images {
    grid-template-columns: repeat(3, 1fr);
}

.ts-imageset.ts-imageset.is-4-images .item:first-child {
    grid-column: 1 / 4;
}

/**
 * Portrait
 */

.ts-imageset.is-portrait {
}

.ts-imageset.is-portrait .item img {
    height: 100%;
}

.ts-imageset.is-portrait.is-3-images {
    grid-template-columns: repeat(2, 1fr);
}

.ts-imageset.is-portrait.is-3-images .item:first-child {
    grid-row: 1 / 3;
    grid-column: initial;
}

.ts-imageset.is-portrait.is-4-images {
    grid-template-columns: repeat(2, 1fr);
}

.ts-imageset.is-portrait.is-4-images .item:first-child {
    grid-row: 1 / 4;
    grid-column: initial;
}

/**
 * Rounded
 */

.ts-imageset.is-rounded .item img {
    border-radius: 0.4rem;
}

/**
 * Circular
 */

.ts-imageset.is-circular .item:first-child img {
    border-radius: 0.4rem 0.4rem 0 0;
}

.ts-imageset.is-circular .item:nth-child(2) img {
    border-radius: 0 0 0 0.4rem;
}

.ts-imageset.is-circular .item:last-child img {
    border-radius: 0 0 0.4rem 0;
}

.ts-imageset.is-circular.is-portrait .item:first-child img {
    border-radius: 0.4rem 0 0.4rem 0;
}

.ts-imageset.is-circular.is-portrait .item:nth-child(2) img {
    border-radius: 0 0.4rem 0 0;
}

.ts-imageset.is-circular.is-portrait .item:last-child img {
    border-radius: 0 0 0.4rem 0;
}

/**
 * Relaxed
 */

.ts-imageset.is-relaxed {
    gap: 1.5rem;
}

/**
 * Compact
 */

.ts-imageset.is-compact {
    gap: 0.5rem;
}
