/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 50%);
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 2rem 1rem;
    z-index: 102;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-modal > .content {
    background: var(--ts-gray-50);
    border-radius: 0.4rem;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    width: 380px;
    margin: auto;
    overflow: hidden;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-modal.is-visible {
    display: flex;
}

/**
 * Sizes
 */

.ts-modal.is-small > .content {
    width: 280px;
}

.ts-modal.is-large > .content {
    width: 580px;
}

.ts-modal.is-big > .content {
    width: 780px;
}
