@import ../../variables/elements/button.variables

//*******************************//
//            Variations
//*******************************//

@mixin button-variant($color, $backgroundColor, $borderColor)
    $hoverBackgroundColor: darken($backgroundColor, 5%)
    $hoverColor          : lighten($color, 5%)
    
    $activeBackgroundColor: darken($backgroundColor, 20%)
    $activeColor          : darken($color, 10%)
    
    border-color    : $borderColor
    background-color: $backgroundColor
    color           : $color
    
    &:hover
        background-color: $hoverBackgroundColor
        color           : $hoverColor
        
    &:active
        background-color: $activeBackgroundColor
        color           : $activeColor

//-------------------//
//       Basic
//-------------------//

@mixin button-basic-variant($color, $backgroundColor, $borderColor)
    $activeColor: darken($backgroundColor, 30%)
    
    border: 1px solid $backgroundColor
    color : $backgroundColor
        
    &:hover
    &:active
        color : $activeColor

//-------------------//
//   Inverted Basic
//-------------------//

@mixin button-inverted-basic-variant($color, $backgroundColor, $borderColor)
    $activeBackgroundColor: darken($backgroundColor, 20%)
    
    border: 2px solid $backgroundColor
    color : $backgroundColor
    
    &:hover
        background-color: $backgroundColor
        color           : $color
    
    &:active
        border-color    : $activeBackgroundColor
        background-color: $activeBackgroundColor
        color           : $color

//*******************************//
//              Main
//*******************************//

.ts.button
    cursor       : pointer
    padding      : $button_padding
    border-radius: $button_borderRadius
    font-size    : $button_fontSize
    font-weight  : $button_fontWeight
    
    +button-variant($button_defaultTextColor, $button_defaultBackgroundColor, $button_defaultBorderColor)
                
//-------------------//
//      Attached       
//-------------------//  

.ts.button[class*='top attached'],
.ts.buttons[class*='top attached'] .button
    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

.ts.button[class*='bottom attached'],
.ts.buttons[class*='bottom attached'] .button
    border-top-left-radius : 0
    border-top-right-radius: 0

//-------------------//
//     Circular       
//-------------------//  
    
.ts.button.circular,
.ts.buttons.circular .button
    border-radius: 10em

//-------------------//
//      Disabled       
//-------------------//
    
.ts.button.disabled,    
.ts.button.disabled:hover,
.ts.buttons.disabled .button,
.ts.buttons.disabled .button:hover
    +extend(no-select)
    opacity       : $disabledOpacity !important
    cursor        : not-allowed      !important
    pointer-events: none             !important
    
//-------------------//
//      Floated       
//-------------------//

.ts.button[class*="left floated"],
.ts.buttons[class*="left floated"]
    float: left

.ts.button[class*="right floated"],
.ts.buttons[class*="right floated"]
    float: right

//-------------------//
//       Fluid       
//-------------------//

.ts.button.fluid,
.ts.buttons.fluid,
.ts.buttons.fluid .button
    width: 100%
       
//-------------------//
//       Sizes       
//-------------------//
    
.ts.button.compact,
.ts.buttons.compact .button
    padding: $button_compactPadding
.ts.button.mini,
.ts.buttons.mini .button
    font-size: $button_miniFontSize
.ts.button.tiny,
.ts.buttons.tiny .button
    font-size: $button_tinyFontSize
.ts.button.small,
.ts.buttons.small .button
    font-size: $button_smallFontSize
.ts.button.medium,
.ts.buttons.medium .button
    font-size: $button_mediumFontSize
.ts.button.large,
.ts.buttons.large .button
    font-size: $button_largeFontSize
.ts.button.big,
.ts.buttons.big .button
    font-size: $button_bigFontSize
.ts.button.huge,
.ts.buttons.huge .button
    font-size: $button_hugeFontSize
.ts.button.massive,
.ts.buttons.massive .button
    font-size: $button_massiveFontSize

//-------------------//
//       Icon
//-------------------//      
        
.ts.button.icon,
.ts.buttons.icon .button
    padding: $button_verticalPadding $button_verticalPadding
        
//-------------------//
//      Colors
//-------------------//

.ts.button.inverted,
.ts.buttons.inverted .button,
.ts.button.secondary:not(.opinion),
.ts.buttons.secondary:not(.opinion) .button
    +button-variant($button_invertedTextColor, $button_invertedBackgroundColor, $button_invertedBorderColor)
.ts.button.primary,
.ts.buttons.primary .button
    +button-variant($button_primaryTextColor, $button_primaryBackgroundColor, $button_primaryBorderColor)
.ts.button.info,
.ts.buttons.info .button
    +button-variant($button_infoTextColor, $button_infoBackgroundColor, $button_infoBorderColor)
.ts.button.warning,
.ts.buttons.warning .button
    +button-variant($button_warningTextColor, $button_warningBackgroundColor, $button_warningBorderColor)
.ts.button.negative,
.ts.buttons.negative .button
    +button-variant($button_negativeTextColor, $button_negativeBackgroundColor, $button_negativeBorderColor)
.ts.button.positive,
.ts.buttons.positive .button
    +button-variant($button_positiveTextColor, $button_positiveBackgroundColor, $button_positiveBorderColor)
.ts.button.opinion,
.ts.buttons.opinion .button
    border-color    : transparent
    background-color: rgba(0, 0, 0, 0.05)
    color           : #FFF
    
    &:hover
        background-color: rgba(0, 0, 0, 0.1)
        color           : #FFF
        
    &:active
        background-color: rgba(0, 0, 0, 0.3)
        color           : #FFF
.ts.button.secondary.opinion,
.ts.buttons.secondary.opinion .button
    background-color: rgba(0, 0, 0, 0.15)
    color           : #FFF
    
    &:hover
        background-color: rgba(0, 0, 0, 0.2)
        color           : #FFF
        
    &:active
        background-color: rgba(0, 0, 0, 0.4)
        color           : #FFF
    
//-------------------//
//       Basic
//-------------------//

.ts.button.basic,
.ts.button.basic:hover,
.ts.button.basic:active,
.ts.buttons.basic .button,
.ts.buttons.basic .button:hover,
.ts.buttons.basic .button:active,
    background-color: $button_basicBackgroundColor
.ts.button.basic,
.ts.buttons.basic .button
    +button-basic-variant($button_basicTextColor, $button_basicTextColor, $button_basicBorderColor)
.ts.button.basic.inverted,
.ts.buttons.basic.inverted .button,
.ts.button.basic.secondary,
.ts.buttons.basic.secondary .button
    +button-basic-variant($button_invertedTextColor, $button_invertedBackgroundColor, $button_invertedBorderColor)
.ts.button.basic.primary,
.ts.buttons.basic.primary .button
    +button-basic-variant($button_primaryTextColor, $button_primaryBackgroundColor, $button_primaryBorderColor)
.ts.button.basic.info,
.ts.buttons.basic.info .button
    +button-basic-variant($button_infoTextColor, $button_infoBackgroundColor, $button_infoBorderColor)
.ts.button.basic.warning,
.ts.buttons.basic.warning .button
    +button-basic-variant($button_warningTextColor, $button_warningBackgroundColor, $button_warningBorderColor)
.ts.button.basic.negative,
.ts.buttons.basic.negative .button
    +button-basic-variant($button_negativeTextColor, $button_negativeBackgroundColor, $button_negativeBorderColor)
.ts.button.basic.positive,
.ts.buttons.basic.positive .button
    +button-basic-variant($button_positiveTextColor, $button_positiveBackgroundColor, $button_positiveBorderColor)
    
//-------------------//
//   Inverted Basic
//-------------------//

.ts.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative)
    +button-inverted-basic-variant($button_basicInvertedTextColor, $button_basicInvertedBorderColor, $button_basicInvertedBorderColor)

.ts.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative):hover
    background-color: $button_invertedBasicHoverBackgroundColor
    border-color    : $button_invertedBasicHoverBackgroundColor
    color           : $button_invertedBasicHoverTextColor
    
.ts.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative):active
    background-color: $button_invertedBasicActiveBackgroundColor
    border-color    : $button_invertedBasicActiveBackgroundColor
    color           : $button_invertedBasicActiveTextColor

.ts.button.basic.inverted,
.ts.buttons.basic.inverted .button,
.ts.button.inverted.basic.secondary,
.ts.buttons.inverted.basic.secondary .button
    +button-inverted-basic-variant($button_invertedTextColor, $button_invertedBackgroundColor, $button_invertedBorderColor)
.ts.button.inverted.basic.primary,
.ts.buttons.inverted.basic.primary .button
    +button-inverted-basic-variant($button_primaryTextColor, $button_primaryBackgroundColor, $button_primaryBorderColor)
.ts.button.inverted.basic.info,
.ts.buttons.inverted.basic.info .button
    +button-inverted-basic-variant($button_infoTextColor, $button_infoBackgroundColor, $button_infoBorderColor)
.ts.button.inverted.basic.warning,
.ts.buttons.inverted.basic.warning .button
    +button-inverted-basic-variant($button_warningTextColor, $button_warningBackgroundColor, $button_warningBorderColor)
.ts.button.inverted.basic.negative,
.ts.buttons.inverted.basic.negative .button
    +button-inverted-basic-variant($button_negativeTextColor, $button_negativeBackgroundColor, $button_negativeBorderColor)
.ts.button.inverted.basic.positive,
.ts.buttons.inverted.basic.positive .button
    +button-inverted-basic-variant($button_positiveTextColor, $button_positiveBackgroundColor, $button_positiveBorderColor)
    
//*******************************//
//            Buttons
//*******************************///

.ts.buttons
    display: inline-flex

    &:not(.vertical) .ts.button
        display: inline-block
        
        &:not(:first-child)
            border-top-left-radius   : 0
            border-bottom-left-radius: 0
            border-left-width        : 0
        
        &:not(:last-child)
            border-top-right-radius   : 0
            border-bottom-right-radius: 0
            border-right-width        : 1px
        
        &:last-child
            border-left-width         : 0px
    
    &:not(.vertical).inverted.basic .ts.button
        &:not(:last-child)
            border-right-width        : 2px
        
                
    &.vertical
        display: block
        
        .ts.button
            display: block
            
            &:not(:first-child)
                border-top-left-radius : 0
                border-top-right-radius: 0
                border-bottom-width    : 0
            
            &:not(:last-child)
                border-bottom-left-radius : 0
                border-bottom-right-radius: 0
                border-bottom-width       : 0px
            
            &:last-child
                border-bottom-width       : 1px
    
    &.vertical.inverted.basic .ts.button
        &:last-child
            border-bottom-width           : 2px
    
    
    
    




 
