@import ../../variables/elements/container.variables

//*******************************//
//              Main
//*******************************//

.ts.container
    display  : block
    max-width: $container_maxWidth

    &.grid
        max-width: calc(100% + 0.8rem) !important
    &.grid.relaxed
        max-width: calc(100% + 1.6rem) !important

//-------------------//
//       Mobile
//-------------------//

+rwd-serious(mobile)
    .ts.container:not(.narrow)
        margin-left : $container_mobileGutter !important
        margin-right: $container_mobileGutter !important
        width       : $container_mobileWidth  !important

        &.grid
            margin-left : calc(-.44rem - -.88rem) !important
            margin-right: calc(-.44rem - -.88rem) !important

        &.grid.relaxed
            margin-left : 1px !important
            margin-right: 1px !important

//-------------------//
//       Tablet
//-------------------//

+rwd-serious(tablet)
    .ts.container:not(.narrow)
        margin-left : $container_tabletGutter !important
        margin-right: $container_tabletGutter !important
        width       : $container_tabletWidth

        &.grid
            width: calc(723px + 0.8rem) !important
        &.grid.relaxed
            width: calc(723px + 1.6rem) !important

//-------------------//
//      Computer
//-------------------//

+rwd-serious(computer)
    .ts.container:not(.narrow)
        margin-left : $container_computerGutter !important
        margin-right: $container_computerGutter !important
        width       : $container_computerWidth

        &.grid
            width: calc(933px + 0.8rem) !important
        &.grid.relaxed
            width: calc(933px + 1.6rem) !important

//-------------------//
//    Large Screen
//-------------------//

+rwd-serious(large)
    .ts.container:not(.narrow)
        margin-left : $container_largeMonitorGutter !important
        margin-right: $container_largeMonitorGutter !important
        width       : $container_largeMonitorWidth

        &.grid
            width: calc(1127px + 0.8rem) !important
        &.grid.relaxed
            width: calc(1127px + 1.6rem) !important

//-------------------//
//       Width
//-------------------//

// Narrow
.ts.container.narrow
    margin-left : auto
    margin-right: auto
    max-width   : $container_narrowWidth !important

    &.grid
        max-width: calc(992px + 0.8rem) !important
    &.grid.relaxed
        max-width: calc(992px + 1.6rem) !important


// Very Narrow
.ts.very.narrow.container
    margin-left : auto
    margin-right: auto
    max-width   : $container_veryNarrowWidth !important

    &.grid
        max-width: calc(700px + 0.8rem) !important
    &.grid.relaxed
        max-width: calc(700px + 1.6rem) !important

@media (max-width: $container_narrowBreakPoint)
    .ts.container.narrow:not(.very)
        margin-left : $container_narrowGutter !important
        margin-right: $container_narrowGutter !important
        max-width   : 100% !important
        width       : auto !important

        &.grid
            margin-left : calc(-.44rem - -.88rem) !important
            margin-right: calc(-.44rem - -.88rem) !important

        &.grid.relaxed
            margin-left : 1px !important
            margin-right: 1px !important

@media (max-width: $container_veryNarrowBreakPoint)
    .ts.container.very.narrow
        margin-left : $container_narrowGutter !important
        margin-right: $container_narrowGutter !important
        max-width   : 100% !important
        width       : auto !important

        &.grid
            margin-left : calc(-.44rem - -.88rem) !important
            margin-right: calc(-.44rem - -.88rem) !important

        &.grid.relaxed
            margin-left : 1px !important
            margin-right: 1px !important

//-------------------//
//        Text
//-------------------//

.ts.container.text
    max-width  : $container_textWidth !important
    line-height: $container_textLineHeight
    font-size  : $container_textFontSize

    &.grid
        max-width: calc(860px + 0.8rem) !important
    &.grid.relaxed
        max-width: calc(860px + 1.6rem) !important

//-------------------//
//       Fluid
//-------------------//

.ts.container.fluid
    max-width: 100% !important
    width    : 100% !important

    &.grid
        max-width: calc(100% + 0.8rem) !important
    &.grid.relaxed
        max-width: calc(100% + 1.6rem) !important

//-------------------//
//       Aligns
//-------------------//

.ts.container[class*="center aligned"]
    text-align: center
.ts.container[class*="left aligned"]
    text-align: left
.ts.container[class*="right aligned"]
    text-align: right
.ts.container[class*="justified"]
    text-align: justify

//-------------------//
//     Spaceless
//-------------------//

@media (max-width: $container_narrowWidth)
    .ts.spaceless.narrow.container:not(.very)
        margin-left : 0 !important
        margin-right: 0 !important

@media (max-width: $container_veryNarrowWidth)
    .ts.spaceless.very.narrow.container
        margin-left : 0 !important
        margin-right: 0 !important

+rwd-serious(mobile)
    .ts.spaceless.container:not(.narrow)
        margin-left : 0 !important
        margin-right: 0 !important