.ts.container
  max-width   : 1170px
  margin-left : auto !important
  margin-right: auto !important

  +rwd-serious(mobile)
    margin-left : $margin !important
    margin-right: $margin !important
    max-width   : none !important