@import ../../variables/elements/header.variables

//*******************************//
//            Variations
//*******************************//

@mixin header-variant($color, $borderColor, $subColor)
    color       : $color
    border-color: $borderColor

    .sub.header
        color: $subColor

//*******************************//
//              Main
//*******************************//

.ts.header
    display    : flex
    flex-wrap  : wrap
    align-items: center
    margin     : $header_margin
    line-height: $header_lineHeight
    color      : $header_color
    font-weight: $header_fontWeight
    font-size  : $header_commonSize

    &:first-child
        margin-top: $header_firstMargin

    &:last-child
        margin-bottom: $header_lastMargin

.ts.header .sub.header
    width      : 100%
    font-weight: normal
    line-height: $header_subHeaderLineHeight
    color      : $header_subHeaderColor

//-------------------//
//  Inline Sub Header
//-------------------//

.ts.header .inline.sub.header
    width      : auto
    flex       : 1
    margin-left: 1em

//-------------------//
//       Icon
//-------------------//

.ts.header > .icon:not(.button)
    opacity       : $header_iconOpacity
    font-size     : $header_iconSize

/* With Text Node */
.ts.header > .icon:not(.button):only-child
    display     : inline-block
    padding     : 0em
    margin-right: $header_iconMargin

//-------------------//
//      Disabled
//-------------------//

.ts.header.disabled,
.ts.header.disabled .sub.header
    opacity: $disabledOpacity

//-------------------//
//       Aligns
//-------------------//

.ts.header[class*="center aligned"]
    justify-content: center
    text-align     : center
.ts.header[class*="left aligned"]
    justify-content: flex-start
    text-align     : left
.ts.header[class*="right aligned"]
    justify-content: flex-end
    text-align     : right

//-------------------//
//      Dividing
//-------------------//

.ts.header.dividing
    padding-bottom: $header_dividedBorderPadding
    border-bottom : $header_dividedBorder
.ts.header.dividing.primary
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_primaryBorderColor
.ts.header.dividing.info
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_infoBorderColor
.ts.header.dividing.warning
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_warningBorderColor
.ts.header.dividing.positive
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_positiveBorderColor
.ts.header.dividing.negative
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_negativeBorderColor
.ts.header.dividing.inverted
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_invertedBorderColor

//-------------------//
//      Floated
//-------------------//

.ts.header[class*="left floated"]
    float       : left
    margin-right: auto
.ts.header[class*="right floated"]
    float      : right
    margin-left: auto

//-------------------//
//    Icon Aligns
//-------------------//

.ts.header .icon[class*="top aligned"]
    align-self: flex-start
    margin-top: $header_topAlignedIconOffset


//-------------------//
//        Page
//-------------------//

h1.ts.header
    font-size: $h1
h2.ts.header
    font-size: $h2
h3.ts.header
    font-size: $h3
h4.ts.header
    font-size: $h4
h5.ts.header
    font-size: $h5
h6.ts.header
    font-size: $h6

h1.ts.header .sub.header,
h1.ts.sub.header
    font-size: $header_h1SubHeaderFontSize
h2.ts.header .sub.header,
h2.ts.sub.header
    font-size: $header_h2SubHeaderFontSize
h3.ts.header .sub.header,
h3.ts.sub.header
    font-size: $header_h3SubHeaderFontSize
h4.ts.header .sub.header,
h4.ts.sub.header
    font-size: $header_h4SubHeaderFontSize
h5.ts.header .sub.header,
h5.ts.sub.header
    font-size: $header_h5SubHeaderFontSize
h6.ts.header .sub.header,
h6.ts.sub.header
    font-size: $header_h6SubHeaderFontSize

h1.ts.header .smaller.sub.header,
h1.ts.smaller.sub.header
    font-size: $header_h2SubHeaderFontSize
h2.ts.header .smaller.sub.header,
h2.ts.smaller.sub.header
    font-size: $header_h3SubHeaderFontSize
h3.ts.header .smaller.sub.header,
h3.ts.smaller.sub.header
    font-size: $header_h4SubHeaderFontSize
h4.ts.header .smaller.sub.header,
h4.ts.smaller.sub.header
    font-size: $header_h5SubHeaderFontSize
h5.ts.header .smaller.sub.header,
h5.ts.smaller.sub.header
    font-size: $header_h6SubHeaderFontSize
h6.ts.header .smaller.sub.header,
h6.ts.smaller.sub.header
    font-size: calc(#{$header_h6SubHeaderFontSize} / 1.5)

//-------------------//
//   Content Header
//-------------------//

.ts.massive.header
    font-size: $header_massiveFontSize
.ts.huge.header
    min-height: 1em
    font-size: $header_hugeFontSize
.ts.big.header
    font-size: $header_bigFontSize
.ts.large.header
    font-size: $header_largeFontSize
.ts.header,
.ts.medium.header
    font-size: $header_mediumFontSize
.ts.small.header
    font-size: $header_smallFontSize
.ts.tiny.header
    font-size: $header_tinyFontSize
.ts.mini.header
    font-size: $header_miniFontSize

.ts.massive.header .sub.header,
.ts.massive.sub.header
    font-size: $header_massiveSubHeaderFontSize
.ts.huge.header .sub.header,
.ts.huge.sub.header
    font-size: $header_hugeSubHeaderFontSize
.ts.big.header .sub.header,
.ts.big.sub.header
    font-size: $header_bigSubHeaderFontSize
.ts.large.header .sub.header,
.ts.large.sub.header
    font-size: $header_largeSubHeaderFontSize
.ts.header .sub.header,
.ts.medium.header .sub.header,
.ts.medium.sub.header,
.ts.sub.header,
    font-size: $header_mediumSubHeaderFontSize
.ts.small.header .sub.header,
.ts.small.sub.header
    font-size: $header_smallSubHeaderFontSize
.ts.tiny.header .sub.header,
.ts.tiny.sub.header
    font-size: $header_tinySubHeaderFontSize
.ts.mini.header .sub.header,
.ts.mini.sub.header
    font-size: $header_miniSubHeaderFontSize

.ts.massive.header .smaller.sub.header,
.ts.massive.smaller.sub.header
    font-size: $header_hugeSubHeaderFontSize
.ts.huge.header .smaller.sub.header,
.ts.huge.smaller.sub.header
    font-size: $header_bigSubHeaderFontSize
.ts.big.header .smaller.sub.header,
.ts.big.smaller.sub.header
    font-size: $header_largeSubHeaderFontSize
.ts.large.header .smaller.sub.header,
.ts.large.smaller.sub.header
    font-size: $header_mediumSubHeaderFontSize
.ts.medium.header .smaller.sub.header,
.ts.medium.smaller.sub.header
    font-size: $header_smallSubHeaderFontSize
.ts.small.header .smaller.sub.header,
.ts.small.smaller.sub.header
    font-size: $header_tinySubHeaderFontSize
.ts.tiny.header .smaller.sub.header,
.ts.tiny.smaller.sub.header
    font-size: $header_miniSubHeaderFontSize
.ts.mini.header .smaller.sub.header,
.ts.mini.smaller.sub.header
    font-size: calc(#{$header_miniSubHeaderFontSize} / 1.5)

//-------------------//
//      Emphasis
//-------------------//

.ts.header.primary
    +header-variant($header_primaryTextColor, $header_primaryBorderColor, $header_primarySubTextColor)
.ts.header.info
    +header-variant($header_infoTextColor, $header_infoBorderColor, $header_infoSubTextColor)
.ts.header.warning
    +header-variant($header_warningTextColor, $header_warningBorderColor, $header_warningSubTextColor)
.ts.header.positive
    +header-variant($header_positiveTextColor, $header_positiveBorderColor, $header_positiveSubTextColor)
.ts.header.negative
    +header-variant($header_negativeTextColor, $header_negativeBorderColor, $header_negativeSubTextColor)
.ts.header.inverted
    +header-variant($header_invertedTextColor, $header_invertedBorderColor, $header_invertedSubTextColor)

//-------------------//
//        Icon
//-------------------//

.ts.icon.header
    display   : inline-block
    text-align: center
    margin    : $header_iconHeaderTopMargin 0em $header_iconHeaderBottomMargin

.ts.icon.header:after
    content   : ''
    display   : block
    height    : 0px
    clear     : both
    visibility: hidden

.ts.icon.header:first-child
    margin-top: $header_iconHeaderFirstMargin

.ts.icon.header .icon
    float      : none
    display    : block
    width      : auto
    height     : auto
    line-height: 1
    padding    : 0em
    font-size  : $header_iconHeaderSize
    margin     : 0em auto $header_iconHeaderMargin
    opacity    : $header_iconHeaderOpacity

.ts.icon.header .icon:only-child
    margin-bottom: 0

.ts.icon.header .content
    display: block
    padding: 0em

.ts.icon.header .circular.icon
    font-size: $header_circularHeaderIconSize

.ts.icon.header .square.icon
    font-size: $header_squareHeaderIconSize

.ts.block.icon.header .icon
    margin-bottom: 0em

.ts.icon.header.aligned
    margin-left : auto
    margin-right: auto
    display     : block

/* Sizes */
.ts.icon.header .mini.icon
    font-size: $header_miniIconHeaderSize
.ts.icon.header .tiny.icon
    font-size: $header_tinyIconHeaderSize
.ts.icon.header .small.icon
    font-size: $header_smallIconHeaderSize
.ts.icon.header .large.icon
    font-size: $header_largeIconHeaderSize
.ts.icon.header .big.icon
    font-size: $header_bigIconHeaderSize
.ts.icon.header .huge.icon
    font-size: $header_hugeIconHeaderSize
.ts.icon.header .massive.icon
    font-size: $header_massiveIconHeaderSize

//-------------------//
//       Content
//-------------------//

.ts.header .content
    display       : inline-block
    vertical-align: middle

/* After Image */
.ts.header > img + .content,
.ts.header > .image + .content
    padding-left  : $header_imageMargin
    vertical-align: middle

/* After Icon */
.ts.header > .icon + .content
    padding-left  : $header_iconMargin
    display       : table-cell
    vertical-align: middle

//-------------------//
//       Image
//-------------------//

.ts.header > .image,
.ts.header > img
    display       : inline-block
    width         : $header_imageWidth
    height        : $header_imageHeight
    max-height    : $header_imageWidth

.ts.header > .image:only-child,
.ts.header > img:only-child
    margin-right: $header_imageMargin

//-------------------//
//      Attached
//-------------------//

.ts.attached.header
    padding         : $header_blockPadding
    border          : $header_blockBorder
    background-color: $header_attachedBackgroundColor
    border-radius   : $header_blockBorderRadius

.ts.header[class*="top attached"].top.attached
    +extend(top-attached)

.ts.attached:not([class*="bottom attached"]):not([class*="top attached"]).header
    +extend(attached)

.ts.header[class*="bottom attached"].bottom.attached
    +extend(bottom-attached)

//-------------------//
//       Block
//-------------------//

.ts.block.header
    padding         : $header_blockPadding
    border          : $header_blockBorder
    background-color: $header_blockBackgroundColor
    border-radius   : $header_blockBorderRadius

//-------------------//
//   Loose Coupling
//-------------------//

.ts.header[class*="top attached"] + .ts.segment[class*="bottom attached"]
    border-top: 0

.ts.header .ts.label
    font-size     : $header_labelSize
    margin-left   : $header_labelDistance
    vertical-align: middle

.ts.header > .ts.right.floated.label.label
    margin-left: auto

.ts.header .ts.horizontal.label
    margin-left: 0