@import ../../variables/elements/header.variables

//*******************************//
//            Variations
//*******************************//

@mixin header-variant($color, $borderColor)
    color       : $color
    border-color: $borderColor

//*******************************//
//              Main
//*******************************//

.ts.header
    margin     : $header_margin
    line-height: $header_lineHeight
    color      : $textColor
    font-weight: $header_fontWeight

    &:first-child
        margin-top: $header_firstMargin
    
    &:last-child
        margin-bottom: $header_lastMargin
    
.ts.header .sub.header
    display    : block
    font-weight: normal
    line-height: $header_subHeaderLineHeight
    color      : $header_subHeaderColor

//-------------------//
//      Disabled       
//-------------------// 

.ts.header.disabled,
.ts.header.disabled .sub.header
    opacity: $disabledOpacity

//-------------------//
//      Thinner 
//-------------------// 

.ts.header.thinner
    font-weight: normal

//-------------------//
//       Bolder       
//-------------------// 

.ts.header.bolder
.ts.header.bolder .sub.header
    font-weight: $header_bolderFontWeight

//-------------------//
//       Aligns       
//-------------------// 

.ts.header[class*="center aligned"]
    text-align: center
.ts.header[class*="left aligned"]
    text-align: left
.ts.header[class*="right aligned"]
    text-align: right
    
//-------------------//
//      Dividing       
//-------------------//     

.ts.header.dividing
    padding-bottom: $header_dividedBorderPadding
    border-bottom : $header_dividedBorder
.ts.header.dividing.primary
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_primaryBorderColor
.ts.header.dividing.info
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_infoBorderColor
.ts.header.dividing.warning
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_warningBorderColor
.ts.header.dividing.positive
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_positiveBorderColor
.ts.header.dividing.negative
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_negativeBorderColor
.ts.header.dividing.inverted
    border-bottom: $header_dividedEmphasizedBorderWidth solid $header_invertedBorderColor
    
//-------------------//
//        Page       
//-------------------// 

h1.ts.header
    font-size: $h1
h2.ts.header
    font-size: $h2
h3.ts.header
    font-size: $h3
h4.ts.header
    font-size: $h4
h5.ts.header
    font-size: $h5
h6.ts.header
    font-size: $h6
    
h1.ts.header .sub.header
    font-size: $header_h1SubHeaderFontSize
h2.ts.header .sub.header
    font-size: $header_h2SubHeaderFontSize
h3.ts.header .sub.header
    font-size: $header_h3SubHeaderFontSize
h4.ts.header .sub.header
    font-size: $header_h4SubHeaderFontSize
h5.ts.header .sub.header
    font-size: $header_h5SubHeaderFontSize
h6.ts.header .sub.header
    font-size: $header_h6SubHeaderFontSize

//-------------------//
//   Content Header       
//-------------------// 

.ts.massive.header
    font-size: $header_massiveFontSize
.ts.huge.header
    min-height: 1em
    font-size: $header_hugeFontSize
.ts.big.header
    font-size: $header_bigFontSize
.ts.large.header
    font-size: $header_largeFontSize
.ts.medium.header
    font-size: $header_mediumFontSize
.ts.small.header
    font-size: $header_smallFontSize
.ts.tiny.header
    font-size: $header_tinyFontSize
.ts.mini.header
    font-size: $header_miniFontSize

.ts.massive.header .sub.header
    font-size: $header_massiveSubHeaderFontSize   
.ts.huge.header .sub.header
    font-size: $header_hugeSubHeaderFontSize
.ts.big.header .sub.header
    font-size: $header_bigSubHeaderFontSize
.ts.large.header .sub.header
    font-size: $header_largeSubHeaderFontSize
.ts.medium.header .sub.header
    font-size: $header_mediumSubHeaderFontSize
.ts.small.header .sub.header
    font-size: $header_smallSubHeaderFontSize
.ts.tiny.header .sub.header
    font-size: $header_tinySubHeaderFontSize
.ts.mini.header .sub.header
    font-size: $header_miniSubHeaderFontSize
    
//-------------------//
//       Colors       
//-------------------//    

.ts.header.primary
    +header-variant($header_primaryTextColor, $header_primaryBorderColor)
.ts.header.info
    +header-variant($header_infoTextColor, $header_infoBorderColor) 
.ts.header.warning
    +header-variant($header_warningTextColor, $header_warningBorderColor)
.ts.header.positive
    +header-variant($header_positiveTextColor, $header_positiveBorderColor)   
.ts.header.negative
    +header-variant($header_negativeTextColor, $header_negativeBorderColor)
.ts.header.inverted
    +header-variant($header_invertedTextColor, $header_invertedBorderColor)
.ts.header.inverted .sub.header
    color: $header_invertedTextColor