//   ▄▄▄        ▄▄████▄                                                           
// ▄█████▄    ▄██▀    ██
// ▀█▄   ██▄ ██▀      ██                                                       
//  ▀██▄▄▄████   ▄▄▄██▀                                                            
//     ▀▀▀████▀▀▀▀▀                                                              
//        ██                                                                     
//       ██          ▄█████▄       █████████████          ▄█             █▄    
//      ██         ▄█▀     ▀█▄     ██         ██         ██▀█▄         ▄█▀     
//      ██        ██         ██    ██         ██        ██  ▀██       ██▀
//      ██        ██         ██    ██         ██      ▄█▀     ██     ▀▀▀▀▀▀▀███
//      ██        ▀█▄       ▄█▀    ██         ██     ██▀       ▀█▄         ██▀ 
//       ██         ▀███████▀      █████████████    ███▄▄▄▄▄▄▄▄▄██▓       █▀
//
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   H E A D E R   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//**************************************
//***********   T H E M E   ************
//**************************************

=header-theme($color: #333, $baseWeight: 600)
  
  color: $color
  
  
  
  // [&] Dividing
  //
  // 帶有分隔線的標題。
    
  &.dividing
    border-bottom: .1rem solid auten($color, 65%)




//**************************************
//*******   G E N E R A T O R   ********
//**************************************

=header-generator
  @for $i from 1 through $headerAmount
    @at-root
      #{nth($headerNames, $i)}#{&}:not(.sub),
      #{&}.#{nth($headerSizes, $i)}:not(.sub)
        +y-margin(nth($headerFontSizes, $i), nth($headerFontSizes, $i) / 1.5)

        line-height: nth($headerFontSizes, $i) * 1.3
        font-size  : nth($headerFontSizes, $i)

        &:first-child
          +y-margin(0, x)

        &:last-child
          +y-margin(x, 0)



        // [&] Dividing
        //
        // 帶有分隔線的標題。

        &.dividing
          +y-padding(x, nth($headerFontSizes, $i) / 3.5)
        
        
        
        // [&] Icon
        //
        // 帶有圖示的標題。
  
        &.icon
          .icon, .fa
            font-size: nth($headerFontSizes, $i) * 4
        
        
        
        // Sub header
        //
        // 在大標題內的子標題。
  
        .sub.header
          +y-margin(nth($headerFontSizes, $i) / 4)
          
          font-size  : nth($headerFontSizes, $i) / 1.7
          line-height: nth($headerFontSizes, $i) / 1.7
      
      
      
      // Sub header
      //
      // 子標題。
        
      #{nth($headerNames, $i)}#{&}.sub,
      #{&}.#{nth($headerSizes, $i)}.sub
        font-size    : nth($headerFontSizes, $i) / 1.7
        margin-top   : nth($headerFontSizes, $i) / 1.5
        margin-bottom: nth($headerFontSizes, $i) / 2




//**************************************
//************   M A I N   *************
//**************************************

.ts.header
  +block
  +extend(aligns)
  +header-theme
  +header-generator

  font-weight: 500
  font-size  : 2.4rem
  
  
  
  //
  //
  //
  
  &:first-child
    margin-top: 0
    
  
  
  // [&] Disabled
  //
  // 已停用的標題。

  &.disabled
    opacity: 0.4
  
  
  
  // [&] Disabled
  //
  // 已停用的標題。
  
  &.icon
    .icon, .fa
      +block
      +x-margin(x, 0)


  
  // [&] Inverted
  //
  // 反色調的標題。
  
  &.inverted,
  &.inverted .header
    +header-theme($invertedColor)
    
  
  
  // [&] Bolder
  //
  // 更粗的標題。
  
  &.bolder
    font-weight: 800
  
  
  
  // [&] Aligned
  //
  // 對齊。
  
  &.aligned
    &[class*="right aligned"]
      text-align: right
    
    &[class*="left aligned"]
      text-align: left
    
    &[class*="center aligned"]
      text-align: center
    
  