i.address.book:before
    content: '\f2b9'
i.address.card:before
    content: '\f2bb'
i.adjust:before
    content: '\f042'
i.alarm.clock:before
    content: '\f34e'
i.align.center:before
    content: '\f037'
i.align.justify:before
    content: '\f039'
i.align.left:before
    content: '\f036'
i.align.right:before
    content: '\f038'
i.ambulance:before
    content: '\f0f9'
i.american.sign.language.interpreting:before
    content: '\f2a3'
i.anchor:before
    content: '\f13d'
i.angle.double.down:before
    content: '\f103'
i.angle.double.left:before
    content: '\f100'
i.angle.double.right:before
    content: '\f101'
i.angle.double.up:before
    content: '\f102'
i.angle.down:before
    content: '\f107'
i.angle.left:before
    content: '\f104'
i.angle.right:before
    content: '\f105'
i.angle.up:before
    content: '\f106'
i.archive:before
    content: '\f187'
i.arrow.alt.circle.down:before
    content: '\f358'
i.arrow.alt.circle.left:before
    content: '\f359'
i.arrow.alt.circle.right:before
    content: '\f35a'
i.arrow.alt.circle.up:before
    content: '\f35b'
i.arrow.alt.down:before
    content: '\f354'
i.arrow.alt.from.bottom:before
    content: '\f346'
i.arrow.alt.from.left:before
    content: '\f347'
i.arrow.alt.from.right:before
    content: '\f348'
i.arrow.alt.from.top:before
    content: '\f349'
i.arrow.alt.left:before
    content: '\f355'
i.arrow.alt.right:before
    content: '\f356'
i.arrow.alt.square.down:before
    content: '\f350'
i.arrow.alt.square.left:before
    content: '\f351'
i.arrow.alt.square.right:before
    content: '\f352'
i.arrow.alt.square.up:before
    content: '\f353'
i.arrow.alt.to.bottom:before
    content: '\f34a'
i.arrow.alt.to.left:before
    content: '\f34b'
i.arrow.alt.to.right:before
    content: '\f34c'
i.arrow.alt.to.top:before
    content: '\f34d'
i.arrow.alt.up:before
    content: '\f357'
i.arrow.circle.down:before
    content: '\f0ab'
i.arrow.circle.left:before
    content: '\f0a8'
i.arrow.circle.right:before
    content: '\f0a9'
i.arrow.circle.up:before
    content: '\f0aa'
i.arrow.down:before
    content: '\f063'
i.arrow.from.bottom:before
    content: '\f342'
i.arrow.from.left:before
    content: '\f343'
i.arrow.from.right:before
    content: '\f344'
i.arrow.from.top:before
    content: '\f345'
i.arrow.left:before
    content: '\f060'
i.arrow.right:before
    content: '\f061'
i.arrow.square.down:before
    content: '\f339'
i.arrow.square.left:before
    content: '\f33a'
i.arrow.square.right:before
    content: '\f33b'
i.arrow.square.up:before
    content: '\f33c'
i.arrow.to.bottom:before
    content: '\f33d'
i.arrow.to.left:before
    content: '\f33e'
i.arrow.to.right:before
    content: '\f340'
i.arrow.to.top:before
    content: '\f341'
i.arrow.up:before
    content: '\f062'
i.arrows:before
    content: '\f047'
i.arrows.alt:before
    content: '\f0b2'
i.arrows.alt.h:before
    content: '\f337'
i.arrows.alt.v:before
    content: '\f338'
i.arrows.h:before
    content: '\f07e'
i.arrows.v:before
    content: '\f07d'
i.assistive.listening.systems:before
    content: '\f2a2'
i.asterisk:before
    content: '\f069'
i.at:before
    content: '\f1fa'
i.audio.description:before
    content: '\f29e'
i.backward:before
    content: '\f04a'
i.badge:before
    content: '\f335'
i.badge.check:before
    content: '\f336'
i.balance.scale:before
    content: '\f24e'
i.ban:before
    content: '\f05e'
i.barcode:before
    content: '\f02a'
i.bars:before
    content: '\f0c9'
i.baseball:before
    content: '\f432'
i.baseball.ball:before
    content: '\f433'
i.basketball.ball:before
    content: '\f434'
i.basketball.hoop:before
    content: '\f435'
i.bath:before
    content: '\f2cd'
i.battery.bolt:before
    content: '\f376'
i.battery.empty:before
    content: '\f244'
i.battery.full:before
    content: '\f240'
i.battery.half:before
    content: '\f242'
i.battery.quarter:before
    content: '\f243'
i.battery.slash:before
    content: '\f377'
i.battery.three.quarters:before
    content: '\f241'
i.bed:before
    content: '\f236'
i.beer:before
    content: '\f0fc'
i.bell:before
    content: '\f0f3'
i.bell.slash:before
    content: '\f1f6'
i.bicycle:before
    content: '\f206'
i.binoculars:before
    content: '\f1e5'
i.birthday.cake:before
    content: '\f1fd'
i.blind:before
    content: '\f29d'
i.bold:before
    content: '\f032'
i.bolt:before
    content: '\f0e7'
i.bomb:before
    content: '\f1e2'
i.book:before
    content: '\f02d'
i.bookmark:before
    content: '\f02e'
i.bowling.ball:before
    content: '\f436'
i.bowling.pins:before
    content: '\f437'
i.boxing.glove:before
    content: '\f438'
i.braille:before
    content: '\f2a1'
i.briefcase:before
    content: '\f0b1'
i.browser:before
    content: '\f37e'
i.bug:before
    content: '\f188'
i.building:before
    content: '\f1ad'
i.bullhorn:before
    content: '\f0a1'
i.bullseye:before
    content: '\f140'
i.bus:before
    content: '\f207'
i.calculator:before
    content: '\f1ec'
i.calendar:before
    content: '\f133'
i.calendar.alt:before
    content: '\f073'
i.calendar.check:before
    content: '\f274'
i.calendar.edit:before
    content: '\f333'
i.calendar.exclamation:before
    content: '\f334'
i.calendar.minus:before
    content: '\f272'
i.calendar.plus:before
    content: '\f271'
i.calendar.times:before
    content: '\f273'
i.camera:before
    content: '\f030'
i.camera.alt:before
    content: '\f332'
i.camera.retro:before
    content: '\f083'
i.car:before
    content: '\f1b9'
i.caret.circle.down:before
    content: '\f32d'
i.caret.circle.left:before
    content: '\f32e'
i.caret.circle.right:before
    content: '\f330'
i.caret.circle.up:before
    content: '\f331'
i.caret.down:before
    content: '\f0d7'
i.caret.left:before
    content: '\f0d9'
i.caret.right:before
    content: '\f0da'
i.caret.square.down:before
    content: '\f150'
i.caret.square.left:before
    content: '\f191'
i.caret.square.right:before
    content: '\f152'
i.caret.square.up:before
    content: '\f151'
i.caret.up:before
    content: '\f0d8'
i.cart.arrow.down:before
    content: '\f218'
i.cart.plus:before
    content: '\f217'
i.certificate:before
    content: '\f0a3'
i.chart.area:before
    content: '\f1fe'
i.chart.bar:before
    content: '\f080'
i.chart.line:before
    content: '\f201'
i.chart.pie:before
    content: '\f200'
i.check:before
    content: '\f00c'
i.check.circle:before
    content: '\f058'
i.check.square:before
    content: '\f14a'
i.chess:before
    content: '\f439'
i.chess.bishop:before
    content: '\f43a'
i.chess.bishop.alt:before
    content: '\f43b'
i.chess.board:before
    content: '\f43c'
i.chess.clock:before
    content: '\f43d'
i.chess.clock.alt:before
    content: '\f43e'
i.chess.king:before
    content: '\f43f'
i.chess.king.alt:before
    content: '\f440'
i.chess.knight:before
    content: '\f441'
i.chess.knight.alt:before
    content: '\f442'
i.chess.pawn:before
    content: '\f443'
i.chess.pawn.alt:before
    content: '\f444'
i.chess.queen:before
    content: '\f445'
i.chess.queen.alt:before
    content: '\f446'
i.chess.rook:before
    content: '\f447'
i.chess.rook.alt:before
    content: '\f448'
i.chevron.circle.down:before
    content: '\f13a'
i.chevron.circle.left:before
    content: '\f137'
i.chevron.circle.right:before
    content: '\f138'
i.chevron.circle.up:before
    content: '\f139'
i.chevron.double.down:before
    content: '\f322'
i.chevron.double.left:before
    content: '\f323'
i.chevron.double.right:before
    content: '\f324'
i.chevron.double.up:before
    content: '\f325'
i.chevron.down:before
    content: '\f078'
i.chevron.left:before
    content: '\f053'
i.chevron.right:before
    content: '\f054'
i.chevron.square.down:before
    content: '\f329'
i.chevron.square.left:before
    content: '\f32a'
i.chevron.square.right:before
    content: '\f32b'
i.chevron.square.up:before
    content: '\f32c'
i.chevron.up:before
    content: '\f077'
i.child:before
    content: '\f1ae'
i.circle:before
    content: '\f111'
i.circle.notch:before
    content: '\f1ce'
i.clipboard:before
    content: '\f328'
i.clock:before
    content: '\f017'
i.clone:before
    content: '\f24d'
i.closed.captioning:before
    content: '\f20a'
i.cloud:before
    content: '\f0c2'
i.cloud.download:before
    content: '\f0ed'
i.cloud.download.alt:before
    content: '\f381'
i.cloud.upload:before
    content: '\f0ee'
i.cloud.upload.alt:before
    content: '\f382'
i.club:before
    content: '\f327'
i.code:before
    content: '\f121'
i.code.branch:before
    content: '\f126'
i.code.commit:before
    content: '\f386'
i.code.merge:before
    content: '\f387'
i.coffee:before
    content: '\f0f4'
i.cog:before
    content: '\f013'
i.cogs:before
    content: '\f085'
i.columns:before
    content: '\f0db'
i.comment:before
    content: '\f075'
i.comment.alt:before
    content: '\f27a'
i.comments:before
    content: '\f086'
i.compass:before
    content: '\f14e'
i.compress:before
    content: '\f066'
i.compress.alt:before
    content: '\f422'
i.compress.wide:before
    content: '\f326'
i.copy:before
    content: '\f0c5'
i.copyright:before
    content: '\f1f9'
i.credit.card:before
    content: '\f09d'
i.credit.card.blank:before
    content: '\f389'
i.credit.card.front:before
    content: '\f38a'
i.cricket:before
    content: '\f449'
i.crop:before
    content: '\f125'
i.crosshairs:before
    content: '\f05b'
i.cube:before
    content: '\f1b2'
i.cubes:before
    content: '\f1b3'
i.curling:before
    content: '\f44a'
i.cut:before
    content: '\f0c4'
i.database:before
    content: '\f1c0'
i.deaf:before
    content: '\f2a4'
i.desktop:before
    content: '\f108'
i.desktop.alt:before
    content: '\f390'
i.diamond:before
    content: '\f219'
i.dollar.sign:before
    content: '\f155'
i.dot.circle:before
    content: '\f192'
i.download:before
    content: '\f019'
i.dumbbell:before
    content: '\f44b'
i.edit:before
    content: '\f044'
i.eject:before
    content: '\f052'
i.ellipsis.h:before
    content: '\f141'
i.ellipsis.h.alt:before
    content: '\f39b'
i.ellipsis.v:before
    content: '\f142'
i.ellipsis.v.alt:before
    content: '\f39c'
i.envelope:before
    content: '\f0e0'
i.envelope.open:before
    content: '\f2b6'
i.envelope.square:before
    content: '\f199'
i.eraser:before
    content: '\f12d'
i.euro.sign:before
    content: '\f153'
i.exchange:before
    content: '\f0ec'
i.exchange.alt:before
    content: '\f362'
i.exclamation:before
    content: '\f12a'
i.exclamation.circle:before
    content: '\f06a'
i.exclamation.square:before
    content: '\f321'
i.exclamation.triangle:before
    content: '\f071'
i.expand:before
    content: '\f065'
i.expand.alt:before
    content: '\f424'
i.expand.arrows:before
    content: '\f31d'
i.expand.arrows.alt:before
    content: '\f31e'
i.expand.wide:before
    content: '\f320'
i.external.link:before
    content: '\f08e'
i.external.link.alt:before
    content: '\f35d'
i.external.link.square:before
    content: '\f14c'
i.external.link.square.alt:before
    content: '\f360'
i.eye:before
    content: '\f06e'
i.eye.dropper:before
    content: '\f1fb'
i.eye.slash:before
    content: '\f070'
i.fast.backward:before
    content: '\f049'
i.fast.forward:before
    content: '\f050'
i.fax:before
    content: '\f1ac'
i.female:before
    content: '\f182'
i.field.hockey:before
    content: '\f44c'
i.fighter.jet:before
    content: '\f0fb'
i.file:before
    content: '\f15b'
i.file.alt:before
    content: '\f15c'
i.file.archive:before
    content: '\f1c6'
i.file.audio:before
    content: '\f1c7'
i.file.check:before
    content: '\f316'
i.file.code:before
    content: '\f1c9'
i.file.edit:before
    content: '\f31c'
i.file.excel:before
    content: '\f1c3'
i.file.exclamation:before
    content: '\f31a'
i.file.image:before
    content: '\f1c5'
i.file.minus:before
    content: '\f318'
i.file.pdf:before
    content: '\f1c1'
i.file.plus:before
    content: '\f319'
i.file.powerpoint:before
    content: '\f1c4'
i.file.times:before
    content: '\f317'
i.file.video:before
    content: '\f1c8'
i.file.word:before
    content: '\f1c2'
i.film:before
    content: '\f008'
i.film.alt:before
    content: '\f3a0'
i.filter:before
    content: '\f0b0'
i.fire:before
    content: '\f06d'
i.fire.extinguisher:before
    content: '\f134'
i.flag:before
    content: '\f024'
i.flag.checkered:before
    content: '\f11e'
i.flask:before
    content: '\f0c3'
i.folder:before
    content: '\f07b'
i.folder.open:before
    content: '\f07c'
i.font:before
    content: '\f031'
i.football.ball:before
    content: '\f44e'
i.football.helmet:before
    content: '\f44f'
i.forward:before
    content: '\f04e'
i.frown:before
    content: '\f119'
i.futbol:before
    content: '\f1e3'
i.gamepad:before
    content: '\f11b'
i.gavel:before
    content: '\f0e3'
i.gem:before
    content: '\f3a5'
i.genderless:before
    content: '\f22d'
i.gift:before
    content: '\f06b'
i.glass.martini:before
    content: '\f000'
i.globe:before
    content: '\f0ac'
i.golf.ball:before
    content: '\f450'
i.golf.club:before
    content: '\f451'
i.graduation.cap:before
    content: '\f19d'
i.h.square:before
    content: '\f0fd'
i.h1:before
    content: '\f313'
i.h2:before
    content: '\f314'
i.h3:before
    content: '\f315'
i.hand.lizard:before
    content: '\f258'
i.hand.paper:before
    content: '\f256'
i.hand.peace:before
    content: '\f25b'
i.hand.point.down:before
    content: '\f0a7'
i.hand.point.left:before
    content: '\f0a5'
i.hand.point.right:before
    content: '\f0a4'
i.hand.point.up:before
    content: '\f0a6'
i.hand.pointer:before
    content: '\f25a'
i.hand.rock:before
    content: '\f255'
i.hand.scissors:before
    content: '\f257'
i.hand.spock:before
    content: '\f259'
i.handshake:before
    content: '\f2b5'
i.hashtag:before
    content: '\f292'
i.hdd:before
    content: '\f0a0'
i.heading:before
    content: '\f1dc'
i.headphones:before
    content: '\f025'
i.heart:before
    content: '\f004'
i.heartbeat:before
    content: '\f21e'
i.hexagon:before
    content: '\f312'
i.history:before
    content: '\f1da'
i.hockey.puck:before
    content: '\f453'
i.hockey.sticks:before
    content: '\f454'
i.home:before
    content: '\f015'
i.hospital:before
    content: '\f0f8'
i.hourglass:before
    content: '\f254'
i.hourglass.end:before
    content: '\f253'
i.hourglass.half:before
    content: '\f252'
i.hourglass.start:before
    content: '\f251'
i.i.cursor:before
    content: '\f246'
i.id.badge:before
    content: '\f2c1'
i.id.card:before
    content: '\f2c2'
i.image:before
    content: '\f03e'
i.images:before
    content: '\f302'
i.inbox:before
    content: '\f01c'
i.inbox.in:before
    content: '\f310'
i.inbox.out:before
    content: '\f311'
i.indent:before
    content: '\f03c'
i.industry:before
    content: '\f275'
i.industry.alt:before
    content: '\f3b3'
i.info:before
    content: '\f129'
i.info.circle:before
    content: '\f05a'
i.info.square:before
    content: '\f30f'
i.italic:before
    content: '\f033'
i.jack.o.lantern:before
    content: '\f30e'
i.key:before
    content: '\f084'
i.keyboard:before
    content: '\f11c'
i.language:before
    content: '\f1ab'
i.laptop:before
    content: '\f109'
i.leaf:before
    content: '\f06c'
i.lemon:before
    content: '\f094'
i.level.down:before
    content: '\f149'
i.level.down.alt:before
    content: '\f3be'
i.level.up:before
    content: '\f148'
i.level.up.alt:before
    content: '\f3bf'
i.life.ring:before
    content: '\f1cd'
i.lightbulb:before
    content: '\f0eb'
i.link:before
    content: '\f0c1'
i.lira.sign:before
    content: '\f195'
i.list:before
    content: '\f03a'
i.list.alt:before
    content: '\f022'
i.list.ol:before
    content: '\f0cb'
i.list.ul:before
    content: '\f0ca'
i.location.arrow:before
    content: '\f124'
i.lock:before
    content: '\f023'
i.lock.alt:before
    content: '\f30d'
i.lock.open:before
    content: '\f3c1'
i.lock.open.alt:before
    content: '\f3c2'
i.long.arrow.alt.down:before
    content: '\f309'
i.long.arrow.alt.left:before
    content: '\f30a'
i.long.arrow.alt.right:before
    content: '\f30b'
i.long.arrow.alt.up:before
    content: '\f30c'
i.long.arrow.down:before
    content: '\f175'
i.long.arrow.left:before
    content: '\f177'
i.long.arrow.right:before
    content: '\f178'
i.long.arrow.up:before
    content: '\f176'
i.low.vision:before
    content: '\f2a8'
i.luchador:before
    content: '\f455'
i.magic:before
    content: '\f0d0'
i.magnet:before
    content: '\f076'
i.male:before
    content: '\f183'
i.map:before
    content: '\f279'
i.map.marker:before
    content: '\f041'
i.map.marker.alt:before
    content: '\f3c5'
i.map.pin:before
    content: '\f276'
i.map.signs:before
    content: '\f277'
i.mars:before
    content: '\f222'
i.mars.double:before
    content: '\f227'
i.mars.stroke:before
    content: '\f229'
i.mars.stroke.h:before
    content: '\f22b'
i.mars.stroke.v:before
    content: '\f22a'
i.medkit:before
    content: '\f0fa'
i.meh:before
    content: '\f11a'
i.mercury:before
    content: '\f223'
i.microchip:before
    content: '\f2db'
i.microphone:before
    content: '\f130'
i.microphone.alt:before
    content: '\f3c9'
i.microphone.slash:before
    content: '\f131'
i.minus:before
    content: '\f068'
i.minus.circle:before
    content: '\f056'
i.minus.hexagon:before
    content: '\f307'
i.minus.octagon:before
    content: '\f308'
i.minus.square:before
    content: '\f146'
i.mobile:before
    content: '\f10b'
i.mobile.alt:before
    content: '\f3cd'
i.mobile.android:before
    content: '\f3ce'
i.mobile.android.alt:before
    content: '\f3cf'
i.money.bill:before
    content: '\f0d6'
i.money.bill.alt:before
    content: '\f3d1'
i.moon:before
    content: '\f186'
i.motorcycle:before
    content: '\f21c'
i.mouse.pointer:before
    content: '\f245'
i.music:before
    content: '\f001'
i.neuter:before
    content: '\f22c'
i.newspaper:before
    content: '\f1ea'
i.object.group:before
    content: '\f247'
i.object.ungroup:before
    content: '\f248'
i.octagon:before
    content: '\f306'
i.outdent:before
    content: '\f03b'
i.paint.brush:before
    content: '\f1fc'
i.paper.plane:before
    content: '\f1d8'
i.paperclip:before
    content: '\f0c6'
i.paragraph:before
    content: '\f1dd'
i.paste:before
    content: '\f0ea'
i.pause:before
    content: '\f04c'
i.pause.circle:before
    content: '\f28b'
i.paw:before
    content: '\f1b0'
i.pen:before
    content: '\f304'
i.pen.alt:before
    content: '\f305'
i.pen.square:before
    content: '\f14b'
i.pencil:before
    content: '\f040'
i.pencil.alt:before
    content: '\f303'
i.pennant:before
    content: '\f456'
i.percent:before
    content: '\f295'
i.phone:before
    content: '\f095'
i.phone.slash:before
    content: '\f3dd'
i.phone.square:before
    content: '\f098'
i.phone.volume:before
    content: '\f2a0'
i.plane:before
    content: '\f072'
i.plane.alt:before
    content: '\f3de'
i.play:before
    content: '\f04b'
i.play.circle:before
    content: '\f144'
i.plug:before
    content: '\f1e6'
i.plus:before
    content: '\f067'
i.plus.circle:before
    content: '\f055'
i.plus.hexagon:before
    content: '\f300'
i.plus.octagon:before
    content: '\f301'
i.plus.square:before
    content: '\f0fe'
i.podcast:before
    content: '\f2ce'
i.poo:before
    content: '\f2fe'
i.portrait:before
    content: '\f3e0'
i.pound.sign:before
    content: '\f154'
i.power.off:before
    content: '\f011'
i.print:before
    content: '\f02f'
i.puzzle.piece:before
    content: '\f12e'
i.qrcode:before
    content: '\f029'
i.question:before
    content: '\f128'
i.question.circle:before
    content: '\f059'
i.question.square:before
    content: '\f2fd'
i.quidditch:before
    content: '\f458'
i.quote.left:before
    content: '\f10d'
i.quote.right:before
    content: '\f10e'
i.racquet:before
    content: '\f45a'
i.random:before
    content: '\f074'
i.rectangle.landscape:before
    content: '\f2fa'
i.rectangle.portrait:before
    content: '\f2fb'
i.rectangle.wide:before
    content: '\f2fc'
i.recycle:before
    content: '\f1b8'
i.redo:before
    content: '\f01e'
i.redo.alt:before
    content: '\f2f9'
i.registered:before
    content: '\f25d'
i.repeat:before
    content: '\f363'
i.repeat.1:before
    content: '\f365'
i.repeat.1.alt:before
    content: '\f366'
i.repeat.alt:before
    content: '\f364'
i.reply:before
    content: '\f3e5'
i.reply.all:before
    content: '\f122'
i.retweet:before
    content: '\f079'
i.retweet.alt:before
    content: '\f361'
i.road:before
    content: '\f018'
i.rocket:before
    content: '\f135'
i.rss:before
    content: '\f09e'
i.rss.square:before
    content: '\f143'
i.ruble.sign:before
    content: '\f158'
i.rupee.sign:before
    content: '\f156'
i.save:before
    content: '\f0c7'
i.scrubber:before
    content: '\f2f8'
i.search:before
    content: '\f002'
i.search.minus:before
    content: '\f010'
i.search.plus:before
    content: '\f00e'
i.server:before
    content: '\f233'
i.share:before
    content: '\f064'
i.share.all:before
    content: '\f367'
i.share.alt:before
    content: '\f1e0'
i.share.alt.square:before
    content: '\f1e1'
i.share.square:before
    content: '\f14d'
i.shekel.sign:before
    content: '\f20b'
i.shield:before
    content: '\f132'
i.shield.alt:before
    content: '\f3ed'
i.shield.check:before
    content: '\f2f7'
i.ship:before
    content: '\f21a'
i.shopping.bag:before
    content: '\f290'
i.shopping.basket:before
    content: '\f291'
i.shopping.cart:before
    content: '\f07a'
i.shower:before
    content: '\f2cc'
i.shuttlecock:before
    content: '\f45b'
i.sign.in:before
    content: '\f090'
i.sign.in.alt:before
    content: '\f2f6'
i.sign.language:before
    content: '\f2a7'
i.sign.out:before
    content: '\f08b'
i.sign.out.alt:before
    content: '\f2f5'
i.signal:before
    content: '\f012'
i.sitemap:before
    content: '\f0e8'
i.sliders.h:before
    content: '\f1de'
i.sliders.h.square:before
    content: '\f3f0'
i.sliders.v:before
    content: '\f3f1'
i.sliders.v.square:before
    content: '\f3f2'
i.smile:before
    content: '\f118'
i.snowflake:before
    content: '\f2dc'
i.sort:before
    content: '\f0dc'
i.sort.alpha.down:before
    content: '\f15d'
i.sort.alpha.up:before
    content: '\f15e'
i.sort.amount.down:before
    content: '\f160'
i.sort.amount.up:before
    content: '\f161'
i.sort.down:before
    content: '\f0dd'
i.sort.numeric.down:before
    content: '\f162'
i.sort.numeric.up:before
    content: '\f163'
i.sort.up:before
    content: '\f0de'
i.space.shuttle:before
    content: '\f197'
i.spade:before
    content: '\f2f4'
i.spinner:before
    content: '\f110'
i.spinner.third:before
    content: '\f3f4'
i.square:before
    content: '\f0c8'
i.square.full:before
    content: '\f45c'
i.star:before
    content: '\f005'
i.star.exclamation:before
    content: '\f2f3'
i.star.half:before
    content: '\f089'
i.step.backward:before
    content: '\f048'
i.step.forward:before
    content: '\f051'
i.stethoscope:before
    content: '\f0f1'
i.sticky.note:before
    content: '\f249'
i.stop:before
    content: '\f04d'
i.stop.circle:before
    content: '\f28d'
i.stopwatch:before
    content: '\f2f2'
i.street.view:before
    content: '\f21d'
i.strikethrough:before
    content: '\f0cc'
i.subscript:before
    content: '\f12c'
i.subway:before
    content: '\f239'
i.suitcase:before
    content: '\f0f2'
i.sun:before
    content: '\f185'
i.superscript:before
    content: '\f12b'
i.sync:before
    content: '\f021'
i.sync.alt:before
    content: '\f2f1'
i.table:before
    content: '\f0ce'
i.table.tennis:before
    content: '\f45d'
i.tablet:before
    content: '\f10a'
i.tablet.alt:before
    content: '\f3fa'
i.tablet.android:before
    content: '\f3fb'
i.tablet.android.alt:before
    content: '\f3fc'
i.tachometer:before
    content: '\f0e4'
i.tachometer.alt:before
    content: '\f3fd'
i.tag:before
    content: '\f02b'
i.tags:before
    content: '\f02c'
i.tasks:before
    content: '\f0ae'
i.taxi:before
    content: '\f1ba'
i.tennis.ball:before
    content: '\f45e'
i.terminal:before
    content: '\f120'
i.text.height:before
    content: '\f034'
i.text.width:before
    content: '\f035'
i.th:before
    content: '\f00a'
i.th.large:before
    content: '\f009'
i.th.list:before
    content: '\f00b'
i.thermometer.empty:before
    content: '\f2cb'
i.thermometer.full:before
    content: '\f2c7'
i.thermometer.half:before
    content: '\f2c9'
i.thermometer.quarter:before
    content: '\f2ca'
i.thermometer.three.quarters:before
    content: '\f2c8'
i.thumbs.down:before
    content: '\f165'
i.thumbs.up:before
    content: '\f164'
i.thumbtack:before
    content: '\f08d'
i.ticket:before
    content: '\f145'
i.ticket.alt:before
    content: '\f3ff'
i.times:before
    content: '\f00d'
i.times.circle:before
    content: '\f057'
i.times.hexagon:before
    content: '\f2ee'
i.times.octagon:before
    content: '\f2f0'
i.times.square:before
    content: '\f2d3'
i.tint:before
    content: '\f043'
i.toggle.off:before
    content: '\f204'
i.toggle.on:before
    content: '\f205'
i.trademark:before
    content: '\f25c'
i.train:before
    content: '\f238'
i.transgender:before
    content: '\f224'
i.transgender.alt:before
    content: '\f225'
i.trash:before
    content: '\f1f8'
i.trash.alt:before
    content: '\f2ed'
i.tree:before
    content: '\f1bb'
i.tree.alt:before
    content: '\f400'
i.triangle:before
    content: '\f2ec'
i.trophy:before
    content: '\f091'
i.trophy.alt:before
    content: '\f2eb'
i.truck:before
    content: '\f0d1'
i.tty:before
    content: '\f1e4'
i.tv:before
    content: '\f26c'
i.tv.retro:before
    content: '\f401'
i.umbrella:before
    content: '\f0e9'
i.underline:before
    content: '\f0cd'
i.undo:before
    content: '\f0e2'
i.undo.alt:before
    content: '\f2ea'
i.universal.access:before
    content: '\f29a'
i.university:before
    content: '\f19c'
i.unlink:before
    content: '\f127'
i.unlock:before
    content: '\f09c'
i.unlock.alt:before
    content: '\f13e'
i.upload:before
    content: '\f093'
i.usd.circle:before
    content: '\f2e8'
i.usd.square:before
    content: '\f2e9'
i.user:before
    content: '\f007'
i.user.alt:before
    content: '\f406'
i.user.circle:before
    content: '\f2bd'
i.user.md:before
    content: '\f0f0'
i.user.plus:before
    content: '\f234'
i.user.secret:before
    content: '\f21b'
i.user.times:before
    content: '\f235'
i.users:before
    content: '\f0c0'
i.utensil.fork:before
    content: '\f2e3'
i.utensil.knife:before
    content: '\f2e4'
i.utensil.spoon:before
    content: '\f2e5'
i.utensils:before
    content: '\f2e7'
i.utensils.alt:before
    content: '\f2e6'
i.venus:before
    content: '\f221'
i.venus.double:before
    content: '\f226'
i.venus.mars:before
    content: '\f228'
i.video:before
    content: '\f03d'
i.volleyball.ball:before
    content: '\f45f'
i.volume.down:before
    content: '\f027'
i.volume.mute:before
    content: '\f2e2'
i.volume.off:before
    content: '\f026'
i.volume.up:before
    content: '\f028'
i.watch:before
    content: '\f2e1'
i.wheelchair:before
    content: '\f193'
i.whistle:before
    content: '\f460'
i.wifi:before
    content: '\f1eb'
i.window:before
    content: '\f40e'
i.window.alt:before
    content: '\f40f'
i.window.close:before
    content: '\f410'
i.window.maximize:before
    content: '\f2d0'
i.window.minimize:before
    content: '\f2d1'
i.window.restore:before
    content: '\f2d2'
i.won.sign:before
    content: '\f159'
i.wrench:before
    content: '\f0ad'
i.yen.sign:before
    content: '\f157'



// Brands

i.500px
    content: '\f26e'
i.accessible.icon
    content: '\f368'
i.accusoft
    content: '\f369'
i.adn
    content: '\f170'
i.adversal
    content: '\f36a'
i.affiliatetheme
    content: '\f36b'
i.algolia
    content: '\f36c'
i.amazon
    content: '\f270'
i.amazon.pay
    content: '\f42c'
i.amilia
    content: '\f36d'
i.android
    content: '\f17b'
i.angellist
    content: '\f209'
i.angrycreative
    content: '\f36e'
i.angular
    content: '\f420'
i.app.store
    content: '\f36f'
i.app.store.ios
    content: '\f370'
i.apper
    content: '\f371'
i.apple
    content: '\f179'
i.apple.pay
    content: '\f415'
i.asymmetrik
    content: '\f372'
i.audible
    content: '\f373'
i.autoprefixer
    content: '\f41c'
i.avianex
    content: '\f374'
i.aviato
    content: '\f421'
i.aws
    content: '\f375'
i.bandcamp
    content: '\f2d5'
i.behance
    content: '\f1b4'
i.behance.square
    content: '\f1b5'
i.bimobject
    content: '\f378'
i.bitbucket
    content: '\f171'
i.bitcoin
    content: '\f379'
i.bity
    content: '\f37a'
i.black.tie
    content: '\f27e'
i.blackberry
    content: '\f37b'
i.blogger
    content: '\f37c'
i.blogger.b
    content: '\f37d'
i.bluetooth
    content: '\f293'
i.bluetooth.b
    content: '\f294'
i.btc
    content: '\f15a'
i.buromobelexperte
    content: '\f37f'
i.cc.amazon.pay
    content: '\f42d'
i.cc.amex
    content: '\f1f3'
i.cc.apple.pay
    content: '\f416'
i.cc.diners.club
    content: '\f24c'
i.cc.discover
    content: '\f1f2'
i.cc.jcb
    content: '\f24b'
i.cc.mastercard
    content: '\f1f1'
i.cc.paypal
    content: '\f1f4'
i.cc.stripe
    content: '\f1f5'
i.cc.visa
    content: '\f1f0'
i.centercode
    content: '\f380'
i.chrome
    content: '\f268'
i.cloudscale
    content: '\f383'
i.cloudsmith
    content: '\f384'
i.cloudversify
    content: '\f385'
i.codepen
    content: '\f1cb'
i.codiepie
    content: '\f284'
i.connectdevelop
    content: '\f20e'
i.contao
    content: '\f26d'
i.cpanel
    content: '\f388'
i.creative.commons
    content: '\f25e'
i.css3
    content: '\f13c'
i.css3.alt
    content: '\f38b'
i.cuttlefish
    content: '\f38c'
i.d.and.d
    content: '\f38d'
i.dashcube
    content: '\f210'
i.delicious
    content: '\f1a5'
i.deploydog
    content: '\f38e'
i.deskpro
    content: '\f38f'
i.deviantart
    content: '\f1bd'
i.digg
    content: '\f1a6'
i.digital.ocean
    content: '\f391'
i.discord
    content: '\f392'
i.discourse
    content: '\f393'
i.dochub
    content: '\f394'
i.docker
    content: '\f395'
i.draft2digital
    content: '\f396'
i.dribbble
    content: '\f17d'
i.dribbble.square
    content: '\f397'
i.dropbox
    content: '\f16b'
i.drupal
    content: '\f1a9'
i.dyalog
    content: '\f399'
i.earlybirds
    content: '\f39a'
i.edge
    content: '\f282'
i.elementor
    content: '\f430'
i.ember
    content: '\f423'
i.empire
    content: '\f1d1'
i.envira
    content: '\f299'
i.erlang
    content: '\f39d'
i.ethereum
    content: '\f42e'
i.etsy
    content: '\f2d7'
i.expeditedssl
    content: '\f23e'
i.facebook
    content: '\f09a'
i.facebook.f
    content: '\f39e'
i.facebook.messenger
    content: '\f39f'
i.facebook.square
    content: '\f082'
i.firefox
    content: '\f269'
i.first.order
    content: '\f2b0'
i.firstdraft
    content: '\f3a1'
i.flickr
    content: '\f16e'
i.flipboard
    content: '\f44d'
i.fly
    content: '\f417'
i.font.awesome
    content: '\f2b4'
i.font.awesome.alt
    content: '\f35c'
i.font.awesome.flag
    content: '\f425'
i.fonticons
    content: '\f280'
i.fonticons.fi
    content: '\f3a2'
i.fort.awesome
    content: '\f286'
i.fort.awesome.alt
    content: '\f3a3'
i.forumbee
    content: '\f211'
i.foursquare
    content: '\f180'
i.free.code.camp
    content: '\f2c5'
i.freebsd
    content: '\f3a4'
i.get.pocket
    content: '\f265'
i.gg
    content: '\f260'
i.gg.circle
    content: '\f261'
i.git
    content: '\f1d3'
i.git.square
    content: '\f1d2'
i.github
    content: '\f09b'
i.github.alt
    content: '\f113'
i.github.square
    content: '\f092'
i.gitkraken
    content: '\f3a6'
i.gitlab
    content: '\f296'
i.gitter
    content: '\f426'
i.glide
    content: '\f2a5'
i.glide.g
    content: '\f2a6'
i.gofore
    content: '\f3a7'
i.goodreads
    content: '\f3a8'
i.goodreads.g
    content: '\f3a9'
i.google
    content: '\f1a0'
i.google.drive
    content: '\f3aa'
i.google.play
    content: '\f3ab'
i.google.plus
    content: '\f2b3'
i.google.plus.g
    content: '\f0d5'
i.google.plus.square
    content: '\f0d4'
i.google.wallet
    content: '\f1ee'
i.gratipay
    content: '\f184'
i.grav
    content: '\f2d6'
i.gripfire
    content: '\f3ac'
i.grunt
    content: '\f3ad'
i.gulp
    content: '\f3ae'
i.hacker.news
    content: '\f1d4'
i.hacker.news.square
    content: '\f3af'
i.hips
    content: '\f452'
i.hire.a.helper
    content: '\f3b0'
i.hooli
    content: '\f427'
i.hotjar
    content: '\f3b1'
i.houzz
    content: '\f27c'
i.html5
    content: '\f13b'
i.hubspot
    content: '\f3b2'
i.imdb
    content: '\f2d8'
i.instagram
    content: '\f16d'
i.internet.explorer
    content: '\f26b'
i.ioxhost
    content: '\f208'
i.itunes
    content: '\f3b4'
i.itunes.note
    content: '\f3b5'
i.jenkins
    content: '\f3b6'
i.joget
    content: '\f3b7'
i.joomla
    content: '\f1aa'
i.js
    content: '\f3b8'
i.js.square
    content: '\f3b9'
i.jsfiddle
    content: '\f1cc'
i.keycdn
    content: '\f3ba'
i.kickstarter
    content: '\f3bb'
i.kickstarter.k
    content: '\f3bc'
i.korvue
    content: '\f42f'
i.laravel
    content: '\f3bd'
i.lastfm
    content: '\f202'
i.lastfm.square
    content: '\f203'
i.leanpub
    content: '\f212'
i.less
    content: '\f41d'
i.line
    content: '\f3c0'
i.linkedin
    content: '\f08c'
i.linkedin.in
    content: '\f0e1'
i.linode
    content: '\f2b8'
i.linux
    content: '\f17c'
i.lyft
    content: '\f3c3'
i.magento
    content: '\f3c4'
i.maxcdn
    content: '\f136'
i.medapps
    content: '\f3c6'
i.medium
    content: '\f23a'
i.medium.m
    content: '\f3c7'
i.medrt
    content: '\f3c8'
i.meetup
    content: '\f2e0'
i.microsoft
    content: '\f3ca'
i.mix
    content: '\f3cb'
i.mixcloud
    content: '\f289'
i.mizuni
    content: '\f3cc'
i.modx
    content: '\f285'
i.monero
    content: '\f3d0'
i.napster
    content: '\f3d2'
i.nintendo.switch
    content: '\f418'
i.node
    content: '\f419'
i.node.js
    content: '\f3d3'
i.npm
    content: '\f3d4'
i.ns8
    content: '\f3d5'
i.nutritionix
    content: '\f3d6'
i.odnoklassniki
    content: '\f263'
i.odnoklassniki.square
    content: '\f264'
i.opencart
    content: '\f23d'
i.openid
    content: '\f19b'
i.opera
    content: '\f26a'
i.optin.monster
    content: '\f23c'
i.osi
    content: '\f41a'
i.page4
    content: '\f3d7'
i.pagelines
    content: '\f18c'
i.palfed
    content: '\f3d8'
i.patreon
    content: '\f3d9'
i.paypal
    content: '\f1ed'
i.periscope
    content: '\f3da'
i.phabricator
    content: '\f3db'
i.phoenix.framework
    content: '\f3dc'
i.php
    content: '\f457'
i.pied.piper
    content: '\f2ae'
i.pied.piper.alt
    content: '\f1a8'
i.pied.piper.pp
    content: '\f1a7'
i.pinterest
    content: '\f0d2'
i.pinterest.p
    content: '\f231'
i.pinterest.square
    content: '\f0d3'
i.playstation
    content: '\f3df'
i.product.hunt
    content: '\f288'
i.pushed
    content: '\f3e1'
i.python
    content: '\f3e2'
i.qq
    content: '\f1d6'
i.quinscape
    content: '\f459'
i.quora
    content: '\f2c4'
i.ravelry
    content: '\f2d9'
i.react
    content: '\f41b'
i.rebel
    content: '\f1d0'
i.red.river
    content: '\f3e3'
i.reddit
    content: '\f1a1'
i.reddit.alien
    content: '\f281'
i.reddit.square
    content: '\f1a2'
i.rendact
    content: '\f3e4'
i.renren
    content: '\f18b'
i.replyd
    content: '\f3e6'
i.resolving
    content: '\f3e7'
i.rocketchat
    content: '\f3e8'
i.rockrms
    content: '\f3e9'
i.safari
    content: '\f267'
i.sass
    content: '\f41e'
i.schlix
    content: '\f3ea'
i.scribd
    content: '\f28a'
i.searchengin
    content: '\f3eb'
i.sellcast
    content: '\f2da'
i.sellsy
    content: '\f213'
i.servicestack
    content: '\f3ec'
i.shirtsinbulk
    content: '\f214'
i.simplybuilt
    content: '\f215'
i.sistrix
    content: '\f3ee'
i.skyatlas
    content: '\f216'
i.skype
    content: '\f17e'
i.slack
    content: '\f198'
i.slack.hash
    content: '\f3ef'
i.slideshare
    content: '\f1e7'
i.snapchat
    content: '\f2ab'
i.snapchat.ghost
    content: '\f2ac'
i.snapchat.square
    content: '\f2ad'
i.soundcloud
    content: '\f1be'
i.speakap
    content: '\f3f3'
i.spotify
    content: '\f1bc'
i.stack.exchange
    content: '\f18d'
i.stack.overflow
    content: '\f16c'
i.staylinked
    content: '\f3f5'
i.steam
    content: '\f1b6'
i.steam.square
    content: '\f1b7'
i.steam.symbol
    content: '\f3f6'
i.sticker.mule
    content: '\f3f7'
i.strava
    content: '\f428'
i.stripe
    content: '\f429'
i.stripe.s
    content: '\f42a'
i.studiovinari
    content: '\f3f8'
i.stumbleupon
    content: '\f1a4'
i.stumbleupon.circle
    content: '\f1a3'
i.superpowers
    content: '\f2dd'
i.supple
    content: '\f3f9'
i.telegram
    content: '\f2c6'
i.telegram.plane
    content: '\f3fe'
i.tencent.weibo
    content: '\f1d5'
i.themeisle
    content: '\f2b2'
i.trello
    content: '\f181'
i.tripadvisor
    content: '\f262'
i.tumblr
    content: '\f173'
i.tumblr.square
    content: '\f174'
i.twitch
    content: '\f1e8'
i.twitter
    content: '\f099'
i.twitter.square
    content: '\f081'
i.typo3
    content: '\f42b'
i.uber
    content: '\f402'
i.uikit
    content: '\f403'
i.uniregistry
    content: '\f404'
i.untappd
    content: '\f405'
i.usb
    content: '\f287'
i.ussunnah
    content: '\f407'
i.vaadin
    content: '\f408'
i.viacoin
    content: '\f237'
i.viadeo
    content: '\f2a9'
i.viadeo.square
    content: '\f2aa'
i.viber
    content: '\f409'
i.vimeo
    content: '\f40a'
i.vimeo.square
    content: '\f194'
i.vimeo.v
    content: '\f27d'
i.vine
    content: '\f1ca'
i.vk
    content: '\f189'
i.vnv
    content: '\f40b'
i.vuejs
    content: '\f41f'
i.weibo
    content: '\f18a'
i.weixin
    content: '\f1d7'
i.whatsapp
    content: '\f232'
i.whatsapp.square
    content: '\f40c'
i.whmcs
    content: '\f40d'
i.wikipedia.w
    content: '\f266'
i.windows
    content: '\f17a'
i.wordpress
    content: '\f19a'
i.wordpress.simple
    content: '\f411'
i.wpbeginner
    content: '\f297'
i.wpexplorer
    content: '\f2de'
i.wpforms
    content: '\f298'
i.xbox
    content: '\f412'
i.xing
    content: '\f168'
i.xing.square
    content: '\f169'
i.y.combinator
    content: '\f23b'
i.yahoo
    content: '\f19e'
i.yandex
    content: '\f413'
i.yandex.international
    content: '\f414'
i.yelp
    content: '\f1e9'
i.yoast
    content: '\f2b1'
i.youtube
    content: '\f167'
i.youtube.square
    content: '\f431'