@import ../../variables/elements/image.variables

//*******************************//
//           Variations
//*******************************//


//*******************************//
//              Main
//*******************************//

.ts.image 
    position: relative
    display: inline-block
    vertical-align: middle
    max-width: 100%
    background-color: $image_placeholderColor

img.ts.image 
    display: block

.ts.image svg,
.ts.image img 
    display: block
    max-width: 100%
    height: auto

//*******************************//
//             States
//*******************************//

.ts.hidden.images,
.ts.hidden.image 
    display: none

.ts.hidden.transition.images,
.ts.hidden.transition.image 
    display: block
    visibility: hidden

.ts.disabled.images,
.ts.disabled.image 
    cursor: default
    opacity: $disabledOpacity

//*******************************//
//            Variations
//*******************************//

//-------------------//
//       Inline
//-------------------//

.ts.inline.image,
.ts.inline.image svg,
.ts.inline.image img 
    display: inline-block

//-------------------//
//  Vertical Aligned
//-------------------//

.ts.top.aligned.images .image,
.ts.top.aligned.image,
.ts.top.aligned.image svg,
.ts.top.aligned.image img 
    display: inline-block
    vertical-align: top

.ts.middle.aligned.images .image,
.ts.middle.aligned.image,
.ts.middle.aligned.image svg,
.ts.middle.aligned.image img 
    display: inline-block
    vertical-align: middle

.ts.bottom.aligned.images .image,
.ts.bottom.aligned.image,
.ts.bottom.aligned.image svg,
.ts.bottom.aligned.image img 
    display: inline-block
    vertical-align: bottom

//-------------------//
//       Rounded
//-------------------//

.ts.rounded.images .image,
.ts.rounded.image,
.ts.rounded.images .image > *,
.ts.rounded.image > * 
    border-radius: $image_roundedBorderRadius

//-------------------//
//      Bordered
//-------------------//

.ts.bordered.images .image,
.ts.bordered.images img,
.ts.bordered.images svg,
.ts.bordered.image img,
.ts.bordered.image svg,
img.ts.bordered.image 
    border: $image_imageBorder

//-------------------//
//      Circular
//-------------------//

.ts.circular.images,
.ts.circular.image 
    overflow: hidden

.ts.circular.images .image,
.ts.circular.image,
.ts.circular.images .image > *,
.ts.circular.image > *
    border-radius: $circularRadius
    
//-------------------//
//       Fluid
//-------------------//

.ts.fluid.images,
.ts.fluid.image,
.ts.fluid.images img,
.ts.fluid.images svg,
.ts.fluid.image svg,
.ts.fluid.image img 
    display: block
    width  : 100%
    height : auto
    
//-------------------//
//       Avatar
//-------------------//

.ts.avatar.images .image,
.ts.avatar.images img,
.ts.avatar.images svg,
.ts.avatar.image img,
.ts.avatar.image svg,
.ts.avatar.image 
    margin-right : $image_avatarMargin
    display      : inline-block
    width        : $image_avatarSize
    height       : $image_avatarSize
    border-radius: $circularRadius

//-------------------//
//       Spaced
//-------------------//

.ts.spaced.image 
    display     : inline-block !important
    margin-left : $image_spacedDistance
    margin-right: $image_spacedDistance

.ts[class*="left spaced"].image 
    margin-left : $image_spacedDistance
    margin-right: 0em

.ts[class*="right spaced"].image 
    margin-left : 0em
    margin-right: $image_spacedDistance

//-------------------//
//       Floated
//-------------------//

.ts.floated.image,
.ts.floated.images 
    float        : left
    margin-right : $image_floatedHorizontalMargin
    margin-bottom: $image_floatedVerticalMargin

.ts.right.floated.images,
.ts.right.floated.image 
    float        : right
    margin-right : 0em
    margin-bottom: $image_floatedVerticalMargin
    margin-left  : $image_floatedHorizontalMargin

.ts.floated.images:last-child,
.ts.floated.image:last-child 
    margin-bottom: 0em

.ts.centered.images,
.ts.centered.image 
    margin-left : auto
    margin-right: auto

//-------------------//
//       Sizes
//-------------------//

.ts.mini.images .image,
.ts.mini.images img,
.ts.mini.images svg,
.ts.mini.image 
    width    : $image_miniWidth
    height   : auto
    font-size: $mini

.ts.tiny.images .image,
.ts.tiny.images img,
.ts.tiny.images svg,
.ts.tiny.image 
    width    : $image_tinyWidth
    height   : auto
    font-size: $tiny

.ts.small.images .image,
.ts.small.images img,
.ts.small.images svg,
.ts.small.image 
    width    : $image_smallWidth
    height   : auto
    font-size: $small

.ts.medium.images .image,
.ts.medium.images img,
.ts.medium.images svg,
.ts.medium.image 
    width    : $image_mediumWidth
    height   : auto
    font-size: $medium

.ts.large.images .image,
.ts.large.images img,
.ts.large.images svg,
.ts.large.image 
    width    : $image_largeWidth
    height   : auto
    font-size: $large

.ts.big.images .image,
.ts.big.images img,
.ts.big.images svg,
.ts.big.image 
    width    : $image_bigWidth
    height   : auto
    font-size: $big

.ts.huge.images .image,
.ts.huge.images img,
.ts.huge.images svg,
.ts.huge.image 
    width    : $image_hugeWidth
    height   : auto
    font-size: $huge

.ts.massive.images .image,
.ts.massive.images img,
.ts.massive.images svg,
.ts.massive.image 
    width    : $image_massiveWidth
    height   : auto
    font-size: $massive

//*******************************//
//             Groups
//*******************************//

.ts.images 
    font-size: 0em
    margin   : 0em -#{$image_imageHorizontalMargin} 0rem

.ts.images .image,
.ts.images img,
.ts.images svg 
    display: inline-block
    margin : 0em $image_imageHorizontalMargin $image_imageVerticalMargin
