=input-generator
  @for $i from 1 through $inputAmount
    @at-root
      #{&}.#{nth($inputSizes, $i)}
        +y-margin($padding)
        
        input, textarea
          +y-padding($padding * ($i / 5))
          +x-padding($padding * ($i / 4))
          
          
          
          $fontSize  : nth($buttonFontSizes, $i)
  
          font-size: $fontSize
 
      
   


.ts.input
  +input-generator
  
  input, textarea
    +rd
    +border-box
    +normal
    
    border   : .1rem solid #CCC
    resize   : none
    padding  : $padding $padding * 1.3
    
    
    &:not(input)
      +y-padding($padding * 1)
      +x-padding($padding * 1.3)

    
    &[disabled="disabled"],
    &[disabled="true"]
    &[disabled],
    &.disabled
      pointer-events: none
      opacity: 0.4
  
  
  &.disabled
    input, textarea
      pointer-events: none
      opacity: 0.4


  &.resizable
    input, textarea
      resize: both
  
  &.fluid
    input, textarea
      width: 100%
  
  &.transparent
    input, textarea
      border    : none
      background: transparent
      
  &:not(.transparent)
    input, textarea
      transition: box-shadow 0.30s ease-in-out
      outline   : none
  
    &.focus input[type=text],
    &.focus textarea,
    input[type=text]:focus, 
    textarea:focus
      box-shadow: 0 0 .5rem rgba(81, 203, 238, 1)
  
  
  
  &.error
    
    &.focus input[type=text],
    &.focus textarea,
    input[type=text]:focus, 
    textarea:focus
      
      box-shadow: 0 0 .5rem rgba(#DE8F8B, 1)
      
    input, textarea
      //color: auten(#FFD9D7)
      background-color: #FDEBEA
