@import ../../variables/elements/input.variables

//*******************************//
//            Variations
//*******************************//

//*******************************//
//              Main
//*******************************//

.ts.input
    position: relative
    display : inline-flex
    color   : $inputTextColor
    
.ts.input input, 
.ts.input textarea, 
.ts.input *[contenteditable]
    transition   : box-shadow 0.10s ease-in-out
    line-height  : $inputLineHeight
    border       : $input_border
    padding      : $input_padding
    border-radius: $input_borderRadius
    color        : $inputTextColor
    
.ts.input input:hover, 
.ts.input textarea:hover, 
.ts.input *[contenteditable]:hover
    border-color: $input_hoverBorderColor
    
.ts.input input:focus, 
.ts.input textarea:focus, 
.ts.input *[contenteditable]:focus,
.ts.input.focus input,
.ts.input.focus textarea,
.ts.input.focus *[contenteditable]
    box-shadow  : $input_focusBoxShadow
    border-color: $input_focusBorderColor

//-------------------//
//       Basic       
//-------------------//

.ts.input.basic
    background-color: transparent
    
//-------------------//
//     Borderless       
//-------------------//

.ts.input.borderless
    border: 0
        
//-------------------//
//      Action       
//-------------------//

.ts.input.action > .button,
.ts.input.action > .buttons
    display    : flex
    align-items: center
    flex       : 0 0 auto
//
//.ts.input.action > .button,
//.ts.input.action > .buttons > .button
//    padding-top   : $input_verticalPadding
//    padding-bottom: $input_verticalPadding
//    margin        : 0

.ts.input.action > .ts.button
    border-radius             : $button_borderRadius
    border-top-right-radius   : 0
    border-bottom-right-radius: 0
      
.ts.input.action input + .ts.button, 
.ts.input.action input textarea + .ts.button, 
.ts.input.action input *[contenteditable] + .ts.button
    border-radius            : $button_borderRadius
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

.ts.input.action input,
.ts.input.action textarea, 
.ts.input.action *[contenteditable]
    border-radius             : $input_borderRadius
    border-top-right-radius   : 0
    border-bottom-right-radius: 0

.ts.input.action .ts.button + input, 
.ts.input.action .ts.button + textarea, 
.ts.input.action .ts.button + *[contenteditable]
    border-radius            : $input_borderRadius
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

//-------------------//
//       Fluid       
//-------------------// 

.ts.input.fluid
.ts.input.fluid input,
.ts.input.fluid textarea,
.ts.input.fluid *[contenteditable]
    width: 100%

//-------------------//
//       Sizes       
//-------------------// 

.ts.mini.inputs .ts.input,
.ts.mini.input
    font-size: $relativeMini
.ts.tiny.inputs .ts.input,
.ts.tiny.input
    font-size: $relativeTiny
.ts.small.inputs .ts.input,
.ts.small.input
    font-size: $relativeSmall
.ts.medium.inputs .ts.input,
.ts.medium.input,
.ts.input
    font-size: $relativeMedium
.ts.large.inputs .ts.input,
.ts.large.input
    font-size: $relativeLarge
.ts.big.inputs .ts.input,
.ts.big.input
    font-size: $relativeBig
.ts.huge.inputs .ts.input,
.ts.huge.input
    font-size: $relativeHuge
.ts.massive.inputs .ts.input,
.ts.massive.input
    font-size: $relativeMassive
    
//-------------------//
//      Coupling       
//-------------------// 

// In Menu

//*******************************//
//             Inputs
//*******************************//

.ts.inputs
    display: inline-block
    
.ts.inputs.fluid,
.ts.inputs.fluid .ts.input,
.ts.inputs.fluid .ts.input input,
.ts.inputs.fluid .ts.input textarea,
.ts.inputs.fluid .ts.input *[contenteditable]
    width  : 100%
    display: block
    
.ts.inputs.vertical .ts.input
    display: block
    
.ts.inputs.vertical .ts.input:last-child:not(:first-child)
    &
        input, textarea, *[contenteditable]
            border-top-right-radius: 0
            border-top-left-radius : 0
            
            &:focus
                position: relative 
                z-index : 2

.ts.inputs.vertical .ts.input:not(:first-child):not(:last-child)
    & 
        input, textarea, *[contenteditable]
            border-radius      : 0
            border-bottom-style: none
        
            &:focus
                border-bottom-style: solid
                margin-bottom: -#{$input_borderWidth}

.ts.inputs.vertical .ts.input:first-child:not(:last-child)
    &
        input, textarea, *[contenteditable]
            border-bottom-right-radius: 0
            border-bottom-left-radius : 0
            border-bottom-style       : none
            
            &:focus
                border-bottom-style: solid
                margin-bottom: -#{$input_borderWidth}

.ts.inputs .input input:focus + .input
    &
        input, textarea, *[contenteditable]
            border-top-color: #FFF

.ts.inputs .input:hover + .input
    &   
        input, textarea, *[contenteditable]
            border-top-color: $input_hoverBorderColor

//-------------------//
//      Disabled       
//-------------------//

.ts.input.disabled,
.ts.input input[disabled]
    opacity       : $disabledOpacity
    pointer-events: none

//-------------------//
//       Error       
//-------------------//

.ts.error.input input:focus, 
.ts.error.input textarea:focus, 
.ts.error.input *[contenteditable]:focus,
.ts.error.input.focus input,
.ts.error.input.focus textarea,
.ts.error.input.focus *[contenteditable]
    box-shadow  : $input_errorFocusBoxShadow
    border-color: $input_errorFocusBorderColor

.ts.error.input input, 
.ts.error.input textarea, 
.ts.error.input *[contenteditable]
    color           : $input_errorTextColor
    background-color: $input_errorBackgroundColor
    
//-------------------//
//       Colors       
//-------------------//

.ts.primary.input
 
//-------------------//
//      Resizable       
//-------------------//   
    
.ts.resizable input, 
.ts.resizable textarea, 
.ts.resizable *[contenteditable]
    resize: both

//-------------------//
//      Circular       
//-------------------//

.ts.input.circular
    &
        input, textarea, *[contenteditable]
            border-radius: 10em