//   ▄▄▄        ▄▄████▄                                                           
// ▄█████▄    ▄██▀    ██
// ▀█▄   ██▄ ██▀      ██                                                       
//  ▀██▄▄▄████   ▄▄▄██▀                                                            
//     ▀▀▀████▀▀▀▀▀                                                              
//        ██                                                                     
//       ██          ▄█████▄       █████████████          ▄█             █▄    
//      ██         ▄█▀     ▀█▄     ██         ██         ██▀█▄         ▄█▀     
//      ██        ██         ██    ██         ██        ██  ▀██       ██▀
//      ██        ██         ██    ██         ██      ▄█▀     ██     ▀▀▀▀▀▀▀███
//      ██        ▀█▄       ▄█▀    ██         ██     ██▀       ▀█▄         ██▀ 
//       ██         ▀███████▀      █████████████    ███▄▄▄▄▄▄▄▄▄██▓       █▀
//
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@   J U M B O T R O N   @@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.ts.container > .ts.jumbotron

=jumbotron-generator
  @for $i from 1 through $jumbotronAmount
    @at-root
      #{&}.#{nth($jumbotronSizes, $i)}
        +y-padding($padding * 2 * ($i / 2))
        
=jumbotron-theme($color: false, $textColor: false)

  @if not $textColor
    $textColor: darken($color, 30%)
    
  background-color: $color
  color: $textColor
  
  .ts.header
    color: $textColor
  
  
  &.gradient
    $topLeft    : darken(saturate(adjust-hue($color, -10deg), 10%), 10%)
    $bottomRight: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%)
    
    background-image: linear-gradient(140deg, $topLeft 0%, $color 70%, $bottomRight 100%)
  
  

.ts.jumbotron
  +relative
  +basic-card
  +padding(2)
  +extend(aligns)
  +jumbotron-theme(auten(#FFF, 10%))
  +jumbotron-generator
  +border-box
  //+flex
  +y-margin(2em)
  
  width: 100%
  
  &[class*="right aligned"]
    text-align: right
    
  &[class*="left aligned"]
    text-align: left
  
  &[class*="center aligned"]
    text-align: center
  
  
  &.fluid
    +y-margin(0)
    
    border: none
    border-radius: 0

  
  &.secondary
    +jumbotron-theme(auten(#FFF, 15%))

  
  &.tertiary
    +jumbotron-theme(auten(#FFF, 20%))
  
  &.disabled
    opacity: 0.3
  
  &.gridded
  
    $c: #D9D9D9
    $b: rgba(255,255,255,.2)
    $t: rgba(255,255,255,.1)
    $n: transparent
    
    background-image: linear-gradient(0deg, $n 0%, $n 9px, $b 9px, $b 10px, $n 10px, $n 19px, $t 19px, $t 20px, $n 20px, $n 29px, $t 29px, $t 30px, $n 30px, $n 39px, $t 39px, $t 40px, $n 40px, $n 49px, $t 49px, $t 50px), linear-gradient(-90deg, $n 0%, $n 9px, $b 9px, $b 10px, $n 10px, $n 19px, $t 19px, $t 20px, $n 20px, $n 29px, $t 29px, $t 30px, $n 30px, $n 39px, $t 39px, $t 40px, $n 40px, $n 49px, $t 49px, $t 50px)
    background-size: 50px 50px
  
  &[class*="full page"]
    +flex
    +flex-items-center
    +flex-content-center
    height: 100vh
    //+y-padding(50vh)
    
  
  &.info
    +jumbotron-theme($infoColor, $infoTextColor)
    
  &.primary
    +jumbotron-theme($primaryColor, $primaryTextColor)
    
  &.positive
    +jumbotron-theme($positiveColor, $positiveTextColor)
    
  &.negative
    +jumbotron-theme($negativeColor, $negativeTextColor)
  
  &.inverted
    +jumbotron-theme(invert($invertedColor), invert(invert($invertedTextColor)))
    
  &.warning
    +jumbotron-theme($warningColor, $warningTextColor)
  

  &.basic
    background: transparent
    border: 0
    box-shadow: none
  
  