@charset "UTF-8"
@import ../../variables/elements/list.variables

//*******************************//
//              Main
//*******************************//

ul.ts.list,
ol.ts.list,
.ts.list,
ol:not(.ts):not(.unstyled), ul:not(.ts):not(.unstyled)
    list-style-type: $list_listStyleType
    margin         : $list_margin
    padding        : $list_verticalPadding $list_horizontalPadding
    color          : $list_textColor

ul.ts.list:first-child,
ol.ts.list:first-child,
.ts.list:first-child,
ol:not(.ts):not(.unstyled):first-child, ul:not(.ts):not(.unstyled):first-child
    margin-top : 0em
    padding-top: 0em

ul.ts.list:last-child,
ol.ts.list:last-child,
.ts.list:last-child,
ol:not(.ts):not(.unstyled):last-child, ul:not(.ts):not(.unstyled):last-child
    margin-bottom : 0em
    padding-bottom: 0em

//-------------------//
//      Content
//-------------------//

/* List Item */
ul.ts.list li,
ol.ts.list li,
ul:not(.ts):not(.unstyled) li,
ol:not(.ts):not(.unstyled) li,
.ts.list > .item,
.ts.list .list > .item
    display            : flex
    flex-wrap          : wrap
    align-content      : stretch
    list-style-type    : $list_listStyleType
    list-style-position: $list_listStylePosition
    padding            : $list_itemPadding
    line-height        : $list_itemLineHeight

ul.ts.list > li:first-child:after,
ol.ts.list > li:first-child:after,
ul:not(.ts):not(.unstyled) > li:first-child:after,
ol:not(.ts):not(.unstyled) > li:first-child:after,
.ts.list > .list > .item,
.ts.list > .item:after
    content   : ''
    display   : block
    height    : 0
    clear     : both
    visibility: hidden

ul.ts.list li:first-child,
ol.ts.list li:first-child,
ul:not(.ts):not(.unstyled) li:first-child,
ol:not(.ts):not(.unstyled) li:first-child,
.ts.list .list > .item:first-child,
.ts.list > .item:first-child
    padding-top: 0em

ul.ts.list li:last-child,
ol.ts.list li:last-child,
ul:not(.ts) li:last-child,
ol:not(.ts) li:last-child,
.ts.list .list > .item:last-child,
.ts.list > .item:last-child
    padding-bottom: 0em

/* Child List */
ul.ts.list ul,
ol.ts.list ol,
ul:not(.ts):not(.unstyled) ul:not(.ts),
ol:not(.ts):not(.unstyled) ol:not(.ts),
.ts.list .list
    clear     : both
    margin    : 0em
    padding   : $list_childListPadding
    flex-basis: 100%

/* Child Item */
ul.ts.list ul li,
ol.ts.list ol li,
ul:not(.ts):not(.unstyled) ul:not(.ts) li,
ol:not(.ts):not(.unstyled) ol:not(.ts) li,
.ts.list .list > .item
    padding    : $list_childItemPadding
    line-height: $list_childItemLineHeight

/* Icon */
.ts.list .list > .item > i.icon,
.ts.list > .item > i.icon
    display        : flex
    margin         : 0em
    height         : initial
    padding-top    : $list_iconOffset
    padding-right  : $list_iconDistance
    justify-content: center

.ts.list .list > .item > i.icon:only-child,
.ts.list > .item > i.icon:only-child
    display       : inline-block
    vertical-align: $list_iconVerticalAlign

/* Image */
.ts.list .list > .item > .image,
.ts.list > .item > .image
    display         : block
    background: transparent
    margin          : 0em
    vertical-align  : $list_imageAlign

.ts.list .list > .item > .image:not(:only-child):not(img),
.ts.list > .item > .image:not(:only-child):not(img)
    padding-right: $list_imageDistance

.ts.list .list > .item > .image img,
.ts.list > .item > .image img
    vertical-align: $list_imageAlign

.ts.list .list > .item > img.image,
.ts.list .list > .item > .image:only-child,
.ts.list > .item > img.image,
.ts.list > .item > .image:only-child
    display: inline-block

/* Content */
.ts.list .list > .item > .content,
.ts.list > .item > .content
    line-height: $list_contentLineHeight

.ts.list .list > .item > .content:not(.floated),
.ts.list > .item > .content:not(.floated)
    flex: 1

.ts.list .list > .item > .image + .content,
.ts.list .list > .item > .icon + .content,
.ts.list > .item > .image + .content,
.ts.list > .item > .icon + .content
    display       : block
    padding       : 0em 0em 0em $list_contentDistance
    vertical-align: $list_contentVerticalAlign

.ts.list .list > .item > img.image + .content,
.ts.list > .item > img.image + .content
    display: inline-block

.ts.list .list > .item > .content > .list,
.ts.list > .item > .content > .list
    margin-left : 0em
    padding-left: 0em

/* Header */
.ts.list .list > .item .header,
.ts.list > .item .header
    display    : block
    flex-basis : 100%
    margin     : 0em
    font-weight: $list_itemHeaderFontWeight
    color      : $list_itemHeaderColor

.ts.list.horizontal .list > .item > .content .header,
.ts.list.horizontal > .item > .content .header
    display: block

/* Description */
.ts.list .list > .item .description,
.ts.list > .item .description
    display    : block
    line-height: initial
    word-break : break-all
    white-space: normal
    color      : $list_itemDescriptionColor

/* Header + Description */
.ts.list .list > .item .header + .description,
.ts.list > .item .header + .description
    margin-top: $list_descriptionMarginTop

/* Child Link */
.ts.list > .item a,
.ts.list .list > .item a
    cursor: pointer

/* Linking Item */
.ts.list .list > a.item,
.ts.list > a.item
    cursor: pointer
    color : $list_itemLinkColor

.ts.list .list > a.item:hover,
.ts.list > a.item:hover
    color: $list_itemLinkHoverColor

.ts.list .list > a.item:active,
.ts.list > a.item:active
    color: $list_itemLinkActiveColor

/* Linked Item Icons */
.ts.list .list > a.item i.icon,
.ts.list > a.item i.icon
    color: $list_itemLinkIconColor

/* Header Link */
.ts.list .list > .item a.header,
.ts.list > .item a.header
    cursor: pointer
    color : $list_itemHeaderLinkColor !important

.ts.list .list > .item a.header:hover,
.ts.list > .item a.header:hover
    color: $list_itemHeaderLinkHoverColor !important

.ts.list .list > .item a.header:active,
.ts.list > .item a.header:active
    color: $list_itemHeaderLinkActiveColor !important

/* Floated Content */
.ts[class*="left floated"].list
    float: left

.ts[class*="right floated"].list
    float: right

.ts.list .list > .item [class*="left floated"],
.ts.list > .item [class*="left floated"]
    float       : left
    margin-right: auto
    //margin: $list_leftFloatMargin

.ts.list .list > .item [class*="right floated"],
.ts.list > .item [class*="right floated"]
    float      : right
    margin-left: auto
    //margin: $list_rightFloatMargin

.ts.list .list > .item [class*="right floated"].content,
.ts.list > .item [class*="right floated"].content
    margin-left: $list_floatedContentHorizontalMargin

//-------------------//
//   Selected Item
//-------------------//

.ts.list > .selected.item.item.item.item.item.item
    color           : $list_selectedTextColor
    background: $list_selectedBackgroundColor

.ts.list > .selected.item > .content,
.ts.list > .selected.item > .content > .header,
.ts.list > .selected.item > .content > .description
    color: $list_selectedTextColor

//-------------------//
// Avatar + Description
//-------------------//

.ts.list .item > .ts.avatar.image + .content
    //line-height: 0

.ts.list .item > .ts.avatar.image + .content .header
    line-height: $list_avatarContentHeaderLineHeight

.ts.list .item > .ts.avatar.image + .content .description
    line-height: $list_avatarContentDescriptionLineHeight

//-------------------//
//      Coupling
//-------------------//

.ts.menu .ts.list > .item,
.ts.menu .ts.list .list > .item
    display            : flex
    flex-wrap          : wrap
    background   : transparent
    list-style-type    : $list_listStyleType
    list-style-position: $list_listStylePosition
    padding            : $list_itemVerticalPadding $list_itemHorizontalPadding
    line-height        : $list_itemLineHeight

.ts.menu .ts.list .list > .item:before,
.ts.menu .ts.list > .item:before
    border    : none
    background: none

.ts.menu .ts.list .list > .item:first-child,
.ts.menu .ts.list > .item:first-child
    padding-top: 0em

.ts.menu .ts.list .list > .item:last-child,
.ts.menu .ts.list > .item:last-child
    padding-bottom: 0em

.ts.card + .ts.list
    display: flex

.ts.card + .ts.list.floated
    margin-top: 0

//-------------------//
//     Horizontal
//-------------------//

.ts.horizontal.list
    display  : inline-flex
    flex-wrap: wrap

.ts.horizontal.list > .item
    display    : inline-flex
    align-items: center
    margin-right: $list_horizontalSpacing
    font-size  : 1rem

.ts.horizontal.list:not(.divided):not(.segmented) > .item:last-child
    margin-right : 0em !important
    padding-left: 0em !important

.ts.horizontal.list .list
    padding-left : 0em
    padding-bottom: 0em

.ts.horizontal.list > .item > .image,
.ts.horizontal.list .list > .item > .image,
.ts.horizontal.list > .item > .icon,
.ts.horizontal.list .list > .item > .icon,
.ts.horizontal.list > .item > .content,
.ts.horizontal.list .list > .item > .content
    vertical-align: $list_horizontalVerticalAlign

/* Padding on all elements */
.ts.horizontal.list > .item:first-child,
.ts.horizontal.list > .item:last-child
    padding-top   : $list_itemVerticalPadding
    padding-bottom: $list_itemVerticalPadding

/* Horizontal List */
.ts.horizontal.list > .item > i.icon
    margin : 0em
    padding: 0em $list_horizontalIconDistance 0em 0em

.ts.horizontal.list > .item > .icon,
.ts.horizontal.list > .item > .icon + .content
    float  : none
    display: inline-block

//-------------------//
//      Disabled
//-------------------//

.ts.list .list > .disabled.item,
.ts.list > .disabled.item,
.ts.list .list > .disabled.item .header,
.ts.list > .disabled.item .header,
.ts.list .list > .disabled.item .description,
.ts.list > .disabled.item .description
    pointer-events: none
    color         : $list_disabledColor !important

.ts.inverted.list .list > .disabled.item,
.ts.inverted.list > .disabled.item,
.ts.inverted.list .list > .disabled.item .header,
.ts.inverted.list > .disabled.item .header,
.ts.inverted.list .list > .disabled.item .description,
.ts.inverted.list > .disabled.item .description
    color: $list_invertedDisabledColor !important

//-------------------//
//       Hover
//-------------------//

.ts.list .list > a.item:hover .icon,
.ts.list > a.item:hover .icon
    color: $list_itemLinkIconHoverColor

//-------------------//
//      Inverted
//-------------------//

.ts.inverted.list .list > a.item > .icon,
.ts.inverted.list > a.item > .icon
    color: $list_invertedIconLinkColor

.ts.inverted.list .list > a.item:hover > .icon,
.ts.inverted.list > a.item:hover > .icon
    color: $list_invertedIconLinkHoverColor

.ts.inverted.list .list > .item .header,
.ts.inverted.list > .item .header
    color: $list_invertedHeaderColor

.ts.inverted.list .list > .item .description,
.ts.inverted.list > .item .description
    color: $list_invertedDescriptionColor

.ts.inverted.list .list > .item,
.ts.inverted.list > .item
    color: $list_invertedTextColor

/* Item Link */
.ts.inverted.list .list > a.item,
.ts.inverted.list > a.item
    cursor: pointer
    color : $list_invertedItemLinkColor

.ts.inverted.list .list > a.item:hover,
.ts.inverted.list > a.item:hover
    color: $list_invertedItemLinkHoverColor

/* Linking Content */
.ts.inverted.list .item a:not(.ts)
    color: $list_invertedItemLinkColor !important

.ts.inverted.list .item a:not(.ts):hover
    color: $list_invertedItemLinkHoverColor !important

//-------------------//
//      Emphasis
//-------------------//

.ts.list:not(.inverted) .item.primary,
.ts.list:not(.inverted) .item.primary .content,
.ts.list:not(.inverted) .item.primary .content .header,
.ts.list:not(.inverted) .item.primary .content .description
    color: $list_primaryItemColor
.ts.list:not(.inverted) .item.info,
.ts.list:not(.inverted) .item.info .content,
.ts.list:not(.inverted) .item.info .content .header,
.ts.list:not(.inverted) .item.info .content .description
    color: $list_infoItemColor
.ts.list:not(.inverted) .item.warning,
.ts.list:not(.inverted) .item.warning .content,
.ts.list:not(.inverted) .item.warning .content .header,
.ts.list:not(.inverted) .item.warning .content .description
    color: $list_warningItemColor
.ts.list:not(.inverted) .item.positive,
.ts.list:not(.inverted) .item.positive .content,
.ts.list:not(.inverted) .item.positive .content .header,
.ts.list:not(.inverted) .item.positive .content .description
    color: $list_positiveItemColor
.ts.list:not(.inverted) .item.negative,
.ts.list:not(.inverted) .item.negative .content,
.ts.list:not(.inverted) .item.negative .content .header,
.ts.list:not(.inverted) .item.negative .content .description
    color: $list_negativeItemColor
.ts.list:not(.inverted) .item.inverted,
.ts.list:not(.inverted) .item.inverted .content,
.ts.list:not(.inverted) .item.inverted .content .header,
.ts.list:not(.inverted) .item.inverted .content .description
    color: $list_invertedDescriptionColor

.ts.list.inverted .item.primary,
.ts.list.inverted .item.primary .content,
.ts.list.inverted .item.primary .content .header,
.ts.list.inverted .item.primary .content .description
    color: $list_invertedPrimaryItemColor
.ts.list.inverted .item.info,
.ts.list.inverted .item.info .content,
.ts.list.inverted .item.info .content .header,
.ts.list.inverted .item.info .content .description
    color: $list_invertedInfoItemColor
.ts.list.inverted .item.warning,
.ts.list.inverted .item.warning .content,
.ts.list.inverted .item.warning .content .header,
.ts.list.inverted .item.warning .content .description
    color: $list_invertedWarningItemColor
.ts.list.inverted .item.positive,
.ts.list.inverted .item.positive .content,
.ts.list.inverted .item.positive .content .header,
.ts.list.inverted .item.positive .content .description
    color: $list_invertedPositiveItemColor
.ts.list.inverted .item.negative,
.ts.list.inverted .item.negative .content,
.ts.list.inverted .item.negative .content .header,
.ts.list.inverted .item.negative .content .description
    color: $list_invertedNegativeItemColor
.ts.list.inverted .item.inverted,
.ts.list.inverted .item.inverted .content,
.ts.list.inverted .item.inverted .content .header,
.ts.list.inverted .item.inverted .content .description
    color: $list_invertedDescriptionColor

//-------------------//
//      Aligned
//-------------------//

.ts.list[class*="top aligned"] .item,
.ts.list[class*="top aligned"] .image,
.ts.list[class*="top aligned"] .content,
.ts.list [class*="top aligned"]
    vertical-align: top !important
    align-items   : flex-start
    margin-bottom : auto

.ts.list[class*="right aligned"]
    text-align: right
.ts.horizontal.list[class*="right aligned"]
    justify-content: flex-end

.ts.list[class*="center aligned"]
    text-align: center
.ts.horizontal.list[class*="center aligned"]
    justify-content: center

.ts.list[class*="left aligned"]
    text-align: left
.ts.horizontal.list[class*="left aligned"]
    justify-content: flex-start

.ts.list[class*="middle aligned"] .item,
.ts.list[class*="middle aligned"] .image,
.ts.list[class*="middle aligned"] .content,
.ts.list [class*="middle aligned"]
    vertical-align: middle !important
    align-items   : center

.ts.list[class*="bottom aligned"] .item,
.ts.list[class*="bottom aligned"] .image,
.ts.list[class*="bottom aligned"] .content,
.ts.list [class*="bottom aligned"]
    vertical-align: bottom !important
    align-items   : flex-end
    margin-top    : auto

//-------------------//
//       Link
//-------------------//

.ts.link.list .item,
.ts.link.list a.item,
.ts.link.list .item a:not(.ts)
    color     : $list_linkListItemColor

.ts.link.list a.item:not(.active):hover,
.ts.link.list .item:not(.active) a:not(.ts):hover
    color: $list_linkListItemHoverColor

.ts.link.list a.item:active:active,
.ts.link.list .item a:not(.ts):active:active
    color: $list_linkListItemDownColor

.ts.link.list .active.item,
.ts.link.list .active.item a:not(.ts)
    color: $list_linkListItemActiveColor

/* Inverted */
.ts.inverted.link.list .item,
.ts.inverted.link.list a.item,
.ts.inverted.link.list .item a:not(.ts)
    color: $list_invertedLinkListItemColor

.ts.inverted.link.list a.item:not(.active):hover,
.ts.inverted.link.list .item:not(.active) a:not(.ts):hover
    color: $list_invertedLinkListItemHoverColor

.ts.inverted.link.list a.item:active:active,
.ts.inverted.link.list .item a:not(.ts):active:active
    color: $list_invertedLinkListItemDownColor

.ts.inverted.link.list a.active.item,
.ts.inverted.link.list .active.item a:not(.ts)
    color: $list_invertedLinkListItemActiveColor

//-------------------//
//      Selection
//-------------------//

.ts.selection.list .list > .item,
.ts.selection.list > .item
    cursor       : pointer
    background   : $list_selectionListBackground
    padding      : $list_selectionListItemVerticalPadding $list_selectionListItemHorizontalPadding
    color        : $list_selectionListColor
    margin       : $list_selectionListItemMargin
    border-radius: $list_selectionListItemBorderRadius

.ts.selection.list .list > .item:last-child,
.ts.selection.list > .item:last-child
    margin-bottom: 0em

.ts.selection.list.list > .item:hover:not(.active):not(:active),
.ts.selection.list > .item:hover:not(.active):not(:active)
    background: $list_selectionListHoverBackground
    color     : $list_selectionListHoverColor

.ts.selection.list .list > .item:active,
.ts.selection.list > .item:active
    background: $list_selectionListDownBackground
    color     : $list_selectionListDownColor

.ts.selection.list .list > .item.active,
.ts.selection.list > .item.active
    background: $list_selectionListActiveBackground
    color     : $list_selectionListActiveColor

/* Inverted */
.ts.inverted.selection.list > .item
    background: $list_invertedSelectionListBackground
    color     : $list_invertedSelectionListColor

.ts.inverted.selection.list > .item:hover:not(.active):not(:active)
    background: $list_invertedSelectionListHoverBackground
    color     : $list_invertedSelectionListHoverColor

.ts.inverted.selection.list > .item:active
    background: $list_invertedSelectionListDownBackground
    color     : $list_invertedSelectionListDownColor

.ts.inverted.selection.list > .item.active
    background: $list_invertedSelectionListActiveBackground
    color     : $list_invertedSelectionListActiveColor

/* Divided Selection List */
.ts.divided.selection.list .list > .item,
.ts.divided.selection.list > .item
    border-radius: 0em

//-------------------//
//     Segmented
//-------------------//

.ts.segmented.list
    border          : $list_segmentedBorder
    border-radius   : $list_segmentedBorderRadius
    box-shadow      : $list_segmentedBoxShadow
    background: $list_segmentedBackgroundColor

.ts.segmented.list a.item
    +extend(no-select)

.ts.segmented.list .item
    padding      : $list_segmentedPadding
    border-radius: 0

.ts.segmented.list:not(.horizontal) .item:not(:last-child)
    border-bottom: $list_segmentedBorder

.ts.segmented.list.horizontal .item:not(:last-child)
    border-right: $list_segmentedBorder

// Inverted
.ts.inverted.segmented.list,
.ts.inverted.segmented.list:not(.horizontal) .item:not(:last-child),
.ts.inverted.segmented.list.horizontal .item:not(:last-child)
    border-color: $list_segmentedInvertedBorderColor

.ts.inverted.segmented.list
    background: $list_segmentedInvertedBckgroundColor

//-------------------//
//      Attached
//-------------------//

.ts.segmented.list[class*="top attached"]
    +extend(top-attached)

.ts.segmented.list[class*="bottom attached"]
    +extend(bottom-attached)

.ts.segmented.list.attached:not([class*="top attached"]):not([class*="bottom attached"])
    +extend(attached)

//-------------------//
//      Animated
//-------------------//

.ts.animated.list > .item
    transition: $list_animatedListTransition

.ts.animated.list:not(.horizontal) > .item:hover
    padding-left: $list_animatedListIndent

//-------------------//
//      Fitted
//-------------------//
.ts.fitted.list:not(.selection) .list > .item,
.ts.fitted.list:not(.selection) > .item
    padding-left : 0em
    padding-right: 0em

.ts.fitted.selection.list .list > .item,
.ts.fitted.selection.list > .item
    margin-left : -#{$list_selectionListItemHorizontalPadding}
    margin-right: -#{$list_selectionListItemHorizontalPadding}

//-------------------//
//     Custom Dot
//-------------------//

ul.ts.list:not(.horizontal) li[value]:before,
ol.ts.list li[value]:before,
ul:not(.ts):not(.unstyled) li[value]:before,
ol:not(.ts):not(.unstyled) li[value]:before
    content: attr(value)

.ts.bulleted.list:not(.horizontal) .list > .item[data-value]:before,
.ts.bulleted.list:not(.horizontal) > .item[data-value]:before,
.ts.list .item[data-value]:before
    content: attr(data-value)

//-------------------//
//      Bulleted
//-------------------//

/* Margin for dotted list */
.ts.bulleted.list:not(.horizontal),
.ts.middoted.list:not(.horizontal),
ul.ts.list:not(.horizontal),
ul:not(.ts):not(.unstyled)
    margin-left: $list_bulletDistance
.ts.bulleted.list .list,
.ts.middoted.list .list,
ul.ts.list ul,
ul:not(.ts):not(.unstyled) ul:not(.ts)
    padding-left: $list_bulletDistance

.ts.bulleted.list .list > a.item:before,
.ts.bulleted.list > a.item:before,
ul:not(.ts):not(.unstyled) > a.item:before,
    color: $list_bulletColor

.ts.bulleted.list.inverted .list > a.item:before,
.ts.bulleted.list.inverted > a.item:before
    color: $list_invertedBulletColor

ul.ts.list:not(.horizontal) li:before,
ul:not(.ts):not(.unstyled) li:before,
.ts.bulleted.list:not(.horizontal) .list > .item:before,
.ts.bulleted.list:not(.horizontal) > .item:before
    +extend(is-dot)
    +extend(no-select)

    position: absolute
    top     : auto
    left    : auto

    margin-left   : -#{$list_bulletDistance}
    opacity       : 1
    color         : inherit
    vertical-align: top

    margin-right: calc(#{$list_horizontalBulletSpacing})
    content     : '•'

/* Levels */
ul.ts.list:not(.horizontal) ul li:before,
ul:not(.ts):not(.unstyled) ul:not(.ts) li:before,
.ts.bulleted.list:not(.horizontal) .list > .item:before
    content     : '○'
ul.ts.list:not(.horizontal) ul ul li:before,
ul:not(.ts):not(.unstyled) ul:not(.ts) ul:not(.ts) li:before,
.ts.bulleted.list:not(.horizontal) .list .list > .item:before
    content     : '▪'

.ts.middoted.list:not(.horizontal) .list > .item:before,
.ts.middoted.list:not(.horizontal) > .item:before
    +extend(is-dot)
    +extend(no-select)

    position: absolute
    top     : auto
    left    : auto

    margin-left   : -#{$list_bulletDistance}
    opacity       : 1
    color         : inherit
    vertical-align: top

    margin-right: calc(#{$list_horizontalBulletSpacing})
    content     : '·'

/* Horizontal Bulleted */
ul.ts.horizontal.bulleted.list li,
.ts.horizontal.bulleted.list > .item,
ul.ts.horizontal.middoted.list li,
.ts.horizontal.middoted.list > .item
    margin-left : 0
    margin-right: 0

ul.ts.horizontal.middoted.list li:not(:first-child):before,
.ts.horizontal.middoted.list > .item:not(:first-child):before
    +extend(is-dot)

    margin-left : calc(#{$list_horizontalBulletSpacing} / 1.5)
    margin-right: calc(#{$list_horizontalBulletSpacing} / 1.5)
    content     : '·'

ul.ts.horizontal.bulleted.list li:not(:first-child):before,
.ts.horizontal.bulleted.list > .item:not(:first-child):before,
    +extend(is-dot)

    margin-left : calc(#{$list_horizontalBulletSpacing} / 1.5)
    margin-right: calc(#{$list_horizontalBulletSpacing} / 1.5)
    content     : '•'

//-------------------//
//      Ordered
//-------------------//

ol.ts.list,
ol:not(.ts):not(.unstyled),
.ts.ordered.list,
.ts.ordered.list .list,
ol.ts.list ol,
ol:not(.ts):not(.unstyled) ol:not(.ts)
    counter-reset  : ordered
    margin-left    : $list_orderedCountDistance
    list-style-type: none

ol.ts.list li,
ol:not(.ts):not(.unstyled) li,
.ts.ordered.list .list > .item,
.ts.ordered.list > .item
    list-style-type: none
    position       : relative

ol.ts.list li:before,
ol:not(.ts):not(.unstyled) li:before,
.ts.ordered.list .list > .item:before,
.ts.ordered.list > .item:before
    +extend(no-select)
    position         : absolute
    top              : auto
    left             : auto
    pointer-events   : none
    margin-left      : -#{$list_orderedCountDistance}
    counter-increment: $list_orderedCountName
    content          : $list_orderedCountContent
    text-align       : $list_orderedCountTextAlign
    color            : $list_orderedCountColor
    vertical-align   : $list_orderedCountVerticalAlign
    opacity          : $list_orderedCountOpacity

ol.ts.inverted.list li:before,
.ts.ordered.inverted.list .list > .item:before,
.ts.ordered.inverted.list > .item:before
    color: $list_orderedInvertedCountColor

/* Value */
.ts.ordered.list > .list > .item[data-value],
.ts.ordered.list > .item[data-value]
    content: attr(data-value)

ol.ts.list li[value]:before,
ol:not(.ts):not(.unstyled) li[value]:before
    content: attr(value)

/* Child Lists */
ol.ts.list ol,
ol:not(.ts):not(.unstyled) ol:not(.ts),
.ts.ordered.list .list
    //margin-left: $list_orderedChildCountDistance

ol.ts.list ol li:before,
ol:not(.ts):not(.unstyled) ol:not(.ts) li:before,
.ts.ordered.list .list > .item:before
    margin-left: $list_orderedChildCountOffset
ol.ts.list ol ol li:before,
ol:not(.ts):not(.unstyled) ol:not(.ts) ol:not(.ts) li:before,
.ts.ordered.list .list .list > .item:before
    margin-left: $list_orderedcChildChildCountOffset
ol.ts.list ol ol ol li:before,
ol:not(.ts):not(.unstyled) ol:not(.ts) ol:not(.ts) ol:not(.ts) li:before,
.ts.ordered.list .list .list .list > .item:before
    margin-left: $list_orderedcChildChildChildCountOffset

/* Horizontal Ordered */
ol.ts.horizontal.list,
.ts.ordered.horizontal.list
    margin-left: 0em

ol.ts.horizontal.list li:before,
.ts.ordered.horizontal.list .list > .item:before,
.ts.ordered.horizontal.list > .item:before
    position: static
    margin  : 0em $list_horizontalOrderedCountDistance 0em 0em

//-------------------//
//      Divided
//-------------------//

.ts.divided.list > .item
    border-top: $list_dividedBorder

.ts.divided.list .list > .item
    border-top: $list_dividedChildListBorder

.ts.divided.list .item .list > .item
    border-top: $list_dividedChildItemBorder

.ts.divided.list .list > .item:first-child,
.ts.divided.list > .item:first-child
    border-top: none

/* Sub Menu */
.ts.divided.list:not(.horizontal) .list > .item:first-child
    border-top-width: $list_dividedBorderWidth

/* Divided bulleted */
.ts.divided.bulleted.list:not(.horizontal),
.ts.divided.bulleted.list .list
    margin-left : 0em
    padding-left: 0em

.ts.divided.bulleted.list > .item:not(.horizontal)
    padding-left: $list_bulletDistance

/* Divided Ordered */
.ts.divided.ordered.list
    margin-left: 0em

.ts.divided.ordered.list .list > .item,
.ts.divided.ordered.list > .item
    padding-left: $list_orderedCountDistance

.ts.divided.ordered.list .item .list
    margin-left   : 0em
    margin-right  : 0em
    padding-bottom: $list_itemVerticalPadding

.ts.divided.ordered.list .item .list > .item
    padding-left: $list_orderedChildCountDistance

/* Divided Selection */
.ts.divided.selection.list .list > .item,
.ts.divided.selection.list > .item
    margin       : 0em
    border-radius: 0em

/* Divided horizontal */
.ts.divided.horizontal.list
    margin-left: 0em

.ts.divided.horizontal.list > .item:not(:first-child)
    padding-left: $list_horizontalDividedSpacing

.ts.divided.horizontal.list > .item:not(:last-child)
    padding-right: $list_horizontalDividedSpacing

.ts.divided.horizontal.list > .item
    border-top : none
    border-left: $list_dividedBorder
    margin     : 0em
    line-height: $list_horizontalDividedLineHeight

.ts.horizontal.divided.list > .item:first-child
    border-left: none

/* Inverted */
.ts.divided.inverted.list > .item,
.ts.divided.inverted.list > .list,
.ts.divided.inverted.horizontal.list > .item
    border-color: $list_dividedInvertedBorderColor

//-------------------//
//      Relaxed
//-------------------//

.ts.relaxed.list:not(.horizontal) > .item:not(:first-child)
    padding-top: $list_relaxedItemVerticalPadding

.ts.relaxed.list:not(.horizontal) > .item:not(:last-child),
.ts.relaxed.list:not(.horizontal) > .item:last-child
    padding-bottom: $list_relaxedItemVerticalPadding

.ts.horizontal.relaxed.list .list > .item:not(:first-child),
.ts.horizontal.relaxed.list > .item:not(:first-child)
    padding-left: $list_relaxedHorizontalPadding

.ts.horizontal.relaxed.list .list > .item:not(:last-child),
.ts.horizontal.relaxed.list > .item:not(:last-child)
    padding-right: $list_relaxedHorizontalPadding

/* Very Relaxed */
.ts[class*="very relaxed"].list:not(.horizontal) > .item:not(:first-child)
    padding-top: $list_veryRelaxedItemVerticalPadding

.ts[class*="very relaxed"].list:not(.horizontal) > .item:not(:last-child),
.ts[class*="very relaxed"].list:not(.horizontal) > .item:last-child
    padding-bottom: $list_veryRelaxedItemVerticalPadding

.ts.horizontal[class*="very relaxed"].list .list > .item:not(:first-child),
.ts.horizontal[class*="very relaxed"].list > .item:not(:first-child)
    padding-left: $list_veryRelaxedHorizontalPadding

.ts.horizontal[class*="very relaxed"].list .list > .item:not(:last-child),
.ts.horizontal[class*="very relaxed"].list > .item:not(:last-child)
    padding-right: $list_veryRelaxedHorizontalPadding

//-------------------//
//       Sizes
//-------------------//

.ts.mini.list
    font-size: $relativeMini
.ts.tiny.list
    font-size: $relativeTiny
.ts.small.list
    font-size: $relativeSmall
.ts.list
    font-size: $relativeMedium
.ts.large.list
    font-size: $relativeLarge
.ts.big.list
    font-size: $relativeBig
.ts.huge.list
    font-size: $relativeHuge
.ts.massive.list
    font-size: $relativeMassive

.ts.mini.horizontal.list .list > .item,
.ts.mini.horizontal.list > .item
    font-size: $absoluteMini
.ts.tiny.horizontal.list .list > .item,
.ts.tiny.horizontal.list > .item
    font-size: $absoluteTiny
.ts.small.horizontal.list .list > .item,
.ts.small.horizontal.list > .item
    font-size: $absoluteSmall
.ts.horizontal.list .list > .item,
.ts.horizontal.list > .item
    font-size: $absoluteMedium
.ts.large.horizontal.list .list > .item,
.ts.large.horizontal.list > .item
    font-size: $absoluteLarge
.ts.big.horizontal.list .list > .item,
.ts.big.horizontal.list > .item
    font-size: $absoluteBig
.ts.huge.horizontal.list .list > .item,
.ts.huge.horizontal.list > .item
    font-size: $absoluteHuge
.ts.massive.horizontal.list .list > .item,
.ts.massive.horizontal.list > .item
    font-size: $absoluteMassive

//-------------------//
//     Stackable
//-------------------//

.ts.horizontal.list.stackable
    +rwd-serious(mobile)
        flex-direction: column