@charset "UTF-8"
@import ../../variables/elements/quote.variables

//*******************************//
//            Variations
//*******************************//

    
//*******************************//
//              Main
//*******************************//

.ts.quote
    position: relative
    margin: 0
    padding-left: 3em
    padding-top: 1em
    opacity: 0.7
    
.ts.quote:before
    content: "“"
    position: absolute
    top: 0em
    left: 0px
    font-size: 5em
    font-family: Georgia, "Times New Roman", Times
    color: rgb(204, 204, 204)
    line-height: 1em

//-------------------//
//       Secondary       
//-------------------//

.ts.quote.secondary
    padding-left: 1em
    padding-top: 0
    border-left: 3px solid #eceeef

.ts.quote.secondary:before
    display: none

//-------------------//
//       Cite       
//-------------------//

.ts.quote cite
    font-style: normal
    opacity: 0.6


.ts.quote cite:before,
.ts.quote cite:after 
    content: '\2014 \00A0'
    
.ts.quote cite:before
    margin-right: .1em
.ts.quote cite:after
    margin-left: .1em