@import ../../variables/elements/text.variables

//*******************************//
//              Main
//*******************************//

.ts.text

//-------------------//
//       Aligns
//-------------------//

.ts.text[class*="left aligned"]
    display   : block
    text-align: left
.ts.text[class*="center aligned"]
    display   : block
    text-align: center
.ts.text[class*="right aligned"]
    display   : block
    text-align: right

//-------------------//
//      Floated
//-------------------//

.ts.text[class*="left floated"]
    float: left
.ts.text[class*="right floated"]
    float: right

//-------------------//
//       Sizes
//-------------------//

.ts.text.mini
    font-size: $mini
.ts.text.tiny
    font-size: $tiny
.ts.text.small
    font-size: $small
.ts.text.medium,
.ts.text,
    font-size: $medium
.ts.text.large
    font-size: $large
.ts.text.big
    font-size: $big
.ts.text.huge
    font-size: $huge
.ts.text.massive
    font-size: $massive

//-------------------//
//     Emphasis
//-------------------//

.ts.text.primary
    color: $text_primaryTextColor
.ts.text.info
    color: $text_infoTextColor
.ts.text.warning
    color: $text_warningTextColor
.ts.text.negative,
.ts.text.error
    color: $text_negativeTextColor
.ts.text.positive,
.ts.text.success
    color: $text_positiveTextColor
.ts.text.inverted
    color: $text_invertedTextColor

//-------------------//
// Secondary & Tertiary
//-------------------//

.ts.text.secondary
    color: $text_secondaryTextColor
.ts.text.tertiary
    color: $text_tertiaryTextColor

//-------------------//
//    Typography
//-------------------//

.ts.text.underlined
    text-decoration: underline
.ts.text.deleted
    text-decoration: line-through
.ts.text.italic
    text-style: italic
.ts.text.bold
    font-weight: bold

//-------------------//
//      Disabled
//-------------------//

.ts.text.disabled
    +extend(no-select)
    opacity       : $disabledOpacity !important
    cursor        : not-allowed      !important
    pointer-events: none             !important