#文件內容 {
    display: block;
    padding: 4rem 2rem;
    flex: 1;
}

#文件內容-範例清單 {
    display: block;
}

.文件內容-範例清單-段落 {
    display: block;
}

.文件內容-範例清單-段落:not(:first-child) {
    margin-top: 6rem;
}

.文件內容-範例清單-段落-標題 {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
}

.文件內容-範例清單-段落-說明 {
    display: block;
    font-size: 1rem;
    color: #777;
}

.文件內容-範例清單-段落-項目清單 {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
    margin-top: 1rem;
}

.文件內容-範例清單-段落-項目清單-項目 {
    display: block;
    width: calc(100% / 4 - 2rem);
    border-radius: 0.4rem;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    text-decoration: none;
    padding-bottom: 1rem;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.文件內容-範例清單-段落-項目清單-項目:hover {
    /*box-shadow: 0px 1px 7px 0px #e0e0e082;
    transform: translateY(-3px);*/
    border-color: #d6d6d6;
}

.文件內容-範例清單-段落-項目清單-項目-螢幕截圖 {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.文件內容-範例清單-段落-項目清單-項目-標題 {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    padding: 1rem 1rem 0;
    line-height: 1;
}

.文件內容-範例清單-段落-項目清單-項目:hover
    .文件內容-範例清單-段落-項目清單-項目-標題 {
    text-decoration: underline;
}

.文件內容-範例清單-段落-項目清單-項目-說明 {
    display: block;
    font-size: 1rem;
    color: #777;
    padding: 1rem 1rem 0;
}

.文件內容-範例清單-段落-項目清單-項目-圖示 {
    position: absolute;
    font-size: 6rem;
    bottom: -1rem;
    right: -1rem;
    color: #b2b2b2;
    opacity: 0.1;
    pointer-events: none;
}