<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../dist/tocas.css">
    <link rel="stylesheet" href="../assets/highlight.css">
    <link rel="stylesheet" href="../images/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/theme-monokai.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-html.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.12/beautify.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.12/beautify-css.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.12/beautify-html.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../assets/highlight.js" defer></script>
    <title>Document</title>
    <style>
        h1.ts.header {
            line-height: 1.2857em;
            font-size  : 4rem !important
        }
        h1.ts.header .sub.header {
            font-size: 1.5rem !important
        }
        img.ts.tiny.rounded {
            max-width   : 50px !important;
            max-height  : 50px !important;
            min-width   : 40px !important;
            min-height  : 40px !important;
            margin-right: 2em  !important;
            margin-left : 0    !important;
        }
    </style>
</head>
<body>
    <div class="ts slate">
        <div class="ts large top attached text menu">
            <div class="ts container">
                <a href="#!" class="item">使用文件</a>
                <a href="#!" class="item">開始使用</a>
                <a href="#!" class="item">響應式</a>
                <a href="#!" class="item">實際範例</a>
                <a href="#!" class="item">即時測試</a>
                <div class="right menu">
                    <a href="#!" class="item"><i class="globe icon"></i> 正體中文</a>
                    <a href="#!" class="item"><i class="github icon"></i> GitHub</a>
                </div>
            </div>
        </div>
        <div class="ts center aligned basic vertically very padded segment">
            <h1 class="ts header">
                Tocas UI 3
                <div class="sub header">這裡迎來新世界｡</div>
            </h1>
        </div>

    </div>
    <div class="ts very padded center aligned narrow container">
            <strong>本網站由以下贊助者提供</strong>
            <div class="ts hidden divider"></div>
            <div class="ts relaxed stackable grid">
                <div class="three column row">
                    <div class="center aligned column">
                        <img src="./assets/images/donators/Sciuridae_Li.jpg" alt="" class="ts tiny rounded spaced image">
                        Sciuridae Li
                    </div>
                    <div class="center aligned column">
                        <img src="./assets/images/donators/Sciuridae_Li.jpg" alt="" class="ts tiny rounded spaced image">
                        Sciuridae Li
                    </div>
                    <div class="center aligned column">
                        <img src="./assets/images/donators/Sciuridae_Li.jpg" alt="" class="ts tiny rounded spaced image">
                        Sciuridae Li
                    </div>
                </div>
                <div class="four column row">
                    <div class="center aligned column">
                        <img src="./assets/images/donators/Sciuridae_Li.jpg" alt="" class="ts mini rounded spaced image">
                        Sciuridae Li
                    </div>
                    <div class="center aligned column">
                        <img src="./assets/images/donators/Sciuridae_Li.jpg" alt="" class="ts mini rounded spaced image">
                        Sciuridae Li
                    </div>
                    <div class="center aligned column">
                        <img src="./assets/images/donators/Sciuridae_Li.jpg" alt="" class="ts mini rounded spaced image">
                        Sciuridae Li
                    </div>
                    <div class="center aligned column">
                        <img src="./assets/images/donators/Sciuridae_Li.jpg" alt="" class="ts mini rounded spaced image">
                        Sciuridae Li
                    </div>
                </div>
            </div>
        </div>
</body>
</html>