/**
 * Logo Font
 */

@font-face{
    font-family: 'icomoon';
    src        : url('../html/assets/images/fonts/icomoon.eot?en3o5m');
    src        : url('../html/assets/images/fonts/icomoon.eot?en3o5m#iefix')   format('embedded-opentype'),
                 url('../html/assets/images/fonts/icomoon.ttf?en3o5m')         format('truetype'),
                 url('../html/assets/images/fonts/icomoon.woff?en3o5m')        format('woff'),
                 url('../html/assets/images/fonts/icomoon.svg?en3o5m#icomoon') format('svg');
    font-weight: normal;
    font-style : normal;
}

/**
 * Header
 */

body > header {
    margin-bottom: 70px;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 0;
}

/** Tab */
body > header ul.ts.tabbed.menu {
    position: absolute;
    bottom  : -3.17em;
    left    : 70px;
    width   : 750px;
}

/** Logo */
body > header i {
    font-size    : 4em;
    display      : block;
    margin-top   : -32px;
    margin-bottom: 50px;
    margin-left  : -11px;
    color        : #5a5a5a;

    font-family   : 'icomoon' !important;
    font-style    : normal;
    font-weight   : normal;
    font-variant  : normal;
    text-transform: none;
    line-height   : 1;

    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body > .ts.slate i:before {
    content: "\e900";
}

/**
 * Menu Indexes
 */

body > .ts.container.grid > aside > h2 {
    margin-top: 2.3em !important;
    font-size : 1.4rem;
}

body > .ts.container.grid > aside > ul {
    margin-left: 0 !important;
}
body > .ts.container.grid > aside > ul li {
    display    : flex !important;
    line-height: 22px !important;
    align-items: center !important;
}
body > .ts.container.grid > aside > ul li:before {
    display: none !important;
}

/** Newest Label */
body > .ts.container.grid > aside > ul li span.label {
    padding: 9px;
    height : 20px;
}

/** Alias Label */
body > .ts.container.grid > aside > ul li span:not(.label) {
    margin-left   : 7px;
    font-size     : 13px;
    opacity       : 0.5;
    pointer-events: none;
}

/**
 * Divider Column
 */

body > .ts.container.grid > .offset.column:before {
    content       : "";
    position      : absolute;
    top           : 12px;
    right         : 24px;
    bottom        : 0;
    left          : 0;
    border-right  : 2px solid rgba(0,0,0,.1);
    pointer-events: none;
}

/**
 * Main Column
 */

body > .ts.container.grid > .twelve.column > section {
    max-width: 750px;
    margin   : 0 auto;
}

/** Indexes Highlights */
body > .ts.container.grid > .twelve.column > section > ul code {
    margin-left: 0px;
    font-size: 13px;
    opacity: 0.5;
    pointer-events: none;
    background: transparent;
}

/** Chapter Header */
body > .ts.container.grid > .twelve.column > section > h1 {
    font-size     : 2.4rem !important;
    border-bottom : 2px solid #d9d9d9 !important;
    padding-bottom: 10px !important;
}
body > .ts.container.grid > .twelve.column > section > h1:first-child {
    margin-bottom: .85em !important;
}
body > .ts.container.grid > .twelve.column > section > h1:not(:first-child) {
    margin-top: 4.5em !important;
}

/** Section Header */
body > .ts.container.grid > .twelve.column > section > h2 {
    font-size : 1.8rem !important;
    margin-top: 4.26em    !important;
}
/** Section Header Indicator */
body > .ts.container.grid > .twelve.column > section > h2 > a {
    content   : "";
    position  : absolute;
    left      : -92px;
    width     : 9px;
    border    : 3px solid #fff;
    background: #a2a2a2;
    top       : -2px;
    bottom    : -2px;
}
/** Section Header Indicator Hover Link Mode */
body > .ts.container.grid > .twelve.column > section > h2 > a:hover {
    cursor    : pointer;
    content   : "#";
    left      : -97px;
    font-size : 34px;
    width: auto;
    height: 33px;
    padding-top: 1px;
    top: -2px;
    display: flex;
    align-items: center;
    background: #FFF;
    border    : none;
    color     : #108ee9;
    text-shadow: 1px 1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF, 0px 1px 0 #FFF, 0px -1px 0 #FFF, -1px 0px 0 #FFF, 1px 0px 0 #FFF, 2px 2px 0 #FFF, -2px 2px 0 #FFF, 2px -2px 0 #FFF, -2px -2px 0 #FFF, 0px 2px 0 #FFF, 0px -2px 0 #FFF, -2px 0px 0 #FFF, 2px 0px 0 #FFF, 1px 2px 0 #FFF, -1px 2px 0 #FFF, 1px -2px 0 #FFF, -1px -2px 0 #FFF, 2px 1px 0 #FFF, -2px 1px 0 #FFF, 2px -1px 0 #FFF, -2px -1px 0 #FFF;
}

/** Description */
body > .ts.container.grid > .twelve.column > section > h1 ~ p,
body > .ts.container.grid > .twelve.column > section > h2 ~ p,
body > .ts.container.grid > .twelve.column > section > h3 ~ p {
    margin     : .8em 0 !important;
    font-size  : 16px;
    line-height: 1.7;
}

/** Specification Table */
.type {
    font-size  : 10px;
    font-weight: bold;
    position   : relative;
    top        : -3px;
    margin-left: .3em;
    margin-right: .5em;
    opacity    : .6;
}

table > tbody > tr > td:first-child {
    white-space: nowrap;
}

.return {
    margin-bottom: 10px;
    display: block;
}

.name {
    opacity: 0.6;
    font-style: italic;
}

.required {
    margin-left: .1em;
    color      : red;
}

.required:after {
    font-size  : 10px;
    font-weight: bold;
    position   : relative;
    top        : -3px;
    padding    : 1px;
    content    : attr(data-required);
    color      : rgba(255,0,0,.6);
}


/** Example Section */
body > .ts.container.grid > .twelve.column > section > .ts.padded.segments {
    margin-top: 2.3em !important;
}
body > .ts.container.grid > .twelve.column > section > .ts.padded.segments > pre {
    margin     : 0        !important;
    white-space: pre-wrap !important;
    font-size  : 14px     !important;
}

/** Responsive Sample */
body > .ts.container.grid > .twelve.column > section > .ts.padded.segments > samp.ts.segment:nth-child(2) {
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
    border-left               : 100px solid #e9e9e9;
    border-right              : 100px solid #e9e9e9;
}
body > .ts.container.grid > .twelve.column > section > .ts.padded.segments > samp.ts.segment:nth-child(2) > span.ts.label {
    right : -1px;
    bottom: -1px;
}
body > .ts.container.grid > .twelve.column > section > .ts.padded.segments > samp.ts.fitted.segment + samp.ts.segment {
    border-radius: 4px;
    border-bottom: 1px solid #e9e9e9;
}

/** Source Button */
body > .ts.container.grid > .twelve.column > section > h2 > .ts.button,
body > .ts.container.grid > .twelve.column > section > h3 > .ts.button {
    font-size  : .8rem !important;
    margin-left: .8rem;
}

/**
 * Footer
 */

body > footer {
    margin-top    : 50px !important;
    margin-bottom : 0    !important;
    padding-bottom: 90px !important;
    box-shadow    : none !important;
    border-top    : 1px solid #e9e9e9 !important;
    border-radius : 0    !important;
}

body > footer ul {
    padding   : 0 !important;
    list-style: none;
}

body > footer ul li a {
    color: inherit;
}
body > footer ul li a:hover {
    color  : inherit;
    opacity: .7;
}
body > footer ul li a:active {
    color  : inherit;
    opacity: 1;
}
body > footer ul li:first-child a {
    opacity: .7;
}
body > footer ul li:first-child a:hover {
    opacity: .5;
}
body > footer ul li:first-child a:active {
    opacity: .8;
}

[data-is="mobileLabel"]:not(.active) {
    display: none
}