/* ==========================================================================
   Variables
   ========================================================================== */

.ts.segment {
    /**
     * Block
     */

    --ts-segment_border-radius-circular: var(--global__border-radius-circular);
    --ts-segment_border-radius: var(--global__border-radius);
    --ts-segment_vertical-padding: var(--tocas_block_vertical-padding);
    --ts-segment_horizontal-padding: var(--tocas_block_horizontal-padding);
    --ts-segment_padding: var(--ts-segment_vertical-padding) var(--ts-segment_horizontal-padding);

    /**
     * Loader
     */

    --ts-segment_loader-size: var(--global__loader-size);
    --ts-segment_loader-line-width: var(--global__loader-line-width);
    --ts-segment_loader-background-color: var(--ts-global_gray-300);
    --ts-segment_loader-line-color: var(--ts-global_gray-700);

    /**
     * Distance
     */

    --ts-segment_distance-block: var(--global__distance-block);

    /**
     * Typography
     */

    --ts-segment_font-size: 1rem;
    --ts-segment_line-height: var(--global__line-height);

    /**
     * Color
     */

    --ts-segment_shadow-raised-color: var(--ts-global_gray-900);
}

/* ==========================================================================
   Default
   ========================================================================== */

.ts.segment:not([data-emphasis]) {
    --ts-segment_color: var(--ts-global_gray-800);
    --ts-segment_disabled-color: var(--ts-global_gray-400);
    --ts-segment_border-color: var(--ts-global_gray-200);
    --ts-segment_background-color: var(--ts-global_gray-50);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_gray-100);
    --ts-segment_border-secondary-color: var(--ts-global_gray-100);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_gray-300);
    --ts-segment_border-tertiary-color: var(--ts-global_gray-300);

    --ts-segment_indicated-border-color: var(--ts-global_gray-800);
}

/* ==========================================================================
   Emphasises
   ========================================================================== */

/**
 * Primary
 */

.ts.segment[data-emphasis="primary"]:not(.-indicated) {
    --ts-segment_color: var(--ts-global_gray-50);
    --ts-segment_disabled-color: var(--ts-global_gray-400);
    --ts-segment_border-color: var(--ts-global_primary-500);
    --ts-segment_background-color: var(--ts-global_primary-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_primary-600);
    --ts-segment_border-secondary-color: var(--ts-global_primary-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_primary-700);
    --ts-segment_border-tertiary-color: var(--ts-global_primary-700);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_gray-100);
    --ts-segment_loader-line-color: var(--ts-global_gray-500);
}

.ts.segment[data-emphasis="primary"] {
    --ts-segment_indicated-border-color: var(--ts-global_primary-500);
}

/**
 * Negative
 */

.ts.segment[data-emphasis="negative"]:not(.-indicated) {
    --ts-segment_color: var(--ts-global_gray-50);
    --ts-segment_disabled-color: var(--ts-global_gray-400);
    --ts-segment_border-color: var(--ts-global_negative-500);
    --ts-segment_background-color: var(--ts-global_negative-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_negative-600);
    --ts-segment_border-secondary-color: var(--ts-global_negative-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_negative-700);
    --ts-segment_border-tertiary-color: var(--ts-global_negative-700);
}

.ts.segment[data-emphasis="negative"] {
    --ts-segment_indicated-border-color: var(--ts-global_negative-500);
}

/**
 * Warninng
 */

.ts.segment[data-emphasis="warning"]:not(.-indicated) {
    --ts-segment_color: var(--ts-global_gray-800);
    --ts-segment_disabled-color: var(--ts-global_gray-400);
    --ts-segment_border-color: var(--ts-global_warning-500);
    --ts-segment_background-color: var(--ts-global_warning-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_warning-600);
    --ts-segment_border-secondary-color: var(--ts-global_warning-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_warning-700);
    --ts-segment_border-tertiary-color: var(--ts-global_warning-700);
}

.ts.segment[data-emphasis="warning"] {
    --ts-segment_indicated-border-color: var(--ts-global_warning-500);
}

/**
 * Positive
 */

.ts.segment[data-emphasis="positive"]:not(.-indicated) {
    --ts-segment_color: var(--ts-global_gray-50);
    --ts-segment_disabled-color: var(--ts-global_gray-400);
    --ts-segment_border-color: var(--ts-global_positive-500);
    --ts-segment_background-color: var(--ts-global_positive-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_positive-600);
    --ts-segment_border-secondary-color: var(--ts-global_positive-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_positive-700);
    --ts-segment_border-tertiary-color: var(--ts-global_positive-700);
}

.ts.segment[data-emphasis="positive"] {
    --ts-segment_indicated-border-color: var(--ts-global_positive-500);
}
