/* ==========================================================================
   Variables
   ========================================================================== */

.ts.segment {
    /**
     * Block
     */

    --ts-segment_border-radius-circular: var(--ts-global_border-radius-circular);
    --ts-segment_border-radius: var(--ts-global_border-radius);
    --ts-segment_vertical-padding: var(--ts-global_block-vertical-padding);
    --ts-segment_horizontal-padding: var(--ts-global_block-horizontal-padding);
    --ts-segment_padding: var(--ts-segment_vertical-padding) var(--ts-segment_horizontal-padding);

    /**
     * Loader
     */

    --ts-segment_loader-size: var(--ts-global_loader-size);
    --ts-segment_loader-line-width: var(--ts-global_loader-line-width);

    /**
     * Distance
     */

    --ts-segment_distance-block: var(--ts-global_distance-block);

    /**
     * Typography
     */

    --ts-segment_font-size: 1rem;
    --ts-segment_line-height: var(--ts-global_line-height);

    /**
     * Color
     */

    --ts-segment_shadow-raised-color: var(--ts-global_gray-900);
}

/* ==========================================================================
   Default
   ========================================================================== */

.ts.segment {
    --ts-segment_color: var(--ts-global_gray-900);
    --ts-segment_disabled-color: var(--ts-global_gray-400);
    --ts-segment_border-color: var(--ts-global_gray-200);
    --ts-segment_background-color: var(--ts-global_gray-50);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_gray-100);
    --ts-segment_border-secondary-color: var(--ts-global_gray-100);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_gray-300);
    --ts-segment_border-tertiary-color: var(--ts-global_gray-300);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_gray-200);
    --ts-segment_loader-line-color: var(--ts-global_gray-700);
    /** Indicated */
    --ts-segment_indicated-border-color: var(--ts-global_gray-800);
}

/* ==========================================================================
   Emphasises
   ========================================================================== */

/**
 * Primary
 */

.ts.segment[data-emphasis="primary"]:not(.-indicated) {
    --ts-segment_color: var(--ts-global_static-gray-50);
    --ts-segment_disabled-color: var(--ts-global_static-gray-400);
    --ts-segment_border-color: var(--ts-global_primary-500);
    --ts-segment_background-color: var(--ts-global_primary-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_primary-600);
    --ts-segment_border-secondary-color: var(--ts-global_primary-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_primary-700);
    --ts-segment_border-tertiary-color: var(--ts-global_primary-700);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_primary-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-100);

    --ts-global-alias_gray-50: 44, 44, 44;
    --ts-global-alias_gray-75: 75, 75, 75;
    --ts-global-alias_gray-100: 110, 110, 110;
    --ts-global-alias_gray-200: 142, 142, 142;
    --ts-global-alias_gray-300: 179, 179, 179;
    --ts-global-alias_gray-400: 202, 202, 202;
    --ts-global-alias_gray-500: 225, 225, 225;
    --ts-global-alias_gray-600: 234, 234, 234;
    --ts-global-alias_gray-700: 245, 245, 245;
    --ts-global-alias_gray-800: 250, 250, 250;
    --ts-global-alias_gray-900: 255, 255, 255;
}

.ts.segment[data-emphasis="primary"] {
    --ts-segment_indicated-border-color: var(--ts-global_primary-500);
}

/**
 * Warning
 */

.ts.segment[data-emphasis="warning"]:not(.-indicated) {
    --ts-segment_color: var(--ts-global_static-gray-800);
    --ts-segment_disabled-color: var(--ts-global_static-gray-400);
    --ts-segment_border-color: var(--ts-global_warning-500);
    --ts-segment_background-color: var(--ts-global_warning-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_warning-600);
    --ts-segment_border-secondary-color: var(--ts-global_warning-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_warning-700);
    --ts-segment_border-tertiary-color: var(--ts-global_warning-700);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_warning-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-800);
}

.ts.segment[data-emphasis="warning"] {
    --ts-segment_indicated-border-color: var(--ts-global_warning-500);
}

/**
 * Positive
 */

.ts.segment[data-emphasis="positive"]:not(.-indicated) {
    --ts-segment_color: var(--ts-global_static-gray-50);
    --ts-segment_disabled-color: var(--ts-global_static-gray-400);
    --ts-segment_border-color: var(--ts-global_positive-500);
    --ts-segment_background-color: var(--ts-global_positive-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_positive-600);
    --ts-segment_border-secondary-color: var(--ts-global_positive-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_positive-700);
    --ts-segment_border-tertiary-color: var(--ts-global_positive-700);
    /** Loader */
    --ts-segment_background-tertiary-color: var(--ts-global_positive-700);
    --ts-segment_border-tertiary-color: var(--ts-global_positive-700);
}

.ts.segment[data-emphasis="positive"] {
    --ts-segment_indicated-border-color: var(--ts-global_positive-500);
}

/**
 * Negative
 */

.ts.segment[data-emphasis="negative"]:not(.-indicated) {
    --ts-segment_color: var(--ts-global_static-gray-50);
    --ts-segment_disabled-color: var(--ts-global_static-gray-400);
    --ts-segment_border-color: var(--ts-global_negative-500);
    --ts-segment_background-color: var(--ts-global_negative-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_negative-600);
    --ts-segment_border-secondary-color: var(--ts-global_negative-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_negative-700);
    --ts-segment_border-tertiary-color: var(--ts-global_negative-700);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_negative-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-100);
}

.ts.segment[data-emphasis="negative"] {
    --ts-segment_indicated-border-color: var(--ts-global_negative-500);
}
