/* ==========================================================================
   Variables
   ========================================================================== */

.ts.segment {
    /**
     * Block
     */

    --ts-segment_border-radius-circular: var(--ts-global_border-radius-circular);
    --ts-segment_border-radius: var(--ts-global_border-radius);
    --ts-segment_vertical-padding: var(--ts-global_block-vertical-padding);
    --ts-segment_horizontal-padding: var(--ts-global_block-horizontal-padding);
    --ts-segment_padding: var(--ts-segment_vertical-padding) var(--ts-segment_horizontal-padding);

    /**
     * Loader
     */

    --ts-segment_loader-size: var(--ts-global_loader-size);
    --ts-segment_loader-line-width: var(--ts-global_loader-line-width);

    /**
     * Distance
     */

    --ts-segment_distance-block: var(--ts-global_distance-block);

    /**
     * Typography
     */

    --ts-segment_font-size: 1rem;
    --ts-segment_line-height: var(--ts-global_line-height);

    /**
     * Color
     */

    --ts-segment_shadow-raised-color: var(--ts-global_gray-900);
}

/* ==========================================================================
   Default
   ========================================================================== */

.ts.segment {
    --ts-segment-default_color: var(--ts-global_gray-900);
    --ts-segment-default_disabled-color: var(--ts-global_gray-400);
    --ts-segment-default_border-color: var(--ts-global_gray-200);
    --ts-segment-default_background-color: var(--ts-global_gray-50);
    /** Secondary */
    --ts-segment-default_background-secondary-color: var(--ts-global_gray-100);
    --ts-segment-default_border-secondary-color: var(--ts-global_gray-100);
    /** Tertiary */
    --ts-segment-default_background-tertiary-color: var(--ts-global_gray-300);
    --ts-segment-default_border-tertiary-color: var(--ts-global_gray-300);
    /** Loader */
    --ts-segment-default_loader-background-color: var(--ts-global_gray-200);
    --ts-segment-default_loader-line-color: var(--ts-global_gray-700);
    /** Indicated */
    --ts-segment-default_indicated-border-color: var(--ts-global_gray-800);
}

/* ==========================================================================
   Emphasises
   ========================================================================== */

/**
 * Default
 */

.ts.segment {
    --ts-segment_color: var(--ts-segment-default_color);
    --ts-segment_disabled-color: var(--ts-segment-default_disabled-color);
    --ts-segment_border-color: var(--ts-segment-default_border-color);
    --ts-segment_background-color: var(--ts-segment-default_background-color);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-segment-default_background-secondary-color);
    --ts-segment_border-secondary-color: var(--ts-segment-default_border-secondary-color);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-segment-default_background-tertiary-color);
    --ts-segment_border-tertiary-color: var(--ts-segment-default_border-tertiary-color);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-segment-default_loader-background-color);
    --ts-segment_loader-line-color: var(--ts-segment-default_loader-line-color);
    /** Indicated */
    --ts-segment_indicated-border-color: var(--ts-segment-default_indicated-border-color);
}

/**
 * Primary
 */

.ts.segment[data-emphasis="primary"] {
    --ts-segment_color: var(--ts-global_static-gray-50);
    --ts-segment_disabled-color: var(--ts-global_static-gray-400);
    --ts-segment_border-color: var(--ts-global_primary-500);
    --ts-segment_background-color: var(--ts-global_primary-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_primary-600);
    --ts-segment_border-secondary-color: var(--ts-global_primary-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_primary-700);
    --ts-segment_border-tertiary-color: var(--ts-global_primary-700);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_primary-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-100);
}

.ts.segment[data-emphasis="primary"].-indicated.-indicated {
    --ts-segment_indicated-border-color: var(--ts-global_primary-500);
}

.ts.segment[data-emphasis="primary"].-outlined.-outlined {
    --ts-segment_border-color: var(--ts-global_primary-500);
}

.ts.segment[data-emphasis="primary"].-quiet {
    --ts-segment_color: var(--ts-global_primary-900);
    --ts-segment_disabled-color: var(--ts-global_primary-400);
    --ts-segment_border-color: var(--ts-global_primary-100);
    --ts-segment_background-color: var(--ts-global_primary-100);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_primary-200);
    --ts-segment_border-secondary-color: var(--ts-global_primary-200);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_primary-300);
    --ts-segment_border-tertiary-color: var(--ts-global_primary-300);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_primary-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-100);

    --ts-global-alias_gray-50: var(--ts-global_primary-50);
    --ts-global-alias_gray-75: var(--ts-global_primary-75);
    --ts-global-alias_gray-100: var(--ts-global_primary-100);
    --ts-global-alias_gray-200: var(--ts-global_primary-200);
    --ts-global-alias_gray-300: var(--ts-global_primary-300);
    --ts-global-alias_gray-400: var(--ts-global_primary-400);
    --ts-global-alias_gray-500: var(--ts-global_primary-500);
    --ts-global-alias_gray-600: var(--ts-global_primary-600);
    --ts-global-alias_gray-700: var(--ts-global_primary-700);
    --ts-global-alias_gray-800: var(--ts-global_primary-800);
    --ts-global-alias_gray-900: var(--ts-global_primary-900);
}

/**
 * Warning
 */

.ts.segment[data-emphasis="warning"] {
    --ts-segment_color: var(--ts-global_static-gray-900);
    --ts-segment_disabled-color: var(--ts-global_static-gray-400);
    --ts-segment_border-color: var(--ts-global_warning-500);
    --ts-segment_background-color: var(--ts-global_warning-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_warning-600);
    --ts-segment_border-secondary-color: var(--ts-global_warning-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_warning-700);
    --ts-segment_border-tertiary-color: var(--ts-global_warning-700);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_warning-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-800);
}

.ts.segment[data-emphasis="warning"].-indicated.-indicated {
    --ts-segment_indicated-border-color: var(--ts-global_warning-500);
}

.ts.segment[data-emphasis="warning"].-outlined.-outlined {
    --ts-segment_border-color: var(--ts-global_warning-500);
}

.ts.segment[data-emphasis="warning"].-quiet {
    --ts-segment_color: var(--ts-global_warning-900);
    --ts-segment_disabled-color: var(--ts-global_warning-400);
    --ts-segment_border-color: var(--ts-global_warning-100);
    --ts-segment_background-color: var(--ts-global_warning-100);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_warning-200);
    --ts-segment_border-secondary-color: var(--ts-global_warning-200);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_warning-300);
    --ts-segment_border-tertiary-color: var(--ts-global_warning-300);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_warning-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-800);

    --ts-global-alias_gray-50: var(--ts-global_warning-50);
    --ts-global-alias_gray-75: var(--ts-global_warning-75);
    --ts-global-alias_gray-100: var(--ts-global_warning-100);
    --ts-global-alias_gray-200: var(--ts-global_warning-200);
    --ts-global-alias_gray-300: var(--ts-global_warning-300);
    --ts-global-alias_gray-400: var(--ts-global_warning-400);
    --ts-global-alias_gray-500: var(--ts-global_warning-500);
    --ts-global-alias_gray-600: var(--ts-global_warning-600);
    --ts-global-alias_gray-700: var(--ts-global_warning-700);
    --ts-global-alias_gray-800: var(--ts-global_warning-800);
    --ts-global-alias_gray-900: var(--ts-global_warning-900);
}

/**
 * Positive
 */

.ts.segment[data-emphasis="positive"] {
    --ts-segment_color: var(--ts-global_static-gray-50);
    --ts-segment_disabled-color: var(--ts-global_static-gray-400);
    --ts-segment_border-color: var(--ts-global_positive-500);
    --ts-segment_background-color: var(--ts-global_positive-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_positive-600);
    --ts-segment_border-secondary-color: var(--ts-global_positive-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_positive-700);
    --ts-segment_border-tertiary-color: var(--ts-global_positive-700);
    /** Loader */
    --ts-segment_background-tertiary-color: var(--ts-global_positive-700);
    --ts-segment_border-tertiary-color: var(--ts-global_positive-700);
}

.ts.segment[data-emphasis="positive"].-indicated.-indicated {
    --ts-segment_indicated-border-color: var(--ts-global_positive-500);
}

.ts.segment[data-emphasis="positive"].-outlined.-outlined {
    --ts-segment_border-color: var(--ts-global_positive-500);
}

.ts.segment[data-emphasis="positive"].-quiet {
    --ts-segment_color: var(--ts-global_positive-900);
    --ts-segment_disabled-color: var(--ts-global_positive-400);
    --ts-segment_border-color: var(--ts-global_positive-100);
    --ts-segment_background-color: var(--ts-global_positive-100);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_positive-200);
    --ts-segment_border-secondary-color: var(--ts-global_positive-200);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_positive-300);
    --ts-segment_border-tertiary-color: var(--ts-global_positive-300);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_positive-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-100);

    --ts-global-alias_gray-50: var(--ts-global_positive-50);
    --ts-global-alias_gray-75: var(--ts-global_positive-75);
    --ts-global-alias_gray-100: var(--ts-global_positive-100);
    --ts-global-alias_gray-200: var(--ts-global_positive-200);
    --ts-global-alias_gray-300: var(--ts-global_positive-300);
    --ts-global-alias_gray-400: var(--ts-global_positive-400);
    --ts-global-alias_gray-500: var(--ts-global_positive-500);
    --ts-global-alias_gray-600: var(--ts-global_positive-600);
    --ts-global-alias_gray-700: var(--ts-global_positive-700);
    --ts-global-alias_gray-800: var(--ts-global_positive-800);
    --ts-global-alias_gray-900: var(--ts-global_positive-900);
}

/**
 * Negative
 */

.ts.segment[data-emphasis="negative"] {
    --ts-segment_color: var(--ts-global_static-gray-50);
    --ts-segment_disabled-color: var(--ts-global_static-gray-400);
    --ts-segment_border-color: var(--ts-global_negative-500);
    --ts-segment_background-color: var(--ts-global_negative-500);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_negative-600);
    --ts-segment_border-secondary-color: var(--ts-global_negative-600);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_negative-700);
    --ts-segment_border-tertiary-color: var(--ts-global_negative-700);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_negative-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-100);
}

.ts.segment[data-emphasis="negative"].-indicated.-indicated {
    --ts-segment_indicated-border-color: var(--ts-global_negative-500);
}

.ts.segment[data-emphasis="negative"].-outlined.-outlined {
    --ts-segment_border-color: var(--ts-global_negative-500);
}

.ts.segment[data-emphasis="negative"].-quiet {
    --ts-segment_color: var(--ts-global_negative-900);
    --ts-segment_disabled-color: var(--ts-global_negative-400);
    --ts-segment_border-color: var(--ts-global_negative-100);
    --ts-segment_background-color: var(--ts-global_negative-100);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-global_negative-200);
    --ts-segment_border-secondary-color: var(--ts-global_negative-200);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-global_negative-300);
    --ts-segment_border-tertiary-color: var(--ts-global_negative-300);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-global_negative-700);
    --ts-segment_loader-line-color: var(--ts-global_static-gray-100);

    --ts-global-alias_gray-50: var(--ts-global_negative-50);
    --ts-global-alias_gray-75: var(--ts-global_negative-75);
    --ts-global-alias_gray-100: var(--ts-global_negative-100);
    --ts-global-alias_gray-200: var(--ts-global_negative-200);
    --ts-global-alias_gray-300: var(--ts-global_negative-300);
    --ts-global-alias_gray-400: var(--ts-global_negative-400);
    --ts-global-alias_gray-500: var(--ts-global_negative-500);
    --ts-global-alias_gray-600: var(--ts-global_negative-600);
    --ts-global-alias_gray-700: var(--ts-global_negative-700);
    --ts-global-alias_gray-800: var(--ts-global_negative-800);
    --ts-global-alias_gray-900: var(--ts-global_negative-900);
}

/* ==========================================================================
   Foreground
   ========================================================================== */

.ts.segment[data-emphasis="primary"],
.ts.segment[data-emphasis="positive"],
.ts.segment[data-emphasis="negative"] {
    --ts-global-alias_gray-50: var(--ts-global_static-gray-900);
    --ts-global-alias_gray-75: var(--ts-global_static-gray-800);
    --ts-global-alias_gray-100: var(--ts-global_static-gray-700);
    --ts-global-alias_gray-200: var(--ts-global_static-gray-600);
    --ts-global-alias_gray-300: var(--ts-global_static-gray-500);
    --ts-global-alias_gray-400: var(--ts-global_static-gray-400);
    --ts-global-alias_gray-500: var(--ts-global_static-gray-300);
    --ts-global-alias_gray-600: var(--ts-global_static-gray-200);
    --ts-global-alias_gray-700: var(--ts-global_static-gray-100);
    --ts-global-alias_gray-800: var(--ts-global_static-gray-75);
    --ts-global-alias_gray-900: var(--ts-global_static-gray-50);
}

.ts.segment[data-emphasis="warning"] {
    --ts-global-alias_gray-50: var(--ts-global_static-gray-50);
    --ts-global-alias_gray-75: var(--ts-global_static-gray-75);
    --ts-global-alias_gray-100: var(--ts-global_static-gray-100);
    --ts-global-alias_gray-200: var(--ts-global_static-gray-200);
    --ts-global-alias_gray-300: var(--ts-global_static-gray-300);
    --ts-global-alias_gray-400: var(--ts-global_static-gray-400);
    --ts-global-alias_gray-500: var(--ts-global_static-gray-500);
    --ts-global-alias_gray-600: var(--ts-global_static-gray-600);
    --ts-global-alias_gray-700: var(--ts-global_static-gray-700);
    --ts-global-alias_gray-800: var(--ts-global_static-gray-800);
    --ts-global-alias_gray-900: var(--ts-global_static-gray-900);
}

/* ==========================================================================
   Clear
   ========================================================================== */

.ts.segment[data-emphasis].-indicated,
.ts.segment[data-emphasis].-outlined {
    --ts-segment_color: var(--ts-segment-default_color);
    --ts-segment_disabled-color: var(--ts-segment-default_disabled-color);
    --ts-segment_border-color: var(--ts-segment-default_border-color);
    --ts-segment_background-color: var(--ts-segment-default_background-color);
    /** Secondary */
    --ts-segment_background-secondary-color: var(--ts-segment-default_background-secondary-color);
    --ts-segment_border-secondary-color: var(--ts-segment-default_border-secondary-color);
    /** Tertiary */
    --ts-segment_background-tertiary-color: var(--ts-segment-default_background-tertiary-color);
    --ts-segment_border-tertiary-color: var(--ts-segment-default_border-tertiary-color);
    /** Loader */
    --ts-segment_loader-background-color: var(--ts-segment-default_loader-background-color);
    --ts-segment_loader-line-color: var(--ts-segment-default_loader-line-color);
    /** Indicated */
    --ts-segment_indicated-border-color: var(--ts-segment-default_indicated-border-color);

    --ts-global-alias_gray-50: initial;
    --ts-global-alias_gray-75: initial;
    --ts-global-alias_gray-100: initial;
    --ts-global-alias_gray-200: initial;
    --ts-global-alias_gray-300: initial;
    --ts-global-alias_gray-400: initial;
    --ts-global-alias_gray-500: initial;
    --ts-global-alias_gray-600: initial;
    --ts-global-alias_gray-700: initial;
    --ts-global-alias_gray-800: initial;
    --ts-global-alias_gray-900: initial;
}
