@import "./label.variables.css";

/* ==========================================================================
   Base
   ========================================================================== */

.ts.label {
    box-sizing   : border-box;
    position     : relative;
    display      : inline-block;
    font-size    : var(--ts-label_font-size);
    color        : rgb(var(--ts-label_color));
    line-height  : var(--ts-label_line-height);
    background   : rgb(240, 240, 240);
    border-radius: var(--ts-label_border-radius);
    padding      : var(--ts-label_vertical-padding) var(--ts-label_horizontal-padding);
    border       : var(--ts-label_border-width) solid transparent;
}

.ts.label:first-child {
    margin-block-start: 0;
}

.ts.label:last-child {
    margin-block-end: 0;
}

.ts.label:not(:first-child) {
    margin-block-start: var(--ts-label_distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Detail
 */

.ts.label > .detail {
    display                   : inline-block;
    border-top-right-radius   : var(--ts-label_border-radius);
    border-bottom-right-radius: var(--ts-label_border-radius);
    padding                   : var(--ts-label_vertical-padding) var(--ts-label_horizontal-padding);
    margin-top                : calc(var(--ts-label_vertical-padding) * -1);
    margin-bottom             : calc(var(--ts-label_vertical-padding) * -1);
    height                    : calc(1em * var(--ts-label_line-height));
    background                : #dedede;
    margin-left               : calc(var(--ts-label_horizontal-padding) - 0.1rem);
    margin-right              : calc(var(--ts-label_horizontal-padding) * -1);
}

/**
 * Close
 */

.ts.label > .close {
    font-family    : "Icons";
    appearance     : none;
    border         : 0;
    box-shadow     : 0 0 black;
    color          : #ffffff;
    background     : #b9b9b9;
    width          : 1.3em;
    height         : 1.3em;
    border-radius  : 10em;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    margin-left    : calc((var(--ts-label_horizontal-padding) - 0.1rem) / 2);
    margin-right   : -4px;
    outline        : 0;
}
.ts.label > .close::after {
    content    : "\f00d";
    line-height: 0;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Link
 */

.ts.label.-link {
    text-decoration: none;
}

.ts.label.-link:hover {
    cursor    : pointer;
    background: rgb(228, 228, 228);
}

/**
 * Selected
 */

.ts.label.-selected {
    background : #d9d4ff;
    color      : #01f;
    font-weight: 500;
}

/**
 * Image
 */

.ts.label.-left-image {
    padding-left: 0;
}

.ts.label.-left-image img {
    border-top-left-radius   : var(--ts-label_border-radius);
    border-bottom-left-radius: var(--ts-label_border-radius);
    margin-right             : calc((var(--ts-label_horizontal-padding) - 0.1rem) / 2); /** text white space */
}

.ts.label.-left-image img,
.ts.label.-right-image img {
    height        : calc(1em * var(--ts-label_line-height) + (var(--ts-label_vertical-padding) * 2));
    margin-top    : calc(var(--ts-label_vertical-padding) * -1);
    margin-bottom : calc(var(--ts-label_vertical-padding) * -1);
    vertical-align: top;
}

.ts.label.-right-image {
    padding-right: 0;
}

.ts.label.-right-image img {
    border-top-right-radius   : var(--ts-label_border-radius);
    border-bottom-right-radius: var(--ts-label_border-radius);
    margin-left               : calc((var(--ts-label_horizontal-padding) - 0.1rem) / 2); /** text white space */
}

/**
 * Basic
 */

.ts.label.-basic {
    border-color: rgb(var(--ts-label_border-color));
    background  : transparent;
}
.ts.label.-basic .detail {
    background: rgb(240, 240, 240);
}
.ts.label.-basic.-selected {
    background  : #efedff;
    border-color: #d9d4ff;
}
.ts.label.-basic .close {
    background: transparent;
    color     : #545454;
}

/**
 * Circular
 */

.ts.label.-circular {
    --border-radius: var(--ts-label_border-radius-circular);
}
.ts.label.-circular img {
    border-radius: var(--ts-label_border-radius-circular);
}

/**
 * Icon
 */

.ts.label.-left-icon i.ts.icon {
    margin-right: 0.5rem;
}
.ts.label.-right-icon i.ts.icon {
    margin-left : 0.5rem;
    margin-right: 0;
}

/**
 * Compact
 */

.ts.label.-compact {
    line-height         : calc(var(--ts-label_line-height) / 1.2);
    --horizontal-padding: 0.3rem;
}

/**
 * Disabled
 */

.ts.label.-disabled {
    opacity: var(--ts-label_disabled-opacity);
}

/**
 * Attached
 */

.ts.label.-top-attached,
.ts.label.-attached,
.ts.label.-bottom-attached {
    --horizontal-padding: 1rem;
}

.ts.label.-top-attached {
    display                   : block;
    margin-bottom             : 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius : 0;
}
.ts.label.-attached {
    display      : block;
    margin-top   : 0;
    margin-bottom: 0;
    border-top   : 0;
    border-radius: 0;
}
.ts.label.-bottom-attached {
    display                : block;
    margin-top             : 0;
    border-top             : 0;
    border-top-right-radius: 0;
    border-top-left-radius : 0;
}

/**
 * Fluid
 */

.ts.label.-fluid {
    width  : 100%;
    display: block;
}

/**
 * Floated
 */

.ts.label.-left-floated {
    float: left;
}
.ts.label.-right-floated {
    float: right;
}

/**
 * Aligns
 */

.ts.label.-left-aligned {
    text-align     : left;
    justify-content: flex-start;
}
.ts.label.-center-aligned {
    text-align     : center;
    justify-content: center;
}
.ts.label.-right-aligned {
    text-align     : right;
    justify-content: flex-end;
}

/**
 * Corner Floated
 */

.ts.label.-top-right-floated,
.ts.label.-top-left-floated,
.ts.label.-bottom-right-floated,
.ts.label.-bottom-left-floated {
    position: absolute;
    margin  : 0;
}

.ts.label.-top-right-floated {
    top      : 0;
    right    : 0;
    transform: translate(50%, -50%);
}
.ts.label.-top-left-floated {
    top      : 0;
    left     : 0;
    transform: translate(-50%, -50%);
}
.ts.label.-bottom-right-floated {
    bottom   : 0;
    right    : 0;
    transform: translate(50%, 50%);
}
.ts.label.-bottom-left-floated {
    bottom   : 0;
    left     : 0;
    transform: translate(-50%, 50%);
}

/**
 * Corner Attached
 */

.ts.label.-top-right-attached,
.ts.label.-top-left-attached,
.ts.label.-bottom-right-attached,
.ts.label.-bottom-left-attached {
    position: absolute;
    margin  : 0;
}

.ts.label.-top-right-attached {
    top                       : 0;
    right                     : 0;
    border-top-right-radius   : 0;
    border-top-left-radius    : 0;
    border-bottom-right-radius: 0;
}
.ts.label.-top-left-attached {
    top                      : 0;
    left                     : 0;
    border-top-left-radius   : 0;
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
}
.ts.label.-bottom-right-attached {
    bottom                    : 0;
    right                     : 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius : 0;
    border-top-right-radius   : 0;
}
.ts.label.-bottom-left-attached {
    bottom                    : 0;
    left                      : 0;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
    border-top-left-radius    : 0;
}

/**
 * Sizes
 */

.ts.label.-small {
    --font-size: 0.8125rem;
}
.ts.label.-large {
    --font-size: 0.9375rem;
}
.ts.label.-big {
    --font-size: 1rem;
}
.ts.label.-huge {
    --font-size: 1.125rem;
}
.ts.label.-massive {
    --font-size: 1.25rem;
}
