/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-tab {
    margin-bottom: -1px; /** For border merge */
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    z-index: 1; /** For cover divider */
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-tab .item {
    text-decoration: none;
    color: var(--ts-gray-800);
    padding: 0.5rem 1rem;
    display: inline-flex;
    border-bottom: 3px solid transparent;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.5rem;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-tab .item.is-active {
    border-bottom-color: var(--ts-gray-800);
    cursor: default;
}

/**
 * Disabled
 */

.ts-tab .item.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

/**
 * Evenly Divided (Use Fluid instead)
 */

/*.ts-tab.is-evenly-divided .item {
    flex: 1;
}*/

/**
 * Pilled
 */

.ts-tab.is-pilled .item {
    border-radius: 100rem;
    padding: 0.25rem 1rem;
    border-bottom: 0;
}

.ts-tab.is-pilled .item.is-active {
    background: var(--ts-gray-800);
    color: var(--ts-gray-50);
}

.ts-tab.is-pilled.is-secondary .item.is-active {
    background: var(--ts-gray-200);
    color: var(--ts-gray-800);
}

/**
 * Aligns
 */

.ts-tab.is-start-aligned {
    justify-content: flex-start;
}

.ts-tab.is-center-aligned {
    justify-content: center;
}

.ts-tab.is-end-aligned {
    justify-content: flex-end;
}

/**
 * Segmented
 */

.ts-tab.is-segmented {
    color: var(--ts-gray-700);
    border: 1px solid var(--ts-gray-300);
    border-radius: 0.4rem;
    display: inline-flex;
    padding: 0 0.25rem;
}

.ts-tab.is-segmented .item {
    padding: 0.45rem 0.9rem;
    margin: 0.2rem 0rem;
    border-radius: 0.4rem;
    user-select: none;
    line-height: 1;
    border-bottom: 0;
}

.ts-tab.is-segmented .item.is-active {
    background: var(--ts-gray-800);
    color: var(--ts-gray-50);
}

/**
 * Fluid
 */

.ts-tab.is-fluid {
    display: flex;
}

.ts-tab.is-fluid .item {
    flex: 1;
}

/**
 * Sizes
 */

.ts-tab.is-small .item {
    font-size: var(--ts-font-size-14px);
}
.ts-tab.is-large .item {
    font-size: var(--ts-font-size-17px);
}

/**
 * Dense
 */

.ts-tab.is-dense .item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.ts-tab.is-dense.is-segmented .item {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.ts-tab.is-dense.is-pilled .item {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}
