@import "./reboot.css";
@import "./button.css";
@import "./icons.css";
@import "./icon.css";
@import "./divider.css";
@import "./input.css";
@import "./file.css";
@import "./notice.css";
@import "./checkbox.css";
@import "./radio.css";
@import "./progress.css";
@import "./badge.css";
@import "./pagination.css";
@import "./space.css";
@import "./select.css";
@import "./fieldset.css";
@import "./text.css";
@import "./row.css";
@import "./tab.css";
@import "./center.css";
@import "./box.css";
@import "./content.css";
@import "./image.css";
@import "./switch.css";
@import "./meta.css";
@import "./selection.css";
@import "./table.css";
@import "./procedure.css";
@import "./grid.css";
@import "./rating.css";
@import "./chip.css";
@import "./close.css";
@import "./loading.css";
@import "./breadcrumb.css";
@import "./list.css";
@import "./flag.css";
@import "./statistic.css";
@import "./app-sidebar.css";
@import "./app-navbar.css";
@import "./snackbar.css";
@import "./accordion.css";
@import "./notification.css";
@import "./mask.css";
@import "./placeholder.css";
@import "./header.css";
@import "./segment.css";
@import "./quote.css";
@import "./app-layout.css";
@import "./combo.css";
@import "./avatar.css";
@import "./wrap.css";
@import "./container.css";
@import "./control.css";
@import "./menu.css";
@import "./checklist.css";
@import "./imageset.css";
@import "./iconset.css";
@import "./app-statusbar.css";
@import "./conversation.css";
@import "./modal.css";
@import "./gauge.css";

/* ==========================================================================
   Variables
   ========================================================================== */

html {
    --ts-white: #fff;
    --ts-black: #333;

    --ts-light-gray-50: rgb(255, 255, 255);
    --ts-light-gray-75: rgb(250, 250, 250);
    --ts-light-gray-100: rgb(242, 242, 242);
    --ts-light-gray-200: rgb(238, 238, 238);
    --ts-light-gray-300: rgb(225, 225, 225);
    --ts-light-gray-400: rgb(215, 215, 215);
    --ts-light-gray-500: rgb(120, 120, 120);
    --ts-light-gray-600: rgb(90, 90, 90);
    --ts-light-gray-700: rgb(70, 70, 70);
    --ts-light-gray-800: rgb(55, 55, 55);
    --ts-light-gray-900: rgb(48, 48, 48);

    --ts-dark-gray-50: rgb(30, 30, 30);
    --ts-dark-gray-75: rgb(35, 35, 35);
    --ts-dark-gray-100: rgb(42, 42, 42);
    --ts-dark-gray-200: rgb(47, 47, 47);
    --ts-dark-gray-300: rgb(62, 62, 62);
    --ts-dark-gray-400: rgb(80, 80, 80);
    --ts-dark-gray-500: rgb(180, 180, 180);
    --ts-dark-gray-600: rgb(220, 220, 220);
    --ts-dark-gray-700: rgb(245, 245, 245);
    --ts-dark-gray-800: rgb(250, 250, 250);
    --ts-dark-gray-900: rgb(255, 255, 255);

    --ts-static-gray-50: var(--ts-light-gray-50);
    --ts-static-gray-75: var(--ts-light-gray-75);
    --ts-static-gray-100: var(--ts-light-gray-100);
    --ts-static-gray-200: var(--ts-light-gray-200);
    --ts-static-gray-300: var(--ts-light-gray-300);
    --ts-static-gray-400: var(--ts-light-gray-400);
    --ts-static-gray-500: var(--ts-light-gray-500);
    --ts-static-gray-600: var(--ts-light-gray-600);
    --ts-static-gray-700: var(--ts-light-gray-700);
    --ts-static-gray-800: var(--ts-light-gray-800);
    --ts-static-gray-900: var(--ts-light-gray-900);

    --ts-static-primary-400: #40a9ff;
    --ts-static-primary-500: #1890ff;
    --ts-static-primary-600: #096dd9;
    --ts-static-primary-700: #0050b3;
    --ts-static-primary-800: #003a8c;
    --ts-static-primary-900: #002766;

    --ts-static-warning-400: #ffec3d;
    --ts-static-warning-500: #fadb14;
    --ts-static-warning-600: #d4b106;
    --ts-static-warning-700: #ad8b00;
    --ts-static-warning-800: #876800;
    --ts-static-warning-900: #614700;

    --ts-static-positive-400: #73d13d;
    --ts-static-positive-500: #52c41a;
    --ts-static-positive-600: #389e0d;
    --ts-static-positive-700: #237804;
    --ts-static-positive-800: #135200;
    --ts-static-positive-900: #092b00;

    --ts-static-negative-400: #ff4d4f;
    --ts-static-negative-500: #f5222d;
    --ts-static-negative-600: #cf1322;
    --ts-static-negative-700: #a8071a;
    --ts-static-negative-800: #820014;
    --ts-static-negative-900: #5c0011;

    --ts-primary-400: #40a9ff;
    --ts-primary-500: #1890ff;
    --ts-primary-600: #096dd9;
    --ts-primary-700: #0050b3;
    --ts-primary-800: #003a8c;
    --ts-primary-900: #002766;

    --ts-link-700: #0050b3;

    --ts-warning-400: #ffec3d;
    --ts-warning-500: #fadb14;
    --ts-warning-600: #d4b106;
    --ts-warning-700: #ad8b00;
    --ts-warning-800: #876800;
    --ts-warning-900: #614700;

    --ts-positive-400: #73d13d;
    --ts-positive-500: #52c41a;
    --ts-positive-600: #389e0d;
    --ts-positive-700: #237804;
    --ts-positive-800: #135200;
    --ts-positive-900: #092b00;

    --ts-negative-400: #ff4d4f;
    --ts-negative-500: #f5222d;
    --ts-negative-600: #cf1322;
    --ts-negative-700: #a8071a;
    --ts-negative-800: #820014;
    --ts-negative-900: #5c0011;
}

/**
 * Sizes
 */

html {
    --ts-font-size-mini: calc(12 / 15 * 1rem);
    --ts-font-size-tiny: calc(13 / 15 * 1rem);
    --ts-font-size-small: calc(14 / 15 * 1rem);
    --ts-font-size-medium: calc(15 / 15 * 1rem);
    --ts-font-size-large: calc(18 / 15 * 1rem);
    --ts-font-size-big: calc(20 / 15 * 1rem);
    --ts-font-size-huge: calc(24 / 15 * 1rem);
    --ts-font-size-massive: calc(30 / 15 * 1rem);

    --ts-font-size-12px: calc(12 / 15 * 1rem);
    --ts-font-size-13px: calc(13 / 15 * 1rem);
    --ts-font-size-14px: calc(14 / 15 * 1rem);
    --ts-font-size-15px: calc(15 / 15 * 1rem);
    --ts-font-size-16px: calc(16 / 15 * 1rem);
    --ts-font-size-17px: calc(17 / 15 * 1rem);
    --ts-font-size-18px: calc(18 / 15 * 1rem);
    --ts-font-size-20px: calc(20 / 15 * 1rem);
    --ts-font-size-24px: calc(24 / 15 * 1rem);
    --ts-font-size-25px: calc(25 / 15 * 1rem);
    --ts-font-size-30px: calc(30 / 15 * 1rem);
    --ts-font-size-33px: calc(33 / 15 * 1rem);
    --ts-font-size-38px: calc(38 / 15 * 1rem);
    --ts-font-size-45px: calc(45 / 15 * 1rem);
    --ts-font-size-75px: calc(75 / 15 * 1rem);

    --ts-absolute-mini: calc(12 / 15 * 1rem);
    --ts-absolute-tiny: calc(13 / 15 * 1rem);
    --ts-absolute-small: calc(14 / 15 * 1rem);
    --ts-absolute-medium: calc(15 / 15 * 1rem);
    --ts-absolute-large: calc(18 / 15 * 1rem);
    --ts-absolute-big: calc(20 / 15 * 1rem);
    --ts-absolute-huge: calc(24 / 15 * 1rem);
    --ts-absolute-massive: calc(30 / 15 * 1rem);

    --ts-relative-mini: calc(12 / 15 * 1em);
    --ts-relative-tiny: calc(13 / 15 * 1em);
    --ts-relative-small: calc(14 / 15 * 1em);
    --ts-relative-medium: calc(15 / 15 * 1em);
    --ts-relative-large: calc(18 / 15 * 1em);
    --ts-relative-big: calc(20 / 15 * 1em);
    --ts-relative-huge: calc(24 / 15 * 1em);
    --ts-relative-massive: calc(30 / 15 * 1em);
}

/* ==========================================================================
   Color Schemes
   ========================================================================== */

/**
 * Light
 */

html,
html[data-scheme="light"],
.is-light,
html[data-scheme="dark"] .is-inverted {
    --ts-gray-50: var(--ts-light-gray-50);
    --ts-gray-75: var(--ts-light-gray-75);
    --ts-gray-100: var(--ts-light-gray-100);
    --ts-gray-200: var(--ts-light-gray-200);
    --ts-gray-300: var(--ts-light-gray-300);
    --ts-gray-400: var(--ts-light-gray-400);
    --ts-gray-500: var(--ts-light-gray-500);
    --ts-gray-600: var(--ts-light-gray-600);
    --ts-gray-700: var(--ts-light-gray-700);
    --ts-gray-800: var(--ts-light-gray-800);
    --ts-gray-900: var(--ts-light-gray-900);

    --ts-tonal-positive-400: #cdffbe;
    --ts-tonal-positive-800: #357016;

    --ts-tonal-negative-400: #ffbebe;
    --ts-tonal-negative-800: #701616;
}

html[data-scheme="light"] .is-inverted,
.is-inverted,
html[data-scheme="dark"],
.is-dark {
    --ts-gray-50: var(--ts-dark-gray-50);
    --ts-gray-75: var(--ts-dark-gray-75);
    --ts-gray-100: var(--ts-dark-gray-100);
    --ts-gray-200: var(--ts-dark-gray-200);
    --ts-gray-300: var(--ts-dark-gray-300);
    --ts-gray-400: var(--ts-dark-gray-400);
    --ts-gray-500: var(--ts-dark-gray-500);
    --ts-gray-600: var(--ts-dark-gray-600);
    --ts-gray-700: var(--ts-dark-gray-700);
    --ts-gray-800: var(--ts-dark-gray-800);
    --ts-gray-900: var(--ts-dark-gray-900);

    --ts-tonal-positive-400: #92d34f;
    --ts-tonal-positive-800: #0e4600;

    --ts-tonal-negative-400: #d60000;
    --ts-tonal-negative-800: #fff;
}

html[data-scheme="light"] .is-dark-only,
html[data-scheme="dark"] .is-light-only {
    display: none;
}

@media (prefers-color-scheme: light) {
    .is-dark-only {
        display: none;
    }
}

/**
 * Dark
 */

@media (prefers-color-scheme: dark) {
    .is-light-only {
        display: none;
    }
    html {
        --ts-gray-50: var(--ts-dark-gray-50);
        --ts-gray-75: var(--ts-dark-gray-75);
        --ts-gray-100: var(--ts-dark-gray-100);
        --ts-gray-200: var(--ts-dark-gray-200);
        --ts-gray-300: var(--ts-dark-gray-300);
        --ts-gray-400: var(--ts-dark-gray-400);
        --ts-gray-500: var(--ts-dark-gray-500);
        --ts-gray-600: var(--ts-dark-gray-600);
        --ts-gray-700: var(--ts-dark-gray-700);
        --ts-gray-800: var(--ts-dark-gray-800);
        --ts-gray-900: var(--ts-dark-gray-900);

        --ts-primary-400: #40a9ff;
        --ts-primary-500: #2492f7;
        --ts-primary-600: #2282e9;
        --ts-primary-700: #0e52a5;
        --ts-primary-800: #003a8c;
        --ts-primary-900: #002766;

        --ts-link-700: #8887ff;

        --ts-tonal-positive-400: #92d34f;
        --ts-tonal-positive-800: #0e4600;

        --ts-tonal-negative-400: #d60000;
        --ts-tonal-negative-800: #fff;
    }
    .is-inverted {
        --ts-gray-50: var(--ts-light-gray-50);
        --ts-gray-75: var(--ts-light-gray-75);
        --ts-gray-100: var(--ts-light-gray-100);
        --ts-gray-200: var(--ts-light-gray-200);
        --ts-gray-300: var(--ts-light-gray-300);
        --ts-gray-400: var(--ts-light-gray-400);
        --ts-gray-500: var(--ts-light-gray-500);
        --ts-gray-600: var(--ts-light-gray-600);
        --ts-gray-700: var(--ts-light-gray-700);
        --ts-gray-800: var(--ts-light-gray-800);
        --ts-gray-900: var(--ts-light-gray-900);

        --ts-tonal-positive-400: #cdffbe;
        --ts-tonal-positive-800: #357016;

        --ts-tonal-negative-400: #ffbebe;
        --ts-tonal-negative-800: #701616;
    }
}

/* ==========================================================================
   Scales
   ========================================================================== */

html[data-scale="small"],
html[data-scale="small"] body {
    font-size: 14px;
}

html[data-scale="large"],
html[data-scale="large"] body {
    font-size: 16px;
}

/* ==========================================================================
   Background Color
   ========================================================================== */

html[data-background="secondary"],
html[data-background="secondary"] body {
    background-color: var(--ts-gray-75);
}

/* ==========================================================================
   Responsive
   ========================================================================== */

/**
 * Minimal
 * (Below 768px)
 */

@media screen and (max-width: 768px) {
    .is-standard-only,
    .is-maximal-only {
        display: none !important;
    }

    .is-not-minimal {
        display: none !important;
    }
}

/**
 * Not Minimal
 * (Above 768px)
 */

@media screen and (min-width: 768px) {
    .is-minimal-only {
        display: none !important;
    }
}

/**
 * Minimal & Standard
 * (Below 993px)
 */

@media screen and (max-width: 993px) {
    .is-maximal-only {
        display: none !important;
    }
}

/**
 * Standard
 * (Above 768px & Below 993px)
 */

@media screen and (min-width: 768px) and (max-width: 993px) {
    .is-not-standard {
        display: none !important;
    }
}

/**
 * Maximal
 * (Above 993px)
 */

@media screen and (min-width: 993px) {
    .is-minimal-only,
    .is-standard-only {
        display: none !important;
    }

    .is-not-maximal {
        display: none !important;
    }
}
