@import ./space.variables

// ==========================================================================
// Base
// ==========================================================================

.ts.space
    display   : block
    visibility: hidden
    height    : var(--ts_space-gap)
    margin    : 0

    // ==========================================================================
    // Variations
    // ==========================================================================

    //-------------------//
    // Size
    //-------------------//

    &.-mini
        --ts_space-gap: #{$space-gap_mini}
    &.-tiny
        --ts_space-gap: #{$space-gap_tiny}
    &.-small
        --ts_space-gap: #{$space-gap_small}
    &.-large
        --ts_space-gap: #{$space-gap_large}
    &.-big
        --ts_space-gap: #{$space-gap_big}
    &.-huge
        --ts_space-gap: #{$space-gap_huge}
    &.-massive
        --ts_space-gap: #{$space-gap_massive}

    //-------------------//
    // Horizontal
    //-------------------//

    &.-horizontal
        display: inline-block
        height : auto
        width  : var(--ts_space-gap)
