@import "./icon.variables.css";
@import "./icon.map.css";

/* ==========================================================================
   Animation
   ========================================================================== */

@keyframes icon-spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ==========================================================================
   Base
   ========================================================================== */

i.ts.icon {
    font-family           : "Icons";
    font-weight           : normal;
    font-style            : normal;
    display               : inline-block;
    text-decoration       : none;
    text-align            : center;
    width                 : 1.18em;
    /*margin-right          : var(--distance-icon);*/
    -webkit-font-smoothing: antialiased;
    backface-visibility   : hidden;
    /*font-size           : var(--font-size);
    color                 : rgb(var(--color));*/
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: "Icons";
    src        : url("./../../fonts/icons/fa-solid-900.eot");
    src        : url("./../../fonts/icons/fa-solid-900.eot?#iefix") format("embedded-opentype"),
        url("./../../fonts/icons/fa-solid-900.woff2") format("woff2"),
        url("./../../fonts/icons/fa-solid-900.woff") format("woff"),
        url("./../../fonts/icons/fa-solid-900.ttf") format("truetype"),
        url("./../../fonts/icons/fa-solid-900.svg#fontawesome") format("svg");
    font-style     : normal;
    font-weight    : normal;
    font-variant   : normal;
    text-decoration: inherit;
    text-transform : none;
}

@font-face {
    font-family: "IconsBrands";
    src        : url("./../../fonts/icons/fa-brands-400.eot");
    src        : url("./../../fonts/icons/fa-brands-400.eot?#iefix") format("embedded-opentype"),
        url("./../../fonts/icons/fa-brands-400.woff2") format("woff2"),
        url("./../../fonts/icons/fa-brands-400.woff") format("woff"),
        url("./../../fonts/icons/fa-brands-400.ttf") format("truetype"),
        url("./../../fonts/icons/fa-brands-400.svg#fontawesome") format("svg");
    font-style     : normal;
    font-weight    : normal;
    font-variant   : normal;
    text-decoration: inherit;
    text-transform : none;
}

@font-face {
    font-family: "IconsRegular";
    src        : url("./../../fonts/icons/fa-regular-400.eot");
    src        : url("./../../fonts/icons/fa-regular-400.eot?#iefix") format("embedded-opentype"),
        url("./../../fonts/icons/fa-regular-400.woff2") format("woff2"),
        url("./../../fonts/icons/fa-regular-400.woff") format("woff"),
        url("./../../fonts/icons/fa-regular-400.ttf") format("truetype"),
        url("./../../fonts/icons/fa-regular-400.svg#fontawesome") format("svg");
    font-style     : normal;
    font-weight    : normal;
    font-variant   : normal;
    text-decoration: inherit;
    text-transform : none;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Sizes
 */

.ts.icon.-mini {
    font-size: 0.8125rem;
}

.ts.icon.-tiny {
    font-size: 0.875rem;
}

.ts.icon.-small {
    font-size: 0.9375rem;
}

.ts.icon.-large {
    font-size: 1.3rem;
}

.ts.icon.-big {
    font-size: 2.5rem;
}

.ts.icon.-huge {
    font-size: 4rem;
}

.ts.icon.-massive {
    font-size: 6rem;
}

/**
 * Flipped
 */

.ts.icon.-horizontally-flipped {
    transform: scale(-1, 1);
}

.ts.icon.-vertically-flipped {
    transform: scale(1, -1);
}

/**
 * Rotated
 */

.ts.icon.-right-rotated,
.ts.icon.-clockwise-rotated {
    transform: rotate(90deg);
}

.ts.icon.-left-rotated,
.ts.icon.-counterclockwise-rotated {
    transform: rotate(-90deg);
}

/**
 * Disabled
 */

.ts.icon.-disabled {
    opacity: var(--ts-icon_disabled-opacity);
}

/**
 * Spaced
 */

.ts.icon.-left-spaced {
    margin-left : var(--ts-icon_distance-icon);
    margin-right: 0;
}

.ts.icon.-right-spaced {
    margin-left : 0;
    margin-right: var(--ts-icon_distance-icon);
}

.ts.icon.-spaced {
    margin-left : var(--ts-icon_distance-icon);
    margin-right: var(--ts-icon_distance-icon);
}

/**
 * Spinning
 */

.ts.icon.-spinning {
    height     : 1em;
    line-height: 1;
    animation  : icon-spinning 1.8s linear infinite;
}

/**
 * Fitted
 */

.ts.icon.-fitted {
    width : auto;
    margin: 0 !important;
}

/**
 * Circular
 */

.ts.icon.-circular {
    border-radius: var(--ts-icon_border-radius-circular);
}

.ts.icon.-circular,
.ts.icon.-bordered,
.ts.icon.-rounded {
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    line-height    : 1 !important;
    box-sizing     : border-box;
    padding        : 0.5em !important;
    width          : 1.85em !important;
    height         : 1.85em !important;
    vertical-align : baseline;
    box-shadow     : 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
}

/**
 * Bordered
 */

.ts.icon.-bordered {
}

/**
 * Rounded
 */

.ts.icon.-rounded {
    border-radius: var(--ts-icon_border-radius);
}
