/* ==========================================================================
   Default
   ========================================================================== */

:root {
    --ts-global_gray-50 : 255, 255, 255;
    --ts-global_gray-75 : 250, 250, 250;
    --ts-global_gray-100: 245, 245, 245;
    --ts-global_gray-200: 234, 234, 234;
    --ts-global_gray-300: 225, 225, 225;
    --ts-global_gray-400: 202, 202, 202;
    --ts-global_gray-500: 179, 179, 179;
    --ts-global_gray-600: 142, 142, 142;
    --ts-global_gray-700: 110, 110, 110;
    --ts-global_gray-800: 75, 75, 75;
    --ts-global_gray-900: 44, 44, 44;

    --ts-global_static-gray-50 : 255, 255, 255;
    --ts-global_static-gray-75 : 250, 250, 250;
    --ts-global_static-gray-100: 245, 245, 245;
    --ts-global_static-gray-200: 234, 234, 234;
    --ts-global_static-gray-300: 225, 225, 225;
    --ts-global_static-gray-400: 202, 202, 202;
    --ts-global_static-gray-500: 179, 179, 179;
    --ts-global_static-gray-600: 142, 142, 142;
    --ts-global_static-gray-700: 110, 110, 110;
    --ts-global_static-gray-800: 75, 75, 75;
    --ts-global_static-gray-900: 44, 44, 44;
}

/** @media (prefers-color-scheme: dark) { */
[data-emphasis="inverted"] {
    --ts-global_gray-50 : 44, 44, 44;
    --ts-global_gray-75 : 75, 75, 75;
    --ts-global_gray-100: 110, 110, 110;
    --ts-global_gray-200: 142, 142, 142;
    --ts-global_gray-300: 179, 179, 179;
    --ts-global_gray-400: 202, 202, 202;
    --ts-global_gray-500: 225, 225, 225;
    --ts-global_gray-600: 234, 234, 234;
    --ts-global_gray-700: 245, 245, 245;
    --ts-global_gray-800: 250, 250, 250;
    --ts-global_gray-900: 255, 255, 255;
}

/**
 * Lightest
 */

[data-scheme="lightest"] {
    --ts-global_gray-50 : 255, 255, 255;
    --ts-global_gray-75 : 250, 250, 250;
    --ts-global_gray-100: 245, 245, 245;
    --ts-global_gray-200: 234, 234, 234;
    --ts-global_gray-300: 225, 225, 225;
    --ts-global_gray-400: 202, 202, 202;
    --ts-global_gray-500: 179, 179, 179;
    --ts-global_gray-600: 142, 142, 142;
    --ts-global_gray-700: 110, 110, 110;
    --ts-global_gray-800: 75, 75, 75;
    --ts-global_gray-900: 44, 44, 44;
}

/**
 * Light
 */

[data-scheme="light"] {
    --ts-global_gray-50 : 255, 255, 255;
    --ts-global_gray-75 : 250, 250, 250;
    --ts-global_gray-100: 245, 245, 245;
    --ts-global_gray-200: 234, 234, 234;
    --ts-global_gray-300: 225, 225, 225;
    --ts-global_gray-400: 202, 202, 202;
    --ts-global_gray-500: 179, 179, 179;
    --ts-global_gray-600: 142, 142, 142;
    --ts-global_gray-700: 110, 110, 110;
    --ts-global_gray-800: 75, 75, 75;
    --ts-global_gray-900: 44, 44, 44;

    --ts-global-alias_gray-50 : initial;
    --ts-global-alias_gray-75 : initial;
    --ts-global-alias_gray-100: initial;
    --ts-global-alias_gray-200: initial;
    --ts-global-alias_gray-300: initial;
    --ts-global-alias_gray-400: initial;
    --ts-global-alias_gray-500: initial;
    --ts-global-alias_gray-600: initial;
    --ts-global-alias_gray-700: initial;
    --ts-global-alias_gray-800: initial;
    --ts-global-alias_gray-900: initial;
}

/**
 * Dark
 */

[data-scheme="dark"] {
    --ts-global_gray-50 : 44, 44, 44;
    --ts-global_gray-75 : 75, 75, 75;
    --ts-global_gray-100: 110, 110, 110;
    --ts-global_gray-200: 142, 142, 142;
    --ts-global_gray-300: 179, 179, 179;
    --ts-global_gray-400: 202, 202, 202;
    --ts-global_gray-500: 225, 225, 225;
    --ts-global_gray-600: 234, 234, 234;
    --ts-global_gray-700: 245, 245, 245;
    --ts-global_gray-800: 250, 250, 250;
    --ts-global_gray-900: 255, 255, 255;
}

/**
 * Darkest
 */

[data-scheme="darkest"] {
    --ts-global_gray-50 : 44, 44, 44;
    --ts-global_gray-75 : 75, 75, 75;
    --ts-global_gray-100: 110, 110, 110;
    --ts-global_gray-200: 142, 142, 142;
    --ts-global_gray-300: 179, 179, 179;
    --ts-global_gray-400: 202, 202, 202;
    --ts-global_gray-500: 225, 225, 225;
    --ts-global_gray-600: 234, 234, 234;
    --ts-global_gray-700: 245, 245, 245;
    --ts-global_gray-800: 250, 250, 250;
    --ts-global_gray-900: 255, 255, 255;
}

/* ==========================================================================
   Emphasises
   ========================================================================== */

:root {
    /**
     * Primary
     */

    --ts-global_primary-50 : 255, 255, 255;
    --ts-global_primary-75 : 239, 248, 254;
    --ts-global_primary-100: 226, 242, 253;
    --ts-global_primary-200: 193, 227, 250;
    --ts-global_primary-300: 166, 215, 248;
    --ts-global_primary-400: 99, 186, 243;
    --ts-global_primary-500: 32, 156, 238;
    --ts-global_primary-600: 29, 140, 214;
    --ts-global_primary-700: 25, 124, 189;
    --ts-global_primary-800: 20, 96, 146;
    --ts-global_primary-900: 13, 66, 100;

    /**
     * Warning
     */

    --ts-global_warning-50 : 255, 255, 255;
    --ts-global_warning-75 : 255, 253, 243;
    --ts-global_warning-100: 255, 251, 233;
    --ts-global_warning-200: 255, 245, 208;
    --ts-global_warning-300: 255, 241, 188;
    --ts-global_warning-400: 255, 231, 137;
    --ts-global_warning-500: 255, 221, 87;
    --ts-global_warning-600: 240, 208, 82;
    --ts-global_warning-700: 203, 176, 69;
    --ts-global_warning-800: 157, 136, 54;
    --ts-global_warning-900: 107, 93, 37;

    /**
     * Negative
     */

    --ts-global_negative-50 : 255, 255, 255;
    --ts-global_negative-75 : 255, 241, 244;
    --ts-global_negative-100: 255, 229, 234;
    --ts-global_negative-200: 255, 199, 210;
    --ts-global_negative-300: 255, 175, 191;
    --ts-global_negative-400: 255, 116, 144;
    --ts-global_negative-500: 255, 56, 96;
    --ts-global_negative-600: 230, 50, 86;
    --ts-global_negative-700: 203, 45, 76;
    --ts-global_negative-800: 157, 34, 59;
    --ts-global_negative-900: 107, 24, 40;

    /**
     * Positive
     */

    --ts-global_positive-50: 255, 255, 255;
    --ts-global_positive-75: 242, 251, 245;
    --ts-global_positive-100: 231, 248, 237;
    --ts-global_positive-200: 204, 239, 216;
    --ts-global_positive-300: 182, 233, 199;
    --ts-global_positive-400: 127, 216, 158;
    --ts-global_positive-500: 72, 199, 116;
    --ts-global_positive-600: 65, 179, 104;
    --ts-global_positive-700: 57, 158, 92;
    --ts-global_positive-800: 44, 122, 71;
    --ts-global_positive-900: 30, 84, 49;
}

/* ==========================================================================
   Outdated
   ========================================================================== */

:root {
    /**
     * Block
     */

    --default__background-color                : 255, 255, 255;
    --default__border-color                    : 240, 240, 240;
    --default__border-hover-color              : 204, 204, 204;
    --default__border-disabled-color           : 239, 239, 239;
    --default__border-focus-color              : 16, 126, 164;
    --default__outline-focus-color             : 168, 216, 233;
    --default__background-secondary-color      : 247, 247, 247;
    --default__background-secondary-hover-color: 238, 238, 238;
    --default__background-tertiary-color       : 238, 238, 238;
    --default__background-tertiary-hover-color : 224, 224, 224;
    --default__line-color                      : 204, 204, 204;
    --default__divider-color                   : 238, 238, 238;
    --default__border-indicated-color          : 51, 51, 51;
    --default__shadow-raised-color             : 220, 220, 220;
    --default__border-emphasized-color         : 238, 238, 238;
    --default__border-selected-color           : 30, 127, 203;
    --default__divider-emphasized-color        : 238, 238, 238;

    /**
     * Typography
     */

    --default__symbol-color           : 204, 204, 204;
    --default__color                  : 51, 51, 51;
    --default__stepped-color          : 119, 119, 119;
    --default__description-color      : 119, 119, 119;
    --default__description-hover-color: 139, 139, 139;
    --default__placeholder-color      : 153, 153, 153;
    --default__disabled-color         : 153, 153, 153;
    --default__active-color           : 10, 8, 8;
    --default__link-color             : 74, 76, 255;
    --default__link-hover-color       : 8, 68, 89;

    /**
     * Emphasized
     */

    --default__emphasized_background-color                : 240, 240, 240;
    --default__emphasized_background-hover-color          : 238, 238, 238;
    --default__emphasized_background-secondary-color      : 238, 238, 238;
    --default__emphasized_background-secondary-hover-color: 224, 224, 224;
    --default__emphasized_background-disabled-color       : 240, 240, 240;
    --default__emphasized_disabled-color                  : 153, 153, 153;
    --default__emphasized_color                           : 51, 51, 51;
    --default__emphasized_hover-color                     : 85, 85, 85;
    --default__emphasized_border-color                    : 233, 233, 233;
    --default__emphasized_border-hover-color              : 204, 204, 204;
    --default__emphasized_border-focus-color              : 16, 126, 164;

    /**
     * Loader
     */

    --default__loader-background-color: 230, 230, 230;
    --default__loader-line-color      : 150, 150, 150;
}
