@use "./../../styles/libraries/colors"     as *
@use "./../../styles/libraries/properties" as *

:root
    +var-scope(divider)

:host
    +define(color        , get-current-foreground-color(600))
    +define(divider-color, get-current-foreground-color(300))
    +define(gap          , 1rem)
    +define(thickness    , 1px)
    +define(font-weight  , normal)
    +define(font-size    , absolute-size(medium))

.ts-divider
    @extend %component

    font-weight  : get(font-weight)
    font-size    : get(font-size)
    color        : get(color)
    margin-top   : get(gap)
    margin-bottom: get(gap)

    &--secondary
        margin-left : auto
        margin-right: auto
        width       : 80%

    &--hidden
        visibility: hidden

    &--fitted
        +override(gap, 0)

    &--clearing
        clear: both

    &--start-aligned
        .ts-divider__text__start
            display: none
    &--center-aligned
    &--end-aligned
        .ts-divider__text__end
            display: none

    &--section
        +override(gap, 3rem)

    &--thick
        +override(thickness, 3px)

    &--thicker
        +override(thickness, 5px)

    &--heading
        +override(font-weight, bold)
        +override(color      , get-current-foreground-color(900))

    &--tiny
        +override(font-size, absolute-size(tiny))

    &--small
        +override(font-size, absolute-size(small))

    &--large
        +override(font-size, absolute-size(large))

    &--big
        +override(font-size, absolute-size(big))

.ts-divider
    &__text
        display    : flex
        align-items: center

        &__start,
        &__end
            flex: 1

        &__start
            margin-inline-end: 1rem

        &__end
            margin-inline-start: 1rem

        &__line
            border-bottom: get(thickness) solid get(divider-color)

    &__line
        border-bottom: get(thickness) solid get(divider-color)