// + Basic
p This is a text for checking divider margin.
.ts.divider
p This is a text for checking divider margin.

// + Secondary
p This is a text for checking divider margin.
.ts.secondary.divider
p This is a text for checking divider margin.

// + Hidden
p This is a text for checking divider margin.
.ts.hidden.divider
p This is a text for checking divider margin.

// + Section
p This is a text for checking divider margin.
.ts.section.divider
p This is a text for checking divider margin.

// + Fitted
p This is a text for checking divider margin.
.ts.fitted.divider
p This is a text for checking divider margin.

// + Horizontal
p This is a text for checking divider margin.
.ts.horizontal.divider Horizontal Divider
p This is a text for checking divider margin.

// + Inverted
.ts.inverted.segment
    p This is a text for checking divider margin.
    .ts.inverted.divider
    p This is a text for checking divider margin.

// + Inverted Horizontal
.ts.inverted.segment
    p This is a text for checking divider margin.
    .ts.inverted.horizontal.divider Horizontal Divider
    p This is a text for checking divider margin.

// + Vertical
.ts.grid
    .column This is a text for checking divider margin, This is a text for checking divider margin. This is a text for checking divider margin, This is a text for checking divider margin.
    .ts.vertical.divider Divider
    .column This is a text for checking divider margin, This is a text for checking divider margin. This is a text for checking divider margin, This is a text for checking divider margin.