$icon_height: 1em
$icon_width : 1.18em

$icon_borderRadius: $defaultBorderRadius

//-------------------//
//       Corner
//-------------------//

$icon_cornerIconSize              : 0.5em
$icon_cornerIconStroke            : 1.3px
$icon_cornerIconTextShadow        : -#{$icon_cornerIconStroke} -#{$icon_cornerIconStroke} 0 #FFF, $icon_cornerIconStroke -#{$icon_cornerIconStroke} 0 #FFF, -#{$icon_cornerIconStroke}  $icon_cornerIconStroke 0 #FFF, $icon_cornerIconStroke  $icon_cornerIconStroke 0 #FFF
$icon_cornerIconInvertedTextShadow: -#{$icon_cornerIconStroke} -#{$icon_cornerIconStroke} 0 #000, $icon_cornerIconStroke -#{$icon_cornerIconStroke} 0 #000, -#{$icon_cornerIconStroke}  $icon_cornerIconStroke 0 #000, $icon_cornerIconStroke  $icon_cornerIconStroke 0 #000

//-------------------//
//       Sizes
//-------------------//

$icon_mini   : 0.4em
$icon_tiny   : 0.5em
$icon_small  : 0.75em
$icon_medium : 1em
$icon_large  : 1.5em
$icon_big    : 2.5em
$icon_huge   : 4em
$icon_massive: 8em

//-------------------//
//      Bordered
//-------------------//

$icon_borderedSize             : 2em
$icon_borderedVerticalPadding  : calc((#{$icon_borderedSize} - #{$icon_height}) / 2)
$icon_borderedHorizontalPadding: calc((#{$icon_borderedSize} - #{$icon_width}) / 2)
$icon_borderedShadow           : 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset

//-------------------//
//      Loading
//-------------------//

$icon_loadingDuration    : 1.8s
$icon_loadingEaseDuration: 1.4s

//-------------------//
//      Circular
//-------------------//

$icon_circularPadding: 0.5em 0em
$icon_circularShadow : 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset
$icon_circularSize   : 2em

//-------------------//
//      Emphasis
//-------------------//

$icon_negativeBorderColor            : nth($negative, 6)
$icon_negativeTextColor              : nth($negative, 6)
$icon_invertedNegativeBackgroundColor: nth($negative, 6)
$icon_invertedNegativeTextColor      : $white

$icon_positiveBorderColor            : nth($positive, 6)
$icon_positiveTextColor              : nth($positive, 6)
$icon_invertedPositiveBackgroundColor: nth($positive, 6)
$icon_invertedPositiveTextColor      : $white

$icon_primaryBorderColor            : nth($primary, 6)
$icon_primaryTextColor              : nth($primary, 6)
$icon_invertedPrimaryBackgroundColor: nth($primary, 6)
$icon_invertedPrimaryTextColor      : $white

$icon_infoBorderColor            : nth($info, 6)
$icon_infoTextColor              : nth($info, 6)
$icon_invertedInfoBackgroundColor: nth($info, 6)
$icon_invertedInfoTextColor      : $white

$icon_warningBorderColor            : nth($warning, 6)
$icon_warningTextColor              : nth($warning, 6)
$icon_invertedWarningBackgroundColor: nth($warning, 6)
$icon_invertedWarningTextColor      : nth($warning, 9)

$icon_invertedBackgroundColor     : nth($inverted, 6)
$icon_invertedBorderColor         : nth($inverted, 5)
$icon_invertedTextColor           : nth($inverted, 1)
$icon_basicInvertedBackgroundColor: nth($inverted, 6)
$icon_basicInvertedBorderColor    : nth($inverted, 1)
$icon_basicInvertedTextColor      : nth($inverted, 1)