/* ==========================================================================
   Variables
   ========================================================================== */

.ts-avatar {
    --accent-color: initial;
    --accent-foreground-color: initial;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-avatar {
    display: inline-flex;
    width: 32px;
    height: 32px;
    border-radius: 0.4rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    overflow: hidden;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-avatar img {
    width: 100%;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Circular
 */

.ts-avatar.is-circular,
.ts-avatar.is-circular img {
    border-radius: 100rem;
}

/**
 * Text
 */

.ts-avatar.is-text {
    background: var(--accent-color, var(--ts-gray-200));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-foreground-color, var(--ts-gray-600));
    font-weight: 500;
    font-size: 1.1rem;
}

/**
 * Bordered
 */

.ts-avatar.is-bordered {
    border-color: var(--ts-gray-300);
}

/**
 * Group
 */

.ts-avatar.is-group {
    height: initial;
    width: initial;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.ts-avatar.is-group .ts-avatar:not(:last-child) {
    margin-inline-start: -0.6rem;
}

/**
 * Sizes
 */

.ts-avatar.is-small {
    width: 24px;
    height: 24px;
}
.ts-avatar.is-large {
    width: 48px;
    height: 48px;
}
