/* ==========================================================================
   Color Schemes
   ========================================================================== */

html[data-scheme="light"],
.is-light,
html[data-scheme="dark"] .is-inverted {
    color-scheme: light;

    --ts-gray-50: var(--ts-light-gray-50);
    --ts-gray-75: var(--ts-light-gray-75);
    --ts-gray-100: var(--ts-light-gray-100);
    --ts-gray-200: var(--ts-light-gray-200);
    --ts-gray-300: var(--ts-light-gray-300);
    --ts-gray-400: var(--ts-light-gray-400);
    --ts-gray-500: var(--ts-light-gray-500);
    --ts-gray-600: var(--ts-light-gray-600);
    --ts-gray-700: var(--ts-light-gray-700);
    --ts-gray-800: var(--ts-light-gray-800);
    --ts-gray-900: var(--ts-light-gray-900);

    --ts-tonal-positive-400: #cdffbe;
    --ts-tonal-positive-800: #357016;

    --ts-tonal-negative-400: #ffbebe;
    --ts-tonal-negative-800: #701616;

    --ts-tonal-primary-400: #d9edff;
    --ts-tonal-primary-800: #005cde;

    --ts-tonal-warning-400: #fff7ae;
    --ts-tonal-warning-800: #866800;
}

html[data-scheme="light"] .is-inverted,
.is-inverted,
html[data-scheme="dark"],
.is-dark {
    color-scheme: dark;

    --ts-gray-50: var(--ts-dark-gray-50);
    --ts-gray-75: var(--ts-dark-gray-75);
    --ts-gray-100: var(--ts-dark-gray-100);
    --ts-gray-200: var(--ts-dark-gray-200);
    --ts-gray-300: var(--ts-dark-gray-300);
    --ts-gray-400: var(--ts-dark-gray-400);
    --ts-gray-500: var(--ts-dark-gray-500);
    --ts-gray-600: var(--ts-dark-gray-600);
    --ts-gray-700: var(--ts-dark-gray-700);
    --ts-gray-800: var(--ts-dark-gray-800);
    --ts-gray-900: var(--ts-dark-gray-900);

    --ts-link-700: #8887ff;

    --ts-tonal-positive-400: #92d34f;
    --ts-tonal-positive-800: #0e4600;

    --ts-tonal-negative-400: #d60000;
    --ts-tonal-negative-800: #fff;

    --ts-tonal-primary-400: #0a6ffd;
    --ts-tonal-primary-800: #ffffff;

    --ts-tonal-warning-400: #edff00;
    --ts-tonal-warning-800: #463f00;
}

html[data-scheme="light"] .is-dark-only,
html[data-scheme="dark"] .is-light-only {
    display: none;
}

@media (prefers-color-scheme: light) {
    html:not([data-scheme="dark"]) .is-dark-only {
        display: none;
    }
}

/**
 * Dark
 */

@media (prefers-color-scheme: dark) {
    html:not([data-scheme="light"]) .is-light-only {
        display: none;
    }
    .is-inverted {
        color-scheme: light;

        --ts-gray-50: var(--ts-light-gray-50);
        --ts-gray-75: var(--ts-light-gray-75);
        --ts-gray-100: var(--ts-light-gray-100);
        --ts-gray-200: var(--ts-light-gray-200);
        --ts-gray-300: var(--ts-light-gray-300);
        --ts-gray-400: var(--ts-light-gray-400);
        --ts-gray-500: var(--ts-light-gray-500);
        --ts-gray-600: var(--ts-light-gray-600);
        --ts-gray-700: var(--ts-light-gray-700);
        --ts-gray-800: var(--ts-light-gray-800);
        --ts-gray-900: var(--ts-light-gray-900);

        --ts-tonal-positive-400: #cdffbe;
        --ts-tonal-positive-800: #357016;

        --ts-tonal-negative-400: #ffbebe;
        --ts-tonal-negative-800: #701616;

        --ts-tonal-primary-400: #d9edff;
        --ts-tonal-primary-800: #005cde;

        --ts-tonal-warning-400: #fff7ae;
        --ts-tonal-warning-800: #866800;
    }
}

/* ==========================================================================
   Scales
   ========================================================================== */

html[data-scale="small"],
html[data-scale="small"] body {
    font-size: 14px;
}

html[data-scale="large"],
html[data-scale="large"] body {
    font-size: 16px;
}

/* ==========================================================================
   Background Color
   ========================================================================== */

html[data-background="secondary"],
html[data-background="secondary"] body {
    background-color: var(--ts-gray-75);
}

/* ==========================================================================
   Responsive
   ========================================================================== */

/**
 * Minimal
 * (Below 766px)
 */

@media screen and (max-width: 766px) {
    .is-standard-only,
    .is-maximal-only {
        display: none !important;
    }

    .is-not-minimal {
        display: none !important;
    }
}

/**
 * Not Minimal
 * (Above 766px)
 */

@media screen and (min-width: 766px) {
    .is-minimal-only {
        display: none !important;
    }
}

/**
 * Minimal & Standard
 * (Below 993px)
 */

@media screen and (max-width: 993px) {
    .is-maximal-only {
        display: none !important;
    }
}

/**
 * Standard
 * (Above 766px & Below 993px)
 */

@media screen and (min-width: 766px) and (max-width: 993px) {
    .is-not-standard {
        display: none !important;
    }
}

/**
 * Maximal
 * (Above 993px)
 */

@media screen and (min-width: 993px) {
    .is-minimal-only,
    .is-standard-only {
        display: none !important;
    }

    .is-not-maximal {
        display: none !important;
    }
}

/* ==========================================================================
   Grid
   ========================================================================== */

/**
 * Wides
 */

.ts-grid .column.is-1-minimal {
    width: var(--ts-grid-1-wide);
    max-width: var(--ts-grid-1-wide);
}
.ts-grid .column.is-2-minimal {
    width: var(--ts-grid-2-wide);
    max-width: var(--ts-grid-2-wide);
}
.ts-grid .column.is-3-minimal {
    width: var(--ts-grid-3-wide);
    max-width: var(--ts-grid-3-wide);
}
.ts-grid .column.is-4-minimal {
    width: var(--ts-grid-4-wide);
    max-width: var(--ts-grid-4-wide);
}
.ts-grid .column.is-5-minimal {
    width: var(--ts-grid-5-wide);
    max-width: var(--ts-grid-5-wide);
}
.ts-grid .column.is-6-minimal {
    width: var(--ts-grid-6-wide);
    max-width: var(--ts-grid-6-wide);
}
.ts-grid .column.is-7-minimal {
    width: var(--ts-grid-7-wide);
    max-width: var(--ts-grid-7-wide);
}
.ts-grid .column.is-8-minimal {
    width: var(--ts-grid-8-wide);
    max-width: var(--ts-grid-8-wide);
}
.ts-grid .column.is-9-minimal {
    width: var(--ts-grid-9-wide);
    max-width: var(--ts-grid-9-wide);
}
.ts-grid .column.is-10-minimal {
    width: var(--ts-grid-10-wide);
    max-width: var(--ts-grid-10-wide);
}
.ts-grid .column.is-11-minimal {
    width: var(--ts-grid-11-wide);
    max-width: var(--ts-grid-11-wide);
}
.ts-grid .column.is-12-minimal {
    width: var(--ts-grid-12-wide);
    max-width: var(--ts-grid-12-wide);
}
.ts-grid .column.is-13-minimal {
    width: var(--ts-grid-13-wide);
    max-width: var(--ts-grid-13-wide);
}
.ts-grid .column.is-14-minimal {
    width: var(--ts-grid-14-wide);
    max-width: var(--ts-grid-14-wide);
}
.ts-grid .column.is-15-minimal {
    width: var(--ts-grid-15-wide);
    max-width: var(--ts-grid-15-wide);
}
.ts-grid .column.is-16-minimal {
    width: var(--ts-grid-16-wide);
    max-width: var(--ts-grid-16-wide);
}

/**
 * Doubling
 */

.ts-grid.is-2-columns.is-doubling > .column {
    flex: var(--ts-grid-1-columns);
    max-width: var(--ts-grid-1-columns);
}
.ts-grid.is-3-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-4-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-5-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-6-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-7-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-8-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-9-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-10-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}

/**
 * Minimal
 * (Below 766px)
 */

@media screen and (max-width: 766px) {
    .ts-grid.is-stackable .column {
        width: var(--ts-grid-16-wide);
        max-width: var(--ts-grid-16-wide);
    }
}

/**
 * Not Minimal
 * (Above 766px)
 */

@media screen and (min-width: 766px) {
    /**
     * Doubling
     */

    .ts-grid.is-2-columns.is-doubling > .column {
        flex: var(--ts-grid-1-columns);
        max-width: var(--ts-grid-1-columns);
    }
    .ts-grid.is-3-columns.is-doubling > .column {
        flex: var(--ts-grid-2-columns);
        max-width: var(--ts-grid-2-columns);
    }
    .ts-grid.is-4-columns.is-doubling > .column {
        flex: var(--ts-grid-2-columns);
        max-width: var(--ts-grid-2-columns);
    }
    .ts-grid.is-5-columns.is-doubling > .column {
        flex: var(--ts-grid-3-columns);
        max-width: var(--ts-grid-3-columns);
    }
    .ts-grid.is-6-columns.is-doubling > .column {
        flex: var(--ts-grid-3-columns);
        max-width: var(--ts-grid-3-columns);
    }
    .ts-grid.is-7-columns.is-doubling > .column {
        flex: var(--ts-grid-3-columns);
        max-width: var(--ts-grid-3-columns);
    }
    .ts-grid.is-8-columns.is-doubling > .column {
        flex: var(--ts-grid-4-columns);
        max-width: var(--ts-grid-4-columns);
    }
    .ts-grid.is-9-columns.is-doubling > .column {
        flex: var(--ts-grid-4-columns);
        max-width: var(--ts-grid-4-columns);
    }
    .ts-grid.is-10-columns.is-doubling > .column {
        flex: var(--ts-grid-5-columns);
        max-width: var(--ts-grid-5-columns);
    }

    /**
     * Wides
     */

    .ts-grid .column.is-1-standard {
        width: var(--ts-grid-1-wide);
        max-width: var(--ts-grid-1-wide);
    }
    .ts-grid .column.is-2-standard {
        width: var(--ts-grid-2-wide);
        max-width: var(--ts-grid-2-wide);
    }
    .ts-grid .column.is-3-standard {
        width: var(--ts-grid-3-wide);
        max-width: var(--ts-grid-3-wide);
    }
    .ts-grid .column.is-4-standard {
        width: var(--ts-grid-4-wide);
        max-width: var(--ts-grid-4-wide);
    }
    .ts-grid .column.is-5-standard {
        width: var(--ts-grid-5-wide);
        max-width: var(--ts-grid-5-wide);
    }
    .ts-grid .column.is-6-standard {
        width: var(--ts-grid-6-wide);
        max-width: var(--ts-grid-6-wide);
    }
    .ts-grid .column.is-7-standard {
        width: var(--ts-grid-7-wide);
        max-width: var(--ts-grid-7-wide);
    }
    .ts-grid .column.is-8-standard {
        width: var(--ts-grid-8-wide);
        max-width: var(--ts-grid-8-wide);
    }
    .ts-grid .column.is-9-standard {
        width: var(--ts-grid-9-wide);
        max-width: var(--ts-grid-9-wide);
    }
    .ts-grid .column.is-10-standard {
        width: var(--ts-grid-10-wide);
        max-width: var(--ts-grid-10-wide);
    }
    .ts-grid .column.is-11-standard {
        width: var(--ts-grid-11-wide);
        max-width: var(--ts-grid-11-wide);
    }
    .ts-grid .column.is-12-standard {
        width: var(--ts-grid-12-wide);
        max-width: var(--ts-grid-12-wide);
    }
    .ts-grid .column.is-13-standard {
        width: var(--ts-grid-13-wide);
        max-width: var(--ts-grid-13-wide);
    }
    .ts-grid .column.is-14-standard {
        width: var(--ts-grid-14-wide);
        max-width: var(--ts-grid-14-wide);
    }
    .ts-grid .column.is-15-standard {
        width: var(--ts-grid-15-wide);
        max-width: var(--ts-grid-15-wide);
    }
    .ts-grid .column.is-16-standard {
        width: var(--ts-grid-16-wide);
        max-width: var(--ts-grid-16-wide);
    }
}

/**
 * Maximal
 * (Above 993px)
 */

@media screen and (min-width: 993px) {
    /**
     * Doubling
     */

    .ts-grid.is-2-columns.is-doubling > .column {
        flex: var(--ts-grid-2-columns);
        max-width: var(--ts-grid-2-columns);
    }
    .ts-grid.is-3-columns.is-doubling > .column {
        flex: var(--ts-grid-3-columns);
        max-width: var(--ts-grid-3-columns);
    }
    .ts-grid.is-4-columns.is-doubling > .column {
        flex: var(--ts-grid-4-columns);
        max-width: var(--ts-grid-4-columns);
    }
    .ts-grid.is-5-columns.is-doubling > .column {
        flex: var(--ts-grid-5-columns);
        max-width: var(--ts-grid-5-columns);
    }
    .ts-grid.is-6-columns.is-doubling > .column {
        flex: var(--ts-grid-6-columns);
        max-width: var(--ts-grid-6-columns);
    }
    .ts-grid.is-7-columns.is-doubling > .column {
        flex: var(--ts-grid-7-columns);
        max-width: var(--ts-grid-7-columns);
    }
    .ts-grid.is-8-columns.is-doubling > .column {
        flex: var(--ts-grid-8-columns);
        max-width: var(--ts-grid-8-columns);
    }
    .ts-grid.is-9-columns.is-doubling > .column {
        flex: var(--ts-grid-9-columns);
        max-width: var(--ts-grid-9-columns);
    }
    .ts-grid.is-10-columns.is-doubling > .column {
        flex: var(--ts-grid-10-columns);
        max-width: var(--ts-grid-10-columns);
    }

    /**
     * Wides
     */

    .ts-grid .column.is-1-maximal {
        width: var(--ts-grid-1-wide);
        max-width: var(--ts-grid-1-wide);
    }
    .ts-grid .column.is-2-maximal {
        width: var(--ts-grid-2-wide);
        max-width: var(--ts-grid-2-wide);
    }
    .ts-grid .column.is-3-maximal {
        width: var(--ts-grid-3-wide);
        max-width: var(--ts-grid-3-wide);
    }
    .ts-grid .column.is-4-maximal {
        width: var(--ts-grid-4-wide);
        max-width: var(--ts-grid-4-wide);
    }
    .ts-grid .column.is-5-maximal {
        width: var(--ts-grid-5-wide);
        max-width: var(--ts-grid-5-wide);
    }
    .ts-grid .column.is-6-maximal {
        width: var(--ts-grid-6-wide);
        max-width: var(--ts-grid-6-wide);
    }
    .ts-grid .column.is-7-maximal {
        width: var(--ts-grid-7-wide);
        max-width: var(--ts-grid-7-wide);
    }
    .ts-grid .column.is-8-maximal {
        width: var(--ts-grid-8-wide);
        max-width: var(--ts-grid-8-wide);
    }
    .ts-grid .column.is-9-maximal {
        width: var(--ts-grid-9-wide);
        max-width: var(--ts-grid-9-wide);
    }
    .ts-grid .column.is-10-maximal {
        width: var(--ts-grid-10-wide);
        max-width: var(--ts-grid-10-wide);
    }
    .ts-grid .column.is-11-maximal {
        width: var(--ts-grid-11-wide);
        max-width: var(--ts-grid-11-wide);
    }
    .ts-grid .column.is-12-maximal {
        width: var(--ts-grid-12-wide);
        max-width: var(--ts-grid-12-wide);
    }
    .ts-grid .column.is-13-maximal {
        width: var(--ts-grid-13-wide);
        max-width: var(--ts-grid-13-wide);
    }
    .ts-grid .column.is-14-maximal {
        width: var(--ts-grid-14-wide);
        max-width: var(--ts-grid-14-wide);
    }
    .ts-grid .column.is-15-maximal {
        width: var(--ts-grid-15-wide);
        max-width: var(--ts-grid-15-wide);
    }
    .ts-grid .column.is-16-maximal {
        width: var(--ts-grid-16-wide);
        max-width: var(--ts-grid-16-wide);
    }
}

/* ==========================================================================
   Accordion
   ========================================================================== */

*:not(details).ts-accordion {
    color: inherit;
    box-sizing: border-box;
}

*:not(details).ts-accordion .title {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

*:not(details).ts-accordion .title::before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    width: 1.18em;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    display: block;
    margin-right: 0.7rem;
    color: var(--ts-gray-600);
    transform: rotate(270deg);
    content: "\f078";
    line-height: 1;
    font-size: 14px;
}

*:not(details).ts-accordion .content {
    display: none;
    margin: 1rem 0 0;
}

*:not(details).ts-accordion.is-active .content {
    display: block;
}

*:not(details).ts-accordion.is-active .title::before {
    transform: rotate(0deg);
}