/* ==========================================================================
   Variables
   ========================================================================== */

.ts-dropdown {
    --object-distance: 0.8rem;
    --ts-dropdown-min-width: initial;
    --ts-dropdown-position: absolute;
    --accent-color: initial;
    --accent-foreground-color: initial;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-dropdown {
    position: var(--ts-dropdown-position);
    display: none;
    color: inherit;
    flex-direction: column;
    z-index: 100;
    border: 1px solid var(--ts-gray-300);
    border-radius: 0.4rem;
    background: var(--ts-gray-50);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    font-size: var(--ts-font-size-14px);
    padding: 0.2rem 0;
    white-space: nowrap;
    min-width: var(--ts-dropdown-min-width);
}

.ts-dropdown > .item {
    font-family: inherit;
    appearance: none;
    border: unset;
    font-size: inherit;
    text-align: inherit;
    background: transparent;
    color: inherit;
    line-height: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    gap: var(--object-distance);
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    min-width: 0;
}

.ts-dropdown .item .ts-icon {
    font-size: 1.1em;
}

.ts-dropdown .item .ts-avatar {
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
    margin-left: -0.2rem;
}

.ts-dropdown .item .description {
    font-size: var(--ts-relative-small);
    color: var(--ts-gray-500);

    text-align: right;
    margin-left: auto;
    float: right;
}

.ts-dropdown .item:hover {
    cursor: pointer;
    background: var(--ts-gray-75);
}

.ts-dropdown .item :where(.ts-row, .ts-grid) {
    flex: 1;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-dropdown .item.is-active {
    background: var(--accent-color, var(--ts-gray-800));
    color: var(--accent-foreground-color, var(--ts-gray-50));
}

/**
 * Header
 */

.ts-dropdown .item.is-header {
    padding: 0.5rem 0.6rem;
    background: var(--ts-gray-200);
    font-size: var(--ts-font-size-13px);
    font-weight: 500;
    border-bottom: 1px solid var(--ts-gray-300);
    border-top: 1px solid var(--ts-gray-300);
}

.ts-dropdown .item.is-header:hover {
    cursor: default;
    background: var(--ts-gray-200);
}

/**
 * Disabled
 */

.ts-dropdown .item.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

/**
 * Selected
 */

.ts-dropdown .item.is-selected {
    background: var(--accent-color, var(--ts-primary-700));
    color: var(--accent-foreground-color, var(--ts-white));
}

.ts-dropdown .item.is-selected .description {
    color: inherit;
    opacity: 0.8;
}

/**
 * Separated
 */

.ts-dropdown.is-separated {
    gap: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.ts-dropdown.is-separated .item {
    border-radius: 0.4rem;
}

/**
 * Icon
 */

.ts-dropdown.is-start-icon .item .ts-icon {
    min-width: 1rem;
    text-align: center;
    display: inline-block;
    margin-top: 1px;
}

.ts-dropdown.is-end-icon .item .ts-icon {
    margin-left: auto;
    min-width: 1rem;
    text-align: center;
    display: inline-block;
    margin-top: 1px;
}

/**
 * Density
 */

.ts-dropdown.is-relaxed .item {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.ts-dropdown.is-dense .item {
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
}

/**
 * Sizes
 */

.ts-dropdown.is-small {
    font-size: var(--ts-font-size-13px);
}

.ts-dropdown.is-large {
    font-size: var(--ts-font-size-15px);
}

/**
 * Visible
 */

.ts-dropdown.is-visible {
    display: inline-flex;
}

/**
 * Scrollable
 */

.ts-dropdown.is-scrollable {
    overflow: auto;
    overflow-x: hidden;
}

/** (Below 766px) */
@media screen and (max-width: 766px) {
    .ts-dropdown.is-scrollable {
        max-height: 10rem;
    }
}

/** (Above 766px) */
@media screen and (min-width: 766px) {
    .ts-dropdown.is-scrollable {
        max-height: 15rem;
    }
}

/** (Above 993px) */
@media screen and (min-width: 993px) {
    .ts-dropdown.is-scrollable {
        max-height: 19rem;
    }
}

/**
 * Positions
 */

.ts-dropdown.is-top-left {
    bottom: calc(100% + 0.5rem);
    left: 0;
}

.ts-dropdown.is-bottom-left {
    top: calc(100% + 0.5rem);
    left: 0;
}

.ts-dropdown.is-bottom-center {
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 0.5rem);
}

.ts-dropdown.is-top-center {
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 0.5rem);
}

.ts-dropdown.is-top-right {
    bottom: calc(100% + 0.5rem);
    right: 0;
}

.ts-dropdown.is-bottom-right {
    top: calc(100% + 0.5rem);
    right: 0;
}

.ts-dropdown.is-top {
    bottom: calc(100% + 0.5rem);
    left: 0;
    right: 0;
    min-width: min-content;
}

.ts-dropdown.is-bottom {
    top: calc(100% + 0.5rem);
    left: 0;
    right: 0;
    min-width: min-content;
}

/**
 * Checkbox
 */

.ts-dropdown .item.is-checked {
    color: var(--accent-color, var(--ts-primary-700));
}

.ts-dropdown .item .checkbox {
    background: var(--ts-gray-200);
    border: 1px solid var(--ts-gray-200);
    border-radius: 0.2rem;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    min-height: 1.15rem;
    min-width: 1.15rem;
    overflow: visible;
    padding: 0;
    user-select: none;
    width: auto;
}

.ts-dropdown .item .checkbox::after {
    display: none;
    font-family: Icons;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: inherit;
    top: 0;
    transform: scale(0.8);
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    backface-visibility: hidden;
    bottom: 0;
    color: var(--accent-foreground-color, var(--ts-white));
    content: "\f00c";
}

.ts-dropdown .item.is-checked .checkbox {
    background: var(--accent-color, var(--ts-primary-700));
    border-color: var(--accent-color, var(--ts-primary-700));
}

.ts-dropdown .item.is-checked .checkbox::after {
    display: flex;
}
