//-------------------//
//     Z Indexes
//-------------------//

$z_segment_piledBefore    : -2
$z_segment_piledAfter     : -1
$z_button_pulsingBefore   : -1
$z_buttonIcon             : -1
$z_pusher                 : -1
$z_label_banner           : -1
$z_label_cornerAfter      : -1
$z_checkbox_segmentedLabel: -1
$z_step_divider           : 0
$z_card_raised            : 1
$z_checkbox_segmented     : 1
$z_step_content           : 1
$z_transfer_search        : 1
$z_label_ribbon           : 1
$z_label_corner           : 1
$z_progress_floatingText  : 1
$z_comparison_before      : 1
$z_carousel_content       : 1
$z_carousel_controls      : 1
$z_image_overlay          : 1
$z_button                 : 1
$z_button_corner          : 1
$z_button_pulsing         : 1
$z_message_close          : 1
$z_comparison_after       : 2
$z_carousel_indicators    : 2
$z_card_overlappedContent : 2
$z_modal_close            : 2
$z_popup_arrow            : 2
$z_step                   : 2
$z_input_focusingVertical : 2
$z_menu_readDot           : 2
$z_button_or              : 2
$z_label_pointingTriangle : 2
$z_checkbox_toggleBefore  : 2
$z_checkbox_toggleAfter   : 3
$z_comparison_resizer     : 3
$z_image_linkHover        : 3
$z_card_linkHover         : 3
$z_label_floating         : 4
$z_popup                  : 5
$z_menu_fixed             : 9
$z_dropdown_menu          : 9
$z_dropdown_active        : 10
$z_dropdown_hovered       : 11
$z_segment_loaderDimmer   : 11
$z_form_loaderDimmer      : 11
$z_form_loaderLine        : 12
$z_segment_loaderLine     : 12
$z_loader                 : 12
$z_pusherDimmer           : 12
$z_sidebar                : 12
$z_sidebar_overlay        : 12
$z_dimmer                 : 13
$z_snackbar               : 14
$z_popup_arrow            : 98
$z_popup_arrow_mask       : 99
$z_sortable_ghost         : 100
$z_item                   : ''

//bordered item
//basic pointing secondary