
$comparison_height: 50vh
$comparison_width : 100%
$comparison_aspectRatio: 56.2222%

$comparison_elementHeight: 100%
$comparison_beforeWidth  : 100%
$comparison_afterWidth   : 50%

//-------------------//
//       Resizer
//-------------------//

$comparison_resizerCursor         : ew-resize
$comparison_resizerLeft           : 50%
$comparison_resizerBackgroundColor: rgba(0, 0, 0, 0.2)
$comparison_resizerPadding        : .5em .5em
$comparison_resizerColor          : $white
$comparison_resizerDotsShadow     : 0 -7px, 0 7px

//-------------------//
//       Divider
//-------------------//

$comparison_resizerDividerWidth: 3px

//-------------------//
//  Circular Resizer
//-------------------//

$comparison_resizerCircularWidth : 7px
$comparison_resizerCircularHeight: 7px
$comparison_resizerCircularRight : 7px

//-------------------//
//  Rounded Resizer
//-------------------//

$comparison_resizerRoundedWidth : 4px
$comparison_resizerRoundedHeight: 25px
$comparison_resizerRoundedRight : 7px

//-------------------//
//    Dots Resizer
//-------------------//

$comparison_resizerDotsWidth : 3px
$comparison_resizerDotsHeight: 3px
$comparison_resizerDotsRight : 7px

//-------------------//
//       Label
//-------------------//

$comparison_labelPadding        : .5em .7em
$comparison_labelDistance       : 1em
$comparison_labelColor          : $white
$comparison_labelBackgroundColor: rgba(0, 0, 0, 0.29)
$comparison_labelFontSize       : 1.1em