$placeholder_width           : 45%
$placeholder_lineHeight      : .8em

$placeholder_horizontalMargin: 0
$placeholder_verticalMargin  : .8em
$placeholder_margin          : $placeholder_verticalMargin $placeholder_horizontalMargin

$placeholder_textColor       : nth($grey, 4)
$placeholder_headerTextColor : nth($grey, 5)

$placeholder_imageHeight     : 150px
$placeholder_roundedRadius   : $placeholder_lineHeight

//-------------------//
//    Image Header
//-------------------//

$placeholder_imageHeaderSize          : #{$placeholder_lineHeight + $placeholder_verticalMargin * 2}
$placeholder_imageHeaderLeft          : calc(#{$placeholder_imageHeaderSize} + #{$placeholder_verticalMargin})
$placeholder_imageHeaderWidth         : 65%
$placeholder_imageHeaderSecondaryWidth: 55%

//-------------------//
//     Animation
//-------------------//

$placeholder_preparingDuration            : 1.8s
$placeholder_indeterminateDuration        : 1.2s
$placeholder_indeterminateBackgroundSize  : 1000px 200px
$placeholder_indeterminateBackground      : linear-gradient(to right, #{$placeholder_textColor} 8%, #dddddd 18%, #{$placeholder_textColor} 33%)
$placeholder_indeterminateHeaderBackground: linear-gradient(to right, #{$placeholder_headerTextColor} 8%, #f3f3f3 18%, #{$placeholder_headerTextColor} 33%)

//-------------------//
//      Lengths
//-------------------//

$placeholder_shortTextWidth     : 40%
$placeholder_veryShortTextWidth : 30%
$placeholder_extraShortTextWidth: 20%
$placeholder_longTextWidth      : 70%
$placeholder_veryLongTextWidth  : 80%
$placeholder_exteaLongTextWidth : 90%