// + Typing
.ts.conversation
    .typing.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
    .own.typing.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content

// + Status
.ts.conversation
    .warning.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Warning Message
            .meta
                .item Meta
    .own.warning.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Warning Message
            .meta
                .item Meta
    .error.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Error Message
            .meta
                .item Meta
    .own.error.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Error Message
            .meta
                .item Meta
    .sending.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Sending Message
            .meta
                .item Meta
    .own.sending.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Sending Message
            .meta
                .item Meta
    .sent.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Sent Message
            .meta
                .item Meta
    .own.sent.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Sent Message
            .meta
                .item Meta
    .read.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Read Message
            .meta
                .item Meta
    .own.read.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Read Message
            .meta
                .item Meta

// + Meta
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .middoted.meta
                .item Middoted Meta
                .item Middoted Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .middoted.meta
                .item Middoted Meta
                .item Middoted Meta

// + Actions
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .actions
            a.item Item
            a.item Item
            a.item Item
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .actions
            a.item Item
            a.item Item
            a.item Item
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .middoted.actions
            a.middoted.item Middoted Item
            a.middoted.item Middoted Item
            a.middoted.item Middoted Item
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .middoted.actions
            a.middoted.item Middoted Item
            a.middoted.item Middoted Item
            a.middoted.item Middoted Item

// + Reactions
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .reactions
            a.item
                .reaction 😂
                .count 1
            a.item
                .reaction 👌
                .count 3
            a.active.item
                .reaction 💦
                .count 19
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .reactions
            a.item
                .reaction 😂
                .count 1
            a.item
                .reaction 👌
                .count 3
            a.active.item
                .reaction 💦
                .count 19

// + Callbacks
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .callbacks
            .row
                a.item Item
                a.item Item
                a.item Item
            a.item Item
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .callbacks
            .row
                a.item Item
                a.item Item
                a.item Item
            a.item Item

// + Actions & Reactions & Callbacks
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .reactions
            a.item
                .reaction 😂
                .count 1
            a.item
                .reaction 👌
                .count 3
            a.active.item
                .reaction 💦
                .count 19
        .callbacks
            .row
                a.item Item
                a.item Item
                a.item Item
            a.item Item
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .reactions
            a.item
                .reaction 😂
                .count 1
            a.item
                .reaction 👌
                .count 3
            a.active.item
                .reaction 💦
                .count 19
        .callbacks
            .row
                a.item Item
                a.item Item
                a.item Item
            a.item Item

// + Reply
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .reply
                .author Reply Author
                .text Reply Message
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .reply
                .author Reply Author
                .text Reply Message
            .text Message
            .meta
                .item Meta
                .item Meta

// + Preview
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .preview
                .image
                    img(src="../../../assets/images/1-1.png")
                .title Title
                .header Header
                .description Description
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .preview
                .image
                    img(src="../../../assets/images/1-1.png")
                .title Title
                .header Header
                .description Description
            .text Message
            .meta
                .item Meta
                .item Meta

// + Fullsize Preview
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .preview
                .title Title
                .header Header
                .description Description
                .image
                    img(src="../../../assets/images/1-1.png")
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .preview
                .title Title
                .header Header
                .description Description
                .image
                    img(src="../../../assets/images/1-1.png")
            .text Message
            .meta
                .item Meta
                .item Meta

// + Double Message
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta

// + Group
.ts.conversation
    .group
        .message
            .avatar
                img(src="../../../assets/images/1-1.png")
            .content
                .author Author
                .text Message
                .meta
                    .item Meta
                    .item Meta
        .message
            .avatar
                img(src="../../../assets/images/1-1.png")
            .content
                .author Author
                .text Message
                .meta
                    .item Meta
                    .item Meta
    .own.group
        .message
            .avatar
                img(src="../../../assets/images/1-1.png")
            .content
                .author Author
                .text Message
                .meta
                    .item Meta
                    .item Meta
        .message
            .avatar
                img(src="../../../assets/images/1-1.png")
            .content
                .author Author
                .text Message
                .meta
                    .item Meta
                    .item Meta

// + Image
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .reply
                .author Reply Author
                .text Reply Message
            .image
                img(src="../../../assets/images/1-1.png")
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .reply
                .author Reply Author
                .text Reply Message
            .image
                img(src="../../../assets/images/1-1.png")
            .text Message
            .meta
                .item Meta
                .item Meta

// + Mention
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                | Message
                a.mention @Mention
                | Message
                br
                | New line message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                | Message
                a.mention @Mention
                | Message
                br
                | New line message
            .meta
                .item Meta
                .item Meta

// + Code Block
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                | Message
                pre.code
                    code.
                        // You can edit this code!
                        // Click here and start typing.
                        package main

                        import "fmt"

                        func main() {
                            fmt.Println("Hello, 世界")
                        }
                | Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                | Message
                pre.code
                    code.
                        // You can edit this code!
                        // Click here and start typing.
                        package main

                        import "fmt"

                        func main() {
                            fmt.Println("Hello, 世界")
                        }
                | Message
            .meta
                .item Meta
                .item Meta
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                pre.code
                    code.
                        // You can edit this code!
                        // Click here and start typing.
                        package main

                        import "fmt"

                        func main() {
                            fmt.Println("Hello, 世界")
                        }
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                pre.code
                    code.
                        // You can edit this code!
                        // Click here and start typing.
                        package main

                        import "fmt"

                        func main() {
                            fmt.Println("Hello, 世界")
                        }
            .meta
                .item Meta
                .item Meta

// + Video
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            video(src="https://www.coverr.co/s3/mp4/Down-time.mp4" controls="")
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            video(src="https://www.coverr.co/s3/mp4/Down-time.mp4" controls="")
            .text Message
            .meta
                .item Meta
                .item Meta

// + File
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .file
                a.download
                .name Filename.pdf
                .size 32.6 MB
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .file
                a.download
                .name Filename.pdf
                .size 32.6 MB
            .meta
                .item Meta
                .item Meta

// + Sticker
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .sticker
                img(src="../../../assets/images/1-1.png")
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .sticker
                img(src="../../../assets/images/1-1.png")
            .meta
                .item Meta
                .item Meta