/* ==========================================================================
   Variables
   ========================================================================== */

.ts.header {
    /**
     * Block
     */

    --ts-header_border-radius     : var(--ts-global_border-radius);
    --ts-header_vertical-padding  : 0.5rem;
    --ts-header_horizontal-padding: var(--ts-global_block-horizontal-padding);

    --ts-header_dividing-line-width      : 1px;
    --ts-header_dividing-line-width-thick: 0.3rem;

    /**
     * Distance
     */

    --ts-header_distance-block  : var(--ts-global_distance-block);
    --ts-header_distance-divider: 0.25rem;
    --ts-header_distance-element: 0.7rem;

    /**
     * Typography
     */

    --ts-header_font-size            : 1.375rem;
    --ts-header_description-font-size: 1rem;
    --ts-header_line-height          : var(--ts-global_line-height);
    --ts-header_disabled-opacity     : var(--ts-global_disabled-opacity);

    /**
     * Color
     */
}

/* ==========================================================================
   Default
   ========================================================================== */

.ts.header {
    --ts-header_color                 : var(--ts-global-alias_gray-900, var(--ts-global_gray-900));
    --ts-header_disabled-color        : var(--ts-global-alias_gray-400, var(--ts-global_gray-400));
    --ts-header_description-color     : var(--ts-global-alias_gray-700, var(--ts-global_gray-700));
    --ts-header_border-color          : var(--ts-global-alias_gray-200, var(--ts-global_gray-200));
    --ts-header_background-block-color: var(--ts-global-alias_gray-100, var(--ts-global_gray-100));
    --ts-header_divider-color         : var(--ts-global-alias_gray-200, var(--ts-global_gray-200));
}

/* ==========================================================================
   Emphasises
   ========================================================================== */

/**
 * Primary
 */

.ts.header[data-emphasis="primary"] {
    --ts-header_color         : var(--ts-global_primary-700);
    --ts-header_disabled-color: var(--ts-global_primary-400);
}

/**
 * Warning
 */

.ts.header[data-emphasis="warning"] {
    --ts-header_color         : var(--ts-global_warning-700);
    --ts-header_disabled-color: var(--ts-global_warning-400);
}

/**
 * Positive
 */

.ts.header[data-emphasis="positive"] {
    --ts-header_color         : var(--ts-global_positive-700);
    --ts-header_disabled-color: var(--ts-global_positive-400);
}

/**
 * Negative
 */

.ts.header[data-emphasis="negative"] {
    --ts-header_color         : var(--ts-global_negative-700);
    --ts-header_disabled-color: var(--ts-global_negative-400);
}

/* ==========================================================================
   Parent
   ========================================================================== */
