.ts.breadcrumb {
    /**
     * Typography
     */

    --typography_font-size       : var(--default__typography_font-size);
    --typography_color           : var(--default__typography_color);
    --typography_line-height     : var(--default__typography_line-height);
    --typography_symbol-color    : var(--default__typography_symbol-color);
    --typography_disabled-color  : var(--default__typography_disabled-color);
    --typography_active-color    : var(--default__typography_active-color);
    --typography_link-color      : var(--default__typography_link-color);
    --typography_link-hover-color: var(--default__typography_link-hover-color);
}

.ts.breadcrumb {
    display       : inline-block;
    vertical-align: middle;
    font-size     : var(--typography_font-size);
    color         : var(--typography_color);
    line-height   : var(--typography_line-height);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Item
 */

.ts.breadcrumb .item {
    display       : inline-block;
    vertical-align: baseline;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Divider
 */

.ts.breadcrumb .divider,
.ts.breadcrumb.-bulleted .item:not(:last-child)::after,
.ts.breadcrumb.-slashed .item:not(:last-child)::after,
.ts.breadcrumb.-chevroned .item:not(:last-child)::after {
    color     : var(--typography_symbol-color);
    margin    : 0 0 0 .25em;
    text-align: center;
    width     : 1em;
    font-size : .875em;
    display   : inline-block;
}

/**
 * Divider
 */

.ts.breadcrumb .divider {
    margin: 0;
}

/**
 * Bulleted
 */

.ts.breadcrumb.-bulleted .item:not(:last-child)::after {
    font-family: Tocas-Lato, Arial, sans-serif;
    font-weight: 400;
    content    : '•';
}

/**
 * Slashed
 */

.ts.breadcrumb.-slashed .item:not(:last-child)::after {
    content: "/"
}

/**
 * Chveroned
 */

.ts.breadcrumb.-chevroned .item:not(:last-child)::after {
    font-family: 'Icons';
    content    : "";
}

/**
 * Disabled
 */

.ts.breadcrumb .item.-disabled {
    color: var(--typography_disabled-color);
}

/**
 * Active
 */

.ts.breadcrumb .item.-active {
    color      : var(--typography_active-color);
    font-weight: bold;
}

/**
 * Sizes
 */

.ts.breadcrumb.-mini {
    font-size: .8125rem;
}

.ts.breadcrumb.-tiny {
    font-size: .875rem;
}

.ts.breadcrumb.-small {
    font-size: .9375rem;
}

.ts.breadcrumb.-large {
    font-size: 1.125rem;
}

.ts.breadcrumb.-big {
    font-size: 1.25rem;
}

.ts.breadcrumb.-huge {
    font-size: 1.5rem;
}

.ts.breadcrumb.-massive {
    font-size: 1.75rem;
}