/* ==========================================================================
   Variables
   ========================================================================== */

.ts.breadcrumb {
    /**
     * Distance
     */

    --distance-block: var(--global__distance-block);

    /**
     * Typography
     */

    --font-size  : 1rem;
    --line-height: var(--global__line-height);

    /**
     * Color
     */

    --color           : var(--default__color);
    --symbol-color    : var(--default__symbol-color);
    --disabled-color  : var(--default__disabled-color);
    --active-color    : var(--default__active-color);
    --link-color      : var(--default__link-color);
    --link-hover-color: var(--default__link-hover-color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.breadcrumb {
    display       : inline-block;
    vertical-align: middle;
    font-size     : var(--font-size);
    color         : rgb(var(--color));
    line-height   : var(--line-height);
}

.ts.breadcrumb:first-child {
    margin-block-start: 0;
}

.ts.breadcrumb:last-child {
    margin-block-end: 0;
}

.ts.breadcrumb:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Item
 */

.ts.breadcrumb .item {
    display       : inline-block;
    vertical-align: baseline;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Divider
 */

.ts.breadcrumb .divider,
.ts.breadcrumb.-bulleted .item:not(:last-child)::after,
.ts.breadcrumb.-slashed .item:not(:last-child)::after,
.ts.breadcrumb.-chevroned .item:not(:last-child)::after {
    color     : rgb(var(--symbol-color));
    margin    : 0 0 0 .25em;
    text-align: center;
    width     : 1em;
    font-size : .875em;
    display   : inline-block;
}

/**
 * Divider
 */

.ts.breadcrumb .divider {
    margin: 0;
}

/**
 * Bulleted
 */

.ts.breadcrumb.-bulleted .item:not(:last-child)::after {
    font-family: Tocas-Lato, Arial, sans-serif;
    font-weight: 400;
    content    : '•';
}

/**
 * Slashed
 */

.ts.breadcrumb.-slashed .item:not(:last-child)::after {
    content: "/"
}

/**
 * Chveroned
 */

.ts.breadcrumb.-chevroned .item:not(:last-child)::after {
    font-family: 'Icons';
    content    : "";
}

/**
 * Disabled
 */

.ts.breadcrumb .item.-disabled {
    color: rgb(var(--disabled-color));
}

/**
 * Active
 */

.ts.breadcrumb .item.-active {
    color      : rgb(var(--active-color));
    font-weight: bold;
}

/**
 * Block
 */

.ts.breadcrumb.-block {
    background   : #f6f6f6;
    padding      : .5rem 1rem;
    border-radius: .4rem;
    border       : 1px solid #e9e9e9;
}

/**
 * Attached
 */

.ts.breadcrumb.-top-attached {
    display      : block;
    padding      : .5rem 1rem;
    border-radius: .4rem;
    border       : 1px solid #e9e9e9;

    margin-bottom             : 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius : 0;
}
.ts.breadcrumb.-attached {
    display      : block;
    padding      : .5rem 1rem;
    border-radius: .4rem;
    border       : 1px solid #e9e9e9;

    margin-top   : 0;
    margin-bottom: 0;
    border-top   : 0;
    border-radius: 0;
}
.ts.breadcrumb.-bottom-attached {
    display      : block;
    padding      : .5rem 1rem;
    border-radius: .4rem;
    border       : 1px solid #e9e9e9;

    margin-top             : 0;
    border-top             : 0;
    border-top-right-radius: 0;
    border-top-left-radius : 0;
}

/**
 * Fluid
 */

.ts.breadcrumb.-fluid {
    width: 100%;
}

/**
 * Sizes
 */

.ts.breadcrumb.-mini {
    font-size: .8125rem;
}

.ts.breadcrumb.-tiny {
    font-size: .875rem;
}

.ts.breadcrumb.-small {
    font-size: .9375rem;
}

.ts.breadcrumb.-large {
    font-size: 1.125rem;
}

.ts.breadcrumb.-big {
    font-size: 1.25rem;
}

.ts.breadcrumb.-huge {
    font-size: 1.5rem;
}

.ts.breadcrumb.-massive {
    font-size: 1.75rem;
}