/* ==========================================================================
   Variables
   ========================================================================== */

.ts.checkbox {
    /**
     * Distance
     */

    /**
     * Typography
     */

    /**
     * Color
     */
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.checkbox {
    margin-right: 0.3rem;
}

.ts.checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 0.2rem;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;

    margin-bottom: -2px;
    margin-right: 0.3rem;
}

.ts.checkbox input[type="checkbox"] {
    border: 1px solid #777;
}

.ts.checkbox input[type="checkbox"]:hover {
    cursor: pointer;
}

.ts.checkbox,
.ts.checkbox label {
    cursor: pointer;
}

.ts.checkbox input[type="checkbox"]:focus {
    outline: 0;
}

.ts.checkbox input[type="checkbox"]:checked {
    background-color: #1e7fcb;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.ts.checkbox:first-child {
    margin-block-start: 0;
}

.ts.checkbox:last-child {
    margin-block-end: 0;
}

.ts.checkbox:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Disabled
 */

.ts.checkbox.-disabled,
.ts.checkbox.-disabled input[type="checkbox"],
.ts.checkbox input[type="checkbox"][disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

/**
 * Required
 */

/**
 * Toggle
 */

.ts.checkbox.-toggle input[type="checkbox"] {
    position: relative;
    width: auto;
    height: auto;
    border: 0;
    margin-bottom: -6px;
}

.ts.checkbox.-toggle input[type="checkbox"]:checked {
    background-color: transparent;
    background-image: none;
}

.ts.checkbox.-toggle input[type="checkbox"]:checked::after {
    left: 27px;
}

.ts.checkbox.-toggle input[type="checkbox"]:checked::before {
    background-color: rgb(30, 127, 203);
}

.ts.checkbox.-toggle input[type="checkbox"]::after {
    background: #fff;
    position: absolute;
    content: "" !important;
    opacity: 1;
    z-index: 3;
    border: none;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 5px;
    border-radius: 500em;
}

.ts.checkbox.-toggle input[type="checkbox"]::before {
    display: block;
    content: "";
    z-index: 2;
    transform: none;
    border: none;
    background-image: none !important;
    top: 0rem;
    background: #eeeeee;
    width: 48px;
    height: 1.5rem;
    border-radius: 500em;
}

.ts.checkbox.-toggle:hover input[type="checkbox"]:not(:checked)::before {
    background: #ccc;
}

.ts.checkbox.-toggle:hover input[type="checkbox"]:checked::before {
    background: #00adea;
}

/**
 * Op
 */

/**
 * Block
 */

.ts.checkbox.-block {
    display: inline-flex;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 0.25rem;
}
