/* ==========================================================================
   Variables
   ========================================================================== */

.ts.container {
    /**
     * Block
     */

    --block_margin: var(--default__block_margin);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.container {
    width: 1127px;
    margin-left: auto;
    margin-right: auto;
}

.ts.container:first-child {
    margin-block-start: 0;
}

.ts.container:last-child {
    margin-block-end: 0;
}

.ts.container:not(:first-child) {
    margin-block-start: var(--block_margin);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Padded
 */

.ts.container.-vertically-padded {
}

/**
 * Text
 */

.ts.container.-text {
    width: 710px;
}

/**
 * Fluid
 */

.ts.container.-fluid {
    width: 100%;
}

/**
 * Narrowed
 */

.ts.container.-narrowed {
    width: 992px;
}

/**
 * Aligns
 */

.ts.container.-left-aligned {
    text-align: left;
}

.ts.container.-center-aligned {
    text-align: center;
}

.ts.container.-right-aligned {
    text-align: right;
}

/**
 * Spaceless
 */

.ts.container.-spaceless {
}

/**
 * Formatted
 */

/** Header */
.ts.container.-formatted h1 {
}

.ts.container.-formatted h2 {
}

.ts.container.-formatted h3 {
}

.ts.container.-formatted h4 {
}

.ts.container.-formatted h5 {
}

.ts.container.-formatted h6 {
}

/** Code */
.ts.container.-formatted code {
}

.ts.container.-formatted kbd {
}

.ts.container.-formatted var {
}

.ts.container.-formatted samp {
}

/** Label */
.ts.container.-formatted label {
}

.ts.container.-formatted mark {
}

/** List */
.ts.container.-formatted ul {
}

.ts.container.-formatted ul li {
}

.ts.container.-formatted ol {
}

.ts.container.-formatted ol li {
}

.ts.container.-formatted dl {
}

.ts.container.-formatted dl dt {
}

.ts.container.-formatted dl dt dd {
}

/** Typography */
.ts.container.-formatted p {
}

.ts.container.-formatted blockquote {
}

.ts.container.-formatted blockquote cite {
}

.ts.container.-formatted address {
}

.ts.container.-formatted hr {
}

/** Image */
.ts.container.-formatted img {
}

.ts.container.-formatted figure {
}

.ts.container.-formatted figcaption {
}

/** Inline */
.ts.container.-formatted a {
}

.ts.container.-formatted time {
}

.ts.container.-formatted i {
}

.ts.container.-formatted em {
}

.ts.container.-formatted ins {
}

.ts.container.-formatted sub {
}

.ts.container.-formatted sup {
}

.ts.container.-formatted b {
}

.ts.container.-formatted strong {
}

.ts.container.-formatted del {
}
