/* ==========================================================================
   Variables
   ========================================================================== */

.ts.divider {
    /**
     * Divider
     */

    --line-width           : 1px;
    --line-width-thick     : 0.5rem;
    --line-width-very-thick: 1rem;

    /**
     * Distance
     */

    --distance-block        : var(--global__distance-block);
    --distance-block-section: 2.5rem;
    --distance-text         : 1rem;
    --distance-icon         : 0.5rem;

    /**
     * Typography
     */

    --font-size  : 1rem;
    --line-height: var(--global__line-height);

    /**
     * Color
     */

    --color        : var(--default__color);
    --divider-color: var(--default__divider-color);
    --line-color   : var(--default__line-color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.divider {
    display    : flex;
    align-items: center;
    text-align : center;
    border-top : 1px solid rgb(var(--divider-color));
    font-size  : var(--font-size);
    color      : rgb(var(--color));
    line-height: var(--line-height);
}

.ts.divider:not(:first-child) {
    margin-block-start: var(--distance-block);
}

.ts.divider:not(:last-child) {
    margin-block-end: var(--distance-block);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Secondary
 */

.ts.divider.-secondary {
    border-top: 0;
}

.ts.divider.-secondary::before {
    content       : "···";
    color         : rgb(var(--line-color));
    font-weight   : bold;
    font-family   : "Tocas-Lato";
    font-size     : 1.6rem;
    flex          : 1;
    line-height   : 0;
    letter-spacing: 1rem;
    margin-right  : -1rem;
}

/**
 * Vertical
 */

.ts.divider.-vertical {
    position          : absolute;
    margin-block-end  : 0;
    margin-block-start: 0;
    border-top        : 0;
    white-space       : nowrap;
    left              : 50%;
    margin            : 0;
    padding           : 0;
    width             : auto;
    top               : 0;
    bottom            : 0;
    line-height       : 0;
    text-align        : center;
    transform         : translateX(-50%);
}

.ts.divider.-vertical::before,
.ts.divider.-vertical::after {
    content    : "";
    left       : 50%;
    height     : calc(50% - 1rem);
    border-left: var(--line-width) solid rgb(var(--divider-color));
    position   : absolute;
}
.ts.divider.-vertical::before {
    top: 0;
}
.ts.divider.-vertical::after {
    bottom: 0;
}

/**
 * Horizontal
 */

.ts.divider.-horizontal {
    border-top: 0;
}

.ts.divider.-horizontal::before,
.ts.divider.-horizontal::after {
    content   : "";
    flex      : 1;
    border-top: var(--line-width) solid rgb(var(--divider-color));
}
.ts.divider.-horizontal::before {
    margin-right: var(--distance-text);
}
.ts.divider.-horizontal::after {
    margin-left: var(--distance-text);
}

/**
 * Icon
 */

.ts.divider.-left-icon i.icon {
    margin-right: var(--distance-icon);
}

.ts.divider.-right-icon i.icon {
    margin-left: var(--distance-icon);
}

/**
 * Thickness
 */

.ts.divider.-thick {
    --line-width: var(--line-width-thick);
}

.ts.divider.-very-thick {
    --line-width: var(--line-width-very-thick);
}

/**
 * Aligns
 */

.ts.divider.-left-aligned::before {
    display: none;
}

.ts.divider.-right-aligned::after {
    display: none;
}

/**
 * Hidden
 */

.ts.divider.-hidden {
    visibility: hidden;
    border-top: transparent !important;
}

.ts.divider.-hidden::before,
.ts.divider.-hidden::after {
    display: none;
}

/**
 * Fitted
 */

.ts.divider.-fitted {
    margin: 0;
}

/**
 * Clearing
 */

.ts.divider.-clearing {
    clear: both;
}

/**
 * Heading
 */

.ts.divider.-heading {
    font-weight: 500;
}

/**
 * Setion
 */

.ts.divider.-section {
    margin: var(--distance-block-section) 0;
}

/**
 * Compact
 */

.ts.divider.-compact {
    margin-left : auto;
    margin-right: auto;
    width       : 70%;
}
