/* ==========================================================================
   Variables
   ========================================================================== */

.ts.feed {
    /**
     * Block
     */

    --border-radius: var(--global__border-radius);

    /**
     * Distance
     */

    --distance-block       : var(--global__distance-block);
    --distance-structure   : .5rem;
    --distance-item        : 1rem;
    --distance-item-relaxed: 1.6rem;

    /**
     * Typography
     */

    --font-size  : 1rem;
    --line-height: var(--global__line-height);

    /**
     * Color
     */

    --color                  : var(--default__color);
    --border-color           : var(--default__border-color);
    --description-color      : var(--default__description-color);
    --description-hover-color: var(--default__description-hover-color);
    --divider-color          : var(--default__divider-color);
    --line-color             : var(--default__line-color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.feed {
    font-size  : var(--font-size);
    color      : rgb(var(--color));
    line-height: var(--line-height);
}

.ts.feed:first-child {
    margin-block-start: 0;
}

.ts.feed:last-child {
    margin-block-end: 0;
}

.ts.feed:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Event
 */

.ts.feed > .event {
    display: flex;
}

.ts.feed > .event:not(:last-child) {
    margin-bottom: var(--distance-item);
}

/**
 * Label
 */

.ts.feed > .event > .label {
    margin-right: .8rem;
    min-width   : 2.375em;
}

.ts.feed > .event > .label > img {
    width         : 2.375em;
    height        : 2.375em;
    border-radius : var(--border-radius);
    vertical-align: top;
    margin-top    : 5px;
}

.ts.feed > .event > .label > i.icon {
    background : #FFF;
    line-height: 1;
    width: calc(1.8rem);
}

.ts.feed > .event > .label > i.icon::before {
    font-size: 1.8em;
}

/**
 * Content
 */

.ts.feed > .event > .content {
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

/**
 * Summary
 */

.ts.feed > .event > .content > .summary {
    line-height: 1.5;
    font-weight: 500;
}

/**
 * Time
 */

.ts.feed > .event > .content > .summary > .time {
    font-size  : .9375em;
    line-height: 1;
    color      : rgb(var(--description-color));
    display    : inline;
    margin-left: .25rem;
}

.ts.feed > .event > .content > .time {
    font-size  : .9375em;
    color      : rgb(var(--description-color));
    line-height: 1.5;

}

.ts.feed > .event > .content > .time:first-child {
    margin-top: 0;
}

.ts.feed > .event > .content > *:not(.summary) + .time {
    margin-top: var(--distance-structure);
}

/**
 * Images
 */

.ts.feed > .event > .content > .images {
    margin-top : var(--distance-structure);
    display    : flex;
    flex-wrap  : wrap;
    align-items: flex-start;
}

.ts.feed > .event > .content > .images img {
    display       : inline-block;
    width         : 84px;
    margin-right  : .25rem;
    vertical-align: top;
}

/**
 * Description
 */

.ts.feed > .event > .content > .description {
    margin-top : var(--distance-structure);
    line-height: 1.5;
}

/**
 * Meta
 */

.ts.feed > .event > .content > .meta {
    font-size  : .9375em;
    line-height: 1;
    margin-top : var(--distance-structure);
}

/**
 * Item
 */

.ts.feed > .event > .content > .meta > .item {
    color          : rgb(var(--description-color));
    text-decoration: none;
}

.ts.feed > .event > .content > .meta > a.item:hover {
    color          : rgb(var(--description-hover-color));
    text-decoration: underline;
}

.ts.feed > .event > .content > .meta > .item:not(:first-child)::before {
    margin-right   : .25rem;
    font-family    : Tocas-Lato, Arial, sans-serif;
    content        : '·';
    pointer-events : none;
    user-select    : none;
    display        : inline-block; /** Remove underline */
}


/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Relaxed
 */

.ts.feed.-relaxed {
    --distance-item: var(--distance-item-relaxed);
}

/**
 * Sizes
 */

.ts.feed.-mini {
    font-size: .8125rem;
}

.ts.feed.-tiny {
    font-size: .875rem;
}

.ts.feed.-small {
    font-size: .9375rem;
}

.ts.feed.-large {
    font-size: 1.0625rem;
}

.ts.feed.-big {
    font-size: 1.125rem;
}

.ts.feed.-huge {
    font-size: 1.1875rem;
}

.ts.feed.-massive {
    font-size: 1.25rem;
}

/**
 * Divided
 */

.ts.feed.-divided > .event:not(:last-child) {
    padding-bottom: var(--distance-item);
    border-bottom : 1px solid rgb(var(--divider-color));
}

/**
 * Timelined
 */

.ts.feed.-timelined {
    margin-left: 1.2em;
}

.ts.feed.-timelined > .event > .label {
    position   : relative;
    border-left: 3px solid rgb(var(--line-color));
    min-width  : auto;
}

.ts.feed.-timelined > .event > .label > img,
.ts.feed.-timelined > .event > .label > i.icon {
    margin-top: 0;
    position  : absolute;
    left      : 50%;
    transform : translateX(-50%);
    width     : auto;
}

.ts.feed.-timelined > .event > .content {
    padding-left: 1.2em;
}
