/* ==========================================================================
   Variables
   ========================================================================== */

.ts.grid {
    /**
     * Block
     */

    /**
     * Distance
     */

    --distance-block: var(--global__distance-block);

    /**
     * Typography
     */

    --font-size: 1rem;
    --line-height: var(--global__line-height);

    --grid-gap: calc(var(--global__distance-block) / 2);
    --grid-gap-relaxed: calc(var(--global__distance-block) / 1.5);
    --grid-gap-very-relaxed: calc(var(--global__distance-block) / 1);

    --one-wide: calc(100% / 16 * 1);
    --two-wide: calc(100% / 16 * 2);
    --three-wide: calc(100% / 16 * 3);
    --four-wide: calc(100% / 16 * 4);
    --five-wide: calc(100% / 16 * 5);
    --six-wide: calc(100% / 16 * 6);
    --seven-wide: calc(100% / 16 * 7);
    --eight-wide: calc(100% / 16 * 8);
    --nine-wide: calc(100% / 16 * 9);
    --ten-wide: calc(100% / 16 * 10);
    --eleven-wide: calc(100% / 16 * 11);
    --twelve-wide: calc(100% / 16 * 12);
    --thirteen-wide: calc(100% / 16 * 13);
    --fourteen-wide: calc(100% / 16 * 14);
    --fifteen-wide: calc(100% / 16 * 15);
    --sixteen-wide: calc(100% / 16 * 16);

    --one-column: calc(1 / 1 * 100%);
    --two-column: calc(1 / 2 * 100%);
    --three-column: calc(1 / 3 * 100%);
    --four-column: calc(1 / 4 * 100%);
    --five-column: calc(1 / 5 * 100%);
    --six-column: calc(1 / 6 * 100%);
    --seven-column: calc(1 / 7 * 100%);
    --eight-column: calc(1 / 8 * 100%);
    --nine-column: calc(1 / 9 * 100%);
    --ten-column: calc(1 / 10 * 100%);
    --eleven-column: calc(1 / 11 * 100%);
    --twelve-column: calc(1 / 12 * 100%);
    --thirteen-column: calc(1 / 13 * 100%);
    --fourteen-column: calc(1 / 14 * 100%);
    --fifteen-column: calc(1 / 15 * 100%);
    --sixteen-column: calc(1 / 16 * 100%);

    /**
     * Color
     */

    --color: var(--default__color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: calc(-1 * var(--grid-gap));
}

.ts.grid:first-child {
    margin-block-start: 0;
}

.ts.grid:last-child {
    margin-block-end: 0;
}

.ts.grid:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts.grid > .column {
    box-sizing: border-box;
}

.ts.grid + .ts.grid {
}

.ts.grid > .column:not(.row) {
    padding-top: var(--grid-gap);
    padding-bottom: var(--grid-gap);
}

.ts.grid > .column:not(.row),
.ts.grid > .row .column:not(.row) {
    padding-left: var(--grid-gap);
    padding-right: var(--grid-gap);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Column Grid
 */

.ts.grid.-one-column > .column:not(.row),
.ts.grid.-one-column > .row > .column {
    width: var(--one-column);
}
.ts.grid.-two-column > .column:not(.row),
.ts.grid.-two-column > .row > .column {
    width: var(--two-column);
}
.ts.grid.-column-3 > .column:not(.row),
.ts.grid.-column-3 > .row > .column {
    width: var(--three-column);
}
.ts.grid.-column-4 > .column:not(.row),
.ts.grid.-column-4 > .row > .column {
    width: var(--four-column);
}
.ts.grid.-column-5 > .column:not(.row),
.ts.grid.-column-5 > .row > .column {
    width: var(--five-column);
}
.ts.grid.-column-6 > .column:not(.row),
.ts.grid.-column-6 > .row > .column {
    width: var(--six-column);
}
.ts.grid.-column-7 > .column:not(.row),
.ts.grid.-column-7 > .row > .column {
    width: var(--seven-column);
}
.ts.grid.-column-8 > .column:not(.row),
.ts.grid.-column-8 > .row > .column {
    width: var(--eight-column);
}
.ts.grid.-column-9 > .column:not(.row),
.ts.grid.-column-9 > .row > .column {
    width: var(--nine-column);
}
.ts.grid.-column-10 > .column:not(.row),
.ts.grid.-column-10 > .row > .column {
    width: var(--ten-column);
}
.ts.grid.-column-11 > .column:not(.row),
.ts.grid.-column-11 > .row > .column {
    width: var(--eleven-column);
}
.ts.grid.-column-12 > .column:not(.row),
.ts.grid.-column-12 > .row > .column {
    width: var(--twelve-column);
}
.ts.grid.-column-13 > .column:not(.row),
.ts.grid.-column-13 > .row > .column {
    width: var(--thirteen-column);
}
.ts.grid.-column-14 > .column:not(.row),
.ts.grid.-column-14 > .row > .column {
    width: var(--fourteen-column);
}
.ts.grid.-column-15 > .column:not(.row),
.ts.grid.-column-15 > .row > .column {
    width: var(--fifteen-column);
}
.ts.grid.-column-16 > .column:not(.row),
.ts.grid.-column-16 > .row > .column {
    width: var(--sixteen-column);
}

/**
 * Collapsed
 */

.ts.grid.-collapsed {
    margin: 0;
}

.ts.grid.-collapsed > .column:not(.row),
.ts.grid.-collapsed > .row,
.ts.grid.-collapsed > .row > .column,
.ts.grid > .row.-collapsed > .column {
    padding: 0;
}

/** TODO: RWD */

/**
 * Compact
 */

.ts.grid.-compact:not(.-stackable) > .column:not(:last-child),
.ts.grid > .row.-compact:not(.-stackable) > .column:not(:last-child) {
    padding-right: 0 !important;
}

/**
 * Relaxed
 */

.ts.grid.-relaxed,
.ts.grid.-relaxed > .column:not(.row),
.ts.grid.-relaxed > .row > .column:not(.row),
.ts.grid > .row.-relaxed > .column:not(.row) {
    --grid-gap: var(--grid-gap-relaxed);
}

.ts.grid.-very-relaxed,
.ts.grid.-very-relaxed > .column:not(.row),
.ts.grid.-very-relaxed > .row > .column:not(.row),
.ts.grid > .row.-very-relaxed > .column:not(.row) {
    --grid-gap: var(--grid-gap-very-relaxed);
}

/**
 * Text Aligns
 */

.ts.grid.-left-aligned .column,
.ts.grid .row.-left-aligned .column,
.ts.grid .column.-left-aligned.-left-aligned.-left-aligned {
    text-align: left;
}

.ts.grid.-right-aligned .column,
.ts.grid .row.-right-aligned .column,
.ts.grid .column.-right-aligned.-right-aligned.-right-aligned {
    text-align: right;
}

.ts.grid.-center-aligned .column,
.ts.grid .row.-center-aligned .column,
.ts.grid .column.-center-aligned.-center-aligned.-center-aligned {
    text-align: center;
}

.ts.grid.-justified .column,
.ts.grid .row.-justified .column,
.ts.grid .column.-justified.-justified.-justified {
    text-align: justify;
}

/**
 * Vertical Aligns
 */

.ts.grid.-top-aligned {
    align-items: flex-start;
}
.ts.grid .row.-top-aligned .column {
    align-self: flex-start;
}

.ts.grid.-middle-aligned {
    align-items: center;
}
.ts.grid .row.-middle-aligned .column {
    align-self: center;
}

.ts.grid.-bottom-aligned {
    align-items: flex-end;
}
.ts.grid .row.-bottom-aligned .column {
    align-self: flex-end;
}

/**
 * Centered
 */

.ts.grid.-centered,
.ts.grid .row.-centered {
    justify-content: center;
}

/**
 * Wide
 */

.ts.grid[class*=".-column-"] > .column.-wide-1,
.ts.grid > .row[class*=".-column-"] > .column.-wide-1,
.ts.grid > .row > .column.-wide-1,
.ts.grid > .column.-wide-1 {
    width: var(--one-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-2,
.ts.grid > .row[class*=".-column-"] > .column.-wide-2,
.ts.grid > .row > .column.-wide-2,
.ts.grid > .column.-wide-2 {
    width: var(--two-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-3,
.ts.grid > .row[class*=".-column-"] > .column.-wide-3,
.ts.grid > .row > .column.-wide-3,
.ts.grid > .column.-wide-3 {
    width: var(--three-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-4,
.ts.grid > .row[class*=".-column-"] > .column.-wide-4,
.ts.grid > .row > .column.-wide-4,
.ts.grid > .column.-wide-4 {
    width: var(--four-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-5,
.ts.grid > .row[class*=".-column-"] > .column.-wide-5,
.ts.grid > .row > .column.-wide-5,
.ts.grid > .column.-wide-5 {
    width: var(--five-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-6,
.ts.grid > .row[class*=".-column-"] > .column.-wide-6,
.ts.grid > .row > .column.-wide-6,
.ts.grid > .column.-wide-6 {
    width: var(--six-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-7,
.ts.grid > .row[class*=".-column-"] > .column.-wide-7,
.ts.grid > .row > .column.-wide-7,
.ts.grid > .column.-wide-7 {
    width: var(--seven-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-8,
.ts.grid > .row[class*=".-column-"] > .column.-wide-8,
.ts.grid > .row > .column.-wide-8,
.ts.grid > .column.-wide-8 {
    width: var(--eight-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-9,
.ts.grid > .row[class*=".-column-"] > .column.-wide-9,
.ts.grid > .row > .column.-wide-9,
.ts.grid > .column.-wide-9 {
    width: var(--nine-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-10,
.ts.grid > .row[class*=".-column-"] > .column.-wide-10,
.ts.grid > .row > .column.-wide-10,
.ts.grid > .column.-wide-10 {
    width: var(--ten-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-11,
.ts.grid > .row[class*=".-column-"] > .column.-wide-11,
.ts.grid > .row > .column.-wide-11,
.ts.grid > .column.-wide-11 {
    width: var(--eleven-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-12,
.ts.grid > .row[class*=".-column-"] > .column.-wide-12,
.ts.grid > .row > .column.-wide-12,
.ts.grid > .column.-wide-12 {
    width: var(--twelve-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-13,
.ts.grid > .row[class*=".-column-"] > .column.-wide-13,
.ts.grid > .row > .column.-wide-13,
.ts.grid > .column.-wide-13 {
    width: var(--thirteen-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-14,
.ts.grid > .row[class*=".-column-"] > .column.-wide-14,
.ts.grid > .row > .column.-wide-14,
.ts.grid > .column.-wide-14 {
    width: var(--fourteen-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-15,
.ts.grid > .row[class*=".-column-"] > .column.-wide-15,
.ts.grid > .row > .column.-wide-15,
.ts.grid > .column.-wide-15 {
    width: var(--fifteen-wide);
}
.ts.grid[class*=".-column-"] > .column.-wide-16,
.ts.grid > .row[class*=".-column-"] > .column.-wide-16,
.ts.grid > .row > .column.-wide-16,
.ts.grid > .column.-wide-16 {
    width: var(--sixteen-wide);
}

/**
 * Floated
 */

.ts.grid > .column.-right-floated {
    margin-left: auto;
}

.ts.grid > .column.-left-floated {
    margin-right: auto;
}

/**
 * Stretched
 */

.ts.grid > .column.-stretched {
    flex: 1;
}

/**
 * Vertically Stretched
 */

.ts.grid > .row > .column.-vertically-stretched,
.ts.grid > .column.-vertically-stretched:not(.row),
.ts.grid > .row.-vertically-stretched > .column,
.ts.grid.-vertically-stretched > .column,
.ts.grid.-vertically-stretched > .row > .column {
    display: inline-flex !important;
    flex-direction: column;
    align-self: stretch;
}

.ts.grid > .row > .column.-vertically-stretched > *,
.ts.grid > .column.-vertically-stretched:not(.row) > *,
.ts.grid > .row.-vertically-stretched > .column > *,
.ts.grid.-vertically-stretched > .column > *,
.ts.grid.-vertically-stretched > .row > .column > * {
    flex-grow: 1;
}

/**
 * Block
 */
