.ts.label {
    /**
     * Block
     */

    --block_secondary-background-color: var(--default__block_secondary-background-color);
    --block_tertiary-background-color: var(--default__block_tertiary-background-color);
    --block_hover-secondary-background-color: var(--default__block_hover-secondary-background-color);
    --block_hover-tertiary-background-color: var(--default__block_hover-tertiary-background-color);

    --block_border-color: var(--default__block_border-color);

    --block_border-radius: var(--default__block_border-radius);

    /**
     *
     */

    --emphasized_background-color: var(--default__emphasized_background-color);
    --emphasized_color: var(--default__emphasized_color);
    --emphasized_hover-background-color: var(--default__emphasized_hover-background-color);
    --emphasized_secondary-background-color: var(--default__emphasized_secondary-background-color);
    --emphasized_emphasized-border-color: var(--default__emphasized_emphasized-border-color);
    --emphasized_hover-secondary-background-color: var(--default__emphasized_hover-secondary-background-color);
    --emphasized_border-color: var(--default__emphasized_border-color);

    /**
     * Typography
     */

    --typography_color         : var(--default__typography_color);
    --typography_line-height   : var(--default__typography_line-height);
}

/* ==========================================================================
   Structure
   ========================================================================== */



/* ==========================================================================
   Variations
   ========================================================================== */

.ts.label {
    display       : inline-flex;
    font-size     : 14px;
    background    : var(--emphasized_background-color);
    padding       : 0 .5rem;
    border-radius : var(--block_border-radius);
    font-weight   : 500;
    margin        : 0;
    vertical-align: top;
    align-items   : center;
    color         : var(--emphasized_color);
    line-height   : 1.6rem;
}

/**
 * Image
 */

.ts.label.-left-image,
.ts.label.-right-image {
    padding-top   : 0;
    padding-bottom: 0;

}

.ts.label.-left-image {
    padding-left: 0;
}

.ts.label.-right-image {
    padding-right: 0;
}

.ts.label.-left-image img,
.ts.label.-right-image img {
    height: 1.8em;
}

.ts.label.-left-image img {
    margin-right: .5rem;
}

.ts.label.-right-image img {
    margin-left: .5rem;
}

/**
 * Detail
 */

.ts.label .detail {
    background  : var(--emphasized_secondary-background-color);
    padding     : 0 .5rem;
    margin-right: -.5rem;
    margin-left : .5rem;
}

/**
 * Icon
 */

.ts.label.-icon i.icon {
    font-size: 15px;
}

.ts.label.-left-icon i.icon,
.ts.label.-right-icon i.icon {
    font-size: 15px;
}

.ts.label.-left-icon i.icon {
    margin-right: .5rem;
}

.ts.label.-right-icon i.icon {
    margin-left: .5rem;
}

/**
 * Circular
 */

.ts.label.-circular {
    border-radius: 10em;
}

/**
 * Fluid
 */

.ts.label.-fluid {
    display: flex;
}

.ts.label.-fluid:not(:first-child) {
    margin-top: .5rem;
}

/**
 * Floated
 */

.ts.label.-left-floated {
    float: left;
}

.ts.label.-right-floated {
    float: right;
}

/**
 * Basic
 */

.ts.label.-basic {
    box-sizing: border-box;
    border    : 1px solid var(--emphasized_emphasized-border-color);
    background: transparent;
}

.ts.label.-basic .detail {
    background: var(--emphasized_secondary-background-color);
}

/**
 * Link
 */

.ts.label.-link {
    text-decoration: none;
}

.ts.label.-link:hover {
    background: var(--emphasized_hover-background-color);
}

.ts.label.-link:hover .detail {
    background: var(--emphasized_hover-secondary-background-color);
}

/**
 * Pointing
 */

.ts.label.-left-pointing,
.ts.label.-right-pointing,
.ts.label.-top-pointing,
.ts.label.-bottom-pointing {
    position: relative;
}

.ts.label.-left-pointing{
    margin-left: .66em;
}
.ts.label.-left-pointing::before {
    border-width: 0 0 1px 1px;
    transform   : translateX(-50%) translateY(-50%) rotate(45deg);
    bottom      : auto;
    right       : auto;
    top         : 50%;
    left        : 0;
}

.ts.label.-right-pointing {
    margin-right: .66em;
}
.ts.label.-right-pointing::before {
    border-width: 1px 1px 0 0;
    transform   : translateX(50%) translateY(-50%) rotate(45deg);
    top         : 50%;
    right       : 0%;
    bottom      : auto;
    left        : auto;
}

.ts.label.-top-pointing {
    margin-top: .66em;
}
.ts.label.-top-pointing::before {
    border-width: 1px 0 0 1px;
    transform   : translateX(-50%) translateY(-50%) rotate(45deg);
    top         : 0%;
    left        : 50%;
}

.ts.label.-bottom-pointing {
    margin-bottom: .66em;
}
.ts.label.-bottom-pointing::before {
    border-width: 0 1px 1px 0;
    top         : auto;
    right       : auto;
    transform   : translateX(-50%) translateY(-50%) rotate(45deg);
    top         : 100%;
    left        : 50%;
}

.ts.label.-left-pointing::before,
.ts.label.-right-pointing::before,
.ts.label.-top-pointing::before,
.ts.label.-bottom-pointing::before {
    position    : absolute;
    content     : '';
    z-index     : 2;
    width       : .6666em;
    background  : var(--emphasized_background-color);
    height      : .6666em;
    border-color: transparent;
}

.ts.label.-left-pointing.-basic::before,
.ts.label.-right-pointing.-basic::before,
.ts.label.-top-pointing.-basic::before,
.ts.label.-bottom-pointing.-basic::before {
    border-style: solid;
    border-color: inherit;
    background  : var(--block_background-color, var(--global_background-color));
}

/**
 * Attached
 */

.ts.label.-top-right-attached,
.ts.label.-top-left-attached,
.ts.label.-bottom-right-attached,
.ts.label.-bottom-left-attached,
.ts.label.-top-attached,
.ts.label.-bottom-attached {
    position: absolute;
    padding : .2rem 1rem;
}
.ts.label.-top-attached {
    left                   : 0;
    right                  : 0;
    top                    : 0;
    border-top-right-radius: 0;
    border-top-left-radius : 0;
}
.ts.label.-bottom-attached {
    left                      : 0;
    right                     : 0;
    bottom                    : 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius : 0;
}
.ts.label.-top-right-attached {
    top                       : 0;
    right                     : 0;
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0;
}
.ts.label.-top-left-attached {
    top                      : 0;
    left                     : 0;
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
}
.ts.label.-bottom-right-attached {
    bottom                    : 0;
    right                     : 0;
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0;
}
.ts.label.-bottom-left-attached {
    bottom                   : 0;
    left                     : 0;
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
}

/**
 * Corner
 */

.ts.label.-left-corner,
.ts.label.-right-corner {
    position    : absolute;
    top         : 0;
    margin      : 0;
    padding     : 0;
    text-align  : center;
    border-color: var(--emphasized_background-color);
    background  : transparent;
    width       : 4em;
    height      : 4em;
    z-index     : 1;
}

.ts.label.-left-corner {
    left: 0;
}

.ts.label.-right-corner {
    right: 0;
}

.ts.label.-left-corner::after,
.ts.label.-right-corner::after {
    position        : absolute;
    content         : "";
    right           : 0;
    top             : 0;
    z-index         : -1;
    width           : 0;
    height          : 0;
    background-color: transparent;
}

.ts.label.-left-corner::after {
    border-top   : 4em solid inherit;
    border-right : 4em solid transparent;
    border-bottom: 0 solid transparent;
    border-left  : 0 solid transparent;
}

.ts.label.-right-corner::after {
    border-top   : 4em solid inherit;
    border-right : 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left  : 4em solid transparent;
}

.ts.label.-left-corner i.icon,
.ts.label.-right-corner i.icon {
    cursor   : inherit;
    position : absolute;
    top      : .05em;
    font-size: 1.14285714em;
    margin   : 0;
}

.ts.label.-left-corner i.icon {
    left : .5em;
    right: auto;
}

.ts.label.-right-corner i.icon {
    right: .5em;
    left : auto;
}

/**
 * Tag
 */

.ts.label.-tag {
    margin-left  : 1em;
    position     : relative;
    padding-left : 1.5em;
    padding-right: 1.5em;
    border-radius: 0 .28571429rem .28571429rem 0;
    transition   : none;
}

.ts.label.-tag::after {
    position        : absolute;
    content         : '';
    top             : 50%;
    left            : -.25em;
    margin-top      : -.25em;
    background-color: var(--block_background-color, var(--global_background-color));
    width           : .5em;
    height          : .5em;
    box-shadow      : 0px 0px 0px 1px rgba(184, 184, 184, 0.3);
    border-radius   : 500rem;
}

.ts.label.-tag::before {
    position        : absolute;
    transform       : translateY(-50%) translateX(50%) rotate(-45deg);
    top             : 50%;
    right           : 100%;
    content         : '';
    background-color: inherit;
    background-image: none;
    width           : 1.56em;
    height          : 1.56em;
    transition: none;
}

/**
 * Ribbon
 */

.ts.label.-left-ribbon,
.ts.label.-right-ribbon {
    position     : relative;
    margin       : 0;
    min-width    : max-content;
    border-radius: 0 .28571429rem .28571429rem 0;
}

.ts.label.-left-ribbon::after,
.ts.label.-right-ribbon::after {
    position: absolute;
    content : '';
    top     : 100%;
    width   : 0;
    height  : 0;
}

.ts.label.-left-ribbon {
    left         : calc(-1rem - 1.2em);
    margin-right : -1.2em;
    padding-left : calc(1rem + 1.2em);
    padding-right: 1.2em;
}
.ts.label.-left-ribbon::after {
    left              : 0;
    background-color  : transparent;
    border-style      : solid;
    border-width      : 0 1.2em 1.2em 0;
    border-color      : transparent;
    border-right-color: inherit;
}

.ts.label.-right-ribbon {
    text-align   : left;
    transform    : translateX(-100%);
    border-radius: .28571429rem 0 0 .28571429rem;
    left         : calc(100% + 1rem + 1.2em);
    padding-left : 1.2em;
    padding-right: calc(1rem + 1.2em);
}
.ts.label.-right-ribbon::after {
    left            : auto;
    right           : 0;
    border-style    : solid;
    border-width    : 1.2em 1.2em 0 0;
    border-color    : transparent;
    border-top-color: inherit;
}

/**
 * Vertical Ribbon
 */

.ts.label.-right-vertical-ribbon {
    position     : absolute;
    display      : block;
    top          : 0;
    right        : 1em;
    height       : auto;
    left         : auto;
    width        : 2.1em;
    border       : 0;
    padding      : 1em .2em;
    margin-right : 0;
    border-radius: 0;
    line-height  : 1.2;
    text-align   : center;
    word-break   : break-all;
    z-index      : 1;
}

.ts.label.-right-vertical-ribbon::after {
    position           : absolute;
    content            : '';
    left               : 0;
    width              : 0;
    bottom             : -1.5em;
    border-width       : 0 1.25em 1.5em;
    border-style       : solid;
    border-color       : var(--emphasized_background-color);
    border-bottom-color: transparent;

}

/**
 * Vertical Empty Ribbon
 */

.ts.label.-right-vertical-ribbon:empty {
    background: none;
    width     : 1em;
}

.ts.label.-right-vertical-ribbon:empty::after {
    border-left-color : var(--emphasized_background-color);
    border-right-color: var(--emphasized_background-color);
    position          : absolute;
    top               : 0;
    right             : 1em;
    margin            : 0;
    display           : inline-block;
    width             : 0;
    height            : 2em;
    padding           : 0;
    border            : 0;
    background        : transparent;
    border-radius     : 0;
    border-right-width: 8px;
    border-left-width : 8px;
    border-right-style: solid;
    border-left-style : solid;
    border-bottom     : 8px solid transparent;
    z-index           : 1;
}

/**
 * Banner
 */

.ts.label.-banner {
    position     : relative;
    text-align   : center;
    margin       : 0 1em 0.5em;
    padding-left : 1.8em;
    padding-right: 1.8em;
    box-shadow   : 0px 1px 2px 0px var(--emphasized_secondary-background-color);
    border-radius: 0;
    border       : 0;
    z-index      : auto;
}

.ts.label.-banner::after,
.ts.label.-banner::before {
    position    : absolute;
    content     : '';
    bottom      : -.4em;
    z-index     : -1;
    border-width: .8em;
    border-style: solid;
}

.ts.label.-banner::after {
    right             : -1.1em;
    border-color      : var(--emphasized_secondary-background-color);
    border-right-color: transparent !important;
}

.ts.label.-banner::before {
    left             : -1.1em;
    border-color     : var(--emphasized_secondary-background-color);
    border-left-color: transparent !important;
}

/**
 * Coupon
 */

.ts.label.-coupon {
    position: relative;
}

.ts.label.-coupon::after {
    left              : calc(-.3em);
    border-right-style: solid;
    border-right-width: 1px;
}

.ts.label.-coupon::before {
    right            : calc(-.3em);
    border-left-style: solid;
    border-left-width: 1px;
}

.ts.label.-coupon::after,
.ts.label.-coupon::before {
    position     : absolute;
    content      : '';
    background   : var(--block_background-color, var(--global_background-color));
    border-radius: 500em;
    width        : .6em;
    height       : .6em;
    top          : 50%;
    transform    : translateY(-50%);
    border-color : var(--emphasized_border-color);
}