/* ==========================================================================
   Variables
   ========================================================================== */

.ts.label {
    /**
     * Block
     */

    --border-radius: var(--global__border-radius);
    --border-radius-circular: var(--global__border-radius-circular);
    --vertical-padding: 0.05rem;
    --horizontal-padding: 0.6rem;
    --border-width: 1px;
    --disabled-opacity: var(--global__disabled-opacity);

    /**
     * Distance
     */

    --distance-block: var(--global__distance-block);
    --distance-divider: 0.25rem;

    /**
     * Typography
     */

    --font-size: 0.875rem;
    --line-height: var(--global__line-height);

    /**
     * Color
     */

    --color: var(--default__color);
    --symbol-color: var(--default__symbol-color);
    --disabled-color: var(--default__disabled-color);
    --stepped-color: var(--default__stepped-color);
    --active-color: var(--default__active-color);
    --link-color: var(--default__color);
    --border-color: var(--default__border-color);
    --background-secondary-color: var(--default__background-secondary-color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.label {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    font-size: var(--font-size);
    color: rgb(var(--color));
    line-height: var(--line-height);
    background: rgb(240, 240, 240);
    border-radius: var(--border-radius);
    padding: var(--vertical-padding) var(--horizontal-padding);
    border: var(--border-width) solid transparent;
}

.ts.label:first-child {
    margin-block-start: 0;
}

.ts.label:last-child {
    margin-block-end: 0;
}

.ts.label:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Detail
 */

.ts.label > .detail {
    display: inline-block;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: var(--vertical-padding) var(--horizontal-padding);
    margin-top: calc(var(--vertical-padding) * -1);
    margin-bottom: calc(var(--vertical-padding) * -1);
    height: calc(1em * var(--line-height));
    background: #dedede;
    margin-left: calc(var(--horizontal-padding) - 0.1rem);
    margin-right: calc(var(--horizontal-padding) * -1);
}

/**
 * Close
 */

.ts.label > .close {
    font-family: "Icons";
    appearance: none;
    border: 0;
    box-shadow: 0 0 black;
    color: #ffffff;
    background: #b9b9b9;
    width: 1.3em;
    height: 1.3em;
    border-radius: 10em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: calc((var(--horizontal-padding) - 0.1rem) / 2);
    margin-right: -4px;
    outline: 0;
}
.ts.label > .close::after {
    content: "\f00d";
    line-height: 0;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Link
 */

.ts.label.-link {
    text-decoration: none;
}

.ts.label.-link:hover {
    cursor: pointer;
    background: rgb(228, 228, 228);
}

/**
 * Selected
 */

.ts.label.-selected {
    background: #d9d4ff;
    color: #01f;
    font-weight: 500;
}

/**
 * Image
 */

.ts.label.-left-image {
    padding-left: 0;
}

.ts.label.-left-image img {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    margin-right: calc((var(--horizontal-padding) - 0.1rem) / 2); /** text white space */
}

.ts.label.-left-image img,
.ts.label.-right-image img {
    height: calc(1em * var(--line-height) + (var(--vertical-padding) * 2));
    margin-top: calc(var(--vertical-padding) * -1);
    margin-bottom: calc(var(--vertical-padding) * -1);
    vertical-align: top;
}

.ts.label.-right-image {
    padding-right: 0;
}

.ts.label.-right-image img {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-left: calc((var(--horizontal-padding) - 0.1rem) / 2); /** text white space */
}

/**
 * Tag
 */

.ts.label.-tag {
    --horizontal-padding: 1.1rem;
    margin-left: 0.8rem;
}
.ts.label.-tag::before {
    position: absolute;
    /* -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg); */
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    top: 50%;
    right: 100%;
    content: "";
    background-color: inherit;
    background-image: none;
    width: 20px;
    height: 19px;
    /* background: #000; */
    -webkit-transition: none;
    transition: none;
}

.ts.label.-tag.-basic {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ts.label.-tag.-basic::before {
    border-top: 1px solid rgb(var(--border-color));
    border-left: 1px solid rgb(var(--border-color));
}

.ts.label.-tag.-basic::after {
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.8);
}

.ts.label.-tag::after {
    position: absolute;
    content: "";
    top: 50%;
    left: -0.25em;
    margin-top: -0.25em;
    background-color: #fff;
    width: 0.5em;
    height: 0.5em;
    -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0px -1px 1px 0 rgb(0 0 0 / 19%);
    border-radius: 500rem;
}

/**
 * Banner
 */

.ts.label.-banner {
    position: relative;
    text-align: center;
    margin: 0 1em 0.5em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    box-shadow: 0px 1px 2px 0px rgb(var(--emphasized_background-secondary-color));
    border-radius: 0;
    border: 0;
    z-index: auto;
}

.ts.label.-banner::after,
.ts.label.-banner::before {
    position: absolute;
    content: "";
    bottom: -0.4em;
    z-index: -1;
    border-width: 0.8em;
    border-style: solid;
}

.ts.label.-banner::after {
    right: -1.1em;
    border-color: rgb(var(--emphasized_background-secondary-color));
    border-right-color: transparent !important;
}

.ts.label.-banner::before {
    left: -1.1em;
    border-color: rgb(var(--emphasized_background-secondary-color));
    border-left-color: transparent !important;
}

/**
 * Basic
 */

.ts.label.-basic {
    border-color: rgb(var(--border-color));
    background: transparent;
}
.ts.label.-basic .detail {
    background: rgb(240, 240, 240);
}
.ts.label.-basic.-selected {
    background: #efedff;
    border-color: #d9d4ff;
}
.ts.label.-basic .close {
    background: transparent;
    color: #545454;
}

/**
 * Circular
 */

.ts.label.-circular {
    --border-radius: var(--border-radius-circular);
}
.ts.label.-circular img {
    border-radius: var(--border-radius-circular);
}

/**
 * Icon
 */

.ts.label.-left-icon i.ts.icon {
    margin-right: 0.5rem;
}
.ts.label.-right-icon i.ts.icon {
    margin-left: 0.5rem;
    margin-right: 0;
}

/**
 * Compact
 */

.ts.label.-compact {
    line-height: calc(var(--line-height) / 1.2);
    --horizontal-padding: 0.3rem;
}

/**
 * Disabled
 */

.ts.label.-disabled {
    opacity: var(--disabled-opacity);
}

/**
 * Attached
 */

.ts.label.-top-attached,
.ts.label.-attached,
.ts.label.-bottom-attached {
    --horizontal-padding: 1rem;
}

.ts.label.-top-attached {
    display: block;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.ts.label.-attached {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    border-radius: 0;
}
.ts.label.-bottom-attached {
    display: block;
    margin-top: 0;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/**
 * Fluid
 */

.ts.label.-fluid {
    width: 100%;
    display: block;
}

/**
 * Floated
 */

.ts.label.-left-floated {
    float: left;
}
.ts.label.-right-floated {
    float: right;
}

/**
 * Aligns
 */

.ts.label.-left-aligned {
    text-align: left;
    justify-content: flex-start;
}
.ts.label.-center-aligned {
    text-align: center;
    justify-content: center;
}
.ts.label.-right-aligned {
    text-align: right;
    justify-content: flex-end;
}

/**
 * Corner Floated
 */

.ts.label.-top-right-floated,
.ts.label.-top-left-floated,
.ts.label.-bottom-right-floated,
.ts.label.-bottom-left-floated {
    position: absolute;
    margin: 0;
}

.ts.label.-top-right-floated {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
.ts.label.-top-left-floated {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.ts.label.-bottom-right-floated {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}
.ts.label.-bottom-left-floated {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}

/**
 * Corner Attached
 */

.ts.label.-top-right-attached,
.ts.label.-top-left-attached,
.ts.label.-bottom-right-attached,
.ts.label.-bottom-left-attached {
    position: absolute;
    margin: 0;
}

.ts.label.-top-right-attached {
    top: 0;
    right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ts.label.-top-left-attached {
    top: 0;
    left: 0;
    border-top-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.ts.label.-bottom-right-attached {
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}
.ts.label.-bottom-left-attached {
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}

/**
 * Sizes
 */

.ts.label.-small {
    --font-size: 0.8125rem;
}
.ts.label.-large {
    --font-size: 0.9375rem;
}
.ts.label.-big {
    --font-size: 1rem;
}
.ts.label.-huge {
    --font-size: 1.125rem;
}
.ts.label.-massive {
    --font-size: 1.25rem;
}
