/* ==========================================================================
   Variables
   ========================================================================== */

.ts.list {
    /**
     * Block
     */

    --distance-item: .5rem;

    /**
     * Distance
     */

    --distance-block          : var(--global__distance-block);
    --distance-item-horizontal: .6rem;
    --distance-item-bullet    : .5rem;

    /**
     * Typography
     */

    --font-size  : 1rem;
    --line-height: var(--global__line-height);

    /**
     * Color
     */

    --color: var(--default__color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.list {
    position     : relative;
    font-size    : var(--font-size);
    color        : rgb(var(--color));
    line-height  : var(--line-height);
}

.ts.list:first-child {
    margin-block-start: 0;
}

.ts.list:last-child {
    margin-block-end: 0;
}

.ts.list:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts.list .item:not(:first-child) {
    margin-top: 0;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Basic
 */

/**
 * Compact
 */

.ts.list.-compact .item:not(:first-child) {
    margin-top: 0;
}

/**
 * Bulleted
 */

.ts.list.-bulleted .item::before {
    font-family : Tocas-Lato, Arial, sans-serif;
    font-weight : 400;
    content     : '•';
    margin-right: var(--distance-item-bullet);
}

/**
 * Indented
 */

.ts.list.-indented {
    margin-left: 1rem;
}

/**
 * Horizontal
 */

.ts.list.-horizontal {
    display: inline-flex;
}

.ts.list.-horizontal .item:not(:last-child) {
    /** NOTE: 使用 `margin-right` 這樣才不會在項目換行的時候有奇怪的留左空白 */
    margin-right: var(--distance-item-horizontal);
}

/** Bulleted */
.ts.list.-horizontal.-bulleted .item {
    margin-right: calc(var(--distance-item-horizontal) / 2);
}

.ts.list.-bulleted .item::before {
    margin-right: calc(var(--distance-item-horizontal) / 2);
}

.ts.list.-horizontal.-bulleted .item:first-child::before {
    display: none;
}