/* ==========================================================================
   Variables
   ========================================================================== */

.ts.segment {
    /**
     * Block
     */

    --border-radius-circular: var(--global__border-radius-circular);
    --border-radius: var(--global__border-radius);
    --padding: var(--global__block_padding);

    /**
     * Loader
     */

    --loader-size: var(--global__loader-size);
    --loader-line-width: var(--global__loader-line-width);
    --loader-background-color: var(--default__loader-background-color);
    --loader-line-color: var(--default__loader-line-color);

    /**
     * Distance
     */

    --distance-block: var(--global__distance-block);

    /**
     * Typography
     */

    --font-size: 1rem;
    --line-height: var(--global__line-height);

    /**
     * Color
     */

    --color: var(--default__color);
    --disabled-color: var(--default__disabled-color);
    --border-color: var(--default__border-color);
    --background-color: var(--default__background-color);
    --background-tertiary-color: var(--default__background-tertiary-color);
    --background-secondary-color: var(--default__background-secondary-color);
    --indicated-border-color: var(--default__border-indicated-color);
    --shadow-raised-color: var(--default__shadow-raised-color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.segment {
    position: relative;
    border: 1px solid rgb(var(--border-color));
    padding: var(--padding);
    border-radius: var(--border-radius);
    background: rgb(var(--background-color));
    font-size: var(--font-size);
    color: rgb(var(--color));
    line-height: var(--line-height);
    word-break: break-all;
}

.ts.segment:first-child {
    margin-block-start: 0;
}

.ts.segment:last-child {
    margin-block-end: 0;
}

.ts.segment:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Raised
 */

.ts.segment.-raised {
    box-shadow: 0 2px 4px 0 rgba(var(--shadow-raised-color), 0.3), 0 2px 10px 0 rgba(var(--shadow-raised-color), 0.3);
}

/**
 * Fitted
 */

.ts.segment.-fitted {
    padding: 0;
}
.ts.segment.-horizontally-fitted {
    padding-left: 0;
    padding-right: 0;
}
.ts.segment.-vertically-fitted {
    padding-top: 0;
    padding-bottom: 0;
}

/**
 * Centered
 */

.ts.segment.-centered {
    width: fit-content;
    margin: 0 auto;
}

/**
 * Fluid
 */

.ts.segment.-fluid {
    border-radius: 0;
}

/**
 * Aligns
 */

.ts.segment.-center-aligned,
.ts.segments.-center-aligned .ts.segment {
    text-align: center;
}
.ts.segment.-left-aligned,
.ts.segments.-left-aligned .ts.segment {
    text-align: left;
}
.ts.segment.-right-aligned,
.ts.segments.-right-aligned .ts.segment {
    text-align: right;
}

/**
 * Compact
 */

.ts.segment.-compact {
    width: fit-content;
    /**display: table;  使用 `table` 才能夠套用 `.-centered` 而 `inline-block` 則無法。 */
}

/**
 * Loading
 */

@keyframes segment-spin {
    from {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    to {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

.ts.segment.-loading {
    position: relative;
    cursor: default;
    pointer-events: none;
    user-select: none;
    color: transparent !important;
    min-height: var(--loader-size);
}

.ts.segment.-loading::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(var(--background-color), 0.8);
    border-radius: var(--border-radius);
    z-index: var(--z_segment_loading-mask);
}

.ts.segment.-loading::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform-origin: top left;
    width: var(--loader-size);
    height: var(--loader-size);
    animation: segment-spin 0.5s linear;
    animation-iteration-count: infinite;
    border-radius: var(--border-radius-circular);
    border-color: rgb(var(--loader-line-color)) rgb(var(--loader-background-color)) rgb(var(--loader-background-color))
        rgb(var(--loader-background-color));
    border-style: solid;
    border-width: var(--loader-line-width);
    /** box-shadow: 0px 0px 0px 1px #0000001c, 0px 0px 0px 1px #0000001c inset;**/
    visibility: visible;
    z-index: var(--z_segment_loader);
}

/**
 * Clearing
 */

.ts.segment.-clearing::after {
    display: block;
    content: "\00a0";
    height: 0;
    clear: both;
    visibility: hidden;
}

/**
 * Padded
 */

.ts.segment.-padded,
.ts.segments.-padded .ts.segment {
    padding: calc(var(--padding) * 1.5);
}

.ts.segment.-very-padded,
.ts.segments.-very-padded .ts.segment {
    padding: calc(var(--padding) * 2.5);
}

/**
 * Floated
 */

.ts.segment.-left-floated {
    float: left;
    margin-right: var(--distance-block);
}
.ts.segment.-right-floated {
    float: right;
    margin-left: var(--distance-block);
}

/**
 * Piled
 */

.ts.segment.-piled,
.ts.segments.-piled {
    position: relative;
}

.ts.segment.-piled::after,
.ts.segments.-piled::after {
    transform: rotate(1.1deg);
    top: 0;
    z-index: var(--z_segment_piled-after);
}

.ts.segment.-piled::before,
.ts.segments.-piled::before {
    transform: rotate(-1.1deg);
    top: 0;
    z-index: var(--z_segment_piled-before);
}

.ts.segment.-piled::after,
.ts.segment.-piled::before,
.ts.segments.-piled::after,
.ts.segments.-piled::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(var(--border-color));
    visibility: visible;
    background: rgb(var(--background-color));
}

/**
 * Stacked
 */

.ts.segment.-stacked,
.ts.segments.-stacked,
.ts.segment.-tall-stacked,
.ts.segments.-tall-stacked {
    position: relative;
}

.ts.segment.-stacked::after,
.ts.segments.-stacked::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 6px;
    border-top: 1px solid rgb(var(--border-color));
    visibility: visible;
    background: rgba(0, 0, 0, 0.03);

    /** TODO: Stacked 因為 Border 所以 Bottom Padding 要增加 */
}

.ts.segment.-tall-stacked::after,
.ts.segments.-tall-stacked::after,
.ts.segment.-tall-stacked::before,
.ts.segments.-tall-stacked::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: 1px solid rgb(var(--border-color));
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 6px;
    visibility: visible;
}

.ts.segment.-tall-stacked::before,
.ts.segments.-tall-stacked::before {
    display: block;
    bottom: 0;
}

/**
 * Disabled
 */

.ts.segment.-disabled {
    user-select: none;
    color: rgb(var(--disabled-color));
}

.ts.segment.-disabled * {
    opacity: 0.45;
}

/**
 * Attached
 */

.ts.segment.-top-attached {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.ts.segment.-attached {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    border-radius: 0;
}
.ts.segment.-bottom-attached {
    margin-top: 0;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/**
 * Indicated
 */

/** override attached border-top */
.ts.segment.-indicated {
    border-top: 2px solid rgb(var(--indicated-border-color));
}

/**
 * Basic
 */

.ts.segment.-basic {
    border: 0;
    background: none;
    border-radius: 0;
}

/**
 * Accents
 */

.ts.segment.-secondary {
    background: rgb(var(--background-secondary-color));
}
.ts.segment.-tertiary {
    background: rgb(var(--background-tertiary-color));
}
