{{ define "gallery" }}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../components/dist/tocas.css">
    <link rel="stylesheet" href="../assets/highlight.css">
    <link rel="stylesheet" href="../assets/docs.css">
    <link rel="stylesheet" href="../assets/images/style.css">
    <link rel="stylesheet" href="../assets/styles/tocas.css">
    <link rel="stylesheet" href="../assets/highlight.css">
    <link rel="stylesheet" href="../assets/docs.css">
    <link rel="stylesheet" href="../assets/images/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/theme-monokai.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-html.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.12/beautify.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.12/beautify-css.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.12/beautify-html.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../html/assets/script.js" defer></script>
    <script src="../../assets/script.js" defer></script>
    <title>{{ .Document.Title }} - Tocas UI</title>
</head>
<body>
    <!-- 頂部定位錨點 -->
    <a id="top"></a>
    <!-- / 頂部定位錨點 -->

    <!-- 頂部板岩 -->
    <header class="ts padded big heading slate">
        <!-- 網格容器 -->
        <div class="ts container grid">
            <!-- 側邊空白欄位 -->
            <div class="four wide column">
                <!-- 主要 Logo -->
                <i></i>
                <!-- / 主要 Logo -->
            </div>
            <!-- / 側邊空白欄位 -->

            <!-- 右側主要內容欄位 -->
            <div class="twelve wide column">
                <nav class="ts large text menu">
                    <a href="#!" class="item">{{ l "GettingStarted" }}</a>
                    <a href="#!" class="item">{{ l "Documentation" }}</a>
                    <a href="#!" class="item">{{ l "Playground" }}</a>

                    <!-- 靠右選單 -->
                    <div class="right menu">
                        <a href="#!" class="item"><i class="globe icon"></i> {{ m "Language" }}</a>
                        <a href="#!" class="item"><i class="github icon"></i> GitHub</a>
                    </div>
                    <!-- / 靠右選單 -->
                </nav>
            </div>
            <!-- / 右側主要內容欄位 -->

            <!-- 主要文件標題區 -->
            <div class="sixteen wide column">
                <!-- 文件標題 -->
                <h1 class="header">{{ .Document.Title }}</h1>
                <!-- / 文件標題 -->

                <!-- 文件類別名稱敘述 -->
                <p class="description">{{ .Document.Description }}</p>
                <!-- / 文件類別名稱敘述 -->
            </div>
            <!-- / 主要文件標題區 -->
        </div>
        <!-- / 網格容器 -->
    </header>
    <!-- / 頂部板岩 -->

    <!-- 空白分隔線 -->
    <hr class="ts hidden divider">
    <!-- / 空白分隔線 -->

    <!-- 主要網格系統 -->
    <div class="ts container relaxed grid">
        <!-- 右側邊主要內容欄位 -->
        <div class="sixteen wide column">
            <section>
                <!-- -->
                <div class="ts doubling cards stackable three">
                    <!-- -->
                    {{ range .Document.Items }}
                    <div class="ts card">
                        <a href="{{ .Link }}" class="image">
                            <img src="{{ .Image }}">
                        </a>
                        <div class="content">
                            <a href="{{ .Link }}" class="header">{{ .Title }}</a>
                            {{ if .Authors }}
                            <div class="meta">
                                {{ range .Authors }}
                                <a href="{{ .Website }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                            {{ end }}
                            <div class="description">{{ .Description }}</div>
                            {{ if .Symbol }}
                            <div class="symbol">
                                <i class="{{ .Symbol }} icon"></i>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                    <!-- / -->
                </div>
                <!-- /  -->
            </section>
        </div>
        <!-- / 右側邊主要內容欄位 -->
    </div>
    <!-- / 主要網格系統 -->

    <!-- 空白分隔線 -->
    <hr class="ts hidden divider">
    <!-- / 空白分隔線 -->

    <!-- 底部片段 -->
    <footer class="ts bottom attached secondary very padded segment">
        <!-- 置中容器 -->
        <div class="ts container">
            <!-- 底部連結選單 -->
            <ul class="ts text menu">
                <li class="item">
                    <a href="#top"><i class="arrow up icon"></i> {{ u "Links.Top" }}</a>
                </li>
                <li class="item">
                    <a href="#!">GitHub</a>
                </li>
                <li class="item">
                    <a href="#!">{{ u "Links.Examples" }}</a>
                </li>
                <li class="item">
                    <a href="#!">{{ u "Links.About" }}</a>
                </li>
            </ul>
            <!-- / 底部連結選單 -->

            <!-- 底部說明 -->
            <p>
                {{ u "Texts.Footer.Text" }}
                <p class="contributors">
                    {{ u "Texts.Footer.Contributors" }}
                    {{ range $k, $v := .Document.Contributors }}
                        {{ if $k }}、{{end}}
                        <a target="_blank" href="{{ $v.Website }}">{{ $v.Name }}</a>
                    {{ end }}
                </p>
            </p>
            <!-- 底部說明 -->
        </div>
        <!-- / 置中容器 -->
    </footer>
    <!-- / 底部片段 -->
</body>
</html>
{{ end }}