@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500|Noto+Sans+JP:400,500|Noto+Sans+KR:400,500|Noto+Sans+SC:400,500|Noto+Sans+TC:400,500&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,japanese,korean,vietnamese");

html {
    font-size: 16px;
    font-family: "Noto Sans TC";
}

body {
    margin: 0;
    padding: 0;
}

screen-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1360px;
}

screen-container[data-row] {
    flex-direction: row;
}

application-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/**
 * 開頭矚目看板
 */

main-slate {
    display: block;
    background: #f7f7f7;
    padding: 2rem 2rem 3rem;
}

/** 導航連結 */
main-slate slate-nav {
    display: flex;
}

main-slate slate-nav > nav-left {
    display: block;
}

main-slate slate-nav > nav-right {
    display: block;
    margin-left: auto;
}

main-slate slate-nav a {
    text-decoration: none;
    color: #333;
}

/** 標題與副標題 */
main-slate slate-header {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-top: 3rem;
}

main-slate slate-description {
    display: block;
    color: #777;
    font-size: 1.1rem;
}

/**
 *
 */

main-content {
    display: block;
    padding: 3rem 2rem;
    flex: 1;
}

main-content content-sidebar {
    display: block;
    margin-right: 2rem;
    border-right: 2px solid #e8e8e8;
    padding-right: 2rem;
}

main-content content-sidebar > sidebar-header {
    display: block;
    font-weight: 500;
    color: #777;
    margin-bottom: 1rem;
}

main-content content-sidebar > sidebar-header:not(:first-child) {
    margin-top: 3rem;
}

main-content content-sidebar > a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin-left: 6px;
    border-left: 1px solid #e8e8e8;
}

main-content content-sidebar > a > span {
    color: #777;
    font-size: 0.9rem;
    margin-left: 0.25rem;
}

main-content content-content {
    flex: 1;
    display: block;
}

/**
 *
 */

main-footer {
    padding: 2rem 2rem 3rem;
    background: #fbfbfb;
    display: block;
}
