{{ define "usages" }}
{{ if .Document.HasUsages }}
<!-- 初始化段落 -->
<h1 class="ts dividing header">初始化</h1>

<p>透過下列程式碼來替指定的元素初始化其模組並套用最基本的預設設定值。</p>

<!-- 最基本初始化程式碼範例 -->
<pre class="ts tertiary segment"><code class="hljs">ts('.ts.accordion')
.accordion()
;</code></pre>
<!-- / 最基本初始化程式碼範例 -->

<p>初始化模組的時候，可以像下列程式碼一樣地將設定物件作為參數傳入。設定物件不一定要是完整的；不在物件內的設定則會套用 Tocas UI 預設的設定值。</p>

<!-- 進階自訂初始化程式碼範例 -->
<pre class="ts tertiary segment"><code class="hljs">ts('.ts.accordion')
.accordion({
// 消音所有提示，甚至是錯誤訊息。
silent: false,
// 顯示除錯訊息。
debug : true,
// 監聽 DOM 結構異動並自動重整快取。
observeChanges: true,
// ... 其他設定 ...
})
;</code></pre>
<!-- / 進階自訂初始化程式碼範例 -->

<p>初始化模組的時候，Tocas UI 亦會將元素的 <code>[data-*]</code> 標籤作為設定值來源，而這個優先度大於以參數傳入的設定。這意味著元素標籤的 <code>[data-silent]</code> 內容即會套用於 <code>silent</code> 設定，而 <code>[data-image-url]</code> 會被作為 <code>image.url</code> 設定使用。</p>
<!-- / 初始化段落 -->

<!-- 可用方法 -->
<h1 class="ts dividing header">可用方法</h1>

<p>一個模組中有不少可用方法能夠呼叫，且用以執行特定動作。欲執行一個模組的動作，透過下列用法即可。</p>

<!-- 使用程式碼範例 -->
<pre class="ts tertiary segment"><code class="hljs">$('.ts.{{ .Docs.ModuleName }}').{{ .Docs.ModuleName }}('{{ .UI.Usage1 }}', {{ .UI.Usage2 }}, {{ .UI.Usage3 }}...);</code></pre>

<pre class="ts tertiary segment"><code class="hljs">ts('.ts.{{ .Document.Name }}').Open(argumentOne, argumentTwo...);</code></pre>
<!-- / 使用程式碼範例 -->


<!-- 可用方法表格 -->
<table class="ts celled stackable definition table">
    <thead>
        <tr>
            <th>方法名稱</th>
            <th>說明與參數</th>
            <th>回傳內容</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Document.Usages.Behaviors }}
        <!-- 單個方法 -->
        <tr>
            <!-- 方法名稱 -->
            <td class="top aligned">
                {{ .Name }}
            </td>
            <!-- / 方法名稱 -->

            <!-- 方法說明與參數 -->
            <td class="top aligned">
                <!-- 說明 -->
                {{ .Description }}
                <!-- / 說明 -->

                {{ $argumentLength  := len .Arguments }}
                {{ if ne $argumentLength 0 }}
                    <!-- 分隔線 -->
                    <hr class="ts divider">
                    <!-- / 分隔線 -->

                    <!-- 使用範例 -->
                    <code>
                        {{ .Name }} (
                            {{ range $index, $element := .Arguments }}
                                {{ if ne $index 0 }}
                                ,
                                {{ end }}
                                <em>{{ $element.Name }}</em>
                            {{ end }}
                        )
                    </code>
                    <!-- / 使用範例 -->

                    <!-- 參數清單 -->
                    <ul class="ts list">
                        {{ range .Arguments }}
                            <!-- 單個參數說明 -->
                            <li class="item">
                                {{ .Name }}
                                <b class="type">
                                    {{ .Type }}
                                </b>
                                {{ if .Required }}
                                    <b class="required" data-required="{{ u "Texts.Required" }}">*</b>
                                {{ end }}
                                <br>
                                {{ .Description }}
                            </li>
                            <!-- / 單個參數說明 -->
                        {{ end }}
                    </ul>
                    <!-- / 參數清單 -->
                {{ end }}
            </td>
            <!-- / 方法說明與參數 -->

            <!-- 回傳數值 -->
            <td class="top aligned">
                <!-- 資料型態 -->
                <span class="return">
                    <code>{{ .Return.Type }}</code>
                </span>
                <!-- / 資料型態 -->

                <!-- 說明 -->
                {{ .Return.Description }}
                <!-- / 說明 -->
            </td>
            <!-- / 回傳數值 -->
        </tr>
        <!-- / 單個方法 -->
        {{ end }}
    </tbody>
</table>
<!-- / 可用方法表格 -->
<!-- / 可用方法 -->
{{ end }}
{{ end }}