.table-cell
  display: table-cell
  
.table-row
  display: table-row

.table-fixed
  table-layout: fixed

.inline-block
  display: inline-block !important

.block
  display: block

.hidden
  display: none !important

.table-cell-min
  width: 1%
  white-space: nowrap

.flex
  display: flex



//**************************************
//**********   Scrollable   ************
//**************************************

.x-scrollable
  overflow-x: scroll
  overflow-y: hidden

.y-scrollable
  overflow-y: scroll
  overflow-x: hidden
  
.overflow-hidden
  overflow: hidden




//**************************************
//*************   Dot   ****************
//**************************************

.dot-left:before
  padding-right: 4px
  content: '\00B7'
  
.dot-right:after
  padding-left: 4px
  content: "\00B7"

.caret-down:after
  content: "▾"