/* ==========================================================================
 Base
 ========================================================================== */

.ts.space
    --ts-space_gap: 1rem

    display   : block
    visibility: hidden
    height    : var(--ts-space_gap)

    // ==========================================================================
    // Variations
    // ==========================================================================

    //-------------------//
    // Size
    //-------------------//

    &.-mini
        --ts-space_gap: .25rem
    &.-tiny
        --ts-space_gap: .5rem
    &.-small
        --ts-space_gap: .8rem
    &.-large
        --ts-space_gap: 1.5rem
    &.-big
        --ts-space_gap: 2rem
    &.-huge
        --ts-space_gap: 4rem
    &.-massive
        --ts-space_gap: 6rem

    //-------------------//
    // Horizontal
    //-------------------//

    &.-horizontal
        display: inline-block
        height : auto
        width  : var(--ts-space_gap)
