$carousel_controlItemWidth   : 11%
$carousel_controlItemMinWidth: 60px
$carousel_controlItemHeight  : 100%
$carousel_controlItemColor   : $white
$carousel_controlItemSize    : 2em
$carousel_controlItemOpacity : .7
$carousel_controlItemHoverOpacity: 1
$carousel_controlItemActiveColor: #CCC

$carousel_controlItemNotOverlappedWidth : 60px
$carousel_controlItemNotOverlappedBottom: 35px
$carousel_controlItemTextStroke         : 1px nth($grey, 7)

//-------------------//
//      Compact
//-------------------//

$carousel_compactPadding          : 1rem
$carousel_compactControlItemWidth : 50px
$carousel_compactControlItemHeight: 80px
$carousel_compactControlItemTop   : calc(50% - #{$carousel_compactControlItemHeight / 2})
$carousel_compactControlItemBorderRadius   : $defaultBorderRadius
$carousel_compactControlItemBackgroundColor: rgba(0, 0, 0, .2)

//-------------------//
//Item Not Overlapped
//-------------------//

$carousel_itemNotOverlappedWidth: calc(100% - (#{$carousel_compactControlItemWidth} * 2) - #{$carousel_compactPadding * 2})

//-------------------//
//     Indicators
//-------------------//

$carousel_indicatorsBottom   : 20px
$carousel_indicatorsLeft     : 50%
$carousel_indicatorsHeight   : 35px
$carousel_indicatorsWidth    : 100%
$carousel_indicatorsTransform: translate(-50%, -50%)

//-------------------//
//  Indicator Item
//-------------------//

$carousel_indicatorsItemMargin      : 0 .25em
$carousel_indicatorsItemHeight      : .45em
$carousel_indicatorsItemWidth       : 1.8em
$carousel_indicatorsItemBorderWidth : 1px
$carousel_indicatorsItemBorderColor : nth($grey, 7)
$carousel_indicatorsItemBorder      : $carousel_indicatorsItemBorderWidth solid $carousel_indicatorsItemBorderColor
$carousel_indicatorsItemBackground  :  #7b7b7b
$carousel_indicatorsItemBorderRadius: $defaultBorderRadius
$carousel_indicatorsItemTransition  : background 200ms linear

$carousel_indicatorsItemBeforeBottom: -10px
$carousel_indicatorsItemBeforeWidth : 100%
$carousel_indicatorsItemBeforeHeight: 10px

$carousel_indicatorsItemAfterTop   : -10px
$carousel_indicatorsItemAfterWidth : 100%
$carousel_indicatorsItemAfterHeight: 10px

$carousel_indicatorsItemActiveBackground: $white
$carousel_indicatorsItemCircularSize    : .9em

//-------------------//
//       Item
//-------------------//

$carousel_itemsWidth: 100%

$carousel_itemWidth      : 100%
$carousel_itemPerspective: 1000px
$carousel_itemTransition : transform .6s ease-in-out

//-------------------//
//       Image
//-------------------//

$carousel_imageWidth        : 100%
$carousel_imageCoveredWidth : 100%
$carousel_imageCoveredHeight: 100%

//-------------------//
//      Content
//-------------------//

$carousel_itemContentBottom   : 40px
$carousel_itemContentPadding  : 1em
$carousel_itemContentTextColor: $white

//-------------------//
//       Header
//-------------------//

$carousel_itemHeaderFontSize  : 1.8em
$carousel_itemHeaderLineHeight: 1.5
$carousel_itemHeaderTextShadow:  0px 0px 3px rgba(0, 0, 0, 0.65)

//-------------------//
//    Description
//-------------------//

$carousel_itemDescriptionFontSize  : 1.15em
$carousel_itemDescriptionLineHeight: 1.5
$carousel_itemDescriptionTextShadow:  0px 0px 3px rgba(0, 0, 0, 0.65)

