$card_backgroundColor: $white
$card_textColor      : nth($grey, 8)

$card_borderWidth       : 1px
$card_borderColor       : nth($grey, 4)
$card_border            : $card_borderWidth solid $card_borderColor
$card_borderRadius      : $defaultBorderRadius
$card_extraBorder       : $card_borderWidth solid rgba(0, 0, 0, 0.05)
$card_coloredBorderWidth: 2px

$card_paddedPadding    : 1.5rem
$card_veryPaddedPadding: 3rem
$card_verticalPadding  : 1rem
$card_horizontalPadding: 1rem
$card_padding          : $card_verticalPadding $card_horizontalPadding

$card_transition: box-shadow $defaultDuration $defaultEasing, transform $defaultDuration $defaultEasing

$card_verticalMargin  : 1rem
$card_horizontalMargin: 0em
$card_margin          : $card_verticalMargin $card_horizontalMargin

$card_groupCardDefaultWidth: 290px

//-------------------//
//       Shadow
//-------------------//

$card_boxShadow         : $subtleShadow
$card_collapsedBoxShadow: 2px 1px 2px 0 rgba(0,0,0,0.06)
$card_raisedBoxShadow   : $floatingShadow

//-------------------//
//      Opacity
//-------------------//

$card_extraTextOpacity         : 0.4
$card_secondaryExtraTextOpacity: 0.45
$card_tertiaryExtraTextOpacity : 0.5
$card_extraBorderOpacity       : 0.05

//-------------------//
//      Emphasis
//-------------------//

$card_defaultBackgroundColor: $white
$card_defaultBorderColor    : nth($grey, 4)
$card_defaultTextColor      : nth($grey, 8)



$card_defaultBackgroundColor         : $white
$card_defaultExtraBackgroundColor    : $white
$card_defaultSecondaryBackgroundColor: nth($grey, 1)
$card_defaultTertiaryBackgroundColor : nth($grey, 2)
$card_defaultBorderColor             : nth($grey, 4)
$card_defaultMetaColor               : nth($grey, 7)
$card_defaultMetaLinkColor           : nth($link, 6)
$card_defaultHeaderColor             : nth($grey, 9)
$card_defaultSubHeaderColor          : nth($grey, 8)
$card_defaultTextColor               : nth($grey, 8)
$card_defaultExtraTextColor          : nth($grey, 8)
$card_defaultSecondaryTextColor      : nth($grey, 8)
$card_defaultTertiaryTextColor       : nth($grey, 8)
$card_defaultColors                  : $card_defaultTextColor, $card_defaultHeaderColor, $card_defaultSubHeaderColor, $card_defaultExtraTextColor, $card_defaultSecondaryTextColor, $card_defaultTertiaryTextColor, $card_defaultMetaColor, $card_defaultMetaLinkColor, $card_defaultBorderColor, $card_defaultBackgroundColor, $card_defaultExtraBackgroundColor, $card_defaultSecondaryBackgroundColor, $card_defaultTertiaryBackgroundColor

$card_negativeBackgroundColor         : nth($negative, 6)
$card_negativeExtraBackgroundColor    : nth($negative, 6)
$card_negativeSecondaryBackgroundColor: nth($negative, 7)
$card_negativeTertiaryBackgroundColor : nth($negative, 8)
$card_negativeBorderColor             : nth($negative, 4)
$card_negativeMetaColor               : nth($negative, 2)
$card_negativeMetaLinkColor           : nth($negative, 2)
$card_negativeHeaderColor             : $white
$card_negativeSubHeaderColor          : $white
$card_negativeTextColor               : $white
$card_negativeExtraTextColor          : $white
$card_negativeSecondaryTextColor      : nth($negative, 2)
$card_negativeTertiaryTextColor       : nth($negative, 3)
$card_negativeColors                  : $card_negativeTextColor, $card_negativeHeaderColor, $card_negativeSubHeaderColor, $card_negativeExtraTextColor, $card_negativeSecondaryTextColor, $card_negativeTertiaryTextColor, $card_negativeMetaColor, $card_negativeMetaLinkColor, $card_negativeBorderColor, $card_negativeBackgroundColor, $card_negativeExtraBackgroundColor, $card_negativeSecondaryBackgroundColor, $card_negativeTertiaryBackgroundColor

$card_positiveBackgroundColor         : nth($positive, 6)
$card_positiveExtraBackgroundColor    : nth($positive, 6)
$card_positiveSecondaryBackgroundColor: nth($positive, 7)
$card_positiveTertiaryBackgroundColor : nth($positive, 8)
$card_positiveBorderColor             : nth($positive, 4)
$card_positiveMetaColor               : nth($positive, 2)
$card_positiveMetaLinkColor           : nth($positive, 2)
$card_positiveHeaderColor             : $white
$card_positiveSubHeaderColor          : $white
$card_positiveTextColor               : $white
$card_positiveExtraTextColor          : $white
$card_positiveSecondaryTextColor      : nth($positive, 2)
$card_positiveTertiaryTextColor       : nth($positive, 3)
$card_positiveColors                  : $card_positiveTextColor, $card_positiveHeaderColor, $card_positiveSubHeaderColor, $card_positiveExtraTextColor, $card_positiveSecondaryTextColor, $card_positiveTertiaryTextColor, $card_positiveMetaColor, $card_positiveMetaLinkColor, $card_positiveBorderColor, $card_positiveBackgroundColor, $card_positiveExtraBackgroundColor, $card_positiveSecondaryBackgroundColor, $card_positiveTertiaryBackgroundColor

$card_primaryBackgroundColor         : nth($primary, 6)
$card_primaryExtraBackgroundColor    : nth($primary, 6)
$card_primarySecondaryBackgroundColor: nth($primary, 7)
$card_primaryTertiaryBackgroundColor : nth($primary, 8)
$card_primaryBorderColor             : nth($primary, 4)
$card_primaryMetaColor               : nth($primary, 2)
$card_primaryMetaLinkColor           : nth($primary, 2)
$card_primaryHeaderColor             : $white
$card_primarySubHeaderColor          : $white
$card_primaryTextColor               : $white
$card_primaryExtraTextColor          : $white
$card_primarySecondaryTextColor      : nth($primary, 2)
$card_primaryTertiaryTextColor       : nth($primary, 3)
$card_primaryColors                  : $card_primaryTextColor, $card_primaryHeaderColor, $card_primarySubHeaderColor, $card_primaryExtraTextColor, $card_primarySecondaryTextColor, $card_primaryTertiaryTextColor, $card_primaryMetaColor, $card_primaryMetaLinkColor, $card_primaryBorderColor, $card_primaryBackgroundColor, $card_primaryExtraBackgroundColor, $card_primarySecondaryBackgroundColor, $card_primaryTertiaryBackgroundColor

$card_infoBackgroundColor         : nth($info, 6)
$card_infoExtraBackgroundColor    : nth($info, 6)
$card_infoSecondaryBackgroundColor: nth($info, 7)
$card_infoTertiaryBackgroundColor : nth($info, 8)
$card_infoBorderColor             : nth($info, 4)
$card_infoMetaColor               : nth($info, 2)
$card_infoMetaLinkColor           : nth($info, 2)
$card_infoHeaderColor             : $white
$card_infoSubHeaderColor          : $white
$card_infoTextColor               : $white
$card_infoExtraTextColor          : $white
$card_infoSecondaryTextColor      : nth($info, 2)
$card_infoTertiaryTextColor       : nth($info, 3)
$card_infoColors                  : $card_infoTextColor, $card_infoHeaderColor, $card_infoSubHeaderColor, $card_infoExtraTextColor, $card_infoSecondaryTextColor, $card_infoTertiaryTextColor, $card_infoMetaColor, $card_infoMetaLinkColor, $card_infoBorderColor, $card_infoBackgroundColor, $card_infoExtraBackgroundColor, $card_infoSecondaryBackgroundColor, $card_infoTertiaryBackgroundColor

$card_warningBackgroundColor         : nth($warning, 6)
$card_warningExtraBackgroundColor    : nth($warning, 6)
$card_warningSecondaryBackgroundColor: nth($warning, 7)
$card_warningTertiaryBackgroundColor : nth($warning, 8)
$card_warningBorderColor             : nth($warning, 6)
$card_warningMetaColor               : nth($warning, 8)
$card_warningMetaLinkColor           : nth($warning, 8)
$card_warningHeaderColor             : nth($warning, 10)
$card_warningSubHeaderColor          : nth($warning, 9)
$card_warningTextColor               : nth($warning, 9)
$card_warningExtraTextColor          : nth($warning, 9)
$card_warningSecondaryTextColor      : nth($warning, 9)
$card_warningTertiaryTextColor       : nth($warning, 10)
$card_warningColors                  : $card_warningTextColor, $card_warningHeaderColor, $card_warningSubHeaderColor, $card_warningExtraTextColor, $card_warningSecondaryTextColor, $card_warningTertiaryTextColor, $card_warningMetaColor, $card_warningMetaLinkColor, $card_warningBorderColor, $card_warningBackgroundColor, $card_warningExtraBackgroundColor, $card_warningSecondaryBackgroundColor, $card_warningTertiaryBackgroundColor

$card_invertedBackgroundColor         : nth($inverted, 6)
$card_invertedExtraBackgroundColor    : nth($inverted, 6)
$card_invertedSecondaryBackgroundColor: nth($inverted, 7)
$card_invertedTertiaryBackgroundColor : nth($inverted, 8)
$card_invertedBorderColor             : nth($inverted, 4)
$card_invertedMetaColor               : nth($inverted, 2)
$card_invertedMetaLinkColor           : nth($inverted, 2)
$card_invertedHeaderColor             : $white
$card_invertedSubHeaderColor          : $white
$card_invertedTextColor               : $white
$card_invertedExtraTextColor          : $white
$card_invertedSecondaryTextColor      : nth($inverted, 2)
$card_invertedTertiaryTextColor       : nth($inverted, 3)
$card_invertedColors                  : $card_invertedTextColor, $card_invertedHeaderColor, $card_invertedSubHeaderColor, $card_invertedExtraTextColor, $card_invertedSecondaryTextColor, $card_invertedTertiaryTextColor, $card_invertedMetaColor, $card_invertedMetaLinkColor, $card_invertedBorderColor, $card_invertedBackgroundColor, $card_invertedExtraBackgroundColor, $card_invertedSecondaryBackgroundColor, $card_invertedTertiaryBackgroundColor

//-------------------//
//       Header
//-------------------//

$card_headerFontWeight          : 500
$card_headerFontSize            : $relativeBig
$card_smallHeaderFontSize       : $relativeLarge
$card_headerTextOpacity         : 0.85
$card_headerTextColor           : nth($grey, 9)
$card_headerLineHeightOffset    : -($lineHeight - 1em) / 2
$card_headerLineHeightMetaOffset: -($lineHeight - 1em - .2em)
$card_headerLineHeight          : $headerLineHeight

$card_subHeaderFontWeight      : 500
$card_subHeaderFontSize        : $relativeMini
$card_smallSubHeaderFontSize   : $relativeMini
$card_subHeaderTextOpacity     : 0.55
$card_subHeaderLineHeightOffset: 0.25em
$card_subHeaderLineHeight      : $card_headerLineHeight

$card_imageHeaderBackgroundColor: rgba(0, 0, 0, 0.5)
$card_imageHeaderColor: $white
$card_imageHeaderPadding: calc(#{$card_horizontalPadding } / 1.5) $card_verticalPadding
$card_imageSubHeaderOpacity: 0.9

//-------------------//
//    Description
//-------------------//

$card_descriptionDistance   : 0.85em
$card_descriptionTextOpacity: 0.68

//-------------------//
//        Meta
//-------------------//

$card_metaDistance        : 0.25em
$card_metaTextColorOpacity: 0.4
$card_metaSpacing         : 0.4em
$card_metaFontSize        : $relativeMedium

//-------------------//
//       Spacing
//-------------------//

$card_horizontalSpacing: 1em
$card_rowSpacing       : 1.75em

$card_groupMargin: -#{$card_rowSpacing / 2} -#{$card_horizontalSpacing / 2}

$card_groupCardFloat         : none
$card_groupCardMargin        : $card_rowSpacing / 2 $card_horizontalSpacing / 2
$card_onsecutiveGroupDistance: $rowSpacing / 2

$card_wideSpacing : 0.75em
$card_spacing     : 0.75em
$card_smallSpacing: 0.5em

$card_stackableRowSpacing : 1em
$card_stackableCardSpacing: $card_spacing
$card_stackableMargin     : calc(#{$oneColumn} - #{$card_stackableCardSpacing} * 2)


$card_oneCardSpacing  : 0em
$card_twoCardSpacing  : $card_wideSpacing
$card_threeCardSpacing: $card_wideSpacing
$card_fourCardSpacing : $card_spacing
$card_fiveCardSpacing : $card_spacing
$card_sixCardSpacing  : $card_spacing
$card_sevenCardSpacing: $card_smallSpacing
$card_eightCardSpacing: $card_smallSpacing
$card_nineCardSpacing : $card_smallSpacing
$card_tenCardSpacing  : $card_smallSpacing

$card_oneCard        : $oneColumn
$card_oneCardOffset  : 0em
$card_twoCard        : calc(#{$twoColumn} - (#{$card_twoCardSpacing} * 2))
$card_twoCardOffset  : -$card_twoCardSpacing
$card_threeCard      : calc(#{$threeColumn} - (#{$card_threeCardSpacing} * 2))
$card_threeCardOffset: -$card_threeCardSpacing
$card_fourCard       : calc(#{$fourColumn} - (#{$card_fourCardSpacing} * 2))
$card_fourCardOffset : -$card_fourCardSpacing
$card_fiveCard       : calc(#{$fiveColumn} - (#{$card_fiveCardSpacing} * 2))
$card_fiveCardOffset : -$card_fiveCardSpacing
$card_sixCard        : calc(#{$sixColumn} - (#{$card_sixCardSpacing} * 2))
$card_sixCardOffset  : -$card_sixCardSpacing
$card_sevenCard      : calc(#{$sevenColumn} - (#{$card_sevenCardSpacing} * 2))
$card_sevenCardOffset: -$card_sevenCardSpacing
$card_eightCard      : calc(#{$eightColumn} - (#{$card_sevenCardSpacing} * 2))
$card_eightCardOffset: -$card_sevenCardSpacing
$card_nineCard       : calc(#{$nineColumn} - (#{$card_nineCardSpacing} * 2))
$card_nineCardOffset : -$card_nineCardSpacing
$card_tenCard        : calc(#{$tenColumn} - (#{$card_tenCardSpacing} * 2))
$card_tenCardOffset  : -$card_tenCardSpacing

//-------------------//
//      Overlay
//-------------------//

$card_overlayTextColor : $white
$card_overlayTextShadow: 0 0 3px rgba(0, 0, 0, .8)

//-------------------//
//      Waterfall
//-------------------//

$card_waterfallOneCardOffset  : 0em
$card_waterfallTwoCardOffset  : $card_twoCardSpacing
$card_waterfallThreeCardOffset: $card_threeCardSpacing
$card_waterfallFourCardOffset : $card_fourCardSpacing
$card_waterfallFiveCardOffset : $card_fiveCardSpacing
$card_waterfallSixCardOffset  : $card_sixCardSpacing
$card_waterfallSevenCardOffset: $card_sevenCardSpacing
$card_waterfallEightCardOffset: $card_sevenCardSpacing
$card_waterfallNineCardOffset : $card_nineCardSpacing
$card_waterfallTenCardOffset  : $card_tenCardSpacing

//-------------------//
//       Symbol
//-------------------//

$card_symbolSpacingHeight: 1.8em
$card_symbolWidth        : .8em
$card_symbolHeight       : .8em
$card_symbolFontSize     : 8em
$card_symbolLineHeight   : 1.1em
$card_symbolOpacity      : 0.2

//-------------------//
//        Link
//-------------------//

$card_linkHoverBackground   : #FFF
$card_linkHoverRaiseDistance: 3px
$card_linkHoverTransform    : translateY(-#{$card_linkHoverRaiseDistance})

$card_shadowHoverBoxShadow: 0px 1px $card_linkHoverRaiseDistance 0px $solidSelectedBorderColor
$card_linkHoverBoxShadow  : $card_shadowHoverBoxShadow