$chat_messageBorderWidth : 0px
$chat_messageBorderColor : nth($grey, 4)
$chat_messageBorder      : $chat_messageBorderWidth solid $chat_messageBorderColor
$chat_messageBorderRadius: $defaultBorderRadius
$chat_messageMaxWidth    : 450px
$chat_messageDistance    : .4em
$chat_messageBoxShadow   : none //$subtleShadow

$chat_messageVerticalPadding  : .6em
$chat_messageHorizontalPadding: .9em
$chat_messagePadding          : $chat_messageVerticalPadding $chat_messageHorizontalPadding

$chat_messageTextColor      : nth($grey, 8)
$chat_messageBackgroundColor: nth($grey, 2)

//-------------------//
//       Avatar
//-------------------//

$chat_avatarDistance    : .5em
$chat_avatarBorderRadius: $defaultBorderRadius
$chat_avatarWidth       : 2.5em
$chat_avatarHeight      : 2.5em

$chat_distanceToAvatar    : #{$chat_avatarWidth + $chat_avatarDistance}

//-------------------//
//       Author
//-------------------//

$chat_authorFontWeight: bold

//-------------------//
//       Image
//-------------------//

$chat_imageVerticalMargin  : .55em
$chat_imageHorizontalMargin: -#{$chat_messageHorizontalPadding}
$chat_imageMargin          : $chat_imageVerticalMargin $chat_imageHorizontalMargin
$chat_imageWidth           : calc(100% + #{$chat_messageHorizontalPadding} * 2)

//-------------------//
//        Icon
//-------------------//

//-------------------//
//      Sticker
//-------------------//


//-------------------//
//     Description
//-------------------//

//-------------------//
//       Reply
//-------------------//

// $chat_replyVerticalPadding  : .58em
// $chat_replyHorizontalPadding: .88em
// $chat_replyPadding          : $chat_replyVerticalPadding // $chat_replyHorizontalPadding

$chat_replyDistance   : .5em
$chat_replyPaddingLeft: $chat_messageHorizontalPadding / 1.5

$chat_replyBorderWidth: 3px
$chat_replyBorderColor: nth($grey, 5)
$chat_replyBorder     : $chat_replyBorderWidth solid $chat_replyBorderColor

//-------------------//
//      Preview
//-------------------//

$chat_previewTitleTextColor  : nth($primary, 6)
$chat_previewTitleTextWeight : bold
$chat_previewHeaderTextWeight: bold

$chat_previewDescriptionLineHeight: 1.3

$chat_previewDistance   : .5em
$chat_previewPaddingLeft: $chat_messageHorizontalPadding / 1.5

$chat_previewBorderWidth: 3px
$chat_previewBorderColor: nth($primary, 5)
$chat_previewBorder     : $chat_previewBorderWidth solid $chat_previewBorderColor

$chat_previewImageSize            : 4em
$chat_previewImageFullSizeDistance: .5em
$chat_previewImageMargin          : 0 0 .5em .5em
$chat_previewImageBorderRadius    : $defaultBorderRadius

//-------------------//
//        Meta
//-------------------//

$chat_metaMarginTop   : .2em
$chat_metaMarginBottom: -.25em

$chat_metaItemOpacity : .6
$chat_metaItemFontSize: $relativeTiny
$chat_metaItemSpacing : .4em

//-------------------//
//      Indicator
//-------------------//

$chat_typingIndicatorSymbol       : '●●●'
$chat_typingIndicatorFontSize     : 1em
$chat_typingIndicatorLineHeight   : 1.4em
$chat_typingIndicatorLetterSpacing: 1px
$chat_typingIndicatorDuration     : 1.3s
$chat_typingIndicatorBackground   : linear-gradient(to right, nth($grey, 6) 20%, nth($grey, 6) 40%, nth($grey, 4) 60%, nth($grey, 6) 80%)

$chat_indicatorFontFamily   : 'Icons'
$chat_indicatorDistance     : .8em
$chat_warningIndicatorSymbol: '\f071'
$chat_errorIndicatorSymbol  : '\f057'
$chat_sendingIndicatorSymbol: '\f017'
$chat_sentIndicatorSymbol   : '\f00c'
$chat_readIndicatorSymbol   : '\f560'

//-------------------//
//      Mention
//-------------------//

$chat_mentionBackgroundColor  : nth($primary, 6)
$chat_mentionTextColor        : $white
$chat_mentionVerticalPadding  : 0
$chat_mentionHorizontalPadding: .25em
$chat_mentionPadding          : $chat_mentionVerticalPadding $chat_mentionHorizontalPadding
$chat_mentionDistance         : .15em
$chat_mentionBorderRadius     : $defaultBorderRadius

//-------------------//
//     Code Block
//-------------------//

$chat_codeDistance         : .6em
$chat_codeBackgroundColor  : nth($warning, 2)
$chat_codeTextColor        : nth($grey, 9)
$chat_codeBorderWidth      : 1px
$chat_codeBorderColor      : nth($warning, 5)
$chat_codeBorder           : $chat_codeBorderWidth solid $chat_codeBorderColor
$chat_codeBorderRadius     : $defaultBorderRadius
$chat_codeFontSize         : .9em
$chat_codeLineHeight       : 1.3
$chat_codeVerticalPadding  : 1em
$chat_codeHorizontalPadding: 1em
$chat_codePadding          : $chat_codeVerticalPadding $chat_codeHorizontalPadding

//-------------------//
//        Video
//-------------------//

$chat_videoWidth   : calc(100% + #{$chat_messageHorizontalPadding} * 2)
$chat_videoDistance: .6em

//-------------------//
//      Reactions
//-------------------//

$chat_reactionDistance: $chat_messageDistance / 2

$chat_reactionItemBorderWidth : 1px
$chat_reactionItemBorderColor : nth($grey, 2)
$chat_reactionItemBorder      : $chat_reactionItemBorderWidth solid $chat_reactionItemBorderColor

$chat_reactionItemTextColor      : nth($grey, 7)
$chat_reactionItemBackgroundColor: $white

$chat_reactionItemHoverTextColor      : nth($grey, 8)
$chat_reactionItemHoverBackgroundColor: nth($grey, 2)

$chat_reactionItemDownTextColor      : nth($grey, 8)
$chat_reactionItemDownBackgroundColor: nth($grey, 4)

$chat_reactionItemActiveFontWeight     : bold
$chat_reactionItemActiveTextColor      : nth($grey, 8)
$chat_reactionItemActiveBackgroundColor: nth($grey, 3)

$chat_reactionItemFontSize       : $relativeSmall
$chat_reactionItemBorderRadius   : $defaultBorderRadius
//$chat_reactionItemBackgroundColor: nth($grey, 2)
$chat_reactionItemDistance       : .4em
$chat_reactionItemCountDistance  : .5em

$chat_reactionItemVerticalPadding  : .2em
$chat_reactionItemHorizontalPadding: .5em
$chat_reactionItemPadding          : $chat_reactionItemVerticalPadding $chat_reactionItemHorizontalPadding

//-------------------//
//      Actions
//-------------------//

$chat_actionDistance: $chat_messageDistance

$chat_actionItemTextColor     : nth($grey, 7)
$chat_actionItemHoverTextColor: nth($grey, 6)
$chat_actionItemDownTextColor : nth($grey, 8)

$chat_actionItemFontSize: $relativeSmall
$chat_actionItemSpacing : .4em

//-------------------//
//     Callbacks
//-------------------//

$chat_callbackItemFontSize       : $relativeSmall
$chat_callbackItemBorderRadius   : $defaultBorderRadius
$chat_callbackItemDistance       : $chat_messageDistance

$chat_callbackItemTextColor      : nth($primary, 6)
$chat_callbackItemBackgroundColor: nth($grey, 1)

$chat_callbackItemHoverTextColor      : nth($primary, 7)
$chat_callbackItemHoverBackgroundColor: nth($grey, 2)

$chat_callbackItemDownTextColor      : nth($primary, 8)
$chat_callbackItemDownBackgroundColor: nth($grey, 4)

$chat_callbackItemActiveFontWeight     : bold
$chat_callbackItemActiveTextColor      : nth($grey, 8)
$chat_callbackItemActiveBackgroundColor: nth($grey, 3)

$chat_callbackItemVerticalPadding  : .5em
$chat_callbackItemHorizontalPadding: .4em
$chat_callbackItemPadding          : $chat_callbackItemVerticalPadding $chat_callbackItemHorizontalPadding

//-------------------//
//  Callback Symbol
//-------------------//

//-------------------//
//    Own Message
//-------------------//

$chat_ownMessageTextColor            : $white
$chat_ownMessageBackgroundColor      : nth($primary, 6)
$chat_ownMessageReplyBorderColor     : nth($grey, 5) // nth($grey, 6)
$chat_ownMessagePreviewBorderColor   : nth($grey, 5) // nth($primary, 9)
$chat_ownMessagePreviewTitleTextColor: $white // nth($primary, 9)