//-------------------//
//       Group
//-------------------//

$item_groupMargin: 1.5em 0em

//-------------------//
//        Item
//-------------------//

$item_display     : flex
$item_background  : transparent
$item_borderRadius: 0rem
$item_minHeight   : 0px
$item_padding     : 0em
$item_width       : 100%
$item_boxShadow   : none
$item_border      : none
$item_transition  : box-shadow $defaultDuration $defaultEasing

//-------------------//
//     Responsive
//-------------------//

$item_itemSpacing         : 1em
$item_imageWidth          : 175px
$item_contentImageDistance: 1.5em

$item_tabletItemSpacing         : 1em
$item_tabletImageWidth          : 150px
$item_tabletContentImageDistance: 1em

$item_mobileItemSpacing         : 2em
$item_mobileImageWidth          : auto
$item_mobileImageMaxHeight      : 250px
$item_mobileContentImageDistance: 1.5em

//-------------------//
//       Image
//-------------------//

$item_imageDisplay      : block
$item_imageFloat        : none
$item_imageMaxHeight    : ''
$item_imageVerticalAlign: top
$item_imageMargin       : 0em
$item_imagePadding      : 0em
$item_imageBorder       : none
$item_imageBorderRadius : 0.125rem
$item_imageBoxShadow    : none
$item_imageBorder       : none

//-------------------//
//       Content
//-------------------//

$item_contentDisplay      : block
$item_contentVerticalAlign: top

$item_contentWidth       : auto
$item_contentOffset      : 0em
$item_contentBackground  : none
$item_contentMargin      : 0em
$item_contentPadding     : 0em
$item_contentFontSize    : 1em
$item_contentBorder      : none
$item_contentBorderRadius: 0em
$item_contentBoxShadow   : none

//-------------------//
//    Segmented
//-------------------//

$item_segmentedBorderWidth : 1px
$item_segmentedBorder      : $item_segmentedBorderWidth solid nth($grey, 4)
$item_segmentedBorderRadius: $defaultBorderRadius

$item_segmentedVerticalPadding  : 1em
$item_segmentedHorizontalPadding: 1em
$item_segmentedPadding          : $item_segmentedVerticalPadding $item_segmentedHorizontalPadding

$item_segmentedBoxShadow: $subtleShadow

//-------------------//
//      Metadata
//-------------------//

$item_metaMargin    : 0.5em 0em 0.5em
$item_metaFontSize  : 1em
$item_metaLineHeight: 1em
$item_metaSpacing   : 0.4em
$item_metaColor     : nth($grey, 7)

//-------------------//
//       Header
//-------------------//

$item_headerMargin    : -.13em $item_metaSpacing 0 0
$item_headerFontWeight: 500
$item_headerFontSize  : $relativeBig
$item_headerColor     : nth($grey, 9)

//-------------------//
//       Icons
//-------------------//
$item_actionOpacity     : 0.75
$item_actionHoverOpacity: 1
$item_actionTransition  : color $defaultDuration $defaultEasing

//-------------------//
//       Actions
//-------------------//

$item_favoriteColor      : #FFB70A
$item_favoriteActiveColor: #FFE623
$item_likeColor          : #FF2733
$item_likeActiveColor    : #FF2733

$item_actionDistance: 1em

//-------------------//
//        Links
//-------------------//

$item_headerLinkColor       : $item_headerColor
$item_headerLinkHoverColor  : nth($link, 5)
$item_headerLinkActiveColor : nth($link, 7)
$item_metaLinkColor         : nth($grey, 7)
$item_metaLinkHoverColor    : nth($grey, 8)
$item_metaLinkActiveColor   : nth($grey, 9)
$item_contentLinkColor      : ''
$item_contentLinkHoverColor : ''
$item_contentLinkActiveColor: ''

//-------------------//
//    Description
//-------------------//

$item_descriptionDistance      : 0.6em
$item_descriptionDistanceToMeta: 0
$item_descriptionMaxWidth      : auto
$item_descriptionFontSize      : 1em
$item_descriptionLineHeight    : $lineHeight
$item_descriptionColor         : nth($grey, 8)

//-------------------//
//   Content Image
//-------------------//

$item_contentImageWidth        : ''
$item_contentImageVerticalAlign: middle

//-------------------//
//    Avatar Image
//-------------------//
$item_avatarSize        : $item_contentImageWidth
$item_avatarBorderRadius: $circularRadius

//-------------------//
//     Paragraph
//-------------------//

$item_paragraphDistance: 0.5em

//-------------------//
// Additional Content
//-------------------//

$item_extraDivider          : none
$item_extraHorizontalSpacing: 0.5rem
$item_extraRowSpacing       : 0.5rem

$item_extraBackground: none
$item_extraDisplay   : block
$item_extraPosition  : relative
$item_extraMargin    : (1rem - $item_extraRowSpacing) 0em 0em
$item_extraTop       : 0em
$item_extraLeft      : 0em
$item_extraWidth     : 100%
$item_extraPadding   : 0em 0em 0em
$item_extraBoxShadow : none
$item_extraColor     : darken(nth($grey, 6), 3%)
$item_extraTransition: color $defaultDuration $defaultEasing

//-------------------//
//       Relaxed
//-------------------//

$item_relaxedItemSpacing    : 1.5em
$item_veryRelaxedItemSpacing: 2em

//-------------------//
//       Divided
//-------------------//

$item_dividedBorder : 1px solid nth($grey, 4)
$item_dividedMargin : 0em
$item_dividedPadding: 1em 0em

$item_dividedFirstLastMargin : 0em
$item_dividedFirstLastPadding: 0em

//-------------------//
//        Size
//-------------------//

$item_mini   : $relativeMini
$item_tiny   : $relativeTiny
$item_small  : $relativeSmall
$item_medium : $relativeMedium
$item_large  : $relativeLarge
$item_big    : $relativeBig
$item_huge   : $relativeHuge
$item_massive: $relativeMassive