#矚目看板 {
    border-bottom: 1px solid #eee;
    padding-bottom: 6rem;
}

#矚目看板-行動號召 {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
}

#矚目看板-行動號召-容器 {
    flex: 1;
    text-align: center;
}

#矚目看板-行動號召-容器-標題 {
    font-size: 3rem;
    font-weight: bold;
    display: block;
    color: #333;
    margin-top: 0;
    line-height: 1;
}

#矚目看板-行動號召-容器-副標題 {
    font-size: 1.25rem;
    display: block;
    color: #777;
    margin-top: 2rem;
}

.矚目看板-行動號召-容器-動作 {
    margin-top: 4rem;
    display: inline-block;
    border-radius: 0.4rem;
    color: #333;
    font-size: 1.1rem;
    padding: 0.6rem 1.8rem;
    font-weight: 500;
    text-decoration: none;
    border: 3px solid #e0e0e0;
    letter-spacing: 0.8px;
}

.矚目看板-行動號召-動作_次要的 {
    color: #777;
    border: 0;
}

#主要內容 {
    padding: 3rem 0 0;
}

.主要內容-內容區塊 + .主要內容-內容區塊 {
    margin-top: 6rem;
    padding-top: 6rem;
    border-top: 1px solid #eee;
}

.主要內容-內容區塊-標題 {
    font-size: 2rem;
    font-weight: 500;
    display: block;
    padding: 0 2rem;
    color: #333;
    line-height: 1;
}

.主要內容-內容區塊-說明 {
    display: block;
    color: #777;
    font-size: 1.25rem;
    padding: 0 2rem;
    margin-top: 1rem;
}

#主要內容-內容區塊-藝廊格局 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.5rem;
    margin-top: 4rem;
    grid-template-areas:
        "main main main"
        "secondary secondary secondary";
}

#主要內容-內容區塊-藝廊格局-主要 {
    grid-area: main;
    display: block;
    grid-column: span 3;
    background: #f7f7f7;
    padding: 2rem;
    color: #333;
}

.主要內容-內容區塊-藝廊格局-次要 {
    grid-area: secondary;
    display: block;
    grid-column: span 1;
    background: #f7f7f7;
    padding: 2rem;
    color: #333;
}

.主要內容-內容區塊-藝廊格局-標題 {
    display: block;
    line-height: 1;
    color: #777;
}

.主要內容-內容區塊-藝廊格局-說明 {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 1.85;
}

#主要內容-準備區塊 {
    display: block;
    margin-top: 6rem;
    background: #333;
    padding: 6rem 0;
}

#主要內容-準備區塊-標題,
#主要內容-準備區塊-說明 {
    text-align: center;
    color: #fff;
}

#主要內容-準備區塊-說明 {
    color: #d3d3d3;
}

#主要內容-準備區塊-程式碼 {
    max-width: 800px;
    padding: 2rem 2rem 4rem;
    display: block;
    border: 3px solid #535353;
    border-radius: 0.4rem;
    color: #fff;
    margin: 0 auto;
    margin-top: 6rem;
    overflow-x: auto;
    overflow-y: hidden;
}

#主要內容-準備區塊-程式碼 pre {
    margin: 0;
}

#主要內容-準備區塊-行動號召 {
    text-align: center;
}

#主要內容-準備區塊-行動號召-動作 {
    margin-top: 4rem;
    display: inline-block;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.6rem 1.8rem;
    font-weight: 500;
    text-decoration: none;
    border: 3px solid #535353;
    letter-spacing: 0.8px;
}

#主要內容-特色說明 {
    display: grid;
}

.主要內容-特色說明-項目 {
    grid-area: secondary;
    display: block;
    grid-column: span 1;
    padding: 0 2rem;
}

.主要內容-特色說明-項目-標題 {
    display: block;
    color: #333;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
}

.主要內容-特色說明-項目-說明 {
    display: block;
    font-size: 1.0625rem;
    color: #777;
    margin-top: 1rem;
    line-height: 1.85;
    text-align: justify;
}

#主要內容-贊助者-標題 {
    padding: 0;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
}

#主要內容-贊助者-清單 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem -1rem 0;
    flex-wrap: wrap;
}

.主要內容-贊助者-清單-項目 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.主要內容-贊助者-清單-項目-頭像 {
    border-radius: 500rem;
    width: 48px;
    margin-right: 1.5rem;
    filter: grayscale(0.5);
    opacity: 0.9;
    border: 3px solid #eaeaea;
    box-sizing: border-box;
}

.主要內容-贊助者-清單-項目-名稱 {
    color: #333;
    font-weight: 500;
}

#主要內容-贊助者 + .主要內容-內容區塊 {
    margin-top: 3rem;
}

.hljs {
    color: #fff !important;
    font-size: 1rem !important;
}

.hljs-comment {
    opacity: 0.5 !important;
}

.hljs .hljs-variable,
.hljs .hljs-template-variable,
.hljs .hljs-tag,
.hljs .hljs-name,
.hljs .hljs-selector-id,
.hljs .hljs-selector-class,
.hljs .hljs-regexp,
.hljs .hljs-deletion {
    color: #fff !important;
}

.hljs .hljs-string,
.hljs .hljs-symbol,
.hljs .hljs-bullet,
.hljs .hljs-addition {
    color: #71e2ff !important;
}
