$accordion_summaryPadding      : 0.5em 0em
$accordion_summaryHoverOpacity : 0.9
$accordion_summaryActiveOpacity: 1
$accordion_textColor           : nth($grey, 8)
$accordion_invertedTextColor   : nth($inverted, 1)
$accordion_contentTransition   : height .3s cubic-bezier(0.65, 0.05, 0.36, 1)
$accordion_iconTransition      : transform .25s ease

//-------------------//
//       Shadow
//-------------------//

$accordion_segmentedBoxShadow              : $subtleShadow
$accordion_segmentedTopAttachedBoxShadow   : $topAttachedSubtleShadow
$accordion_segmentedBottomAttachedBoxShadow: $bottomAttachedSubtleShadow

//-------------------//
//      Segmented
//-------------------//

$accordion_segmentedBorderWidth : 1px
$accordion_segmentedBorder      : $accordion_segmentedBorderWidth solid nth($grey, 4)
$accordion_segmentedBorderRadius: $defaultBorderRadius

$accordion_segmentedTitleFontWeight     : 500
$accordion_segmentedTitleTextColor      : nth($grey, 7)
$accordion_segmentedActiveTitleTextColor: nth($grey, 8)
$accordion_segmentedTitleHoverTextColor : $accordion_segmentedActiveTitleTextColor

$accordion_segmentedVerticalPadding     : 1em
$accordion_segmentedHorizontalPadding   : 1em
$accordion_segmentedPadding             : $accordion_segmentedVerticalPadding $accordion_segmentedHorizontalPadding

//-------------------//
//        Menu
//-------------------//

$accordion_menuTitleTextColor: nth($grey, 8)

//-------------------//
//       Field
//-------------------//

$accordion_fieldPaddingBottom: 1.5em