$accordion_summaryPadding      : 0.5em 0em
$accordion_summaryHoverOpacity : 0.9
$accordion_summaryActiveOpacity: 1
$accordion_contentPadding      : 0.5em 0em 1em
$accordion_textColor           : nth($grey, 8)
$accordion_invertedTextColor   : nth($inverted, 1)