$dropdown_lineHeight: $inputLineHeight
$dropdown_border: $input_border
$dropdown_padding: $input_padding
$dropdown_borderRadius: $input_borderRadius
$dropdown_textColor: $inputTextColor
$dropdown_horizontalPadding: $inputHorizontalPadding
$dropdown_verticalPadding: $inputVerticalPadding

$dropdown_hoverBorderColor: $input_hoverBorderColor
$dropdown_focusBorderColor: $input_focusBorderColor
$dropdown_borderOpacity: 0.6
$dropdown_hoverBorderOpacity: 0.8
$dropdown_focusBorderOpacity: 1
$dropdown_arrowSize: .8em
$dropdown_arrowColor: $inputTextColor
$dropdown_arrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{$dropdown_arrowColor}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")


$dropdown_negativeBackgroundColor: $globalNegativeBackgroundColor
$dropdown_negativeBorderColor    : $globalNegativeBorderColor
$dropdown_negativeTextColor      : $globalNegativeTextColor
$dropdown_negativeArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{$dropdown_negativeTextColor}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_positiveBackgroundColor: $globalPositiveBackgroundColor
$dropdown_positiveBorderColor    : $globalPositiveBorderColor
$dropdown_positiveTextColor      : $globalPositiveTextColor
$dropdown_positiveArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{$dropdown_positiveTextColor}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_primaryBackgroundColor: $globalPrimaryBackgroundColor
$dropdown_primaryBorderColor    : $globalPrimaryBorderColor
$dropdown_primaryTextColor      : $globalPrimaryTextColor
$dropdown_primaryArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{$dropdown_primaryTextColor}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_infoBackgroundColor: $globalInfoBackgroundColor
$dropdown_infoBorderColor    : $globalInfoBorderColor
$dropdown_infoTextColor      : $globalInfoTextColor
$dropdown_infoArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{$dropdown_infoTextColor}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_warningBackgroundColor: $globalWarningBackgroundColor
$dropdown_warningBorderColor    : $globalWarningBorderColor
$dropdown_warningTextColor      : $globalWarningTextColor
$dropdown_warningArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{$dropdown_warningTextColor}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_invertedBackgroundColor: #34495E
$dropdown_invertedBorderColor    : $globalInvertedBorderColor
$dropdown_invertedTextColor      : $globalInvertedTextColor
$dropdown_invertedArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{$dropdown_invertedTextColor}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")