$dropdown_horizontalPadding: $inputHorizontalPadding
$dropdown_verticalPadding  : $inputVerticalPadding
$dropdown_padding          : $input_padding

$dropdown_lineHeight: $inputLineHeight

$dropdown_borderColor       : $input_borderColor
$dropdown_border            : $input_border
$dropdown_borderRadius      : $input_borderRadius
$dropdown_hoverBorderColor  : $input_hoverBorderColor
$dropdown_focusBorderColor  : $input_focusBorderColor
$dropdown_borderOpacity     : 0.6
$dropdown_hoverBorderOpacity: 0.8
$dropdown_focusBorderOpacity: 1

$dropdown_raisedShadow        : 0px 2px 3px 0px rgba(160, 160, 160, 0.65)
$dropdown_upwardRaisedShadow  : 0px 0px 3px 0px rgba(160, 160, 160, 0.65)
$dropdown_downwardRaisedShadow: 0px 1px 3px 0px rgba(160, 160, 160, 0.65)

$dropdown_textColor      : nth($grey, 8)
$dropdown_backgroundColor: #FFF

//-------------------//
//     Selection
//-------------------//


//-------------------//
//       Basic
//-------------------//

$dropdown_basicMultipleOptionHorizontalPadding: calc(#{$inputHorizontalPadding} / 1.5)
$dropdown_basicMultipleOptionVerticalPadding: calc(#{$inputVerticalPadding} / 1.5)
$dropdown_basicMultipleOptionPadding: $dropdown_basicMultipleOptionVerticalPadding $dropdown_basicMultipleOptionHorizontalPadding

//-------------------//
//       Arrow
//-------------------//

$dropdown_arrowSize: .8em
$dropdown_arrowColor: nth($grey, 8)
$dropdown_arrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{str-replace($dropdown_arrowColor, '#', '%23')}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

//-------------------//
//      Emphasis
//-------------------//

$dropdown_negativeBackgroundColor   : nth($negative, 6)
$dropdown_negativeBorderColor       : nth($negative, 6)
$dropdown_negativeTextColor         : $white
$dropdown_negativeArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{str-replace($dropdown_negativeTextColor, '#', '%23')}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_positiveBackgroundColor   : nth($positive, 6)
$dropdown_positiveBorderColor       : nth($positive, 6)
$dropdown_positiveTextColor         : $white
$dropdown_positiveArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{str-replace($dropdown_positiveTextColor, '#', '%23')}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_primaryBackgroundColor   : nth($primary, 6)
$dropdown_primaryBorderColor       : nth($primary, 6)
$dropdown_primaryTextColor         : $white
$dropdown_primaryArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{str-replace($dropdown_primaryTextColor, '#', '%23')}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_infoBackgroundColor   : nth($info, 6)
$dropdown_infoBorderColor       : nth($info, 6)
$dropdown_infoTextColor         : $white
$dropdown_infoArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{str-replace($dropdown_infoTextColor, '#', '%23')}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_warningBackgroundColor   : nth($warning, 6)
$dropdown_warningBorderColor       : nth($warning, 6)
$dropdown_warningTextColor         : nth($warning, 9)
$dropdown_warningArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{str-replace($dropdown_warningTextColor, '#', '%23')}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

$dropdown_invertedBackgroundColor   : nth($inverted, 6)
$dropdown_invertedBorderColor       : nth($inverted, 5)
$dropdown_invertedTextColor         : nth($inverted, 1)
$dropdown_invertedArrowBackgroundURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='54.7px' height='26.3px' fill='#{str-replace($dropdown_invertedTextColor, '#', '%23')}'><polygon points='54.7,0 27.3,26.3 0,0' /></svg>")

//-------------------//
//        Menu
//-------------------//

$dropdown_menuBackground: $white
$dropdown_menuMargin    : 0em
$dropdown_menuPadding   : 0em 0em
$dropdown_menuTop       : 100%
$dropdown_menuTextAlign : left

$dropdown_menuBorderWidth : 1px
$dropdown_menuBorderColor : nth($grey, 5)
$dropdown_menuBorder      : $dropdown_menuBorderWidth solid $dropdown_menuBorderColor
$dropdown_menuBoxShadow   : $dropdown_raisedShadow
$dropdown_menuBorderRadius: $dropdown_borderRadius
$dropdown_menuTransition  : opacity $defaultDuration $defaultEasing
$dropdown_menuMinWidth    : 150px

$dropdown_floatingMenuDistance : 0.5em
$dropdown_floatingMenuBoxShadow: 0 2px 10px 0 rgba(160, 160, 160, 0.65)

/* Text */
$dropdown_textLineHeight      : 1em
$dropdown_textLineHeightOffset: $dropdown_textLineHeight - 1em
$dropdown_textCursorSpacing   : 1px
$dropdown_distanceToText      : $mini

/* Menu Item */
$dropdown_itemFontSize         : $medium
$dropdown_itemTextAlign        : left
$dropdown_itemBorder           : none
$dropdown_itemHeight           : auto
$dropdown_itemDivider          : none
$dropdown_itemColor            : nth($grey, 8)
$dropdown_itemVerticalPadding  : $mini
$dropdown_itemHorizontalPadding: $large
$dropdown_itemPadding          : $dropdown_itemVerticalPadding calc(#{$dropdown_itemHorizontalPadding} - #{$dropdown_menuBorderWidth} * 2)
$dropdown_itemFontWeight       : normal
$dropdown_itemLineHeight       : 1em
$dropdown_itemLineHeightOffset : $dropdown_itemLineHeight - 1em
$dropdown_itemTextTransform    : none
$dropdown_itemBoxShadow        : none
$dropdown_messagePadding       : calc(#{$dropdown_itemVerticalPadding} / 1.25) calc(#{$dropdown_itemHorizontalPadding} - #{$dropdown_menuBorderWidth} * 2)



$dropdown_hoveredItemBackground      : nth($grey, 1)
$dropdown_hoveredItemColor           : nth($grey, 8)
$dropdown_hoveredItemDescriptionColor: nth($grey, 6)

/* Default Text */
//$dropdown_defaultTextColor: $dropdown_inputPlaceholderColor
//$dropdown_defaultTextFocusColor: $dropdown_inputPlaceholderFocusColor

/* Active Menu Item */
$dropdown_activeItemBackground      : nth($grey, 4)
$dropdown_activeItemFontWeight      : 500
$dropdown_activeItemColor           : nth($grey, 9)
$dropdown_activeItemDescriptionColor: nth($grey, 6)

/* Selected Menu Item */
$dropdown_selectedItemBackground: nth($grey, 2) // $selectedBackgroundColor
$dropdown_selectedItemColor     : nth($grey, 10) // $selectedTextColor

$dropdown_menuHeaderColor        : nth($grey, 9)
$dropdown_menuHeaderFontSize     : $relative11px
$dropdown_menuHeaderFontWeight   : 500
$dropdown_menuHeaderTextTransform: uppercase
$dropdown_menuHeaderMargin       : 1rem 0rem 0.75rem
$dropdown_menuHeaderPadding      : 0em $dropdown_itemHorizontalPadding

/* Menu Divider */
$dropdown_menuSectionDividerMargin: 0.5em 0em
$dropdown_menuDividerColor        : $dropdown_menuBorderColor
$dropdown_menuDividerSize         : 1px
$dropdown_menuDividerBorder       : $dropdown_menuDividerSize solid $dropdown_menuDividerColor


/* Menu Input */
$dropdown_menuInputMargin           : $large $mini
$dropdown_menuInputMinWidth         : 10rem
$dropdown_menuInputVerticalPadding  : 0.5em
$dropdown_menuInputHorizontalPadding: $inputHorizontalPadding
$dropdown_menuInputPadding          : $dropdown_menuInputVerticalPadding $dropdown_menuInputHorizontalPadding

/* Menu Image */
$dropdown_menuImageMaxHeight: 2em

/* Description */
$dropdown_itemDescriptionFloat : right
$dropdown_itemDescriptionMargin: 0em 0em 0em 1em
$dropdown_itemDescriptionColor : nth($grey, 6)

$dropdown_floatedDistance: 1em