$popup_elementHorizontalPadding: .75rem
$popup_elementVerticalPadding  : .5rem
$popup_elementPadding          : $popup_elementVerticalPadding $popup_elementHorizontalPadding

$popup_compactHorizontalPadding: .5rem
$popup_compactVerticalPadding  : .33rem
$popup_compactPadding          : $popup_compactVerticalPadding $popup_compactHorizontalPadding


$popup_elementWidth: 250px
$popup_elementDistance: 14px


$popup_elementBorderWidth: 1px
$popup_elementBorderColor: nth($grey, 4)
$popup_elementBorder     : $popup_elementBorderWidth solid $popup_elementBorderColor
$popup_elementBorderRadius: $defaultBorderRadius


$popup_elementHeaderColor: nth($grey, 9)
$popup_elementHeaderBorder         : 1px solid nth($grey, 4)
$popup_elementHeaderBackgroundColor: nth($grey, 2)







$popup_horizontalPadding: $relative6px
$popup_verticalPadding  : $relative4px
$popup_padding          : $popup_verticalPadding $popup_horizontalPadding

$popup_backgroundColor: $black
$popup_lineHeight     : calc(#{$tiny} * 1.5)
$popup_textColor      : nth($grey, 1)
$popup_fontSize       : $tiny
$popup_arrowSize      : 8px
$popup_arrowOuterSize : 10px
$popup_arrowOffset      : -16px
$popup_arrowOuterOffset : -20px
$popup_borderRadius   : $defaultBorderRadius



$popup_backgroundColor: nth($inverted, 5)
$popup_textColor        : $white

//-------------------//
//       Title
//-------------------//

$popup_titleFontSize  : $relativeLarge
$popup_titleFontWeight: bold
$popup_titleTextColor : nth($grey, 8)
$popup_titleDistance  : 1em

//-------------------//
//       Sizes
//-------------------//

$popup_miniFontSize   : $relativeMini
$popup_tinyFontSize   : $relativeTiny
$popup_smallFontSize  : $relativeSmall
$popup_mediumFontSize : $relativeMedium
$popup_largeFontSize  : $relativeLarge
$popup_bigFontSize    : $relativeBig
$popup_hugeFontSize   : $relativeHuge
$popup_massiveFontSize: $relativeMassive

//-------------------//
//       Width
//-------------------//

$popup_wideWidth    : 350px
$popup_veryWideWidth: 550px

//-------------------//
//       Shadow
//-------------------//

$popup_boxShadow      : $floatingShadow //subtleShadow
$popup_raisedBoxShadow: $floatingShadow

//-------------------//
//       Timing
//-------------------//

$popup_defaultDelay     : .3s
$popup_animationDuration: 0s
$popup_timingFunction   : ease-in

//-------------------//
//      Offsets
//-------------------//

$popup_arrowHorizontalOffsetCalc: calc(50% + -#{$popup_arrowSize} / 2)
$popup_arrowVerticalOffset      : $absolute6px
$popup_arrowVerticalOffsetCalc  : calc(100% + #{$popup_arrowVerticalOffset})
$popup_messageVerticalOffset    : calc(100% + #{$popup_arrowVerticalOffset} + #{$popup_arrowSize} / 2)