$popup_lineHeight      : calc(#{$tiny} * 1.5)
$popup_fontSize        : $tiny
$popup_arrowSize       : 6px
$popup_arrowOuterSize  : 8px
$popup_arrowOffset     : -8px
$popup_arrowOuterOffset: -16px
$popup_borderRadius    : $defaultBorderRadius

$popup_backgroundColor: nth($inverted, 5)
$popup_textColor        : $white

$popup_distance: 14px

$popup_backgroundColor: $white
$popup_textColor      : nth($grey, 8)

$popup_borderWidth : 1px
$popup_borderColor : nth($grey, 4)
$popup_border      : $popup_borderWidth solid $popup_borderColor
$popup_borderRadius: $defaultBorderRadius

$popup_horizontalPadding: $relative8px
$popup_verticalPadding  : $relative6px
$popup_padding          : $popup_verticalPadding $popup_horizontalPadding

//-------------------//
//      Inverted
//-------------------//

$popup_invertedBackgroundColor: nth($inverted, 5)
$popup_invertedTextColor      : $white

//-------------------//
//       Header
//-------------------//

$popup_headerColor          : nth($grey, 9)
$popup_headerBorder         : 1px solid nth($grey, 4)
$popup_headerBackgroundColor: nth($grey, 2)

//-------------------//
//       Padded
//-------------------//

$popup_paddedHorizontalPadding: $relativeMedium
$popup_paddedVerticalPadding  : $relativeTiny
$popup_paddedPadding          : $popup_paddedVerticalPadding $popup_paddedHorizontalPadding

//-------------------//
//       Title
//-------------------//

$popup_titleFontSize  : $relativeLarge
$popup_titleFontWeight: bold
$popup_titleTextColor : nth($grey, 9)
$popup_titleDistance  : $relative5px

//-------------------//
//       Sizes
//-------------------//

$popup_miniFontSize   : $relativeMini
$popup_tinyFontSize   : $relativeTiny
$popup_smallFontSize  : $relativeSmall
$popup_mediumFontSize : $relativeMedium
$popup_largeFontSize  : $relativeLarge
$popup_bigFontSize    : $relativeBig
$popup_hugeFontSize   : $relativeHuge
$popup_massiveFontSize: $relativeMassive

//-------------------//
//       Width
//-------------------//

$popup_width        : 250px
$popup_wideWidth    : 350px
$popup_veryWideWidth: 550px

//-------------------//
//       Shadow
//-------------------//

$popup_boxShadow      : $floatingShadow
$popup_raisedBoxShadow: $floatingShadow

//-------------------//
//       Loader
//-------------------//

$popup_loadingHeight    : 50px
$popup_loadingTransition: all 0s linear, opacity $defaultDuration $defaultEasing
$popup_loaderFillColor  : rgba(200, 200, 200, 0.6)
$popup_loaderLineColor  : #999

$popup_invertedLoaderFillColor : rgba(200, 200, 200, 0.45)
$popup_invertedLoaderLineColor : #FFF

//-------------------//
//       Timing
//-------------------//

$popup_animationDuration    : 180ms
$popup_animationFadeDuration: 300ms
$popup_timingFunction       : cubic-bezier(0.22, 0.61, 0.36, 1)

//-------------------//
//      Offsets
//-------------------//

$popup_arrowHorizontalOffsetCalc: calc(50% + -#{$popup_arrowSize} / 2)
$popup_arrowVerticalOffset      : $absolute6px
$popup_arrowVerticalOffsetCalc  : calc(100% + #{$popup_arrowVerticalOffset})
$popup_messageVerticalOffset    : calc(100% + #{$popup_arrowVerticalOffset} + #{$popup_arrowSize} / 2)