
$sidebar_veryThinWidth: 64px
$sidebar_thinWidth: 180px
$sidebar_width: 230px
$sidebar_wideWidth: 300px
$sidebar_veryWideWidth: 360px

$sidebar_secondaryBackgroundColor: nth($grey, 1)
$sidebar_tertiaryBackgroundColor : nth($grey, 2)

$sidebar_verticalPadding  : 1em
$sidebar_horizontalPadding: 1em
$sidebar_paddedPadding    : 1.5em
$sidebar_veryPaddedPadding: 3em
$sidebar_padding          : $sidebar_verticalPadding $sidebar_horizontalPadding

$sidebar_borderWidth : 1px
$sidebar_border      : $sidebar_borderWidth solid nth($grey, 4)

$sidebar_boxShadow           : $subtleShadow
$sidebar_raisedBoxShadow     : $floatingShadow