$snackbar_backgroundColor: #464545

$snackbar_padding          : .5em .5em .5em 1em
$snackbar_borderRadius     : 4px
$snackbar_textColor        : #FFF
$snackbar_boxShadow        : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

$snackbar_mobilePaddingRight: .5em

//-------------------//
//     Animation
//-------------------//

$snackbar_timingFunction         : cubic-bezier(0.22, 0.61, 0.36, 1)
$snackbar_activeAnimationDuration: 300ms
$snackbar_leaveAnimationDuration : 200ms

//-------------------//
//      Position
//-------------------//

$snackbar_distanceToEdge: 20px

//-------------------//
//      Content
//-------------------//

$snackbar_contentDistanceToAction: 4em
$snackbar_contentPadding         : .5em 0

//-------------------//
//       Action
//-------------------//

$snackbar_actionTextColor   : #FFF
$snackbar_actionPadding     : .7em 1em
$snackbar_actionFontWeight  : 500
$snackbar_actionBorderRadius: 2px

$snackbar_actionBackgroundColor      : transparent
$snackbar_actionHoverBackgroundColor : rgba(70, 70, 70, 0.8)
$snackbar_actionActiveBackgroundColor: rgba(35, 35, 35, 0.8)

$snackbar_actionMobileMarginLeft: .5em

//-------------------//
//  Action Emphasis
//-------------------//

$snackbar_actionPrimaryTextColor : $primaryColor
$snackbar_actionInfoTextColor    : $infoColor
$snackbar_actionWarningTextColor : $warningColor
$snackbar_actionNegativeTextColor: $negativeColor
$snackbar_actionPositiveTextColor: $positiveColor