$transfer_borderWidth : 1px
$transfer_border      : $transfer_borderWidth solid nth($grey, 4)
$transfer_borderRadius: $defaultBorderRadius

$transfer_verticalPadding     : .5em
$transfer_horizontalPadding   : 1em
$transfer_padding             : $transfer_verticalPadding $transfer_horizontalPadding

$transfer_itemVerticalPadding     : .5em
$transfer_itemHorizontalPadding   : $transfer_horizontalPadding
$transfer_itemPadding             : $transfer_itemVerticalPadding $transfer_itemHorizontalPadding

$transfer_headerTextColor          : nth($grey, 9)
$transfer_headerDividerWidth       : 1px
$transfer_headerDividerBorderColor : nth($grey, 4)
$transfer_headerDividerBorderBottom: $transfer_headerDividerWidth solid $transfer_headerDividerBorderColor

//-------------------//
//      Selected
//-------------------//

$transfer_selectedTextColor      : $selectedTextColor
$transfer_selectedBackgroundColor: $selectedBackgroundColor

$transfer_hoverBackgroundColor: nth($grey, 1)
$transfer_hoverTextColor: nth($grey, 8)
$transfer_activeBackgroundColor: nth($grey, 3)
$transfer_activeTextColor: nth($grey, 9)

$list_segmentedLinkDownBackground  : nth($grey, 3)
$list_segmentedLinkDownColor       : nth($grey, 9)