$transfer_backgroundColor: $white
$transfer_borderWidth    : 1px
$transfer_border         : $transfer_borderWidth solid nth($grey, 4)
$transfer_borderRadius   : $defaultBorderRadius

$transfer_verticalPadding  : .5em
$transfer_horizontalPadding: 1em
$transfer_padding          : $transfer_verticalPadding $transfer_horizontalPadding

//-------------------//
//        List
//-------------------//

$transfer_listWidth : 210px
$transfer_listHeight: 260px

//-------------------//
//        Item
//-------------------//

$transfer_itemVerticalPadding  : .5em
$transfer_itemHorizontalPadding: $transfer_horizontalPadding
$transfer_itemPadding          : $transfer_itemVerticalPadding $transfer_itemHorizontalPadding
$transfer_itemBorderWidth      : 1px
$transfer_itemBorderColor      : nth($grey, 4)
$transfer_itemBorder           : $transfer_itemBorderWidth solid $transfer_itemBorderColor

//-------------------//
//      Actions
//-------------------//

$transfer_actionPadding           : 1em
$transfer_actionButtonPadding     : .8em 1em
$transfer_actionButtonGap         : 1em
$transfer_actionButtonFontSize    : .9em
$transfer_addButtonIcon           : '\f054'
$transfer_removeButtonIcon        : '\f053'
$transfer_verticalAddButtonIcon   : '\f078'
$transfer_verticalRemoveButtonIcon: '\f077'

//-------------------//
//       Header
//-------------------//

$transfer_headerFontWeight         : 500
$transfer_headerTextColor          : nth($grey, 9)
$transfer_headerDividerWidth       : 1px
$transfer_headerDividerBorderColor : nth($grey, 4)
$transfer_headerDividerBorderBottom: $transfer_headerDividerWidth solid $transfer_headerDividerBorderColor

//-------------------//
//      Selected
//-------------------//

$transfer_selectedTextColor      : $selectedTextColor
$transfer_selectedBackgroundColor: $selectedBackgroundColor

$transfer_hoverBackgroundColor : nth($grey, 1)
$transfer_hoverTextColor       : nth($grey, 8)
$transfer_activeBackgroundColor: nth($grey, 3)
$transfer_activeTextColor      : nth($grey, 9)

//-------------------//
//       Search
//-------------------//

$transfer_searchFontSize    : .9em
$transfer_searchBorder      : 1px solid nth($grey, 4)
$transfer_searchBorderRadius: $defaultBorderRadius

$transfer_searchIcon        : '\f002'
$transfer_searchIconOpacity : .6
$transfer_searchIconOffset  : .35em
$transfer_searchIconDistance: calc(#{$transfer_horizontalPadding * 2} + .6em)

$transfer_searchVerticalPadding  : .4em
$transfer_searchHorizontalPadding: 1em
$transfer_searchPadding          : $transfer_searchVerticalPadding $transfer_searchHorizontalPadding