// ==========================================================================
// Extends
// ==========================================================================

%component
    font-size  : 16px
    line-height: 1.85
    font-family: 'Noto Sans TC'
    color      : #333
    box-sizing : border-box
    position   : relative

%component-box
    border-radius: $global-border_radius
    border-width : 1px
    border-style : solid

%top-attached
    margin-bottom             : 0
    border-bottom-right-radius: 0
    border-bottom-left-radius : 0

%attached
    margin-top   : 0
    margin-bottom: 0
    border-top   : 0
    border-radius: 0

%bottom-attached
    margin-top             : 0
    border-top             : 0
    border-top-right-radius: 0
    border-top-left-radius : 0
