/* ==========================================================================
   Variables
   ========================================================================== */

.ts-app-sidebar {
    --accent-color: initial;
    --accent-foreground-color: initial;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-app-sidebar {
    margin-right: 1.5rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-sidebar .item {
    padding: 0.7rem 1.5rem;
    display: flex;
    font-weight: 500;
    color: var(--ts-gray-800);
    text-decoration: none;
}

.ts-app-sidebar .header {
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    font-size: var(--ts-font-size-15px);
    color: var(--ts-gray-500);
}

.ts-app-sidebar .item + .header {
    margin-top: 1.5rem;
}

.ts-app-sidebar .item .ts-icon {
    margin-right: 1rem;
    font-size: 1.1em;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-app-sidebar .item.is-active {
    background: var(--accent-color, var(--ts-gray-800));
    color: var(--accent-foreground-color, var(--ts-gray-50));
    border-radius: 0px 100rem 100rem 0;
}

/**
 * Disabled
 */

.ts-app-sidebar .item.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

/**
 * Dense
 */

.ts-app-sidebar.is-dense .item {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.ts-app-sidebar.is-dense .item + .header {
    margin-top: 0.5rem;
}

.ts-app-sidebar.is-dense .header {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
}
