/* ==========================================================================
   Variables
   ========================================================================== */

.ts-notice {
    --accent-color: initial;
    --accent-foreground-color: initial;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-notice {
    background: var(--accent-color, var(--ts-gray-800));
    border: 1px solid transparent;
    color: var(--accent-foreground-color, var(--ts-gray-50));
    display: block;
    padding: 0.45rem 1rem;
    font-size: var(--ts-font-size-14px);
    border-radius: 0.4rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-notice .title {
    background: var(--accent-foreground-color, var(--ts-gray-50));
    color: var(--accent-color, var(--ts-gray-800));
    border-radius: 0.4rem;
    padding: 0.3rem 0.5rem;
    margin-right: 0.6rem;
    margin-top: 0.05rem;
    font-size: var(--ts-font-size-14px);
    text-align: justify;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
}

.ts-notice .content {
    display: inline;
}

.ts-notice a {
    text-decoration: underline;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Negative
 */

.ts-notice.is-negative {
    background: var(--ts-negative-500);
    color: var(--ts-white);
}

.ts-notice.is-negative .title {
    background: var(--ts-white);
    color: var(--ts-negative-600);
}

/**
 * Outlined
 */

.ts-notice.is-outlined {
    background: transparent;
    border-color: var(--ts-gray-300);
    color: var(--accent-color, var(--ts-gray-800));
}

.ts-notice.is-outlined .title {
    background: var(--accent-color, var(--ts-gray-800));
    color: var(--accent-foreground-color, var(--ts-gray-50));
}

.ts-notice.is-outlined.is-negative .title {
    background: var(--ts-negative-500);
    color: var(--ts-gray-50);
}

/**
 * Sizes
 */

.ts-notice.is-small,
.ts-notice.is-small .title {
    font-size: var(--ts-font-size-13px);
}

.ts-notice.is-large,
.ts-notice.is-large .title {
    font-size: var(--ts-font-size-17px);
}

/**
 * Dense
 */

.ts-notice.is-dense {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.ts-notice.is-dense .title {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
