/* ==========================================================================
   Variables
   ========================================================================== */

.ts-segment {
    --accent-color: initial;
    --accent-foreground-color: initial;
    --ts-indicator-color: var(--accent-color, var(--ts-gray-900));
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-segment {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--ts-gray-300);
    border-radius: 0.4rem;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
    background: var(--ts-gray-50);
}

a.ts-segment:hover {
    border-color: var(--ts-gray-400);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Collapsed
 */

.ts-segment.is-collapsed {
    width: fit-content;
}

/**
 * Indicated
 */

.ts-segment.is-top-indicated {
    border-top: 3px solid var(--ts-indicator-color);
}
.ts-segment.is-bottom-indicated {
    border-bottom: 3px solid var(--ts-indicator-color);
}
.ts-segment.is-left-indicated {
    border-left: 3px solid var(--ts-indicator-color);
}
.ts-segment.is-right-indicated {
    border-right: 3px solid var(--ts-indicator-color);
}

/**
 * Secondary
 */

.ts-segment.is-secondary {
    background: var(--ts-gray-75);
}

/**
 * Tertiary
 */

.ts-segment.is-tertiary {
    background: var(--ts-gray-100);
}

/**
 * Aligns
 */

.ts-segment.is-start-aligned {
    text-align: left;
}

.ts-segment.is-end-aligned {
    text-align: right;
}

.ts-segment.is-center-aligned {
    text-align: center;
}

/**
 * Emphasises
 */

.ts-segment[class*="-indicated"].is-negative {
    --ts-indicator-color: var(--ts-negative-500);
}

.ts-segment[class*="-indicated"].is-positive {
    --ts-indicator-color: var(--ts-positive-500);
}

.ts-segment[class*="-indicated"].is-warning {
    --ts-indicator-color: var(--ts-warning-500);
}

/**
 * Elevated
 */

.ts-segment.is-elevated {
    box-shadow: 0px 1px 5px 0 #00000024;
}

.ts-segment.is-very-elevated {
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

/**
 * Padded
 */

.ts-segment.is-padded {
    padding: 1.5rem;
}
.ts-segment.is-horizontally-padded {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.ts-segment.is-vertically-padded {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.ts-segment.is-very-padded {
    padding: 3.5rem;
}
.ts-segment.is-horizontally-very-padded {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.ts-segment.is-vertically-very-padded {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

/**
 * Dense
 */

.ts-segment.is-dense {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
