$window_backgroundColor: $white
$window_borderWidth    : 1px
$window_border         : $window_borderWidth solid nth($grey, 4)
$window_borderRadius   : $defaultBorderRadius
$window_boxShadow: $subtleShadow

//-------------------//
//      Emphasis
//-------------------//

$window_negativeBackgroundColor: nth($negative, 6)
$window_negativeBorderColor    : nth($negative, 6)
$window_negativeTextColor      : $white

$window_positiveBackgroundColor: nth($positive, 6)
$window_positiveBorderColor    : nth($positive, 6)
$window_positiveTextColor      : $white

$window_primaryBackgroundColor: nth($primary, 6)
$window_primaryBorderColor    : nth($primary, 6)
$window_primaryTextColor      : $white

$window_infoBackgroundColor: nth($info, 6)
$window_infoBorderColor    : nth($info, 6)
$window_infoTextColor      : $white

$window_warningBackgroundColor: nth($warning, 6)
$window_warningBorderColor    : nth($warning, 6)
$window_warningTextColor      : nth($warning, 9)

$window_invertedBackgroundColor: nth($inverted, 6)
$window_invertedBorderColor    : nth($inverted, 5)
$window_invertedTextColor      : nth($inverted, 1)

//-------------------//
//       Header
//-------------------//

$window_headerFontWeight         : 500
$window_headerTextColor          : nth($grey, 9)
$window_headerBackgroundColor    : nth($grey, 1)
$window_headerBorder    : $window_borderWidth solid nth($grey, 4)

//-------------------//
//       Sidebar
//-------------------//

$window_sidebarFontWeight         : 500
$window_sidebarTextColor          : nth($grey, 9)
$window_sidebarBackgroundColor    : nth($grey, 1)
$window_sidebarBorder    : $window_borderWidth solid nth($grey, 3)

//-------------------//
//       Message
//-------------------//

$window_messageTextColor          : nth($grey, 9)
$window_messageBackgroundColor    : nth($grey, 2)
$window_messageBorder    : $window_borderWidth solid nth($grey, 4)

//-------------------//
//       Content
//-------------------//

$window_contentBorder    : $window_borderWidth solid nth($grey, 3)

//-------------------//
//       Footer
//-------------------//

$window_footerBackgroundColor    : $white
$window_footerSecondaryBackgroundColor    : nth($grey, 1)
$window_footerBorder    : $window_borderWidth solid nth($grey, 4)