@import ../../variables/modules/carousel.variables

//*******************************//
//              Main
//*******************************//

.ts.carousel
    overflow: hidden

//-------------------//
//      Controls
//-------------------//

.ts.carousel > .controls
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    z-index: 2

.ts.carousel > .controls > .left,
.ts.carousel > .controls > .right
    height: 100%
    color: #FFF
    font-size: 2em
    display: flex
    align-items: center
    justify-content: center
    width: 11%

.ts.carousel > .sided.controls > .left,
.ts.carousel > .sided.controls > .right
    width: 60px
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    top: calc(50% + -50px);
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;

.ts.carousel > .controls > .left .icon,
.ts.carousel > .controls > .right .icon
    margin: 0
    -webkit-text-stroke: 1px nth($grey, 7)
    text-stroke: 1px nth($grey, 7)

.ts.carousel > .controls > .right
    margin-left: auto

//-------------------//
//     Indicators
//-------------------//

.ts.carousel > .indicators
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 50px
    display: flex
    z-index: 1
    align-items: center
    justify-content: center

.ts.carousel > .indicators > .item
    height: .45em
    width: 1.6em
    border-radius: .4rem
    background: #7b7b7b
    transition: background 200ms linear
    border: 1px solid nth($grey, 7)
    margin: 0 .25em

.ts.carousel > .indicators > .item.active
    background: #fff

.ts.carousel > .indicators.circular > .item
    height: .9em
    width: .9em
    border-radius: 500em

//-------------------//
//       Items
//-------------------//

.ts.carousel > .items
    overflow: hidden
    white-space: nowrap
    width: 100%

//-------------------//
//       Item
//-------------------//

.ts.carousel > .items > .item
    display: none
    align-items: center
    width: 100%
    backface-visibility: hidden
    perspective: 1000px
    transition: transform .6s ease-in-out

.ts.carousel > .items > .item.active,
.ts.carousel > .items > .item.next,
.ts.carousel > .items > .item.previous
    display: block

.ts.carousel > .items > .item.next,
.ts.carousel > .items > .item.previous
    position: absolute
    top: 0

.ts.carousel > .items > .item.next[class*="moving left"],
.ts.carousel > .items > .item.previous[class*="moving right"]
    transform: translate3d(0, 0, 0)

.ts.carousel > .items > .item.next,
.ts.carousel > .items > .item.active[class*="moving right"]
    transform: translate3d(100%, 0, 0)

.ts.carousel > .items > .item.previous,
.ts.carousel > .items > .item.active[class*="moving left"]
    transform: translate3d(-100%, 0, 0)

//-------------------//
//       Image
//-------------------//

.ts.carousel > .items > .item > .image
    width: 100%
.ts.carousel > .items > .item > .image img
    //width: 100%

//-------------------//
//      Covered
//-------------------//

.ts.carousel > .items > .item > .image.covered img
    width: 100%
    height: 100%
    object-fit: cover

//-------------------//
//      Content
//-------------------//

.ts.carousel > .items > .item > .content
    position: absolute
    left: 0
    bottom: 40px
    right: 0
    z-index: 1
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    padding: 1em
    color: #fff




//-------------------//
//      Header
//-------------------//

.ts.carousel > .items > .item > .content .header
    font-size: 1.8em
    line-height: 1.5
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.65);

//-------------------//
//    Description
//-------------------//

.ts.carousel > .items > .item > .content .description
    font-size: 1.15em
    line-height: 1.5
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.65);