//   ▄▄▄        ▄▄████▄                                                           
// ▄█████▄    ▄██▀    ██
// ▀█▄   ██▄ ██▀      ██                                                       
//  ▀██▄▄▄████   ▄▄▄██▀                                                            
//     ▀▀▀████▀▀▀▀▀                                                              
//        ██                                                                     
//       ██          ▄█████▄       █████████████          ▄█             █▄    
//      ██         ▄█▀     ▀█▄     ██         ██         ██▀█▄         ▄█▀     
//      ██        ██         ██    ██         ██        ██  ▀██       ██▀
//      ██        ██         ██    ██         ██      ▄█▀     ██     ▀▀▀▀▀▀▀███
//      ██        ▀█▄       ▄█▀    ██         ██     ██▀       ▀█▄         ██▀ 
//       ██         ▀███████▀      █████████████    ███▄▄▄▄▄▄▄▄▄██▓       █▀
//
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   D I M M E R   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//**************************************
//************   M A I N   *************
//**************************************

.ts.dimmer
  +flex
  +flex-all-center
  +absolute
  +position(0, 0, 0, 0)
  +z(3)
  
  background: rgba(0, 0, 0, 0.8)
  
  
  
  // [&] Inverted
  //
  // 相反色的淡化幕。
  
  &.inverted
    background: rgba(255, 255, 255, 0.5)
    
    // Loader
    //
    // 淡化幕中的讀取器。
  
    .ts.loader
      +loader-theme
  
  
  
  // [&] NOT Active
  //
  // 不是正在啟用的淡化幕。
  
  &:not(.active)
    +none
  
  
  
  // [&] Active
  //
  // 正在啟用的淡化幕。
  
  &.active
    .ts.loader
      display: block !important
  
  
  
  // Loader
  //
  // 淡化幕中的讀取器。
  
  .ts.loader
    +relative
    +position(0 !important, 0 !important, 0 !important, 0 !important)
  
    // [&] Text
    //
    // 帶有文字的讀取器。
    
    &.text
      max-width: none

