.ts.dimmer
  +flex
  +flex-all-center
  +absolute
  +position(0, 0, 0, 0)

  
  background: rgba(0, 0, 0, 0.8)
  z-index: 3

  &.inverted
    background: rgba(255, 255, 255, 0.5)
  
    .ts.loader
      +loader-theme
  
  &:not(.active)
    +none
  
  &.active
    .ts.loader
      +block
  
  .ts.loader
    +relative
    +position(0 !important, 0 !important, 0 !important, 0 !important)
    
    &.text
      max-width: none

