@import ../../variables/modules/modal.variables

//*******************************//
//              Main
//*******************************//

dialog.ts.modal
    display: none
    background: transparent
    padding: 0
    margin: 0

    border          : $modal_border
    border-radius   : $modal_borderRadius
    box-shadow      : $modal_boxShadow
    color           : $textColor
    background-color: $modal_backgroundColor

dialog.ts.modal[open]
    display: block

dialog.ts.basic.modal
    border    : 0
    box-shadow: none

.ts.modal > .header
    display: block
    border-bottom: $modal_border
    padding: 1.25rem 1.5rem


.ts.modal > .header:not(.ts)
    font-size: 1.42857143rem
    line-height: 1.2857em
    font-weight: 500

.ts.modal > .content
    padding: 1.25rem 1.5rem

.ts.modal > .image.content
    display: flex

    +rwd-serious(mobile)
        flex-wrap: wrap

.ts.modal > .image.content > .image
    +rwd-serious(mobile)
        flex: 100%
        text-align: center
        padding-bottom: 1.25rem

.ts.modal > .image.content > .image + .description
    flex: 1
    padding-left: 2em

    +rwd-serious(mobile)
        padding-left: 0

.ts.modal > .actions
    border-top: $modal_border
    text-align: right
    padding: 1rem 1.5rem

.ts.modal > .actions .button
    margin-left: 1em

.ts.modals.dimmer
    position: fixed
    overflow: scroll
    padding: .88rem
    display: block