@import ../../variables/modules/popup.variables

//*******************************//
//            Animation
//*******************************//

@keyframes popup-upward
    0%
        opacity  : 0
    100%
        transform: translateY(-#{$popup_elementDistance})
        opacity: 1
@keyframes popup-downward
    0%
        opacity  : 0
    100%
        transform: translateY($popup_elementDistance)
        opacity: 1
@keyframes popup-leftward
    0%
        opacity  : 0
    100%
        transform: translateX(-#{$popup_elementDistance})
        opacity: 1
@keyframes popup-rightward
    0%
        opacity  : 0
    100%
        transform: translateX($popup_elementDistance)
        opacity: 1

@keyframes popup-fade
    0%
        opacity  : 0
    100%
        opacity: 1

//*******************************//
//         Element Main
//*******************************//

.ts.popup
    position     : absolute
    display      : inline-block
    visibility   : hidden
    background   : #fff
    box-shadow   : $popup_boxShadow
    border       : $popup_elementBorder
    border-radius: $popup_elementBorderRadius
    max-width    : $popup_elementWidth
    z-index      : $z_popup

    margin-bottom: 14px

.ts.popup:not(.hoverable)
    +extend(no-select)
    pointer-events: none


//-------------------//
//     Visibility
//-------------------//

.ts.popup.visible
    visibility: visible
    opacity   : 1

.ts.popup.animating[data-position="top"]
    animation: popup-upward 180ms cubic-bezier(0.22, 0.61, 0.36, 1) both
.ts.popup.animating[data-position="bottom"]
    animation: popup-downward 180ms cubic-bezier(0.22, 0.61, 0.36, 1) both
.ts.popup.animating[data-position="left"]
    animation: popup-leftward 180ms cubic-bezier(0.22, 0.61, 0.36, 1) both
.ts.popup.animating[data-position="right"]
    animation: popup-rightward 180ms cubic-bezier(0.22, 0.61, 0.36, 1) both

.ts.popup.animating[data-popup-transition="fade"]
    animation: popup-fade 300ms cubic-bezier(0.22, 0.61, 0.36, 1) both

.ts.popup.animating:not(.visible)
    visibility         : visible
    animation-direction: reverse


//-------------------//
//       Header
//-------------------//

.ts.popup > .header
    overflow     : hidden
    color        : $popup_elementHeaderColor
    border-bottom: $popup_elementHeaderBorder
    padding      : $popup_elementPadding
    background   : $popup_elementHeaderBackgroundColor

//-------------------//
//       Title
//-------------------//

.ts.popup > .title
    font-size    : $popup_titleFontSize
    font-weight  : $popup_titleFontWeight
    color        : $popup_titleTextColor
    padding      : $popup_elementPadding

//-------------------//
//      Content
//-------------------//

.ts.popup > .content
    padding: $popup_elementPadding

.ts.popup > .title + .content
    padding-top: 0

//-------------------//
//       Arrow
//-------------------//

.ts.popup > .arrow
    display: none
    border-color       : transparent
    border-style       : solid
    position           : absolute
    border-bottom-color: $popup_elementBorderColor
    border-width       : $popup_arrowOuterSize
    z-index            : 100

.ts.popup > .arrow:after
    border        : solid transparent
    content       : ""
    height        : 0
    width         : 0
    pointer-events: none
    border-color  : transparent
    border-width  : $popup_arrowSize
    bottom        : -10px
    left          : 50%
    transform     : translateX(-50%)
    position      : absolute
    border-bottom-color: #FFF
    z-index     : 200

.ts.popup[data-position="top"] > .arrow,
.ts.popup[data-position="left"] > .arrow,
.ts.popup[data-position="right"] > .arrow,
.ts.popup[data-position="bottom"] > .arrow
    display: block


.ts.popup[data-position="top"] > .arrow
    transform: rotate(180deg)
.ts.popup[data-position="left"] > .arrow
    transform: rotate(90deg)
.ts.popup[data-position="right"] > .arrow
    transform: rotate(-90deg)
.ts.popup[data-position="bottom"] > .arrow




//-------------------//
//      Compact
//-------------------//

.ts.compact.popup > .content
    padding: $popup_compactPadding

//-------------------//
//      Inverted
//-------------------//

.ts.inverted.popup
    background: $popup_backgroundColor
    color     : $popup_textColor
    border    : none

.ts.inverted.popup > .arrow
    border-bottom-color: $popup_backgroundColor !important

.ts.inverted.popup > .arrow:after
    border-bottom-color: transparent !important

//-------------------//
//     Direction
//-------------------//

.ts.popup.visible[data-position="top"]:not(.animating)
    transform: translateY(-#{$popup_elementDistance})
.ts.popup.visible[data-position="bottom"]:not(.animating)
    transform: translateY($popup_elementDistance)
.ts.popup.visible[data-position="left"]:not(.animating)
    transform: translateX(-#{$popup_elementDistance})
.ts.popup.visible[data-position="right"]:not(.animating)
    transform: translateX($popup_elementDistance)

.ts.popup[data-position="top"][data-popup-transition="fade"]
    transform: translateY(-#{$popup_elementDistance})
.ts.popup[data-position="bottom"][data-popup-transition="fade"]
    transform: translateY($popup_elementDistance)
.ts.popup[data-position="left"][data-popup-transition="fade"]
    transform: translateX(-#{$popup_elementDistance})
.ts.popup[data-position="right"][data-popup-transition="fade"]
    transform: translateX($popup_elementDistance)

//-------------------//
//       Sizes
//-------------------//

.ts.popup.mini
    font-size: $popup_miniFontSize
.ts.popup.tiny
    font-size: $popup_tinyFontSize
.ts.popup.small
    font-size: $popup_smallFontSize
.ts.popup.medium,
.ts.popup
    font-size: $popup_mediumFontSize
.ts.popup.large
    font-size: $popup_largeFontSize
.ts.popup.big
    font-size: $popup_bigFontSize
.ts.popup.huge
    font-size: $popup_hugeFontSize
.ts.popup.massive
    font-size: $popup_massiveFontSize

//-------------------//
//        Width
//-------------------//

.ts.popup.wide
    max-width: $popup_wideWidth

.ts.popup[class*="very wide"]
    max-width: $popup_veryWideWidth

//-------------------//
//      Flowing
//-------------------//

.ts.popup.flowing
    max-width: none

//-------------------//
//       Fluid
//-------------------//

.ts.popup.fluid
    width    : 100%
    max-width: none

//-------------------//
//      Coupling
//-------------------//

.ts.popup > .ts.grid:not(.padded)
    width : auto
    margin: 0