@import ../../variables/modules/popup.variables

//*******************************//
//            Animation
//*******************************//

@keyframes popup-upward
    0%
        opacity  : 0
    100%
        transform: translateY(-14px)
        opacity: 1
@keyframes popup-downward
    0%
        opacity  : 0
    100%
        transform: translateY(14px)
        opacity: 1
@keyframes popup-leftward
    0%
        opacity  : 0
    100%
        transform: translateX(-14px)
        opacity: 1
@keyframes popup-rightward
    0%
        opacity  : 0
    100%
        transform: translateX(14px)
        opacity: 1

//*******************************//
//         Element Main
//*******************************//

.ts.popup
    position     : absolute
    display      : inline-block
    visibility   : hidden
    background   : #fff
    box-shadow   : $popup_boxShadow
    border       : $popup_elementBorder
    border-radius: $popup_elementBorderRadius
    z-index      : $z_popup

    margin-bottom: 14px

//-------------------//
//     Visibility
//-------------------//

.ts.popup.visible
    visibility: visible
    opacity   : 1

.ts.popup.animating[data-popup-position="top left"],
.ts.popup.animating[data-popup-position="top center"],
.ts.popup.animating[data-popup-position="top right"]
    animation: popup-upward 180ms cubic-bezier(0.22, 0.61, 0.36, 1) both
.ts.popup.animating[data-popup-position="bottom left"],
.ts.popup.animating[data-popup-position="bottom center"],
.ts.popup.animating[data-popup-position="bottom right"]
    animation: popup-downward 180ms cubic-bezier(0.22, 0.61, 0.36, 1) both
.ts.popup.animating[data-popup-position="left top"],
.ts.popup.animating[data-popup-position="left center"],
.ts.popup.animating[data-popup-position="left bottom"]
    animation: popup-leftward 180ms cubic-bezier(0.22, 0.61, 0.36, 1) both
.ts.popup.animating[data-popup-position="right top"],
.ts.popup.animating[data-popup-position="right center"],
.ts.popup.animating[data-popup-position="right bottom"]
    animation: popup-rightward 180ms cubic-bezier(0.22, 0.61, 0.36, 1) both

.ts.popup.animating:not(.visible)
    visibility         : visible
    animation-direction: reverse
    animation-duration: 200ms

//-------------------//
//       Header
//-------------------//

.ts.popup > .header
    overflow     : hidden
    color        : $popup_elementHeaderColor
    border-bottom: $popup_elementHeaderBorder
    padding      : $popup_elementPadding
    background   : $popup_elementHeaderBackgroundColor

//-------------------//
//      Content
//-------------------//

.ts.popup > .content
    padding: $popup_elementPadding

//-------------------//
//       Arrow
//-------------------//

.ts.popup.pointing:before,
.ts.popup.pointing:after
    bottom  : 100%
    border  : solid transparent
    content : ""
    height  : 0
    width   : 0
    position: absolute

    pointer-events: none

.ts.popup.pointing:before
    border-color: transparent
    border-width: 10px
    z-index     : 100

.ts.popup.pointing:after
    border-color: transparent
    border-width: 8px
    z-index     : 200

//-------------------//
//      Compact
//-------------------//

.ts.compact.popup > .content
    padding: $popup_compactPadding

//-------------------//
//      Inverted
//-------------------//

.ts.inverted.popup
    background: $popup_backgroundColor
    color     : $popup_textColor
    border    : none

.ts.inverted.popup:before,
.ts.inverted.popup:after
    border-bottom-color: $popup_backgroundColor !important

.ts.inverted.popup:before
    border-bottom-color: transparent !important

//-------------------//
//     Direction
//-------------------//

.ts.popup.visible[data-popup-position="top left"]:not(.animating),
.ts.popup.visible[data-popup-position="top center"]:not(.animating),
.ts.popup.visible[data-popup-position="top right"]:not(.animating)
    transform: translateY(-14px)
.ts.popup.visible[data-popup-position="bottom left"]:not(.animating),
.ts.popup.visible[data-popup-position="bottom center"]:not(.animating),
.ts.popup.visible[data-popup-position="bottom right"]:not(.animating)
    transform: translateY(14px)
.ts.popup.visible[data-popup-position="left top"]:not(.animating),
.ts.popup.visible[data-popup-position="left center"]:not(.animating),
.ts.popup.visible[data-popup-position="left bottom"]:not(.animating)
    transform: translateX(-14px)
.ts.popup.visible[data-popup-position="right top"]:not(.animating),
.ts.popup.visible[data-popup-position="right center"]:not(.animating),
.ts.popup.visible[data-popup-position="right bottom"]:not(.animating)
    transform: translateX(14px)

//-------------------//
//     Pointing
//-------------------//

.ts.popup.pointing:before
    border-bottom-color: $popup_elementBorderColor
.ts.popup.pointing:after
    border-bottom-color: #FFF

.ts.popup[data-popup-position="top right"].pointing:before
    bottom   : -20px
    right    : $popup_elementHorizontalPadding
    transform: rotate(180deg)
.ts.popup[data-popup-position="top right"].pointing:after
    bottom   : -16px
    right    : calc(#{$popup_elementHorizontalPadding} - -2px)
    transform: rotate(180deg)
.ts.popup[data-popup-position="top left"].pointing:before
    bottom   : -20px
    left     : $popup_elementHorizontalPadding
    transform: rotate(180deg)
.ts.popup[data-popup-position="top left"].pointing:after
    bottom   : -16px
    left     : calc(#{$popup_elementHorizontalPadding} - -2px)
    transform: rotate(180deg)
.ts.popup[data-popup-position="top center"].pointing:before
    bottom   : -20px
    left     : 50%
    transform: translateX(-50%) rotate(180deg)
.ts.popup[data-popup-position="top center"].pointing:after
    bottom   : -16px
    left     : 50%
    transform: translateX(-50%) rotate(180deg)

.ts.popup[data-popup-position="bottom right"].pointing:before
    right    : $popup_elementHorizontalPadding
.ts.popup[data-popup-position="bottom right"].pointing:after
    right    : calc(#{$popup_elementHorizontalPadding} - -2px)
.ts.popup[data-popup-position="bottom left"].pointing:before
    left     : $popup_elementHorizontalPadding
.ts.popup[data-popup-position="bottom left"].pointing:after
    left     : calc(#{$popup_elementHorizontalPadding} - -2px)
.ts.popup[data-popup-position="bottom center"].pointing:before
    left     : 50%
    transform: translateX(-50%)
.ts.popup[data-popup-position="bottom center"].pointing:after
    left     : 50%
    transform: translateX(-50%)

.ts.popup[data-popup-position="right top"].pointing:before
    top      : $popup_elementVerticalPadding
    left     : -20px
    transform: rotate(-90deg)
.ts.popup[data-popup-position="right top"].pointing:after
    top      : calc(#{$popup_elementVerticalPadding} - -2px)
    left     : -16px
    transform: rotate(-90deg)
.ts.popup[data-popup-position="right bottom"].pointing:before
    bottom   : $popup_elementVerticalPadding
    left     : -20px
    transform: rotate(-90deg)
.ts.popup[data-popup-position="right bottom"].pointing:after
    bottom   : calc(#{$popup_elementVerticalPadding} - -2px)
    left     : -16px
    transform: rotate(-90deg)
.ts.popup[data-popup-position="right center"].pointing:before
    top      : 50%
    left     : -20px
    transform: translateY(-50%) rotate(-90deg)
.ts.popup[data-popup-position="right center"].pointing:after
    top      : 50%
    left     : -16px
    transform: translateY(-50%) rotate(-90deg)

.ts.popup[data-popup-position="left top"].pointing:before
    top      : $popup_elementVerticalPadding
    right    : -20px
    transform: rotate(90deg)
.ts.popup[data-popup-position="left top"].pointing:after
    top      : calc(#{$popup_elementVerticalPadding} - -2px)
    right    : -16px
    transform: rotate(90deg)
.ts.popup[data-popup-position="left bottom"].pointing:before
    bottom   : $popup_elementVerticalPadding
    right    : -20px
    transform: rotate(90deg)
.ts.popup[data-popup-position="left bottom"].pointing:after
    bottom   : calc(#{$popup_elementVerticalPadding} - -2px)
    right    : -16px
    transform: rotate(90deg)
.ts.popup[data-popup-position="left center"].pointing:before
    top      : 50%
    right    : -20px
    transform: translateY(-50%) rotate(90deg)
.ts.popup[data-popup-position="left center"].pointing:after
    top      : 50%
    right    : -16px
    transform: translateY(-50%) rotate(90deg)

//-------------------//
//       Sizes
//-------------------//

.ts.popup.mini
    font-size: $popup_miniFontSize
.ts.popup.tiny
    font-size: $popup_tinyFontSize
.ts.popup.small
    font-size: $popup_smallFontSize
.ts.popup.medium,
.ts.popup
    font-size: $popup_mediumFontSize
.ts.popup.large
    font-size: $popup_largeFontSize
.ts.popup.big
    font-size: $popup_bigFontSize
.ts.popup.huge
    font-size: $popup_hugeFontSize
.ts.popup.massive
    font-size: $popup_massiveFontSize

//-------------------//
//     Coupling
//-------------------//

.ts.popup > .ts.grid:not(.padded)
    width : auto
    margin: 0