

=sidebar-size($width)
  +size(x, $width)
  
  &.left
    &.visible
      & ~ .pusher
        transform: translate3d($width, 0, 0)

  &.right
    &.visible
      & ~ .pusher
        transform: translate3d(-#{$width}, 0, 0)



.ts.sidebar
  +fixed
  +size(100%, x)
  +z(1)
  +none
  +sidebar-size(250px)
  
  
  &.thin
    +sidebar-size(150px)
  
  &[class*="very thin"]
    +sidebar-size(70px)
  
  &.wide
    +sidebar-size(345px)
  
  &[class*="very wide"]
    +sidebar-size(460px)
    
  &.left
    +position(0, x, x, 0)

    
  &.top
  
  &.bottom
  
  &.right
    +position(0, 0, x, x)
  
  
  
  
  &.visible
    display: block !important
    
    & ~ .pusher
      
      &.dimmed
        &:after
          +absolute
          +position(0, 0, 0, 0)
          
          content: ''
          background-color: rgba(0, 0, 0, 0.45)
        


.pusher    
  +relative
  
  
  
  
  
  //transform: translate3d(250px, 0, 0)