$progress_verticalSpacing: 1em
$progress_labelHeight    : 0

$progress_margin     : $progress_verticalSpacing 0em ($progress_labelHeight + $progress_verticalSpacing)
$progress_firstMargin: 0em 0em ($progress_labelHeight + $progress_verticalSpacing)
$progress_lastMargin : 0em 0em ($progress_labelHeight)

$progress_background             : nth($grey, 4)
$progress_border                 : none
$progress_borderRadius           : $defaultBorderRadius
$progress_preparingBackgroundSize: 40px

$progress_padding: 0em

//-------------------//
//        Bar
//-------------------//

$progress_barPosition          : relative
$progress_barHeight            : 1.75em
$progress_barBorderRadius      : $defaultBorderRadius
$progress_barTransitionEasing  : $defaultEasing
$progress_barTransitionDuration: $defaultDuration
$progress_barTransition        : width $progress_barTransitionDuration $progress_barTransitionEasing, background $progress_barTransitionDuration $progress_barTransitionEasing

$progress_barInitialWidth: 0%
$progress_barMinWidth    : 2em

//-------------------//
//     Bar Label
//-------------------//

$progress_progressWidth   : auto
$progress_progressSize    : $relativeSmall
$progress_progressPosition: absolute

$progress_progressTop   : 50%
$progress_progressRight : 0.5em
$progress_progressLeft  : auto
$progress_progressBottom: auto
$progress_progressOffset: -0.5em

$progress_progressTextShadow: none
$progress_progressFontWeight: 500
$progress_progressTextAlign : left

//-------------------//
//        Text
//-------------------//

$progress_floatingTextColor : $white
$progress_floatingTextShadow: 0 0 1px rgba(0, 0, 0, 0.6)

//-------------------//
//       Active
//-------------------//

$progress_activePulseColor    : #FFF
$progress_activePulseMaxOpacity: 0.3
$progress_activePulseDuration  : 2s
$progress_activeMinWidth       : $progress_barMinWidth

//-------------------//
//      Attached
//-------------------//

$progress_attachedBackground  : transparent
$progress_attachedHeight      : 0.2rem
$progress_attachedBorderRadius: $defaultBorderRadius

//-------------------//
//       Sizes
//-------------------//

$progress_tinyBarHeight : 0.5em
$progress_smallBarHeight: 1em
$progress_largeBarHeight: 2.5em
$progress_bigBarHeight  : 3.5em

//-------------------//
//      Emphasis
//-------------------//

$progress_defaultBackgroundColor        : nth($grey, 7)
$progress_defaultBarColor               : nth($grey, 7)
$progress_defaultPreparingBackground: linear-gradient(135deg, lighten($progress_defaultBackgroundColor, 5%) 25%, lighten($progress_defaultBackgroundColor, 1%) 25%, lighten($progress_defaultBackgroundColor, 1%) 50%, lighten($progress_defaultBackgroundColor, 5%) 50%, lighten($progress_defaultBackgroundColor, 5%) 75%, lighten($progress_defaultBackgroundColor, 1%) 75%, lighten($progress_defaultBackgroundColor, 1%) 100%)
$progress_defaultActiveBarColor         : nth($grey, 8)
$progress_defaultTextColor              : $white

$progress_negativeBackgroundColor        : nth($negative, 6)
$progress_negativeBarColor               : nth($negative, 6)
$progress_negativePreparingBackground: linear-gradient(135deg, lighten($progress_negativeBackgroundColor, 5%) 25%, lighten($progress_negativeBackgroundColor, 1%) 25%, lighten($progress_negativeBackgroundColor, 1%) 50%, lighten($progress_negativeBackgroundColor, 5%) 50%, lighten($progress_negativeBackgroundColor, 5%) 75%, lighten($progress_negativeBackgroundColor, 1%) 75%, lighten($progress_negativeBackgroundColor, 1%) 100%)
$progress_negativeActiveBarColor         : nth($negative, 7)
$progress_negativeTextColor              : $white

$progress_positiveBackgroundColor        : nth($positive, 6)
$progress_positiveBarColor               : nth($positive, 6)
$progress_positiveActiveBarColor         : nth($positive, 7)
$progress_positivePreparingBackground: linear-gradient(135deg, lighten($progress_positiveBackgroundColor, 5%) 25%, lighten($progress_positiveBackgroundColor, 1%) 25%, lighten($progress_positiveBackgroundColor, 1%) 50%, lighten($progress_positiveBackgroundColor, 5%) 50%, lighten($progress_positiveBackgroundColor, 5%) 75%, lighten($progress_positiveBackgroundColor, 1%) 75%, lighten($progress_positiveBackgroundColor, 1%) 100%)
$progress_positiveTextColor              : $white

$progress_primaryBackgroundColor        : nth($primary, 6)
$progress_primaryBarColor               : nth($primary, 6)
$progress_primaryActiveBarColor         : nth($primary, 7)
$progress_primaryPreparingBackground: linear-gradient(135deg, lighten($progress_primaryBackgroundColor, 5%) 25%, lighten($progress_primaryBackgroundColor, 1%) 25%, lighten($progress_primaryBackgroundColor, 1%) 50%, lighten($progress_primaryBackgroundColor, 5%) 50%, lighten($progress_primaryBackgroundColor, 5%) 75%, lighten($progress_primaryBackgroundColor, 1%) 75%, lighten($progress_primaryBackgroundColor, 1%) 100%)
$progress_primaryTextColor              : $white

$progress_infoBackgroundColor        : nth($info, 6)
$progress_infoBarColor               : nth($info, 6)
$progress_infoActiveBarColor         : nth($info, 7)
$progress_infoPreparingBackground: linear-gradient(135deg, lighten($progress_infoBackgroundColor, 5%) 25%, lighten($progress_infoBackgroundColor, 1%) 25%, lighten($progress_infoBackgroundColor, 1%) 50%, lighten($progress_infoBackgroundColor, 5%) 50%, lighten($progress_infoBackgroundColor, 5%) 75%, lighten($progress_infoBackgroundColor, 1%) 75%, lighten($progress_infoBackgroundColor, 1%) 100%)
$progress_infoTextColor              : $white

$progress_warningBackgroundColor        : nth($warning, 6)
$progress_warningBarColor               : nth($warning, 6)
$progress_warningActiveBarColor         : nth($warning, 7)
$progress_warningPreparingBackground: linear-gradient(135deg, lighten($progress_warningBackgroundColor, 5%) 25%, lighten($progress_warningBackgroundColor, 1%) 25%, lighten($progress_warningBackgroundColor, 1%) 50%, lighten($progress_warningBackgroundColor, 5%) 50%, lighten($progress_warningBackgroundColor, 5%) 75%, lighten($progress_warningBackgroundColor, 1%) 75%, lighten($progress_warningBackgroundColor, 1%) 100%)
$progress_warningTextColor              : nth($warning, 9)