//-------------------//
//       Easing
//-------------------//

$sidebar_easingDuration : .45s
$sidebar_timeingFunction: cubic-bezier(.23,1,.32,1)

//-------------------//
//       Width
//-------------------//

$sidebar_veryThinWidth: 64px
$sidebar_thinWidth    : 180px
$sidebar_width        : 230px
$sidebar_wideWidth    : 300px
$sidebar_veryWideWidth: 360px

//-------------------//
//     Background
//-------------------//

$sidebar_secondaryBackgroundColor: nth($grey, 1)
$sidebar_tertiaryBackgroundColor : nth($grey, 2)

$sidebar_dimmerBackgroundColor: rgba(0, 0, 0, .5)

//-------------------//
//      Padding
//-------------------//

$sidebar_verticalPadding  : 1em
$sidebar_horizontalPadding: 1em
$sidebar_paddedPadding    : 1.5em
$sidebar_veryPaddedPadding: 3em
$sidebar_padding          : $sidebar_verticalPadding $sidebar_horizontalPadding

//-------------------//
//      Border
//-------------------//

$sidebar_borderWidth : 1px
$sidebar_border      : $sidebar_borderWidth solid nth($grey, 4)

//-------------------//
//      Shadow
//-------------------//

$sidebar_boxShadow      : $subtleShadow
$sidebar_raisedBoxShadow: $floatingShadow

$sidebar_rightOverlayBoxShadow: 0 0 20px rgba(34, 36, 38, .15)
$sidebar_leftOverlayBoxShadow : 0 0 20px rgba(34, 36, 38, .15)