$step_stepMargin       : 1em 0em
$step_stepsBorderRadius: $defaultBorderRadius
$step_stepsBackground  : ''
$step_stepsBoxShadow   : none
$step_stepsBorder      : 1px solid nth($grey, 4)

$step_verticalMargin  : 0em
$step_horizontalMargin: 0em

$step_arrowSize        : $relativeLarge
$step_verticalPadding  : $relativeLarge
$step_horizontalPadding: 2em

$step_lineHeight     : $relativeLarge
$step_alignItems     : center
$step_justifyContent : center
$step_backgroundColor: $white
$step_borderRadius   : 0em
$step_borderWidth    : 1px
$step_boxShadow      : none
$step_border         : none
$step_divider        : $step_borderWidth solid nth($grey, 4)

//-------------------//
//       Icon
//-------------------//

$step_iconDistance: 1rem
$step_iconSize    : 2.5em
$step_iconAlign   : center
$step_iconColor   : nth($grey, 9)

//-------------------//
//       Counter
//-------------------//

$step_counterColor: nth($grey, 9)

//-------------------//
//       Title
//-------------------//

$step_titleFontWeight: 500
$step_titleFontSize  : $relativeLarge
$step_titleColor     : nth($grey, 9)

//-------------------//
//    Description
//-------------------//

$step_descriptionDistance  : .3em
$step_descriptionFontSize  : $relativeSmall
$step_descriptionFontWeight: normal
$step_descriptionColor     : nth($grey, 8)

//-------------------//
//       Arrow
//-------------------//

$step_arrowBackgroundColor  : $step_backgroundColor
$step_arrowTopOffset        : 50%
$step_arrowRightOffset      : 0%
$step_arrowBorderWidth      : 0px $step_borderWidth $step_borderWidth 0px
$step_arrowDisplay          : block
$step_lastArrowDisplay      : none
$step_activeArrowDisplay    : block
$step_activeLastArrowDisplay: none

/* Mobile */
$step_mobileIconDistance: $step_iconDistance

//-------------------//
//      Vertical
//-------------------//

$step_verticalDivider         : $step_divider
$step_verticalArrowTopOffset  : 50%
$step_verticalArrowRightOffset: 0%
$step_verticalArrowBorderWidth: 0px $step_borderWidth $step_borderWidth 0px

$step_verticalArrowDisplay    : none
$step_verticalLastArrowDisplay: $step_verticalArrowDisplay

$step_verticalActiveArrowDisplay    : block
$step_verticalActiveLastArrowDisplay: block

//-------------------//
//      Attached
//-------------------//

$step_attachedWidth           : 100%

//-------------------//
//      Ordered
//-------------------//

$step_orderedFontFamily: inherit
$step_orderedFontWeight: 500

//-------------------//
//       States
//-------------------//

/* Completed */
$step_completedColor: nth($positive, 6)

/* Hover */
$step_hoverBackground: nth($grey, 1)
$step_hoverColor     : $hoveredTextColor

/* Down */
$step_downBackground: nth($grey, 4)
$step_downColor     : $pressedTextColor

/* Active */
$step_activeBackground: nth($grey, 3)
$step_activeColor     : nth($link, 6)
$step_activeIconColor : nth($grey, 9)

/* Active + Hover */
$step_activeHoverBackground: nth($grey, 3)
$step_activeHoverColor     : nth($grey, 4)

/* Disabled */
$step_disabledBackground: $step_backgroundColor
$step_disabledColor     : nth($grey, 5)
$step_disabledIconColor : nth($grey, 5)

//-------------------//
//       Basic
//-------------------//

$step_basicIconSize  : 1.3em
$step_basicSymbolSize: 1.3em
$step_basicMaskColor : $white

/* Divider */
$step_basicDividerDistance: .8em
$step_basicDividerSize    : 1px
$step_basicDividerTop     : 1.7em
$step_basicDividerWidth   : calc(100% - 1em)

$step_basicDividerActivedColor: nth($grey, 6)
$step_basicDividerColor       : nth($grey, 4)

/* Vertical */
$step_basicVerticalSymbolMinHeight: 1.3em
$step_basicVerticalSymbolMinWidth : .9em
$step_basicVerticalIconOffset     : .1em
$step_basicVerticalDividerDistance: 2em
$step_basicVerticalDividerLeft    : .6em