//*******************************//
//              Main
//*******************************//

.ts.card
    +extend(box)

    padding: 0

//-------------------//
//      Emphasis
//-------------------//

.ts.card:not(.-indicated)
    color       : var(--textColor)
    background  : var(--backgroundColor)

//-------------------//
//     Indicated
//-------------------//

.ts.card.-indicated
    border-color : var(--indicatedSideBorderColor)
    border-bottom: 2px solid var(--indicatedBorderColor)

//-------------------//
//       Basic
//-------------------//

.ts.card.-basic
    border       : 0
    box-shadow   : none
    background   : none
    border-radius: 0

//-------------------//
//      Raised
//-------------------//

.ts.card.-raised
    +extend(raised)

//-------------------//
//      Content
//-------------------//

.ts.card > .content
    padding: var(--absoluteLargeGap)

//-------------------//
//     Horizontal
//-------------------//

.ts.card.-horizontal

//-------------------//
//     Collapsed
//-------------------//

.ts.card.-collapsed

//-------------------//
//      Padded
//-------------------//

.ts.card > .content.-padded
    padding: var(--absoluteBigGap)

.ts.card > .content.-very-padded
    padding: var(--absoluteHugeGap)

.ts.card > .content.-horizontally-padded
    padding-left : var(--absoluteBigGap)
    padding-right: var(--absoluteBigGap)

.ts.card > .content.-horizontally-very-padded
    padding-left : var(--absoluteHugeGap)
    padding-right: var(--absoluteHugeGap)

.ts.card > .content.-vertically-padded
    padding-top   : var(--absoluteBigGap)
    padding-bottom: var(--absoluteBigGap)

.ts.card > .content.-vertically-very-padded
    padding-top   : var(--absoluteHugeGap)
    padding-bottom: var(--absoluteHugeGap)

//-------------------//
//      Header
//-------------------//

.ts.card > .content > .header:not(.ts),
.ts.card > .image > .header:not(.ts),
.ts.card > .video > .header:not(.ts)
    +extend(block-gap)

    display      : block
    word-wrap    : break-word
    font-size    : var(--relativeLarge)
    font-weight  : 500

/** Sub Header */
.ts.card > .content > .header:not(.ts) .sub-header,
.ts.card > .image > .header:not(.ts) .sub-header,
.ts.card > .video > .header:not(.ts) .sub-header
    font-size  : var(--absoluteMedium)
    font-weight: 500
    color      : var(--secondaryTextColor)

//-------------------//
// Image & Video Header
//-------------------//

.ts.card

//-------------------//
//       Meta
//-------------------//

.ts.card > .content > .meta
    display  : flex
    flex-wrap: wrap
    color    : var(--secondaryTextColor)

.ts.card > .content > .meta > .item
    margin-right: var(--absoluteTinyGap)

//-------------------//
//   Meta Bulleted
//-------------------//

.ts.card > .content > .meta.-bulleted > .item
    margin-right: var(--absoluteMiniGap)

.ts.card > .content > .meta.-bulleted > .item:not(:last-child)::after
    +extend(middoted)

    margin-left: var(--absoluteMiniGap)

//-------------------//
//      Aligns
//-------------------//

.ts.card *.-center-aligned
    text-align: center
.ts.card *.-center-aligned .meta
    justify-content: center

.ts.card *.-left-aligned
    text-align: left
.ts.card *.-left-aligned .meta
    justify-content: flex-start

.ts.card *.-right-aligned
    text-align: right
.ts.card *.-right-aligned .meta
    justify-content: flex-end

//-------------------//
//      Overlay
//-------------------//

.ts.card

//-------------------//
//      Fitted
//-------------------//

.ts.card

//-------------------//
//   Image & Video
//-------------------//

.ts.card

//-------------------//
//    Description
//-------------------//

.ts.card > .content > .description
    +extend(block-gap)

//-------------------//
//       Extra
//-------------------//

.ts.card

//-------------------//
//      Disabled
//-------------------//

.ts.card.-disabled
    color       : var(--disabledTextColor)
    background  : var(--disabledBackgroundColor)
    border-color: var(--disabledBorderColor)

//-------------------//
//      Actions
//-------------------//

.ts.card

//-------------------//
//      Compact
//-------------------//

.ts.card.-compact
    display: inline-flex

//-------------------//
//      Centered
//-------------------//

.ts.card.-centered
    margin-left : auto
    margin-right: auto

//-------------------//
//       Symbol
//-------------------//

.ts.card

//-------------------//
//        Link
//-------------------//

.ts.card

//-------------------//
//      Attached
//-------------------//

.ts.card.-top-attached

.ts.card.-attached

.ts.card.-bottom-attached

//*******************************//
//             Cards
//*******************************//

//-------------------//
//      Centered
//-------------------//

.ts.cards.-centered
    justify-content: center

//-------------------//
//     Stackable
//-------------------//

.ts.card

//-------------------//
//     Doubling
//-------------------//

.ts.card

//-------------------//
//     Waterfall
//-------------------//

.ts.card

//*******************************//
//            Coupling
//*******************************//
