.ts.button button
    padding    : 0
    margin     : 0
    border     : 0
    background : 0
    box-shadow : none
    box-sizing : border-box
    outline    : none
    font-family: "Noto Sans TC"
    line-height: 1
    position   : relative

.ts.segment,
.ts.segments
    position: relative