//*******************************//
//              Main
//*******************************//

.ts.segment
    +extend(box)

//-------------------//
//      Emphasis
//-------------------//

.ts.segment:not(.-indicated)
    color       : var(--textColor)
    background  : var(--backgroundColor)

//-------------------//
//     Indicated
//-------------------//

.ts.segment.-indicated
    border-color: var(--indicatedSideBorderColor)
    border-top  : 2px solid var(--indicatedBorderColor)

//-------------------//
//       Raised
//-------------------//

.ts.segment.-raised,
.ts.segments.-raised
    +extend(raised)

//-------------------//
//      Accents
//-------------------//

.ts.segment.-secondary
    background: var(--secondaryBackgroundColor)
.ts.segment.-tertiary
    background: var(--tertiaryBackgroundColor)

//-------------------//
//      Floated
//-------------------//

.ts.segment.-left-floated,
.ts.segment.-right-floated
    margin: 0

.ts.segment.-left-floated
    float       : left
    margin-right: var(--absoluteMediumGap)

.ts.segment.-right-floated
    float       : right
    margin-left: var(--absoluteMediumGap)

//-------------------//
//      Loading
//-------------------//

.ts.segment

//-------------------//
//       Padded
//-------------------//

.ts.segment.-padded,
.ts.segments.-padded .segment
    padding: calc(var(--absoluteLargeGap) * 1.5)

.ts.segment.-very-padded,
.ts.segments.-very-padded .segment
    padding: calc(var(--absoluteLargeGap) * 2.5)

//-------------------//
//      Clearing
//-------------------//

.ts.segment.-clearing::after
    display   : block
    content   : "\00a0"
    height    : 0
    clear     : both
    visibility: hidden

//-------------------//
//       Fitted
//-------------------//

.ts.segment.-fitted
    padding: 0
.ts.segment.-horizontally-fitted
    padding-left : 0
    padding-right: 0
.ts.segment.-vertically-fitted
    padding-top   : 0
    padding-bottom: 0

//-------------------//
//       Basic
//-------------------//

.ts.segment.-basic
    border       : 0
    box-shadow   : none
    background   : none
    border-radius: 0

//-------------------//
//       Piled
//-------------------//

.ts.segment.-piled::after,
.ts.segments.-piled::after
    transform: rotate(1.2deg)
    top      : 0
    z-index  : -1

.ts.segment.-piled::before,
.ts.segments.-piled::before
    transform: rotate(-1.2deg)
    top      : 0
    z-index  : -2

.ts.segment.-piled::after,
.ts.segment.-piled::before,
.ts.segments.-piled::after,
.ts.segments.-piled::before
    content   : ''
    position  : absolute
    display   : block
    left      : 0
    height    : 100%
    width     : 100%
    border    : 1px solid rgba(34,36,38,.15)
    visibility: visible
    background: #fff

//-------------------//
//      Stacked
//-------------------//

.ts.segment.-stacked::after,
.ts.segments.-stacked::after
    position  : absolute
    content   : ''
    bottom    : -3px
    left      : 0
    width     : 100%
    height    : 6px
    border-top: 1px solid rgba(34,36,38,.15)
    visibility: visible
    background: rgba(0,0,0,.03)

//-------------------//
//      Disabled
//-------------------//

.ts.segment.-disabled
    color       : var(--disabledTextColor)
    background  : var(--disabledBackgroundColor)
    border-color: var(--disabledBorderColor)

//-------------------//
//       Aligns
//-------------------//

.ts.segment.-center-aligned,
.ts.segments.-center-aligned .ts.segment
    text-align: center

.ts.segment.-left-aligned,
.ts.segments.-left-aligned .ts.segment
    text-align: left

.ts.segment.-right-aligned,
.ts.segments.-right-aligned .ts.segment
    text-align: right

//-------------------//
//      Centered
//-------------------//

.ts.segment.-centered
    margin: 0 auto

//-------------------//
//       Fluid
//-------------------//

.ts.segment.-fluid
    border-radius: 0

//-------------------//
//      Compact
//-------------------//

.ts.segments.-compact .ts.segment
.ts.segment.-compact
    display: table

//-------------------//
//      Attached
//-------------------//

.ts.segment.-top-attached
    +extend(top-attached)

.ts.segment.-attached
    +extend(attached)

.ts.segment.-bottom-attached
    +extend(bottom-attached)

//*******************************//
//            Segments
//*******************************//

.ts.segments


.ts.segments:not(.-horizontal) > .ts.segment:first-child:not(:last-child):not(:only-child)
    margin-bottom: 0
    border-bottom: none
    border-bottom-right-radius: 0
    border-bottom-left-radius : 0

.ts.segments:not(.-horizontal) > .ts.segment:not(:last-child):not(:first-child):not(:only-child)
    margin-top   : 0
    margin-bottom: 0
    border-bottom: none
    border-top-right-radius   : 0
    border-top-left-radius    : 0
    border-bottom-right-radius: 0
    border-bottom-left-radius : 0

.ts.segments:not(.-horizontal) > .ts.segment:last-child:not(:only-child)
    margin-top: 0
    border-top-right-radius: 0
    border-top-left-radius : 0


