// ==========================================================================
// Variables
// ==========================================================================

$global-border_radius: 6px
$global-border_color : var(--ts-gray_200)

$global-disabled_opacity: 0.45

$global-box_padding_vertical   : .8rem
$global-box_padding_horrizontal: 1rem
$global-box_padding            : $global-box_padding_vertical $global-box_padding_horrizontal

$global-gap_mini   : .25rem
$global-gap_tiny   : .5rem
$global-gap_small  : .8rem
$global-gap_medium : 1rem
$global-gap_large  : 1.5rem
$global-gap_big    : 2rem
$global-gap_huge   : 4rem
$global-gap_massive: 6rem

// ==========================================================================
// Z Index
// ==========================================================================

$z_segment-loader      : 3
$z_segment-loading_mask: 2
$z_segment-piled_before: -2
$z_segment-piled_after : -1
