/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-accordion {
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-accordion .title {
    display: flex;
    align-items: center;
    color: var(--gray-900);
    user-select: none;
    cursor: pointer;
}

.ts-accordion .title::after {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    width: 1.18em;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;

    display: block;
    margin-left: auto;
    color: var(--gray-600);
    content: "\f078";
}

.ts-accordion .content {
    display: none;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-accordion.is-active .content {
    display: block;
}

.ts-accordion.is-active .title::after {
    transform: rotate(180deg);
}
