/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

details.ts-accordion {
    color: inherit;
    box-sizing: border-box;
}

/* ==========================================================================
   Structure
   ========================================================================== */

details.ts-accordion summary {
    list-style-type: none;
}

details.ts-accordion summary::-webkit-details-marker {
    display: none;
}

details.ts-accordion summary::marker {
    display: none;
}

details.ts-accordion summary {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

details.ts-accordion summary::after {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    width: 1.18em;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    display: block;
    color: var(--ts-gray-600);
    content: "\f078";
    line-height: 1;
    font-size: 14px;
    margin-left: auto;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Open
 */

details.ts-accordion[open] summary::after {
    transform: rotate(180deg);
}

details.ts-accordion[open] summary {
    margin-bottom: 0.5rem;
}
