/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-align {
    display: flex;
}

/* ==========================================================================
   Variations
   ========================================================================== */

.ts-align.is-start-aligned {
    justify-content: flex-start;
}

.ts-align.is-center-aligned {
    justify-content: center;
}

.ts-align.is-end-aligned {
    justify-content: flex-end;
}

.ts-align.is-middle-aligned {
    align-items: center;
}

.ts-align.is-top-aligned {
    align-items: flex-start;
}

.ts-align.is-bottom-aligned {
    align-items: flex-end;
}

.ts-align.is-centered {
    justify-content: center;
    align-items: center;
}
