/* ==========================================================================
   Variables
   ========================================================================== */

dialog.ts-app-drawer {
    --width: 380px;
}

/* ==========================================================================
   Base
   ========================================================================== */

dialog.ts-app-drawer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 50%);
    display: none;
    overflow-y: auto;
    height: auto;
    width: auto;
    outline: none;
    align-items: flex-start;
    flex-direction: column;
    z-index: var(--ts-z-drawer);
}

dialog.ts-app-drawer:modal,
dialog.ts-app-drawer:popover-open {
    background: transparent;
}

dialog.ts-app-drawer::backdrop {
    background: rgb(0 0 0 / 50%);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-drawer > .content {
    background: var(--ts-gray-50);
    box-shadow: var(--ts-elevated-shadow-drawer);
    width: var(--width);
    max-width: 100%;
    flex: 1;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Visible
 */

dialog.ts-app-drawer[open],
dialog.ts-app-drawer:popover-open {
    display: flex;
}

/**
 * Positions
 */

.ts-app-drawer.is-bottom {
    --width: 100%;

    flex-direction: row;
    align-items: flex-end;
}

.ts-app-drawer.is-bottom > .content {
}

.ts-app-drawer.is-end {
    align-items: flex-end;
}

.ts-app-drawer.is-start {
    align-items: flex-start;
}

/**
 * Sizes
 */

.ts-app-drawer.is-small {
    --width: 280px;
}

.ts-app-drawer.is-large {
    --width: 580px;
}

/**
 * Modal
 */

.ts-app-drawer.is-modal {
    padding: 1rem;
}

.ts-app-drawer.is-modal > .content {
    border-radius: var(--ts-border-radius-container);
}

/**
 * Fullscreen
 */

.ts-app-drawer.is-fullscreen {
    --width: 100%;
}
