/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-app-layout {
    display: flex;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-layout .cell {
    width: 100%;
    background: var(--ts-gray-50);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Full
 */

.ts-app-layout.is-full {
    height: 100%;
    width: 100%;
}

/**
 * Column
 */

.ts-app-layout.is-column {
    display: flex;
    flex-direction: row;
}

.ts-app-layout.is-column > .cell:not(:last-child) {
    border-right: 1px solid var(--ts-gray-300);
}

.ts-app-layout .cell.is-column {
    display: flex;
    flex-direction: row;
}

.ts-app-layout .cell.is-column > .cell:not(:last-child) {
    border-right: 1px solid var(--ts-gray-300);
}

/**
 * Row
 */

.ts-app-layout.is-row {
    display: flex;
    flex-direction: column;
}

.ts-app-layout.is-row > .cell:not(:last-child) {
    border-bottom: 1px solid var(--ts-gray-300);
}

.ts-app-layout .cell.is-row {
    display: flex;
    flex-direction: column;
}

.ts-app-layout .cell.is-row > .cell:not(:last-child) {
    border-bottom: 1px solid var(--ts-gray-300);
}

/**
 * Scrollable
 */

.ts-app-layout .cell.is-scrollable {
    overflow-y: auto;
}

/**
 * Fluid
 */

.ts-app-layout .cell.is-fluid {
    flex: 1;
}

/**
 * Secondary
 */

.ts-app-layout .cell.is-secondary {
    background: var(--ts-gray-100);
}
