/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-app-navbar {
    display: inline-flex;
    align-items: center;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-navbar .item {
    color: var(--gray-500);
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.4rem;

    margin: 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.ts-app-navbar .item .ts-icon {
    line-height: 1;
    font-size: 1.2rem;
}

.ts-app-navbar .item .label {
    line-height: 1;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Fluid
 */

.ts-app-navbar.is-fluid {
    display: flex;
}

.ts-app-navbar.is-fluid .item {
    flex: 1;
}

/**
 * Unlabeled
 */

.ts-app-navbar.is-unlabeled .item:not(.is-active) .label {
    display: none;
}

/**
 * Active
 */

.ts-app-navbar .item.is-active {
    color: var(--gray-900);
}

/**
 * Indicated
 */

.ts-app-navbar.is-indicated .item.is-active {
    /*background: var(--gray-900);
    color: var(--gray-50);*/
}

.ts-app-navbar.is-indicated .item {
    color: var(--gray-800);
    /*padding-top: 0.6rem;
    padding-bottom: 0.6rem;*/
}

.ts-app-navbar.is-indicated .item .ts-icon {
    padding: 0.25rem 1rem;
    line-height: 1;
    font-size: 1.2rem;
    display: flex;
    min-height: 26px;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 100rem;
}

.ts-app-navbar.is-indicated .item.is-active .ts-icon {
    background: var(--gray-900);
    color: var(--gray-50);
}
