/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-app-statusbar {
    background: var(--ts-gray-100);
    display: flex;
    line-height: 1;
    gap: 0.5rem;
}

.ts-app-statusbar .item {
    text-decoration: none;
    font-size: var(--ts-font-size-13px);
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.ts-app-statusbar .item:hover {
    background: var(--ts-gray-200);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */
