/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-app-center {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    color: inherit;
    overflow-y: auto;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-center > .content {
}
