/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-app-center {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    color: inherit;
    overflow-y: auto;
}

@-moz-document url-prefix() {
    body:has(> .ts-app-center, > form > .ts-app-center) {
        height: 100%;
    }
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-center > .content {
}
