/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-app-sidebar {
    margin-right: 1.5rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-sidebar .item {
    padding: 0.8rem 1.5rem;
    display: flex;
    font-weight: 500;
    color: var(--ts-gray-800);
    text-decoration: none;
}

.ts-app-sidebar .header {
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    font-size: var(--ts-absolute-small);
    color: var(--ts-gray-500);
}

.ts-app-sidebar .item + .header {
    margin-top: 1.5rem;
}

.ts-app-sidebar .item .ts-icon {
    margin-right: 1rem;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-app-sidebar .item.is-active {
    background: var(--ts-gray-900);
    color: var(--ts-gray-50);
    border-radius: 0px 100em 100em 0;
}
