/* ==========================================================================
   Variables
   ========================================================================== */

.ts-app-navbar {
    --accent-color: initial;
    --accent-foreground-color: initial;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-app-navbar {
    display: inline-flex;
    align-items: center;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-app-navbar .item {
    color: var(--ts-gray-800);
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.ts-app-navbar .item .ts-icon {
    line-height: 1.2;
    font-size: 1.2rem;
    padding: 0.25rem 1rem;
    display: flex;
    min-height: 26px;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 100rem;
}

.ts-app-navbar .item.is-active .ts-icon {
    background: var(--accent-color, var(--ts-gray-900));
    color: var(--accent-foreground-color, var(--ts-gray-50));
}

.ts-app-navbar .item .label {
    line-height: 1;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Fluid
 */

.ts-app-navbar.is-fluid {
    display: flex;
}

.ts-app-navbar.is-fluid .item {
    flex: 1;
}

/**
 * Active
 */

.ts-app-navbar .item.is-active {
    color: var(--accent-color, var(--ts-gray-800));
}

.ts-app-navbar .item.is-active .ts-icon {
    --accent-color: inherit;
    --accent-foreground-color: inherit;
}

/**
 * Disabled
 */

.ts-app-navbar .item.is-disabled,
.ts-app-navbar .item:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

/**
 * Vertical
 */

.ts-app-navbar.is-vertical {
    flex-direction: column;
}

.ts-app-navbar.is-vertical .item {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0;
    padding-right: 0;
}

.ts-app-navbar.is-vertical .item:first-child {
    padding-top: 0;
}