/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-avatar {
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 0.4rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border: 1px solid transparent;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-avatar img {
    width: 100%;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Circular
 */

.ts-avatar.is-circular,
.ts-avatar.is-circular img {
    border-radius: 500rem;
}

/**
 * Text
 */

.ts-avatar.is-text {
    background: var(--gray-100);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-600);
    font-weight: 500;
    font-size: 1.1rem;
}

/**
 * Bordered
 */

.ts-avatar.is-bordered {
    border-color: var(--gray-300);
}

/**
 * Group
 */

.ts-avatar.is-group {
    height: initial;
    width: initial;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.ts-avatar.is-group .ts-avatar:not(:last-child) {
    margin-inline-start: -0.6rem;
}

/**
 * Sizes
 */

.ts-avatar.is-small {
    width: 32px;
    height: 32px;
}
