/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-bullseye {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
