/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.ts-button:focus {
    outline: 0;
}

.ts-button {
    border: 2px solid var(--gray-900);
    min-width: 75px;
    font-size: var(--relative-small);
    line-height: 1.5;
    font-weight: 500;
    color: var(--gray-50);
    background: var(--gray-900);
    text-decoration: none;
    display: inline-block;
    text-align: center;

    padding: 0.4rem 1.25rem;
    border-radius: 0.4rem;
}

.ts-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Secondary
 */

.ts-button.is-secondary {
    color: var(--gray-700);
    border-color: var(--gray-100);
    background: var(--gray-100);
}

/**
 * Outlined
 */

.ts-button.is-outlined {
    background: transparent;
    border: 2px solid var(--gray-300);
    color: var(--gray-900);
}

/**
 * Negative
 */

.ts-button.is-negative {
    color: var(--gray-50);
    border-color: var(--negative-500);
    background: var(--negative-500);
}

.ts-button.is-negative.is-outlined {
    color: var(--negative-500);
    border-color: var(--gray-300);
    background: transparent;
}

/**
 * Ghost
 */

.ts-button.is-ghost {
    background: transparent;
    color: var(--gray-900);
    border: 2px solid transparent;
}

/**
 * Tertiary
 */

/*.ts-button.is-tertiary:hover {
    background: var(--gray-100);
    opacity: 1;
}*/

/**
 * Sizes
 */

.ts-button.is-tiny {
    font-size: var(--relative-tiny);
}
.ts-button.is-small {
    font-size: var(--relative-small);
}
.ts-button.is-large {
    font-size: var(--relative-large);
}
.ts-button.is-big {
    font-size: var(--relative-big);
}

/**
 * Compact
 */

.ts-button.is-compact {
    padding: 0.25rem 0.75rem;
}

/**
 * Disabled
 */

.ts-button.is-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
}

/**
 * Fluid
 */

.ts-button.is-fluid {
    width: 100%;
}

/**
 * Circular
 */

.ts-button.is-circular {
    border-radius: 100em;
}

/**
 * Icon
 */

.ts-button.is-icon {
    min-width: auto;
    padding: calc(0.45rem / 1.35) calc(1.25rem / 1.5);
}

.ts-button.is-icon .ts-icon {
    font-size: 1.2em;
}

/**
 * Side Icon
 */

.ts-button.is-start-icon .ts-icon {
    margin-right: 0.5rem;
}

.ts-button.is-end-icon .ts-icon {
    margin-left: 0.5rem;
}
