/* ==========================================================================
   Variables
   ========================================================================== */

.ts-card {
    --accent-color: initial;
    --accent-foreground-color: initial;
    --ts-indicator-color: var(--accent-color, var(--ts-gray-900));
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-card {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--ts-gray-300);
    border-radius: var(--ts-border-radius-container);
    overflow: hidden;
    background: var(--ts-gray-50);
}

a.ts-card:hover {
    border-color: var(--ts-gray-400);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-card .symbol .ts-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0;
    margin-right: 0;
    pointer-events: none;
    font-size: 8em;
    line-height: 1.1em;
    opacity: 0.1;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Horizontal
 */

.ts-card.is-horizontal {
    display: flex;
    flex-direction: row;
}

/**
 * Collapsed
 */

.ts-card.is-collapsed {
    width: fit-content;
}

/**
 * Indicated
 */

.ts-card.is-top-indicated {
    border-top: 3px solid var(--ts-indicator-color);
}
.ts-card.is-bottom-indicated {
    border-bottom: 3px solid var(--ts-indicator-color);
}
.ts-card.is-left-indicated {
    border-left: 3px solid var(--ts-indicator-color);
}
.ts-card.is-right-indicated {
    border-right: 3px solid var(--ts-indicator-color);
}

/**
 * Emphasises
 */

.ts-card[class*="-indicated"].is-negative {
    --ts-indicator-color: var(--ts-negative-500);
}

.ts-card[class*="-indicated"].is-positive {
    --ts-indicator-color: var(--ts-positive-500);
}

.ts-card[class*="-indicated"].is-warning {
    --ts-indicator-color: var(--ts-warning-500);
}

/**
 * Elevated
 */

.ts-card.is-elevated {
    box-shadow: var(--ts-elevated-shadow);
}

/**
 * Sharp
 */

.ts-card.is-sharp {
    border-radius: 0;
}

/**
 * Hollowed
 */

.ts-card.is-hollowed {
    border: 4px dashed var(--ts-gray-300);
    background: transparent;
}
