/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-checklist {
    margin-right: 1.5rem;
    position: relative;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-checklist .item {
    color: var(--ts-gray-800);
    text-decoration: none;
    position: relative;
    padding-left: 30px;
}

.ts-checklist .item::before {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    font-size: var(--ts-font-size-12px);
    border-radius: 100rem;
    line-height: 1;
    height: 16px;
    width: 1rem;
    padding: 0.25rem;
    display: inline-block;
    transform: scale(0.8);
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 2px;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Positive
 */

.ts-checklist .item.is-positive {
}

.ts-checklist .item.is-positive::before {
    content: "\f00c";
    background: var(--ts-positive-400);
    color: var(--ts-white);
}

/**
 * Negative
 */

.ts-checklist .item.is-negative {
}

.ts-checklist .item.is-negative::before {
    content: "\f00d";
    background: var(--ts-negative-400);
    color: var(--ts-white);
}

/**
 * Added
 */

.ts-checklist .item.is-added {
}

.ts-checklist .item.is-added::before {
    content: "\f067";
    background: var(--ts-positive-400);
    color: var(--ts-white);
}

/**
 * Removed
 */

.ts-checklist .item.is-removed {
}

.ts-checklist .item.is-removed::before {
    content: "\f068";
    background: var(--ts-negative-400);
    color: var(--ts-white);
}

/**
 * Dense
 */
