/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-chip {
    font-size: 14px;
    border-radius: 100rem;
    padding: 0.25rem 0.6rem;
    border: 1px solid transparent;
    background: var(--gray-200);
    color: var(--gray-800);
    font-weight: 400;
    display: inline-flex;
    white-space: nowrap;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-chip img {
    width: 24px;
    height: 24px;

    display: block;
    object-fit: cover;
    border-radius: 500rem;
    margin-right: 0.5rem;
}

.ts-chip .ts-close {
    margin-left: 0.5rem;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Outlined
 */

.ts-chip.is-outlined {
    background: transparent;
    border-color: var(--gray-300);
    color: var(--gray-800);
}

/**
 * Side Icon
 */

.ts-chip:is(.is-start-icon, .is-end-icon) .ts-icon {
    font-size: 1.4rem;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-600);
}

.ts-chip.is-start-icon .ts-icon {
    margin-right: 0.5rem;
}

.ts-chip.is-end-icon .ts-icon {
    margin-left: 0.5rem;
}
