/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-choices {
    display: inline-flex;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-choice input {
    display: none;
}

.ts-choice .text {
    display: inline-block;
    padding: 0.25rem 1rem;
    font-size: var(--absolute-small);
    color: var(--gray-700);
    border: 1px solid var(--gray-100);
    background: var(--gray-100);
    border-radius: 0.4rem;
    margin: 0.25rem 0rem;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.ts-choice input:checked + .text {
    background: var(--primary-700);
    border-color: var(--primary-700);
    color: var(--gray-50);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Disabled
 */

.ts-choice.is-disabled {
    pointer-events: none;
    opacity: 0.5;
}

/**
 * Circular
 */

.ts-choice.is-circular .text {
    border-radius: 100em;
}

/**
 * Outlined
 */

.ts-choice.is-outlined .text {
    border-color: var(--gray-300);
    background: transparent;
}

/**
 * Fluid
 */

.ts-choice.is-fluid {
    display: flex;
}

.ts-choice.is-fluid .text {
    width: 100%;
}
