/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-close {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.ts-close {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    cursor: pointer;
    height: 18px;
    width: 18px;
    font-size: 12px;
    line-height: 1;
    background: var(--gray-600);
    color: var(--gray-100);
    border-radius: 500rem;
}

.ts-close::before {
    content: "\f00d";
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Secondary
 */

.ts-close.is-secondary {
    background: var(--gray-300);
    color: var(--gray-800);
}

/**
 * Tertiary
 */

.ts-close.is-tertiary {
    background: var(--gray-300);
    color: var(--gray-50);
}
