/* ==========================================================================
   Default
   ========================================================================== */

:root {
    /**
     * Block
     */

    --default__block_background-color          : #FFF;
    --default__block_border-color              : #e9e9e9;
    --default__block_hover-border-color        : #CCC;
    --default__block_disabled-border-color     : #efefef;
    --default__block_focus-border-color        : #107ea4;
    --default__block_focus-outline-color       : #a8d8e9;
    --default__block_secondary-background-color: #F7F7F7;
    --default__block_hover-secondary-background-color: #EEE;
    --default__block_tertiary-background-color : #EEE;
    --default__block_hover-tertiary-background-color : #e0e0e0;
    --default__block_line-color                : #CCC;

    /**
     * Typography
     */

    --default__typography_symbol-color     : #CCC;
    --default__typography_color            : #333;
    --default__typography_description-color: #777;
    --default__typography_placeholder-color: #999;
    --default__typography_disabled-color   : #999;
    --default__typography_active-color     : rgb(10, 8, 8);
    --default__typography_link-color       : #0d6a8b;
    --default__typography_link-hover-color : #084459;


    --default__emphasized_background-color                : #F7F7F7;
    --default__emphasized_hover-background-color          : #EEE;
    --default__emphasized_secondary-background-color      : #EEE;
    --default__emphasized_hover-secondary-background-color: #e0e0e0;
    --default__emphasized_disabled-background-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #333;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_hover-border-color              : #CCC;
    --default__emphasized_focus-border-color              : #107ea4;
}

/* ==========================================================================
   Dark
   ========================================================================== */

@media (prefers-color-scheme: dark) {
    :root {
        /**
        * Block
        */

        --default__block_background-color: #FFF;
        --default__block_border-color : #e9e9e9;
        --default__block_secondary-background-color: #F7F7F7;
        --default__block_tertiary-background-color : #EEE;
        --default__block_indicated-border-color    : #333;
        --default__block_raised-shadow-color: #dcdcdc;

        /**
        * Typography
        */

        --default__typography_symbol-color     : #CCC;

        --default__typography_color            : #333;
        --default__typography_description-color: #777;
        --default__typography_disabled-color   : #999;
        --default__typography_active-color     : #222;

        --default__typography_link-color: #107ea4;
        --default__typography_link-hover-color: #0c6b8c;

        /**
        *
        */

        --default__emphasized_background-color                : #333;
        --default__emphasized_hover-background-color          : #EEE;
        --default__emphasized_secondary-background-color      : #EEE;
        --default__emphasized_hover-secondary-background-color: #e0e0e0;
        --default__emphasized_disabled-background-color       : #F7F7F7;
        --default__emphasized_disabled-color                  : #999;
        --default__emphasized_color                           : #FFF;
        --default__emphasized_emphasized-border-color         : #e9e9e9;
        --default__emphasized_hover-color                     : #555;
        --default__emphasized_border-color                    : #e9e9e9;
        --default__emphasized_hover-border-color              : #CCC;
        --default__emphasized_focus-border-color              : #107ea4;
    }
}

.ts.-inverted.-inverted.-inverted {
    --default__emphasized_background-color                : #333;
    --default__emphasized_hover-background-color          : #EEE;
    --default__emphasized_secondary-background-color      : #EEE;
    --default__emphasized_hover-secondary-background-color: #e0e0e0;
    --default__emphasized_disabled-background-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #FFF;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_hover-border-color              : #CCC;
    --default__emphasized_focus-border-color              : #107ea4;
}

/* ==========================================================================
   Primary
   ========================================================================== */

.ts.-primary.-primary.-primary {
    /**
     * Block
     */

    --block_indicated-border-color: #348CEE;
    --block_background-color: #348CEE;
    --block_border-color: #348CEE;

    /**
     * Typography
     */

    --typography_color: #FFF;

    /**
     *
     */

    --default__emphasized_background-color                : #00ADEA;
    --default__emphasized_hover-background-color          : #EEE;
    --default__emphasized_secondary-background-color      : #EEE;
    --default__emphasized_hover-secondary-background-color: #e0e0e0;
    --default__emphasized_disabled-background-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #FFF;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_hover-border-color              : #CCC;
    --default__emphasized_focus-border-color              : #107ea4;
}

.ts.-indicated-primary.-indicated-primary.-indicated-primary {
    /**
     * Block
     */

    --block_indicated-border-color: #348CEE;
}

/* ==========================================================================
   Warning
   ========================================================================== */

.ts.-warning.-warning.-warning {
    /**
     * Block
     */

    --block_indicated-border-color: #FFDD57;

    /**
     * Typography
     */

    --typography_color: #4c4c4c;
    --block_background-color: #FFDD57;
    --block_border-color: #FFDD57;

    /**
     *
     */

    --default__emphasized_background-color                : #FFDD57;
    --default__emphasized_hover-background-color          : #EEE;
    --default__emphasized_secondary-background-color      : #EEE;
    --default__emphasized_hover-secondary-background-color: #e0e0e0;
    --default__emphasized_disabled-background-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #333;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_hover-border-color              : #CCC;
    --default__emphasized_focus-border-color              : #107ea4;
}

.ts.-indicated-warning.-indicated-warning.-indicated-warning {
    /**
     * Block
     */

    --block_indicated-border-color: #FFDD57;
}

/* ==========================================================================
   Positive
   ========================================================================== */

.ts.-positive.-positive.-positive {
    /**
     * Block
     */

    --block_indicated-border-color: #48C774;

    /**
     * Typography
     */

    --typography_color: #FFF;
    --block_background-color: #48C774;
    --block_border-color: #48C774;

    /**
     *
     */

    --default__emphasized_background-color                : #48C774;
    --default__emphasized_hover-background-color          : #EEE;
    --default__emphasized_secondary-background-color      : #EEE;
    --default__emphasized_hover-secondary-background-color: #e0e0e0;
    --default__emphasized_disabled-background-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #FFF;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_hover-border-color              : #CCC;
    --default__emphasized_focus-border-color              : #107ea4;
}

.ts.-indicated-positive.-indicated-positive.-indicated-positive {
     /**
     * Block
     */

    --block_indicated-border-color: #48C774;
}

/* ==========================================================================
   Negative
   ========================================================================== */

.ts.-negative.-negative.-negative {
    /**
     * Block
     */

    --block_indicated-border-color: #E84263;

    /**
     * Typography
     */

    --typography_color: #FFF;
    --block_background-color: #E84263;
    --block_border-color: #E84263;

    /**
     *
     */

    --default__emphasized_background-color                : #E84263;
    --default__emphasized_hover-background-color          : #EEE;
    --default__emphasized_secondary-background-color      : #EEE;
    --default__emphasized_hover-secondary-background-color: #e0e0e0;
    --default__emphasized_disabled-background-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #FFF;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_hover-border-color              : #CCC;
    --default__emphasized_focus-border-color              : #107ea4;
}

.ts.-indicated-negative.-indicated-negative.-indicated-negative {
    /**
     * Block
     */

    --block_indicated-border-color: #E84263;
}