/* ==========================================================================
   Default
   ========================================================================== */

:root {
    /**
     * Block
     */

    --default__background-color                : 255, 255, 255;
    --default__border-color                    : 233, 233, 233;
    --default__border-hover-color              : 204, 204, 204;
    --default__border-disabled-color           : 239, 239, 239;
    --default__border-focus-color              : 16, 126, 164;
    --default__outline-focus-color             : 168, 216, 233;
    --default__background-secondary-color      : 247, 247, 247;
    --default__background-secondary-hover-color: 238, 238, 238;
    --default__background-tertiary-color       : 238, 238, 238;
    --default__background-tertiary-hover-color : 224, 224, 224;
    --default__line-color                      : 204, 204, 204;
    --default__border-indicated-color          : 51, 51, 51;
    --default__shadow-raised-color             : 220, 220, 220;
    --default__border-emphasized-color         : 233, 233, 233;

    /**
     * Typography
     */

    --default__symbol-color     : 204, 204, 204;
    --default__color            : 51, 51, 51;
    --default__description-color: 119, 119, 119;
    --default__placeholder-color: 153, 153, 153;
    --default__disabled-color   : 153, 153, 153;
    --default__active-color     : 10, 8, 8;
    --default__link-color       : 13, 106, 139;
    --default__link-hover-color : 8, 68, 89;

    /**
     * Emphasized
     */

    --default__emphasized_background-color                : 247, 247, 247;
    --default__emphasized_background-hover-color          : 238, 238, 238;
    --default__emphasized_background-secondary-color      : 238, 238, 238;
    --default__emphasized_background-secondary-hover-color: 224, 224, 224;
    --default__emphasized_background-disabled-color       : 247, 247, 247;
    --default__emphasized_disabled-color                  : 153, 153, 153;
    --default__emphasized_color                           : 51, 51, 51;
    --default__emphasized_hover-color                     : 85, 85, 85;
    --default__emphasized_border-color                    : 233, 233, 233;
    --default__emphasized_border-hover-color              : 204, 204, 204;
    --default__emphasized_border-focus-color              : 16, 126, 164;
}

/* ==========================================================================
   Dark
   ========================================================================== */

@media (prefers-color-scheme: dark) {
    :root {
        /**
        * Block
        */

        --default__block_background-color: #FFF;
        --default__block_border-color : #e9e9e9;
        --default__block_background-secondary-color: #F7F7F7;
        --default__block_background-tertiary-color : #EEE;
        --default__block_indicated-border-color    : #333;
        --default__block_raised-shadow-color: #dcdcdc;

        /**
        * Typography
        */

        --default__typography_symbol-color     : #CCC;

        --default__typography_color            : #333;
        --default__typography_description-color: #777;
        --default__typography_disabled-color   : #999;
        --default__typography_active-color     : #222;

        --default__typography_link-color: #107ea4;
        --default__typography_link-hover-color: #0c6b8c;

        /**
        *
        */

        --default__emphasized_background-color                : #333;
        --default__emphasized_background-hover-color          : #EEE;
        --default__emphasized_background-secondary-color      : #EEE;
        --default__emphasized_background-secondary-hover-color: #e0e0e0;
        --default__emphasized_background-disabled-color       : #F7F7F7;
        --default__emphasized_disabled-color                  : #999;
        --default__emphasized_color                           : #FFF;
        --default__emphasized_emphasized-border-color         : #e9e9e9;
        --default__emphasized_hover-color                     : #555;
        --default__emphasized_border-color                    : #e9e9e9;
        --default__emphasized_border-hover-color              : #CCC;
        --default__emphasized_border-focus-color              : #107ea4;
    }
}

.ts.-inverted.-inverted.-inverted {
    --default__emphasized_background-color                : #333;
    --default__emphasized_background-hover-color          : #EEE;
    --default__emphasized_background-secondary-color      : #EEE;
    --default__emphasized_background-secondary-hover-color: #e0e0e0;
    --default__emphasized_background-disabled-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #FFF;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_border-hover-color              : #CCC;
    --default__emphasized_border-focus-color              : #107ea4;
}

/* ==========================================================================
   Primary
   ========================================================================== */

.ts.-primary.-primary.-primary {
    /**
     * Block
     */

    --default__block_background-color                : 255, 255, 255;
    --default__block_border-color                    : 233, 233, 233;
    --default__block_border-hover-color              : 204, 204, 204;
    --default__block_border-disabled-color           : 239, 239, 239;
    --default__block_border-focus-color              : 16, 126, 164;
    --default__block_outline-focus-color             : 168, 216, 233;
    --default__block_background-secondary-color      : 247, 247, 247;
    --default__block_background-secondary-hover-color: 238, 238, 238;
    --default__block_background-tertiary-color       : 238, 238, 238;
    --default__block_background-tertiary-hover-color : 224, 224, 224;
    --default__block_line-color                      : 204, 204, 204;

    /**
     * Typography
     */

    --default__typography_symbol-color     : 204, 204, 204;
    --default__typography_color            : 51, 51, 51;
    --default__typography_description-color: 119, 119, 119;
    --default__typography_placeholder-color: 153, 153, 153;
    --default__typography_disabled-color   : 153, 153, 153;
    --default__typography_active-color     : 10, 8, 8;
    --default__typography_link-color       : 13, 106, 139;
    --default__typography_link-hover-color : 8, 68, 89;

    /**
     * Emphasized
     */

    --default__emphasized_background-color                : 247, 247, 247;
    --default__emphasized_background-hover-color          : 238, 238, 238;
    --default__emphasized_background-secondary-color      : 238, 238, 238;
    --default__emphasized_background-secondary-hover-color: 224, 224, 224;
    --default__emphasized_background-disabled-color       : 247, 247, 247;
    --default__emphasized_disabled-color                  : 153, 153, 153;
    --default__emphasized_color                           : 51, 51, 51;
    --default__emphasized_emphasized-border-color         : 233, 233, 233;
    --default__emphasized_hover-color                     : 85, 85, 85;
    --default__emphasized_border-color                    : 233, 233, 233;
    --default__emphasized_border-hover-color              : 204, 204, 204;
    --default__emphasized_border-focus-color              : 16, 126, 164;
}

.ts.-indicated-primary.-indicated-primary.-indicated-primary {
    /**
     * Block
     */

    --block_indicated-border-color: #348CEE;
}

/* ==========================================================================
   Warning
   ========================================================================== */

.ts.-warning.-warning.-warning {
    /**
     * Block
     */

    --block_indicated-border-color: #FFDD57;

    /**
     * Typography
     */

    --typography_color: #4c4c4c;
    --block_background-color: #FFDD57;
    --block_border-color: #FFDD57;

    /**
     *
     */

    --default__emphasized_background-color                : #FFDD57;
    --default__emphasized_background-hover-color          : #EEE;
    --default__emphasized_background-secondary-color      : #EEE;
    --default__emphasized_background-secondary-hover-color: #e0e0e0;
    --default__emphasized_background-disabled-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #333;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_border-hover-color              : #CCC;
    --default__emphasized_border-focus-color              : #107ea4;
}

.ts.-indicated-warning.-indicated-warning.-indicated-warning {
    /**
     * Block
     */

    --block_indicated-border-color: #FFDD57;
}

/* ==========================================================================
   Positive
   ========================================================================== */

.ts.-positive.-positive.-positive {
    /**
     * Block
     */

    --block_indicated-border-color: #48C774;

    /**
     * Typography
     */

    --typography_color: #FFF;
    --block_background-color: #48C774;
    --block_border-color: #48C774;

    /**
     *
     */

    --default__emphasized_background-color                : #48C774;
    --default__emphasized_background-hover-color          : #EEE;
    --default__emphasized_background-secondary-color      : #EEE;
    --default__emphasized_background-secondary-hover-color: #e0e0e0;
    --default__emphasized_background-disabled-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #FFF;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_border-hover-color              : #CCC;
    --default__emphasized_border-focus-color              : #107ea4;
}

.ts.-indicated-positive.-indicated-positive.-indicated-positive {
     /**
     * Block
     */

    --block_indicated-border-color: #48C774;
}

/* ==========================================================================
   Negative
   ========================================================================== */

.ts.-negative.-negative.-negative {
    /**
     * Block
     */

    --block_indicated-border-color: #E84263;

    /**
     * Typography
     */

    --typography_color: #FFF;
    --block_background-color: #E84263;
    --block_border-color: #E84263;

    /**
     *
     */

    --default__emphasized_background-color                : #E84263;
    --default__emphasized_background-hover-color          : #EEE;
    --default__emphasized_background-secondary-color      : #EEE;
    --default__emphasized_background-secondary-hover-color: #e0e0e0;
    --default__emphasized_background-disabled-color       : #F7F7F7;
    --default__emphasized_disabled-color                  : #999;
    --default__emphasized_color                           : #FFF;
    --default__emphasized_emphasized-border-color         : #e9e9e9;
    --default__emphasized_hover-color                     : #555;
    --default__emphasized_border-color                    : #e9e9e9;
    --default__emphasized_border-hover-color              : #CCC;
    --default__emphasized_border-focus-color              : #107ea4;
}

.ts.-indicated-negative.-indicated-negative.-indicated-negative {
    /**
     * Block
     */

    --block_indicated-border-color: #E84263;
}

.ts.sxlate, .ts.segxment {
--default__block_border-focus-color: 0, 156, 211;
--default__block_outline-focus-color: 0, 156, 211;
--default__block_background-secondary-color: 0, 156, 211;
--default__block_background-secondary-hover-color: 0, 156, 211;
--default__block_background-tertiary-color: 0, 156, 211;
--default__block_line-color: 0, 156, 211;
--default__block_background-color: 0, 156, 211;
--default__block_border-color: 0, 156, 211;
--default__block_border-hover-color: 0, 164, 222;
--default__block_border-disabled-color: 0, 156, 211;
--default__block_background-tertiary-hover-color: 0, 156, 211;
--default__typography_symbol-color: 26, 181, 236;
--default__typography_color: 255, 255, 255;
--default__typography_description-color: 236, 236, 236;
--default__typography_placeholder-color: 0, 156, 211;
--default__typography_disabled-color: 51, 189, 238;
--default__typography_active-color: 0, 156, 211;
--default__typography_link-color: 0, 156, 211;
--default__typography_link-hover-color: 0, 156, 211;
--default__emphasized_border-focus-color: 0, 156, 211;
--default__emphasized_background-disabled-color: 0, 156, 211;
--default__emphasized_color: 0, 156, 211;
--default__emphasized_border-hover-color: 0, 156, 211;
--default__emphasized_background-secondary-hover-color: 0, 156, 211;
--default__emphasized_disabled-color: 0, 156, 211;
--default__emphasized_emphasized-border-color: 0, 156, 211;
--default__emphasized_hover-color: 0, 156, 211;
--default__emphasized_border-color: 0, 156, 211;
--default__emphasized_background-color: 0, 156, 211;
--default__emphasized_background-hover-color: 0, 156, 211;
--default__emphasized_background-secondary-color: 0, 156, 211;
}