/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-combo {
    position: relative;
    display: inline-flex;
    border-radius: 0.4rem 0.4rem 0 0;
    border: 2px solid transparent;
    background: var(--ts-gray-100);
    border-bottom: 2px solid var(--ts-gray-400);
    min-height: 2.5rem;
    /*width: 100%;*/
    cursor: pointer;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-combo {
}

.ts-combo:focus-within {
    border-bottom-color: var(--ts-primary-600);
}

.ts-combo::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ts-gray-700);

    font-family: "Icons";
    font-weight: normal;
    font-style: normal;

    text-decoration: inherit;
    text-align: center;
    width: 1.18em;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    content: "\f078";
    font-size: 13px;
}

.ts-combo .items {
    line-height: 1.5;
    font-size: var(--ts-font-size-14px);
    color: var(--ts-gray-700);

    padding: 0.45rem 1rem;
    padding-right: 2.5rem;

    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.ts-combo .text {
    line-height: 1.5;
    font-size: var(--ts-font-size-14px);
    color: var(--ts-gray-700);

    padding: 0.45rem 1rem;
    padding-right: 2.5rem;

    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.ts-combo .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background: var(--ts-gray-100);
    box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
    max-height: 8.75rem;
    top: 6rem;
    z-index: 1;
}

.ts-combo .menu .item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
}

.ts-combo .input input {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    line-height: 1.5;
    font-size: var(--ts-font-size-14px);
    color: var(--ts-gray-700);
    padding: 0.45rem 1rem;
    padding-right: 2.5rem;
    resize: none;
    width: 100%;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Outlined
 */

.ts-combo.is-outlined {
    background: var(--ts-gray-50);
    border: 1px solid var(--ts-gray-300);
    border-radius: 0.4rem;
}
