/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-comment {
    display: flex;
    gap: 1rem;
    font-size: var(--ts-absolute-small);
    word-break: break-all;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-comment .avatar {
}

.ts-comment .avatar img {
    width: 40px;
    height: 40px;
}

.ts-comment .content {
    line-height: 1.3;
}

.ts-comment .content .author {
    display: inline;
    color: var(--ts-gray-900);
    font-weight: 500;
    margin-right: 0.25rem;
}

.ts-comment .content .text {
    display: inline;
    color: var(--ts-gray-800);
}

.ts-comment .content .text ~ * {
    margin-top: 0.5rem;
}

.ts-comment .content .ts-meta {
    display: flex;
    line-height: 1;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Disabled
 */
