/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1180px;
    width: 100%;
    color: inherit;
    position: relative;
    box-sizing: border-box;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Fluid
 */

.ts-container.is-fluid {
    max-width: 100%;
}

/**
 * Narrow
 */

.ts-container.is-narrow {
    max-width: 910px;
}

.ts-container.is-very-narrow {
    max-width: 720px;
}
