/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-content {
    padding: 1rem 1rem;
    color: inherit;
    position: relative;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Fitted
 */

.ts-content.is-fitted {
    padding: 0;
}

/**
 * Primary
 */

.ts-content.is-primary {
    background: var(--ts-gray-800);
    color: var(--ts-gray-50);
}

/**
 * Secondary
 */

.ts-content.is-secondary {
    background: var(--ts-gray-75);
}

/**
 * Tertiary
 */

.ts-content.is-tertiary {
    background: var(--ts-gray-100);
}

/**
 * Aligns
 */

.ts-content.is-start-aligned {
    text-align: left;
}

.ts-content.is-end-aligned {
    text-align: right;
}

.ts-content.is-center-aligned {
    text-align: center;
}

/**
 * Interactive
 */

.ts-content.is-interactive {
    display: block;
    text-decoration: none;
}

.ts-content.is-interactive:hover {
    cursor: pointer;
    background: var(--ts-gray-100);
}

/**
 * Active
 */

.ts-content.is-active {
    background: var(--ts-gray-200);
}

/**
 * Disabled
 */

.ts-content.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

/**
 * Padded
 */

.ts-content.is-padded {
    padding: 3rem;
}
.ts-content.is-horizontally-padded {
    padding: 1rem 3rem;
}
.ts-content.is-vertically-padded {
    padding: 3rem 1rem;
}

/**
 * Compact
 */

.ts-content.is-compact {
    padding: 0.5rem;
}

/**
 * Dense
 */

.ts-content.is-dense {
    padding: 0.5rem 1rem;
}
