/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-control {
    color: inherit;
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 2rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-control .label {
    word-break: break-all;
    color: var(--ts-gray-800);
    font-weight: 500;
    text-align: right;
    line-height: 2.4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ts-control .content {
    max-width: 75%;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Padded
 */

.ts-control .content.is-padded {
    padding-top: 0.45rem;
}

/**
 * Fluid
 */

.ts-control .content.is-fluid {
    max-width: initial;
}

/**
 * Aligns
 */

.ts-control .label.is-start-aligned {
    text-align: left;
}

/**
 * Wide
 */

.ts-control.is-wide {
    grid-template-columns: 150px 1fr;
}

.ts-control.is-wide .content {
    max-width: 90%;
}
