/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-content {
    padding: 0.5rem 1rem;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Padded
 */

.ts-content.is-padded {
    padding: 1.25rem 1.5rem;
}

/**
 * Fitted
 */

.ts-content.is-fitted {
    padding: 0;
}

/**
 * Primary
 */

.ts-content.is-primary {
    background: var(--gray-800);
    color: var(--gray-50);
}

/**
 * Secondary
 */

.ts-content.is-secondary {
    background: var(--gray-75);
}

/**
 * Aligns
 */

.ts-content.is-start-aligned {
    text-align: left;
}

.ts-content.is-end-aligned {
    text-align: right;
}

.ts-content.is-center-aligned {
    text-align: center;
}

/**
 * Interactive
 */

.ts-content.is-interactive {
    display: block;
    text-decoration: none;
}

.ts-content.is-interactive:hover {
    cursor: pointer;
    background: var(--gray-100);
}

/**
 * Active
 */

.ts-content.is-active {
    background: var(--gray-200);
}

/**
 * Disabled
 */

.ts-content.is-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/**
 * Quoted
 */

.ts-content.is-quoted {
    border-left: 3px solid var(--gray-300);
}
