
/* ==========================================================================
   Variables
   ========================================================================== */

:root {
    --global_font-family        : "Noto Sans TC", "Noto Sans HK", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR";
    --global_main-font-size     : 16px;
    --global_secondary-font-size: 15px;
    --global_tertiary-font-size : 14px;
    --global_font-size          : var(--global_main-font-size);
    --global_background-color: #FFF;

    /**
     * 40px: 2.5rem
     * 38px: 2.375rem
     * 36px: 2.25rem
     * 34px: 2.125rem
     * 32px: 2rem
     * 30px: 1.875rem
     * 28px: 1.75rem
     * 26px: 1.625rem
     * 24px: 1.5rem
     * 22px: 1.375rem
     * 20px: 1.25rem
     * 19px: 1.1875rem
     * 18px: 1.125rem
     * 17px: 1.0625rem
     * 16px: 1rem
     * 15px: .9375rem
     * 14px: .875rem
     * 13px: .8125rem
     */

    /**
     * Block
     */

    --default__block_border-radius: .3rem;
    --default__block_padding      : 1rem;
    --default__block_margin       : 1rem;

    /**
     * Element
     */

    --default__element_vertical-padding: .4em;
    --default__element_font-size       : 15px;

    /**
     * Typography
     */

    --default__typography_font-size  : 1rem;
    --default__typography_margin     : 1rem;
    --default__typography_line-height: 1.85;
}

/* ==========================================================================
   Typography
   ========================================================================== */

.ts p:not(:first-child),
.ts cite:not(:first-child) {
    margin-block-start: var(--default__typography_margin);
}

.ts p:first-child,
.ts cite:first-child {
    margin-block-start: 0;
}

.ts p,
.ts cite,
.ts p:last-child,
.ts cite:last-child {
    margin-block-end: 0;
}

.ts a {
    color          : var(--typography_link-color);
    text-decoration: underline;
}
.ts a:hover {
    color: var(--typography_link-hover-color);
}

/* ==========================================================================
   Attached
   ========================================================================== */

.ts.-top-attached.-top-attached {
    border-bottom-right-radius: 0;
    border-bottom-left-radius : 0;
    margin-block-end          : 0;
}
.ts.-attached.-attached {
    border-radius     : 0;
    margin-block-start: 0;
    margin-block-end  : 0;
    border-top        : 0;
}
.ts.-bottom-attached.-bottom-attached {
    border-top-right-radius: 0;
    border-top-left-radius : 0;
    margin-block-start     : 0;
    border-top             : 0;
}
