@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500|Noto+Sans+JP:400,500|Noto+Sans+KR:400,500|Noto+Sans+SC:400,500|Noto+Sans+TC:400,500&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,japanese,korean,vietnamese");

/* ==========================================================================
   Variables
   ========================================================================== */

:root {
    --global_font-family        : "Noto Sans TC", "Noto Sans HK", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR";
    --global_main-font-size     : 16px;
    --global_secondary-font-size: 15px;
    --global_tertiary-font-size : 14px;
    --global_font-size          : var(--global_main-font-size);
    --global_background-color: #FFF;

    /**
     * 40px: 2.5rem
     * 38px: 2.375rem
     * 36px: 2.25rem
     * 34px: 2.125rem
     * 32px: 2rem
     * 30px: 1.875rem
     * 28px: 1.75rem
     * 26px: 1.625rem
     * 24px: 1.5rem
     * 22px: 1.375rem
     * 20px: 1.25rem
     * 19px: 1.1875rem
     * 18px: 1.125rem
     * 17px: 1.0625rem
     * 16px: 1rem
     * 15px: .9375rem
     * 14px: .875rem
     * 13px: .8125rem
     */

    /**
     * Block
     */

    --default__block_border-radius: .3rem;
    --default__block_padding      : 1rem;
    --default__block_margin       : 1rem;

    /**
     * Element
     */

    --default__element_vertical-padding: .4em;
    --default__element_font-size       : 15px;

    /**
     * Typography
     */

    --default__typography_font-size  : 1rem;
    --default__typography_margin     : 1rem;
    --default__typography_line-height: 1.85;
}

/* ==========================================================================
   Page
   ========================================================================== */

html {
    font-family: var(--global_font-family);
    font-size  : var(--global_font-size);
    padding    : 0;
    margin     : 0;
}

/*.ts {
    --typography_font-size  : var(--default__typography_font-size);
    --typography_line-height: var(--default__typography_line-height);
    --typography_color      : var(--default__typography_color);

    font-size  : var(--typography_font-size);
    line-height: var(--typography_line-height);
    color      : var(--typography_color);

    position: relative;
}*/

/*.ts,
.ts * {
    box-sizing: border-box;
}*/

/* ==========================================================================
   Typography
   ========================================================================== */

.ts p:not(:first-child),
.ts cite:not(:first-child) {
    margin-block-start: var(--default__typography_margin);
}

.ts p:first-child,
.ts cite:first-child,
.ts.quote:first-child,
.ts.breadcrumb:first-child,
.ts.segment:first-child,
.ts.slate:first-child,
.ts.container:first-child,
.ts.table:first-child,
.ts.input:first-child {
    margin-block-start: 0;
}

.ts p,
.ts cite,
.ts p:last-child,
.ts cite:last-child,
.ts.quote:last-child,
.ts.breadcrumb:last-child,
.ts.segment:last-child,
.ts.slate:last-child,
.ts.container:last-child,
.ts.table:last-child,
.ts.input:last-child {
    margin-block-end: 0;
}

.ts.quote:not(:first-child),
.ts.breadcrumb:not(:first-child),
.ts.segment:not(:first-child),
.ts.slate:not(:first-child),
.ts.container:not(:first-child),
.ts.table:not(:first-child),
.ts.input:not(:first-child) {
    margin-block-start: var(--default__block_margin);
}

.ts a {
    color          : var(--typography_link-color);
    text-decoration: underline;
}
.ts a:hover {
    color: var(--typography_link-hover-color);
}

/* ==========================================================================
   Size
   ========================================================================== */

.ts.-mini {
    font-size: calc(var(--font-size) * var(--mini-multiplier, 0.7))
}
.ts.-tiny {
    font-size: calc(var(--font-size) * var(--tiny-multiplier, 0.85))
}
.ts.-small {
    font-size: calc(var(--font-size) * var(--small-multiplier, 0.95))
}
.ts.-large {
    font-size: calc(var(--font-size) * var(--large-multiplier, 1.15))
}
.ts.-big {
    font-size: calc(var(--font-size) * var(--big-multiplier, 1.45))
}
.ts.-huge {
    font-size: calc(var(--font-size) * var(--huge-multiplier, 1.85))
}
.ts.-massive {
    font-size: calc(var(--font-size) * var(--massive-multiplier, 2.2))
}

/* ==========================================================================
   Attached
   ========================================================================== */

.ts.-top-attached.-top-attached {
    border-bottom-right-radius: 0;
    border-bottom-left-radius : 0;
    margin-block-end          : 0;
}
.ts.-attached.-attached {
    border-radius     : 0;
    margin-block-start: 0;
    margin-block-end  : 0;
    border-top        : 0;
}
.ts.-bottom-attached.-bottom-attached {
    border-top-right-radius: 0;
    border-top-left-radius : 0;
    margin-block-start     : 0;
    border-top             : 0;
}
