/* ==========================================================================
   Responsive
   ========================================================================== */

/**
 * Minimal
 * (Below 766px)
 */

@media screen and (max-width: 766px) {
    .is-standard-only,
    .is-maximal-only {
        display: none !important;
    }

    .is-not-minimal {
        display: none !important;
    }
}

/**
 * Not Minimal
 * (Above 766px)
 */

@media screen and (min-width: 766px) {
    .is-minimal-only {
        display: none !important;
    }
}

/**
 * Minimal & Standard
 * (Below 993px)
 */

@media screen and (max-width: 993px) {
    .is-maximal-only {
        display: none !important;
    }
}

/**
 * Standard
 * (Above 766px & Below 993px)
 */

@media screen and (min-width: 766px) and (max-width: 993px) {
    .is-not-standard {
        display: none !important;
    }
}

/**
 * Maximal
 * (Above 993px)
 */

@media screen and (min-width: 993px) {
    .is-minimal-only,
    .is-standard-only {
        display: none !important;
    }

    .is-not-maximal {
        display: none !important;
    }
}

/* ==========================================================================
   Grid
   ========================================================================== */

/**
 * Wides
 */

.ts-grid .column.is-1-minimal {
    flex: var(--ts-grid-1-wide);
    max-width: var(--ts-grid-1-wide);
}
.ts-grid .column.is-2-minimal {
    flex: var(--ts-grid-2-wide);
    max-width: var(--ts-grid-2-wide);
}
.ts-grid .column.is-3-minimal {
    flex: var(--ts-grid-3-wide);
    max-width: var(--ts-grid-3-wide);
}
.ts-grid .column.is-4-minimal {
    flex: var(--ts-grid-4-wide);
    max-width: var(--ts-grid-4-wide);
}
.ts-grid .column.is-5-minimal {
    flex: var(--ts-grid-5-wide);
    max-width: var(--ts-grid-5-wide);
}
.ts-grid .column.is-6-minimal {
    flex: var(--ts-grid-6-wide);
    max-width: var(--ts-grid-6-wide);
}
.ts-grid .column.is-7-minimal {
    flex: var(--ts-grid-7-wide);
    max-width: var(--ts-grid-7-wide);
}
.ts-grid .column.is-8-minimal {
    flex: var(--ts-grid-8-wide);
    max-width: var(--ts-grid-8-wide);
}
.ts-grid .column.is-9-minimal {
    flex: var(--ts-grid-9-wide);
    max-width: var(--ts-grid-9-wide);
}
.ts-grid .column.is-10-minimal {
    flex: var(--ts-grid-10-wide);
    max-width: var(--ts-grid-10-wide);
}
.ts-grid .column.is-11-minimal {
    flex: var(--ts-grid-11-wide);
    max-width: var(--ts-grid-11-wide);
}
.ts-grid .column.is-12-minimal {
    flex: var(--ts-grid-12-wide);
    max-width: var(--ts-grid-12-wide);
}
.ts-grid .column.is-13-minimal {
    flex: var(--ts-grid-13-wide);
    max-width: var(--ts-grid-13-wide);
}
.ts-grid .column.is-14-minimal {
    flex: var(--ts-grid-14-wide);
    max-width: var(--ts-grid-14-wide);
}
.ts-grid .column.is-15-minimal {
    flex: var(--ts-grid-15-wide);
    max-width: var(--ts-grid-15-wide);
}
.ts-grid .column.is-16-minimal {
    flex: var(--ts-grid-16-wide);
    max-width: var(--ts-grid-16-wide);
}

/**
 * Doubling
 */

.ts-grid.is-2-columns.is-doubling > .column {
    flex: var(--ts-grid-1-columns);
    max-width: var(--ts-grid-1-columns);
}
.ts-grid.is-3-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-4-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-5-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-6-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-7-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-8-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-9-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}
.ts-grid.is-10-columns.is-doubling > .column {
    flex: var(--ts-grid-2-columns);
    max-width: var(--ts-grid-2-columns);
}

/**
 * Minimal
 * (Below 766px)
 */

@media screen and (max-width: 766px) {
    .ts-grid.is-stackable .column {
        flex: var(--ts-grid-16-wide);
        max-width: var(--ts-grid-16-wide);
    }
}

/**
 * Not Minimal
 * (Above 766px)
 */

@media screen and (min-width: 766px) {
    /**
     * Doubling
     */

    .ts-grid.is-2-columns.is-doubling > .column {
        flex: var(--ts-grid-1-columns);
        max-width: var(--ts-grid-1-columns);
    }
    .ts-grid.is-3-columns.is-doubling > .column {
        flex: var(--ts-grid-2-columns);
        max-width: var(--ts-grid-2-columns);
    }
    .ts-grid.is-4-columns.is-doubling > .column {
        flex: var(--ts-grid-2-columns);
        max-width: var(--ts-grid-2-columns);
    }
    .ts-grid.is-5-columns.is-doubling > .column {
        flex: var(--ts-grid-3-columns);
        max-width: var(--ts-grid-3-columns);
    }
    .ts-grid.is-6-columns.is-doubling > .column {
        flex: var(--ts-grid-3-columns);
        max-width: var(--ts-grid-3-columns);
    }
    .ts-grid.is-7-columns.is-doubling > .column {
        flex: var(--ts-grid-3-columns);
        max-width: var(--ts-grid-3-columns);
    }
    .ts-grid.is-8-columns.is-doubling > .column {
        flex: var(--ts-grid-4-columns);
        max-width: var(--ts-grid-4-columns);
    }
    .ts-grid.is-9-columns.is-doubling > .column {
        flex: var(--ts-grid-4-columns);
        max-width: var(--ts-grid-4-columns);
    }
    .ts-grid.is-10-columns.is-doubling > .column {
        flex: var(--ts-grid-5-columns);
        max-width: var(--ts-grid-5-columns);
    }

    /**
     * Wides
     */

    .ts-grid .column.is-1-standard {
        flex: var(--ts-grid-1-wide);
        max-width: var(--ts-grid-1-wide);
    }
    .ts-grid .column.is-2-standard {
        flex: var(--ts-grid-2-wide);
        max-width: var(--ts-grid-2-wide);
    }
    .ts-grid .column.is-3-standard {
        flex: var(--ts-grid-3-wide);
        max-width: var(--ts-grid-3-wide);
    }
    .ts-grid .column.is-4-standard {
        flex: var(--ts-grid-4-wide);
        max-width: var(--ts-grid-4-wide);
    }
    .ts-grid .column.is-5-standard {
        flex: var(--ts-grid-5-wide);
        max-width: var(--ts-grid-5-wide);
    }
    .ts-grid .column.is-6-standard {
        flex: var(--ts-grid-6-wide);
        max-width: var(--ts-grid-6-wide);
    }
    .ts-grid .column.is-7-standard {
        flex: var(--ts-grid-27wide);
        max-width: var(--ts-grid-7-wide);
    }
    .ts-grid .column.is-8-standard {
        flex: var(--ts-grid-8-wide);
        max-width: var(--ts-grid-8-wide);
    }
    .ts-grid .column.is-9-standard {
        flex: var(--ts-grid-9-wide);
        max-width: var(--ts-grid-9-wide);
    }
    .ts-grid .column.is-10-standard {
        flex: var(--ts-grid-10-wide);
        max-width: var(--ts-grid-10-wide);
    }
    .ts-grid .column.is-11-standard {
        flex: var(--ts-grid-11-wide);
        max-width: var(--ts-grid-11-wide);
    }
    .ts-grid .column.is-12-standard {
        flex: var(--ts-grid-12-wide);
        max-width: var(--ts-grid-12-wide);
    }
    .ts-grid .column.is-13-standard {
        flex: var(--ts-grid-13-wide);
        max-width: var(--ts-grid-13-wide);
    }
    .ts-grid .column.is-14-standard {
        flex: var(--ts-grid-14-wide);
        max-width: var(--ts-grid-14-wide);
    }
    .ts-grid .column.is-15-standard {
        flex: var(--ts-grid-15-wide);
        max-width: var(--ts-grid-15-wide);
    }
    .ts-grid .column.is-16-standard {
        flex: var(--ts-grid-16-wide);
        max-width: var(--ts-grid-16-wide);
    }
}

/**
 * Maximal
 * (Above 993px)
 */

@media screen and (min-width: 993px) {
    /**
     * Doubling
     */

    .ts-grid.is-2-columns.is-doubling > .column {
        flex: var(--ts-grid-2-columns);
        max-width: var(--ts-grid-2-columns);
    }
    .ts-grid.is-3-columns.is-doubling > .column {
        flex: var(--ts-grid-3-columns);
        max-width: var(--ts-grid-3-columns);
    }
    .ts-grid.is-4-columns.is-doubling > .column {
        flex: var(--ts-grid-4-columns);
        max-width: var(--ts-grid-4-columns);
    }
    .ts-grid.is-5-columns.is-doubling > .column {
        flex: var(--ts-grid-5-columns);
        max-width: var(--ts-grid-5-columns);
    }
    .ts-grid.is-6-columns.is-doubling > .column {
        flex: var(--ts-grid-6-columns);
        max-width: var(--ts-grid-6-columns);
    }
    .ts-grid.is-7-columns.is-doubling > .column {
        flex: var(--ts-grid-7-columns);
        max-width: var(--ts-grid-7-columns);
    }
    .ts-grid.is-8-columns.is-doubling > .column {
        flex: var(--ts-grid-8-columns);
        max-width: var(--ts-grid-8-columns);
    }
    .ts-grid.is-9-columns.is-doubling > .column {
        flex: var(--ts-grid-9-columns);
        max-width: var(--ts-grid-9-columns);
    }
    .ts-grid.is-10-columns.is-doubling > .column {
        flex: var(--ts-grid-10-columns);
        max-width: var(--ts-grid-10-columns);
    }

    /**
     * Wides
     */

    .ts-grid .column.is-1-maximal {
        flex: var(--ts-grid-1-wide);
        max-width: var(--ts-grid-1-wide);
    }
    .ts-grid .column.is-2-maximal {
        flex: var(--ts-grid-2-wide);
        max-width: var(--ts-grid-2-wide);
    }
    .ts-grid .column.is-3-maximal {
        flex: var(--ts-grid-3-wide);
        max-width: var(--ts-grid-3-wide);
    }
    .ts-grid .column.is-4-maximal {
        flex: var(--ts-grid-4-wide);
        max-width: var(--ts-grid-4-wide);
    }
    .ts-grid .column.is-5-maximal {
        flex: var(--ts-grid-5-wide);
        max-width: var(--ts-grid-5-wide);
    }
    .ts-grid .column.is-6-maximal {
        flex: var(--ts-grid-6-wide);
        max-width: var(--ts-grid-6-wide);
    }
    .ts-grid .column.is-7-maximal {
        flex: var(--ts-grid-7-wide);
        max-width: var(--ts-grid-7-wide);
    }
    .ts-grid .column.is-8-maximal {
        flex: var(--ts-grid-8-wide);
        max-width: var(--ts-grid-8-wide);
    }
    .ts-grid .column.is-9-maximal {
        flex: var(--ts-grid-9-wide);
        max-width: var(--ts-grid-9-wide);
    }
    .ts-grid .column.is-10-maximal {
        flex: var(--ts-grid-10-wide);
        max-width: var(--ts-grid-10-wide);
    }
    .ts-grid .column.is-11-maximal {
        flex: var(--ts-grid-11-wide);
        max-width: var(--ts-grid-11-wide);
    }
    .ts-grid .column.is-12-maximal {
        flex: var(--ts-grid-12-wide);
        max-width: var(--ts-grid-12-wide);
    }
    .ts-grid .column.is-13-maximal {
        flex: var(--ts-grid-13-wide);
        max-width: var(--ts-grid-13-wide);
    }
    .ts-grid .column.is-14-maximal {
        flex: var(--ts-grid-14-wide);
        max-width: var(--ts-grid-14-wide);
    }
    .ts-grid .column.is-15-maximal {
        flex: var(--ts-grid-15-wide);
        max-width: var(--ts-grid-15-wide);
    }
    .ts-grid .column.is-16-maximal {
        flex: var(--ts-grid-16-wide);
        max-width: var(--ts-grid-16-wide);
    }
}
