/* ==========================================================================
   Responsive
   ========================================================================== */

/**
 * Minimal
 * (Below 766px)
 */

@media screen and (max-width: 766px) {
    .is-standard-only,
    .is-maximal-only {
        display: none !important;
    }

    .is-not-minimal {
        display: none !important;
    }
}

/**
 * Not Minimal
 * (Above 766px)
 */

@media screen and (min-width: 766px) {
    .is-minimal-only {
        display: none !important;
    }
}

/**
 * Minimal & Standard
 * (Below 993px)
 */

@media screen and (max-width: 993px) {
    .is-maximal-only {
        display: none !important;
    }
}

/**
 * Standard
 * (Above 766px & Below 993px)
 */

@media screen and (min-width: 766px) and (max-width: 993px) {
    .is-not-standard {
        display: none !important;
    }
}

/**
 * Maximal
 * (Above 993px)
 */

@media screen and (min-width: 993px) {
    .is-minimal-only,
    .is-standard-only {
        display: none !important;
    }

    .is-not-maximal {
        display: none !important;
    }
}
