/**
 * Padded
 */

.u-padded {
    padding: var(--ts-space-gap);
}
.u-padded-small {
    padding: var(--ts-space-gap-small);
}
.u-padded-large {
    padding: var(--ts-space-gap-large);
}
.u-padded-big {
    padding: var(--ts-space-gap-big);
}
.u-padded-huge {
    padding: var(--ts-space-gap-huge);
}

/** Horizontally */
.u-horizontally-padded {
    padding-left: var(--ts-space-gap);
    padding-right: var(--ts-space-gap);
}
.u-horizontally-padded-small {
    padding-left: var(--ts-space-gap-small);
    padding-right: var(--ts-space-gap-small);
}
.u-horizontally-padded-large {
    padding-left: var(--ts-space-gap-large);
    padding-right: var(--ts-space-gap-large);
}
.u-horizontally-padded-big {
    padding-left: var(--ts-space-gap-big);
    padding-right: var(--ts-space-gap-big);
}
.u-horizontally-padded-huge {
    padding-left: var(--ts-space-gap-huge);
    padding-right: var(--ts-space-gap-huge);
}

/** Vertically */
.u-vertically-padded {
    padding-top: var(--ts-space-gap);
    padding-bottom: var(--ts-space-gap);
}
.u-vertically-padded-small {
    padding-top: var(--ts-space-gap-small);
    padding-bottom: var(--ts-space-gap-small);
}
.u-vertically-padded-large {
    padding-top: var(--ts-space-gap-large);
    padding-bottom: var(--ts-space-gap-large);
}
.u-vertically-padded-big {
    padding-top: var(--ts-space-gap-big);
    padding-bottom: var(--ts-space-gap-big);
}
.u-vertically-padded-huge {
    padding-top: var(--ts-space-gap-huge);
    padding-bottom: var(--ts-space-gap-huge);
}

/** Bottom */
.u-bottom-padded {
    padding-bottom: var(--ts-space-gap);
}
.u-bottom-padded-small {
    padding-bottom: var(--ts-space-gap-small);
}
.u-bottom-padded-large {
    padding-bottom: var(--ts-space-gap-large);
}
.u-bottom-padded-big {
    padding-bottom: var(--ts-space-gap-big);
}
.u-bottom-padded-huge {
    padding-bottom: var(--ts-space-gap-huge);
}

/** Top */
.u-top-padded {
    padding-top: var(--ts-space-gap);
}
.u-top-padded-small {
    padding-top: var(--ts-space-gap-small);
}
.u-top-padded-large {
    padding-top: var(--ts-space-gap-large);
}
.u-top-padded-big {
    padding-top: var(--ts-space-gap-big);
}
.u-top-padded-huge {
    padding-top: var(--ts-space-gap-huge);
}

/** Start */
.u-start-padded {
    padding-left: var(--ts-space-gap);
}
.u-start-padded-small {
    padding-left: var(--ts-space-gap-small);
}
.u-start-padded-large {
    padding-left: var(--ts-space-gap-large);
}
.u-start-padded-big {
    padding-left: var(--ts-space-gap-big);
}
.u-start-padded-huge {
    padding-left: var(--ts-space-gap-huge);
}

/** End */
.u-end-padded {
    padding-right: var(--ts-space-gap);
}
.u-end-padded-small {
    padding-right: var(--ts-space-gap-small);
}
.u-end-padded-large {
    padding-right: var(--ts-space-gap-large);
}
.u-end-padded-big {
    padding-right: var(--ts-space-gap-big);
}
.u-end-padded-huge {
    padding-right: var(--ts-space-gap-huge);
}

/**
 * Spaced
 */

.u-spaced {
    margin: 1rem;
}
.u-spaced-small {
    margin: var(--ts-space-gap-small);
}
.u-spaced-large {
    margin: var(--ts-space-gap-large);
}
.u-spaced-big {
    margin: var(--ts-space-gap-big);
}
.u-spaced-huge {
    margin: var(--ts-space-gap-huge);
}

/** Horizontally */
.u-horizontally-spaced {
    margin-left: var(--ts-space-gap);
    margin-right: var(--ts-space-gap);
}
.u-horizontally-spaced-small {
    margin-left: var(--ts-space-gap-small);
    margin-right: var(--ts-space-gap-small);
}
.u-horizontally-spaced-large {
    margin-left: var(--ts-space-gap-large);
    margin-right: var(--ts-space-gap-large);
}
.u-horizontally-spaced-big {
    margin-left: var(--ts-space-gap-big);
    margin-right: var(--ts-space-gap-big);
}
.u-horizontally-spaced-huge {
    margin-left: var(--ts-space-gap-huge);
    margin-right: var(--ts-space-gap-huge);
}

/** Vertically */
.u-vertically-spaced {
    margin-top: var(--ts-space-gap);
    margin-bottom: var(--ts-space-gap);
}
.u-vertically-spaced-small {
    margin-top: var(--ts-space-gap-small);
    margin-bottom: var(--ts-space-gap-small);
}
.u-vertically-spaced-large {
    margin-top: var(--ts-space-gap-large);
    margin-bottom: var(--ts-space-gap-large);
}
.u-vertically-spaced-big {
    margin-top: var(--ts-space-gap-big);
    margin-bottom: var(--ts-space-gap-big);
}
.u-vertically-spaced-huge {
    margin-top: var(--ts-space-gap-huge);
    margin-bottom: var(--ts-space-gap-huge);
}

/** Bottom */
.u-bottom-spaced {
    margin-bottom: var(--ts-space-gap);
}
.u-bottom-spaced-small {
    margin-bottom: var(--ts-space-gap-small);
}
.u-bottom-spaced-large {
    margin-bottom: var(--ts-space-gap-large);
}
.u-bottom-spaced-big {
    margin-bottom: var(--ts-space-gap-big);
}
.u-bottom-spaced-huge {
    margin-bottom: var(--ts-space-gap-huge);
}

/** Top */
.u-top-spaced {
    margin-top: var(--ts-space-gap);
}
.u-top-spaced-small {
    margin-top: var(--ts-space-gap-small);
}
.u-top-spaced-large {
    margin-top: var(--ts-space-gap-large);
}
.u-top-spaced-big {
    margin-top: var(--ts-space-gap-big);
}
.u-top-spaced-huge {
    margin-top: var(--ts-space-gap-huge);
}

/** Start */
.u-start-spaced {
    margin-left: var(--ts-space-gap);
}
.u-start-spaced-small {
    margin-left: var(--ts-space-gap-small);
}
.u-start-spaced-large {
    margin-left: var(--ts-space-gap-large);
}
.u-start-spaced-big {
    margin-left: var(--ts-space-gap-big);
}
.u-start-spaced-huge {
    margin-left: var(--ts-space-gap-huge);
}

/** End */
.u-end-spaced {
    margin-right: var(--ts-space-gap);
}
.u-end-spaced-small {
    margin-right: var(--ts-space-gap-small);
}
.u-end-spaced-large {
    margin-right: var(--ts-space-gap-large);
}
.u-end-spaced-big {
    margin-right: var(--ts-space-gap-big);
}
.u-end-spaced-huge {
    margin-right: var(--ts-space-gap-huge);
}

/**
 * Hidden
 */

.u-hidden {
    display: none !important;
}
.u-invisible {
    visibility: hidden !important;
}

/**
 * Edged
 */

.u-edged {
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
}

/* ==========================================================================
   Color Schemes
   ========================================================================== */

/**
 * Light
 */

html,
html.is-light,
.u-light,
html.is-dark .u-inverted {
    color-scheme: light;

    --ts-gray-50: var(--ts-light-gray-50);
    --ts-gray-75: var(--ts-light-gray-75);
    --ts-gray-100: var(--ts-light-gray-100);
    --ts-gray-200: var(--ts-light-gray-200);
    --ts-gray-300: var(--ts-light-gray-300);
    --ts-gray-400: var(--ts-light-gray-400);
    --ts-gray-500: var(--ts-light-gray-500);
    --ts-gray-600: var(--ts-light-gray-600);
    --ts-gray-700: var(--ts-light-gray-700);
    --ts-gray-800: var(--ts-light-gray-800);
    --ts-gray-900: var(--ts-light-gray-900);

    --ts-tonal-positive-400: #cdffbe;
    --ts-tonal-positive-800: #357016;

    --ts-tonal-negative-400: #ffbebe;
    --ts-tonal-negative-800: #701616;

    --ts-tonal-primary-400: #d9edff;
    --ts-tonal-primary-800: #005cde;

    --ts-tonal-warning-400: #fff7ae;
    --ts-tonal-warning-800: #866800;
}

html.is-light .u-inverted,
.u-inverted,
html.is-dark,
.u-dark {
    color-scheme: dark;

    --ts-gray-50: var(--ts-dark-gray-50);
    --ts-gray-75: var(--ts-dark-gray-75);
    --ts-gray-100: var(--ts-dark-gray-100);
    --ts-gray-200: var(--ts-dark-gray-200);
    --ts-gray-300: var(--ts-dark-gray-300);
    --ts-gray-400: var(--ts-dark-gray-400);
    --ts-gray-500: var(--ts-dark-gray-500);
    --ts-gray-600: var(--ts-dark-gray-600);
    --ts-gray-700: var(--ts-dark-gray-700);
    --ts-gray-800: var(--ts-dark-gray-800);
    --ts-gray-900: var(--ts-dark-gray-900);

    --ts-link-700: #8887ff;

    --ts-tonal-positive-400: #92d34f;
    --ts-tonal-positive-800: #0e4600;

    --ts-tonal-negative-400: #d60000;
    --ts-tonal-negative-800: #fff;

    --ts-tonal-primary-400: #0a6ffd;
    --ts-tonal-primary-800: #ffffff;

    --ts-tonal-warning-400: #edff00;
    --ts-tonal-warning-800: #463f00;
}

/**
  * Hidden
  */

html.is-light .u-light-hidden,
html.is-dark .u-dark-hidden {
    display: none !important;
}

@media (prefers-color-scheme: light) {
    html:not(.is-dark) .u-light-hidden {
        display: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    html:not(.is-light) .u-dark-hidden {
        display: none !important;
    }
}

/**
 * Dark
 */

@media (prefers-color-scheme: dark) {
    .u-inverted {
        color-scheme: light;

        --ts-gray-50: var(--ts-light-gray-50);
        --ts-gray-75: var(--ts-light-gray-75);
        --ts-gray-100: var(--ts-light-gray-100);
        --ts-gray-200: var(--ts-light-gray-200);
        --ts-gray-300: var(--ts-light-gray-300);
        --ts-gray-400: var(--ts-light-gray-400);
        --ts-gray-500: var(--ts-light-gray-500);
        --ts-gray-600: var(--ts-light-gray-600);
        --ts-gray-700: var(--ts-light-gray-700);
        --ts-gray-800: var(--ts-light-gray-800);
        --ts-gray-900: var(--ts-light-gray-900);

        --ts-tonal-positive-400: #cdffbe;
        --ts-tonal-positive-800: #357016;

        --ts-tonal-negative-400: #ffbebe;
        --ts-tonal-negative-800: #701616;

        --ts-tonal-primary-400: #d9edff;
        --ts-tonal-primary-800: #005cde;

        --ts-tonal-warning-400: #fff7ae;
        --ts-tonal-warning-800: #866800;
    }
}

/**
 * Content
 */

.ts-content.u-dark {
    background: var(--ts-gray-50);
    color: var(--ts-gray-800);
}

/* ==========================================================================
   Center
   ========================================================================== */

.ts-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    color: inherit;
}
