/* ==========================================================================
   Variables
   ========================================================================== */

.ts-divider {
    --gap: 0;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-divider {
    border-top: 1px solid var(--ts-gray-300);
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Vertical
 */

.ts-divider.is-vertical {
    border-top: 0;
    border-left: 1px solid var(--ts-gray-300);
}

/**
 * Section
 */

.ts-divider.is-section {
    --gap: 1rem;
}

/**
 * Text
 */

.ts-divider:is(.is-center-text, .is-start-text, .is-end-text) {
    display: flex;
    align-items: center;
    border-top: 0;
    gap: 1rem;
    color: var(--ts-gray-800);
}

.ts-divider:is(.is-center-text, .is-start-text, .is-end-text)::before,
.ts-divider:is(.is-center-text, .is-start-text, .is-end-text)::after {
    content: "";
    height: 1px;
    background-color: var(--ts-gray-300);
    flex-grow: 1;
}

.ts-divider.is-start-text::before {
    display: none;
}

.ts-divider.is-end-text::after {
    display: none;
}
