/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-divider {
    border-top: 1px solid var(--ts-gray-300);
    position: relative;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Vertical
 */

.ts-divider.is-vertical {
    height: 100%;
    border-top: 0;
    border-left: 1px solid var(--ts-gray-300);
}

/**
 * Section
 */

.ts-divider.is-section {
    margin: 1rem 0;
}

/**
 * Text
 */

.ts-divider.is-text {
    display: flex;
    align-items: center;
    border-top: 0;
    gap: 1rem;
    color: var(--ts-gray-800);
}

.ts-divider.is-text::before,
.ts-divider.is-text::after {
    content: "";
    height: 1px;
    background-color: var(--ts-gray-300);
    flex-grow: 1;
}
