/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 3rem;
    border: 4px solid var(--gray-300);

    border-style: none;
    background: var(--gray-200);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-empty .header {
    color: var(--gray-400);
    font-size: 1.5rem;
    font-weight: bold;
}

.ts-empty .description {
    color: var(--gray-400);
    font-size: 1rem;
    font-weight: 500;
}

.ts-empty .ts-icon {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 1rem;
    color: var(--gray-300);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Dashed
 */

.ts-empty.is-dashed {
    border-style: dashed;
    background: transparent;
}
