@font-face {
    font-family: 'Tocas-Lato';
    src: url('fonts/LatoLatin-Regular.eot');
    src: url('fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/LatoLatin-Regular.woff2') format('woff2'), url('fonts/LatoLatin-Regular.woff') format('woff'), url('fonts/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
