/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-fieldset {
    border: 1px solid var(--ts-gray-300);
    border-radius: 0.4rem;
    padding: 1rem;
    padding-top: 0.5rem;
    color: var(--ts-gray-800);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-fieldset legend {
    color: var(--ts-gray-600);
    padding: 0 0.7em;
    margin-left: -0.7em;
    font-weight: normal;
    pointer-events: none;
    user-select: none;
}

/**
 * Dense
 */

.ts-fieldset.is-dense {
    padding-bottom: 0.5rem;
    padding-top: 0.25rem;
}
