/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-fieldset {
    border: 1px solid var(--gray-300);
    border-radius: 0.4rem;
    padding: 1rem;
    padding-top: 0.5rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-fieldset legend {
    color: #bfbfbf;
    padding: 0 0.7em;
    margin-left: -0.7em;
    font-weight: normal;
    pointer-events: none;
    user-select: none;
}
