/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-file {
    width: 100%;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-file input {
    line-height: 1.5;
    font-size: var(--ts-relative-small);
    color: var(--ts-gray-700);
    padding: 0.35rem 1rem;
    padding-left: 0.6rem;
    border-radius: 0.4rem 0.4rem 0 0;
    border: 2px solid transparent;
    background: var(--ts-gray-100);
    border-bottom: 2px solid var(--ts-gray-400);
    width: 100%;
}

.ts-file input::file-selector-button,
.ts-file input::-webkit-file-upload-button {
    border: 0;
    min-width: 75px;
    font-size: var(--ts-relative-small);
    line-height: 1.5;
    font-weight: bold;
    color: var(--ts-gray-50);
    background: var(--ts-gray-900);
    text-decoration: none;
    display: inline-block;
    text-align: center;

    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    margin-right: 0.5rem;

    color: var(--ts-gray-900);
    background: var(--ts-gray-300);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Outlined
 */

.ts-file.is-outlined input {
    background: var(--ts-gray-50);
    border: 1px solid var(--ts-gray-300);
    border-radius: 0.4rem;
}

/**
 * Disabled
 */

.ts-file.is-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}
