/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(16, 1fr);
    color: inherit;
    position: relative;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Truncated
 */

.ts-grid .column.is-truncated {
    overflow: hidden;
}

/**
 * Columns
 */

.ts-grid.is-2-columns {
    grid-template-columns: repeat(2, 1fr);
}
.ts-grid.is-3-columns {
    grid-template-columns: repeat(3, 1fr);
}
.ts-grid.is-4-columns {
    grid-template-columns: repeat(4, 1fr);
}
.ts-grid.is-5-columns {
    grid-template-columns: repeat(5, 1fr);
}
.ts-grid.is-6-columns {
    grid-template-columns: repeat(6, 1fr);
}
.ts-grid.is-7-columns {
    grid-template-columns: repeat(7, 1fr);
}
.ts-grid.is-8-columns {
    grid-template-columns: repeat(8, 1fr);
}
.ts-grid.is-9-columns {
    grid-template-columns: repeat(9, 1fr);
}
.ts-grid.is-10-columns {
    grid-template-columns: repeat(10, 1fr);
}

/**
 * Relaxed
 */

.ts-grid.is-relaxed {
    gap: 2rem;
}
.ts-grid.is-compact {
    gap: 0.5rem;
}

/**
 * Evenly Divided
 */

.ts-grid.is-evenly-divided {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-columns: initial;
}

/**
 * Aligns
 */

.ts-grid.is-middle-aligned {
    align-items: center;
}
.ts-grid.is-center-aligned {
    text-align: center;
}

.ts-grid .column.is-top-aligned {
    align-items: flex-start;
    display: flex;
}

.ts-grid .column.is-middle-aligned {
    align-items: center;
    display: flex;
}

.ts-grid .column.is-center-aligned {
    text-align: center;
}

.ts-grid .column.is-bottom-aligned {
    align-items: flex-end;
    display: flex;
}

.ts-grid .column.is-start-aligned {
    text-align: left;
}

.ts-grid .column.is-end-aligned {
    text-align: right;
}

/**
 * Wides
 */

.ts-grid .column.is-1-minimal,
.ts-grid .column.is-1-wide {
    grid-column: auto / span 1;
}
.ts-grid .column.is-2-minimal,
.ts-grid .column.is-2-wide {
    grid-column: auto / span 2;
}
.ts-grid .column.is-3-minimal,
.ts-grid .column.is-3-wide {
    grid-column: auto / span 3;
}
.ts-grid .column.is-4-minimal,
.ts-grid .column.is-4-wide {
    grid-column: auto / span 4;
}
.ts-grid .column.is-5-minimal,
.ts-grid .column.is-5-wide {
    grid-column: auto / span 5;
}
.ts-grid .column.is-6-minimal,
.ts-grid .column.is-6-wide {
    grid-column: auto / span 6;
}
.ts-grid .column.is-7-minimal,
.ts-grid .column.is-7-wide {
    grid-column: auto / span 7;
}
.ts-grid .column.is-8-minimal,
.ts-grid .column.is-8-wide {
    grid-column: auto / span 8;
}
.ts-grid .column.is-9-minimal,
.ts-grid .column.is-9-wide {
    grid-column: auto / span 9;
}
.ts-grid .column.is-10-minimal,
.ts-grid .column.is-10-wide {
    grid-column: auto / span 10;
}
.ts-grid .column.is-11-minimal,
.ts-grid .column.is-11-wide {
    grid-column: auto / span 11;
}
.ts-grid .column.is-12-minimal,
.ts-grid .column.is-12-wide {
    grid-column: auto / span 12;
}
.ts-grid .column.is-13-minimal,
.ts-grid .column.is-13-wide {
    grid-column: auto / span 13;
}
.ts-grid .column.is-14-minimal,
.ts-grid .column.is-14-wide {
    grid-column: auto / span 14;
}
.ts-grid .column.is-15-minimal,
.ts-grid .column.is-15-wide {
    grid-column: auto / span 15;
}
.ts-grid .column.is-16-minimal,
.ts-grid .column.is-16-wide {
    grid-column: auto / span 16;
}

/**
 * Fluid
 */

.ts-grid .column.is-fluid {
    flex: 1;
}

/**
 * Doubling
 */

.ts-grid.is-2-columns.is-doubling {
    grid-template-columns: repeat(1, 1fr);
}
.ts-grid.is-3-columns.is-doubling {
    grid-template-columns: repeat(2, 1fr);
}
.ts-grid.is-4-columns.is-doubling {
    grid-template-columns: repeat(2, 1fr);
}
.ts-grid.is-5-columns.is-doubling {
    grid-template-columns: repeat(2, 1fr);
}
.ts-grid.is-6-columns.is-doubling {
    grid-template-columns: repeat(2, 1fr);
}
.ts-grid.is-7-columns.is-doubling {
    grid-template-columns: repeat(2, 1fr);
}
.ts-grid.is-8-columns.is-doubling {
    grid-template-columns: repeat(2, 1fr);
}
.ts-grid.is-9-columns.is-doubling {
    grid-template-columns: repeat(2, 1fr);
}
.ts-grid.is-10-columns.is-doubling {
    grid-template-columns: repeat(2, 1fr);
}

/* ==========================================================================
   Responsive
   ========================================================================== */

/**
 * Minimal
 * (Below 768px)
 */

@media screen and (max-width: 768px) {
    .is-standard-only,
    .is-maximal-only {
        display: none !important;
    }

    .is-not-minimal {
        display: none !important;
    }

    .ts-grid.is-stackable .column {
        grid-column: auto / span 16;
    }
}

/**
 * Not Minimal
 * (Above 768px)
 */

@media screen and (min-width: 768px) {
    .is-minimal-only {
        display: none !important;
    }

    /**
     * Doubling
     */

    .ts-grid.is-2-columns.is-doubling {
        grid-template-columns: repeat(1, 1fr);
    }
    .ts-grid.is-3-columns.is-doubling {
        grid-template-columns: repeat(2, 1fr);
    }
    .ts-grid.is-4-columns.is-doubling {
        grid-template-columns: repeat(2, 1fr);
    }
    .ts-grid.is-5-columns.is-doubling {
        grid-template-columns: repeat(3, 1fr);
    }
    .ts-grid.is-6-columns.is-doubling {
        grid-template-columns: repeat(3, 1fr);
    }
    .ts-grid.is-7-columns.is-doubling {
        grid-template-columns: repeat(3, 1fr);
    }
    .ts-grid.is-8-columns.is-doubling {
        grid-template-columns: repeat(4, 1fr);
    }
    .ts-grid.is-9-columns.is-doubling {
        grid-template-columns: repeat(4, 1fr);
    }
    .ts-grid.is-10-columns.is-doubling {
        grid-template-columns: repeat(5, 1fr);
    }

    /**
     * Wides
     */

    .ts-grid .column.is-1-standard,
    .ts-grid .column.is-1-wide {
        grid-column: auto / span 1;
    }
    .ts-grid .column.is-2-standard,
    .ts-grid .column.is-2-wide {
        grid-column: auto / span 2;
    }
    .ts-grid .column.is-3-standard,
    .ts-grid .column.is-3-wide {
        grid-column: auto / span 3;
    }
    .ts-grid .column.is-4-standard,
    .ts-grid .column.is-4-wide {
        grid-column: auto / span 4;
    }
    .ts-grid .column.is-5-standard,
    .ts-grid .column.is-5-wide {
        grid-column: auto / span 5;
    }
    .ts-grid .column.is-6-standard,
    .ts-grid .column.is-6-wide {
        grid-column: auto / span 6;
    }
    .ts-grid .column.is-7-standard,
    .ts-grid .column.is-7-wide {
        grid-column: auto / span 7;
    }
    .ts-grid .column.is-8-standard,
    .ts-grid .column.is-8-wide {
        grid-column: auto / span 8;
    }
    .ts-grid .column.is-9-standard,
    .ts-grid .column.is-9-wide {
        grid-column: auto / span 9;
    }
    .ts-grid .column.is-10-standard,
    .ts-grid .column.is-10-wide {
        grid-column: auto / span 10;
    }
    .ts-grid .column.is-11-standard,
    .ts-grid .column.is-11-wide {
        grid-column: auto / span 11;
    }
    .ts-grid .column.is-12-standard,
    .ts-grid .column.is-12-wide {
        grid-column: auto / span 12;
    }
    .ts-grid .column.is-13-standard,
    .ts-grid .column.is-13-wide {
        grid-column: auto / span 13;
    }
    .ts-grid .column.is-14-standard,
    .ts-grid .column.is-14-wide {
        grid-column: auto / span 14;
    }
    .ts-grid .column.is-15-standard,
    .ts-grid .column.is-15-wide {
        grid-column: auto / span 15;
    }
    .ts-grid .column.is-16-standard,
    .ts-grid .column.is-16-wide {
        grid-column: auto / span 16;
    }
}

/**
 * Minimal & Standard
 * (Below 993px)
 */

@media screen and (max-width: 993px) {
    .is-maximal-only {
        display: none !important;
    }
}

/**
 * Standard
 * (Above 768px & Below 993px)
 */

@media screen and (min-width: 768px) and (max-width: 993px) {
    .is-not-standard {
        display: none !important;
    }
}

/**
 * Maximal
 * (Above 993px)
 */

@media screen and (min-width: 993px) {
    .is-minimal-only,
    .is-standard-only {
        display: none !important;
    }

    .is-not-maximal {
        display: none !important;
    }

    /**
     * Doubling
     */

    .ts-grid.is-2-columns.is-doubling {
        grid-template-columns: repeat(2, 1fr);
    }
    .ts-grid.is-3-columns.is-doubling {
        grid-template-columns: repeat(3, 1fr);
    }
    .ts-grid.is-4-columns.is-doubling {
        grid-template-columns: repeat(4, 1fr);
    }
    .ts-grid.is-5-columns.is-doubling {
        grid-template-columns: repeat(5, 1fr);
    }
    .ts-grid.is-6-columns.is-doubling {
        grid-template-columns: repeat(6, 1fr);
    }
    .ts-grid.is-7-columns.is-doubling {
        grid-template-columns: repeat(7, 1fr);
    }
    .ts-grid.is-8-columns.is-doubling {
        grid-template-columns: repeat(8, 1fr);
    }
    .ts-grid.is-9-columns.is-doubling {
        grid-template-columns: repeat(9, 1fr);
    }
    .ts-grid.is-10-columns.is-doubling {
        grid-template-columns: repeat(10, 1fr);
    }

    /**
     * Wides
     */

    .ts-grid .column.is-1-maximal {
        grid-column: auto / span 1;
    }
    .ts-grid .column.is-2-maximal {
        grid-column: auto / span 2;
    }
    .ts-grid .column.is-3-maximal {
        grid-column: auto / span 3;
    }
    .ts-grid .column.is-4-maximal {
        grid-column: auto / span 4;
    }
    .ts-grid .column.is-5-maximal {
        grid-column: auto / span 5;
    }
    .ts-grid .column.is-6-maximal {
        grid-column: auto / span 6;
    }
    .ts-grid .column.is-7-maximal {
        grid-column: auto / span 7;
    }
    .ts-grid .column.is-8-maximal {
        grid-column: auto / span 8;
    }
    .ts-grid .column.is-9-maximal {
        grid-column: auto / span 9;
    }
    .ts-grid .column.is-10-maximal {
        grid-column: auto / span 10;
    }
    .ts-grid .column.is-11-maximal {
        grid-column: auto / span 11;
    }
    .ts-grid .column.is-12-maximal {
        grid-column: auto / span 12;
    }
    .ts-grid .column.is-13-maximal {
        grid-column: auto / span 13;
    }
    .ts-grid .column.is-14-maximal {
        grid-column: auto / span 14;
    }
    .ts-grid .column.is-15-maximal {
        grid-column: auto / span 15;
    }
    .ts-grid .column.is-16-maximal {
        grid-column: auto / span 16;
    }
}
