/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-header {
    font-weight: bold;
    font-size: var(--ts-font-size-17px);
    color: inherit;
    line-height: 1.6;
    display: flex;
    align-items: center;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-header .ts-icon {
}

a.ts-header {
    text-decoration: none;
}

a.ts-header:hover {
    text-decoration: underline;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Truncated
 */

.ts-header.is-truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

/**
 * Negative
 */

.ts-header.is-negative {
    color: var(--ts-negative-600);
}

/**
 * Aligns
 */

.ts-header.is-center-aligned {
    text-align: center;
    justify-content: center;
}
.ts-header.is-start-aligned {
    text-align: left;
    justify-content: flex-start;
}
.ts-header.is-end-aligned {
    text-align: right;
    justify-content: flex-end;
}

/**
 * Icon
 */

.ts-header.is-icon {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ts-header.is-icon .ts-icon {
    font-size: 3em;
    width: auto;
    line-height: 1;
    margin-bottom: 0.5rem;
}

/**
 * Side Icon
 */

.ts-header:is(.is-start-icon, .is-end-icon) .ts-icon {
    font-size: 1.5em;
}

.ts-header.is-start-icon .ts-icon {
    margin-right: 0.5rem;
}

.ts-header.is-end-icon .ts-icon {
    margin-left: 0.5rem;
}

/**
 * Secondary
 */

.ts-header.is-secondary {
    color: var(--ts-gray-600);
}

/**
 * Sizes
 */

.ts-header.is-large {
    font-size: var(--ts-font-size-20px);
}
.ts-header.is-big {
    font-size: var(--ts-font-size-24px);
}
.ts-header.is-huge {
    font-size: var(--ts-font-size-30px);
}
.ts-header.is-massive {
    font-size: var(--ts-font-size-33px);
}
