/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-header {
    position: relative;
    font-weight: bold;
    font-size: var(--relative-large);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-header .ts-icon {
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Icon
 */

.ts-header.is-icon {
}

/**
 * Disabled
 */

.ts-header.is-disabled {
}
