/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-header {
    position: relative;
    font-weight: bold;
    font-size: var(--ts-relative-large);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-header .ts-icon {
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Truncated
 */

.ts-header.is-truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**
 * Negative
 */

.ts-header.is-negative {
    color: var(--ts-negative-600);
}

/**
 * Icon
 */

.ts-header.is-icon {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ts-header.is-icon .ts-icon {
    font-size: 3em;
    width: auto;
    line-height: 1;
    margin-bottom: 0.5rem;
}

/**
 * Disabled
 */

.ts-header.is-disabled {
}

/**
 * Sizes
 */

.ts-header.is-large {
    font-size: var(--ts-relative-big);
}
.ts-header.is-big {
    font-size: var(--ts-relative-huge);
}
.ts-header.is-huge {
    font-size: var(--ts-relative-massive);
}
.ts-header.is-massive {
    font-size: calc(var(--ts-relative-massive) * 1.1);
}
