/* ==========================================================================
   Variables
   ========================================================================== */

@font-face {
    font-family: "Icons";
    src: url("fonts/icons/fa-solid-900.eot");
    src: url("fonts/icons/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fonts/icons/fa-solid-900.woff2") format("woff2"),
        url("fonts/icons/fa-solid-900.woff") format("woff"), url("fonts/icons/fa-solid-900.ttf") format("truetype"), url("fonts/icons/fa-solid-900.svg#fontawesome") format("svg");
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

@font-face {
    font-family: "IconsBrands";
    src: url("fonts/icons/fa-brands-400.eot");
    src: url("fonts/icons/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("fonts/icons/fa-brands-400.woff2") format("woff2"),
        url("fonts/icons/fa-brands-400.woff") format("woff"), url("fonts/icons/fa-brands-400.ttf") format("truetype"),
        url("fonts/icons/fa-brands-400.svg#fontawesome") format("svg");
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

@font-face {
    font-family: "IconsRegular";
    src: url("fonts/icons/fa-regular-400.eot");
    src: url("fonts/icons/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("fonts/icons/fa-regular-400.woff2") format("woff2"),
        url("fonts/icons/fa-regular-400.woff") format("woff"), url("fonts/icons/fa-regular-400.ttf") format("truetype"),
        url("fonts/icons/fa-regular-400.svg#fontawesome") format("svg");
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

@keyframes ts-icon-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-icon {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    width: 1.18em;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Regular
 */

.ts-icon.is-regular {
    font-family: "IconsRegular";
}

/**
 * Spinning
 */

.ts-icon.is-spinning {
    display: inline-block;
    animation: ts-icon-spin 2s linear infinite;
}

/**
 * Negative
 */

.ts-icon.is-negative {
    color: var(--ts-negative-500);
}

/**
 * Disabled
 */

.ts-icon.is-disabled {
    opacity: 0.25;
    pointer-events: none;
}

/**
 * Secondary
 */

.ts-icon.is-secondary {
    color: var(--ts-gray-500);
}

/**
 * Sizes
 */

.ts-icon.is-small {
    font-size: var(--ts-font-size-13px);
}

.ts-icon.is-large {
    font-size: var(--ts-font-size-18px);
}

/**
 * Heading
 */

.ts-icon.is-heading {
    line-height: 1;
    font-size: var(--ts-font-size-75px);
}
