/* ==========================================================================
   Variables
   ========================================================================== */

.ts-iconset {
    --accent-color: initial;
    --accent-foreground-color: initial;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-iconset {
    display: flex;
    gap: 1rem;
    line-height: 1.7;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-iconset .ts-icon {
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    background: var(--accent-color, var(--ts-gray-100));
    color: var(--accent-foreground-color, inherit);
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    display: flex;
    border-radius: 0.4rem;
}

.ts-iconset .content .title {
    font-weight: 500;
    line-height: 1.4;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Circular
 */

.ts-iconset.is-circular .ts-icon {
    border-radius: 100rem;
}

/**
 * Outlined
 */

.ts-iconset.is-outlined .ts-icon {
    background: transparent;
    color: var(--accent-color, inherit);
    border: 2px solid var(--ts-gray-300);
    box-sizing: border-box;
}
