/* ==========================================================================
   Variables
   ========================================================================== */

.ts-iconwrap {
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-iconwrap {
    display: flex;
    align-items: center;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-iconwrap .item {
    padding: 0.35rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border-radius: var(--ts-border-radius-element);
}

.ts-iconwrap .item:hover {
    background: var(--ts-gray-100);
}

.ts-iconwrap .item .ts-icon {
    font-size: 16px;
}

.ts-iconwrap .item .text {
    font-size: var(--ts-relative-small);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Circular
 */

.ts-iconwrap.is-circular .item {
    border-radius: 100rem;
}

/**
 * Active
 */

.ts-iconwrap .item.is-active {
    background: var(--ts-gray-800);
    color: var(--ts-gray-50);
    font-weight: 500;
}

/**
 * Disabled
 */

.ts-iconwrap .item:disabled,
.ts-iconwrap .item.is-disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

/**
 * Secondary
 */

.ts-iconwrap.is-secondary .item {
    opacity: 0.7;
}

.ts-iconwrap.is-secondary .item:hover {
    opacity: 1;
    background: transparent;
}

.ts-iconwrap.is-secondary .item.is-active {
    color: var(--ts-gray-800);
    background: transparent;
    opacity: 1;
}

/** Accent Color  */
