/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-image {
    width: 100%;
    vertical-align: top;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Circular
 */

.ts-image.is-circular {
    border-radius: 100rem !important;
}

/**
 * Rounded
 */

.ts-image.is-rounded {
    border-radius: 0.4rem !important;
}
