/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-image {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-image img {
    width: 100%;
    vertical-align: top;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Circular
 */

.ts-image.is-circular img {
    border-radius: 100rem !important;
}

/**
 * Disabled
 */

.ts-image.is-disabled img {
    opacity: 0.5;
    pointer-events: none;
}

/**
 * Rounded
 */

.ts-image.is-rounded img {
    border-radius: 0.4rem !important;
}

/**
 * Bordered
 */

.ts-image.is-bordered img {
    border: 1px solid var(--gray-300);
}

/**
 * Centered
 */

.ts-image.is-centered {
    display: block;
}
.ts-image.is-centered img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Sizes
 */

.ts-image.is-mini img {
    width: 35px;
}
.ts-image.is-tiny img {
    width: 80px;
}
.ts-image.is-small img {
    width: 150px;
}
.ts-image.is-medium img {
    width: 300px;
}
.ts-image.is-large img {
    width: 450px;
}
.ts-image.is-big img {
    width: 600px;
}
.ts-image.is-huge img {
    width: 800px;
}
.ts-image.is-massive img {
    width: 960px;
}
