/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-list {
}

/* ==========================================================================
   Structure
   ========================================================================== */

/* ==========================================================================
   Variations
   ========================================================================== */

.ts-list:is(.is-ordered, .is-unordered) {
    margin-left: 1rem;
}

.ts-list:is(.is-unordered, .is-ordered) .item {
    display: list-item;
}

/**
 * Unordered
 */

.ts-list.is-unordered > .item,
.ts-list.is-unordered > *:not(.ts-list) > .item {
    list-style-type: disc;
}

/**
 * Ordered
 */

.ts-list.is-ordered > .item,
.ts-list.is-ordered > *:not(.ts-list) > .item {
    list-style-type: decimal;
}
