/* ==========================================================================
   Variables
   ========================================================================== */

@keyframes ts-spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-loading {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    display: inline-block;
    animation: ts-spinning 2s linear infinite;

    color: var(--gray-600);
    font-size: 2rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-loading::after {
    content: "\f110";
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Notched
 */

.ts-loading.is-notched::after {
    content: "\f1ce";
}
