/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-mask {
    position: relative;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-mask .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 50%);
    color: var(--gray-50);
}
