/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-mask {
    position: relative;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 50%);
    color: var(--gray-50);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Vertical Aligns
 */

.ts-mask.is-top {
    top: 0;
    bottom: initial;
}

.ts-mask.is-middle {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.ts-mask.is-bottom {
    bottom: 0;
    top: initial;
}

/**
 * Blurring
 */

.ts-mask.is-blurring {
    backdrop-filter: blur(3px);
}

/**
 * Secondary
 */

.ts-mask.is-secondary {
    background: transparent;
    color: var(--gray-800);
}
