/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 50%);
    color: var(--ts-gray-50);
    z-index: 101;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Vertical Aligns
 */

.ts-mask.is-top {
    top: 0;
    bottom: initial;
}

.ts-mask.is-middle {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.ts-mask.is-bottom {
    bottom: 0;
    top: initial;
}

/**
 * Blurring
 */

.ts-mask.is-blurring {
    backdrop-filter: blur(3px);
}

/**
 * Secondary
 */

.ts-mask.is-secondary {
    background: transparent;
    color: var(--ts-gray-800);
}

/**
 * Faded
 */

.ts-mask.is-faded.is-top {
    background: linear-gradient(to bottom, rgb(0 0 0 / 50%) 0%, rgba(0, 0, 0, 0) 100%);
}

.ts-mask.is-faded.is-bottom {
    background: linear-gradient(to top, rgb(0 0 0 / 50%) 0%, rgba(0, 0, 0, 0) 100%);
}
