/* ==========================================================================
   Variables
   ========================================================================== */

.ts-menu {
    --object-distance: 0.8rem;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-menu {
    color: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ts-menu .item {
    font-family: inherit;
    appearance: none;
    border: unset;
    font-size: inherit;
    text-align: inherit;
    background: transparent;
    color: inherit;
    line-height: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    gap: var(--object-distance);
}

.ts-menu .item .ts-icon {
    font-size: 1.1em;
}

.ts-menu .item .ts-badge {
    margin-left: auto;
    margin-top: -1px;
}

.ts-menu .item .ts-avatar {
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
}

.ts-menu .item .description {
    font-size: var(--ts-relative-small);
    color: var(--ts-gray-500);

    text-align: right;
    margin-left: auto;
    float: right;
}

.ts-menu .item:hover {
    cursor: pointer;
    background: var(--ts-gray-75);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-menu .item.is-active {
    background: var(--ts-gray-800);
    color: var(--ts-gray-50);
}

/**
 * Disabled
 */

.ts-menu .item.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

/**
 * Selected
 */

.ts-menu .item.is-selected {
    background: var(--ts-primary-700);
    color: var(--ts-white);
}

/**
 * Separated
 */

.ts-menu.is-separated {
    gap: 0.25rem;
}

.ts-menu.is-separated .item {
    border-radius: 0.4rem;
}

/**
 * Icon
 */

.ts-menu.is-start-icon .item .ts-icon {
    min-width: 1rem;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
}

.ts-menu.is-end-icon .item .ts-icon {
    margin-left: auto;
    min-width: 1rem;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
}

/**
 * Collapsed
 */

.ts-menu.is-collapsed {
    width: fit-content;
}

/**
 * Density
 */

.ts-menu.is-relaxed .item {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.ts-menu.is-dense .item {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
}

/**
 * Sizes
 */

.ts-menu.is-small {
    font-size: var(--ts-font-size-14px);
}
.ts-menu.is-large {
    font-size: var(--ts-font-size-16px);
}

/**
 * Dropdown
 */

.ts-menu.is-dropdown {
    --object-distance: 0.5rem;

    position: absolute;

    display: none;
    z-index: 100;
    border: 1px solid var(--ts-gray-300);
    border-radius: 0.4rem;
    background: var(--ts-gray-50);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    font-size: var(--ts-font-size-14px);
    padding: 0.2rem 0;
    white-space: nowrap;
}

.ts-menu.is-dropdown.is-visible {
    display: inline-flex;
}

.ts-menu.is-dropdown.is-fluid {
    min-width: 100%;
}

.ts-menu.is-dropdown .item {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    min-width: max-content;
}

.ts-menu.is-dropdown.is-top-left {
    bottom: calc(100% + 0.5rem);
    left: 0;
}

.ts-menu.is-dropdown.is-bottom-left {
    top: calc(100% + 0.5rem);
    left: 0;
}

.ts-menu.is-dropdown.is-top-right {
    bottom: calc(100% + 0.5rem);
    right: 0;
}

.ts-menu.is-dropdown.is-bottom-right {
    top: calc(100% + 0.5rem);
    right: 0;
}

.ts-menu.is-dropdown.is-top-center {
}

.ts-menu.is-dropdown.is-bottom-center {
}
