/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-notification {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-notification .aside .ts-icon {
    padding: 0.9rem;
    background: var(--gray-200);
    border-radius: 0.4rem;
    font-size: 1.3rem;
    color: var(--gray-600);
    display: block;
    width: auto;
    line-height: 1;
}

.ts-notification .aside .ts-image {
    object-fit: cover;
    aspect-ratio: 1/1;
    max-height: 44px;
    border-radius: 0.4rem;
}

.ts-notification .content .actions {
    border-top: 1px solid var(--gray-300);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

.ts-notification .content .actions .item {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    cursor: pointer;
}

.ts-notification .content {
    font-size: 14px;
    color: var(--gray-800);
    flex: 1;
}

.ts-notification .content .text {
    min-height: 42px;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Emphasises
 */

.ts-notification .content .actions .item.is-primary {
    color: var(--primary-700);
}

.ts-notification .content .actions .item.is-negative {
    color: var(--negative-600);
}

/**
 * Secondary
 */

.ts-notification .content .actions .item.is-secondary {
    color: var(--gray-500);
}
