/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-pagination {
    background: var(--gray-200);
    display: inline-flex;
    padding: 0.25rem 0.5rem;
    border-radius: 100rem;
    color: var(--gray-700);
    border: 1px solid var(--gray-200);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-pagination .item {
    border-radius: 100rem;
    padding: 0.5rem 0.8rem;
    line-height: 1;
    margin: 0 0.15rem;
    color: var(--gray-600);
    cursor: pointer;
    text-decoration: none;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Active
 */

.ts-pagination .item.is-active {
    background: var(--gray-900);
    color: var(--gray-50);
}

/**
 * Fluid
 */

.ts-pagination.is-fluid {
    display: flex;
}

/**
 * Aligns
 */

/*.ts-pagination.is-end-aligned {
    margin-left: auto;
}*/

/**
 * Next & Back
 */

.ts-pagination .item.is-back,
.ts-pagination .item.is-next {
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

.ts-pagination .item.is-back::before {
    content: "\f048";
}

.ts-pagination .item.is-next {
    margin-left: auto;
}

.ts-pagination .item.is-next::before {
    content: "\f051";
}
