/* ==========================================================================
   Variables
   ========================================================================== */

.ts-popover {
    --ts-popover-position: fixed;
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts-popover {
    display: block;
    position: fixed;
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--ts-color-border);
    border-radius: var(--ts-border-radius-element);
    overflow: hidden;
    background: var(--ts-color-background);
    box-shadow: var(--ts-elevated-shadow);
}

/* ==========================================================================
   Structure
   ========================================================================== */
