/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: var(--ts-gray-800);
    vertical-align: middle;
    margin-top: -3px;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-radio input {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.ts-radio input {
    position: relative;
    height: 1.15rem;
    width: 1.15rem;
    border-radius: 500rem;
    border: 1px solid var(--ts-gray-200);
    background: var(--ts-gray-200);
    margin-right: 0.5rem;
    cursor: pointer;
}

.ts-radio input:checked {
    background: var(--ts-primary-700);
    border-color: var(--ts-primary-700);
}

.ts-radio input:focus {
    outline: 0;
}

.ts-radio input::after {
    position: absolute;
    display: none;
    content: "\f111";
    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transform: scale(0.5);

    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    font-size: 1rem;
    color: var(--ts-gray-50);
}

.ts-radio input:checked::after {
    display: flex;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Disabled
 */

.ts-radio.is-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

.ts-radio.is-disabled input {
    background: var(--ts-gray-200);
    border-color: var(--ts-gray-200);
}

/**
 * Negative
 */

.ts-radio.is-negative input {
    border-color: var(--ts-negative-600);
    border-width: 2px;
}

/**
 * Sizes
 */

.ts-radio.is-small input {
    height: 0.95rem;
    width: 0.95rem;
}

.ts-radio.is-small input::after {
    font-size: var(--ts-font-size-14px);
}

.ts-radio.is-small {
    font-size: var(--ts-font-size-14px);
}

.ts-radio.is-large input {
    height: 1.3rem;
    width: 1.3rem;
}

.ts-radio.is-large {
    font-size: var(--ts-font-size-17px);
}

.ts-radio.is-large input::after {
    font-size: var(--ts-font-size-18px);
}
