/* ==========================================================================
   Variables
   ========================================================================== */

.ts-rail {

}

/* ==========================================================================
   Base
   ========================================================================== */

   .ts-rail {
    --distance: 1rem;
    --top: 0;

    position: relative;
    height: 100%
}

/* ==========================================================================
   Variations
   ========================================================================== */

   .ts-rail .content.is-locked-top {
    position: sticky;
    top: var(--distance);
}
.ts-rail .content.is-locked-bottom {
    position: sticky;
    top: calc(var(--top) - var(--distance));
}
.ts-rail .content.is-locked-middle {
    position: relative;
    top: 0;
    transform: translateY(var(--top));
}
.ts-rail .content.is-calculating-top {
    position: relative !important;
    top: 0 !important;
}