/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-reactions {
    display: flex;
    gap: 0.5rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-reactions .item {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.ts-reactions .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.4rem;
    padding: 0.4rem 0.4rem;
    line-height: 1;
    cursor: pointer;
    color: var(--gray-600);
}

.ts-reactions .item .counter {
    font-size: var(--absolute-small);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Circular
 */

.ts-reactions.is-circular .item {
    border-radius: 500rem;
}

/**
 * Active
 */

.ts-reactions .item.is-active {
    color: var(--gray-900);
    background: var(--gray-100);
    border-color: var(--gray-600);
}

/**
 * Disabled
 */

.ts-reactions .item.is-disabled {
    color: var(--gray-600);
    opacity: 0.5;
    pointer-events: none;
}
