/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-select {
    position: relative;
    display: inline-flex;
    border-radius: 0.4rem 0.4rem 0 0;
    border: 2px solid transparent;
    background: var(--ts-gray-100);
    border-bottom: 2px solid var(--ts-gray-400);
    /*min-height: 2.5rem;*/
    /*width: 100%;*/
    cursor: pointer;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-select select {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.ts-select select:focus {
    outline: 0;
}

.ts-select select {
    line-height: 1.5;
    font-size: var(--ts-font-size-14px);
    color: var(--ts-gray-800);

    padding: 0.45rem 1rem;
    padding-right: 2.5rem;

    width: 100%;
    cursor: pointer;
}

.ts-select:focus-within {
    border-bottom-color: var(--ts-primary-600);
}

.ts-select::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ts-gray-700);

    font-family: "Icons";
    font-weight: normal;
    font-style: normal;

    text-decoration: inherit;
    text-align: center;
    width: 1.18em;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    content: "\f078";
    font-size: 13px;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Outlined
 */

.ts-select.is-outlined {
    background: var(--ts-gray-50);
    border: 1px solid var(--ts-gray-300);
    border-radius: 0.4rem;
}

.ts-select.is-outlined:focus-within {
    border-color: var(--ts-primary-600);
}

/**
 * Basic
 */

.ts-select.is-basic {
    padding: 0;
    background: transparent;
    border-color: transparent;
    min-height: initial;
}

.ts-select.is-basic select {
    line-height: 1;
    padding: 0 1.4rem 0 0;
}

.ts-select.is-basic::after {
    right: 0;
    font-size: 12px;
    padding-top: 2px;
}

/**
 * Disabled
 */

.ts-select.is-disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

/**
 * Fluid
 */

.ts-select.is-fluid {
    width: 100%;
}

/**
 * Negative
 */

.ts-select.is-negative {
    border-bottom-color: var(--ts-negative-400);
}

.ts-select.is-negative select {
    color: var(--ts-negative-600);
    font-weight: 500;
}

.ts-select.is-negative.is-outlined {
    border-color: var(--ts-negative-400);
}

/**
 * Sizes
 */

.ts-select.is-small select {
    font-size: var(--ts-font-size-13px);
}
.ts-select.is-large select {
    font-size: var(--ts-font-size-17px);
}

/**
 * Dense
 */

.ts-select.is-dense {
    min-height: 2rem;
}

.ts-select.is-dense select {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
