/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-selection {
    border: 1px solid var(--gray-100);
    border-radius: 0.4rem;
    padding: 0rem 0.5rem;
    display: inline-flex;
    background: var(--gray-100);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-selection .item {
    display: flex;
    position: relative;
}

.ts-selection .item .text {
    display: inline-flex;
    padding: 0.25rem 1rem;
    border-radius: 0.4rem;
    font-size: var(--absolute-small);
    color: var(--gray-700);
    border-color: var(--gray-100);
    margin: 0.25rem 0rem;
    user-select: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ts-selection .item input {
    display: none;
}

.ts-selection input:checked + .text {
    background: var(--primary-700);
    border-color: var(--primary-700);
    color: var(--gray-50);
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Disabled
 */

.ts-selection.is-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.ts-selection .item.is-disabled {
    pointer-events: none;
    opacity: 0.5;
}

/**
 * Circular
 */

.ts-selection.is-circular {
    border-radius: 500rem;
}

.ts-selection.is-circular .item .text {
    border-radius: 500rem;
}

/**
 * Fluid
 */

.ts-selection.is-fluid {
    width: 100%;
}
.ts-selection.is-fluid .item {
    flex: 1;
}
.ts-selection.is-fluid .item .text {
    width: 100%;
}
