/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-slate {
    padding: 1.8rem 1rem;
    background: var(--gray-100);
    border-bottom: 1px solid var(--gray-200);
}
