/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-slate {
    padding: 1.8rem 1rem;
    background: var(--ts-gray-100);
    border-bottom: 1px solid var(--ts-gray-200);
}
