/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-snackbar {
    background: var(--ts-gray-700);
    color: var(--ts-gray-50);
    display: inline-flex;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-size: 14px;
    position: relative;
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-snackbar .content {
    margin: 0.25rem 0;
}

.ts-snackbar .action {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    margin-left: 2rem;

    align-self: flex-start;
    padding: 0.65em 1em;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    color: var(--ts-primary-400);
    border-radius: 0.4rem;
    font-size: 14px;
    cursor: pointer;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Negative
 */

.ts-snackbar .action.is-negative {
    color: var(--ts-negative-500);
}
