/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-snackbar {
    background: var(--ts-light-gray-800);
    color: white;
    display: inline-flex;
    padding: 0.35rem 1rem;
    border-radius: var(--ts-border-radius-element);
    font-size: var(--ts-absolute-small);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-snackbar .content {
    margin: 0.25rem 0;
}

.ts-snackbar .action {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    font: inherit;
    line-height: normal;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    margin-right: -0.5rem;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    appearance: none;
    -webkit-appearance: none;

    margin-left: 1rem;

    align-self: flex-start;
    padding: 0.6em 1em;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    color: var(--ts-primary-400);
    border-radius: var(--ts-border-radius-element);
    font-size: var(--ts-absolute-small);
    cursor: pointer;
}

.ts-snackbar .close {
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    color: inherit;
    font: inherit;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

    appearance: none;
    -webkit-appearance: none;

    font-family: "Icons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--ts-font-size-18px);
    line-height: 1;

    background: transparent;
    height: 32px;
    width: 32px;
    padding-top: 1px;
    margin-left: 1rem;
    margin-right: -0.5rem;
}

.ts-snackbar .action + .close {
    margin-left: 0.5rem;
}

.ts-snackbar .close::before {
    content: "\f00d";
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Negative
 */

.ts-snackbar .action.is-negative {
    color: var(--ts-negative-500);
}
