/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-space {
    --gap: 0.5rem;

    height: var(--gap);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-space::before {
    content: " ";
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Sizes
 */

.ts-space.is-medium {
    --gap: 1rem;
}

.ts-space.is-large {
    --gap: 1.5rem;
}
