/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-space {
    --ts-gap: 1rem;

    height: var(--ts-gap);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-space::before {
    content: " ";
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Sizes
 */

.ts-space.is-small {
    --ts-gap: 0.5rem;
}

.ts-space.is-large {
    --ts-gap: 1.5rem;
}

.ts-space.is-big {
    --ts-gap: 3rem;
}

.ts-space.is-huge {
    --ts-gap: 4.5rem;
}
