/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-space {
    height: var(--ts-space-gap);
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-space::before {
    content: " ";
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Sizes
 */

.ts-space.is-small {
    height: var(--ts-space-gap-small);
}

.ts-space.is-large {
    height: var(--ts-space-gap-large);
}

.ts-space.is-big {
    height: var(--ts-space-gap-big);
}

.ts-space.is-huge {
    height: var(--ts-space-gap-huge);
}
