/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-stack {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    gap: 0.5rem;
}

/* ==========================================================================
   Structure
   ========================================================================== */

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Fluid
 */

.ts-stack .column.is-fluid {
    flex-grow: 1;
}

/**
 * Sizes
 */

.ts-stack.is-small {
    gap: 0.5rem;
}

.ts-stack.is-medium {
    gap: 1rem;
}

.ts-stack.is-large {
    gap: 1.5rem;
}

/**
 * Gapless
 */

.ts-stack.is-gapless {
    gap: 0;
}
