/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: inherit;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Aligns
 */

.ts-stack.is-start-aligned {
    justify-content: flex-start;
}

.ts-stack.is-center-aligned {
    justify-content: center;
}

.ts-stack.is-end-aligned {
    justify-content: flex-end;
}

.ts-stack.is-top-aligned {
    align-items: flex-start;
}

.ts-stack.is-middle-aligned {
    align-items: center;
}

.ts-stack.is-bottom-aligned {
    align-items: flex-end;
}

.ts-stack .column.is-middle-aligned {
    align-items: center;
    display: flex;
}

.ts-stack .column.is-center-aligned {
    justify-content: center;
    display: flex;
}

.ts-stack .column.is-bottom-aligned {
    align-items: flex-end;
    display: flex;
}

.ts-stack .column.is-start-aligned {
    text-align: left;
}

.ts-stack .column.is-end-aligned {
    text-align: right;
}

/**
 * Evenly Divided
 */

.ts-stack.is-evenly-divided .column {
    flex: 1;
}

/**
 * Fluid
 */

.ts-stack .column.is-fluid {
    flex: 1;
}

/**
 * Gapless
 */

.ts-stack.is-compact {
    gap: 0.5rem;
}

.ts-stack.is-relaxed {
    gap: 2rem;
}
