@charset "UTF-8"
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css)

*
    font-family: 'Open Sans', 'Noto Sans TC', 'Meiryo', '微軟正黑體', 'Microsoft JhengHei'
    box-sizing: border-box


  
@import modules/units
@import modules/colors
@import modules/variables

p:not(:first-child)
    margin-top: .9em
    margin-bottom: .9em

p:last-child:not(:first-child)
    margin-bottom: 0
    
p:first-child
    margin-top: 0
    
p:last-child:first-child
    margin-top: 0
    margin-bottom: 0
    
@import modules/helpers
@import modules/extends

html
    font-size: $fontSize
body
    line-height: $lineHeight
    

@import modules/reset
@import modules/normalize
@import modules/rwd
@import partials/elements/button
@import partials/elements/header
@import partials/elements/segment
@import partials/elements/list
@import partials/collections/grid
@import partials/collections/menu
@import partials/collections/breadcrumb
@import partials/collections/message
@import partials/elements/jumbotron
@import partials/elements/loader
@import partials/elements/input
@import partials/elements/container
@import partials/collections/form
@import partials/elements/icon
@import partials/views/card
@import partials/modules/dropdown
@import partials/modules/checkbox
@import partials/elements/label
@import partials/elements/divider
@import partials/modules/dimmer
@import partials/elements/image
@import partials/views/item
@import partials/modules/calendar