/* ==========================================================================
   Imports
   ========================================================================== */

   @import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500|Noto+Sans+JP:400,500|Noto+Sans+KR:400,500|Noto+Sans+SC:400,500|Noto+Sans+TC:400,500&display=swap&subset=chinese-hongkong,chinese-simplified,chinese-traditional,cyrillic,japanese,korean,vietnamese");

@import "./colors.css";
@import "./components/accordion.css";
@import "./components/appbar.css";
@import "./components/bottom-sheet.css";
@import "./components/breadcrumb.css";
@import "./components/button.css";
@import "./components/card.css";
@import "./components/carousel.css";
@import "./components/checkbox.css";
@import "./components/comments.css";
@import "./components/container.css";
@import "./components/dialog.css";
@import "./components/dimmer.css";
@import "./components/divider.css";
@import "./components/drawer.css";
@import "./components/dropdown.css";
@import "./components/editable.css";
@import "./components/embed.css";
@import "./components/emoji.css";
@import "./components/feed.css";
@import "./components/file.css";
@import "./components/flag.css";
@import "./components/form.css";
@import "./components/gallery.css";
@import "./components/grid.css";
@import "./components/header.css";
@import "./components/icon.css";
@import "./components/icon.map.css";
@import "./components/image.css";
@import "./components/infoitems.css";
@import "./components/input.css";
@import "./components/items.css";
@import "./components/label.css";
@import "./components/layout.css";
@import "./components/list.css";
@import "./components/loader.css";
@import "./components/masonry.css";
@import "./components/menu.css";
@import "./components/message.css";
@import "./components/modal.css";
@import "./components/pagination.css";
@import "./components/placeholder.css";
@import "./components/popup.css";
@import "./components/progress.css";
@import "./components/quote.css";
@import "./components/radio.css";
@import "./components/rating.css";
@import "./components/search.css";
@import "./components/segment.css";
@import "./components/select.css";
@import "./components/sidebar.css";
@import "./components/slate.css";
@import "./components/slider.css";
@import "./components/snackbar.css";
@import "./components/statistic.css";
@import "./components/steps.css";
@import "./components/table.css";
@import "./components/text.css";
@import "./components/timeline.css";

/* ==========================================================================
   Variables
   ========================================================================== */

:root {
    --global_font-family        : "Noto Sans TC", "Noto Sans HK", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR";
    --global_main-font-size     : 16px;
    --global_secondary-font-size: 15px;
    --global_tertiary-font-size : 14px;
    --global_font-size          : var(--global_main-font-size);
    --global_background-color   : #FFF;

    /**
     * 40px: 2.5rem
     * 38px: 2.375rem
     * 36px: 2.25rem
     * 34px: 2.125rem
     * 32px: 2rem
     * 30px: 1.875rem
     * 28px: 1.75rem
     * 26px: 1.625rem
     * 24px: 1.5rem
     * 22px: 1.375rem
     * 20px: 1.25rem
     * 19px: 1.1875rem
     * 18px: 1.125rem
     * 17px: 1.0625rem
     * 16px: 1rem
     * 15px: .9375rem
     * 14px: .875rem
     * 13px: .8125rem
     */

    /**
     * Block
     */

    --default__block_border-radius: .3rem;
    --default__block_padding      : 1rem;
    --default__block_margin       : 1rem;

    /**
     * Element
     */

    --default__element_vertical-padding: .4em;
    --default__element_font-size       : 15px;

    /**
     * Typography
     */

    --default__typography_font-size  : 1rem;
    --default__typography_margin     : 1rem;
    --default__typography_line-height: 1.85;
}

/* ==========================================================================
   Font Family
   ========================================================================== */

@font-face {
    font-family   : 'Tocas-Lato';
    src           : url('./fonts/LatoLatin-Regular.eot');
    src           : url('./fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/LatoLatin-Regular.woff2') format('woff2'), url('./fonts/LatoLatin-Regular.woff') format('woff'), url('./fonts/LatoLatin-Regular.ttf') format('truetype');
    font-style    : normal;
    font-weight   : normal;
    text-rendering: optimizeLegibility;
}

/* ==========================================================================
   Page
   ========================================================================== */

html {
    font-family: var(--global_font-family);
    font-size  : var(--global_font-size);
    padding    : 0;
    margin     : 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

.ts p:not(:first-child),
.ts cite:not(:first-child) {
    margin-block-start: var(--default__typography_margin);
}

.ts p:first-child,
.ts cite:first-child {
    margin-block-start: 0;
}

.ts p,
.ts cite,
.ts p:last-child,
.ts cite:last-child {
    margin-block-end: 0;
}

/*.ts a {
    color          : var(--typography_link-color);
    text-decoration: underline;
}
.ts a:hover {
    color: var(--typography_link-hover-color);
}*/

/* ==========================================================================
   Z Indexes
   ========================================================================== */

:root {
    --z_slate_typography    : 1;
    --z_button_pulsingBefore: -1;
    --z_segment_piled-before: -2;
    --z_segment_piled-after : -1;
}