/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-typography {
}

/* ==========================================================================
   Structure
   ========================================================================== */

.ts-typography *:first-child {
    margin-top: 0;
}

.ts-typography .ts-header:first-child {
    margin-top: -0.3em;
}

.ts-typography *:last-child {
    margin-bottom: 0;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Heading
 */
