/**
 * Padded
 */

.has-padded {
    padding: var(--ts-space-gap) !important;
}
.has-padded-small {
    padding: var(--ts-space-gap-small) !important;
}
.has-padded-large {
    padding: var(--ts-space-gap-large) !important;
}
.has-padded-big {
    padding: var(--ts-space-gap-big) !important;
}
.has-padded-huge {
    padding: var(--ts-space-gap-huge) !important;
}

/** Horizontally */
.has-horizontally-padded {
    padding-left: var(--ts-space-gap) !important;
    padding-right: var(--ts-space-gap) !important;
}
.has-horizontally-padded-small {
    padding-left: var(--ts-space-gap-small) !important;
    padding-right: var(--ts-space-gap-small) !important;
}
.has-horizontally-padded-large {
    padding-left: var(--ts-space-gap-large) !important;
    padding-right: var(--ts-space-gap-large) !important;
}
.has-horizontally-padded-big {
    padding-left: var(--ts-space-gap-big) !important;
    padding-right: var(--ts-space-gap-big) !important;
}
.has-horizontally-padded-huge {
    padding-left: var(--ts-space-gap-huge) !important;
    padding-right: var(--ts-space-gap-huge) !important;
}

/** Vertically */
.has-vertically-padded {
    padding-top: var(--ts-space-gap) !important;
    padding-bottom: var(--ts-space-gap) !important;
}
.has-vertically-padded-small {
    padding-top: var(--ts-space-gap-small) !important;
    padding-bottom: var(--ts-space-gap-small) !important;
}
.has-vertically-padded-large {
    padding-top: var(--ts-space-gap-large) !important;
    padding-bottom: var(--ts-space-gap-large) !important;
}
.has-vertically-padded-big {
    padding-top: var(--ts-space-gap-big) !important;
    padding-bottom: var(--ts-space-gap-big) !important;
}
.has-vertically-padded-huge {
    padding-top: var(--ts-space-gap-huge) !important;
    padding-bottom: var(--ts-space-gap-huge) !important;
}

/** Bottom */
.has-bottom-padded {
    padding-bottom: var(--ts-space-gap) !important;
}
.has-bottom-padded-small {
    padding-bottom: var(--ts-space-gap-small) !important;
}
.has-bottom-padded-large {
    padding-bottom: var(--ts-space-gap-large) !important;
}
.has-bottom-padded-big {
    padding-bottom: var(--ts-space-gap-big) !important;
}
.has-bottom-padded-huge {
    padding-bottom: var(--ts-space-gap-huge) !important;
}

/** Top */
.has-top-padded {
    padding-top: var(--ts-space-gap) !important;
}
.has-top-padded-small {
    padding-top: var(--ts-space-gap-small) !important;
}
.has-top-padded-large {
    padding-top: var(--ts-space-gap-large) !important;
}
.has-top-padded-big {
    padding-top: var(--ts-space-gap-big) !important;
}
.has-top-padded-huge {
    padding-top: var(--ts-space-gap-huge) !important;
}

/** Start */
.has-start-padded {
    padding-left: var(--ts-space-gap) !important;
}
.has-start-padded-small {
    padding-left: var(--ts-space-gap-small) !important;
}
.has-start-padded-large {
    padding-left: var(--ts-space-gap-large) !important;
}
.has-start-padded-big {
    padding-left: var(--ts-space-gap-big) !important;
}
.has-start-padded-huge {
    padding-left: var(--ts-space-gap-huge) !important;
}

/** End */
.has-end-padded {
    padding-right: var(--ts-space-gap) !important;
}
.has-end-padded-small {
    padding-right: var(--ts-space-gap-small) !important;
}
.has-end-padded-large {
    padding-right: var(--ts-space-gap-large) !important;
}
.has-end-padded-big {
    padding-right: var(--ts-space-gap-big) !important;
}
.has-end-padded-huge {
    padding-right: var(--ts-space-gap-huge) !important;
}

/**
 * Fitted
 */

.has-fitted {
    padding: 0 !important;
}
.has-vertically-fitted {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.has-horizontally-fitted {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.has-start-fitted {
    padding-right: 0 !important;
}
.has-end-fitted {
    padding-left: 0 !important;
}
.has-top-fitted {
    padding-top: 0 !important;
}
.has-bottom-fitted {
    padding-bottom: 0 !important;
}

/**
 * Spaced
 */

.has-spaced {
    margin: 1rem !important;
}
.has-spaced-small {
    margin: var(--ts-space-gap-small) !important;
}
.has-spaced-large {
    margin: var(--ts-space-gap-large) !important;
}
.has-spaced-big {
    margin: var(--ts-space-gap-big) !important;
}
.has-spaced-huge {
    margin: var(--ts-space-gap-huge) !important;
}

/** Horizontally */
.has-horizontally-spaced {
    margin-left: var(--ts-space-gap) !important;
    margin-right: var(--ts-space-gap) !important;
}
.has-horizontally-spaced-small {
    margin-left: var(--ts-space-gap-small) !important;
    margin-right: var(--ts-space-gap-small) !important;
}
.has-horizontally-spaced-large {
    margin-left: var(--ts-space-gap-large) !important;
    margin-right: var(--ts-space-gap-large) !important;
}
.has-horizontally-spaced-big {
    margin-left: var(--ts-space-gap-big) !important;
    margin-right: var(--ts-space-gap-big) !important;
}
.has-horizontally-spaced-huge {
    margin-left: var(--ts-space-gap-huge) !important;
    margin-right: var(--ts-space-gap-huge) !important;
}

/** Vertically */
.has-vertically-spaced {
    margin-top: var(--ts-space-gap) !important;
    margin-bottom: var(--ts-space-gap) !important;
}
.has-vertically-spaced-small {
    margin-top: var(--ts-space-gap-small) !important;
    margin-bottom: var(--ts-space-gap-small) !important;
}
.has-vertically-spaced-large {
    margin-top: var(--ts-space-gap-large) !important;
    margin-bottom: var(--ts-space-gap-large) !important;
}
.has-vertically-spaced-big {
    margin-top: var(--ts-space-gap-big) !important;
    margin-bottom: var(--ts-space-gap-big) !important;
}
.has-vertically-spaced-huge {
    margin-top: var(--ts-space-gap-huge) !important;
    margin-bottom: var(--ts-space-gap-huge) !important;
}

/** Bottom */
.has-bottom-spaced {
    margin-bottom: var(--ts-space-gap) !important;
}
.has-bottom-spaced-small {
    margin-bottom: var(--ts-space-gap-small) !important;
}
.has-bottom-spaced-large {
    margin-bottom: var(--ts-space-gap-large) !important;
}
.has-bottom-spaced-big {
    margin-bottom: var(--ts-space-gap-big) !important;
}
.has-bottom-spaced-huge {
    margin-bottom: var(--ts-space-gap-huge) !important;
}

/** Top */
.has-top-spaced {
    margin-top: var(--ts-space-gap) !important;
}
.has-top-spaced-small {
    margin-top: var(--ts-space-gap-small) !important;
}
.has-top-spaced-large {
    margin-top: var(--ts-space-gap-large) !important;
}
.has-top-spaced-big {
    margin-top: var(--ts-space-gap-big) !important;
}
.has-top-spaced-huge {
    margin-top: var(--ts-space-gap-huge) !important;
}

/** Start */
.has-start-spaced {
    margin-left: var(--ts-space-gap) !important;
}
.has-start-spaced-small {
    margin-left: var(--ts-space-gap-small) !important;
}
.has-start-spaced-large {
    margin-left: var(--ts-space-gap-large) !important;
}
.has-start-spaced-big {
    margin-left: var(--ts-space-gap-big) !important;
}
.has-start-spaced-huge {
    margin-left: var(--ts-space-gap-huge) !important;
}

/** End */
.has-end-spaced {
    margin-right: var(--ts-space-gap) !important;
}
.has-end-spaced-small {
    margin-right: var(--ts-space-gap-small) !important;
}
.has-end-spaced-large {
    margin-right: var(--ts-space-gap-large) !important;
}
.has-end-spaced-big {
    margin-right: var(--ts-space-gap-big) !important;
}
.has-end-spaced-huge {
    margin-right: var(--ts-space-gap-huge) !important;
}

/** Auto */
.has-top-spaced-auto {
    margin-top: auto !important;
}
.has-bottom-spaced-auto {
    margin-bottom: auto !important;
}
.has-start-spaced-auto {
    margin-left: auto !important;
}
.has-end-spaced-auto {
    margin-right: auto !important;
}
.has-vertically-spaced-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.has-horizontally-spaced-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

/**
 * Hidden
 */

.has-hidden {
    display: none !important;
}
.has-invisible {
    visibility: hidden !important;
}

/**
 * Edged
 */

.has-edged {
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
}
/*.has-topleft-borderless {
    border: 0 !important;
}
.has-borderless {
    border: 0 !important;
}
.has-borderless-x { or horizontal
    border-left: 0 !important;
    border-right: 0 !important;
}
.has-radiusless {
    border-radius: 0 !important;
}*/

/**
 * Line Height
 */

.has-leading-small {
    line-height: 1.4 !important;
}
.has-leading-none {
    line-height: 1 !important;
}
.has-leading-large {
    line-height: 1.9 !important;
}

/**
 * Flex
 */

.has-flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

/**
 * Font Size
 */

.has-text-14px {
    font-size: var(--ts-font-size-14px) !important;
}
.has-text-15px {
    font-size: var(--ts-font-size-15px) !important;
}
.has-text-16px {
    font-size: var(--ts-font-size-16px) !important;
}

/**
 * Text Color
 */

.has-text-white {
    color: var(--ts-white) !important;
}
.has-text-black {
    color: var(--ts-black) !important;
}

/**
 * Cursor
 */

.has-cursor-auto {
    cursor: auto !important;
}
.has-cursor-default {
    cursor: default !important;
}
.has-cursor-pointer {
    cursor: pointer !important;
}
.has-cursor-not-allowed {
    cursor: not-allowed !important;
}

/**
 * User Select
 */

.has-select-none {
    user-select: none !important;
}
.has-select-all {
    user-select: all !important;
}

/**
 * Pointer Events
 */

.has-pointer-events-none {
    pointer-events: none !important;
}

/**
 * Hover
 */

.has-hover-fade-in {
    opacity: 0.7;
}
.has-hover-fade-in:hover {
    opacity: 1;
}

.has-hover-fade-out {
    opacity: 1;
}
.has-hover-fade-out:hover {
    opacity: 0.7;
}

.has-hover-target {
    text-decoration: none;
    color: inherit;
}
.has-hover-target:hover .has-target-link {
    color: var(--ts-link-700);
}
.has-hover-target:hover .has-target-underline {
    text-decoration: underline;
}

/**
 * Word Break
 */

.has-break-all {
    word-break: break-all !important;
}
.has-break-words {
    overflow-wrap: break-word !important;
}
.has-break-keep {
    word-break: keep-all !important;
}

/**
 * Overflow
 */

.has-overflow-hidden {
    overflow: hidden !important;
}

/**
 * Sizes
 */

.has-full-size {
    width: 100%;
    height: 100%;
}

.has-full-width {
    width: 100%;
}

.has-full-height {
    height: 100%;
}

/**
 * Accent
 */

.is-accent {
    --accent-color: var(--ts-accent-color);
    --accent-foreground-color: var(--ts-accent-foreground-color);
}
