/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Padded
 */

.u-padded {
    padding: 1rem;
}
.u-horizontally-padded {
    padding-left: 1rem;
    padding-right: 1rem;
}
.u-vertically-padded {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.u-very-padded {
    padding: 1.5rem;
}
.u-horizontally-very-padded {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.u-vertically-very-padded {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/**
 * Spaced
 */

.u-spaced {
    margin: 1rem;
}
.u-horizontally-spaced {
    margin-left: 1rem;
    margin-right: 1rem;
}
.u-vertically-spaced {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.u-very-spaced {
    margin: 1.5rem;
}
.u-horizontally-very-spaced {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.u-vertically-very-spaced {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/**
 * Hidden
 */

.u-hidden {
    display: none !important;
}

/**
 * Themes
 */

.u-light {
}

.u-light-hidden {
}

.u-dark {
}

.u-dark-hidden {
}

.u-inverted {
}

/**
 * Edged
 */

.u-edged {
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
}

