/* ==========================================================================
   Variables
   ========================================================================== */

/* ==========================================================================
   Base
   ========================================================================== */

.ts-wrap {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Vertical
 */

.ts-wrap.is-vertical {
    flex-direction: column;
}

/**
 * Aligns
 */

.ts-wrap.is-top-aligned {
    align-items: flex-start;
}
.ts-wrap.is-middle-aligned {
    align-items: center;
}
.ts-wrap.is-bottom-aligned {
    align-items: flex-end;
}

.ts-wrap.is-start-aligned {
    justify-content: flex-start;
}
.ts-wrap.is-center-aligned {
    justify-content: center;
}
.ts-wrap.is-end-aligned {
    justify-content: flex-end;
}

.ts-wrap.is-start-aligned.is-vertical {
    align-items: flex-start;
}
.ts-wrap.is-center-aligned.is-vertical {
    align-items: center;
}
.ts-wrap.is-end-aligned.is-vertical {
    align-items: flex-end;
}

/**
 * Relaxed
 */

.ts-wrap.is-relaxed {
    gap: 2rem;
}

/**
 * Compact
 */

.ts-wrap.is-compact {
    gap: 0.5rem;
}
