$form_rowDistance           : 1.6em
$form_paragraphMargin       : $form_rowDistance 0
$form_fieldMargin           : 0 0 $form_rowDistance
$form_fieldHorizontalPadding: $columnPadding

//-------------------//
//    Field Helper
//-------------------//

$form_fieldHelperTextMargin       : .5em 0 0 0
$form_fieldHelperOpacity          : 0.65
$form_fieldHelperTextColor        : nth($grey, 8)
$form_fieldHelperFontSize         : 0.9em
$form_fieldHelperDistanceToMessage: .2em 0 0 0

//-------------------//
//   Field Message
//-------------------//

$form_fieldMessageFontSize         : .95em
$form_fieldMessageTextMargin       : .5em 0 0 0
$form_fieldMessageDistanceToMessage: .2em 0 0 0
$form_fieldMessageWarningTextColor : nth($warning, 7)
$form_fieldMessageErrorTextColor   : nth($negative, 6)
$form_fieldMessageSuccessTextColor : nth($positive, 6)

//-------------------//
//       Label
//-------------------//

$form_labelDistance     : $relativeTiny
$form_labelMargin       : 0em 0em $form_labelDistance 0em
$form_labelColor        : nth($grey, 8)
$form_labelFontSize     : $relativeMedium
$form_labelFontWeight   : 500

//-------------------//
//        Error
//-------------------//

$form_errorLabelFontWeight: 500
$form_errorTextColor      : nth($negative, 6)

//-------------------//
//    Inline Label
//-------------------//

$form_inlineLabelDistance  : $relativeTiny
$form_inlineLabelFontSize  : $form_labelFontSize
$form_inlineLabelFontWeight: $form_labelFontWeight
$form_inlineLabelColor     : $form_labelColor

//-------------------//
//      Required
//-------------------//

$form_requiredContent       : '*'
$form_requiredColor         : nth($negative, 6)
$form_requiredVerticalOffset: -0.2em
$form_requiredDistance      : 0.2em
$form_requiredMargin        : $form_requiredVerticalOffset 0em 0em $form_requiredDistance
$form_requiredFontWeight    : 500

//-------------------//
//      Fieldset
//-------------------//

$form_fieldsetBorderRadius: $defaultBorderRadius
$form_fieldsetPadding     : 1em
$form_fieldsetBorderWidth : 1px
$form_fieldsetBorder      : $form_fieldsetBorderWidth solid nth($grey, 2)

$form_legendVerticalPadding  : 0
$form_legendHorizontalPadding: .7em
$form_legendPadding          : $form_legendVerticalPadding $form_legendHorizontalPadding
$form_legendTextColor        : nth($grey, 6)
$form_legendFontWeight       : 500

$form_fieldsetSecondaryBackgroundColor: nth($grey, 1)
$form_fieldsetTertiaryBackgroundColor : nth($grey, 2)

$form_legendSecondaryTextColor: nth($grey, 7)
$form_legendTertiaryTextColor : nth($grey, 8)

//-------------------//
//       Loader
//-------------------//

$form_loaderDimmerBackgroundColor: rgba(255, 255, 255, 0.8)
$form_loaderSize                 : $loaderSize

$form_staticTextVerticalPadding: $inputVerticalPadding

//-------------------//
//     Horizontal
//-------------------//

$form_horizontalLabelWidth    : 9em
$form_horizontalLabelTopOffest: .85em

$form_horizontalFieldLeftOffset: calc(#{$form_horizontalLabelWidth} + #{$form_labelDistance})
$form_horizontalFieldTopOffset : $form_horizontalLabelTopOffest

//-------------------//
//      Inverted
//-------------------//

$form_invertedTextColor     : $white
$form_invertedFieldsetBorder: $form_fieldsetBorderWidth solid nth($inverted, 5)

$form_invertedFieldsetSecondaryBackgroundColor: nth($inverted, 7)
$form_invertedFieldsetTertiaryBackgroundColor : nth($inverted, 8)

$form_invertedLegendTextColor         : nth($inverted, 4)
$form_invertedLegendSecondaryTextColor: nth($inverted, 4)
$form_invertedLegendTertiaryTextColor : nth($inverted, 3)