$grid_celledBorderWidth: 1px
$grid_celledBorderColor: nth($grey, 4)
$grid_celledBorder     : $grid_celledBorderWidth solid $grid_celledBorderColor

$grid_dividedBorderWidth: 1px
$grid_dividedBorderColor: nth($grey, 4)
$grid_dividedBorder     : $grid_dividedBorderWidth solid $grid_dividedBorderColor