$menu_backgroundColor : $white
$menu_verticalMargin  : $medium
$menu_borderRadius    : $defaultBorderRadius
$menu_horizontalMargin: 0
$menu_margin          : $menu_verticalMargin $menu_horizontalMargin

$menu_borderWidth: 1px
$menu_borderColor: nth($grey, 4)
$menu_border     : $menu_borderWidth solid $menu_borderColor

//-------------------//
//       Shadow
//-------------------//

$menu_boxShadow      : $subtleShadow
$menu_raisedBoxShadow: $floatingShadow

//-------------------//
//        Item
//-------------------//

$menu_itemVerticalPadding  : $relativeSmall
$menu_itemHorizontalPadding: $relativeLarge
$menu_itemTextColor        : nth($grey, 8)
$menu_itemFontWeight       : 400

$menu_itemBorderWidth: 1px
$menu_itemBorderColor: nth($grey, 4)
$menu_itemBorder     : $menu_itemBorderWidth solid $menu_itemBorderColor

$menu_itemHoverBackgroundColor : nth($grey, 1)
$menu_itemHoverTextColor       : nth($grey, 8)

$menu_itemActiveBackgroundColor: darken(nth($grey, 3), 2%)
$menu_itemActiveTextColor      : nth($grey, 9)

$menu_itemHeaderFontWeight: 500
$menu_itemHeaderTextColor : nth($grey, 9)
$menu_itemHeaderFontSize  : $relativeMedium

//-------------------//
//    Labeled Icon
//-------------------//

$menu_labeledIconItemHorizontalPadding: $relativeMassive
$menu_labeledIconSize                 : $relativeMassive
$menu_labeledIconMinWidth             : 6em
$menu_labeledIconTextMargin           : 0.5rem

//-------------------//
//     Secondary
//-------------------//

$menu_secondaryBackgroundColor: transparent
$menu_secondaryBorderRadius   : $menu_borderRadius

$menu_secondaryItemSpacing          : $relative5px
$menu_secondaryItemMargin           : 0em $menu_secondaryItemSpacing
$menu_secondaryItemVerticalPadding  : $relativeMini
$menu_secondaryItemHorizontalPadding: $relativeSmall
$menu_secondaryItemPadding          : $menu_secondaryItemVerticalPadding $menu_secondaryItemHorizontalPadding
$menu_secondaryItemVerticalSpacing  : $menu_secondaryItemSpacing
$menu_secondaryVerticalItemMargin   : 0 0 $menu_secondaryItemVerticalSpacing 0
$menu_secondaryVerticalDividerMargin: $menu_secondaryItemVerticalSpacing $menu_secondaryItemHorizontalPadding

//-------------------//
// Secondary Pointing
//-------------------//

$menu_secondaryPointingBorderWidth          : 2px
$menu_secondaryPointingBorderColor          : $menu_borderColor
$menu_secondaryPointingBorder               : $menu_secondaryPointingBorderWidth solid $menu_secondaryPointingBorderColor
$menu_secondaryPointingActiveBorderColor    : nth($grey, 9)
$menu_secondaryPointingActiveBorder         : $menu_secondaryPointingBorderWidth solid $menu_secondaryPointingActiveBorderColor
$menu_secondaryPoingintActiveBackgroundColor: transparent
$menu_secondaryPointingActiveTextColor      : nth($grey, 9)
$menu_secondaryPointingActiveFontWeight     : 500

//-------------------//
//       Tabbed
//-------------------//

$menu_tabbedMenuBorderWidth           : 1px
$menu_tabbedMenuBackgroundColor       : transparent
$menu_tabbedMenuActiveBackgroundColor : $white
$menu_tabbedMenuBorderColor           : $menu_borderColor
$menu_tabbedMenuActiveBorderColor     : $menu_borderColor

$menu_tabbedItemVerticalPadding  : $menu_itemVerticalPadding
$menu_tabbedItemHorizontalPadding: $menu_itemHorizontalPadding
$menu_tabbedItemPadding          : $menu_tabbedItemVerticalPadding $menu_tabbedItemHorizontalPadding
$menu_tabbedItemBorderRadius     : $menu_borderRadius

$menu_tabbedMenuActiveFontWeight: 500
$menu_tabbedMenuActiveTextColor : nth($grey, 9)
$menu_tabbedMenuTextColor       : nth($grey, 8)

$menu_tabbedItemHoverBackgroundColor : nth($grey, 1)
$menu_tabbedItemHoverTextColor       : nth($grey, 8)

$menu_tabbedItemActiveBackgroundColor: nth($grey, 4)
$menu_tabbedItemActiveTextColor      : nth($grey, 9)

//-------------------//
//      Divider
//-------------------//

$menu_dividerBackgroundColor: $menu_borderColor
$menu_dividerSize           : 1px

//-------------------//
//      Emphasis
//-------------------//

$menu_disabledTextColor: rgba(0,0,0,0.2)

$menu_defaultBackgroundColor      : nth($grey, 2)
$menu_defaultActiveBackgroundColor: darken(nth($grey, 4), 2%)
$menu_defaultHoverBackgroundColor : darken(nth($grey, 3), 2%)
$menu_defaultBorderColor          : nth($grey, 4)
$menu_defaultTextColor            : nth($grey, 8)
$menu_hoverDefaultTextColor       : lighten(nth($grey, 8), 3%)
$menu_activeDefaultTextColor      : nth($grey, 9)
$menu_disabledDefaultTextColor      : nth($grey, 9)
$menu_defaultColors               : $menu_defaultTextColor, $menu_hoverDefaultTextColor, $menu_activeDefaultTextColor, $menu_defaultBorderColor, $menu_defaultBackgroundColor, $menu_defaultHoverBackgroundColor, $menu_defaultActiveBackgroundColor, $menu_disabledDefaultTextColor

$menu_negativeBackgroundColor      : nth($negative, 6)
$menu_negativeActiveBackgroundColor: nth($negative, 7)
$menu_negativeHoverBackgroundColor : darken(nth($negative, 6), 3%)
$menu_negativeBorderColor          : darken(nth($negative, 6), 4%)
$menu_negativeTextColor            : $white
$menu_negativeHoverTextColor       : nth($negative, 1)
$menu_negativeActiveTextColor      : nth($negative, 3)
$menu_negativeDisabledTextColor    : nth($negative, 5)
$menu_negativeColors               : $menu_negativeTextColor, $menu_negativeHoverTextColor, $menu_negativeActiveTextColor, $menu_negativeBorderColor, $menu_negativeBackgroundColor, $menu_negativeHoverBackgroundColor, $menu_negativeActiveBackgroundColor, $menu_negativeDisabledTextColor

$menu_positiveBackgroundColor      : nth($positive, 6)
$menu_positiveActiveBackgroundColor: nth($positive, 7)
$menu_positiveHoverBackgroundColor : darken(nth($positive, 6), 3%)
$menu_positiveBorderColor          : darken(nth($positive, 6), 4%)
$menu_positiveTextColor            : $white
$menu_positiveHoverTextColor       : nth($positive, 1)
$menu_positiveActiveTextColor      : nth($positive, 3)
$menu_positiveDisabledTextColor    : nth($positive, 5)
$menu_positiveColors               : $menu_positiveTextColor, $menu_positiveHoverTextColor, $menu_positiveActiveTextColor, $menu_positiveBorderColor, $menu_positiveBackgroundColor, $menu_positiveHoverBackgroundColor, $menu_positiveActiveBackgroundColor, $menu_positiveDisabledTextColor

$menu_primaryBackgroundColor      : nth($primary, 6)
$menu_primaryActiveBackgroundColor: nth($primary, 7)
$menu_primaryHoverBackgroundColor : darken(nth($primary, 6), 3%)
$menu_primaryBorderColor          : darken(nth($primary, 6), 4%)
$menu_primaryTextColor            : $white
$menu_primaryHoverTextColor       : nth($primary, 1)
$menu_primaryActiveTextColor      : nth($primary, 2)
$menu_primaryDisabledTextColor    : nth($primary, 5)
$menu_primaryColors               : $menu_primaryTextColor, $menu_primaryHoverTextColor, $menu_primaryActiveTextColor, $menu_primaryBorderColor, $menu_primaryBackgroundColor, $menu_primaryHoverBackgroundColor, $menu_primaryActiveBackgroundColor, $menu_primaryDisabledTextColor

$menu_infoBackgroundColor      : nth($info, 6)
$menu_infoActiveBackgroundColor: nth($info, 7)
$menu_infoHoverBackgroundColor : darken(nth($info, 6), 3%)
$menu_infoBorderColor          : darken(nth($info, 6), 4%)
$menu_infoTextColor            : $white
$menu_infoHoverTextColor       : nth($info, 1)
$menu_infoActiveTextColor      : nth($info, 2)
$menu_infoDisabledTextColor    : nth($info, 5)
$menu_infoColors               : $menu_infoTextColor, $menu_infoHoverTextColor, $menu_infoActiveTextColor, $menu_infoBorderColor, $menu_infoBackgroundColor, $menu_infoHoverBackgroundColor, $menu_infoActiveBackgroundColor, $menu_infoDisabledTextColor

$menu_warningBackgroundColor      : nth($warning, 6)
$menu_warningActiveBackgroundColor: nth($warning, 7)
$menu_warningHoverBackgroundColor : darken(nth($warning, 6), 10%)
$menu_warningBorderColor          : darken(nth($warning, 6), 10%)
$menu_warningTextColor            : nth($warning, 9)
$menu_warningHoverTextColor       : nth($warning, 9)
$menu_warningActiveTextColor      : darken(nth($warning, 10), 5%)
$menu_warningDisabledTextColor    : nth($warning, 7)
$menu_warningColors               : $menu_warningTextColor, $menu_warningHoverTextColor, $menu_warningActiveTextColor, $menu_warningBorderColor, $menu_warningBackgroundColor, $menu_warningHoverBackgroundColor, $menu_warningActiveBackgroundColor, $menu_warningDisabledTextColor

$menu_invertedBackgroundColor      : nth($inverted, 6)
$menu_invertedActiveBackgroundColor: nth($inverted, 9)
$menu_invertedHoverBackgroundColor : darken(nth($inverted, 6), 4%)
$menu_invertedBorderColor          : nth($inverted, 5)
$menu_invertedTextColor            : $white
$menu_invertedHoverTextColor       : nth($inverted, 1)
$menu_invertedActiveTextColor      : nth($inverted, 2)
$menu_invertedDisabledTextColor    : rgba(255, 255, 255, 0.4)
$menu_invertedColors               : $menu_invertedTextColor, $menu_invertedHoverTextColor, $menu_invertedActiveTextColor, $menu_invertedBorderColor, $menu_invertedBackgroundColor, $menu_invertedHoverBackgroundColor, $menu_invertedActiveBackgroundColor, $menu_invertedDisabledTextColor

//-------------------//
//       Label
//-------------------//

$menu_labelOffset           : -0.15em
$menu_labelBackground       : nth($grey, 6)
$menu_labelTextColor        : $white
$menu_labelTextMargin       : 1em
$menu_labelVerticalPadding  : 0.3em
$menu_labelHorizontalPadding: $relativeMini

$menu_labelAndIconFloat : none
$menu_labelAndIconMargin: 0em 0.5em 0em 0em

//-------------------//
//        Icon
//-------------------//

$menu_verticalIconFloat : right
$menu_verticalIconMargin: 0.5em
$menu_iconFontSize      : 1.4em

//-------------------//
//  Vertical Header
//-------------------//

$menu_verticalHeaderMargin    : 0em 0em 0.5em
$menu_verticalHeaderFontSize  : $relativeMedium
$menu_verticalHeaderFontWeight: 500

//-------------------//
//      Sub Menu
//-------------------//

$menu_subMenuDistance : 0.5em
$menu_subMenuMargin   : $menu_subMenuDistance -#{$menu_itemHorizontalPadding} 0em
$menu_subMenuFontSize : $relativeTiny
$menu_subMenuTextColor: nth($grey, 7)

$menu_invertedSubMenuItemOpacity: 0.75

$menu_subMenuIndent           : 0em
$menu_subMenuHorizontalPadding: calc(#{$menu_itemHorizontalPadding} / #{$tinySize} + #{$menu_subMenuIndent})
$menu_subMenuVerticalPadding  : 0.5em

$menu_subMenuActiveFontWeight: 500
$menu_subMenuActiveTextColor : $menu_itemActiveTextColor

//-------------------//
//        Pure
//-------------------//

$menu_pureItemActiveOpacity: 1
$menu_pureItemHoverOpacity : 0.7
$menu_pureActiveFontWeight : 500

//-------------------//
//       Unread
//-------------------//

$menu_unreadBackgroundColor: nth($grey, 8)
$menu_unreadTop            : 25%
$menu_unreadIconTop        : -5%
$menu_unreadIconDistance   : 2px
$menu_unreadIconSize       : 6px