<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./assets/style.css" />
        <link rel="stylesheet" href="./assets/highlight.css" />
        <link rel="stylesheet" href="./../../../../src/tocas.css" />
        <script src="./assets/script.js"></script>
        <title>{{ .Title }} | Tocas UI</title>
    </head>
    <body>
        <div class="穹頂">
            <div class="界限容器">
                <div class="穹頂-導航列">
                    <div class="穹頂-導航列-左側">
                        <a class="穹頂-導航列-項目 穹頂-導航列-項目_主要" href="#!">Tocas UI</a>
                        <a class="穹頂-導航列-項目" href="#!">初入上手</a>
                        <a class="穹頂-導航列-項目" href="#!">元件樣式</a>
                        <a class="穹頂-導航列-項目" href="#!">實際範例</a>
                        <a class="穹頂-導航列-項目" href="#!">即時測試</a>
                    </div>
                    <div class="穹頂-導航列-右側">
                        <a class="穹頂-導航列-項目" href="#!"><span class="ts-flag is-taiwan-flag"></span> 台灣正體</a>
                        <a class="穹頂-導航列-項目" href="#!"><span class="ts-icon is-github-icon"></span> GitHub</a>
                    </div>
                </div>

                <div class="穹頂-標題">
                    <div class="穹頂-標題-主要">{{ .Title }}</div>
                    <div class="穹頂-標題-說明">{{ .Description }}</div>
                </div>
            </div>
        </div>

        <div class="主體">
            <div class="界限容器">
                <div class="主體-格局">
                    <div class="主體-格局-導覽">
                        <div class="主體-格局-導覽-標題">初入上手</div>
                        <a class="主體-格局-導覽-項目" href="#!">安裝方式 <span class="主體-格局-導覽-項目-英文">Getting Started</span></a>
                        <a class="主體-格局-導覽-項目" href="#!">響應式設計 <span class="主體-格局-導覽-項目-英文">Responsive</span></a>

                        <div class="主體-格局-導覽-標題">格局設計</div>
                        <a class="主體-格局-導覽-項目" href="./box.html">箱型容器 <span class="主體-格局-導覽-項目-英文">Box</span></a>
                        <a class="主體-格局-導覽-項目" href="./bullseye.html">置中靶心 <span class="主體-格局-導覽-項目-英文">Bullseye</span></a>
                        <a class="主體-格局-導覽-項目" href="./container.html">界限容器 <span class="主體-格局-導覽-項目-英文">Container</span></a>
                        <a class="主體-格局-導覽-項目" href="./content.html">內容區塊 <span class="主體-格局-導覽-項目-英文">Content</span></a>
                        <a class="主體-格局-導覽-項目" href="./grid.html">網格系統 <span class="主體-格局-導覽-項目-英文">Grid</span></a>
                        <a class="主體-格局-導覽-項目" href="./layout.html">格局柵欄 <span class="主體-格局-導覽-項目-英文">Layout</span></a>
                        <a class="主體-格局-導覽-項目" href="./stack.html">垂直排列 <span class="主體-格局-導覽-項目-英文">Stack</span></a>
                        <a class="主體-格局-導覽-項目" href="./space.html">空白間隔 <span class="主體-格局-導覽-項目-英文">Space</span></a>
                        <a class="主體-格局-導覽-項目" href="./row.html">水平排列 <span class="主體-格局-導覽-項目-英文">Row</span></a>

                        <div class="主體-格局-導覽-標題">應用程式</div>
                        <a class="主體-格局-導覽-項目" href="./app-navbar.html">導航列 <span class="主體-格局-導覽-項目-英文">App Navbar</span></a>
                        <a class="主體-格局-導覽-項目" href="./app-sidebar.html">側邊欄 <span class="主體-格局-導覽-項目-英文">App Sidebar</span></a>

                        <div class="主體-格局-導覽-標題">元件</div>
                        <a class="主體-格局-導覽-項目" href="./accordion.html">可折疊內容 <span class="主體-格局-導覽-項目-英文">Accordion</span></a>
                        <a class="主體-格局-導覽-項目" href="./badge.html">計數徽章 <span class="主體-格局-導覽-項目-英文">Badge</span></a>
                        <a class="主體-格局-導覽-項目" href="./breadcrumb.html">導覽標記 <span class="主體-格局-導覽-項目-英文">Breadcrumb</span></a>
                        <a class="主體-格局-導覽-項目" href="./button.html">按鈕 <span class="主體-格局-導覽-項目-英文">Button</span></a>
                        <a class="主體-格局-導覽-項目" href="./checkbox.html">核取方塊 <span class="主體-格局-導覽-項目-英文">Checkbox</span></a>
                        <a class="主體-格局-導覽-項目" href="./chip.html">關聯選項 <span class="主體-格局-導覽-項目-英文">Chip</span></a>
                        <a class="主體-格局-導覽-項目" href="./choice.html">選擇項目 <span class="主體-格局-導覽-項目-英文">Choice</span></a>
                        <a class="主體-格局-導覽-項目" href="./close.html">關閉 <span class="主體-格局-導覽-項目-英文">Close</span></a>
                        <a class="主體-格局-導覽-項目" href="./divider.html">分隔線 <span class="主體-格局-導覽-項目-英文">Divider</span></a>
                        <a class="主體-格局-導覽-項目" href="./empty.html">無內容狀態 <span class="主體-格局-導覽-項目-英文">Empty</span></a>
                        <a class="主體-格局-導覽-項目" href="./fieldset.html">欄位群組 <span class="主體-格局-導覽-項目-英文">Fieldset</span></a>
                        <a class="主體-格局-導覽-項目" href="./file.html">檔案欄位 <span class="主體-格局-導覽-項目-英文">File</span></a>
                        <a class="主體-格局-導覽-項目" href="./icon.html">圖示 <span class="主體-格局-導覽-項目-英文">Icon</span></a>
                        <a class="主體-格局-導覽-項目" href="./image.html">圖片 <span class="主體-格局-導覽-項目-英文">Image</span></a>
                        <a class="主體-格局-導覽-項目" href="./input.html">輸入欄位 <span class="主體-格局-導覽-項目-英文">Input</span></a>
                        <a class="主體-格局-導覽-項目" href="./list.html">清單 <span class="主體-格局-導覽-項目-英文">List</span></a>
                        <a class="主體-格局-導覽-項目" href="./meta.html">中繼資料 <span class="主體-格局-導覽-項目-英文">Meta</span></a>
                        <a class="主體-格局-導覽-項目" href="./notice.html">提示訊息 <span class="主體-格局-導覽-項目-英文">Notice</span></a>
                        <a class="主體-格局-導覽-項目" href="./pagination.html">頁數導覽列 <span class="主體-格局-導覽-項目-英文">Pagination</span></a>
                        <a class="主體-格局-導覽-項目" href="./placeholder.html">預置內容 <span class="主體-格局-導覽-項目-英文">Placeholder</span></a>
                        <a class="主體-格局-導覽-項目" href="./progress.html">進度指示列 <span class="主體-格局-導覽-項目-英文">Progress</span></a>
                        <a class="主體-格局-導覽-項目" href="./radio.html">單選方塊 <span class="主體-格局-導覽-項目-英文">Radio</span></a>
                        <a class="主體-格局-導覽-項目" href="./rating.html">評分 <span class="主體-格局-導覽-項目-英文">Rating</span></a>
                        <a class="主體-格局-導覽-項目" href="./reaction.html">表情反應 <span class="主體-格局-導覽-項目-英文">Reaction</span></a>
                        <a class="主體-格局-導覽-項目" href="./segment.html">敘述片段 <span class="主體-格局-導覽-項目-英文">Segment</span></a>
                        <a class="主體-格局-導覽-項目" href="./select.html">下拉選擇欄位 <span class="主體-格局-導覽-項目-英文">Select</span></a>
                        <a class="主體-格局-導覽-項目" href="./slate.html">概要看板 <span class="主體-格局-導覽-項目-英文">Slate</span></a>
                        <a class="主體-格局-導覽-項目" href="./snackbar.html">簡短通知 <span class="主體-格局-導覽-項目-英文">Snackbar</span></a>
                        <a class="主體-格局-導覽-項目" href="./statistic.html">統計數據 <span class="主體-格局-導覽-項目-英文">Statistic</span></a>
                        <a class="主體-格局-導覽-項目" href="./steps.html">步驟指示器 <span class="主體-格局-導覽-項目-英文">Steps</span></a>
                        <a class="主體-格局-導覽-項目" href="./switch.html">指撥開關 <span class="主體-格局-導覽-項目-英文">Switch</span></a>
                        <a class="主體-格局-導覽-項目" href="./tab.html">分頁籤 <span class="主體-格局-導覽-項目-英文">Tab</span></a>
                        <a class="主體-格局-導覽-項目" href="./table.html">表格 <span class="主體-格局-導覽-項目-英文">Table</span></a>
                        <a class="主體-格局-導覽-項目" href="./text.html">文字 <span class="主體-格局-導覽-項目-英文">Text</span></a>
                    </div>
                    <div class="主體-格局-內容">
                        <div class="主體-格局-內容-工具列">
                            <div class="主體-格局-內容-工具列-項目 主體-格局-內容-工具列-項目_標題">範例</div>
                            <div class="主體-格局-內容-工具列-項目">
                                <div class="主體-格局-內容-工具列-項目-標籤">明暗色系</div>
                                <div class="主體-格局-內容-工具列-項目-下拉式選單">
                                    <div class="主體-格局-內容-工具列-項目-下拉式選單-文字">
                                        <span class="主體-格局-內容-工具列-項目-下拉式選單-文字-標籤"> 遵循使用者設定 </span>
                                        <span class="主體-格局-內容-工具列-項目-下拉式選單-文字-圖示 ts-icon is-chevron-down-icon"></span>
                                    </div>
                                    <div class="主體-格局-內容-工具列-項目-下拉式選單-群組">
                                        <div
                                            data-value="scheme,auto"
                                            class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目 主體-格局-內容-工具列-項目-下拉式選單-群組-項目_啟用的"
                                        >
                                            遵循使用者設定
                                        </div>
                                        <div data-value="scheme,lightest" class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目">最亮的</div>
                                        <div data-value="scheme,light" class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目">亮色</div>
                                        <div data-value="scheme,dark" class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目">暗色</div>
                                        <div data-value="scheme,darkest" class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目">最暗的</div>
                                    </div>
                                </div>
                            </div>
                            <div class="主體-格局-內容-工具列-項目">
                                <div class="主體-格局-內容-工具列-項目-標籤">縮放</div>
                                <div class="主體-格局-內容-工具列-項目-下拉式選單">
                                    <div class="主體-格局-內容-工具列-項目-下拉式選單-文字">
                                        <span class="主體-格局-內容-工具列-項目-下拉式選單-文字-標籤"> 標準 </span>
                                        <span class="主體-格局-內容-工具列-項目-下拉式選單-文字-圖示 ts-icon is-chevron-down-icon"></span>
                                    </div>
                                    <div class="主體-格局-內容-工具列-項目-下拉式選單-群組">
                                        <div data-value="scale,large" class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目">放大</div>
                                        <div
                                            data-value="scheme,medium"
                                            class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目 主體-格局-內容-工具列-項目-下拉式選單-群組-項目_啟用的"
                                        >
                                            標準
                                        </div>
                                        <div data-value="scheme,small" class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目">縮小</div>
                                    </div>
                                </div>
                            </div>
                            <div class="主體-格局-內容-工具列-項目">
                                <div class="主體-格局-內容-工具列-項目-標籤">密度</div>
                                <div class="主體-格局-內容-工具列-項目-下拉式選單">
                                    <div class="主體-格局-內容-工具列-項目-下拉式選單-文字">
                                        <span class="主體-格局-內容-工具列-項目-下拉式選單-文字-標籤"> 標準 </span>
                                        <span class="主體-格局-內容-工具列-項目-下拉式選單-文字-圖示 ts-icon is-chevron-down-icon"></span>
                                    </div>
                                    <div class="主體-格局-內容-工具列-項目-下拉式選單-群組">
                                        <div data-value="density,relaxed" class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目">寬鬆</div>
                                        <div
                                            data-value="density,medium"
                                            class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目 主體-格局-內容-工具列-項目-下拉式選單-群組-項目_啟用的"
                                        >
                                            標準
                                        </div>
                                        <div data-value="density,compact" class="主體-格局-內容-工具列-項目-下拉式選單-群組-項目">擁擠</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="主體-格局-內容-標題 主體-格局-內容-標題_章節 主體-格局-內容-標題_範例的">範例</div>-->
                        <div class="主體-格局-內容-主要範例">
                            <div class="主體-格局-內容-主要範例-實際效果">
                                <div class="主體-格局-內容-主要範例-實際效果-置中容器">{{ .Example.HTML | preview }}</div>
                            </div>
                            <div class="主體-格局-內容-主要範例-程式碼">{{ .Example.FormattedHTML }}</div>
                        </div>

                        {{ if .Intro }}
                        <div class="主體-格局-內容-標題 主體-格局-內容-標題_章節">概要</div>
                        <div class="主體-格局-內容-文字">{{ .Intro | markdown }}</div>
                        {{ end }} {{ range .Definitions }}
                        <div class="主體-格局-內容-標題 主體-格局-內容-標題_章節">{{ .Title }}</div>
                        {{ if .Description }}
                        <div class="主體-格局-內容-文字">{{ .Description | markdown }}</div>
                        {{ end }} {{ range .Sections }}
                        <div class="主體-格局-內容-單個範例">
                            <a class="主體-格局-內容-單個範例-錨點" id="{{ .Anchor | kebablize }}"></a>
                            <!-- 單個範例 -->
                            <div class="主體-格局-內容-單個範例-文字-標題 主體-格局-內容-單個範例-文字-標題_段落">
                                {{ .Title }}
                                <button class="主體-格局-內容-單個範例-文字-標題-切換原始碼"><span class="ts-icon is-code-icon"></span> 原始碼</button>
                            </div>
                            <div class="主體-格局-內容-單個範例-文字">{{ .Description | markdown }}</div>

                            <div class="主體-格局-內容-單個範例-範例">
                                <div class="主體-格局-內容-單個範例-範例-實際效果">{{ .HTML | preview }}</div>
                                <div class="主體-格局-內容-單個範例-範例-程式碼">{{ .FormattedHTML }}</div>
                            </div>
                            <!-- / 單個範例 -->
                        </div>

                        {{ end }}
                        <!-- / xxxx -->
                        {{ end }} {{ if .Relatives }}
                        <div class="主體-格局-內容-相關元件">
                            <div class="主體-格局-內容-相關元件-標題">在尋找相似的元件嗎？</div>
                            <ul class="主體-格局-內容-相關元件-清單">
                                {{ range $value := .Relatives }}
                                <li class="主體-格局-內容-相關元件-清單-單個項目">
                                    <a class="主體-格局-內容-相關元件-清單-單個項目-連結" href="{{ . | kebablize }}.html">{{ index $.Meta.UI.Components . }}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                        {{ end }}
                    </div>
                    <div class="主體-格局-索引">
                        {{ range .Definitions }}
                        <div class="主體-格局-索引-標題">{{ .Title }}</div>
                        <div class="主體-格局-索引-清單">
                            {{ range .Sections }}
                            <a class="主體-格局-索引-清單-項目" href="#{{ .Anchor | kebablize }}">
                                {{ .Title }} <span class="主體-格局-索引-清單-項目-英文">{{ .HTML | marked }}</span>
                            </a>
                            {{ end }}
                        </div>
                        {{ end }}
                        <button class="主體-格局-索引-回到頂部"><span class="ts-icon is-arrow-up-icon"></span> 回到頂部</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="頁腳">
            <div class="界限容器">
                <div class="頁腳-導航列">
                    <a class="頁腳-導航列-項目 頁腳-導航列-項目_回到頂部" href="#!"><span class="ts-icon is-arrow-up-icon"></span> 回到頂部</a>
                    <a class="頁腳-導航列-項目" href="#!">GitHub</a>
                    <a class="頁腳-導航列-項目" href="#!">實際範例</a>
                    <a class="頁腳-導航列-項目" href="#!">關於</a>
                </div>
                <div class="頁腳-格局">
                    <div class="頁腳-格局-資訊">
                        <div class="頁腳-格局-資訊-文字">{{ index .Meta.UI.Paragraph "Footer" | html }}</div>
                        <div class="頁腳-格局-資訊-翻譯者">{{ index .Meta.UI.Paragraph "Translators" | translators }}</div>
                    </div>
                    <div class="頁腳-格局-商標">
                        <img class="頁腳-格局-商標-圖片" src="./assets/images/caris-events.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
