<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/styles/global.css" />
        <link rel="stylesheet" href="/assets/styles/highlight.css" />
        <title>Document</title>
    </head>
    <body>
        <application-main>
            <!-- 開頭矚目看板 -->
            <main-slate>
                <screen-container>
                    <!-- 導航連結 -->
                    <slate-nav>
                        <nav-left>
                            <a href="#!">Tocas UI</a>
                            <a href="#!">{{ index .Meta.UI.Navigation "GettingStarted" }}</a>
                            <a href="#!">{{ index .Meta.UI.Navigation "Components" }}</a>
                            <a href="#!">{{ index .Meta.UI.Navigation "Examples" }}</a>
                            <a href="#!">{{ index .Meta.UI.Navigation "Playground" }}</a>
                        </nav-left>
                        <nav-right>
                            <a href="#!">[X] 台灣正體</a>
                            <a href="#!">GitHub</a>
                        </nav-right>
                    </slate-nav>
                    <!-- / 導航連結 -->

                    <!-- 標題與副標題 -->
                    <slate-header>{{ .Article.Title }}</slate-header>
                    <slate-description
                        >{{ .Article.Description }}</slate-description
                    >
                    <!-- / 標題與副標題 -->
                </screen-container>
            </main-slate>
            <!-- / 開頭矚目看板 -->

            <!-- 文件內容 -->
            <main-content>
                <screen-container data-row>
                    <!-- 側邊索引 -->
                    <content-sidebar>
                        <sidebar-header>{{ index .Meta.UI.Navigation "GettingStarted" }}</sidebar-header>
                            <a href="#!">{{ index .Meta.UI.Navigation "Introduction" }}<span>Introduction</span></a>
                            <a href="#!">{{ index .Meta.UI.Navigation "Responsive" }}<span>Responsive</span></a>
                            <a href="#!">{{ index .Meta.UI.Navigation "Emphasises" }}<span>Emphasises</span></a>


                    {{ range $key, $value := .Meta.Components }}
                        <sidebar-header>{{ index $.Meta.UI.ComponentsCategories $key }}</sidebar-header>
                        {{ range $value }}
                            <a href="#!">
                                {{ index $.Meta.UI.Components . }}
                                {{ if ne (index $.Meta.UI.Components .) (. | capitalize) }}
                                <span>{{ . | capitalize }}</span>
                                {{ end }}
                            </a>
                        {{ end }}
                    {{ end }}
                    </content-sidebar>
                    <!-- / 側邊索引 -->

                    <!-- 主要內容 -->
                    <content-content>
                        {{ if ne .Article.Intro "" }}
                            <!-- 大綱 -->
                            <content-header>說明</content-header>
                            <content-description>{{ .Article.Intro }}</content-description>
                            <!-- / 大綱 -->
                        {{ end }}

                        <!-- 單個使用章節 -->
                        {{ range .Article.Definitions }}
                            <content-header data-dividing>{{ .Title }}</content-header>
                            {{ if ne .Description "" }}
                                <content-description>{{ .Description }}</content-description>
                            {{ end }}


                            <!-- 單個元件 -->
                            {{ range .Sections }}
                                <content-component>
                                    <!-- 資訊列 -->
                                    <component-info>
                                        <info-header>
                                            {{ .Title }}
                                        </info-header>
                                        <info-actions>
                                            <button>原始碼</button>
                                        </info-actions>
                                    </component-info>
                                    <!-- / 資訊列 -->

                                    <!-- 說明 -->
                                    <component-description>{{ .Description | markdown }}</component-description>
                                    <!-- / 說明 -->

                                    <!-- 展示區域 -->
                                    <component-showcase>
                                        {{ .HTML | preview }}
                                    </component-showcase>
                                    <!-- / 展示區域 -->

                                    <!-- HTML 原始碼 -->
                                    <component-html>
                                        {{ .HTML | code }}
                                    </component-html>
                                    <!-- / HTML 原始碼 -->
                                </content-component>
                            {{ end }}
                            <!-- / 單個元件 -->
                        {{ end }}
                        <!-- / 單個使用章節 -->

                        <!-- 單個元件 -->
                        <content-component>
                            <!-- 資訊列 -->
                            <component-info>
                                <info-header>
                                    按鈕
                                </info-header>
                                <info-actions>
                                    <button>原始碼</button>
                                </info-actions>
                            </component-info>
                            <!-- / 資訊列 -->

                            <!-- 說明 -->
                            <component-description>一高新外重個成統強且火事評程數河不廠、做沒寫環記每有班，一產著事收來者年子那性回過檢夜行的土。更回如的，一著亮門中山臉集樂散開人機，去產情能：該們己個名至推我還？苦好發建不市個人過大，放少的候王得到舉引明建人所門案？提平古學電士。人克興個沒國意車許命人園工！</component-description>
                            <!-- / 說明 -->

                            <!-- 展示區域 -->
                            <component-showcase>
                                <button>這是一個按鈕</button>
                            </component-showcase>
                            <!-- / 展示區域 -->

                            <!-- HTML 原始碼 -->
                            <component-html>
                                一高新外重個成統強且火事評程數河不廠、做沒寫環記每有班，一產著事收來者年子那性回過檢夜行的土。更回如的，一著亮門中山臉集樂散開人機，去產情能：該們己個名至推我還？苦好發建不市個人過大，放少的候王得到舉引明建人所門案？提平古學電士。人克興個沒國意車許命人園工！
                            </component-html>
                            <!-- / HTML 原始碼 -->
                        </content-component>
                        <!-- / 單個元件 -->
                    </content-content>
                    <!-- / 主要內容 -->

                    <!-- 內容索引 -->
                    <content-indexes>
                        <indexes-title>文章索引</indexes-title>
                        <indexes-header>索引標題</indexes-header>
                        <a href="#!">浮動 <span>.fluid</span></a>
                        <a href="#!">浮動 <span>.fluid</span></a>
                        <a href="#!">浮動 <span>.fluid</span></a>
                        <indexes-header>索引標題</indexes-header>
                        <a href="#!">浮動 <span>.fluid</span></a>
                        <a href="#!">浮動 <span>.fluid</span></a>
                        <a href="#!">浮動 <span>.fluid</span></a>
                    </content-indexes>
                    <!-- / 內容索引 -->
                </screen-container>
            </main-content>
            <!-- / 文件內容 -->

            <!-- 頁腳 -->
            <main-footer>
                <screen-container data-row>
                    <footer-content>
                        <footer-nav>
                            <a href="#!">[X] {{ index .Meta.UI.Navigation "BackToTop" }}</a>
                            <a href="#!">GitHub</a>
                            <a href="#!">{{ index .Meta.UI.Navigation "Examples" }}</a>
                            <a href="#!">{{ index .Meta.UI.Navigation "About" }}</a>
                        </footer-nav>
                        <footer-paragraph>
                            {{ index .Meta.UI.Paragraph "Footer" | html }}
                        </footer-paragraph>
                        <footer-translators>
                            {{ index .Meta.UI.Paragraph "Translators" | translators }}
                        </footer-translators>
                    </footer-content>
                    <footer-brand>
                        <img src="./assets/images/logo.svg" alt="Logo">
                    </footer-brand>
                </screen-container>
            </main-footer>
            <!-- / 頁腳 -->
        </application-main>
    </body>
</html>
