<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./assets/style.css" />
        <link rel="stylesheet" href="./assets/highlight.css" />
        <link rel="stylesheet" href="./assets/tocas/tocas.css" />
        <link rel="stylesheet" href="./assets/examples.css" />
        <script src="./assets/script.js"></script>
        <title>{{ .Title }} - Tocas UI</title>
        <!-- Metadata -->
        <meta name="description" content="{{ .Description }}" />
        <!-- / Metadata -->
        <!-- Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ .Title }} - Tocas UI" />
        <meta name="twitter:description" content="{{ .Description }}" />
        <meta name="twitter:image" content="https://v4.tocas-ui.com/zh-tw/assets/images/og.png" />
        <!-- / Twitter -->
        <!-- Facebook -->
        <meta property="og:title" content="{{ .Title }} - Tocas UI" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="https://v4.tocas-ui.com/zh-tw/assets/images/og.png" />
        <meta property="og:url" content="https://v4.tocas-ui.com/zh-tw/index.html" />
        <meta property="og:image:width" content="1280" />
        <meta property="og:image:height" content="720" />
        <meta property="og:description" content="{{ .Description }}" />
        <!-- / Facebook -->
    </head>
    <body>
        <!--
        ▄▄▄        ▄▄████▄
      ▄█████▄    ▄██▀    ██
      ▀█▄   ██▄ ██▀      ██
       ▀██▄▄▄████   ▄▄▄██▀
          ▀▀▀████▀▀▀▀▀
             ██
            ██          ▄█████▄       █████████████          ▄█             █▄
           ██         ▄█▀     ▀█▄     ██         ██         ██▀█▄         ▄█▀
           ██        ██         ██    ██         ██        ██  ▀██       ██▀
           ██        ██         ██    ██         ██      ▄█▀     ██     ▀▀▀▀▀▀▀███
           ██        ▀█▄       ▄█▀    ██         ██     ██▀       ▀█▄         ██▀
            ██         ▀███████▀      █████████████    ███▄▄▄▄▄▄▄▄▄███       █▀
    -->
        <div class="穹頂">
            <div class="界限容器">
                <div class="穹頂-導航列">
                    <div class="穹頂-導航列-左側">
                        <a class="穹頂-導航列-項目 穹頂-導航列-項目_主要" href="./index.html">Tocas UI</a>
                        <a class="穹頂-導航列-項目" href="./getting-started.html">開始使用</a>
                        <a class="穹頂-導航列-項目" href="./button.html">元件樣式</a>
                        <a class="穹頂-導航列-項目" href="./examples.html">實際範例</a>
                    </div>
                    <div class="穹頂-導航列-右側">
                        <a class="穹頂-導航列-項目" href="#!"><span class="ts-flag is-taiwan-flag"></span> 台灣正體</a>
                        <a class="穹頂-導航列-項目" href="https://github.com/teacat/tocas" target="_blank"><span class="ts-icon is-github-icon"></span> GitHub</a>
                    </div>
                </div>
                <div class="穹頂-導航列 穹頂-導航列_手機的">
                    <div class="穹頂-導航列-左側">
                        <a class="穹頂-導航列-項目 穹頂-導航列-項目_主要" href="./index.html">Tocas UI</a>
                    </div>
                    <div class="穹頂-導航列-右側">
                        <a class="穹頂-導航列-項目 穹頂-導航列-項目_選單按鈕" href="#!">
                            <span class="ts-icon is-bars-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="穹頂-標題">
                    <div class="穹頂-標題-主要">{{ .Title }}</div>
                    <div class="穹頂-標題-說明">{{ .Description }}</div>
                </div>
            </div>
        </div>

        <div class="文件內容">
            <div class="界限容器 界限容器_行排列">
                <div class="文件內容-範例清單">
                    {{ range .Examples }}
                    <div class="文件內容-範例清單-段落">
                        <div class="文件內容-範例清單-段落-標題">{{ .Title }}</div>
                        <div class="文件內容-範例清單-段落-說明">{{ .Description }}</div>
                        <div class="文件內容-範例清單-段落-項目清單">
                            {{ range .Items }}
                            <a href="{{ .Link }}" target="_blank" class="文件內容-範例清單-段落-項目清單-項目">
                                <img src="{{ .Image }}" class="文件內容-範例清單-段落-項目清單-項目-螢幕截圖" />
                                <div class="文件內容-範例清單-段落-項目清單-項目-標題">{{ .Title }}</div>
                                <div class="文件內容-範例清單-段落-項目清單-項目-說明">{{ .Description }}</div>
                                <span class="ts-icon is-{{ .Symbol }}-icon 文件內容-範例清單-段落-項目清單-項目-圖示"></span>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="頁腳">
            <div class="界限容器">
                <div class="頁腳-導航列">
                    <a class="頁腳-導航列-項目 頁腳-導航列-項目_回到頂部" href="#!"><span class="ts-icon is-arrow-up-icon"></span> 回到頂部</a>
                    <a class="頁腳-導航列-項目" href="https://github.com/teacat/tocas" target="_blank">GitHub</a>
                    <a class="頁腳-導航列-項目" href="./getting-started.html">開始使用</a>
                    <a class="頁腳-導航列-項目" href="./button.html">元件樣式</a>
                    <a class="頁腳-導航列-項目" href="./examples.html">實際範例</a>
                </div>
                <div class="頁腳-格局">
                    <div class="頁腳-格局-資訊">
                        <div class="頁腳-格局-資訊-文字">{{ index .Meta.UI.Paragraph "Footer" | html }}</div>
                        <div class="頁腳-格局-資訊-翻譯者">{{ index .Meta.UI.Paragraph "Translators" | translators }}</div>
                    </div>
                    <div class="頁腳-格局-商標">
                        <img class="頁腳-格局-商標-圖片" src="./assets/images/caris-events.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
