<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/styles/global.css" />
        <link rel="stylesheet" href="/assets/styles/index.css" />
        <link rel="stylesheet" href="/assets/styles/highlight.css" />
        <script src="https://kit.fontawesome.com/535a1ce640.js" crossorigin="anonymous"></script>
        <title>Tocas UI</title>
    </head>
    <body>
        <application-main>
            <!-- 開頭矚目看板 -->
            <main-slate>
                <screen-container>
                    <!-- 導航連結 -->
                    <slate-nav>
                        <nav-left>
                            <a href="/{{ index .Meta.Information.Path }}">Tocas UI</a>
                            <a href="/{{ index .Meta.Information.Path }}/getting-started">{{ index .Meta.UI.Navigation "GettingStarted" }}</a>
                            <a href="/{{ index .Meta.Information.Path }}/components/button">{{ index .Meta.UI.Navigation "Components" }}</a>
                            <a href="/{{ index .Meta.Information.Path }}/examples">{{ index .Meta.UI.Navigation "Examples" }}</a>
                            <a href="/{{ index .Meta.Information.Path }}/playground">{{ index .Meta.UI.Navigation "Playground" }}</a>
                        </nav-left>
                        <nav-right>
                            <a href="#!"><i class="fas fa-language"></i> 台灣正體</a>
                            <a href="https://github.com/teacat/tocas" target="_blank">GitHub</a>
                        </nav-right>
                    </slate-nav>
                    <!-- / 導航連結 -->

                    <slate-layout>
                        <!-- -->
                        <layout-content>
                             <!-- 標題與副標題 -->
                            <content-header>Tocas UI</content-header>
                            <content-description>以最快最直覺的方式，建構多樣的網站與漸進式網路應用程式介面。</content-description>
                            <!-- / 標題與副標題 -->

                            <content-action>開始使用</content-action>
                            <content-action data-secondary>檢視範例</content-action>
                        </layout-content>
                        <!-- -->
                    </slate-layout>
                </screen-container>
            </main-slate>
            <!-- / 開頭矚目看板 -->

            <!-- 文件內容 -->
            <main-content>
                <screen-container>
                    <content-section data-donators>
                        <section-header>本網站由以下贊助者提供</section-header>
                        <section-donators>
                            <donators-donator>
                                <img src="./assets/images/donators/Sciuridae Li.jpg">
                                <donator-name>Sciuridae Li</donator-name>
                            </donators-donator>
                            <donators-donator>
                                <img src="./assets/images/donators/Mac Taylor.jpg">
                                <donator-name>Mac Taylor</donator-name>
                            </donators-donator>
                            <donators-donator>
                                <img src="./assets/images/donators/李政皇.jpg">
                                <donator-name>李政皇</donator-name>
                            </donators-donator>
                            <donators-donator>
                                <img src="./assets/images/donators/Yan-K.jpg">
                                <donator-name>Yan-K</donator-name>
                            </donators-donator>
                            <donators-donator>
                                <img src="./assets/images/donators/Fan Kangtai.jpg">
                                <donator-name>Fan Kangtai</donator-name>
                            </donators-donator>
                            <donators-donator>
                                <img src="./assets/images/donators/Sean Wei.jpg">
                                <donator-name>Sean Wei</donator-name>
                            </donators-donator>
                            <donators-donator>
                                <img src="./assets/images/donators/SpaceTimeHalf.jpg">
                                <donator-name>SpaceTimeHalf</donator-name>
                            </donators-donator>
                        </section-donators>
                    </content-section>

                    <content-section>
                        <section-explanations>
                            <explanations-explanation>
                                <explanation-header>沒有 jQuery 相依性。</explanation-header>
                                <explanation-description>除了耗費多餘的網路頻寬之外；對於現代網站而言，使用 jQuery 已經不再是所謂的絕佳首選。Tocas UI 試圖將相依性問題降到最低，因此採用了原生 JavaScript 撰寫。</explanation-description>
                            </explanations-explanation>
                            <explanations-explanation>
                                <explanation-header>不需要 npm 或 Webpack。</explanation-header>
                                <explanation-description>沒有任何繁雜的手續：像是透過 npm 安裝一堆套件、在 Webpack 裡設置一堆載入器。你只需要將我們提供的 HTML 樣式標籤拷貝到你的網頁，然後…搭啦！就這麼容易。</explanation-description>
                            </explanations-explanation>
                            <explanations-explanation>
                                <explanation-header>完善的文件說明。</explanation-header>
                                <explanation-description>就算沒有撰寫過 Bootstrap 或是 Bulma、Semantic UI、Material Design…你也能夠透過完整的說明理解整個介面系統、響應式設計如何運作。</explanation-description>
                            </explanations-explanation>
                        </section-explanations>
                    </content-section>

                    <content-section>
                        <section-header>設計恍如隔世。</section-header>
                        <section-description>現有的元件與樣式一應俱全，已經為你做好萬全的準備。</section-description>
                        <section-masonry>
                            <masonry-main>
                                <masonry-header>簡而有力</masonry-header>
                                <masonry-description>毋需下載，只花費一分鐘就能從無到有；而那簡潔清晰的樣式命名彷彿賜予前端新生。</masonry-description>
                                <img src="" alt="">
                            </masonry-main>
                            <masonry-secondary>
                                <masonry-header>佈景主題與色彩</masonry-header>
                                <masonry-description>透過 CSS 變數，你現在能夠隨心所欲地建立並應用自訂顏色到任何元件上。</masonry-description>
                                <img src="" alt="">
                            </masonry-secondary>
                            <masonry-secondary>
                                <masonry-header>鬆離耦合性</masonry-header>
                                <masonry-description>和其他介面元件庫不同的地方在於 Tocas UI 的元件之間能夠相互組合、附著使用。</masonry-description>
                                <img src="" alt="">
                            </masonry-secondary>
                            <masonry-secondary>
                                <masonry-header>臨機應變</masonry-header>
                                <masonry-description>想做電商平臺？沒問題。管理介面？沒問題。社群網站？沒問題。</masonry-description>
                                <img src="" alt="">
                            </masonry-secondary>
                        </section-masonry>
                    </content-section>




                </screen-container>

                <content-section data-started>
                    <screen-container>
                        <section-header>準備好了嗎？</section-header>
                        <section-description>複製下列 HTML 標籤至你的網頁，然後盡情地大鬧一番。</section-description>
                        <section-code>
                            {{ index .Meta.UI.Paragraph "Code" | code }}
                        </section-code>
                        <section-clear>
                            <section-action>開始使用</section-action>
                        </section-clear>
                    </content-section>
                </screen-container>
            </main-content>
            <!-- / 文件內容 -->

            <!-- 頁腳 -->
            <main-footer>
                <screen-container data-row>
                    <footer-content>
                        <footer-nav>
                            <a href="#!"><i class="fas fa-arrow-up"></i> {{ index .Meta.UI.Navigation "BackToTop" }}</a>
                            <a href="#!">GitHub</a>
                            <a href="#!">{{ index .Meta.UI.Navigation "Examples" }}</a>
                            <a href="#!">{{ index .Meta.UI.Navigation "About" }}</a>
                        </footer-nav>
                        <footer-paragraph>
                            {{ index .Meta.UI.Paragraph "Footer" | html }}
                        </footer-paragraph>
                        <footer-translators>
                            {{ index .Meta.UI.Paragraph "Translators" | translators }}
                        </footer-translators>
                    </footer-content>
                    <footer-brand>
                        <img src="./assets/images/logo.svg" alt="Logo">
                    </footer-brand>
                </screen-container>
            </main-footer>
            <!-- / 頁腳 -->
        </application-main>
    </body>
</html>
