<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/styles/global.css" />
        <link rel="stylesheet" href="/assets/styles/index.css" />
        <link rel="stylesheet" href="/assets/styles/highlight.css" />
        <script src="https://kit.fontawesome.com/535a1ce640.js" crossorigin="anonymous"></script>
        <title>Tocas UI</title>
    </head>
    <body>

        <div id="矚目看板">
            <div class="界限容器">
                <div id="矚目看板-導航列-主要欄位">
                    <a href="/{{ index .Meta.Information.Path }}" class="矚目看板-導航列-項目 矚目看板-導航列-項目_商標">Tocas UI</a>
                    <a href="/{{ index .Meta.Information.Path }}/getting-started" class="矚目看板-導航列-項目">{{ index .Meta.UI.Navigation "GettingStarted" }}</a>
                    <a href="/{{ index .Meta.Information.Path }}/components/button" class="矚目看板-導航列-項目">{{ index .Meta.UI.Navigation "Components" }}</a>
                    <a href="/{{ index .Meta.Information.Path }}/examples" class="矚目看板-導航列-項目">{{ index .Meta.UI.Navigation "Examples" }}</a>
                    <a href="/{{ index .Meta.Information.Path }}/playground" class="矚目看板-導航列-項目">{{ index .Meta.UI.Navigation "Playground" }}</a>
                </div>
                <div id="矚目看板-導航列-次要欄位">
                    <a href="#!" class="矚目看板-導航列-項目"><i id="矚目看板-導航列-項目-語系圖示" class="fas fa-language"></i> 台灣正體</a>
                    <a href="https://github.com/teacat/tocas" target="_blank" class="矚目看板-導航列-項目">GitHub</a>
                </div>

                <div id="矚目看板-行動號召">
                    <div id="矚目看板-行動號召-容器">
                        <div id="矚目看板-行動號召-容器-標題">Tocas UI</div>
                        <div id="矚目看板-行動號召-容器-副標題">以最快最直覺的方式，建構多樣的網站與漸進式網路應用程式介面。</div>

                        <div class="矚目看板-行動號召-容器-動作">開始使用</div>
                        <div class="矚目看板-行動號召-容器-動作 矚目看板-行動號召-動作_次要的">檢視範例</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="主要內容">
            <div class="界限容器">
                <div id="主要內容-贊助者" class="主要內容-內容區塊">
                    <div id="主要內容-贊助者-標題" class="主要內容-內容區塊-標題">本網站由以下贊助者提供</div>
                    <div id="主要內容-贊助者-清單">
                        <div class="主要內容-贊助者-清單-項目">
                            <img src="./assets/images/donators/Sciuridae Li.jpg" class="主要內容-贊助者-清單-項目-頭像">
                            <div class="主要內容-贊助者-清單-項目-名稱">Sciuridae Li</div>
                        </div>
                        <div class="主要內容-贊助者-清單-項目">
                            <img src="./assets/images/donators/Mac Taylor.jpg" class="主要內容-贊助者-清單-項目-頭像">
                            <div class="主要內容-贊助者-清單-項目-名稱">Mac Taylor</div>
                        </div>
                        <div class="主要內容-贊助者-清單-項目">
                            <img src="./assets/images/donators/李政皇.jpg" class="主要內容-贊助者-清單-項目-頭像">
                            <div class="主要內容-贊助者-清單-項目-名稱">李政皇</div>
                        </div>
                        <div class="主要內容-贊助者-清單-項目">
                            <img src="./assets/images/donators/Yan-K.jpg" class="主要內容-贊助者-清單-項目-頭像">
                            <div class="主要內容-贊助者-清單-項目-名稱">Yan-K</div>
                        </div>
                        <div class="主要內容-贊助者-清單-項目">
                            <img src="./assets/images/donators/Fan Kangtai.jpg" class="主要內容-贊助者-清單-項目-頭像">
                            <div class="主要內容-贊助者-清單-項目-名稱">Fan Kangtai</div>
                        </div>
                        <div class="主要內容-贊助者-清單-項目">
                            <img src="./assets/images/donators/Sean Wei.jpg" class="主要內容-贊助者-清單-項目-頭像">
                            <div class="主要內容-贊助者-清單-項目-名稱">Sean Wei</div>
                        </div>
                        <div class="主要內容-贊助者-清單-項目">
                            <img src="./assets/images/donators/SpaceTimeHalf.jpg" class="主要內容-贊助者-清單-項目-頭像">
                            <div class="主要內容-贊助者-清單-項目-名稱">SpaceTimeHalf</div>
                        </div>
                    </div>
                </div>

                <div id="主要內容-特色說明" class="主要內容-內容區塊">
                    <div class="主要內容-特色說明-項目">
                        <div class="主要內容-特色說明-項目-標題">沒有 jQuery 相依性。</div>
                        <div class="主要內容-特色說明-項目-說明">除了耗費多餘的網路頻寬之外；對於現代網站而言，使用 jQuery 已經不再是所謂的絕佳首選。Tocas UI 試圖將相依性問題降到最低，因此採用了原生 JavaScript 撰寫。</div>
                    </div>
                    <div class="主要內容-特色說明-項目">
                        <div class="主要內容-特色說明-項目-標題">不需要 npm 或 Webpack。</div>
                        <div class="主要內容-特色說明-項目-說明">沒有任何繁雜的手續：像是透過 npm 安裝一堆套件、在 Webpack 裡設置一堆載入器。你只需要將我們提供的 HTML 樣式標籤拷貝到你的網頁，然後…搭啦！就這麼容易。</div>
                    </div>
                    <div class="主要內容-特色說明-項目">
                        <div class="主要內容-特色說明-項目-標題">完善的文件說明。</div>
                        <div class="主要內容-特色說明-項目-說明">就算沒有撰寫過 Bootstrap 或是 Bulma、Semantic UI、Material Design…你也能夠透過完整的說明理解整個介面系統、響應式設計如何運作。</div>
                    </div>
                </div>

                <div class="主要內容-內容區塊">
                    <div class="主要內容-內容區塊-標題">設計恍如隔世。</div>
                    <div class="主要內容-內容區塊-說明">現有的元件與樣式一應俱全，已經為你做好萬全的準備。</div>
                    <div id="主要內容-內容區塊-藝廊格局">
                        <div id="主要內容-內容區塊-藝廊格局-主要">
                            <div class="主要內容-內容區塊-藝廊格局-標題">簡而有力</div>
                            <div class="主要內容-內容區塊-藝廊格局-說明">毋需下載，只花費一分鐘就能從無到有；而那簡潔清晰的樣式命名彷彿賜予前端新生。</div>
                            <img src="" class="主要內容-內容區塊-藝廊格局-圖片">
                        </div>
                        <div class="主要內容-內容區塊-藝廊格局-次要">
                            <div class="主要內容-內容區塊-藝廊格局-標題">佈景主題與色彩</div>
                            <div class="主要內容-內容區塊-藝廊格局-說明">透過 CSS 變數，你現在能夠隨心所欲地建立並應用自訂顏色到任何元件上。</div>
                            <img src="" class="主要內容-內容區塊-藝廊格局-圖片">
                        </div>
                        <div class="主要內容-內容區塊-藝廊格局-次要">
                            <div class="主要內容-內容區塊-藝廊格局-標題">鬆離耦合性</div>
                            <div class="主要內容-內容區塊-藝廊格局-說明">和其他介面元件庫不同的地方在於 Tocas UI 的元件之間能夠相互組合、附著使用。</div>
                            <img src="" class="主要內容-內容區塊-藝廊格局-圖片">
                        </div>
                        <div class="主要內容-內容區塊-藝廊格局-次要">
                            <div class="主要內容-內容區塊-藝廊格局-標題">臨機應變</div>
                            <div class="主要內容-內容區塊-藝廊格局-說明">想做電商平臺？沒問題。管理介面？沒問題。社群網站？沒問題。</div>
                            <img src="" class="主要內容-內容區塊-藝廊格局-圖片">
                        </div>
                    </div>
                </div>
            </div>

            <div id="主要內容-準備區塊" class="主要內容-內容區塊">
                <div id="主要內容-準備區塊-標題" class="主要內容-內容區塊-標題">準備好了嗎？</div>
                <div id="主要內容-準備區塊-說明" class="主要內容-內容區塊-說明">複製下列 HTML 標籤至你的網頁，然後盡情地大鬧一番。</div>
                <div id="主要內容-準備區塊-程式碼">{{ index .Meta.UI.Paragraph "Code" | code }}</div>
                <div id="主要內容-準備區塊-行動號召">
                    <a href="#!" id="主要內容-準備區塊-行動號召-動作">開始使用</a>
                </div>
            </div>
        </div>

        <div id="頁腳">
            <div class="界限容器 界限容器_行排列">
                <div id="頁腳-主要內容">
                    <div id="頁腳-主要內容-導航列">
                        <a href="#!" class="頁腳-主要內容-導航列-項目 頁腳-主要內容-導航列-項目_回到頂部" data-backtotop><i class="fas fa-arrow-up 頁腳-主要內容-導航列-項目-圖示"></i> {{ index .Meta.UI.Navigation "BackToTop" }}</a>
                        <a href="https://github.com/teacat/tocas" target="_blank" class="頁腳-主要內容-導航列-項目" >GitHub</a>
                        <a href="/{{ index .Meta.Information.Path }}/examples" class="頁腳-主要內容-導航列-項目" >{{ index .Meta.UI.Navigation "Examples" }}</a>
                        <a href="/{{ index .Meta.Information.Path }}/about" class="頁腳-主要內容-導航列-項目" >{{ index .Meta.UI.Navigation "About" }}</a>
                    </div>
                    <div id="頁腳-主要內容-文字">
                        {{ index .Meta.UI.Paragraph "Footer" | html }}
                    </div>
                    <div id="頁腳-主要內容-翻譯者">
                        {{ index .Meta.UI.Paragraph "Translators" | translators }}
                    </div>
                </div>
                <div id="頁腳-商標">
                    <img id="頁腳-商標-圖片" src="/assets/images/logo.svg">
                </div>
            </div>
        </div>

        <div id="字型預載"></div>
    </body>
</html>
