@use "./../../styles/libraries/colors" as *
@use "./../../styles/libraries/properties" as *

:root
    +var-scope(accordion-item)

.ts-accordion-item
    @extend %component

    //
    &--expanded
        .ts-accordion-item__title__icon

    // Divided
    &--divided

    // Compact
    &--compact


    // Relaxed
    &--relaxed

.ts-accordion-item
    +define(header-color     , get-current-foreground-color(900))
    +define(description-color, get-current-foreground-color(600))
    +define(content-color    , get-current-foreground-color(800))
    +define(divider-color    , get-current-foreground-color(300))

    &:first-child
        border-top: none

    &:not(:first-child)
        border-top: 1px solid get(divider-color)
        margin-top: .5rem
        padding-top: .5rem

    &__title
        display: flex

        &:hover
            cursor: pointer

        &__main
            //flex: 1

            &__header
                color: get(header-color)

            &__description
                color: get(description-color)
        &__icon
            margin-inline-end: 1rem

    &__content
        color: get(content-color)