 <html> 
						 <head> 
						 <title> Message </title> 
						 <link rel="stylesheet" href="../../../dist/tocas.css">  <meta charset="utf-8"> 
						 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
						 </head> 
						 <body> 
							 <div class="ts panes"> 
								 <div class="two block vertically scrollable padded pane"> 
									 <div class="ts form"> 
										 <fieldset> 
											 <legend> Core </legend> 
											 <a href="#Structured" class="ts fluid button" style="text-align: left; margin-bottom: 8px"> Structured </a> 
										 </fieldset> 
									 </div> 
								 </div> 
								 <div class="stretched vertically scrollable padded pane"> 
									 <br>  <br>  <!-- + Structured -->  <h1 id="Structured"> Structured </h1>  <div class="ts structured message">  <div class="icon">  <i class="trash icon">  </i>  </div>  <div class="content">  <div class="description"> Description </div>  <div class="actions">  <a href="#!"> Action </a>  </div>  </div>  </div> 
								 </div> 
							 </div> 

						 </body> 
						 </html> 