$input_borderWidth     : 1px
$input_hoverBorderColor: lighten(nth($grey, 6), 5%)
$input_borderColor     : nth($grey, 4)
$input_border          : $input_borderWidth solid $input_borderColor
$input_borderRadius    : $defaultBorderRadius

$input_verticalPadding  : $inputVerticalPadding
$input_horizontalPadding: $inputHorizontalPadding
$input_padding          : $input_verticalPadding $input_horizontalPadding

$input_backgroundColor: $white

$input_transitionDuration: 0.1s

$input_focusBorderColor: #66afe9

$input_placeholderOpacity     : 0.7
$input_placeholderFocusOpacity: 0.9

//-------------------//
//
//-------------------//

$input_secondaryBackgroundColor: nth($grey, 1)
$input_tertiaryBackgroundColor : nth($grey, 2)

$input_secondaryColor: nth($grey, 8)
$input_tertiaryColor : nth($grey, 8)

//-------------------//
//       States
//-------------------//

$input_errorFocusBorderColor: darken(nth($negative, 4), 26%)
$input_errorHoverBorderColor: darken(nth($negative, 4), 12%)
$input_errorTextColor       : nth($negative, 6)
$input_errorBackgroundColor : darken(nth($negative, 1), 2%)
$input_errorBorderColor     : nth($negative, 4)

$input_warningFocusBorderColor: darken(nth($warning, 4), 28%)
$input_warningHoverBorderColor: darken(nth($warning, 4), 20%)
$input_warningTextColor       : nth($warning, 9)
$input_warningBackgroundColor : darken(nth($warning, 1), 2%)
$input_warningBorderColor     : nth($warning, 4)

$input_successFocusBorderColor: darken(nth($positive, 4), 26%)
$input_successHoverBorderColor: darken(nth($positive, 4), 12%)
$input_successTextColor       : nth($positive, 6)
$input_successBackgroundColor : darken(nth($positive, 1), 2%)
$input_successBorderColor     : nth($positive, 4)

$input_successIconURL: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{str-replace(nth($positive, 6), '#', '%23')}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E")
$input_warningIconURL: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{str-replace(nth($warning, 6), '#', '%23')}' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/></svg>")
$input_errorIconURL  : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{str-replace(nth($negative, 6), '#', '%23')}' viewBox='-2 -2 7 7'%3E%3Cpath stroke='#{str-replace(nth($negative, 6), '#', '%23')}' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E")

//-------------------//
//        Icon
//-------------------//

$input_iconSize                  : 1em
$input_iconPaddingRight          : calc(#{$input_verticalPadding} * 2 + #{$input_iconSize})
$input_backgroundIconPaddingRight: $input_verticalPadding

$input_iconWidth        : calc(#{$input_horizontalPadding} * 2 + #{$glyphWidth})
$input_iconOpacity      : .5
$input_iconFocusOpacity : .65
$input_iconHoverOpacity : .8
$input_iconActiveOpacity: 1
$input_iconOffset       : -.5em
$input_iconDistance     : 0em
$input_iconMargin       : calc(#{$input_horizontalPadding} * 2 + #{$glyphWidth} + #{$input_iconDistance})
$input_iconTransition   : opacity .3s $defaultEasing

$input_transparentIconWidth : $glyphWidth
$input_transparentIconMargin: 2em

/* Circular Icon Input */
$input_circularIconVerticalOffset  : .45em
$input_circularIconHorizontalOffset: .5em

//-------------------//
// Inverted Emphasis
//-------------------//

$input_invertedNegativeBackgroundColor : nth($negative, 6)
$input_invertedNegativeBorderColor     : nth($negative, 6)
$input_invertedNegativeHoverBorderColor: darken(nth($negative, 6), 8%)
$input_invertedNegativeFocusBorderColor: darken(nth($negative, 6), 16%)
$input_invertedNegativeTextColor       : $white

$input_invertedPositiveBackgroundColor : nth($positive, 6)
$input_invertedPositiveBorderColor     : nth($positive, 6)
$input_invertedPositiveHoverBorderColor: darken(nth($positive, 6), 8%)
$input_invertedPositiveFocusBorderColor: darken(nth($positive, 6), 16%)
$input_invertedPositiveTextColor       : $white

$input_invertedPrimaryBackgroundColor : nth($primary, 6)
$input_invertedPrimaryBorderColor     : nth($primary, 6)
$input_invertedPrimaryHoverBorderColor: darken(nth($primary, 6), 8%)
$input_invertedPrimaryFocusBorderColor: darken(nth($primary, 6), 16%)
$input_invertedPrimaryTextColor       : $white

$input_invertedInfoBackgroundColor : nth($info, 6)
$input_invertedInfoBorderColor     : nth($info, 6)
$input_invertedInfoHoverBorderColor: darken(nth($info, 6), 8%)
$input_invertedInfoFocusBorderColor: darken(nth($info, 6), 16%)
$input_invertedInfoTextColor       : $white

$input_invertedWarningBackgroundColor : nth($warning, 6)
$input_invertedWarningBorderColor     : nth($warning, 6)
$input_invertedWarningHoverBorderColor: darken(nth($warning, 6), 8%)
$input_invertedWarningFocusBorderColor: darken(nth($warning, 6), 16%)
$input_invertedWarningTextColor       : nth($warning, 9)

$input_invertedBackgroundColor : nth($inverted, 6)
$input_invertedBorderColor     : nth($inverted, 5)
$input_invertedHoverBorderColor: darken(nth($inverted, 5), 8%)
$input_invertedFocusBorderColor: darken(nth($inverted, 5), 16%)
$input_invertedTextColor       : nth($inverted, 1)

//-------------------//
//    Underlined
//-------------------//

$input_underlinedShadow: inset 0px -11px 0px -10px

//-------------------//
//      Number
//-------------------//

$input_numberWidth                  : 4em
$input_numberButtonHorizontalPadding: 1em
$input_numberButtonFontFamily       : Icons
$input_numberIncreaseButtonContent  : '\f067'
$input_numberDecreaseButtonContent  : '\f068'