@charset "UTF-8"
@import ../../variables/collections/layout.variables

//*******************************//
//              Main
//*******************************//

.ts.layout
    width: 100%
    height: 100%
    display: flex
    margin: calc(-1 * var(--columnPadding))

.ts.layout > .stretched.column,
.ts.layout > .stretched.row
    flex: 1

.ts.layout > .column,
.ts.layout > .row
    padding: 1em;

//-------------------//
//     Horizontal
//-------------------//

.ts.layout.horizontal
    flex-direction: row

.ts.layout.horizontal > .one.wide.column
    width: $oneWide
.ts.layout.horizontal > .two.wide.column
    width: $twoWide
.ts.layout.horizontal > .three.wide.column
    width: $threeWide
.ts.layout.horizontal > .four.wide.column
    width: $fourWide
.ts.layout.horizontal > .five.wide.column
    width: $fiveWide
.ts.layout.horizontal > .six.wide.column
    width: $sixWide
.ts.layout.horizontal > .seven.wide.column
    width: $sevenWide
.ts.layout.horizontal > .eight.wide.column
    width: $eightWide
.ts.layout.horizontal > .nine.wide.column
    width: $nineWide
.ts.layout.horizontal > .ten.wide.column
    width: $tenWide
.ts.layout.horizontal > .eleven.wide.column
    width: $elevenWide
.ts.layout.horizontal > .twelve.wide.column
    width: $twelveWide
.ts.layout.horizontal > .thirteen.wide.column
    width: $thirteenWide
.ts.layout.horizontal > .fourteen.wide.column
    width: $fourteenWide
.ts.layout.horizontal > .fifteen.wide.column
    width: $fifteenWide
.ts.layout.horizontal > .sixteen.wide.column
    width: $sixteenWide


//-------------------//
//      Vertical
//-------------------//

.ts.layout.vertical
    flex-direction: column

.ts.layout.vertical > .one.high.row
    height: $oneWide
.ts.layout.vertical > .two.high.row
    height: $twoWide
.ts.layout.vertical > .three.high.row
    height: $threeWide
.ts.layout.vertical > .four.high.row
    height: $fourWide
.ts.layout.vertical > .five.high.row
    height: $fiveWide
.ts.layout.vertical > .six.high.row
    height: $sixWide
.ts.layout.vertical > .seven.high.row
    height: $sevenWide
.ts.layout.vertical > .eight.high.row
    height: $eightWide
.ts.layout.vertical > .nine.high.row
    height: $nineWide
.ts.layout.vertical > .ten.high.row
    height: $tenWide
.ts.layout.vertical > .eleven.high.row
    height: $elevenWide
.ts.layout.vertical > .twelve.high.row
    height: $twelveWide
.ts.layout.vertical > .thirteen.high.row
    height: $thirteenWide
.ts.layout.vertical > .fourteen.high.row
    height: $fourteenWide
.ts.layout.vertical > .fifteen.high.row
    height: $fifteenWide
.ts.layout.vertical > .sixteen.high.row
    height: $sixteenWide