/* ==========================================================================
   Variables
   ========================================================================== */

.ts.quote {
    /**
     * Block
     */

    --block-padding      : var(--global__block_padding);
    --block-border-radius: var(--global__border-radius);

    /**
     * Distance
     */

    --distance-cite : 1rem;
    --distance-block: var(--global__distance-block);

    /**
     * Typography
     */

    --font-size  : 1rem;
    --line-height: var(--global__line-height);

    /**
     * Color
     */

    --color            : var(--default__color);
    --symbol-color     : var(--default__symbol-color);
    --description-color: var(--default__description-color);
    --line-color       : var(--default__line-color);

    --block-background-color: var(--default__background-secondary-color);
}

/* ==========================================================================
   Base
   ========================================================================== */

.ts.quote {
    position   : relative;
    padding    : 1em 0 0.5em 3em;
    margin-left: 0;
    font-size  : var(--font-size);
    color      : rgb(var(--color));
    line-height: var(--line-height);
}

.ts.quote::before {
    content    : "“";
    position   : absolute;
    top        : 0;
    left       : 0;
    font-size  : 5em;
    font-family: Georgia, "Times New Roman", Times;
    color      : rgb(var(--symbol-color));
    line-height: 1;
}

.ts.quote:first-child {
    margin-block-start: 0;
}

.ts.quote:last-child {
    margin-block-end: 0;
}

.ts.quote:not(:first-child) {
    margin-block-start: var(--distance-block);
}

/* ==========================================================================
   Structure
   ========================================================================== */

/**
 * Cite
 */

.ts.quote cite {
    font-style: normal;
    color     : rgb(var(--description-color));
    margin-top: var(--distance-cite);
}

.ts.quote cite::after {
    content: " —";
}

.ts.quote cite::before {
    content: "— ";
}

/* ==========================================================================
   Variations
   ========================================================================== */

/**
 * Secondary
 */

.ts.quote.-secondary {
    padding    : 0 0 0 1.6em;
    border-left: 3px solid rgb(var(--line-color));
}

.ts.quote.-secondary::before {
    content: none;
}

/**
 * Block
 */

.ts.quote.-block {
    padding      : var(--block-padding);
    background   : rgb(var(--block-background-color));
    border-radius: var(--block-border-radius);
}

.ts.quote.-block::before {
    content: none;
}
